[2018-01-24 22:06] stuhlmueller commented on #700
The command is `make build pyro_branch=dev pytorch_branch=master python_version=3.6`. It failed with 2GB of memory and succeeded with 4GB.

[2018-01-24 22:17] stuhlmueller commented on #704
Just to confirm: The problem goes away with torch master and pyro dev.

[2018-01-24 22:17] #704 closed

[2018-01-24 22:55] neerajprad commented on #700
Thanks, @stuhlmueller. I will add the memory flag and remove the gid creation step for OSX.

[2018-01-25 07:22] fehiepsi commented on #702
@ysaatchi The spare models require using "Woodbury matrix identity" to reduce cost to inverse matrices and calculate logdet. I have written down all calculations for SpareGPR with DTC and FITC assumptions.  Implement them is quite straightforward and similar to the current GPR implementation.

However, for SpareGPR with VFE, there is an additional regularizer term `Trace(K_theta)` (formula (2.33)

[2018-01-26 03:46] neerajprad opened #711 "DMM example returns NAN on Pyro dev"
While refactoring to move to PyTorch distributions, I noticed that the `dmm.py` example has been throwing warnings after one epoch when it starts encountering NANs at multiple sites.

This is on the current `dev` branch with Pytorch `master`. @martinjankowiak - Could you help take a look at what's happening?

<details>

[code]

</details>

[2018-01-26 07:45] neerajprad opened #712 "Changes to tracegraphELBO to support arbitrary batch dims"
I am trying to deprecate `batch_log_pdf` in distributions and have a single `log_prob` with the same batching semantics as PyTorch distributions, i.e. supporting arbitrary batch shape. I am finding that the air tutorial breaks at the following lines for #710:

[code]

throwing an error,
<details>
<summary> Error trace </summary>

[code]

</details>

Upon investigating, I found that the reason this

[2018-01-26 16:23] null-a commented on #712
I'm not super familiar with all of the recent changes, but my guess is that trace ELBO will need teaching about the new batching scheme, since within an `iarange` it tracks the log prob of each data point separately, and the assumption it currently makes to do this (about the first dimension representing the batch) sounds like it no longer holds. I'm happy to help if I can, but I'm sure @fritzo an

[2018-01-26 18:38] martinjankowiak commented on #712
yeah we'll take a look at this. it might be a bit hairy. it might also be a bit before i have the time

[2018-01-26 18:46] neerajprad commented on #712
@martinjankowiak, @fritzo - In case it helps you debug with a smaller example, the Rao blackwellization test - `test_vectorized_map_data_in_elbo_with_superfluous_rvs` also fails with the same error.

[2018-01-26 21:04] jpchen commented on #547
unfortunately you can only do that if it is hosted on readthedocs.org. pytorch does this manually which is why they have this [hacked together page](http://pytorch.org/docs/versions.html). the problem with this is that, our doc files will scale with each release, which will be a lot of overhead when a user clones pyro.

[2018-01-26 21:04] jpchen commented on #639
closing in favor of #547

[2018-01-26 21:04] #639 closed

[2018-01-26 23:19] neerajprad commented on #547
How about hosting documentation / tutorials on readthedocs, and retaining our domain name - http://docs.readthedocs.io/en/latest/alternate_domains.html?

[2018-01-26 23:52] jpchen commented on #547
oo hm this seems new ill look into this

[2018-01-28 15:54] fehiepsi opened #716 "Add support for inverse and logdet in MultivariateNormal distribution"
In spare Gaussian Process models, we use "Woodbury matrix identity" and "matrix determinant lemma" to compute matrix inverse and logdet (unless we have to compute Cholesky decomposition of a high dimensional covariance matrix, which is computationally ineffective). Assume we already compute them, there should have a mechanism to put these results into the distribution. In the current implementatio

[2018-01-28 16:46] fritzo commented on #716
cc @tbrx

This sounds reasonable. Note that we'll be switching to Brooks' new implementation in PyTorch soon https://github.com/probtorch/pytorch/pull/52, so we should try to make the changes upstream if possible.

[2018-01-28 19:18] lazypanda1 opened #717 "Bayesian regression example doesn’t work with N=1"
Hi,

When I run the [bayesian_regression.py](https://github.com/uber/pyro/blob/dev/examples/bayesian_regression.py) example on github, with `N = 1` on [line 44](https://github.com/uber/pyro/blob/dev/examples/bayesian_regression.py#L44), I get an error from Tensor flow. Is there an assumption that `N` must be at least 2? While values of `N < 2` may be corner cases, Pyro could improve user experienc

[2018-01-29 07:55] jpchen commented on #717
no, `N` can be any positive integer - this appears to be a bug. interestingly, this is only happening in python 3, and it seems to be happening in the calculation of the ELBO.

as a side note, you said you're using python 3.6, but your stack trace seems to be using the 2.7 library. just a heads up

thanks for the reproducible steps, i will investigate further

[2018-01-29 23:25] ysaatchi commented on #702
Interesting, I think your intuition RE finding a good guide makes sense. Let me think about it and get back to you.

[2018-01-30 01:51] #712 closed

[2018-01-30 01:51] neerajprad commented on #700
The `--memory` flag does not seem to work with the build command, and the only way to allocate more memory is via the application's preferences. I have added this to the README, and changed the DockerFile to ensure that we are not creating gid if OSTYPE is mac.

[2018-01-30 02:44] #700 closed

[2018-01-30 08:29] Algomancer opened #721 "DMM Example Model and guide dims disagree when IAF is applied"
When the number of IAF is non zero, the latent dimension changes to the same value as the batch size.

[2018-01-30 12:15] fehiepsi commented on #716
@fritzo @tbrx Sorry if I make any confusion (due to my wrong understanding of sparse implementations). The computation for the inverse is of O(N^2M) while the sparse methods only require O(NM^2) (actually, we do not compute the inverse, instead we compute Mahalanobis term!). So I think we should not implement the inverse and logdet in the general Multivariate implementation.

By the way, I have wr

[2018-01-30 12:15] #716 closed

[2018-01-30 16:11] martinjankowiak commented on #721
what version of pyro? what version of pytorch?

[2018-01-30 19:00] neerajprad commented on #699
@jpchen - Assigning this to you for half-cauchy whenever that is available in PyTorch.

[2018-01-30 19:17] neerajprad commented on #699
Actually, let us close this and track the integration as part of #606.

[2018-01-30 19:17] #699 closed

[2018-01-30 19:24] jpchen commented on #699
halfcauchy needs to be reimplemented per discussion [here](https://github.com/pytorch/pytorch/pull/4771)

[2018-01-30 20:56] jinserk opened #725 "NotImplementedError in examples/ss_vae_M2.py"
Hi,

I had no error before, but after recent update I got an error when run ss_vae_M2.py as:
[code]
with `-enum` option. What to do to avoid this?

[2018-01-30 21:15] eb8680 commented on #725
Hi, what version of PyTorch are you using?  Did you install Pyro from pip or from GitHub?

[2018-01-30 21:25] jinserk commented on #725
I'm using Pytorch `0.4.0a0+5b43c22` and Pyro `0.1.2+4d4ffbc`. I've installed them both from each repo.

[2018-01-30 22:01] eb8680 commented on #702
You can hack terms into the ELBO via the model by adding an auxiliary Bernoulli variable with logits corresponding to the term and observing it to be 1; cf #568.

[2018-01-30 22:42] neerajprad opened #726 "Fix tutorials to accommodate new batching semantics"
The following tutorials need fixing with recent distribution broadcasting changes. You are highly encouraged to add your tutorials to the smoke test (refer to #694 for an example on how to do this). If you do so, @fritzo and I can help maintain these with any changes to the API, as we did with the AIR, gmm, and gp tutorials.

 - [x] `ss_vae_M2.py`. cc - @karalets, @rohitsingh0812 - #725
 - [x] `dm

[2018-01-31 00:19] eb8680 commented on #702
For what it's worth, I think [this blog post](https://www.prowler.io/sparse-gps-approximate-the-posterior-not-the-model/) and its accompanying references provide a much clearer and simpler exposition of variational sparse GPs than the section in that thesis.  You can translate it directly into Pyro code for arbitrary likelihoods, and once #688 is implemented it should work pretty well.  Here's a n

[2018-01-31 00:25] fritzo commented on #725
Thanks for the detailed bug report, @jinserk! This should be fixed by https://github.com/uber/pyro/pull/728

You're welcome to use Pyro dev if you are up for and adventure. We certainly appreciate your help finding bugs as we refactor to use PyTorch distributions.

[2018-01-31 00:29] Algomancer commented on #721
dev branch pyro (as of 16 hours ago), master pytorch

[2018-01-31 02:25] neerajprad commented on #721
I tried fixing this, and I think we will need @fritzo's changes from https://github.com/pytorch/pytorch/pull/4937 to make it work.

[2018-01-31 02:36] #725 closed

[2018-01-31 05:00] fehiepsi commented on #702
@eb8680 In sparse approximation, from what I understand, we should avoid working with matrices of sizes `num_data x num_data` as much as possible. The target is to reduce the cost of learning and inference to O(num_data x num_inducing^2). Even in 'VFE' method, the theoretical part is to learn the posterior distribution q(u) ~ p(u | y). However, we can derive the optimal solution for q (using calcu

[2018-01-31 14:44] jinserk commented on #725
Thank you for such quick fix, @eb8680 and @fritzo!
By the way, I have another error if `--aux-loss` is on:
[code]

Could you take a look for this too?

[2018-01-31 14:48] jinserk opened #731 "another error in ss_vae_M2.py"
As running ss_vae_M2.py in the latest pyro and latest pytorch, I have another error if `--aux-loss` is on:
[code]

Could you take a look for this too? I couldn't reopen the closed issue #725 so have opened a new issue here.

[2018-01-31 16:11] fritzo commented on #702
Regarding KL, #688 appears to be easy to implement via #729 and some new math for MVN
[code]

[2018-01-31 16:14] fritzo commented on #731
Thanks for the bug report, I'll take a look later today.

[2018-01-31 16:19] fritzo commented on #685
Closing in favor of https://github.com/pytorch/pytorch/pull/4950

[2018-01-31 16:19] #685 closed

[2018-01-31 16:19] fritzo commented on #686
Closing in favor of https://github.com/pytorch/pytorch/pull/4950

[2018-01-31 16:19] #686 closed

[2018-01-31 16:20] #633 closed

[2018-01-31 16:22] fritzo commented on #606
Closing as mostly done.

[2018-01-31 16:22] #606 closed

[2018-01-31 16:35] fritzo opened #732 "Use PyTorch distributions directly in Pyro"
@eb8680 suggested entirely removing the `TorchDistribution` wrapper class from Pyro. Here's a proposal for how we might do that:

## Refactoring Plan

- [x] #736 Change `.batch_shape` and `.event_shape` from methods to properties. (This is currently violated by `RandomPrimitive`, which requires workarounds).
- [x] #752 Remove `RandomPrimitive` and prefer `Dist(**params)` over `dist, **params`. Thi

[2018-01-31 23:01] #731 closed

[2018-02-01 01:31] #721 closed

[2018-02-01 23:23] neerajprad commented on #732
As I was working to incorporate transforms of distribution with constrained support in HMC, I wanted to start using

[2018-02-01 23:36] neerajprad commented on #732
I think deprecation of `RandomPrimitive` might become important for the following reason - currently, the Pyro distribution API is inconsistent with respect to `torch.distributions` with regard to certain attributes like `batch_shape`, `event_shape` etc. which are properties in `torch.distributions` but methods in `pyro.distributions`. The reason why we have them as methods in Pyro is to be able t

[2018-02-02 01:10] fritzo commented on #732
It sounds like `RandomPrimitive` is blocking correct treatment of tensor shapes and batching. Since batching support is a priority for us in Pyro 0.2, it is probably worth the cost of dropping `RandomPrimitive` from Pyro. In summary:

### Pros of dropping `RandomPrimitive'

- Would allow correct handling of batch sizes in `TransformedDistribution`
- Would allow automatic handling of constraints in

[2018-02-02 07:57] fehiepsi commented on #732
It sounds like a pros to me. ^^! With the first form, we can get sample, see the logprob, get mean/variance,... just by calling a method/property on it. When I learned Pyro through tutorials, I know `Normal` is a derived class from `pyro.dist.Distribution`, but I don't know the underlying mechanism of the second syntax in `pyro.sample(...)` statements. After seeing a comment of one of the develope

[2018-02-02 08:41] jpchen commented on #732
I have too in my personal development, but it is not written that way in our tutorials and from the q's ive been getting, it seems like almost all our users use distributions as a function. this will be a rather big breaking change

im onboard deprecating/removing it since the additional properties make the functional form less useful now.

[2018-02-02 08:41] jpchen commented on #732
cc: @ngoodman

[2018-02-02 08:53] fehiepsi commented on #702
@eb8680 @fritzo For the next step, I will try to implement Classification models. The current implementation for regression might not be ported easily. Implementing them will help me understand your comments better (e.g. how to use KL,...).

@ssequeira Adding more kernels will definitely be very helpful. Matern 3/2, 5/2, and RBF all belong to a family of stationary covariance functions, so they ar

[2018-02-02 12:51] eb8680 commented on #732
I'm fine with getting rid of `RandomPrimitive`, although updating the syntax in most of our tests, examples, and tutorials will be a pain for us.  I don't think it will be a huge change for users relative to the other changes happening in the distributions.

[2018-02-02 22:28] fritzo opened #737 "Support arbitrary sample_shape in Rejector"
This will require the `proposal` to accept an optional `sample_shape` arg and the `log_prob_accept()` method to support broadcasting.

[2018-02-03 01:55] #737 closed

[2018-02-04 02:37] jpchen commented on #726
#717 is an issue with traceelbo and is not related to the new batching semantics. i tested regression with the current dev and it is fine, so marking that as complete and will address the other issue separately

[2018-02-05 17:44] fritzo commented on #702
The new torch.distributions library handles [constraints](http://pytorch.org/docs/master/distributions.html#module-torch.distributions.constraints) and knows how to [transform constrained parameters to](http://pytorch.org/docs/master/distributions.html#module-torch.distributions.constraint_registry) unconstrained spaces and back. Pyro will use this in HMC #740 and eventually also in SVI. Let me kn

[2018-02-06 00:55] jpchen commented on #717
this is a pytorch bug related to `squeeze`. i will open an issue in pytorch. in the meantime, please change [this line](https://github.com/uber/pyro/blob/dev/examples/bayesian_regression.py#L68) to  `squeeze(1)`. ill also modify the tutorial to reflect this.

[2018-02-06 01:09] #717 closed

[2018-02-06 02:27] fritzo opened #742 "Implement parallel enum_discrete aka BranchPoutine"
See [Design Doc](https://docs.google.com/document/d/1EpAnAIotJj24-yS_8h_5KEiYWYop7zHcAErSeO7XAZc/edit?usp=sharing)

Parallel `enum_discrete` was sketched in #227. Pyro distributions now support arbitrary broadcasting on the left, since we use PyTorch under the hood. Some work remains to get batching to play well with `iarange` especially multiple `iarange`s as in #370.

## Tasks

- [ ] Add `max_ia

[2018-02-06 15:26] fehiepsi commented on #702
@fritzo : In current implementation of kernel module, `variance`, `lengthscale` are Parameters. I want to put constraints on them so they will not get non-positive values when learning. Can I achieve it easily using `constraints` from Pytorch?

By the way, I have another question. I want to define a Parameter which corresponds to a lower triangular matrix. There are two ways come to my head. The f

[2018-02-06 16:12] fritzo commented on #702
@fehiepsi The usual way to do constrained optimization in Pyro is to transform unconstrained parameters, e.g.
[code]
Note that `LowerCholeskyTransform` first calls `torch.tril` and then exponentiates the diagonal to avoid singular matrices (so that `x` is a valid Cholesky decomposition).

PyTorch 0.4 introduces a generic way to do this using `transform_to()`:
[code]
In your case it's probably simp

[2018-02-06 22:45] #619 closed

[2018-02-07 07:05] fehiepsi commented on #702
@fritzo The third version is exactly what I want. While waiting for it, when starting to refactor GP module, I will use the second version. Thanks a lot!

[2018-02-07 13:58] sameerkhurana10 opened #746 "Bayesian GMM"
Trying to implement Bayesian Gaussian Mixture Model. Below is the model and the guide:

[code]

Getting the error:

[code]

Any comments?

[2018-02-07 17:41] fritzo opened #748 "Rename site["baseline"] to site["infer"]["baseline"]"
We often want to specify site-local inference parameters in Pyro, e.g. site-local `enum_discrete` or site-local baselines. Currently only baselines are implemented, so the local inference dict is named "baseline". In Pyro 0.2 we should rename this to "infer" and have "baseline" be a sub-dict of this parameter, e.g.
[code]
See also #236 requesting "subsample_size" to live in the "infer" dict.

[2018-02-07 18:47] fritzo commented on #746
I'm not sure where that could be happening. Could you
- provide your Pyro version and PyTorch version?
- try `pyro.clear_param_store()` and see if you still get the error?
- try with `num_particles=1` and see if you still get the error?
- try with `enum_discrete=False` and see if you still get the error?

Also FYI `enum_discrete` is exponentially expensive when your discrete variables are in a for

[2018-02-07 18:53] fritzo opened #749 "Support constrain_to=___ argument in pyro.param()"
The usual way to do constrained optimization in Pyro is to transform unconstrained parameters, e.g.
[code]
PyTorch 0.4 introduces a generic way to do this using `transform_to()`:
[code]
It would be nice to use `transform_to()` to provide more first-class support for constraints in `pyro.param`, something like
[code]

See also discussion in #702

[2018-02-07 21:28] sameerkhurana10 commented on #746
- Pyro: 0.1.2 & Pytorch: 0.3.0.post4

- `pyro.clear_param_store()`, still the same error

- `num_particles=1`, same error

- `enum_discrete=False`, no error anymore. But is this what we would ideally want to do in case of discrete random variables?

yes, i will try `pyro,iarange` once i get this to work properly

[2018-02-07 22:11] jinserk opened #750 "New RuntimeError of ss_vae_M2.py with -cuda option"
Hello. With the latest pytorch update (`0.4.0a0+bf60329`) and pyro (`53bf515`), I've got a new error as:
[code]

[2018-02-08 02:09] eb8680 commented on #750
Hi, I suspect this issue has the same underlying cause as the one in [this Pyro forum thread](https://forum.pyro.ai/t/ss-vae-unsupervised-loss-problems/103).  There was a recent change (#695 ) that added drawing a single sample internally before enumerating to infer the correct shape of the enumerated values, and this error seems to be caused by invalid weights in that sampling step.

[2018-02-08 02:24] fritzo commented on #750
Sounds like we should instead call `site["fn"].shape()` and and deprecate `RandomizedPrimitive`.

[2018-02-08 02:46] eb8680 commented on #750
Agreed, but that doesn't address the underlying cause of this issue and the one on the forum, which is the imbalanced categorical weights.  We should figure out how to make this example more stable.

[2018-02-08 03:06] fritzo opened #752 "Remove RandomPrimitive"
## Why?

- Motivated by moving closer to PyTorch distributions https://github.com/uber/pyro/issues/732#issuecomment-362454322
- Would allow a fix for #750 i.e. calling `site["fn"].size()`
- PyTorch distributions now cache things, and RandomPrimitive discards the cache
- RandomPrimitive is not compatible with properties
- PyTorch distributions are expensive to construct; `RandomPrimitive` construct

[2018-02-08 22:43] jinserk commented on #750
Could you let me know if there is any workaround? I have also zero loss for unsupervised samples as described in [Pyro forum thread](https://forum.pyro.ai/t/ss-vae-unsupervised-loss-problems/103)

[2018-02-09 00:45] fritzo opened #756 "Sparse GP tests fail nondeterministically"
The following test fails when run alone:
[code]
however it passes when run as part of the whole file
[code]
As a result travis-ci tests pass but local `make test` fails (because it parallelizes)

[2018-02-09 00:45] fritzo commented on #756
@fehiepsi could you take a look if you have time? I'm not sure why the test fails when run alone.

[2018-02-09 02:29] fehiepsi commented on #756
@fritzo I fixed the bug at #758. Have no idea why it passes when run as a whole @@. For the bug: I have used `torch.ones(2)` instead of `torch.Tensor([2])` >"<.

[2018-02-09 05:47] fritzo commented on #756
Closed by #758

[2018-02-09 05:47] #756 closed

[2018-02-09 05:53] fritzo commented on #750
Sorry @jinserk I haven't had time to diagnose the underlying cause. I think your best options are to either use Pyro 0.1.2 release or wait a few weeks until Pyro dev branch stabilizes. We're currently in the middle of a big refactoring to support PyTorch distributions, distribution broadcasting, multiple batch dimensions, nested `iarange`s, and parallel `enum_discrete`.

If you have time to help u

[2018-02-10 00:48] eb8680 commented on #752
Do we still need our distribution tests after this?

[2018-02-10 00:52] fritzo commented on #752
Some are redundant and can safely be removed. Others should remain, e.g. tests for `Rejector`, `Delta`, our `TorchDistribution` wrapper, our `SparseMultivariateNormal`, ...

[2018-02-10 19:23] #748 closed

[2018-02-12 18:44] #752 closed

[2018-02-13 16:56] innuo commented on #568
Even if we can model them with delta or normal with small variance samples, observations that are deterministic transformations of latent variables have another consequence when performing variational inference.

Assume the model, where we are interested in learning something about mu given observation `x = x0`. (Assume `a` is known and `f` is a deterministic function.)

[code]

In the guide, the

[2018-02-13 23:27] fritzo opened #771 "Support PyTorch scalars"
PyTorch master now supports scalars. Pyro currently breaks with PyTorch master.

[2018-02-14 18:23] innuo opened #773 "Observations that are deterministic functions of latents"
This is a follow-up to
https://github.com/uber/pyro/issues/568

As was recommended in the discussion of the above issue, even if we can model them with delta or normal with small variance samples, observations that are deterministic transformations of latent variables have another consequence when performing variational inference.

Assume the model, where we are interested in learning something ab

[2018-02-14 18:31] fritzo commented on #773
If `f` is invertible you can implement it as a `TransformedDistribution`:
[code]

[2018-02-14 19:28] fritzo opened #774 "Create a poutine or messenger to configure site['infer']"
It would be nice to have a poutine or messenger that could set `site['infer']` properties. Using this we could e.g. simplify the `enum_discrete` logic to first set `site['infer']['enumerate'] = 'sequential'` for all discrete sites, then use existing logic without `site_is_discrete`.

[2018-02-14 19:28] innuo commented on #773
Thanks. That definitely solves the problem by transforming the deterministic function to a sample call.

Is there a way to do this in case `f` is not invertible?

This is not an uncommon scenario. For example consider the following model of wind readings from a Met tower.

[code]
I would like to infer `E[u | wind_speed = w_o]`.

In general are non-invertible transformations disallowed inside Pyro

[2018-02-14 19:28] fritzo commented on #774
@eb8680 Would you be up to implement this? I'm not sure how.

[2018-02-14 20:05] fritzo commented on #773
Correct, Pyro does not allow observation of non-invertible transformation of a random variable. As a workaround you can implement a `Distribution` object that performs your non-invertible transformation and computes `.log_prob()` by integrating over any marginalized-out variables. E.g. in your case you could use a `Chi2` distribution instead of the 2-norm of two `Normal`s; in this case the impleme

[2018-02-14 20:09] innuo commented on #773
Is the non-invertibility explicitly checked for? Or does the inference just happen with wrong answers?

The reason I ask is that I was modeling a situation where one latent variable was the maximum of two other latent variables (I used `torch.max()`) and the inference proceeded without errors but gave nonsensical results.

[2018-02-14 20:13] eb8680 commented on #773
@innuo your example in your first post will work fine with SVI.  If you want to learn about `mu` you'll have to put a prior on it and include a `mu` term in the guide or wrap it in `pyro.param` in the model.

The SVI approximation to the posterior is biased, and may produce incorrect results.  Have you tried `pyro.infer.HMC`?

[2018-02-14 20:14] eb8680 commented on #774
@fritzo sure, I can do that

[2018-02-14 20:18] innuo commented on #773
I didn't try HMC, but I did have a prior on `mu`.

Could you please comment more about my question about the choices about the guides? If `x` is just a delta distribution around `f(z)` how can I pick a guide that is works for inference?

[2018-02-14 20:23] innuo commented on #773
@fritzo What I don't really understand is that when there are non-invertible transformations how Pyro goes about computing the log_pdf.

Essentially my model is specifying sampling according to some  `P_i(x_i | f(x_1, x_2, ..., x_i-1)` where `f` is some arbitrary composition. Could you give me some intuition about the procedure to carry forward the computation of the log-pdf `log P(x_i , x_1, x_2,

[2018-02-14 20:44] eb8680 commented on #773
@innuo I think you may be getting caught up in notation.  If `x` is a delta around `f(z)` and you give it a Gaussian likelihood with a small `sigma`, that's just an ABC likelihood for `x`, which is a new random variable `y` in Pyro.  Pyro never computes the marginal density of `x`, just the sum of the trivial delta conditional and Gaussian approximate likelihood for `y`.  Random variables at sampl

[2018-02-14 21:22] innuo commented on #773
@eb8680 I don't think I follow yet. I must be missing some crucial insight.

Here is a runnable Pyro code to demonstrate what I am doing. I would appreciate it if you could point out why neither of these two guides (which follow the patterns in my original post) work for inferring `mu` in my model.

(I tried to find the simplest example to illustrate the issue. I understand that I could eliminate

[2018-02-15 02:39] eb8680 commented on #773
But this is probably the primary reason it's not working - you're doing biased approximate inference in a noisy approximation to your true model.  If you want higher quality inference, you'll have to reduce bias and variance.  You can remove bias in inference by using HMC, and you can remove the variance in your model approximation entirely by writing the true likelihood as a Pyro `Distribution` a

[2018-02-15 13:42] innuo commented on #773
@fritzo @eb8680 Thanks for your replies. I think I have a much better understanding of the limitations of variational inference and how to circumvent them in Pyro.

I think it might make sense to add a section on modeling "Observations that are deterministic functions of latents" or some such to the Pyro tutorials. This is an important class of models and other users may have the same questions I

[2018-02-15 19:23] fehiepsi opened #779 "Current status of HMC?"
I found that HMC is an interesting topic so I am trying to learn it from the current implementation. Is there any example to see how it works?

In addition, is there any reason why we use notions such as `velocity verlet`, `z`, `r` instead of `leapfrog`, `q`, `p` as in the [main reference](https://arxiv.org/pdf/1206.1901.pdf) which the implementation mentions?

[2018-02-15 22:33] eb8680 commented on #779
I don't think there are any HMC-specific examples yet, but the interface is pretty simple and one of the existing examples (e.g. Bayesian regression) could easily be modified to use HMC.  Contributions welcome!

The velocity Verlet integrator is slightly different from the leapfrog integrator; see e.g. the [Wikipedia page](https://en.wikipedia.org/wiki/Verlet_integration#Velocity_Verlet) for detai

[2018-02-15 22:39] eb8680 commented on #773
Agreed, we may do that as we add algorithms aimed at that class of problems (e.g. [LFVI](http://papers.nips.cc/paper/7136-hierarchical-implicit-models-and-likelihood-free-variational-inference.pdf)).  Contributions are welcome in the meantime!

[2018-02-15 22:39] #773 closed

[2018-02-15 22:55] fritzo commented on #779
I like @neerajprad's choice of `(z, r)`. I would find `(q, p)` confusing since it is also ubiquitously used to denote distributions in variational inference.

I think the unit tests are currently the best place to see how HMC works. Also take a look at #740

[2018-02-16 01:41] fehiepsi commented on #779
@eb8680 @fritzo Thanks a lot for your answers. They are definitely very helpful to me. I will try to use HMC following the unit test.

[2018-02-16 01:41] #779 closed

[2018-02-17 13:33] bmazoure opened #782 "Multivariate normal sampling"
When trying to sample from the MVN distribution:
``
x = pyro.sample("my_sample",dist.MultivariateNormal, mu,sigma)
print(x)
``
However, instead of a FloatTensor Variable, it returns simply
``
MultivariateNormal()
``

Is this expected behaviour / how can we pyro.sample from the distribution for now?

Many thanks

[2018-02-17 17:11] fritzo commented on #782
To sample from distribution objects, write
[code]

@jpchen Do you have an ETA on publishing documentation for the dev branch #547 so users can see this new idiom?

[2018-02-18 07:41] fehiepsi opened #786 "Test for HMC fail randomly"
In the current dev branch, when I tried to run `pytest tests/infer/mcmc/test_hmc.py::test_hmc_conjugate_gaussian` with `TEST_CASES  = TEST_CASES[:1]` (just test the first case among four cases) repeatedly about 10 times, the test failed. So I guess that: despite we already had `@pytest.mark.init(rng_seed=34)`, somehow the results still cannot be reproduced.

[2018-02-18 10:07] jpchen commented on #782
this is not a change related to using dev, this is just about pyro semantics. there was an identical issue [here](https://forum.pyro.ai/t/train-error-in-loss-and-grads-in-bayesian-neural-net/71/3). see the usage in this [example](http://pyro.ai/examples/bayesian_regression.html).

sorry, been busy with other high priority work. we'll have versioning for documentation before our next release, thoug

[2018-02-18 10:07] #782 closed

[2018-02-18 20:04] fritzo commented on #782
@jpchen This issue was caused by obsolete documentation at http://pyro.ai. You and I updated docs from `pyro.sample("name", dist.normal, mu, sigma)` to `pyro.sample("x", dist.Normal(mu, sigma))`, but these changes are not yet published.

[2018-02-18 20:08] neerajprad commented on #786
What is the pyro/pytorch versions you are on? Could you also paste the logs?

[2018-02-18 21:24] sameerkhurana10 opened #788 "Data loading error while running DMM (dev branch)"
hi,

pyro=0.1.2
pytorch=0.4.0a0+5eefe87

Running DMM on the dev branch I got the below logs:

[code]

Then

[code]

I stopped the program and Ran it again, did not face the same issue:

[code]

PS: I was getting the following error when running DMM:

[code]

I fixed it by adding the line:

`time_slice = time_slice.tolist()` in `polyphonic_data_loader.py`

Any comments on this behaviour?

[2018-02-19 07:02] eb8680 commented on #788
Hi, the NaN issue is also described in #711.  The error you're seeing is new, so I've changed the issue title to refer to that so we can keep track of it.

The PyTorch `master` and Pyro `dev` branches are both currently highly unstable due to ongoing changes ahead of the PyTorch 0.4 release.  I suggest using release versions of Pyro and PyTorch if you want the DMM example to work, but you can also

[2018-02-19 10:18] fehiepsi commented on #786
@neerajprad I believe the bug is fixed in #785 . The reason for randomness is: we sample `r`s based on keys of a dict.

[2018-02-19 16:26] neerajprad commented on #786
Thanks for fixing this in #785. For the records, the change was to iterate over the keys of the dictionary in order when sampling the momenta -
 https://github.com/uber/pyro/pull/785#discussion_r169121588.

[2018-02-19 16:26] #786 closed

[2018-02-20 14:25] bmazoure opened #790 "Sampling from truncated Gaussian"
Is there currently a way to sample from new distributions which are similar to the ones already implemented in Pyro?

For instance, in the case of a multivariate truncated Gaussian we would need to define how to compute the gradient as a piecewise function and I am not sure where to do so.

[2018-02-20 19:00] fritzo opened #791 "Parallelize ELBO computation over num_particles"
ELBO implementations currently iterate over `num_particles`. Let's also do this in parallel.

## Why?

This is most useful for speeding up our gradient tests. If we had cheap parallelized estimates of the ELBO, then we could replace many of Pyro's expensive integration tests with cheaper gradient tests. This in turn would allow us to test over much larger grids of parameter settings rather than ov

[2018-02-20 19:02] martinjankowiak commented on #790
hello, you might take a look here:

https://github.com/probtorch/pytorch/pull/121

[2018-02-20 21:20] fritzo commented on #790
Hi @bmazoure you could also define a [Rejector distribution](https://github.com/uber/pyro/blob/dev/pyro/distributions/rejector.py) for a truncated normal, but this would require you to implement the probability of acceptance `log_scale` as a function of your truncation plane. For example to truncate by ensuring `sample[0] > min_x0`, you should be able to define
[code]

[2018-02-21 01:16] fritzo opened #793 "Docker image for Pyro + PyTorch dev"
It would make it easier for users to install Pyro dev branch if we had a Docker image that included a PyTorch build.

[2018-02-21 17:15] #774 closed

[2018-02-21 21:47] bmazoure commented on #790
Will try these suggestions, thanks!

[2018-02-21 21:47] #790 closed

[2018-02-22 00:29] fritzo opened #798 "Memory leak due to cyclic references in Trace"
@karalets noticed memory growth when using Pyro.

We tracked the number of non-garbage-collected objects during SVI inference. We found that objects grow over iterations but are occasionally collected. This evidence points to a cyclic reference somewhere. Among the amassing objects were `Variable`s and  Pyro `Trace` objects, suggesting that the cyclic reference is either in Pyro internals or in th

[2018-02-22 01:29] neerajprad opened #799 "Resolve perf issues with NUTS"
NUTS is currently slower than base HMC, mostly because of some repeated calls to compute the potential energy term and its gradient, that arise out of the recursive nature of the algorithm.
 - [x] The base HMC reuses gradient computation from the previous step in each call to the integrator which the NUTS implementation currently does not, and needs to recalculate this for the same set of nodes, `

[2018-02-22 06:12] karalets commented on #798
And I am happy to report that the changes in #801 fix the memory leak that has been plaguing me for a month.
My garbage collection calls now safely report unique counts of Variables and memory consumption is constant across training.

Very happy this is resolved, this bug caused me grief for a while. Fantastic effort @fritzo

[2018-02-22 06:26] #798 closed

[2018-02-22 15:07] fehiepsi commented on #750
@jinserk How is it going? I use pytorch with commit `ca5071d07` as suggested at https://github.com/uber/pyro/blob/dev/README.md and the current dev branch. The `-cuda` option works for me and I did not see the zero loss issue for unsupervised examples.

[2018-02-22 15:15] fehiepsi commented on #711
@neerajprad Could you please check again if this is still an issue? The script runs well to me. I use Pytorch commit `ca5071d07`. FYI I got NaN at log_pdf many times due to parameters of some distributions get wrong values (for example: sigma < 0 for normal distribution). Maybe there are some bugs at distributions at the time you faced this problem.

[2018-02-22 15:31] fehiepsi commented on #788
@sameerkhurana10 You can try to install Pytorch with commit `ca5071d07`. Based on your report, I think that it is a problem due to recent changes of PyTorch: it is unable to construct a LongTensor from a numpy int array. For nan issue, did you use the dev branch of Pyro? I didn't face that problem on my machine.

[2018-02-22 18:49] neerajprad opened #802 "OMTMultivariateNormal errors with PyTorch master"
The `test_omt_mvn` tests fail with PyTorch master, because in the backward step, at the following line:

[code]

`identity` has type `Tensor` but `L.t()` has type `Variable`. cc. @martinjankowiak, @fritzo

<details>
<summary> stack trace </summary>

[code]
</details>

[2018-02-22 18:56] fritzo commented on #802
@neerajprad Since moving to master is very high priority, I think it's reasonable to ignore this test
[code]
and let @martinjankowiak fix it when he has time.

[2018-02-22 19:00] neerajprad commented on #802
@fritzo - this is being ignored in #797. Just created the issue to track this.

[2018-02-22 19:03] martinjankowiak commented on #802
i thought it's the responsibility of whoever broke it to fix it ; )

[2018-02-22 19:07] neerajprad commented on #802
Haha..then I'll assign it to the PyTorch devs ;)

[2018-02-22 21:12] jinserk commented on #750
Thanks @fehiepsi ! I figured out the latest update of pyro changed the example ss_vae code, but I have a running training so couldn't update it. Will check it soon!

[2018-02-22 23:48] fehiepsi commented on #802
This is an issue of `type_as` in my opinion. How about just use `.new` instead of `type_as` at https://github.com/uber/pyro/blob/dev/pyro/distributions/omt_mvn.py#L56

`identity = torch.eye(dim, dim, out=Variable(g.data.new(dim, dim)))`

[2018-02-23 00:03] neerajprad commented on #802
Or, just `identity = torch.eye(dim, out=Variable(g.data.new(dim, dim)))`

[2018-02-23 01:23] fritzo commented on #802
Why not simply `torch.eye(dim, dim, out=g.new(dim, dim))`? Does `Variable(....data...)` have any advantages?

[2018-02-23 01:26] fehiepsi commented on #802
@fritzo Previously I used pytorch 3, and cannot call `.new(...)` on Variable. Things might change now.

[2018-02-23 01:28] fritzo commented on #802
`Variable.new` now works fine, we use it throughout torch.distributions.

[2018-02-23 03:14] fritzo commented on #749
@eb8680 I've attempted to implement this a couple of different ways (directly in the `ParamStore`, or as a poutine), but both were foiled by our use of `site['value']` to discover active params.

Could we pair code on this next week to see if there's a path forward? In particular I'd like to determine if we need any breaking changes to the `ParamStore` before 0.2 release, even if this feature does

[2018-02-23 03:30] eb8680 commented on #749
Sure

[2018-02-23 05:55] neerajprad commented on #799
Closing major perf issues. Will run some more profiling and create issues if needed.

[2018-02-23 05:55] #799 closed

[2018-02-23 15:33] jinserk commented on #750
I've update pytorch and pyro and tested `ss_vae_M2.py` with `-cuda` option. It seems works! Thanks for the great job!

[2018-02-23 19:58] #750 closed

[2018-02-23 20:01] eb8680 commented on #711
Closing as resolved, we can reopen if it happens again

[2018-02-23 20:01] #711 closed

[2018-02-23 23:00] jpchen commented on #547
docs.pyro.ai (give 24 hours for CNAME to propagate)

[2018-02-23 23:00] #547 closed

[2018-02-23 23:37] neerajprad commented on #547
Great!
 - Can we opt out of the ads (http://docs.readthedocs.io/en/latest/ethical-advertising.html#opting-out)? They seem kind of pesky.
 - Can we get our old CSS back?

[2018-02-23 23:40] jpchen commented on #547
nope - i already opted out of paid ads but thats all we can do on the free tier

Go for it :)

[2018-02-25 02:19] fritzo opened #811 "Enumerate continuous RVs using Monte Carlo or quadrature"
After #776 merges, it should be easy to extend parallel enumeration from discrete distributions to continuous distributions using either Monte Carlo sampling or quadrature. Using the `infer` dict and `InferConfigPoutine`, it should be easy to add options to sample sites like
[code]
and
[code]
This logic could then be handled in `EnumeratePoutine._pyro_sample()` analogously to its handling of discr

[2018-02-25 18:40] #742 closed

[2018-02-26 05:45] fritzo opened #814 "Add a tutorial on batch shaping in Pyro 0.2"
Pyro 0.2 will have stricter batching requirements (after #806) to allow new features like parallel enumeration #742 and nested `iarange` #780. This will require more careful use of `pyro.iarange`, `TorchDistribution.reshape()` and `pyro.scope()` for masking. The tutorial should also cover how to write broadcastable PyTorch code, such as using `Ellipsis` as in `x[..., i, j]` and setting flexible `s

[2018-02-26 17:28] fritzo opened #815 "Support PyTorch after Variable+Tensor were merged"
Pyro is behind PyTorch master and needs to be updated now that `Tensor` and `Variable` were merged. This is logically orthogonal to the rest of our refactoring, although there will be lots of superficial merge conflicts.

[2018-02-26 18:11] martinjankowiak opened #816 "tracegraph_elbo related cleanup"
- [x] refactor vectorized_map_data_info and related data structures
- [x] refactor way prune_subsample_sites etc. is used to setup a trace for computation
- [x] rethink any needed asserts/warnings in tracegraph_elbo or trace_poutine
- [x] go through test_valid_models and make sure we have good coverage
- [x] rethink integration/gradient test coverage (where possibly prefer cheaper tests)

[2018-02-26 18:39] martinjankowiak opened #817 "remove map_data"
it's time.

[2018-02-26 18:47] fritzo commented on #817
I'm mostly looking forward to updating tests to use `irange` and `iarange` rather than `map_data`.

[2018-02-26 18:53] eb8680 opened #818 "Remove networkx dependency from Trace"
Having briefly tried and failed to fix the memory leak (#798) at its source, I propose rewriting `Trace` as a simplified custom object (effectively a dict of `OrderedDict`s) with an option to export to a networkx graph.

[2018-02-26 18:56] eb8680 opened #819 "Clean up Trace API"
After the refactor in #818, we should take the opportunity to remove the various idiosyncratic helper methods in `Trace` and replace them with a uniform functional API.

[2018-02-26 19:00] eb8680 commented on #814
What about two smaller tutorials, one upstream in PyTorch on distribution batch shape semantics and one in Pyro about Pyro-specific features?

[2018-02-26 19:09] fritzo commented on #819
This sounds great. It seems like the right level of granularity is sites (Trace nodes). So we could implement some functions that operate on sites, sometimes caching results in the sites, something like
[code]

[2018-02-26 19:11] fritzo commented on #818
Sounds reasonable. I'd like to hear your networkx war story.

[2018-02-27 00:51] tobyclh opened #823 "which CDF to use for Bayesian Optimization?"
Hello, I'm trying to implement some acquisition functions for BO, starting with the tradition non-parallel version. UCB and POI are straightforward, while I am not sure I should use torch.distribution.cdf for expected improvement as I don't see one in pyro doc.
Thank you.

[2018-02-27 01:26] eb8680 opened #825 "Parallelize computation of Marginal and Posterior"
Along the lines of #791, we should allow global independence dimensions in `Marginal` and `TracePosterior`.

[2018-02-27 02:03] eb8680 opened #826 "Improve documentation of some Pyro internals"
This issue tracks some documentation improvements that should be made before the 0.2 release.
- [x] Improve documentation of `Marginal` or remove it (#543)
- [x] Improve documentation of `TracePosterior` or remove it
- [x] Improve documentation of `Trace`
- [ ] Correct and improve introductory documentation for Poutine
- [x] Format everything correctly for sphinx: handlers and `Trace` at top level

[2018-02-27 06:04] neerajprad commented on #815
Reopening as the variable + tensor API coalescing is still ongoing in PyTorch and we will need to make more changes.

[2018-02-27 16:37] fritzo opened #827 "Rename things before Pyro 0.2 release"
Here is a list of candidate renamings, feel free to edit or add:

### confirmed:

- [x] #932 `.enumerable` -> `.has_enumerate_support`
- [x] #932 `.analytic_mean()` -> `.mean`
- [x] #932 `.analytic_var()` -> `.variance`
- [x] #940 `batch_log_pdf` -> `log_prob`;   `log_pdf` -> `log_prob_sum`
- [x] #947 drop `pyro.observe` in favor of `pyro.sample`
- [x] #961 distribution parameter names (see also #

[2018-02-27 17:11] vincent6606 commented on #635
I am confused about putting pyro.params(...) in the model instead of the guide. All tutorials I have seen have params in the guide. Can you explain why this is not the case here?

In [https://github.com/uber/pyro/pull/636](url) the GMM there is an unconstrained_p and a unconstrained_ps, can you explain what is happening here?

I am trying to work out a Chinese restaurant process example, but the d

[2018-02-27 21:35] eb8680 commented on #827
Except for the `sample`/`rsample` distinction, we should rename all distribution methods and parameters to match `torch.distributions`.  We should also name all `log_pdf` things to `log_prob` in `Trace` and elsewhere, and `Poutine` to `Handler`.

[2018-02-27 21:39] fritzo commented on #732
Closing. Renaming work can be moved to #827

[2018-02-27 21:39] #732 closed

[2018-02-28 05:02] ngoodman commented on #817
Yep!

[2018-02-28 16:13] ngoodman commented on #814
this is a great idea.

the tutorial should include a clear statement of when a function / block can be batched. (eg. it can't include certain operators which take a tensor to a non-tensor. other restrictions?)

[2018-02-28 16:17] ngoodman commented on #791
aside from internal reasons (eg testing speed), this is a great way to reduce gradient variance at low time-cost (at least when things fit on gpu).

[2018-02-28 16:19] ngoodman commented on #825
great idea. (related: make importance parallel.)

this is possible only when the underlying computation is batchable. it might be sometimes hard to tell if this is so. is it possible to dynamically detect a failure of batching and bail out to the serial method?

[2018-02-28 16:34] ngoodman commented on #811
this is a fun idea. we did something similar for continuous rvs in webpl, but not in parallel.

(it's also related to the tree/AIS this that @mhw32 is about to start on.)

[2018-02-28 17:07] ngoodman opened #829 "Profiling"
we should do some careful profiling of the core SVI algorithms.

coverage should include at least: models with big tensors (eg. VAE and DMM examples), models with stochastic recursion and neural baselines (e.g. AIR example), tensor-light bayenets (e.g. models translated from STAN), models that use enumeration (e.g. SS-VAE example), models with both irange and iarange (already covered?).

related i

[2018-02-28 22:56] eb8680 commented on #819
Not super urgent, will reopen when we revisit.

[2018-02-28 22:56] #819 closed

[2018-02-28 23:26] eb8680 commented on #818
Will reopen if/when we revisit.

[2018-02-28 23:26] #818 closed

[2018-03-01 11:17] fehiepsi opened #832 "Make GP module more versatile"
Continue to #702, the following steps are necessary to make GP module more accessible.

- [x] Support multidimensional output (currently, the output `y` is assumed to be 1D). This should not be complicated I guess.

- [x] Add more likelihoods: Bernoulli, Multiclass-classification,...

- [x] Support batching (need reference for this, is an option to change X, y enough?)

- [x] Use new style of `tra

[2018-03-01 11:25] fehiepsi opened #833 "Implement duo averaging for HMC and NUTS"
I think that it is a good time to start. I can take the first step in implementing it (maybe start from this weekend).

- [ ] Heuristic choose step size.
- [ ] Duo averaging for HMC.
- [ ] Duo averaging for NUTS.

After that, it is good to replicate one of NUTS paper's experiments for a benchmark.

[2018-03-01 12:26] fehiepsi commented on #823
@tobyclh In the `dev` branch, pyro's distribution is nearly identical to pytorch's version (indeed, one of the main work of Pyro's devs in the last few months is to help moving part of pyro's distributions to pytorch upstream). So you can call `.cdf()` for most of Pyro's distribution (using `dev` branch) if they are available in Pytorch.

Btw, have you thought of implementing BO with Gaussian Proc

[2018-03-01 16:27] ngoodman opened #836 "Bayesian Optimization"
We should make a module on top of pyro for bayesian optimization. (This could initially live in contrib.)

Now that we have working GPs it should be pretty straightforward to implement standard BO. We could also do BO based on adaptive basis function regression as the function distribution.

@ysaatchi @fehiepsi (etal) please edit to add details as you see fit!

[2018-03-01 16:29] ngoodman commented on #823
i agree! it's a great time to start thinking about BO in pyro. i opened #836 to track this.

@tobyclh if you feel like making any of your work so far (eg the acquisition functions) open source, it would be very helpful!

[2018-03-01 17:34] fehiepsi commented on #836
Yeah, this is an interesting direction. I would like to work on this (might be two weeks later) after implementing Duo Averaging for HMC. It would be great if someone takes an initial step. :)

[2018-03-01 19:44] eb8680 commented on #836
There are quite a few GP features that we should add first - more documentation/examples/tutorials, batching, NUTS with dual averaging for hyperparameters, a simpler interface for learning, etc.  I'd recommend focusing on those at least until after the Pyro 0.2.0 release.

[2018-03-02 01:25] ysaatchi commented on #836
This is an awesome idea and definitely lives on top of pyro as @ngoodman said!
One challenge is optimizing acquisition functions with derivatives. This requires computing derivatives w.r.t. GP inputs. @fehiepsi would this be straightforward?
I also agree with @eb8680 RE priorities. I think we would also like some additional likelihoods before Pyro 0.2.0, especially for classification.

[2018-03-02 02:22] tobyclh commented on #823
No problem I will clean up and make a PR later

[2018-03-02 02:22] #823 closed

[2018-03-02 02:30] tobyclh commented on #836
Hello, I am here to share about what I learn so far trying to do BO with pyro :)
regarding derivatives w.r.t. to GP inputs, theoretically derivatives of GP can be written as they do [here](http://mlg.eng.cam.ac.uk/mchutchon/DifferentiatingGPs.pdf), but I haven't tested it myself.
And for the acquisition functions, folks in [Robo](https://github.com/automl/RoBO/tree/master/robo/acquisition_function

[2018-03-02 03:40] fehiepsi commented on #836
@ysaatchi @tobyclh It seems to me that computing derivatives is quite straightforward (just make the input variables requires_grad when we need to compute). Let me some time to catch up with literature before I can make any claim.

For more features of GP, I made a tracking list at #832. Will start to implement them after duo averaging stuff.

[2018-03-02 08:00] neerajprad opened #839 "Investigate Pyro slowness in Python 2.7"
Python 2.7 seems to be an order of magnitude slower than 3.6 for certain models. One of the potential sources of slowness seems to be in `enum.py` queue which takes almost 11 seconds inside `poutine.__init__.queue` method in python 2.7 but only takes 0.5 seconds in python 3.6 for the non-reparametrized Poisson Gamma test (being removed in #841). Profiles are
attached and can be visualized using `s

[2018-03-02 08:19] neerajprad opened #840 "Slow test clean up time"
Here is our winning list of tests taking longer than 2 minutes. Let us figure out a plan for these - remove them (I can run them as a cron job on my workstation weekly), or modify them to run within 2 minutes ideally.

I am taking the liberty to remove the first one, which was being skipped but was added back by me in #806. Addressing these slowest tests will give a respite to all Pyro developers

[2018-03-02 09:04] neerajprad commented on #840
I propose moving most of these tests to Travis cron that I’ll set up to run daily. However, the top five should be fixed anyhow as they are known to time out individually. Also cron jobs will have time limits too.

[2018-03-02 17:41] fritzo commented on #840
Before we remove these I'd like to see if our fixes to enumeration will help.

Note that many of these can be sped up by converting `data` from a list to a tensor. I've done that in many such tests in the past.

[2018-03-02 17:41] fritzo commented on #840
Also, I'd prefer doing profiling work to speed up Pyro on these tests, rather than removing or moving or reclassifying the tests. The real problem is that Pyro is slow 😉

[2018-03-02 17:52] fritzo commented on #839
This points to @eb8680 's refactoring #775 which causes `queue` to create a `range` of 1e6 items each time it is called. `range` creates a list in Python 2 and an iterator in Python 3.

@eb8680 the reason I had in-lined that logic in the first place was to avoid the bad `max_tries` logic.

[2018-03-02 18:17] neerajprad commented on #840
I’m all for profiling and making Pyro faster but some of these tests have historically been slow (like the sampling tests). I am not sure if there is an easy fix for all of them (if there is we should certainly fix them), but I don’t think tests taking longer than 3 minutes should be running on every commit. That costs more dev time cumulatively than any benefits from the protections these tests o

[2018-03-02 18:18] fritzo commented on #840
#842 is an easy fix

[2018-03-02 20:59] eb8680 commented on #840
Can be removed, and

Can probably be replaced with some unit tests for the components, or sped up by #825

[2018-03-02 22:45] eb8680 commented on #840
To add to @neerajprad's point, the `test_elbo_nonreparameterized` tests are inherently statistically slow.  We could speed them up with #791 if we're not worried about introducing too much complexity into a single test, but even then it would still take many steps for SVI to converge.  I think moving many of those to a cron job is a fine solution.

[2018-03-02 23:09] #839 closed

[2018-03-02 23:10] ysaatchi commented on #832
Another extension which ought to be straightforward with pyro is transforming the inputs using neural networks before passing them to the GP. This allows for much more flexible kernel learning (cf "Deep Kernel Learning" papers)

[2018-03-02 23:30] fehiepsi commented on #832
@ysaatchi Can it be obtained by using method `.warp` in #831?

[2018-03-02 23:39] neerajprad commented on #840
#843 seems to have fixed a lot of the worst contenders, so for the time being, I'm happy to just skip the `test_importance_prior` test in #841 which does seem to timeout occasionally. I have started a daily cron too, where I will be adding some perf regression tests so that we can detect any major slowdown early. I do not want to add it to regular CI because the detection process will be noisy, an

[2018-03-02 23:50] fritzo commented on #840
I was able to speed up `tests/infer/test_enum.py` in #828 from >10 minutes to <7 seconds by hand-parallelizing `num_particles` via `iarange`. @martinjankowiak do you think can we apply the same technique to the `test_elbo_nonreparameterized` SVI tests? The idea is that each step of SVI would parallelize over say 100 or 1000 particles to reduce variance at negligible wallclock cost, and thereby red

[2018-03-03 00:02] ysaatchi commented on #832
Yes, but the f(.) should have trainable parameters. What does q(.) do?

[2018-03-03 00:11] fehiepsi commented on #832
@ysaatchi With Pytorch, we can create any `nn.Module` with parameters (`nn.Parameter` or `pyro.param(...)`) but still `callable` ;). `q` is a polynomial acting on the output of kernel. It appears in Section 6.2 of Bishop book together with `Exponent`. They play similar roles.

[2018-03-03 00:13] ysaatchi commented on #832
Awesome @fehiepsi so it's pretty much already done, great work! :)

[2018-03-03 00:19] fritzo commented on #839
@neerajprad would it be easy to add a script in `profiler/` to generate the profiles we used here (and maybe open snakeviz)? I found it very helpful to see what function was taking all the time. I think it would benefit the whole Pyro team if we could all use a push-button profiling tool to ensure our refactorings are safe. (I've certainly found such tools useful in the past.)

[2018-03-03 00:26] martinjankowiak commented on #840
i'm definitely for moving some tests to a cron job. the conjugate pyramid models are a good target for example. but i think we shouldn't be too aggressive in doing so quite yet. on the one hand because we need to make sure that the cron job is stable/mature/usable/legible/etc. and also because, as @fritzo points out, we still have room for speed-ups. the reality is that we should do a reasonably s

[2018-03-03 00:29] eb8680 commented on #840
I think it would be fine to target this for 0.2.1.

[2018-03-03 00:31] martinjankowiak commented on #840
well either way but in any case we should start making progress towards it

[2018-03-03 00:40] neerajprad commented on #839
I will be adding the model as a regression test, and I can create a `make` command to run cProfile on any of these models and start a snakeviz session.

On a personal note, I have not found automated profiling that useful simply because it is exploratory in nature - profiling requirements are usually motivated by very specific questions (e.g. in this case, why is this model so much slower in 2.7 v

[2018-03-03 00:43] neerajprad opened #844 "Create perf regression tests and profiling utils for some simple models"
As discussed in #840, let us create some regression tests (to be run using travis cron), and some profiling utils for these models.

Related #829

[2018-03-03 02:51] neerajprad commented on #840
Closing this. I will create specific task items as needed - #844, #845 are some candidate items.

[2018-03-03 02:51] #840 closed

[2018-03-04 04:13] fritzo opened #846 "Errors when combining iarange + discrete enumeration"
This issue tracks progress of combining enumeration #742 and nested `iarange` #780. Currently `TraceEnum_ELBO` gives incorrect results when enumerating any `iarange`, even in SS-VAE (as discovered by @rohitsingh0812).

[2018-03-04 17:33] fritzo opened #847 "Refactor and extend ELBO implementations"
This issue documents refactoring and enhancement of `Trace_ELBO` and `TraceGraph_ELBO` over a series of PRs. See also the related #816 and the motivating #846 and #828 .

## Why?

It has become clear while diagnosing #846 that `enum_discrete` requires stricter dependency structure than `Trace_ELBO` or `TraceGraph_ELBO` require, namely that variables in an `iarange` cannot have downstream dependent

[2018-03-05 11:07] pangard opened #850 "Using multivariatenormal as the guide"
Hello:
I'm new to pytorch and pyro. It sure rocks, but we're trying to migrate some code form other projects and there was one show stopper.
Using a sequence of univariate normals as the guides is too restricting, isn't it?: we are imposing that the variables are not correlated a posteriori, whatever the data says.
Fortunately there is now on the dev branch a multivariatenormal, but it requires a

[2018-03-05 11:16] pangard commented on #850
theano does have matrix exponentials:

http://deeplearning.net/software/theano/library/tensor/slinalg.html

looking closely, they simply call scipy:

https://github.com/Theano/theano/blob/d395439aec5a6ddde8ef5c266fd976412a5c5695/theano/tensor/slinalg.py#L487-L515

So maybe it is just a matter of creating a pytorch module around that :-/ ???

[2018-03-05 14:40] hongweizeng opened #851 "requirement.txt"
I think there is a need to add a **requirement.txt**.

[2018-03-05 19:26] eb8680 commented on #850
Hi, there is a multivariate normal distribution with a reparameterized sampler in dev.  If you want to use it in a guide you'll need to follow the instructions in the README for installing the dev version of Pyro.  If you want to parametrize the covariance directly, you can use [torch.distributions.transforms.LowerCholeskyTransform](http://pytorch.org/docs/master/distributions.html#torch.distribut

[2018-03-05 19:35] fritzo commented on #851
Can you be specific about the need you see? Unless there is a specific need, it will be easier to for us to maintain a single dependency list in `setup.py` than to duplicate that information to `requirements.txt`. Note that `setup.py` allows distinction between different types of dependencies and is more precise than a `requirements.txt`.

[2018-03-05 19:57] pangard commented on #850
Thanks a lot, eb8680! Hadn't noticed the "reparameterized sampler". Will test it tomorrow...

[2018-03-05 19:57] #850 closed

[2018-03-05 20:19] neerajprad commented on #851
To add to what @fritzo said, if you need to pin down specific dependencies for your application (for replicability, other dependency interactions etc.), you are free to define your own `requirements.txt`. As a library, we would like to define the least constrained setup that different applications can re-use.

[2018-03-06 05:04] hongweizeng commented on #851
thanks for your suggestions.

[2018-03-06 05:16] #851 closed

[2018-03-06 11:44] vinay047 opened #853 "Error while installing pocketsphix in python 3.6"
Hi,
Tried downloading with pip install pocketsphix but i am facing the below errors.

 swig.exe -python -modern -Ideps/sphinxbase/include -Ideps/sphinxbase/include/sphinxbase -Ideps/sphinxbase/include/win32 -Ideps/sphinxbase/swig -outdir sphinxbase -o swig/sphinxbase/ad_wrap.c swig/sphinxbase/ad.i
    error: command 'swig.exe' failed: No such file or directory

Thanks in advance!!

[2018-03-06 17:00] neerajprad commented on #853
Have you tried installing sphinx via [pip](http://www.sphinx-doc.org/en/stable/install.html#windows-install-python-and-sphinx)? While the recommended python version is 2.7, it seems to support python 3 as well. Note that `sphinx` is a dev dependency, and you do not need to install it to be able to use Pyro, but you will need it to run tests and contribute to the project.

Our installation and test

[2018-03-06 18:42] jpchen commented on #853
to add, if youre using windows i highly recommend using [putty](https://www.chiark.greenend.org.uk/~sgtatham/putty/) (this will probably make your life easier for other projects in the future as well)

[2018-03-06 21:21] fritzo commented on #846
This was mostly fixed by #828. What remains is to fix broadcasting issues due to global variables that appear in `iarange`s.

[2018-03-06 23:02] #833 closed

[2018-03-07 17:35] fritzo commented on #34
I'm also looking into nested `iarange`s with very sparse tensors. I believe PyTorch's sparse tensors could be a viable alternative to masking for very sparse tensors.

[2018-03-07 23:08] tobyclh opened #862 "Broadcasting issue with Gaussian Process"
I was trying to fit some 2D data with Gaussian Process.
During the training at multivariate normal, calculating log prob fails as broadcast doesn't work.
adding unsqueeze followed by expand_as and diag seems to fix the issue.
Code to reproduced
[code]

[2018-03-08 02:54] #853 closed

[2018-03-08 08:50] fritzo commented on #771
I think this works now. We don't use scalars in all our examples, but many test and examples already use scalars.

[2018-03-08 08:50] #771 closed

[2018-03-08 20:46] #370 closed

[2018-03-08 22:15] tobyclh commented on #862
@eb8680
master, dev branch of pytorch and pyro!
@fehiepsi
I made a PR and tested it but I can't seems to get the pyro test system working so it would be nice if you can let me know whether it passes those tests (those tests fails even on dev branch for some reason)

[2018-03-10 11:16] fehiepsi opened #874 "Ask for structures for tutorials"
It would be great if Pyro examples page can have structures for sidebar like http://pytorch.org/tutorials/ or http://docs.pymc.io/examples.html. For example, if I want to add several tutorials on Gaussian Process, I will create a folder named Gaussian process and add several notebooks there.

[2018-03-10 11:38] lazypanda1 opened #875 "Domain Error in arguments"
Running the following program causes the following exception in pyro

[code]
Output:
[code]

Is this a known bug? Or am I missing something here?

Environment:
[code]

[2018-03-10 11:40] lazypanda1 opened #876 "RuntimeError: value cannot be converted to type double without overflow: -inf"
THe following program runs into this error:

[code]

Code:

[code]

Is this a known bug? Or is there something wrong with the model?

[2018-03-10 11:41] lazypanda1 opened #877 "Inaccurate results in linear regression model"
Pyro does not give me the correct result on the following model:

[code]

Output:
[code]

Running the similar model in Stan gives me the something close to the correct result(3.0) on the same data:
[code]
Stan output:
[code]

Is this a bug or am I using the model incorrectly?

[2018-03-11 01:49] eb8680 commented on #875
Hi, I ran your code and I think there are a couple of errors in your model.  The exponential distribution you're using as the likelihood expects its rate parameter to be nonnegative, as does the gamma prior you're using for the bias, but your variational distribution for the bias is normal, which occasionally leads to negative values for `linear.bias` and `prediction_mean` in the model and hence d

[2018-03-11 01:57] eb8680 commented on #876
Hi, to avoid `inf`s and `nan`s, you need to use variational distributions with the same support as your priors, and likelihoods where your data lies in the support.

[2018-03-11 19:09] fritzo opened #879 "Clarify GMM tutorial and add to pyro.ai/examples"
See https://github.com/uber/pyro/issues/635#issuecomment-368953014 for confusion due to nondescript variable names.
See #874 for reorganization of tutorial index.

## Tasks

- [x] #900 rename `p` to `assignment_probs` or similar
- [x] #900 rename `ps` to `cluster_probs` or similar
- [x] #900 explain use of `pyro.param` in model rather than exclusively in guide
-  add tutorial to pyro.ai (will happ

[2018-03-11 19:09] fritzo commented on #879
cc @vincent6606

[2018-03-11 19:10] fritzo commented on #635
Pyro supports optimizing over both guide parameters (for variational inference) and model parameters (for maximum likelihood or MAP inference). Putting a `pyro.param('x')` statement in the model is equivalent to putting a pair of statements `pyro.param('x_param'); pyro.sample('x', Delta('x_param')` in the guide and a `pyro.param('x')` statement in the model.

In the [GMM tutorial](https://github.c

[2018-03-11 19:39] fritzo opened #880 "Add tutorial on Dirichlet Process Mixture Models"
See https://forum.pyro.ai/t/variational-inference-for-dirichlet-process-clustering/98 for extended discussion .

It would be nice to make this work with data subsampling.

[2018-03-11 19:40] fritzo commented on #880
cc @vincent6606 @fehiepsi

[2018-03-11 19:57] fritzo commented on #876
This should be easier to diagnose after https://github.com/pytorch/pytorch/pull/5358 is merged, whereafter you can `torch.distributions.Distribution.set_default_validate_args(True)`. We'll also add something like `pyro.set_validate(True)` to toggle validation of everything (including `torch.distributions`)

[2018-03-12 14:45] ngoodman commented on #880
it's easy enough to write a dirichlet-multinomial mixture model (what y'all have been calling dirichlet process, though that terminology is usually reserved for the infinite version), and pretty easy to write the DP in either stick breaking or CRP form. (see, eg, corresponding code in webppl.) however, getting VI to work for mixture models is not entirely straightforward and for infinite models it

[2018-03-12 16:18] karalets commented on #880
Noah, weren't you working with an MIT student on that topic (svi for dpp) ?
Any updates on how this is going?

On Mar 12, 2018 7:45 AM, "ngoodman" <notifications@github.com> wrote:

[2018-03-13 07:03] eb8680 commented on #832
@fehiepsi the GP library is looking great!  As we move closer to the Pyro 0.2 release, I would strongly encourage you to focus on polish, performance, and documentation in addition to the features identified above - I'd hate to see your work go underappreciated.  Here are some more detailed recommendations you might consider:

1. **adding Bayesian kernel hyperparameter selection with HMC/NUTS:** i

[2018-03-13 16:46] fritzo commented on #771
@fehiepsi Do you know whether your gp module supports scalars? I'm starting to use it and I noticed that your tutorial still uses 1-dimensional tensors like `variance = torch.Tensor([10])` rather than scalars like `variance = torch.tensor(10.0)`.

[2018-03-13 17:06] fehiepsi commented on #771
@fritzo I think that it should be fine. We use `length_scale` with `X / length_scale` and `variance` to multiply with the final computation of covariance matrix. At some place we do `variance.expand(...)` but the behavior of this method is the same for both scalar and non-scalar tensor. I will fix if you detect any error related to scalar tensors.

[2018-03-13 20:07] eb8680 commented on #832
Based on my experience with the Pyro launch, I think you might be significantly underestimating the time it will take to do this, which is why I'm encouraging you to start sooner.  It's unlikely that you'll be able to work on a BO module at the same time (although I agree that a simple standalone BO tutorial is a good idea) and have both ready and polished in time for the 0.2 release.

Our schedul

[2018-03-14 00:03] fehiepsi commented on #832
Yup, I didn't intend to work on BO around this time, and not in near future (mainly because designing its API would be painful).

I agree that it is better to start working on docs sooner. ;)

[2018-03-14 01:47] fritzo commented on #832
@fehiepsi It would also be nice to reorganize modules to make importing a bit easier:
1. move `Parameterized` into a new module, say `pyro/contrib/gp/util.py`
2. import all submodules into `pyro/contrib/gp/__init__.py`

This way users can easily access the whole module, e.g.
[code]
(I'm starting to use your GP code for time series prediction, and wished I could do this :smile:)

[2018-03-15 03:41] tobyclh commented on #836
I have reviewed some of frameworks for API design idea, including
[AutoML's RoBO](https://github.com/automl/RoBO) (a top level BO object with input string to specify acq func. to use)
[GPFlowOPT](https://github.com/GPflow/GPflowOpt) (separate acq, bo object
[Oxford Control](https://github.com/oxfordcontrol/Bayesian-Optimization) (Hierarchical approach, e.g. BO is a subclass of GP, and acq func. is

[2018-03-15 05:47] fehiepsi commented on #836
@tobyclh I think you can make Acquisition a function or a class with `__call__` method (if you need to define some helper methods) as long as there is no parameter needed to optimize. If there are parameters (to be learned), then it is good to define as nn.Module. For the time being, I think a BO object with simple design is good. I guess it will: handle constraints/priors on variables, minimize i

[2018-03-15 07:49] zhf459 commented on #880
hi, any plans on  logistic mixture model?

[2018-03-15 17:55] #862 closed

[2018-03-15 18:00] lazypanda1 commented on #875
Thats good to know. It will be good to have some warnings/errors in case something is wrong with the model. Otherwise it is a bit difficult to debug it.

[2018-03-15 18:01] eb8680 commented on #880
@zhf459 not from us, but feel free to make one and open a PR!

[2018-03-16 01:25] tobyclh commented on #836
@fehiepsi
I think that will be the way to go.

And for Oxford's approach, the reason they choose to do so is because some acquisition functions when used in batch, requires modifying the optimization procedure itself, a good example is their [BLCB](https://github.com/oxfordcontrol/Bayesian-Optimization/blob/1f9b5ac9f72a8d007caa89dc43fd71a1ec6c484f/methods/blcb.py). If we choose to define BO and ac

[2018-03-16 04:10] eb8680 commented on #836
It seems like there's a lot of enthusiasm for this, which is great!  Pyro is a community-driven project, and I'm excited to get #893 merged after it's cleaned up, documented and tested.

That said, I want to inject a bit of skepticism in this discussion  because there are several mature, high-performance general-purpose GP-based Bayesian optimization libraries and `pyro.contrib.gp` is still missin

[2018-03-16 06:05] fehiepsi commented on #836
Agree! In my own opinion, GP is easier to maintain than BO because the technical points are just Math. For BO, there are many situations to cover. So writing a design doc for BO is a very good point to make it in scope. Just sometimes, a developer needs not to be an expert to understand what design doc points out. So it would be helpful to include a step-by-step guide in it if someone starts to wr

[2018-03-16 17:53] neerajprad opened #896 "Make PyTorch builds available for common use cases"
Now that we have a CloudFront distribution backed by S3, we should make it easier for Pyro consumers to work off of Pyro `dev`:
 - [ ] make CPU binaries for Mac and Linux installable via a script.
 - [ ] Migrate to using the same infra for CI.

[2018-03-16 18:58] fritzo opened #897 "Implement Gaussian ADVI"
We'd like to be able to automatically create a guide from a model via something like
[code]

[2018-03-16 19:13] fritzo commented on #34
Closing since I believe this can now be done by a combination of:
- nested `irange`/`iarange` as of #780 and
- masking via `my_dist.mask(my_mask)` as of #821
Feel free to re-open if I've misunderstood.

[2018-03-16 19:13] #34 closed

[2018-03-16 22:12] sameerkhurana10 opened #899 "DMM Error when using IAFs option"
hi,

pyro: '0.1.2'

pytorch: '0.3.1.post2'

when running the DMM example (master branch), on GPU, with the argument `-iafs` set to 1, I get the following error:

[code]

[2018-03-16 23:56] #846 closed

[2018-03-17 00:16] #896 closed

[2018-03-17 00:19] fritzo commented on #874
@jpchen Can you remind me where our tutorial index lives? In addition to making a tree structure, I'd like to add my brief GMM tutorial.

[2018-03-17 01:29] #879 closed

[2018-03-17 22:56] ngoodman commented on #897
And while we’re at it might as well do an amortized version where sample_advi_latent gets loc and cov from a net who’s input is datum?

[2018-03-18 19:59] martinjankowiak commented on #897
yes this is meant as a stepping stone for some things in that direction... but let's not get carried away with indiscriminate use of the phrase "while we're at it" : )

[2018-03-19 03:30] tobyclh commented on #836
I would argue that there are many BO repositories outside. For example, those repositories I posted either didn't support autograd, or requires very heavy dependency like Tensorflow which uses static graph, which is primarily the reason why I started using pyro and I am sure there is demand for function like this.
But at the same time its very true that BO module is an ambitious project that we sh

[2018-03-19 06:10] #874 closed

[2018-03-19 08:02] fehiepsi commented on #874
@jpchen Could we make a tutorial structure like this:
http://pytorch.org/tutorials/beginner/deep_learning_nlp_tutorial.html

For example, we can wrap "SVI Part I", "SVI Part II", "SVI Part III" under "Introduction to SVI".

[2018-03-19 08:22] jpchen commented on #874
@fehiepsi i discussed this with @fritzo and was convinced that having a flat directory structure was easier to maintain since we dont have that many tutorials. do you have a reason to nest them in directories?

[2018-03-19 08:33] fehiepsi commented on #874
My only reason is to group tutorials related to Gaussian Process into a directory. However, it is unnecessary to have directories now because we just have one tutorial on that topic. So it is better to open this issue again at some point in the future. No need to worry about it now. :D

[2018-03-19 11:45] yhalk commented on #583
Hi,

If we can't keep track of the loss gradients due to memory consumption reasons, is there a way to monitor their evolution in order to inspect the training progress?

Thank you in advance for any hint!

[2018-03-19 18:17] martinjankowiak commented on #583
@yhalk you can do something like follows
[code]
after this code snippet, the various trainable parameters in the paramstore have their `.grad` attributes populated, which you're now free to inspect. note that this won't take an actual gradient step. if you want to do that you could e.g. reproduce the logic in the `step` method of the `SVI` class

[2018-03-19 21:22] fritzo commented on #583
@yhalk that's a great question. I've added some [gradient monitoring code](https://github.com/uber/pyro/blob/df2d171de1ce70848b0e1c92624fe783c428deb6/tutorial/source/gmm.ipynb) to the GMM tutorial in #907. I hope that helps.

[2018-03-20 11:18] yhalk commented on #583
@fritzo @martinjankowiak Thank you both for your answers - I greatly appreciate the help!

Regarding the gradient monitoring code in #907 why do you use norm().item() ? I am getting a Variable there and had to use .data to access the gradient value.

Thanks again!

[2018-03-20 17:00] jpchen commented on #583
in pytorch 0.4 (master) `.item()` serves the same purpose as `.data()`

[2018-03-20 17:01] #749 closed

[2018-03-20 17:40] fritzo opened #910 "Allow configurable error-checking level"
As of https://github.com/pytorch/pytorch/pull/5358 PyTorch supports globally configurable error checking of distribution parameters via `Distribution.set_default_validate_args(-)`. It would be helpful (e.g in diagnosing #875) if Pyro similarly had a globally configuration function like `pyro.set_validation_level(-)` to throttle model/guide sanity checks (`check_model_guide_match`, `check_site_shap

[2018-03-20 20:52] fritzo commented on #910
@jpchen @neerajprad Which do you think is cleanest?
1.  Separate validation toggles
[code]
2.  A combined validation knob
[code]
3. Per-module validation toggles
[code]
4. Something else?

[2018-03-20 21:07] neerajprad commented on #910
I am more in favor of `2`, since you would typically interact with all three at the same time, unless there is a strong need to toggle one and not the other.

[2018-03-20 21:17] eb8680 commented on #910
I'd vote for implementing 2 on top of 3

[2018-03-20 21:22] jpchen commented on #910
im ok with 2 if we can replace the number with an enum or something descriptive like `pyro.set_validation_level('all')`

[2018-03-21 00:46] neerajprad opened #912 "Test failure of enum-parallel gradients after PyTorch #5776"
With the latest pytorch master, many parallel enum tests in `test_enum` are failing due to mismatch in the gradient computation.

To replicate, checkout the commit `5fa3aac610ee234338dbc11eb5b6d4a133cb483d` in PyTorch master (https://github.com/pytorch/pytorch/pull/5776), build PyTorch and run these tests
[code]
Example of a failing test - `test_elbo_iarange_iarange  2-2-None-None-parallel-None`.

[2018-03-21 04:57] #897 closed

[2018-03-21 04:59] fritzo commented on #897
This is next on our list, an `ADVINeuralNormal` or similar.

[2018-03-21 13:16] yhalk commented on #583
@jpchen Thank you!

[2018-03-21 14:39] cpuhrsch commented on #912
Hey @neerajprad, thank you for your post, I'm looking into this now.

[2018-03-21 16:54] cpuhrsch commented on #912
I found the bug, I'll send a patch soon.

[2018-03-21 17:52] neerajprad commented on #912
Thanks, @cpuhrsch! Curious to see where the bug was.

[2018-03-21 20:30] cpuhrsch commented on #912
@neerajprad please see PR https://github.com/pytorch/pytorch/pull/5926

[2018-03-21 23:41] fehiepsi commented on #583
Hi @jpchen, can we reopen this? The topic's question is still not yet solved. When we have MAP inference, I will make a pull request to address it (together with Laplace inference) following @fritzo's suggestion at https://github.com/uber/pyro/issues/583#issuecomment-348339390

[2018-03-22 01:35] karalets opened #915 "Dependent Enumeration"
We have been discussing with @fritzo about getting a version of enumeration working that can do dependent variables, such as in an HMM. It seems that the current enumeration routines are pretty close to what is needed and this should be doable.

Also, @ngoodman had an example he has been using for how he solved that in webppl.
It would be nice to take inspiration from that functionality for pyro.

[2018-03-22 01:47] eb8680 commented on #915
Can you be clearer about your goal?  The examples you cited are about incorporating intermediate constraints into enumeration so that partial traces that do not satisfy those intermediate constraints are not explored further.  See #772 for an implementation of a more advanced model from DIPPL that uses the same idea in sequential enumeration.

[2018-03-22 18:36] fritzo commented on #915
I believe @karalets wants enumeration to work in models with Markov structure. Currently enumeration is exponentially expensive in the number of enumerated variables. For example in this HMM with Gaussian observations
[code]
I believe Pyro will currently perform exact Baum-Welch but at exponential cost.

[2018-03-22 22:08] #847 closed

[2018-03-22 23:17] neerajprad commented on #638
Closing this.

@jpchen - Regarding tutorial versioning, I suppose that we ended up deciding to just support the release branch for the tutorials, right?

[2018-03-22 23:17] #638 closed

[2018-03-23 03:58] fehiepsi commented on #814
Didn't notice this thread. The tutorial will be greatly helpful! I have to spend a few days to work with Pyro distribution shape semantics and still not sure I make things right. :(

[2018-03-23 04:53] jpchen commented on #638
unless theres a compelling reason to support old versions in tutorials, i think thats a safe bet

[2018-03-23 17:29] neerajprad opened #921 "Including build metadata for Pyro versioning"
@fritzo suggested that it might be a good idea to include build metadata in Pyro version, as PyTorch does. This will easily help pin the Pyro version used, say in jupyter notebook, by running `pyro.__version__` at the top of the file.

A reasonable format for this could be what we already have, plus some other information, that follows the [semantic versioning](https://semver.org/) specs. In parti

[2018-03-23 17:32] neerajprad commented on #921
cc. @fritzo, @jpchen.

[2018-03-23 18:56] fehiepsi commented on #832
Just want to leave a message here for interested persons:

After working on implementing various likelihoods, I think that I have got a better understanding of GP. As a consequence, I can see that implementing MCMC version for GP, GPLVM, supporting deep GP are quite straightforward with some minor changes to GP models' API. So I decide to refactor GP module a bit to support these features before w

[2018-03-23 19:04] eb8680 commented on #832
@fehiepsi do you mean you're implementing those features now or just refactoring the GP API to support implementing them in the future?

[2018-03-23 19:51] fehiepsi commented on #832
@eb8680 At least for MCMC and deep GP, I think that we don't need to implement. It is enough to support them and give examples in tutorials:
+ MCMC: HMC will run on e.g. `gpr.model()`, and after collecting samples from HMC, we use `gpr.kernel.fix_param(...)` to set parameters before inference `gpr.forward(Xnew)`. We don't need to make separate models like GPMC or SGPMC as in GPflow.

+ For deep GP

[2018-03-24 18:57] fritzo commented on #912
Fixed upstream by pytorch/pytorch#5926 and in Pyro by #917.

[2018-03-24 18:57] #912 closed

[2018-03-24 21:02] fritzo commented on #921
@jpchen What do you think? I think this would be useful for two reasons:
- Users could paste a useful `pyro.__version__` in github issues
- We could add a version header to the top of all internal notebooks (e.g. our pyro_model.ipynb):
[code]

[2018-03-25 05:56] neerajprad opened #927 "GP tutorial failing distributions argument validation check"
From #922, `gp.ipynb` fails when we run pyro with distributions argument validation enabled as the `Kfdiag` term can be negative for some indices resulting in us passing a negative value for variance for Normal. Let us fix this and re-enable the `pyro.set_validation(True)` statement for the tutorial.

[2018-03-25 05:56] neerajprad commented on #927
cc. @fehiepsi

[2018-03-25 06:05] jpchen commented on #921
this is a great idea! ive personally found it cumbersome to check which pyro version im using since they all default to the latest release tag. for some of your specific suggestions:

why is this needed? cant all that information be inferred from the semver version? seems like these prerelease tags are informal and dont convey additional information

i would prefer not to have this since it overlo

[2018-03-25 07:17] fehiepsi commented on #927
Confirmed. I printed the min value of Kfdiag and saw that the tutorial throw many (small ~ -1e-6) negative values. This should be related to a precision issue.

[2018-03-25 17:36] neerajprad commented on #927
@fehiepsi pointed out that this is a precision related issue, and goes away once we increase the value of `jitter`.

[2018-03-25 17:36] #927 closed

[2018-03-25 18:09] fritzo opened #928 "Update PyTorch version to use .arg_constraints"
Two upstream PRs merged this morning, one of which fixes the xfail added in #922:
- https://github.com/pytorch/pytorch/pull/5989 fixes `TransformedDistribution.params` and renames `.params` to `.arg_constraints`
- https://github.com/pytorch/pytorch/pull/5988 adds `MultivariateNormal.mean`, `.variance`, so we can remove our wrapper in pyro/distributions/torch.py

Let's update Pyro asap to the lates

[2018-03-26 04:13] neerajprad commented on #928
The context manager is needed so as not to spend a lot of time doing argument validation (only for expensive NUTS/HMC tests). SVI does not need this.

[2018-03-26 15:55] martinjankowiak opened #930 "Update tutorials/examples"
we're collecting some best practices for tutorial/example rewrites in the main body of this issue. stay tuned for refinements! feel free to add stuff and refine.

## Pyro stuff
- make sure you have `pyro.enable_validation(True)` and `smoke_test = ('CI' in os.environ)` somewhere at the top
- no need to specify `requires_grad=True` in `pyro.param`
- use Pyro constraint constructs, e.g. `pyro.param(.

[2018-03-26 16:29] fritzo opened #931 "Dev docs are broken on pyro.ai"
Currently this page is blank http://docs.pyro.ai/en/dev/primitives.html
even though docs correctly build locally.

[2018-03-26 16:30] fritzo commented on #931
@jpchen Do you think this could be a pytorch wheel mismatch when docs are built?

[2018-03-26 16:49] #910 closed

[2018-03-26 18:03] neerajprad commented on #921
I agree. There is not much information in there except, "this is an alpha release. we might break semantic versioning compatibility from time to time" :). I am fine with skipping this, and the pytorch sha id too.

[2018-03-26 18:11] jpchen commented on #931
the logs confirm your hunch, we need to upgrade to the new pytorch wheel. @neerajprad did you bake a new wheel we can use?

[2018-03-26 18:21] eb8680 commented on #930
Should we try to standardize the code style and idioms in core Pyro anchor examples/tutorials?  That is, should we make the same choices throughout about things like using `pyro.condition` vs `pyro.observe` or `pyro.sample(..., obs=...)`, writing models as `nn.Module`s with `model` and `guide` methods vs separate functions, etc.?

[2018-03-26 18:22] fritzo commented on #921
I believe the pre-release tag is needed for correct partial-ordering of versions.

I'm currently favoring the following semver-compliant version format:
[code]
This includes three parts:
- release major.minor.patch
- `-a0` indicates that this is pre-0.2.0 release (and will be removed after 0.2 release)
- `+72e07e20` indicates the sha1 hash of the Pyro git version

It seems clearer to me to name to

[2018-03-26 18:25] fritzo commented on #931
@neerajprad IIRC we use some special grepping to pull out the blessed commit from README.md when we build a docker or something. Can we use the same technique to automatically grab the latest wheel when generating docs on readthedocs (inside JP's doc generation script)?

[2018-03-26 18:29] martinjankowiak commented on #930
maybe some things could be fruitfully standardized but in my opinion the two particular things you mentioned should be allowed to vary from case to case

[2018-03-26 18:30] fritzo commented on #930
Re: `pyro.observe` we might be better off removing it before 0.2 release; I've added this to the renaming issue #827.

[2018-03-26 21:40] neerajprad commented on #931
Could you point me to the code that does this? Can we just run `bash scripts/install_pytorch.sh` to install pytorch (that would do the grepping)?

[2018-03-26 23:04] neerajprad commented on #844
Closing this. Will create separate tasks for profiling specific models, as needed.

[2018-03-26 23:04] #844 closed

[2018-03-26 23:08] neerajprad commented on #921
I was under the impression that we were using `0.x.x` to denote that this is pre-release. Not that I mind this additional indirection. :)

[2018-03-26 23:13] neerajprad commented on #921
That sounds reasonable. We will still continue to retain `a0` once we start using PyTorch 0.4 release officially, right?

[2018-03-26 23:14] fritzo commented on #921
By pre-release I mean "code just before release x.y.z". We've already had a 0.1.2 release. We have not yet had a 0.2.0 release. Pyro codebase is now closer to the planned 0.2.0 release than it is to the previous 0.1.2 release. I think it is confusing that `pyro.__version__` in dev is still the string release string '0.1.2'. I think it would be easier to understand if we set `pyro.__version__` to 0

[2018-03-26 23:15] fritzo commented on #921
We will drop the `-a0` when we release.

[2018-03-26 23:18] neerajprad commented on #921
Okay, that clarifies in what context `a0` is being used, and sounds very reasonable. I was confused because PyTorch retains `a0` throughout, even for officially released versions on pytorch.org.

[2018-03-26 23:53] fehiepsi commented on #930
@martinjankowiak As pointed out by @neerajprad , `.data` is similar `.detach()` (confirmed by Adam Paske that they are very similar except some additional checks in `.detach()`). Some minor things (numpy-ic) are we can use `.shape` and `.reshape(...)` now.

[2018-03-27 02:18] #928 closed

[2018-03-27 02:21] fritzo commented on #875
Closing after #922. You can now `pyro.set_validation(True)` to catch this sort of error.

[2018-03-27 02:21] #875 closed

[2018-03-27 22:49] #816 closed

[2018-03-27 22:54] neerajprad opened #942 "Empirical distribution for MCMC"
As sketched in #655 (but not merged), this is to have an empirical distribution with a limited scope (mentioned below). Amongst other possible use cases, this will be useful as a convenience utility for MCMC algorithms. For instance, to not require end users to have to manipulate traces. e.g. from HMC tests:

[code]

 - The aim is to hold a collection of data, and assess the statistical properties

[2018-03-27 23:02] fritzo commented on #942
@eb8680 Would this help at all with our factor graph work #915 ? E.g. we could construct a set of Histograms, each marginalized down to a single site?

[2018-03-27 23:21] eb8680 commented on #942
Yeah, I was just talking to @neerajprad about this since I was working on something similar this afternoon.  We should add a section to the design doc for it.

[2018-03-27 23:57] neerajprad commented on #942
Sounds great! Lets sync up on this.

[2018-03-28 00:46] fritzo commented on #931
Thanks for fixing this, @jpchen

[2018-03-28 00:46] #931 closed

[2018-03-28 16:15] fritzo opened #944 "Update to latest PyTorch which does type inference in torch.tensor()"
As of https://github.com/pytorch/pytorch/pull/5997, `torch.tensor` cares about whether its args are floats or ints:
[code]
This violates our assumptions in both testing and initialization.

[2018-03-28 20:39] neerajprad commented on #944
The bigger problem that I see is that it does not do any type casting when you would expect it to. See below.

[code]

Or, even int to long:
[code]

This could require a lot of changes in the code, but before undertaking that, is this really the designated behavior for the next release?

[2018-03-28 20:45] fritzo commented on #944
@gchanan Has PyTorch casting behavior settled down to the point where we should update Pyro, or should we hold off for a week? (Thanks for the heads up BTW!)

[2018-03-28 21:04] neerajprad commented on #944
From @colesbury on slack:

I suppose I noticed this now because a lot of our tensors are now getting converted to long instead of floats.

[2018-03-28 21:10] katherine-h opened #946 "Add error for incomplete enumeration specification"
To enumerate over discrete variables, it's necessary both to supply the argument `enum_discrete=True` to `SVI`, and to mark discrete samples using `infer = {"enumerate": "sequential"}` (or, equivalently, wrap the guide in `config_enumerate`). However, I noticed that the model runs (albeit without enumeration) if one marks `enum_discrete=True` but neglects to mark the samples. I believe this should

[2018-03-28 21:25] eb8680 commented on #946
The current behavior is by design, since there are cases where we'd like to be able to enumerate some variables and sample others, even if they could be enumerated.  It might be a good idea add a warning to go along with the default behavior, though.

[2018-03-28 21:28] gchanan commented on #944
@fritzo @neerajprad there are a few different things going on here:
1) type inference: `torch.tensor` and `variable` now do type inference based on the data, like `np.array` does; this is probably what @neerajprad is referring to and we aren't planning to make any changes there.  See PR: https://github.com/pytorch/pytorch/pull/5997
2) type casting: @apaszke is working on this over in PR: https://g

[2018-03-28 21:31] neerajprad commented on #944
Thanks, @gchanan! Looking forward to seeing https://github.com/pytorch/pytorch/pull/5864 in master.

[2018-03-28 21:34] #921 closed

[2018-03-28 21:35] neerajprad commented on #946
+1. I think @rohitsingh0812 was also confused about this behavior. We should include a warning specially with `pyro.set_validation(True)`.

[2018-03-28 21:35] #876 closed

[2018-03-28 21:37] gchanan commented on #944
For fixing 1., if you want a tensor of the default (floating) type, make sure the data has a floating element, i.e. do torch.tensor(1.) instead of torch.tensor(1).

[2018-03-28 21:42] neerajprad commented on #944
Thanks, @gchanan. We were planning to do exactly that. We have a bunch of tensors which were earlier `float` but are now being inferred as `long` without the `.`.

[2018-03-28 21:54] katherine-h commented on #946
@eb8680 Yes, I understand, but it seems like it should check that there's at least one instance of a sample marked for enumeration.

[2018-03-29 04:57] fritzo commented on #946
I think it would be helpful to warn in all potentially mismatched cases:
- when `enum_discrete=True` but no sites are marked for enumeration
- when `enum_discrete=False` but some sites are marked for enumeration

Also @eb8680 suggested revising the `SVI` interface and @jpchen suggested renaming `config_enumerate` to `mark_sites_for_enumeration`, both of which should avoid confusion.

[2018-03-29 19:34] neerajprad opened #953 "Tests failing on PyTorch master"
The following tests (list may increase) fail on PyTorch master, which seem unrelated to tensor casting issue in #944. I encountered these while fixing the tensor casting issues in #952. Easy way to replicate this would be to run `bash scripts/install_pytorch.sh` with commit `2df578a` --> `1807bac` in README.md\*. I might skip these for the time being.

 - [x] `bayesian_regression.py` - `RuntimeErr

[2018-03-30 00:51] fehiepsi commented on #930
Related to Pytorch: `new()` is legacy, use `new_empty()` for the old behavior. To create a new tensor with the same data type, gpu device, use `.new_tensor(...)` like `torch.tensor(...)`.

[2018-03-30 00:57] martinjankowiak commented on #930
@fehiepsi if you have suggested best practices, please put them in main text at the top of the issue under the correct heading

[2018-03-30 01:01] fehiepsi commented on #930
@martinjankowiak I don't have the privilege to edit.

[2018-03-30 01:05] martinjankowiak commented on #930
haha whoops, sorry, i didn't realize that, never mind

[2018-03-30 01:11] jpchen commented on #930
@fehiepsi i gave you edit permissions

[2018-03-30 05:44] #944 closed

[2018-03-30 06:27] colesbury commented on #953
I think these lines trigger the "requires_grad flags" issue:

https://github.com/uber/pyro/blob/de50a8ee5854c4f00f37cbd851b536b8fbfe2151/examples/bayesian_regression.py#L76

https://github.com/uber/pyro/blob/de50a8ee5854c4f00f37cbd851b536b8fbfe2151/examples/bayesian_regression.py#L79

The issue is that w_mu is that the `type_as` comes after the requires_grad assignment, so w_mu is no longer a leaf

[2018-03-30 06:30] fritzo commented on #953
I've been seeing spurrious failures in gp.ipynb. Are the random seeds being fixed? @fehiepsi any ideas? https://travis-ci.org/uber/pyro/jobs/360155682

[2018-03-30 06:43] neerajprad commented on #953
I restarted the run, but I noticed it too. The issue is that the constraint checking complains that the precision matrix has invalid values, but the constructor was called without the precision matrix in the first place. I think it may have to do with the `precision_matrix` being lazy loading. The other thing is that `validate_args` is reversing all the gains by actually eagerly initializing all o

[2018-03-30 06:45] neerajprad commented on #953
Thanks for explaining, @colesbury. That makes it super clear what's happening! cc. @jpchen.

[2018-03-30 06:52] neerajprad commented on #953
@fritzo - #956 temporarily disables smoke test on the gp tutorial, until we investigate and fix that upstream.

[2018-03-30 07:10] neerajprad opened #957 "Store all tutorial specific datasets in S3"
Since we have an S3 bucket dedicated to Pyro, we should host all our tutorials/examples datasets there so that we do not have to query external (often academic) servers, specially for CI. This should be much faster too.

[2018-03-30 09:17] yhalk opened #958 "Tutorial on custom loss SVI"
Hi all,

I have been trying to write a custom loss function (essentially ELBO with an extra regularizer) to use with SVI. Which class should it inherit from and what methods should it include?

So far I've tried inheriting nn.Module and including an init() and forward() class but I cannot get it to work.What should be the arguments to the loss function? Model, guide and the data?

Thank you in adv

[2018-03-30 10:02] fehiepsi commented on #953
@fritzo @neerajprad I run the notebook locally and was able to reproduce the issue. That covariance matrix is 100x100 dimensional and positive definite (after checking with `torch.symeig`) but its inverse (precision matrix) is not positive definite. Its smallest eigenvalue is about -0.2, all other eigenvalues are positive. I made a notebook to observe the behavior here: https://gist.github.com/feh

[2018-03-30 19:21] yhalk commented on #958
Thanks @martinjankowiak

I want to train a bayesian network for classification and would like to try a weighted sum of two kinds of targets for each training sample: a soft (continuous) and a hard (binary) label. The soft will be used with the ELBO, and I'd like to add a loss (possibly cross entropy) for the binary label. Is it possible?

[2018-03-30 23:09] fritzo opened #963 "Support enumeration of continuous RVs via sampling"
@karalets requests the ability to draw multiple samples from continuous samples sites in guides. This is surprisingly easy to implement on top of Pyro's existing parallel enumeration code. Combined with dynamic programming on the factor graph #915, this may increase accuracy in well-factored models.

Under the hood we could implement an enumerable wrapper class
[code]
Then we could wrap usual `Nor

[2018-03-31 08:24] #814 closed

[2018-04-01 02:58] jpchen opened #964 "latest dev docs broken"
[code]

may possibly be from #961 and/or #951. can we error on these warnings in travis? because the docs build succeeds even if exceptions are thrown.

[2018-04-01 02:59] fritzo commented on #964
:+1: to erroring if doc build fails

[2018-04-01 03:00] fritzo commented on #964
Yes this was from #951. We probably need to add `pip install contextlib2` to the docs build dependency

[2018-04-01 03:56] #964 closed

[2018-04-02 16:03] martinjankowiak commented on #899
@sameerkhurana10
i'm not sure what issue you're running into but i verified that this works in pyro dev. so if you'd like to run the model i suggest you either use pyro dev (see here for installation: https://github.com/uber/pyro/blob/dev/README.md) or wait a few works for the pyro 0.2 release.

[2018-04-02 16:03] #899 closed

[2018-04-02 18:35] PhSteel commented on #34
@fritzo Would love if you could give an example.

[2018-04-02 21:29] katherine-h commented on #930
It's my understanding that in contrast to `iarange`, the distributions from which samples are drawn inside `irange` must have batch_shape = (). It would be useful to note this in the `irange` documentation and/or in tutorials (and also add a warning).

[2018-04-02 23:25] fritzo commented on #34
@PhSteel here's an example with a batch of time series with different lengths. I haven't tried to run it.
[code]

[2018-04-03 00:13] neerajprad commented on #793
@fritzo - We can use the install scripts from #898 for CPU. For GPU, docker images can still be built using the included docker files, but due to their large sizes (more than 5 gigs), it will be tough to maintain and host them.

[2018-04-03 00:13] #815 closed

[2018-04-03 00:14] #726 closed

[2018-04-03 00:17] neerajprad commented on #788
Closing this. @sameerkhurana10 - if you are not using a gpu, you can install a recent version of PyTorch using `bash scripts/install_pytorch.sh`, which should work with Pyro's `dev` branch. Let us reopen this issue if you continue to see any issues.

[2018-04-03 00:17] #788 closed

[2018-04-03 00:17] neerajprad commented on #802
This was fixed. Closing.

[2018-04-03 00:17] #802 closed

[2018-04-03 01:06] #942 closed

[2018-04-04 18:13] slaweku opened #973 "Feature request: display ADVI params"
Hi,
When using ADVI guide, it is possible to print nicely a sample of the model parameters, with e.g.
print(advi.guide(y))
Pyro's param store contains advi_loc and advi_scale/advi_scale_tril, but it is not clear which parameter refers to which index of these vectors/arrays and, from what I understand, these are unrestricted params, not my models restricted params I care about.
So, I would like to

[2018-04-04 18:16] fritzo commented on #973
I think the easiest interface would be to expose quantiles, e.g. `.median()`. Some of these parameters are transformed, and it's not obvious how to interpret e.g. the variance of a normal distribution that is then transformed via sigmoid transoform to lie in `[0,1]`. I'll expose `.median()` first.

[2018-04-04 22:55] #973 closed

[2018-04-05 17:29] #953 closed

[2018-04-05 23:57] neerajprad commented on #877
One issue that I see is that the weights and biases are positive in the model, but can be negative in the guide which will give NaNs when you try to compute the log pdf.

Below is your example modified so that this doesn't happen (could be buggy), which gives results close to Stan. Alternatively, you can use HMC (as in Stan) to do exact inference and not have to specify the guide.

[code]

[code]

[2018-04-05 23:57] #877 closed

[2018-04-06 23:08] jthsieh opened #977 "Attend, Infer, Repeat: fuzzy output"
Thanks for providing the AIR tutorial!
I followed the AIR tutorial and tried implementing a simpler model. I fix the number of digits to 2, so I don't need `z_pres` and `baseline`. I'm able to get really good results. The digits are very well separated and the digit locations look accurate. However, the output images are a little fuzzy and dim.

Input:
<img width="67" alt="screen shot 2018-04-06 a

[2018-04-07 00:15] eb8680 commented on #977
cc @null-a

[2018-04-07 00:57] neerajprad opened #979 "HMC/NUTS Tutorial and Example"
Let us have a tutorial and example that uses HMC / NUTS. Right now, the only way to see working examples is looking at the tests.

- [x] Example (#1080 )
- [ ] Tutorial

[2018-04-07 01:06] neerajprad opened #980 "Better code organization and removing circular imports"
- [ ] Remove circular imports from modules.
 - [ ] Better organization of utilities - move common utilities used across modules into its own module.

Other related tasks - #827, #930

[2018-04-07 01:34] fritzo opened #981 "Remove circular dependencies before 0.2 release"
Proposed module organization to avoid circular dependencies:
1. avoid importing `a/b/__init__.py` from any sibling module `a/b/c.py`
2. try to maintain the following low-to-high level import order:
  `distributions < param < { poutine, ops, nn } < pyro < infer < contrib`
3. avoid explicit mutual imports between pairs of modules.

[2018-04-07 03:17] fehiepsi opened #982 "inconsistent BO tutorial related to Pytorch performance changes"
While working on BO tutorial, some performance commits from Pytorch such as https://github.com/pytorch/pytorch/pull/6078 https://github.com/pytorch/pytorch/pull/6026 made the results a little bit different (optimizers found different local minima). So it is necessary to rerun the tutorial when pytorch 0.4 releases. This issue is made to remind me doing it.

[2018-04-07 03:29] fritzo opened #983 "Add a pyro.isection() context to specify independence"
This issue proposes a new syntax to specify independence among parts of a program. The proposed syntax `pyro.isection` is similar to the `#pragma omp parallel section` primitive to declare computational independence in OpenMP ([example](http://jakascorner.com/blog/2016/05/omp-sections.html)).

## Motivation
Consider the following dangerous pair of enumerated `iarange`s.
[code]
In the presence of `

[2018-04-07 03:33] fritzo commented on #983
@martinjankowiak This seems pretty palatable to me. If we implement this, I think it's safe to raise errors rather than warn when enumeration is unsafe.

[2018-04-07 03:58] martinjankowiak commented on #983
dunno about the name but yeah something like that could be good... i suggested broadly similar things in prehistorical time (#172 )

[2018-04-08 17:35] fritzo opened #988 "Support Distribution-valued observations?"
What would it take to support `Distribution`-valued observations in `pyro.sample()` statements? The idea is to Rao-Blackwellize by interpreting observe statements with distribution-valued observations
[code]
as inducing a `log_prob` term equal to `-KL(obs, dist)`
[code]
This should be equivalent to but lower-variance than the current entirely-stochastic version
[code]
In this interpretation, we ca

[2018-04-08 18:44] martinjankowiak commented on #988
hmm, this is interesting... though seems a bit strange/unidiomatic to me?
how does this interact with trace/replay?

in any case, one still has the fundamental issue that the existence of a particular analytic kl isn't a sufficient condition to integrate out a given random variable. of course one could decide that that issue is of lesser importance

[2018-04-08 20:00] eb8680 commented on #988
This is a little strange to me, especially outside the context of SVI, although that doesn't mean there's not a sound probabilistic interpretation - I guess it's like saying inference is computing a conditional expectation with respect to those random variables, rather than just a posterior distribution?

Isn't the simplest/most obvious SVI use case (analytic KL between prior and guide) easier to

[2018-04-08 23:39] eb8680 commented on #988
I think the use case you proposed is different and interesting enough that we can keep it open for more discussion.  We can create a different issue for the simpler use case if you want.

[2018-04-09 14:41] null-a commented on #977
Do you think these are fuzzier/dimmer than the [reconstructions shown](http://pyro.ai/examples/_static/img/air/reconstructions.png) in the tutorial? If so that seems to rule out the ELBO and likelihood, and suggests your implementation maybe doing something different? Or could it be as simple as optimisation needs to run for longer?

IIRC that's the approach described in the paper, and I was tryin

[2018-04-10 03:53] jthsieh commented on #977
Thank you! The quality indeed gets better the longer I run, so I'll leave it at that.

One more question (sorry I'm new to pyro). I'd like to add a loss term in addition to ELBO, for example L2 norm on some latent variables, or even a discriminator. How can I do that?

[2018-04-10 04:26] fritzo commented on #621
@jpchen @neerajprad do you have any opinions on package naming?

[2018-04-10 04:44] jpchen commented on #621
this reminds me of a recent forum post with the same problem. not particularly opinionated as to the package namespace, but something like `pyro.examples.data_loader` or `pyro.examples.visualization` makes sense to me. what do you think?

[2018-04-10 04:54] neerajprad commented on #621
The names sound fine to me. Longer term, another thing to possibly explore would be separating out the examples as its own package. This will be useful if we have examples that have heavy dependencies like `pandas`, `sklearn` etc. that we don't want the core to inherit. I think PyTorch has a similar approach.

Right now, we are kind of doing that (probably accidentally?) except that everything is

[2018-04-10 09:28] fehiepsi opened #995 "Learn pyro.module's parameters outside model/guide"
At the current state, `pyro.optim` just learns parameters of an nn.Module if it is registered by `pyro.module` inside model/guide pair. It would be nice if we can do something like this:

[code]

At the current state, we have to do as follows
[code]

[2018-04-10 14:52] null-a commented on #977
No problem, that's great to hear.

I'm afraid I don't know how best to do this either, but hopefully someone more knowledgeable will chime in and point you in the right direction.

[2018-04-10 17:09] fehiepsi opened #999 "Consistence pyro.poutine.scale"
It would be nice if we support the old version of `poutine.scale` which takes arguments: a stochastic function and a scale factor. The current behavior returns a Messenger, which is
+ different to other `poutine.foo` functions
+ inconsistent with `poutine.scale` docs

I propose that we use `poutine.scale` for the old behavior and `poutine.scale_msg` (e.g.) for the messenger.

[2018-04-10 17:18] fritzo commented on #999
Do you have a use case for the `poutine.scale(fn, scale)` form? Could you give some example usage?

[2018-04-10 18:20] fehiepsi commented on #999
@fritzo An example for it is at https://github.com/fehiepsi/pyro/blob/825794e20ba8017db2b281911e013eb00e2162e4/examples/contrib/gp/sv-dkl.py#L105.
Of course, we can wrap gpmodel.model, gpmodel.guide with a model function and a guide function, which we can call `with messenger`... but it is a bit verbose to me ^^!

In case we keep `poutine.scale` as a messenger, then we should update its docs. Even

[2018-04-10 18:36] eb8680 commented on #999
I don't have a problem with reinstating `poutine.scale(fn, scale)` per se, but I'm not sure about the usage in that example (which I haven't looked at in detail).  Is the scaling necessary for training the neural network?

[2018-04-10 18:44] eb8680 commented on #995
Hmm, I'm not sure about having an inference algorithm update parameters that never appear in `param` statements in its model.  In the example snippet, why not just lift the `Module` with `lambda`?: `lambda x: pyro.module("net", net)(x)`

[2018-04-10 18:48] fritzo commented on #999
Hmm my original motivation for making `poutine.scale` a messenger is that I found the syntax
[code]
more readable for beginning users than the older
[code]
Is there any other way we can avoid the stray `None`s in 90% of use cases? E.g. maybe we can implement a decorator interface for messengers?
[code]
Then we write `poutine.scale(1/1000)(model)` and still have nice `with poutine.scale(1/1000)` sy

[2018-04-10 18:59] eb8680 commented on #999
I've been contemplating making this interface change for all of `poutine`, but it would break a lot of internal and external code.  Thoughts?

[2018-04-10 19:10] fritzo commented on #999
Now is the time to make that change, if we ever want to make it :smile:

If we really want to maintain backward compatibility for a while we could combine it with a library name change like `poutine` -> `effects`
[code]

[2018-04-10 19:12] fehiepsi commented on #995
This is useful when we build a model which does not know ahead its name and its type. Of course, we can use `if else` to handle function/nn.Module but don't you think that it is too verbose?

[2018-04-10 19:18] eb8680 commented on #995
But in that case you should be able to use the `lambda` pattern I suggested, no `if`/`else` required

[2018-04-10 19:28] fehiepsi commented on #995
Yeah, you save my day! :D I spent a lot of time to debug codes before recognizing that svi does not learn params outside of its scope and ended with that pull request... Thanks!

[2018-04-10 19:28] #995 closed

[2018-04-10 23:54] #621 closed

[2018-04-11 01:30] fritzo opened #1003 "poutine.block is thwarted by _DIM_ALLOCATOR global state"
## Desired behavior

Any submodel can be run inside a Pyro model by using `poutine.block`. These submodels should have no side effects.

## Actual behavior

Submodels may modify the `_DIM_ALLOCATOR`. This is problematic in composite ADVI where two ADVI strategies gather different traces which allocate duplicate dimensions for a shared iarange. See #1002 .

[2018-04-11 01:32] fritzo commented on #1003
@eb8680 I've gotten myself into a mess of side effects here. Can you help me get out?

[2018-04-11 02:01] fritzo commented on #1003
Hmm it turns out our issue was unrelated, but we saw tests failing due to `_DIM_ALLOCATOR` global state that had been left dirty by previous failing tests. Not sure whether this issue is really a bug...

[2018-04-11 03:43] fehiepsi commented on #980
Some of my thoughts on this :)
+ move ops to mcmc.util
+ move nn to a better place
+ move memoize from pyro.util to pyro.infer.util
+ move pyro.shim back to pyro.util

[2018-04-11 04:27] eb8680 commented on #1003
Strange, this should be handled by `iarange.__exit__`.  I thought I knew what was causing this but I think I was wrong, I'll investigate further.

[2018-04-11 04:48] fritzo commented on #1003
To give more context: `_DIM_ALLOCATOR` was left in a dirty state after an error occurred *inside* the `iarange.__enter__()` method. Here is the stack trace

<details>

[code]
</details>

[2018-04-11 07:36] eb8680 commented on #1003
Seems like the solution is to wrap the rest of `iarange.__enter__` and call `_DIM_ALLOCATOR.free` before propagating the exception further.

[2018-04-11 19:54] eb8680 opened #1010 "Docker build with Pyro dev, PyTorch master, and Python 2.7 fails"
I was trying to build a Docker image from our dockerfile using `make build pyro_branch=dev pytorch_branch=master python_version=2.7` and got the following error:
[code]

[2018-04-11 20:13] neerajprad commented on #1010
I think the scripts possibly need updating to include `mkl-devel` but this look unrelated. Will investigate and push out a fix.

[2018-04-11 23:41] neerajprad opened #1013 "Create tests to ensure that Dockerfile is up to date"
Due to the frequently changing build process for PyTorch, our DockerFile is likely to go out of date. Let us have a cron job that runs daily (or weekly) to alert us when this happens.

[2018-04-12 03:55] fritzo opened #1014 "Deprecate "ELBO" arg to SVI; require object instead"
(pulled out of #827)

@eb8680 suggested removing the string arg `loss` `SVI.__init__` and instead requiring an `ELBO` object:
[code]

This is advantageous in that it makes it easier for users to implement custom losses, as e.g. requested in #958. This is a huge breaking change that will touch lots of files. It would be nice to finish this before 0.2 release.

## Tasks (in multiple small PRs)

- [x

[2018-04-12 03:56] fritzo commented on #1014
@eb8680 I've assigned this to you since you volunteered at one point; if you're busy I could try to get to it next week.

[2018-04-12 20:08] #1010 closed

[2018-04-12 23:57] #1003 closed

[2018-04-12 23:59] eb8680 commented on #1014
Happy to do this but it's going to cause so many merge conflicts that I'd rather wait until the end of next week

[2018-04-13 00:39] martinjankowiak commented on #1014
we should also consider whether we want to make other changes. for example `step()` could take a `accumulate_only` kwarg (grads aren't zeroed, no step is taken), etc etc. basically things that make it easier to monkey around with the objective function and the way gradients are taken

[2018-04-13 00:54] fritzo commented on #1014
I agree, and let's prioritize *breaking* changes to interface. I'm holding off on non-breaking changes that we can push until after launch, including: exposing a differentiable loss, adding an `accumulate_only` kwarg, etc. Let me know if you see any need for breaking changes.

[2018-04-13 01:05] fehiepsi commented on #1014
I like this for a long time and like the idea of @fritzo at https://github.com/uber/pyro/issues/583#issuecomment-348339390. We can implement `_loss_particle()` and `_loss_and_grads_particle` will calls `backward` on the output of `_loss_particle()`. Inherited custom loss can have benefits from that,

[2018-04-14 18:17] fritzo opened #1026 "Support subsampling in pyro.contrib.autoguide's ADVI"
Blocked by #238

Currently Pyro's ADVI implementations do not support subsampling. @ngoodman points out that this would be easier if `pyro.param` could work inside `pyro.iarange` statements.

[2018-04-17 09:02] fehiepsi commented on #702
Just want to comment that with https://github.com/pytorch/pytorch/pull/6648, we have completed the requirements of this issue. So we can close this when that pull request is merged and we update things to pytorch master.

[2018-04-17 15:06] 1Reinier commented on #675
@fritzo quick question (don't want to reopen this) about broadcasting the PyTorch Multinomial distribution over `total_counts`: if I leave the argument default (meaning == 1), the observe statement will work as expected (even though the counts are different per row?). Thanks!

[2018-04-17 16:27] fritzo commented on #675
@1Reinier Yes `torch.Multinomial(probs=probs).log_prob(counts)` should support heterogeneous counts. We simply haven't implemented a heterogeneous sampler. cc @neerajprad this might be useful since you can use heterogeneous `Multinomial` in observe statements and in HMC.

[2018-04-17 22:44] neerajprad commented on #675
@fritzo - Thanks for pointing this out. This works for the example but is quite a bit slower than using Binomial, unfortunately.

[2018-04-18 00:37] neerajprad opened #1040 "Notebook not running with Pyro docker image"
@jpchen mentioned that there is an issue with recent Docker image where the notebook session cannot be accessed from the browser.

[2018-04-18 00:42] jpchen commented on #1040
thanks for looking into this!

[2018-04-18 01:08] fehiepsi opened #1041 "GP related checklist"
From some discussions in #1039, I would like to make the following (possible) changes before Pyro 0.2 if there is no objection:
- [ ] Rename SparseVariationalGP to VariationalSparseGP
- [ ] Rename SparseMultivariateNormal to LowRankMultivariateNormal
- [ ] Rename GPRegression, SparseGPRegression (cc @martinjankowiak )
- [ ] Rename `approx` argument of SparseGPRegression to `method`.
- [ ] Rename t

[2018-04-18 01:10] fehiepsi commented on #982
Closed in favor of #1041.

[2018-04-18 01:10] #982 closed

[2018-04-18 01:15] fehiepsi commented on #832
Closed due to most targets are more or less completed and @martinjankowiak is revising gp tutorial in #1039. Later changes will be based on users' requests.

[2018-04-18 01:15] #832 closed

[2018-04-18 01:17] fehiepsi commented on #702
Closed because we have gpu `torch.trtrs` in pytorch master now and we don't use `torch.potrs` in GP module.

[2018-04-18 01:17] #702 closed

[2018-04-18 01:40] #1040 closed

[2018-04-18 16:06] martinjankowiak commented on #1041
i don't have strong feelings about most of these but you can probably leave `SparseVariationalGP` as is.
`SparseMultivariateNormal` seems like the one that needs changing most

[2018-04-18 23:48] jpchen opened #1045 "cron perf tests failing"
our cron job which runs the perf tests have failed the last [4 out of 5 times](https://travis-ci.org/uber/pyro/builds). from one job:
[code]
might be a case of just loosening the assertions but it might be worth taking a look at

[2018-04-19 00:02] neerajprad commented on #1045
It's mostly noise :( I think we should just loosen the thresholds, running these perf tests on VMs is going to be noisy. Will resurrect my previous PR.

[2018-04-20 18:40] martinjankowiak commented on #930
@jpchen you're still planning more ss-vae updates right? do you need help?
@eb8680 what's the status on intro i/ii tutorial updates?

[2018-04-20 18:45] jpchen commented on #930
@martinjankowiak yes, ill push a PR later, ive fixed the model sample as we discussed but i havent investigated into newer ways to do the clipped non-linearities

[2018-04-20 21:31] neerajprad opened #1051 "Tests giving incorrect results on CUDA"
I am trying to fix tests that don't work with CUDA..e.g. by adjusting precision, changing functions that do not have CUDA implementations, etc.

Following is a working list of tests that are giving incorrect results, and which seem to have deeper issues:
 - [ ] #1057 `tests/contrib/gp/test_models.py::test_inference` - Results are too inaccurate. cc.@fehiepsi

[2018-04-20 23:02] #827 closed

[2018-04-20 23:03] fritzo commented on #63
RSVI and Sticking the Landing are already in Pyro. I'm closing this issue in favor of more targeted issues.

[2018-04-20 23:03] #63 closed

[2018-04-20 23:07] fritzo commented on #1041
@fehiepsi We're aiming to release mid-week next week.
- :+1: on any renaming you'd like to do
- if you have time to implement `torch.trtrs` by Monday then fine, otherwise it's fine to delay till 0.4.1
- :+1: on ebling validation in bo tutorial
- no need to add a timer before release, i think it's more important to focus on interface

[2018-04-21 03:44] fehiepsi commented on #1051
I will look into this problem now.

[2018-04-21 05:01] neerajprad commented on #1051
Thanks, @fehiepsi!

[2018-04-21 07:15] #1014 closed

[2018-04-22 18:26] fritzo commented on #825
`Search` was removed in #1044 . As I understand, `Search` would be reimplemented as part of this issue.

[2018-04-22 18:29] fritzo commented on #543
@eb8680 @neerajprad Is the `Marginal` interface to add to sphinx docs in our 0.2 release? The docstring could use a bit more detail and an `Example usage::` section.

[2018-04-22 18:30] #592 closed

[2018-04-22 18:53] eb8680 commented on #930
The schelling examples were removed in #1044 and there's not much to do with the language intro tutorials except update them to match #1019

[2018-04-22 19:01] eb8680 commented on #543
`Marginal` is being removed by #1019 which adds `EmpiricalMarginal`, which should be covered in an HMC tutorial.  We can add an example from one of the sampling tests to its docstring as well.

[2018-04-22 19:35] neerajprad commented on #543
@fritzo -  Thanks for the heads up. I'll handle that in the pending PR.

[2018-04-22 20:00] neerajprad opened #1058 "Getting the posterior predictive samples for a model"
Consider a simple model like:

[code]

I have collected some samples into an empirical distribution and want to look at the posterior predictive distribution. Note that I cannot just look at the marginal distribution for "_RETURN", which is fixed at "obs". One way to do this would be to change the model to:

[code]

This seems somewhat of a hack. Another solution is to use a poutine to convert the

[2018-04-22 20:13] fritzo commented on #1058
Let me see if I've groked @eb8680's approach :smile: Could you `block-trace-replay`?
[code]

[2018-04-22 20:34] neerajprad commented on #1058
@fritzo - I'm not sure if that would work, since the replayed model will still be constrained by the `"obs"` site. I think we need a way to remove the `obs` from the model itself.

[2018-04-22 20:35] eb8680 commented on #1058
@fritzo that's the right idea, except it's the prior predictive!  What you really want to do according to the current API after #1019 is something like this:
[code]
The awkwardness here is exactly the motivation for the new interfaces and behaviors in the design doc.

[2018-04-22 20:49] neerajprad commented on #1058
To make it a bit more pleasant looking, we can change `__call__` to return traces with `obs` sites removed (as per you suggestion in the PR). Still the fact that we need to write our model differently and use `condition` poutine to do some basic checks, seems like an area of improvement for the model specification API. That will need separate explaining to the users.

[2018-04-22 22:55] #1058 closed

[2018-04-22 23:09] jthsieh opened #1059 "Add custom loss"
I've been playing around with Pyro and it has worked pretty well so far. Thanks for providing the tutorials!

My question is that right now, the loss is just ELBO. How do I add additional loss terms besides ELBO? For example, I might want to add an L2 loss term like `loss += lambda * F.mse_loss(x, y)`.

I guess I can probably do the normal procedure:
  `optimizer.zero_grad()`
  `loss.backward()`

[2018-04-23 01:52] fritzo commented on #1059
Hi @jthsieh, currently the best way to specify an additional loss term is to subclass `ELBO`:
[code]
We're looking for ways to make this easier, and we're open to any ideas you may have.

[2018-04-23 02:03] eb8680 commented on #1059
I've made this easier in #1060.  We'll add an example of a custom loss in the upcoming release.

[2018-04-23 02:33] #1051 closed

[2018-04-23 03:15] #977 closed

[2018-04-23 05:03] jthsieh commented on #1059
Another problem is that right now for `svi.step()`, I can't (or I don't know how to) update specific parameters. For example in GANs, I need to update parameters in the discriminator and generator separately. I think for now the easiest and most intuitive way for me is to still do the standard PyTorch `.backward()` and `optimizer.step()` for the additional losses. Several questions about this:

-

[2018-04-23 05:08] jthsieh commented on #958
I'm also trying to add custom losses in addition to ELBO. There are some workarounds right now but it's a bit confusing.

Another problem is that right now for `svi.step()`, I can't (or I don't know how to) update specific parameters. For example in GANs, I need to update parameters in the discriminator and generator separately. I think for now the easiest and most intuitive way for me is to still

[2018-04-23 05:44] fehiepsi commented on #958
@jthsieh SVI will use `SVI.optim` to update parameters of a model/guide trace. You can define another Pyro optim to update whatever parameters you want. You can get these param instances (to feed into Pyro optim) from `pyro.param(param_name).unconstrained()`.

[2018-04-23 05:59] eb8680 commented on #958
@jthsieh the update currently computed by `SVI.step` is very simple: it just applies a PyTorch optimizer to all of the parameters that appear in the loss.

`pyro.optim` is itself just an automated wrapper for `torch.optim` that makes sure optimizer state/hyperparameters and parameters are matched correctly across forward passes, since parameters can potentially appear out of order or not at all de

[2018-04-23 06:07] fehiepsi commented on #958
@jthsieh Please follow @eb8680 's comment. My answer might miss some important aspects.

[2018-04-23 07:48] fritzo opened #1063 "Support PyTorch JIT compilation"
What would it take to support JIT-compilation of an entire `SVI.step()`?

For motivation, consider [a beta bernoulli model](https://forum.pyro.ai/t/comparison-of-beta-bernoulli-process-in-edward-and-pyro/175) which is 10x slower in Pyro than Edward.

## Feasibility

PyTorch `@jit.compile` appears to be functional input->output. Therefore we would need to at least
1. run a warm-up iteration to popu

[2018-04-23 07:55] eb8680 commented on #1063
Are any `torch.distributions` samplers or log-probabilities supported by the JIT at all?  Does the JIT have the same broadcasting semantics?

[2018-04-23 19:25] fritzo opened #1069 "pyro.poutine module is absent from sphinx docs"
For example, there is no documentation for `pyro.poutine.block()`

[2018-04-23 19:27] eb8680 commented on #981
Is there any way to check for circular dependencies automatically?  Can we add that to our CI suite?

[2018-04-23 19:29] fritzo commented on #981
Pycycle seems to say we're clean:
[code]

[2018-04-23 19:35] eb8680 commented on #981
Does that mean this can be closed?

[2018-04-23 19:38] #981 closed

[2018-04-23 21:35] jthsieh commented on #958
Thank you so much for your help, @fehiepsi and @eb8680!! I'm not familiar with `pyro.poutine`, but I'll definitely spend some time learning it.

What I'm doing is similar to a VAE, but I want to try adding a discriminator on top of the output. (By the way, I realized `loss='ELBO'` is deprecated, but I haven't updated Pyro). I feel like my code is pretty simple, so I probably don't need the advance

[2018-04-23 21:43] #1069 closed

[2018-04-23 22:22] jpchen opened #1072 "vae tutorial images do not render in html"
To replicate, run `make html` in the tutorials directory and open the html file.

[2018-04-24 03:41] fritzo commented on #101
Most of these ideas have been incorporated into our testing infra. Closing in favor of more targeted issues.

[2018-04-24 03:41] #101 closed

[2018-04-24 03:43] fritzo commented on #136
This is now possible via `with torch.no_grad()`, which is the default behavior of `svi.loss()` as of #1060.

[2018-04-24 03:43] #136 closed

[2018-04-24 03:44] fritzo commented on #555
@martinjankowiak I totally forgot about this issue; IIRC we wanted to get it in before 0.2. I assume it's now too late, correct?

[2018-04-24 03:46] fritzo commented on #460
@neerajprad Can we close this now that you've added profiling scripts?

[2018-04-24 03:48] fritzo commented on #293
Already implemented upstream.

[2018-04-24 03:48] #293 closed

[2018-04-24 03:48] eb8680 commented on #544
Addressed by #1060

[2018-04-24 03:48] #544 closed

[2018-04-24 03:49] #502 closed

[2018-04-24 03:50] fritzo commented on #263
This has roughly been implemented in the `pyro.contrib.autoguide` module.

[2018-04-24 03:50] #263 closed

[2018-04-24 03:50] #662 closed

[2018-04-24 03:51] fritzo commented on #585
Already addressed.

[2018-04-24 03:51] #585 closed

[2018-04-24 03:51] neerajprad commented on #460
Yes, profiling will always be an ongoing issue. Will create new issues as needed.

[2018-04-24 03:51] #460 closed

[2018-04-24 03:52] eb8680 commented on #20
Closing in favor of more targeted discussion in future

[2018-04-24 03:52] #20 closed

[2018-04-24 03:53] fritzo commented on #793
Closing now that we have CI wheels.

[2018-04-24 03:53] #793 closed

[2018-04-24 03:57] eb8680 commented on #539
@jpchen what's the status of this after #930?

[2018-04-24 03:59] #535 closed

[2018-04-24 04:01] eb8680 commented on #158
I believe #1060 resolves the original issue, and we can discuss scoping elsewhere

[2018-04-24 04:01] #158 closed

[2018-04-24 04:01] jpchen commented on #539
@neerajprad has been working on vae, and if im not mistaken the plots and numbers in the tutorials have been freshly generated #1050 (comment). feel free to reopen if i am mistaken

[2018-04-24 04:01] #539 closed

[2018-04-24 04:04] eb8680 commented on #41
Covered by algorithm-specific issues

[2018-04-24 04:04] #41 closed

[2018-04-24 04:05] #1045 closed

[2018-04-24 11:53] fehiepsi opened #1082 "Make html for tutorial throws many warnings"
Will make a fix for these tutorials soon.

[2018-04-24 12:57] #1082 closed

[2018-04-24 12:57] martinjankowiak commented on #555
well, i'm not sure if there is a clear automagical solution here. or whether a tailored solution is really necessary. for example, if you're worried about big numbers one thing you can do is wrap everything with a scale decorator

`@poutine.scale(scale=0.001)` or `@poutine.scale(scale=1/batch_size)`

[2018-04-24 13:11] null-a opened #1084 "Possible bug in docs"
Should these two `iarange` have different names?

https://github.com/uber/pyro/blob/05e83add8a12b6ebc4bd4ef5846ffd6eb1a326d8/pyro/primitives.py#L230-L231

[2018-04-24 13:14] martinjankowiak commented on #1084
indeed thanks!

[2018-04-24 17:04] #1084 closed

[2018-04-24 17:57] eb8680 commented on #930
Closing now that #1076 is merged, we can follow up in new targeted issues if necessary

[2018-04-24 17:57] #930 closed

[2018-04-24 19:23] #180 closed, assigned to nobody

[2018-04-24 19:26] neerajprad commented on #957
I realized that we are using either PyTorch or observations data loader in our tutorial, and it will be cumbersome to modify the links to these datasets which are internal to the libraries.

[2018-04-24 19:26] #957 closed

[2018-04-24 19:29] neerajprad commented on #634
I think we have a lot of tests for HMC and NUTS already. We can reopen this if we decide to implement MH. Regarding (2), I think we have refactored many of our tests and made them much faster, so let us have a more targeted issue if we want to invest more time in refactoring and unifying these tests.

[2018-04-24 19:29] #634 closed

[2018-04-24 20:21] neerajprad opened #1088 "Update PyTorch builds and run all tests"
- [x] There have been more changes to v0.4.0 PyTorch branch. Update CI wheels and test on mac.
 - [ ] Run cuda tests using the latest changes in the release branch.

[2018-04-24 20:58] fritzo commented on #1088
Should we simply point to the PyTorch wheels now?

[2018-04-24 21:12] neerajprad commented on #1088
We should just do that. If and when we need to track again, we can point back to the install scripts.

[2018-04-24 21:21] #1072 closed, assigned to neerajprad

[2018-04-24 22:54] neerajprad opened #1093 "Future areas of work / improvement for HMC and NUTS"
Please create a separate issue if you are working on a major task (e.g. mass matrix adaptation, or parallel chaining), so that all task specific discussion is contained within that issue.

### Enhancements

**Minor:**
- [x] Deciding on a suitable number of warmup iterations. These are currently taken as input arguments, but `adapt_step_size=True` should have a reasonable default number of warmup i

[2018-04-24 22:54] neerajprad commented on #1093
@fehiepsi - Please feel free to edit / add to these.

[2018-04-25 00:34] #826 closed

[2018-04-25 00:35] fritzo commented on #1088
@neerajprad can you confirm you ran cuda tests so we can close this?

[2018-04-25 00:40] neerajprad commented on #1088
Just one test to go for python 3.5.

[2018-04-25 01:01] #1088 closed

[2018-04-25 01:33] fehiepsi opened #1097 "Pyro examples link to incorrect version."
Pyro examples link http://pyro.ai/examples/ to pytorch-0.3-279-gdafa1ddd while it should be pyro 0.2

In addtion, the format of second paragraph of bo tutorial is not quite right http://pyro.ai/examples/bo.html.

[2018-04-25 01:37] neerajprad commented on #1097
I think @jpchen is fixing 1, but not sure what is up with the format there.

[2018-04-25 01:40] fehiepsi commented on #1097
Ah, the render should be
+ Use the acquisition function to derive the next query point according to ..
+ Evaluate $f(x_{n+1})$ and update the posterior.

But it turns out to be
... + Use the acquisition function to derive the next query point according to ...
`+ Evaluate $f(x_{n+1})$ and update the posterior.`

[2018-04-25 01:43] jpchen commented on #1097
thanks for pointing it out! just fixed it (you might need to clear your cache)

[2018-04-25 01:43] #1097 closed

[2018-04-25 09:12] fehiepsi commented on #1093
@neerajprad How about the ability to set different MCMC algorithms to different variables? This will be helpful when we have Metropolis to deal with discrete variables. I don't figure out how to achieve it yet so can not give an evaluation for its amount of time.

[2018-04-25 11:31] Jakedismo opened #1099 "Error while installing"
[code]
Is this a bug?
Python 3.6.5
Windows 10

[2018-04-25 12:56] nthakor opened #1100 "macOS python 3.6 installation error"
I am trying to upgrade pyro in macOS with python 3.6. I am getting following error.

[code]

[2018-04-25 13:42] fehiepsi commented on #1100
@nthakor It seems that you install Pyro, not `pyro-ppl`. Use `pip install pyro-ppl` instead.

[2018-04-25 13:52] fehiepsi commented on #1099
@Jakedismo I believe this is a pip issue. Could you update your pip then reinstall?

[2018-04-25 14:27] #1100 closed

[2018-04-25 16:43] jpchen commented on #1099
also windows is not an officially supported platform of pyro, i recommend install PuTTY if you are on windows

[2018-04-25 16:47] fritzo commented on #1099
Do we need to pin PyTorch version to `torch>=0.4` in our setup.py?

[2018-04-25 16:49] neerajprad commented on #1093
Added that. I think that will be quite useful, but we will need to implement other MCMC kernels first.

[2018-04-25 23:34] fritzo opened #1106 "Support masked sample statement for batched imputation"
Pyro can currently impute data in sample statements via
[code]
where `x` is either sampled when calling `model()` or observed when calling `model(observed_value)`.

It would be nice if this supported batching, where within a single batch some values are observed and some need to be sampled, say specified by `obs_mask`. Pyro can already handle masked observe statements via `TorchDistribution.mask()

[2018-04-26 11:50] Jakedismo commented on #979
How did you wrangle the example dataset to run this example? Converted the dataframe to an array or columns to tensor variables?

[2018-05-01 05:05] neerajprad commented on #791
I was trying to think about this for a few toy models that I was interested in.

I thought that one way to do this would be to generate a `(num_particles,)` sized additional batch for the topmost nodes (how to identify them ahead of time is another question) in the computation graph, e.g. in the case of the model below, that would be `p`. The remaining nodes in the graph that depend on the top nod

[2018-05-01 13:30] ngoodman commented on #791
Can’t we just wrap the whole elbo sample step in an iarange?

[2018-05-01 16:36] fritzo commented on #791
@neerajprad I believe something like `EnumerateMessenger` will be needed to `.expand_by([num_particles])` at all sample sites that aren't already expanded. This is needed to address  exactly the difficulty you point out: that the only general way to identify sample sites at the top of the compute graph is to look at all sample sites and see whether they have been broadcasted yet. I suggest forking

[2018-05-01 17:54] ngoodman commented on #791
that makes sense fritz. feels like there's something a little janky in our conventions -- maybe all sites should be broadcast? and it would be interesting to understand how hard auto / implicit broadcasting would be.... anyhow, that's a discussion for a different issue.

[2018-05-01 18:09] eb8680 commented on #791
The difficulty in this case is to avoid double-broadcasting, so I'm not sure there's a way around what @fritzo is suggesting.

[2018-05-01 18:09] neerajprad commented on #791
@fritzo - Thanks for the pointers! I might take a stab at this later this week, and book some time with you to pair code, depending on how far I get. :)

I think once we have this, we can also reuse this to do parallel HMC chains with only a minor tweak to the integrator.

With regard to explicit broadcasting via `.expand_by`, I think the issue is just the mental book-keeping you need to do to fig

[2018-05-01 18:39] eb8680 commented on #791
This is what I was going for in #950 and the factor graph design doc, although I didn't quite figure out the bookkeeping then and tried to put too much information into `site["cond_indep_stack"]`.  Basically, you need to open an `iarange` every time you do a new broadcast, and you need to be able to automatically detect when you're outside an `iarange` by looking at the shape of a site.  With thos

[2018-05-01 18:51] neerajprad commented on #791
Thanks @eb8680. I will look at your PR too; are you planning to resurrect it? @fritzo and I were discussing the two ways to do this - one that is outlined above (that I think I have a good handle on), and the other being the approach that you mentioned that uses the `cond_indep_stack`. I still need to stare at the code a bit to fully grok this though. :)

[2018-05-01 19:28] eb8680 commented on #791
I think the difficult part of both is the same - deciding whether a site is outside of an `iarange` based on its shape.  I'd advocate figuring that out and using it to implement the first version, at which point resurrecting the more general/abstract version begun in #950 should be fairly straightforward.

[2018-05-02 17:45] slaweku opened #1113 "Support dynamic learning rate"
Hi,
Pytorch appear to have a capable module for change learning rates while training:
https://pytorch.org/docs/stable/optim.html?highlight=scheduler#how-to-adjust-learning-rate
But it embraces the optimizer and when I try to do e.g.
scheduler = MultiStepLR(optim, milestones=[5,10], gamma=0.1)
I am getting
TypeError: PyroOptim is not an Optimizer

So, I was trying to use something like this:

LR_di

[2018-05-02 17:50] martinjankowiak commented on #1113
thanks, i've been meaning to do this. supporting this will take a little bit of extra engineering in pyro. not very much though so we can try to make the necessary changes within a day or two

[2018-05-02 17:54] slaweku commented on #1113
Thank you!

On Wed, May 2, 2018 at 10:51 AM, martinjankowiak <notifications@github.com>
wrote:

[2018-05-02 22:59] neerajprad opened #1115 "Adjusting the iarange dim allocation scheme"
Currently, our `iarange` dimension allocator assigns dimensions to `iarange` starting from the right - i.e. the outermost `iarange` starts at -1, the next one at -2 and so on. Consider the following code:

[code]

After discussing with @fritzo, @eb8680 and @martinjankowiak, I would like to propose the following change to the `iarange` dimension allocation: when the user specifies `max_iarange_nest

[2018-05-02 23:13] martinjankowiak commented on #1115
questions:
- does implicit broadcasting automatically play nicely with any deterministic computations in between sample statements (assuming said computations broadcast nicely) or would the user need additional (un)squeezes?
- how would this support/complicate implementing something like #671, where we would like to automagically add two sample dimensions that are treated differently when construc

[2018-05-02 23:25] neerajprad commented on #1115
Since the batch shape is completely determined by `iarange` and hence by `max_iarange_nesting`, I cannot think of a situation where the user would have to manually `.unsqueeze` or `.expand_by`.

I don't have full context into this, but you can always wrap the model internals inside an `iarange` of size 2, and treat the sample sites appropriately when you are computing the ELBO; they can be accesse

[2018-05-02 23:42] fritzo commented on #1115
How does this affect model composability? For example suppose I compose a model
[code]
Here `temporal_model` and `spatial_model` are "leaf" models that should act on the rightmost dimensions (the rightmost one and the rightmost two dimensions, resp). That way I can use them independently without any batching.

Now I've built a more complex `model` using these components and batching. Since I know

[2018-05-03 00:43] neerajprad commented on #1115
Since this is only exercised at the time of inference, I don't think it should need any change to the component models. With `max_iarange_nesting=3`, spatial_noise will have shape `(len(videos), 320, 200)`.

Also assume that the user decides to not rely on implicit broadcasting and manually does an expand by in `spatial_model` as `.expand_by([320, 200])`. Then when we are inside the aggregate mode

[2018-05-03 00:47] jpchen commented on #1115
i predict this will be messy to do implicitly without specifying the iarange structure a priori... specifically for fritz's example, it's not apparent to me how to get the batch dimensions for broadcasting without it being explicitly specified (`-3`). but if you're rigorous about adding extra dimensions into the middle of shapes, i think it would preserve the bookkeeping paradigm fritz is talking

[2018-05-03 01:11] neerajprad commented on #1115
We currently need to specify this but we can just use `max_iarange_nesting` (when available) and order them from the left. We shouldn't need any more information than that.

[2018-05-03 01:34] fritzo commented on #1115
It is currently nice that the `iarange` dims inside components do not depend on `max_iarange_nesting`. This allows us to reuse those components in different places without clumsy `.reshape()`ing based on inspecting the `iarange.dim` attribute. It is currently gross that `iarange` dims inside components *do* depend on `iarange`s in wrapping code. Ideally I could write model components that intellig

[2018-05-03 04:58] neerajprad commented on #1115
Good idea, I will move this to a design doc, but I want to keep this issue open for some time because I am finding this useful to just understand the issues raised, and gather some problematic examples that would need to be addressed.

Will sync offline on the issue of composability that you mentioned above.

[2018-05-03 06:13] eb8680 commented on #1115
Agreed that this is issue metastasizing into a design doc.

At any rate, I'm pretty sure I'm still misunderstanding everything, but here are a couple thoughts I had after a discussion with @neerajprad:

First, in this proposal `iarange` is doing double duty as an annotation and a modifier.  I'd prefer to have implicit broadcasting happen via a separate annotation, so that the default semantics of

[2018-05-03 18:47] martinjankowiak commented on #1113
you can already do this:

[code]
this should give you the control you want although it doesn't actually use the pytorch 'group' construct

[2018-05-03 19:18] slaweku commented on #1113
Lovely. Thank you!

On Thu, May 3, 2018 at 11:48 AM, martinjankowiak <notifications@github.com>
wrote:

[2018-05-03 20:55] fritzo opened #1119 "Implement TorchDistribution.expand()"
## Why?

Pyro currently provides an `.expand_by()` method to aid/burden users when reshaping distributions. However `.expand_by()` is limited to expanding only by adding new dimensions on the left. It appears that to automate some of this expansion (#238, #1115), we'll need to additionally support broadcasting at internal dimension, as is done by `torch.Tensor.expand()`.

Here is an example demons

[2018-05-03 23:26] neerajprad commented on #1115
After some discussions with @fritzo, I have come to the conclusion that the best way forward is to implement automatic distribution broadcasting (#1119), so that users do not need to manually expand distribution instances inside `iarange`. For many cases, we will need to manually allocate the dim for the iarange via the `dim` arg (e.g. for chaining or `num_particles` or data batching), and I am co

[2018-05-03 23:26] #1115 closed

[2018-05-04 00:21] yangkky opened #1121 ""HMC shape error at Dirichlet sample site""
I'm running into an issue when using Dirichlet latent sites in NUTS.

The following code:

[code]

Results in:

[code]

For reference, `Ks_train` has size (25, 590, 590).

[2018-05-04 00:45] fritzo commented on #1115
Just o clarify: #1119 is completely manual. It addresses only the lowest-level issue. I think a good plan is to
1. start with manual `iarange(..., dim=-n)` annotations everywhere;
2. implement very limited auto-broadcasting to increase the sizes of individual `batch_shape` dimensions via `TorchDistribution.expand()` #1119;
3. implement parallel num_particles #791
4. reopen the interesting discussi

[2018-05-04 03:00] #1119 closed

[2018-05-04 06:26] #1121 closed

[2018-05-04 22:35] karalets commented on #988
Yeah I like this issue actually.

Generally, this is a different way of looking at loss functions.

For observations X and latents Z, currently SVI minimizes KL(q(z|x)||p(z|x)).
However, with distribution valued observations one can do the following:
minimize KL(q(x,z)||p(x,z)) , which is an alternative to traditional Elbo with many cute properties that I used for some GAN stuff once upon a time b

[2018-05-05 23:32] neerajprad commented on #1099
Closing this issue. Please feel free to post on the [forum](https://forum.pyro.ai/) if you continue to have installation issues.

[2018-05-05 23:32] #1099 closed

[2018-05-06 03:48] fehiepsi opened #1127 "Allow rank=0 in Coregionalize kernel."
Currently, Coregionalize kernel's implementation requires `rank > 0`. Sometimes we know that outputs are independent and don't want to find the correlation of outputs. So allowing `rank = 0` is equivalent to allowing `components = None` and we won't use it in the forward pass. This also helps reduce the number of parameters for this kernel.

[2018-05-07 03:03] fritzo commented on #963
Duplicate of #811

[2018-05-07 03:03] #963 closed

[2018-05-07 03:11] fritzo opened #1128 "Automatically enumerate discrete variables in HMC"
## Why?

Lots of models have discrete latent variables, e.g. mixture models. See e.g. https://forum.pyro.ai/t/nuts-with-discrete-latent-site-very-slow/204

## How?

Following `TraceEnum_ELBO` it should be possible to marginalize out any finite discrete latent variables:
1. wrap the model in `@config_enumerate`
2. use `EnumerateMessenger` to generate a bag of enumerated model trace (multiple traces

[2018-05-07 03:11] fritzo commented on #1128
cc @yangkky

[2018-05-07 03:49] yangkky commented on #1121
Now it runs, but I get a NaN warning. Here's code that reproduces it:

[code]

I get the following warning:
[code]

[2018-05-07 04:18] neerajprad commented on #1121
The warning is fine, it has just drawn a sample which when constrained to the simplex results in a boundary value of `0/1` and that ends up resulting in an `inf` when scored by `Dirichlet`.

[code]

The example runs fine otherwise. Lets discuss the issue of slowness in https://forum.pyro.ai/t/nuts-with-discrete-latent-site-very-slow/204/2.

[2018-05-07 18:39] kapilagrawal95 opened #1129 "Converting it for Regression Purpose"
### Guidelines

**NOTE:** Issues are for bugs and feature requests only. If you have a question about using Pyro or general modeling questions, please post it on the [forum](https://forum.pyro.ai/).

If you would like to address any minor bugs in the documentation or source, please feel free to contribute a Pull Request without creating an issue first.

Please tag the issue appropriately in the ti

[2018-05-07 21:31] neerajprad opened #1130 "Enable doctest to keep Pyro docstrings up to date"
We should add it to our doc testing stage, and figure out a way to ignore the output that would differ for stochastic functions when tested on different systems.

[2018-05-08 05:17] neerajprad opened #1131 "Update shapes tutorial with broadcasting utils/changes"
#1125 adds a `poutine.broadcast` to do implicit batch shape broadcasting for sample sites. This can be helpful for users to not have to deal with expanding sample sites manually, and allow for better modularization of model code. We should add this to the tutorial once our broadcasting related changes are over, and we have gathered some common patterns / ideas about idiomatic usage.

[2018-05-08 05:35] kapilagrawal95 commented on #1129
Ohh, I am sorry. I was referring to the Deep Markov Model.

[2018-05-09 18:53] #570 closed

[2018-05-11 17:05] LoganWalls commented on #1093
I'd love to contribute re: mass-matrix adaptation and I actually have some preliminary work on it already. But I've run into an issue and I'm not sure how you'd like to proceed in terms of the design, should I discuss here, or open an issue specifically for the mass-matrix adaptation?

[2018-05-11 17:14] neerajprad commented on #1093
That's great to hear. I would suggest opening a separate issue which we can link to from here, so that it doesn't have to deal with all the noise from this master task.

[2018-05-11 17:59] LoganWalls opened #1137 "Mass Matrix Adaptation for HMC and NUTS"
I'd like to contribute the mass matrix adaptation mentioned in #1093 . I actually have some preliminary work on it already, but I've run into an issue and I'm not sure how you'd like to proceed:

Currently the MCMC kernels have no access to the number of warmup iterations (since transition between warmup and sampling is handled by the MCMC wrapper), but if we want to adapt the mass matrix during w

[2018-05-11 18:27] eb8680 commented on #1137
Option 2 seems fine for now; you can just add a base implementation of `configure_adaptation` to `TraceKernel`.

@neerajprad we should probably clean up the MCMC code a little bit to make it easier to customize this sort of thing in the future.

[2018-05-11 19:29] neerajprad commented on #1137
I would suggest going with option (1), so that we do not have two places that specify the `warmup_steps` - the kernel themselves and the MCMC constructor (since burnin or warmup is a more general concept).

So you can just modify the `MCMC` class as follows and the corresponding `setup` methods in HMC and NUTS. I think that should cover your use case?

[code]

[2018-05-11 19:42] neerajprad commented on #1137
Once we make the above change, I don't foresee any major changes needed within the `MCMC` class, at least immediately. Let me know if you have any suggestions on that. I have a couple of things I would like to see addressed in #1093 pertaining to restructuring the code - specially those related to being able to specify / add default warmup steps when the user chooses step size adaptation, and also

[2018-05-11 22:44] LoganWalls commented on #1137
@neerajprad I agree with the idea that we shouldn't need to specify warmup_steps in multiple places, but my original thinking behind option 2 was actually to have `MCMC` call something like `self.kernel.configure_adaptation(self.warmup_steps)` so really it would only need to be specified once. (But it does open up the possibility of a user accidentally calling `configure_adaptation` separately). T

[2018-05-11 22:48] LoganWalls commented on #1137
I'm actually leaning toward option 2 now: I'm thinking down the road once other features like automatically setting the number of warmup steps, target acceptance rates, etc. are implemented, then the kernels will probably need some equivalent of a `configure_adaptation` method anyway (in my mind the question is more whether it should be public or private).

[2018-05-11 23:53] neerajprad commented on #1137
Thanks for sharing your thoughts. With the current structure, the way to do that would be to pass the target acceptance probability or other adaptation parameters or dictionary into the kernel constructor, and then the `setup()` method would just pick them up when called from `MCMC`. This will be simpler than introducing a separate `configure_adaptation` method. If the `configure_adaptation` metho

[2018-05-12 08:30] fehiepsi commented on #1137
Option 1 seems good to me. If the kernel knows the number of warmup step, then we don't have to use the `end_warmup` method in MCMC.

[2018-05-12 15:03] LoganWalls commented on #1137
Alright, I'm sold on option 1. I'll proceed with that one if no one else has any concerns?

[2018-05-12 15:06] LoganWalls commented on #1137
That seems reasonable, should we make `end_warmup` a private method then? It doesn't appear to be called anywhere besides `MCMC`, and if we're going to have the kernels themselves manage the warmup then I don't think it makes as much sense to have an outward-facing method to control it.

[2018-05-12 16:03] neerajprad commented on #1137
That sounds good!

[2018-05-14 17:41] LoganWalls commented on #1093
I'd like to suggest adding one or more stochastic gradient approaches (ex: Stochastic Mini-Batch HMC, Stochastic Gradient Langevin Dynamics, etc.) to this list. There does seem to be some concern about the theoretical properties of these algorithms (as seen in [this PyMC3 discussion](https://github.com/pymc-devs/pymc3/issues/1958)) but I think their potential in applied applications a least merits

[2018-05-14 17:56] LoganWalls commented on #1137
Progress is coming along pretty well. I'm starting with a (non-identity) diagonal mass matrix, and I'll try to implement the dense version if I have time later. I have a quick question though (please forgive my ignorance):

When applying the mass matrix during the potential energy calculation, where does it need to be applied (before / after scaling and adjustments)?

[code]

My current understand

[2018-05-14 18:25] neerajprad commented on #1137
I probably am misunderstanding something - why do we need to modify the potential energy computation? I would have thought that this will only affect the kinetic energy (and hence also the distribution from which we are sampling the momenta).

[2018-05-14 18:38] LoganWalls commented on #1137
I think you're right actually, it should only be applied to the kinetic energy. I was referring to [Betancourt's paper](https://arxiv.org/pdf/1701.02434.pdf) but after reading your comment and looking back at Neal's I think I was misreading Betancourt's.

Apologies!

[2018-05-15 04:36] fehiepsi commented on #1137
I think that though two methods are equivalent, modifying kinetic energy is easier because we don't have to work on transformed position and don't have to deal with inverses of a large matrix (in case of using full covariance matrix). All we need is to use [Welford's online scheme](https://en.wikipedia.org/wiki/Algorithms_for_calculating_variance#Online_algorithm) to update the inverse of the mass

[2018-05-15 04:49] LoganWalls commented on #1137
That's great to hear! I've implemented Welford's scheme already actually, but I'm working on regularizing the estimate. I think I found [stan's regularization term](https://github.com/stan-dev/stan/blob/9fb3f1e80ea5b3b41bf3e6966fce3caedaa6da34/src/stan/mcmc/var_adaptation.hpp#L27), but I'm not sure exactly how they've derived those values.

I did some reading on estimating shrinkage for covariance

[2018-05-15 04:57] fehiepsi commented on #1137
To me, go for Stan because its devs are well-known researchers working in this field. ;)

[2018-05-15 23:00] hubayirp commented on #1137
+1

On Mon, May 14, 2018 at 9:57 PM, Du Phan <notifications@github.com> wrote:

[2018-05-17 18:44] LoganWalls commented on #1137
Almost done! Two final issues:

### Dense Mass Multiplication
I'm not sure about the most efficient way to implement the multiplication of the dense mass matrix:
Following the [existing kinetic energy implementation](https://github.com/LoganWalls/pyro/blob/56c0253cc45ed7a8bb67b1936154c18e8de667a8/pyro/infer/mcmc/hmc.py#L96) I implemented the diagonal version using a comprehension like so:
[code]
W

[2018-05-17 19:58] fritzo commented on #1137
In case it helps, we're doing similar rolling in [pyro.contrib.autoguide](http://docs.pyro.ai/en/dev/contrib.autoguide.html) and there are strategies for all of: diagonal normal, multivariate normal, and low-rank multivariate normal (really low-rank + diagonal). You might consider similarly implementing multiple strategies. See [`AutoGuideContinuous._unpack_latent()`](https://github.com/uber/pyro/

[2018-05-18 17:40] neerajprad opened #1146 "Set up Pyro test crons"
The perf cron job is currently disabled due to the high amount of noise in the VMs. Let us re-enable a cron on a workstation for perf testing. We should run some small tests in travis to make sure that perf testing suite does not get outdated.
 - [ ] Update the perf test suite.
 - [ ] Run tests on PRs so that the suite does not go outdated.
 - [ ] Add crons to run this test daily, and send email a

[2018-05-18 19:43] #1113 closed

[2018-05-20 00:46] slaweks17 opened #1151 "Setup fails on Windows"
Hi,
I have been trying to install Pyro 0.2 on Windows 10. After installing latest Anaconda 5.1, I installed Pytorch successfully, although the last command
pip install torchvision
failed with message
PyTorch does not currently provide packages for PyPI (see status at https://github.com/pytorch/pytorch/issues/566)
As I do not care about images, I ignored it.

Unfortunately the same error happen dur

[2018-05-20 18:43] fritzo commented on #1151
Hi Slawek,
Can you make sure your `pip` is `pip3`, or try
[code]
It looks like PyTorch does not provide pip packages for Python 2.7 on windows.

[2018-05-21 01:29] slaweks17 commented on #1151
Hi Fritz,
I am using Python 3.6. I understand that pip will call pip3, anyway, I did try with pip3 and the result is the same. And yes, torchvision is the problem:
pip3 install torchvision
failed during my install of Pytorch. Then, it appears, Pyro is doing it again.

[2018-05-21 01:40] fritzo commented on #1151
I guess you could try to install Pyro without dependencies
[code]

[2018-05-21 03:47] slaweks17 commented on #1151
Hi,
Thank you! It appears that it has worked.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Fritz Obermeyer <notifications@github.com>
Sent: Sunday, May 20, 2018 6:40:39 PM
To: uber/pyro
Cc: slaweks17; Author
Subject: Re: [uber/pyro] Setup fails on Windows (#1151)

I guess you could try to install Pyro without dependencies

p

[2018-05-21 05:33] #1151 closed

[2018-05-22 17:52] #1131 closed

[2018-05-22 17:54] #1130 closed

[2018-05-23 17:12] fritzo commented on #1093
@neerajprad @jpchen @rohitsingh0812 FYI PyMC devs [are considering](https://github.com/arviz-devs/arviz/issues/97#issuecomment-391385756) using [xarray](https://xarray.pydata.org/en/stable/) as a format for inference results of PyMC and PyStan. This seems like a good decision to me, and it would be nice if we could aim for an interchangeable format.

[2018-05-23 17:36] eb8680 commented on #1093
What does this buy us?  Is this meant to allow us to use arviz for visualization?  I think it would be great if we wrote something to convert `TracePosterior`s into whatever summary format they have in mind, but I don't see a good reason to commit to that as the sole representation of inference output.

[2018-05-23 17:49] neerajprad commented on #1093
I think since xarray supports numpy, it should be relatively straightforward for us to convert the results of `TracePosterior` to that format and get any summary/plotting utilities. I like PyMC's traceplot, and it would be great to have access to that without having to develop all of that within Pyro.

[2018-05-23 17:50] fritzo commented on #1093
Yeah, the idea is to leverage the work of other teams who are converting PyStan and PyMC output into a standard format built on xarray. This will enable comparison across PPL systems and algorithms.

[2018-05-24 17:44] fritzo opened #1160 "Support regex or filter arg in poutine.block"
Related to #73 #1159

It would be nice to have args `expose_regex`, `hide_regex`, `expose_fn`, and `hide_fn` in `@poutine.block`. This will be even more important once we have name scopes.

## Why?

Often site names are automatically generated e.g.
[code]
In these cases, blocking those sites is cumbersome
[code]
It would be nice to instead write one of
[code]

## How?

Note that `expose_regex` is

[2018-05-24 18:44] fritzo commented on #1160
Note a third option is to use unix-style filename matching using [fnmatch](https://docs.python.org/2/library/fnmatch.html#fnmatch.fnmatch). This might make more sense if we use `tf.scope`-style naming conventions.

[2018-05-25 00:52] #1160 closed

[2018-05-27 16:12] sameerkhurana10 opened #1164 "GAN Inference"
Hi,

thanks for releasing Pyro.

Any plans to have GAN like inference in pyro?

Thanks

[2018-05-27 20:04] fritzo commented on #1164
Hi @sameerkhurana10 we've discussed adding a discriminator example following [Mohamed, Lakshminarayanan (2016)](https://arxiv.org/abs/1610.03483) and [Tran, Ranganath, Blei (2017)](https://arxiv.org/abs/1702.08896), but we have no immediate plans. If you'd like to add something yourself, @eb8680 or @martinjankowiak could suggest where to start.

[2018-05-27 20:51] sameerkhurana10 commented on #1164
thanks @fritzo

i could have a go at it. Some pointers will be great.

I did find

[2018-05-27 21:19] eb8680 commented on #1164
@sameerkhurana10 most such algorithms should pretty easy to implement with Pyro's existing tools (though if you find that's not the case, feel free to open another issue!).  In my admittedly limited experience, the algorithms themselves (independent of Pyro) are extremely brittle and sensitive to hyperparameters, so there's not a compelling reason to add whole algorithms to Pyro instead of just pr

[2018-05-28 01:33] sameerkhurana10 commented on #1164
Great, thanks @eb8680

this should be very helpful.

[2018-05-31 21:39] karalets opened #1168 "composable guides/autoguides"
Hey team,

I was looking at the autoguides a bit and have the following request.

It would be cool to be able to define guides over some parts of the model (imagine I have custom inference strategies for particular components int he model) and let autoguides take care of the rest.

This would correspond to composing guides to explain a model and would require some mechanism that would test which v

[2018-05-31 21:52] eb8680 commented on #1168
Interesting idea!  I believe you can already do a simple version of this with `autoguide.AutoGuideList`:
[code]

You can also alternate updates for each guide with `poutine.condition`:
[code]

[2018-06-01 01:01] karalets commented on #1168
Thanks Eli, this looks really nice and idiomatic with poutine magic.
I am really a fan of solution 1, as it seems like a very natural way to define composable guides in the sense I had in mind. Would be great to have that functionality.

Solution 2 also seems ok, but I prefer the elegance of 1, I do not necessarily want to force the alternating updates, but it is good to see how to do it as this m

[2018-06-01 01:20] eb8680 commented on #1168
You can also write solution 1 directly:
[code]

[2018-06-04 18:04] arranger1044 opened #1174 "[Bug?] HMC and NUTS are too sensitive to step-size for simplle Gamma/Beta model"
### Issue Description

 A very simple generative model---a Beta likelihood whose two parameters have a Gamma prior on them:

$$\alpha\sim Gamma(1, 1)$$
$$\beta\sim Gamma(1, 1)$$
$$x\sim Beta(\alpha, \beta)$$

and then running `NUTS` to perform MCMC inference on it, leads to
the acceptance probability to be 0 poor and hence garbage estimates for $\alpha$ and $\beta$.

Changing the stepsize in `HMC`

[2018-06-04 18:09] neerajprad commented on #1174
Yes, I think we should have a better default handler, as this is crucial for debugging how HMC/NUTS is doing. Yes, please create an issue for this, and I'll take care of that!

[2018-06-04 18:19] arranger1044 commented on #1174
Thanks a lot @neerajprad

[2018-06-04 18:27] arranger1044 opened #1175 "[Feature request] Improving output messages and warning handling for MCMC"
### Issue Description
As for version `0.2.1`, logging capabilities of MCMC inference routines (`HMC` and `NUTS`) could be be improved in warning/error handling, when critical states are happening.

For instance, acceptance probability is everywhere 0 and/or no actual samples from the posterior after burn in have been collected.

One possibility would to put such warnings into the `INFO` level of l

[2018-06-04 23:17] #1168 closed

[2018-06-07 00:04] neerajprad opened #1180 "Make poutine.broadcast as fast as hand parallelization"
Currently, `poutine.broadcast` will be slower than hand-parallelizing the same example using `.expand_by`. This is because `poutine.broadcast` uses `.expand` which constructs new distribution instances under the hood, whereas `.expand_by` reuses distribution instances.

Example:
[code]

This is understandable as constructing distribution instances isn't cheap. For many small models, this differenc

[2018-06-07 01:44] fritzo commented on #1180
It sounds reasonable to defer to `.expand_by()` whenever possible, since this is not very intrusive.

[2018-06-07 08:32] jmaronas commented on #529
In my experience for mnist to work with a VAE the best thing is to use as sample the expected value of the decoder distribution. In case of using a bernouilli decoder is make sense as the binary cross entropy you minimize is given by:

x*ln p + (1-x)*ln(1-p)

where x represent the pixel value and p the predicted mean of the bernouilli distribution and you are trying to match this value to the obse

[2018-06-07 18:37] ibulu commented on #1164
Hi sameerkhurana,
have you been able to get this to work?

[2018-06-07 20:45] sameerkhurana10 commented on #1164
sorry, did not have time to work on it. Won't be able to get to it anytime
soon.

On Thu, Jun 7, 2018 at 2:37 PM, ibulu <notifications@github.com> wrote:

--
conversation enriches understanding, but solitude is the school of genius.

[2018-06-08 20:13] #791 closed

[2018-06-13 03:17] fritzo opened #1182 "Use poutine.broadcast outside of inference"
I love `@poutine.broadcast` and I wish I could use it to generate data, e.g.
[code]
This broadcasts correctly in the context of SVI, but I cannot run this model to generate data.
[code]

Is it possible to make `@poutine.broadcast` always take effect, even outside of inference?

[2018-06-13 03:29] fritzo commented on #1182
Sorry, you're right.

[2018-06-13 03:29] #1182 closed

[2018-06-13 21:26] bilow-factual opened #1184 "[bug] Pull accessed denied for pyro docker images"
### Issue Description
Can't pull docker images of pyro releases.

### Environment

[code]

### Code Snippet

[code]

Also tested the CPU branches from a separate Mac. Didn't work either.

[2018-06-13 23:16] fritzo opened #1185 "Master issue for pyro.contrib.tracking"
## Components

Data association in pyro.contrib.tracking.assignment (@fritzo):
- [x] #1186 multi-frame enumeration solver
- [x] #1190 flat assignment solvers (for data with one observation per frame)
- [x] #1194 dense multi-frame bp solver
- [x] #1217 tests of algebraic properties
- ~~sparse multi-frame bp solver~~

Motion models and measurement models:
- [x] ND gaussian/kalman filters (@jpchen)

[2018-06-14 00:43] neerajprad commented on #1180
Deferring to `.expand_by` mostly fixes the issue, but I discovered that there is another source of slowness in the `Dice` class when the `num_particles` dimension is anything but the rightmost:

[code]

This arises due to summing a tensor with a large batch dimension (due to num particles for instance) that is not the right-most dimension.

[code]

While the difference seems great, the actual impa

[2018-06-14 20:01] neerajprad commented on #1184
I am closing this issue. Please feel free to ask on the [forum](https://forum.pyro.ai) if you continue to face issues with installation.

[2018-06-14 20:01] #1184 closed

[2018-06-19 03:04] alicanb commented on #1185
Re. metric evaluation, I've been going through some implementations online. It looks like pymot hasn't been maintained for a while... The evaluation suite that's used in [MOT Challenge](https://bitbucket.org/amilan/motchallenge-devkit) in Matlab, but there's a python version of it [here](https://github.com/cheind/py-motmetrics/tree/develop) but people have been complaining results are different fr

[2018-06-19 23:14] neerajprad commented on #1180
Bumping the priority lower now that #1187 is merged.

[2018-06-21 16:40] paddyhoran opened #1200 "Issue with signing up for the forum with github"
This is likely not the right place for this question, I wasn't sure where else to ask it...

I want to sign into the forum with my github account.  I thought I had done this some time ago but I have constant problems with signing in.

I have signed up for many other similar forums and I have not had any issues signing in with my github account.  I have since revoked access in github for the forum

[2018-06-21 18:02] jpchen commented on #1200
unless you give me your email i cant do that. however from a quick search you dont seem to be in the system. what is the error you see?

[2018-06-21 18:13] paddyhoran commented on #1200
Sorry, there was an error authorizing your account. Perhaps you did not approve authorization?

[2018-06-21 18:14] paddyhoran commented on #1200
I approved everything that was sent, checked junk for further e-mails, etc.

[2018-06-21 18:20] jpchen commented on #1200
it says that youre authenticated via your github account with the email you specified. i deactivate your account and resent the validation email. if that does not work i can delete your account entirely, let me know what you'd like me to do

[2018-06-21 18:34] paddyhoran commented on #1200
I also use my iPhone to check discourse forums and it feels flaky...  @jpchen thanks for the help I'll try it out later and report back

[2018-06-22 01:48] paddyhoran commented on #1200
I'm using Firefox, the link works and provide an "Click here to activate your account"  button but the next screen says "Sorry, this account confirmation link is no longer valid. Perhaps your account is already active?".

@jpchen can you please delete my account completely when you get a chance and I'll try again, thanks.

[2018-06-22 01:59] jpchen commented on #1200
hm your account seems to no longer in the system, i cant  query your username or email. i recommend creating a brand new account. sorry for the inconvenience, discourse has a lot of issues

[2018-06-22 02:12] paddyhoran commented on #1200
ok, I've taken enough of your time away from **real** work :), thanks for trying

[2018-06-22 02:12] #1200 closed

[2018-06-25 19:36] jpchen opened #1204 "Update paramstore documentation"
Params are not properly reused from the paramstore via `.load()` since the default flag `update_module_params` is false (iirc this is because of `random_module`).  the interface/defaults should be revisited and at the very least, documentation updated.

[source](https://forum.pyro.ai/t/pyro-get-param-store-load-documentation/299)

[2018-06-26 07:15] fehiepsi commented on #671
@jpchen I think that implementing IWELBO (or Renyi ELBO) is quite straightforward but we have to store `num_particles` number of traces to calculate weights. Is this the main obstruction for not having IWELBO at current stage?

[2018-06-26 08:15] neerajprad commented on #671
@fehiepsi: `num_particles` is vectorized now, so I think it should be relatively straightforward to implement fast IWELBO for static models at least. @jpchen - what do you think?

[2018-06-26 15:02] fehiepsi commented on #671
@neerajprad Nice to hear that! Will try to make a pull request if there is no duplicated work on this. :)

[2018-06-26 15:12] jpchen commented on #671
yes - it shouldnt be complex to implement, i just havent gotten the time to doing it. @fehiepsi feel free to implement it if you're already working on it

[2018-06-26 16:04] neighthan commented on #153
Is the meaning of batch vs event shape discussed in the pyro docs? (I've read some but not all of them). I hadn't understood it properly until reading this issue, and now I understand much better why I was having issues before I introduced `.independent(n)` in certain places.

[2018-06-26 17:35] jpchen opened #1207 "Implement higher dimensional newton solvers"
currently there is a 2d solver, but we require a 3d solver:
- [ ] 3d solver
- [ ] nd solver

[2018-06-26 19:13] neerajprad commented on #153
@neighthan - We also have a detailed tutorial on tensor shape semantics in Pyro, that you might find useful - http://pyro.ai/examples/tensor_shapes.html. Will make some changes to highlight this from the doc. Thanks for bringing this up.

[2018-06-26 19:27] neerajprad opened #1208 "Updating tutorials for Pyro 0.2.1"
I just realized that our tutorial for [tensor shapes](http://pyro.ai/examples/tensor_shapes.html) has not been updated to reflect the changes corresponding to [Pyro 0.2.1](https://github.com/uber/pyro/releases/tag/0.2.1), i.e. the section on `poutine.broadcast` is missing, and it seems that we are pointing to `0.2.0` instead.

@jpchen - could you take a look?

[2018-06-26 19:30] jpchen commented on #1208
this is already merged into dev correct? ill rebuild it tonight

[2018-06-26 20:20] neerajprad commented on #1208
Thanks, @jpchen. Yes, this should be in dev.

[2018-06-27 13:53] #1204 closed

[2018-06-27 19:50] jpchen commented on #1208
done

[2018-06-27 19:50] #1208 closed

[2018-07-02 21:14] fritzo commented on #825
@eb8680 Does this issue also cover paralleization / batch-support for `SVI`? I'd like to implement batched inference to expose our EM solvers (BP + Newton).

[2018-07-03 00:12] eb8680 commented on #825
What did you have in mind?

[2018-07-03 09:13] fehiepsi opened #1212 "List of updates from pytorch master"
There are several updates from Pytorch master which are relevant to Pyro. So I put them here to have references for future pull requests.

- [x] pytorch has vectorized count Binomial, HalfCauchy, HalfNormal
- [x] pytorch LowRankMultivariateNormal does not have trace_term
- [x] logsumexp is available in Pytorch master
- [x] bo tutorial's code can be more stable after pytorch's lbfgs supporting line

[2018-07-03 16:35] eb8680 commented on #1212
Also, `torch.jit` has changed significantly, so `pyro.ops.jit` is basically obsolete.

[2018-07-03 17:42] fritzo opened #1213 "Support independence assumptions about params"
We'd like to support batched second-order optimizers, where the loss Hessian has user-declared block diagonal structure.

One natural way to declare the param independence assumption is to define `param`s inside `iarange` contexts. Whereas the old issue #238 suggests adding broadcasting behavior to param-inside-iarange, this new issue suggests adding a semantic assumption that the resulting ELBO o

[2018-07-03 17:46] fritzo commented on #825
I've written some details in #1213

[2018-07-04 09:02] fehiepsi commented on #1212
@eb8680 Long time ago, you mentioned about a trick to add a term to log_prob from a model. Could you be more explicit about that trick? I am trying to move the `trace_term` [here](https://github.com/uber/pyro/blob/dev/pyro/contrib/gp/models/sgpr.py#L155) outside of `LowRankMultivariateNormal` distribution (to compatible to pytorch master). That `trace_term` is added directly to `log_prob` of lowra

[2018-07-04 15:42] fehiepsi commented on #1127
I just looked at the implementation of Coregionalize kernel and saw that letting `rank = 0` just make things complicated. Rather than that, users can easily obtain the same behavior by fitting `components` to `0` tensor. Hence I close this issue.

[2018-07-04 15:42] #1127 closed

[2018-07-05 01:30] eb8680 commented on #1212
You can add an arbitrary factor to a model's trace by observing a Bernoulli distribution:
[code]

[2018-07-05 03:58] fehiepsi commented on #1212
Thank you @eb8680 ! I still can not write down the math here. I see that `log(sigmoid(logit))` is different to `logit`. I'll write things down again after lunch. Maybe I miss something.

[2018-07-05 04:52] eb8680 commented on #1212
I guess there's a bit of extra plumbing in `dist.Bernoulli`, but there's some manipulation such that `Bernoulli(...).log_prob(1.) == arbitrary_value`, which is what you're trying to achieve.   You could do something similar with `Categorical`.

[2018-07-06 06:58] fehiepsi commented on #1212
Yeah, got it! Thanks a lot! :)

[2018-07-07 05:55] fehiepsi opened #1221 "SVI failed with vectorize_particles=True in pytorch master"
With the BernoulliBetaTests, `test_elbo_reparameterized` failed if we use `vectorize_particles=True` (`num_particles=2`). It passed when we set `vectorize_particles=False`.

[2018-07-07 09:50] fehiepsi commented on #1221
Interesting, I cannot pass that test. The error is 0.0 vs 1.2. Maybe I am using Pytorch master. Let me check again.

[2018-07-07 14:00] neerajprad commented on #1221
Its odd that it’s failing on PyTorch master though. Will take a look.

[2018-07-08 06:16] fehiepsi opened #1222 "Renyi ELBO does not work with Rejector"
In Rejector, both `entropy_term` and `score_function_term` are non-zero. I don't know how to derive the formula for Renyi elbo in that case, so I leave the issue here.

I think that it is the main reason why RenyiELBO failed for ShapeAugmentedGamma in `test_inference::test_exponential_gamma`.

[2018-07-08 06:20] fehiepsi commented on #1221
So I change the title and reopen it again. :)

[2018-07-09 11:58] bionicles opened #1223 "there is no basic MCMC tutorial and example"
given "basics before brilliance," how do you justify omission of a basic mcmc tutorial+example for pyro?

[2018-07-09 13:42] fritzo commented on #1222
You could raise a `NotImplementedError` in that case.

[2018-07-09 16:13] eb8680 commented on #1223
Please see the [eight schools](https://github.com/uber/pyro/blob/dev/examples/eight_schools/mcmc.py) or [baseball](https://github.com/uber/pyro/blob/dev/examples/baseball.py) examples for basic introductions to MCMC in Pyro.  If you find these examples insufficient, feel free to ask questions on our forum or open another issue or pull request with improvements.

[2018-07-09 23:38] eb8680 commented on #1223
Closing this in favor of #979

[2018-07-09 23:38] #1223 closed

[2018-07-10 07:46] eb8680 commented on #73
Added in #1159 and forgot to close this

[2018-07-10 07:46] #73 closed

[2018-07-10 19:45] LoganWalls commented on #1137
@fehiepsi @neerajprad
Given the discussion in #1203 , should the next PR be the changes to `r` and `z` calculations to incorporate the mass matrix? I'm happy to take an initial swing at it myself, but I think at some point I'd appreciate some help from one of you with that part.

[2018-07-10 22:15] neerajprad commented on #1137
Thanks, @LoganWalls. That sounds reasonable. I'll be happy to jump in anytime (if you could add me as a contributor to your private fork, we can pair code too). You could also start with the other smaller interface changes you proposed in your original PR like changes to MCMC interface with regard to `end_warmup`, or fixed ordering for the sample sites so that the unrolled tensors have a determini

[2018-07-11 01:12] neerajprad commented on #671
Implemented in #1214.

[2018-07-11 01:12] #671 closed

[2018-07-11 01:43] fehiepsi commented on #1137
@LoganWalls @neerajprad I will give detailed comments on your PR. To me, it is the remaining missing part (in HMC theory) which we have not implemented. It would be great to have!

[2018-07-12 00:59] neerajprad commented on #1213
@fritzo, @eb8680: I was trying to understand what changes would we need in SVI, but I'm likely missing a few things:

If `pyro.param("theta", ...)` still returns the global `theta`, then whether the optimization problem factorizes into sub-components would be determined by what parts of `theta` the subsequent `pyro.sample(..)` statements using them index into. Correct me if I am mistaken. Since th

[2018-07-12 04:19] eb8680 commented on #1213
We should just discuss in person next week, but re: incompatibility, we can initially cordon this functionality off inside a `Messenger` so that it only applies when we turn it on.

[2018-07-12 04:28] eb8680 commented on #1212
The JIT is covered by #1063.  Closing now that #1225 is merged.

[2018-07-12 04:28] #1212 closed

[2018-07-12 06:37] fritzo commented on #1213
This feature is separate from `iarange`. Let's call it `iparam` or something. The behavior should be to (1) declare independent subproblems and (2) possibly also broadcast the `pyro.param` statement (this could alternatively be handled by `iarange`, but as @neerajprad mentioned that may conflict with parallel particles). As @eb8680 suggested, `iparam` can be a `Messenger`.

[2018-07-12 06:41] fritzo commented on #1213
I've updated the model to use `theta`, but yes let's discuss in person.

[2018-07-12 18:39] neerajprad commented on #1213
Thanks for explaining, @fritzo. That makes sense, I'll try to grok this some more. :) Lets discuss in person later.

[2018-07-13 01:16] eb8680 opened #1226 "Reinstate and improve Search inference"
`pyro.infer.Search` was removed in #1044 for performance and maintenance reasons, but it's being used informally in multiple places in Pyro and other projects, including in the RSA examples (#1198 ) and in `contrib.oed` (#1224 ).  We should collect the various copies into one place and add broadcasting-based parallel search as well, since most of the applications have static structure.

Tasks:
- [

[2018-07-13 01:21] eb8680 opened #1227 "Cleaning up SVI internals to support nested inference"
The internals of our SVI code need a bit of cleanup to better support nesting `SVI` inside other inference algorithms, a necessary component of several projects including `contrib.oed`.

Tasks:
- [ ] Make `infer.SVI` a `TracePosterior` instance again so that it works with `EmpiricalMarginal` and can be interchanged with other methods like `MCMC`
- [ ] Split side effect-free `differentiable_loss` m

[2018-07-13 14:53] #1174 closed

[2018-07-16 10:24] fehiepsi opened #1232 "Expose distribution from `sample_latent` in `AutoContinuous`"
The current logic of all autoguide's method is:
[code]
It would be nice if we return `dist` in some method (e.g. `get_dist` / `get_posterior`) and refactor `sample_latent` into
[code]

With the method `get_dist`, users can draw samples from this posterior or calculate other statistics.

[2018-07-16 22:00] fritzo commented on #1227
Note regarding #628 and https://forum.pyro.ai/t/checkpoint-in-pyro/303:
There are some disadvantages of using `grad` instead of `.backward()` (at least in `Trace_ELBO`):
- `grad` has less `jit` support at the moment
- `grad` has no checkpointing support at the moment
- `grad` is slightly more expensive for tiny tensors (since it traverses the graph twice)

However these are minor and could be outw

[2018-07-16 22:19] eb8680 opened #1234 "Cleaning up SVI-related internals"
This issue is for discussing instances of cruft or technical debt in SVI-related code and proposed fixes.  We can create new issues for individual instances if needed.

Potential issues/fixes:
- [ ] Collect all the duplicated `*ELBO._get_traces` logic into a single set of functions in `infer.enum`, as suggested in e.g. #1214.  Ideally we could also use the same code as part of #1226. (Issue moved

[2018-07-16 22:35] fritzo commented on #1234
To help guide this effort, I'd like to take a look at some long-term goals:
- #238
- making `newton_step()` look more like `SVI` or `TracePosterior`
- making `MarginalAssignment` and friends look more like `SVI` or `TracePosterior`
- using `SVI.differentiable_loss` inside `newton_step()`

[2018-07-16 23:00] eb8680 opened #1235 "Add mechanism for dynamically changing implementations of handlers"
The side effects in `pyro.poutine` are broken up into interfaces in `poutine.handlers` and their implementations as `Messenger`s, so that it's easy to change the source code of the implementation of any particular Pyro component without affecting downstream code.

However, there are cases where we'd like to modify the implementation of a `handler` on the fly.  For example, #1159 introduced alterna

[2018-07-16 23:06] eb8680 commented on #1232
Seems like a nice enhancement, feel free to open a PR

[2018-07-17 02:59] fehiepsi commented on #583
Closed because the feature raised by this issue is no longer necessary. Thanks for all discussion!

[2018-07-17 02:59] #583 closed

[2018-07-17 23:41] jpchen opened #1242 "lr scheduler not optimizing params"
`svi.step()` is not updating parameters with each optimizer.  see #1241

[2018-07-18 00:09] jpchen commented on #1242
ahh the pytorch scheduler only updates the scheduler and does not take an optimization step. this was my mistake - i had assumed pytorch was documented correctly and only tested the hyperparam updates not the optimization. sorry for the inconvenience.

[2018-07-18 03:55] fehiepsi commented on #1221
@neerajprad This is a pytorch bug, not a Pyro bug, so I'll close this. I raised the issue here: https://github.com/pytorch/pytorch/issues/9521.

[2018-07-18 03:55] #1221 closed

[2018-07-18 03:57] neerajprad commented on #1221
Thanks for digging in, and creating the issue, @fehiepsi.

[2018-07-19 01:08] #1242 closed

[2018-07-19 20:32] eb8680 commented on #349
I think the things mentioned have basically been addressed by `pyro.optim.multi` and `pyro.optim.lr_scheduler`, we can open more specific follow-up issues as necessary

[2018-07-19 20:32] #349 closed

[2018-07-22 12:43] fehiepsi commented on #35
@jpchen I guess this is handled in #1214 (not so sure because the formula of this paper's alpha divergence is different to Renyi's one), so I close this. Please open again if you think that they are different.

[2018-07-22 12:43] #35 closed

[2018-07-23 07:34] stefanwebb opened #1256 "[bug] Bug in MADE implementation used for IAF"
I think I've found a bug in the MADE code in [this part of the code](https://github.com/uber/pyro/blob/dev/pyro/nn/auto_reg_nn.py#L72).

The expression:
`torch.multinomial(torch.tensor(input_dim - 1).fill_(1.).float(), num_samples=hidden_dim, replacement=True)`
always returns a vector of zeros for me (not sure why, perhaps because of in-place operations?), whereas it works as it ought if I change

[2018-07-23 10:17] stefanwebb commented on #1256
I'm reworking the Pyro IAF code for my own experiments and adding a lot of features - would this be welcomed if I submitted it as a pull request?

I'm adding:

- using multi-layer MADEs with skip connections
- conditional MADEs for conditional densities
- explicitly calculating the IAF inverse
- multiple steps of normalizing flow
- MAF and NAF

[2018-07-23 14:37] karalets commented on #1256
That would be great!

On Mon, Jul 23, 2018, 3:17 AM Stefan Webb <notifications@github.com> wrote:

[2018-07-23 15:08] martinjankowiak commented on #1256
@stefanwebb

that would be awesome. in doing so you might consider doing the following:

1) open up an issue to highlight/discuss some of the design choices you're making. it's possible
that some group discussion and targeted comments could improve upon your initial design

2) when you're ready to submit code, submit a series of PRs (each adding one or two discrete
new features) instead of one gia

[2018-07-23 15:20] fritzo opened #1257 "Stein variational gradient descent, Stein message passing"
1. How can Stein Variational Gradient Descent ([Liu16](https://arxiv.org/pdf/1608.04471.pdf)) be implemented in Pyro? Is this simply a mixture-of-deltas guide, e.g. `AutoMixtureOfDeltas`?
2. Can Pyro's enumeration framework be used to implement Stein Message Passing ([Wan18](http://proceedings.mlr.press/v80/wang18l/wang18l.pdf), [Shou18](http://proceedings.mlr.press/v80/zhuo18a/zhuo18a.pdf))?

[2018-07-23 19:01] ae-foster opened #1258 "Efficient posterior update and posterior sampling in Gaussian processes"
In the current pyro GP library, GP objects like `GPRegression` recompute the full kernel matrix each time they are optimized https://github.com/uber/pyro/blob/dev/pyro/contrib/gp/models/gpr.py#L80

Furthermore, when sampling from the GP posterior, we recompute the kernel matrix again https://github.com/uber/pyro/blob/dev/pyro/contrib/gp/models/gpr.py#L128 and the cross-kernel-matrix with the new d

[2018-07-23 19:03] eb8680 commented on #1258
cc @fehiepsi

[2018-07-23 19:07] eb8680 commented on #1232
Resolved by #1240

[2018-07-23 19:07] #1232 closed

[2018-07-23 21:20] fritzo commented on #1256
Oh right, that should have been `torch.Tensor(input_dim - 1)` rather than `torch.tensor(input_dim - 1)`. The former creates an empty tensor of shape `(input_dim-1,)` whereas the latter creates a scalar `LongTensor` of shape `()` filled with the value `input_dim - 1`.

[2018-07-24 01:00] ae-foster commented on #1258
That paper from ICML that was discussed today about approximate techniques for GPs at large scale (http://proceedings.mlr.press/v80/pleiss18a/pleiss18a.pdf) could give more research-frontier techniques for addressing these kinds of issues efficiently. Also @fritzo said today that there is some plan to merge pyro's GP support with other GP libraries.

[2018-07-24 01:17] fehiepsi commented on #1258
Basically, I agree with what @ae-foster suggested.

About "Caching", if we want to sample repeatedly from posterior, then it is efficient to cache repeated computation.

About "Schur complements", the explanation makes sense (though I am a bit worried about the precision issues when working with inversed matrix).

About "Not conditioning on every point", it might be a nice feature. To prevent the

[2018-07-24 11:56] stefanwebb commented on #1256
Ah of course!

[2018-07-24 12:30] stefanwebb opened #1260 "Library for neural normalizing flows"
I've created this issue to discuss design choices for a library for normalizing flows building on the existing code for inverse autoregressive flows with MADE.

Here's the first couple of things I wanted to work on:

I was going to start by adding extra capabilities to the MADE class in `pyro.nn.AutoRegressiveNN` so you have more control over its architecture. At the moment it has a single hidden

[2018-07-24 13:17] windj007 opened #1261 "Importance sampling on cuda"
I have a classification model with latent variables and I would like to empirically calculate p(y|x) = p(y|x,z) p(z|x) over many sampled z values (make a prediction).
I'm trying to do this by:

[code]

My model is on CUDA and I get the following exception:

[code]

Something wrong here? Is this a proper way to achieve an ensemble-like predictions?

[2018-07-24 13:59] stefanwebb commented on #1260
Here's the pull request: #1262

[2018-07-24 17:52] eb8680 commented on #1261
Hi, are you sure all of your model and guide tensors (data, priors, parameters) are of the right type?  You might also need to manually type some scalars by making them size-0 tensors.

[2018-07-25 08:00] windj007 commented on #1261
Hi, yes. I'm training this model using SVI. Earlier I predicted without sampling (just from mean hidden values), but now I want to try sample it. This is what my model looks like:

[code]

FCN is a multi-layer perceptron. This component is used in many parts of project, so it's well-tested.
Also, if I train on CPU, sampling works. Copying model to CPU after each batch to evaluate domain metrics is

[2018-07-25 17:01] fritzo commented on #1261
Hi @windj007, you may need to pass `use_cuda=True` to `iarange` (see [docs](http://docs.pyro.ai/en/0.1.2-release/primitives.html#pyro.__init__.iarange)).

[2018-07-26 01:34] fritzo opened #1265 "Request example/tutorial using GPyTorch in Pyro"
It would be nice to have an example demonstrating how to learn GP hyperparameters in Pyro, using the [GPyTorch](https://github.com/cornellius-gp/gpytorch) implementation of GPs. We should be able to add a Pyro example/tutorial by forking the [simple GP regression](https://github.com/cornellius-gp/gpytorch/blob/31d4d68/examples/simple_gp_regression.ipynb) tutorial and replacing the torch optimizati

[2018-07-26 01:35] fritzo commented on #1265
cc @gpleiss @jacobrgardner @andrewgordonwilson

[2018-07-26 08:07] fehiepsi commented on #1265
It was a great conversation! Because I didn't say much during the talk, I'd like to take this chance to share some of Pyro GP's features which might be helpful for your plan:

- Beside SVI, Pyro GP also supports HMC.
- For deep kernel learning, Cornell GPytorch uses low dimensional outputs of a pre-trained neural network to feed into a GP model. On the other hand, Pyro GP can train both network's

[2018-07-26 13:47] jacobrgardner commented on #1265
Just to clarify, GPyTorch **absolutely** trains the network parameters and GP hyperparameters simultaneously. This is largely the point and strength of DKL. In the MNIST example we start by pretraining just to show it is possible, but then the model is trained jointly. In the LOVE + SKI notebook we demonstrate training a deep kernel model from scratch, and we have several DKL CIFAR10 and CIFAR100

[2018-07-26 14:45] fehiepsi commented on #1265
@jacobrgardner Thanks for pointing out! I just took a look and was amazed by the performance in LOVE + SKI notebook. Well done!

[2018-07-26 23:27] fritzo opened #1267 "Update to PyTorch 0.4.1"
- [ ] #1294 Fix failing CPU tests (@neerajprad, @fritzo)
    - [x] Update .travis.yml
    - [x] Work around https://github.com/pytorch/pytorch/issues/9917 bug in `torch.bernoulli(p.expand(s))`
    - [x] Work around https://github.com/pytorch/pytorch/issues/9521 bug in `Dirichlet` of expanded tensors
    - [x] Work around https://github.com/pytorch/pytorch/issues/9977 `RuntimeError` in `test_em.py`

[2018-07-26 23:43] neerajprad commented on #1267
I will start with the tests / breaking code on `dev` and update `.travis.yml`. We can cover the remaining tasks in parallel.

[2018-07-27 00:06] fritzo commented on #1267
Great, I'll start migrating our distributions in #1268. This will fail CI until we switch torch version on travis.

[2018-07-27 00:20] alicanb commented on #1267
I just merged #1264 into dev, don't forget to pull before pushing!

[2018-07-27 06:01] jpchen opened #1272 "DMM throwing nans in pytorch 1.0"

[2018-07-29 21:52] eb8680 commented on #1267
Is `pyro.ops.jit.compile` deprecated/obsolete under PyTorch 0.4.1? Do we need to remove it?

[2018-07-31 16:44] #1128 closed

[2018-07-31 20:23] easysoft2k15 opened #1280 "Unable to register into the Pyro forum"
I tried many time to register into the pyro forum:
[https://forum.pyro.ai]
The site keep telling me that I'll receive a confirmation email but I never got one.
I request the email many time, I tried to change email address, I check spam message but nothing worked.
I'v also tried to register with github but I get an error:

Doing it from a cookie clean browser make it ask for a password but it then

[2018-07-31 20:49] neerajprad commented on #1280
Not sure if this is a recent issue, but another on the [forum](https://forum.pyro.ai/t/svi-for-classification/324) mentioned about github authentication not working.

[2018-08-01 06:12] easysoft2k15 commented on #1280
This morning i retry the "Resend email" link and it worked!
Not sure if this was a bug or a temporary problem.
In any case I guess You can now close the issue.
Thank You