[2019-02-07 21:40] neerajprad commented on #1737
I can't think of much at the moment. There's the issue of TracePosterior being lazy for MCMC that I mentioned above, but that's a narrow use case that will help multiprocessing.

[2019-02-07 21:58] eb8680 commented on #1733
Closing as addressed by [DGL](https://www.dgl.ai/), feel free to reopen if you have a Pyro-specific feature in mind.

[2019-02-07 21:58] #1733 closed

[2019-02-08 20:56] fehiepsi commented on #1692
@elbamos Hope that you don't mind if I take care of this issue separately.

[2019-02-08 21:57] #1728 closed

[2019-02-08 22:17] neerajprad opened #1742 "CUDA with multichain HMC throws invalid device pointer exception"
This was fixed in https://github.com/pyro-ppl/pyro/pull/1694 but I am seeing this again on dev when I run `python baseball.py --cuda`. cc. @fehiepsi

[2019-02-08 22:21] neerajprad commented on #1742
I think https://github.com/pytorch/pytorch/pull/16194 probably didn't make it into the torch-1.0.1 release. I'll just skip this from the CUDA test for the time being.

[2019-02-08 22:21] #1742 closed

[2019-02-08 22:27] elbamos commented on #1692
Actually I’d prefer if you weren’t involved at all. You were quite defensive and antagonistic. That’s why I’ve reached out to others. Anyways issue I mentioned above is resolved.

[2019-02-08 22:55] neerajprad commented on #1692
This is an error that is thrown when HMC tries to find an initial trace to begin sampling from. It repeatedly samples from the prior until it finds a trace with a non-nan value for potential energy, and throws this error if it doesn't succeed in 100 trials. My guess is that the `log_prob` for the samples generated from the prior in your model is NaN or Inf for one of the distributions? If you poin

[2019-02-08 23:32] fehiepsi commented on #1692
Yeah, I forgot about it. This should be the case.

[2019-02-09 01:35] vishwakftw commented on #1707
Could I work on NormalNormal?

[2019-02-09 02:34] elbamos commented on #1692
Thanks, @neerajprad, I was able to trade it to an issue in the conversion that I've resolved.  Now dealing with an issue being thrown by mutli_normal while building a good example.  I should have it worked through soon.

[2019-02-09 04:01] fehiepsi commented on #1692
+1

[2019-02-09 14:14] vishwakftw commented on #1707
Thank you @fritzo. I will have an implementation available in a few hours for the `loc` conjugated normal.

[2019-02-09 20:54] elbamos commented on #1692
Ok, I've tracked-down the issue that I'm seeing...  It relates to an intersection between Pyro's sampler and precision limits on the `tanh` transformation.   I apologize for the lengthy explanation, but I think its necessary.

To build the L Cholesky of a correlation matrix, we have to go from an unconstrained vector of appropriate size to a lower matrix where each row has a unit norm, and each en

[2019-02-09 21:56] fehiepsi commented on #1692
Not sure if it helps, but you can clamp the output of `tanh` transform to (-1 + eps, 1 - eps) as in https://github.com/pytorch/pytorch/blob/master/torch/distributions/utils.py#L77.

[2019-02-09 22:06] elbamos commented on #1692
@fehiepsi It will run if I do that.  But I'd think that would cause two problems:

1. The clamp will cause a step in the gradient, which will then confuse HMC.
2. The generated matrices won't be good samples; Pyro will still be feeding-in very wide unconstrained samples, and the inputs to the transformation will all be `\in {-1 + eps, 1-eps}`, which obv aren't good starting points for correlation

[2019-02-10 18:09] fritzo commented on #1707
Closing this issue until we work out design issues in #1723 .

Here are the reasons I am closing this issue:
1. We're still working out the conjugacy interface, and we welcome contributions to the [design doc](https://docs.google.com/document/d/1625HLlJUyaNxQRng3LsixVFqOuUYkK8S6otGVgYEhos/edit#), which is still in progress.
2. We're implementing [a library](https://github.com/pyro-ppl/funsor) to e

[2019-02-10 18:09] #1707 closed

[2019-02-10 21:25] neerajprad commented on #1692
@elbamos - Great job debugging this! I think at @fehiepsi's solution should be fine. We have had to add these epsilon factors inside many distributions for numerical stability reasons around boundaries. The only thing I would suggest is to choose `eps` using `torch.finfo` as in @fehiepsi's link so that the epsilon added depends on whether the tensor is of type double or float. Another suggestion w

[2019-02-10 22:36] fehiepsi commented on #1692
I think that we should move this distribution to pytorch (as mentioned by @SsnL at https://github.com/probtorch/pytorch/issues/150) later, after testing the correctness in jit/cpu/gpu. In the mean time, I'll open a parallel PR with tests to address the correctness (should be top priority) and performance (not important right now) of the implementations.

[2019-02-11 04:29] elbamos commented on #1692
I continue to be concerned about this.

When @fehiepsi was contributing to the repo, he produced a PR that was a complete re-write, claiming to have found math bugs in Stan.  When I looked at the PR I quickly realized that the math was incorrect, and found a variety of other issues. (E.g., the code didn't run.) I tried to engage him on it, but he claimed that "no review was necessary."  He then sa

[2019-02-11 16:46] fehiepsi commented on #1692
I can't cooperate because I don't have time to address all of your better ideas (while you can do it yourself). Though I didn't say "no review was necessary", you might have made up that story in your mind. I'm sorry about that. And I am sorry about the mistakes (about math, pytorch version,...) that I made which might have bothered you a lot. I hope that you respect my help on explaining about py

[2019-02-11 17:11] eb8680 commented on #1692
@fehiepsi and @elbamos - I looked at the PR in question and mostly what I saw was the sort of reasonable but inevitable miscommunication that happens when smart, well-intentioned strangers discuss complicated math on the internet.

I've removed the off-topic comments.  Please do not add others to this issue.

[2019-02-11 18:24] fritzo commented on #1692
I think the best place for verbose code review of statistical functions is either Pyro or https://github.com/probtorch/pytorch . I'm fine starting in Pyro and later moving to PyTorch

[2019-02-12 20:02] neerajprad commented on #1737
Is everyone good with releasing a minor version with the current dev branch?

[2019-02-13 07:20] elbamos commented on #1511
I'm jumping in here because I've also seen serious performance issues with NUTS/HMC.

In my testing, performance starts out adequate, and then begins to drop precipitously after around 20 iterations.  I have observed as this is occurring, the step size is increasing.

To me, the interesting thing is that the performance isn't constant. It declines after time.  That suggests to me that the issue is

[2019-02-13 07:29] elbamos opened #1755 "NaNs and constraints [bug, maybe?] [discussion, possibly?]"
### Issue Description
With a parameter set to have a positive constraint, I sometimes get NaNs in the guide.

### Code Snippet

My guide includes the following code:

[code]

In trying to debug why, when I try to use SVI with my model, I the call to `cholesky` will sometimes throw an LAPACK exception after many iterations, I found this to arise when `theta` in the guide contains a NaN.

I'm very c

[2019-02-13 07:39] elbamos opened #1756 "[feature request] add arbitrary sampling of latent and intermediate values"
### Issue Description

It would be helpful to be able to apply sampling statements to intermediate values (values that are neither parameters nor the product of sample sites), in order to increment the log prob in MCMC, or add gradient in SVI.

This issue arises in models that are highly constrained and/or involve a lot of intermediate math applied to parameters.

As a simple example:  In certain

[2019-02-13 18:11] martinjankowiak commented on #1755
getting nans in SVI is a pretty common occurrence. typical reasons why things explode include:
- bad hyperparameters for optimizer (e.g. learning rate too high, too little momentum/smoothing of gradients, etc.)
- bad initialization of variational parameters (e.g. variances too high)

in your particular case you might also try a different transformation to the positive real line. i believe `constra

[2019-02-13 20:34] elbamos commented on #1755
I can try softplus.

Let me just suggest, however, that in a ppl, if getting nan's in a constrained-positive scale parameter is a common occurrence, I would classify that as a bug.

[2019-02-13 20:38] martinjankowiak commented on #1755
variational inference turns bayesian inference into a stochastic optimization problem. unfortunately, no one has figured out how to robustly solve stochastic optimization problems in full generality. when stan hmc gets stuck in one mode and doesn't explore other modes is that a bug? general bayesian inference is very difficult. pyro is a tool not a solution that claims to robustly do inference for

[2019-02-13 21:00] #1737 closed

[2019-02-13 23:47] eb8680 commented on #1756
Hi @elbamos, this seems like a reasonable request but I'm not sure I fully understand what you're asking for.  You can use `pyro.sample` to add constraints; I believe NUTS should handle the following correctly:
[code]
If that's not what you had in mind, could you provide a Stan example that does what you want or maybe write a piece of Pyro model pseudocode that doesn't currently run but demonstrat

[2019-02-14 00:12] eb8680 commented on #1755
Hi @elbamos, this seems like an issue with `constraints.positive`, which is part of PyTorch distributions.  I recommend opening a PyTorch issue with a minimal reproducible example that doesn't use Pyro so folks there can look into potential fixes.  For that reason I'm going to close this issue.

As @martinjankowiak says, getting variational inference, especially black-box Monte Carlo variational i

[2019-02-14 00:12] #1755 closed

[2019-02-14 05:12] elbamos commented on #1755
@martinjankowiak

Its considered a bug in the model.  Much of the discussion of the art of Bayesian inference with NUTS concerns how to reparameterize models to support proper exploration of the posterior.

If, on the other hand, I was to define a Stan `parameter` as follows:  `real<lower=0> sigma;` gave it a prior of `sigma ~ cauchy(0, 1);` and then used it in  `obs ~ normal(0, sigma)`, and durin

[2019-02-14 05:13] elbamos commented on #1756
Thanks! I had not considered using the `obs` parameter in that way.  That may work.  Let me try it and see.

[2019-02-14 09:56] elbamos commented on #1756
@eb8680 You're correct.

Before your comment, I had been under the impression, based on reading examples such as http://pyro.ai/examples/mcmc.html, that calling `theta = pyro.sample("theta", dist.HalfCauchy([something]))` was sufficient to set a prior on theta.

I now realize that was incorrect.

[2019-02-14 09:56] #1756 closed

[2019-02-14 18:41] fritzo opened #1759 "pip install pyro-ppl failing in Python 3"
[code]

[2019-02-14 19:16] fritzo commented on #1759
Seems to be fixed by our 0.3.1.post1 release.

[2019-02-14 19:16] #1759 closed

[2019-02-15 18:51] fritzo opened #1761 "Redirect docs.pyro.ai to a 'stable' endpoint"
## Problem
Currently docs.pyro.ai redirects to http://docs.pyro.ai/en/0.3.1/. This prevents search engines from aggregating links. For example if I search for "pyro poutine", google currently points me to https://docs.pyro.ai/en/0.2.1-release/poutine.html which is old documentation.

## Proposed solution
If we instead redirected to http://docs.pyro.ai/en/stable/ then search engines would point to

[2019-02-15 18:57] fritzo commented on #1761
This might also help avoid url churn as in #1757

[2019-02-15 18:57] jpchen commented on #1761
done

[2019-02-15 18:57] #1761 closed

[2019-02-18 22:42] SsnL opened #1763 "[FR] initialize MCMC from a given state"
### Issue Description
Sometimes we have domain knowledge about a good initial state, e.g., when the code is run in an online fashion and we want to incorporate new observations into existing inference. In such cases, it would be useful to have a way to initialize MCMC with a given state, or distribution of state values (e.g., maybe represented by a model itself).

[2019-02-18 23:43] kamathhrishi commented on #1207
Is Powell's dog leg method the same as this https://en.m.wikipedia.org/wiki/Powell%27s_method ?

[2019-02-19 00:32] #1494 closed

[2019-02-19 00:58] fehiepsi opened #1764 "Add pyro-ppl to conda-forge"
Does everyone agree if I submit a PR to add pyro-ppl to conda-forge [with the receipt](https://gist.github.com/fehiepsi/1e6c26dd30144e413f1c412179bd53b8)?

About maintaining, whenever we have a new version, conda-forge will automatically make a PR with updated version and updated sha256. The only thing we need to do is merging that PR if everything is fine. If we change requirements in future vers

[2019-02-19 01:25] fehiepsi commented on #1763
Hi @SsnL , right now you can change initial_trace of an MCMC kernel as follows:
[code]

As a side note, right now we don't have a public interface to set initial_traces for different chains. I'll think about how to support it if it is useful for you.

[2019-02-19 02:10] SsnL commented on #1763
@fehiepsi Thanks! This code snippet is helpful!

[2019-02-19 06:32] fehiepsi opened #1769 "[FR] Improve save_visualization's functionality"
It is my first time to use `save_visualization` function. But it does not work as my expect. Here is the output of the model in Bayesian regression tutorial:

![image](https://user-images.githubusercontent.com/4736342/52992983-8646f980-33e0-11e9-94c3-bbee9101ccb0.png)

The output only displays random variables in an order and adds colors to the nodes. It does not capture dependency.

I think that

[2019-02-19 13:31] kamathhrishi commented on #1207
Could I have a relevant paper or source about Powell dogleg method ?

[2019-02-19 16:45] fritzo commented on #1207
@kamathhrishi I've added [a reference](http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.73.3864&rep=rep1&type=pdf) above. Actually since #1670 we have a general batch inverse, and I think it may be possible to implement also an exact `newton_step_nd()`.

[2019-02-19 16:53] fritzo commented on #1764
This seems like unnecessary overhead. We have limited resources on the Pyro team, and I feel those resources are better spent on documentation, design, and support. Also this would add extra friction to the already high-friction release process, and in response we would react by releasing less frequently.

[2019-02-19 16:56] kamathhrishi commented on #1207
Thank you @fritzo , incase I have queries do I post on forum and enquire or make a base PR and then incrementally work on it?

[2019-02-19 17:12] fritzo commented on #1207
Hi @kamathhrishi feel free to open up a [draft PR](https://github.blog/2019-02-14-introducing-draft-pull-requests/) for discussion.

[2019-02-19 17:17] kamathhrishi commented on #1453
@fritzo I would like to go for this first. What exceptions do we handle under exception blocks? I noticed PEP8 format didn't allow me to create a blank except statement that could allow me to handle any kind of error.

[2019-02-19 17:38] fritzo commented on #1453
@kamathhrishi  I think the cleanest way might be to add a new context manager to pyro.poutine.runtime
[code]
Then we can use this debugger in `pyro.infer.enum.get_importance_trace`
[code]
and probably somewhere else for HMC. @eb8680 does this seem reasonable?

[2019-02-19 19:06] fehiepsi commented on #1764
I guess this just adds a tiny overhead because all we will do is to press a merge button when receives a notification from conda-forge. But I'll test how it will go first.

[2019-02-19 19:08] fritzo commented on #1764
@fehiepsi The kind of overhead I'm talking about is developer resources, where we will inevitably break something in the conda configuration and then some developer will have to spend hours debugging and fixing it, and ask another developer to help out with another few hours. Unless there is significant user demand for conda packages, our precious developer time is better spend elsewhere.

[2019-02-19 22:16] eb8680 commented on #1769
This might be useful but is probably not straightforward to implement, though PRs are certainly welcome.  Let's track this in #1502 and close this issue as a duplicate.

[2019-02-19 22:16] #1769 closed

[2019-02-20 12:25] kamathhrishi commented on #1453
@fritzo Thank you for the leads. I am unfamiliar with the codebase, is there any way I could learn about it quickly any relevant paper or document?

[2019-02-20 13:00] varenick commented on #687
@fritzo I haven't found sketches of integrating `.entropy()` methods into `Trace_ELBO` here: https://github.com/pyro-ppl/pyro/blob/rejector-research/pyro/infer/trace_elbo.py ; is this issue still actual?

[2019-02-20 21:25] FedericoV opened #1771 "MCMC posterior distribution of observations returns the wrong values"
### Issue Description
Extracting the parameters from an MCMC trace, and then manually running them through the model gives a different answer than extracting the distribution of the observable variables.

### Environment
- MacOSX
- Torch Version 1.0
- Pyro Version '0.3.1+b1180428'

### Code Snippet
I have a model with a multi-variate likelihood that looks like this:

[code]

If I fit try to sample

[2019-02-20 21:46] FedericoV commented on #1771
I also get the same exact behaviour if I get the posterior distribution directly doing this:

[code]

The posterior distribution of an observed variable seems to be incredibly close to the value of the variable used in training plus the observation noise, not what the model is actually predicting.

[2019-02-20 21:49] fehiepsi commented on #1771
@FedericoV It seems to me that the line `train_pred = posterior_forecaster.run(X_train, X_test, y_train)` should be `train_pred = posterior_forecaster.run(X_train, X_test, y_train=None)`. By setting `y_train=None`, we tell the model that `train_obs` is not an observed node.

[2019-02-20 21:52] FedericoV commented on #1771
Aha, that worked perfectly, thank you.  Now, I need to investigate why NUTS seems to work much worse than ADVI for this problem...

[2019-02-20 21:53] #1771 closed

[2019-02-21 04:45] fritzo commented on #687
@varenick This issue is still active, but I don't know where the `.entropy()` code was. I believe the best place to look is the more recent [TraceMeanField_ELBO](https://github.com/pyro-ppl/pyro/blob/0.3.1/pyro/infer/trace_mean_field_elbo.py#L107), but I believe the pure entropy term may be high variance. @martinjankowiak can you comment?

[2019-02-21 04:48] fritzo commented on #1453
@kamathhrishi I recommend starting with the [tutorials](http://docs.pyro.ai) and reading [minipyro.py](http://pyro.ai/examples/minipyro.html) for an architectural overview. Feel free to put up a draft pull request following my above comment, and we can discuss changes on the PR.

[2019-02-22 03:20] neerajprad commented on #1692
Closing this with @elbamos PR in #1753. If there are any follow-up items, let us create specific issues and address them separately.

[2019-02-22 03:20] #1692 closed

[2019-02-22 21:17] martinjankowiak commented on #687
afaik we've already put most of the analytic entropy/KL logic we'd like into `TraceMeanField_ELBO`. however, this issue is still relevant insofar as certain combinations of things are not supported (e.g. analytic KLs + rao blackwellized score function gradients).  on the other hand, if we were to really try to span a substantially larger space of interoperable SVI tricks, we'd probably want to reb

[2019-02-24 17:48] varenick commented on #687
@martinjankowiak Thanks for your reply! I'll probably look for another issue to contribute.

[2019-02-24 18:00] varenick commented on #1164
@eb8680 @sameerkhurana10 Can I take this issue? If yes, I am right that what I need to implement is just to introduce a new class inherited from ELBO (say, AdversarialELBO), that would introduce a classifier for every latent variable?

[2019-02-24 18:05] varenick opened #1772 "Implementation of Gibbs sampling for MCMC"
According to https://github.com/pyro-ppl/pyro/issues/1093 Gibbs sampling is still not implemented in pyro. Can I try it?

[2019-02-24 19:23] eb8680 commented on #1164
Sure, go for it! To make it easier to get started, I would recommend first
implementing a self-contained example taken directly from a single paper
rather than a general piece of machinery - maybe the first toy example in
the Adversarial Variational Bayes paper?

On Sun, Feb 24, 2019, 10:00 AM varenick <notifications@github.com> wrote:

[2019-02-24 19:44] fritzo commented on #1772
Sure, give it a try. Do you have a motivating example model in mind? There are many possible ways to implement Gibbs sampling in Pyro; to help guide design decisions it would help to focus on a single model class, e.g. [restricted Boltzmann machines](https://en.wikipedia.org/wiki/Restricted_Boltzmann_machine) since they're nicely tensorizable. Maybe there's a way to wrap a generic [block Gibbs sam

[2019-02-25 07:23] alanlisten opened #1773 "In the SSVAE code, when normalizing MNIST images, why not round to a binary image?"
In the SSVAE code，when normalizing MNIST images, why not round to a binary image? Because the likehood is a discrete Bernoulli distribution in the model function, and obs is a continuous picture on [0,1], there is an irreversible error.

[2019-02-25 07:48] eb8680 commented on #1773
Hi, [`torch.distributions.Bernoulli.log_prob`](https://pytorch.org/docs/master/_modules/torch/distributions/bernoulli.html#Bernoulli.log_prob) uses [`torch.nn.BCEWithLogitsLoss`](https://pytorch.org/docs/master/nn.html#torch.nn.BCEWithLogitsLoss) under the hood, so it accepts values in the unit interval (try it in a repl!).  I agree it's a little odd, but this is a common enough use case for the B

[2019-02-26 02:13] #1773 closed

[2019-02-26 18:02] SsnL opened #1774 "[FR] Iterable-style MCMC"
### Issue Description

In many cases we want to use MCMC in an iterable-style, e.g.,
1. when the limiting factor is inference time, not number of iterations.
2. when we want to do post-processing on samples, in parallel to sampling.
3. when we want to update the MCMC progress on, say, a webpage.

[2019-02-26 18:52] varenick commented on #1164
@eb8680 I have read the discussion here once again; am I right, that there are actually no need for a separate functionality, like, say, AdversarialELBO class, but rather an example of using adversarial methods in pyro?

Looking at your example, it seems like computing a KL-divergence with a classifier requires a user to "dig into guts" of pyro. By saying this, I mean a user should at least use a

[2019-02-26 18:56] neerajprad commented on #1774
I think this is also related to https://github.com/pyro-ppl/pyro/issues/1725. The MCMC class itself returns a generator, but the classes that drive it like `EmpiricalMarginal` eagerly call it for a fixed number of steps. It might be still possible for the users to do something like the following:

[code]

This is very hacky though, because the progress bar will look off and won't be cleaned up pro

[2019-02-26 22:18] eb8680 commented on #1164
@varenick it would be easy enough to turn my example code above into a simple generic `AdversarialELBO` class.  I suppose I'm biased, but it seems pretty readable to me, especially if paired with our [custom SVI objectives](http://pyro.ai/examples/custom_objectives.html) tutorial :)

I'm not opposed to having an `AdversarialELBO` class, but starting with an example makes sense to me for two reason

[2019-02-27 15:32] alanlisten opened #1775 "[discussion]What is the difference between these two pieces of code? And what is "fn":"Indepent()""
### Issue Description

1. What is the difference between these two pieces of code（model1 and model2）? I feel that the second piece of code has defaulted to the batch_shape is independent, does not require a plate to declare.
2. I also found that inside the model function, if a variable calls the to_event() function, after the trace function is converted, the value of fn is Indepent() instead of th

[2019-02-27 18:24] fritzo commented on #1775
Hi @alanlisten this is a great question, but if we answer it on github it becomes relatively invisible once the issue is closed. Could you instead ask at https://forum.pyro.ai so others can benefit from an answer? Thanks!

[2019-02-27 18:24] #1775 closed

[2019-02-28 15:22] yikuanli opened #1777 "add weight parameter for the NLL and KL term in ELBO"
I find that when the number of parameters increase, the model is impossible to train with current ELBO, since the KL term basically prevent the network from learning anything, which is why we need a parameter to reduce the weight of KL term.

is there anyway to do that right now ?

### Guidelines

**NOTE:** Issues are for bugs and feature requests only. If you have a question about using Pyro or g

[2019-02-28 15:24] karalets commented on #1777
Check out the ‘custom objectives’ in the pyro examples. There is an example
of kl annealing, both in code and well documented as a tutorial.

That should probably answer your question, else please ask again here.

On Thu, Feb 28, 2019 at 7:23 AM Yikuan Li <notifications@github.com> wrote:

[2019-02-28 21:47] cfperez opened #1778 "[discussion] Pyro sets all Parameters to requires_grad=True"
### Issue Description
pyro.module() set `requires_grad=True` fo all `nn.Parameters` in a module, even if they were created with `requires_grad=False`.

Using `register_buffer()` solves this problem, but requires changing code that otherwise works in PyTorch.

It is hard to see how this would not be considered unexpected behavior. The question is how important is it, and if it is worth changing the

[2019-02-28 23:07] fritzo commented on #1778
Thanks for the report @cfperez . Can you clarify your expected/desired behavior? When a PyTorch param has `.requires_grad == False` does the parameter simply not get updated during training? If that is the case, I guess we could ignore such params in `pyro.module` and possible emit a warning recommending use of `register_buffer()` (so as to maintain plausible backwards compatibility with previous

[2019-03-01 02:06] jpchen commented on #1778
yes, from [the pytorch docs](https://pytorch.org/docs/stable/notes/autograd.html#excluding-subgraphs)

i can make this fix; i think this might have been a later pytorch feature we didnt account for - i seem to remember that when `module` was implemented in pyro (~pytorch 0.2), `Parameter`s were defined to be `Variable`s with `requires_grad = True`.

[2019-03-01 03:41] fritzo commented on #1778
@jpchen I believe the correct behavior is to **skip** calling `pyro.param` inside `pyro.module` whenever the param has `.requires_grad == False`. Specifically, I believe changes should be limited to `pyro.module`, and there should be no changes required to `pyro.param`. Let me know if you disagree. Otherwise, thanks for implementing this!

[2019-03-01 03:51] fritzo commented on #1772
@varenick if you do decide to work on this task, I'd suggest writing up a brief design doc before starting to code. There are lots of design decisions to make here, and it's worth discussing where to fit this in. For examples of some previous (longer) design docs, see:
https://docs.google.com/document/d/1jdZYAP_KE8ALmWQTAh4QUvvwjiAkBRtNKfSWIHjO4KM/edit?usp=sharing
https://docs.google.com/document/

[2019-03-01 08:56] jpchen commented on #1778
@cfperez what is your use case of non-grad parameters of a nn?  if you have fixed weights or non-learnable params can't you just not wrap it in `torch.nn.Parameter`?

[2019-03-01 22:40] jpchen commented on #1777
as @karalets said, the air, dmm, and ss-vae tutorials have examples of annealing, as it is also in the [custom objectives tutorial](http://pyro.ai/examples/custom_objectives.html#Example:-KL-Annealing).  as noted in your issue, please post pyro usage questions on the [forum](https://forum.pyro.ai) so that others may benefit from your questions.

[2019-03-01 22:40] #1777 closed

[2019-03-02 14:33] varenick commented on #1772
@fritzo Thank you for your helpful comments! It seems like, I do not plan to start to work on this issue right now. Anyway, at first I have to think about design choices as you suggest.

[2019-03-02 15:07] varenick opened #1780 "[Feature Request] Analogue to TraceELBO class, but with MMD instead of KL"
### Feature:
A new `MMDTraceELBO` class, that will implement a Mean Measure Discrepancy between samples from guide an from model instead of KL-divergence as in `TraceELBO` class.

### Motivation:
Elbo is a sum of an expected loglikelihood and a minus KL-divergence between the posterior distribution and the prior. In order to compute a KL-term, we have to either have an ability to compute log-proba

[2019-03-02 19:59] eb8680 commented on #1780
@varenick sure, PRs are welcome!  You should be able to use some of the existing kernels in `pyro.contrib.gp`.  How are you thinking of computing the MMD for models with multiple variables?  Are you planning to use one additive kernel per latent variable?

[2019-03-03 00:51] karalets commented on #1780
Also check out this line of literature https://arxiv.org/abs/1608.04471 for
Stein estimators.

On Sat, Mar 2, 2019 at 7:07 AM Eugene Golikov <notifications@github.com>
wrote:

[2019-03-03 08:41] varenick commented on #1780
@eb8680 Thanks for a tip with existing kernels; I didn't know about them.

I was thinking of using (generally) different kernel `k_i(*,*)` per latent variable `z_i` and combine them with a (weighted) sum. Since all latent variables live in different spaces, the resulting kernel `k(*,*)` for a joint latent variable `z = (z_1, ..., z_n)` breaks down into sum of kernels: `k(z,*) = Sum_{i=1}^n k_i(z_i

[2019-03-06 18:55] fritzo commented on #1508
Hi @srush and @justinchiu,

@eb8680 and I have been working on a new Pyro backend for dynamic programming and nonstandard interpretation. We'd love to hear your feedback on the [design doc](https://docs.google.com/document/d/1NVlfQnNQ0Aebg8vfIGcJKsnSqAhB4bbClQrb5dwm2OM/edit?usp=sharing), both because you've expressed interest in more complex dynamic programs, and because we've copied some of your

[2019-03-06 19:23] #1778 closed

[2019-03-06 19:25] fritzo opened #1781 "Move Delta distribution upstream to PyTorch"
As requested by @SsnL and @Kaixhin

[2019-03-06 19:26] fritzo commented on #1781
Question: Should we drop `event_dim` now that it can be handled by `Independent`?

[2019-03-08 08:03] BeginnerAI opened #1782 "Question about the RuntimeError of ss_vae_M2.py"
- OS : windows 10
- Pytorch version: 1.0.0
- Pyro version: 0.3.1

Hi.
I have an interest in the ss_vae_m2 algorithm.
I make a run on the uploaded your code, but I met error messages as follows:

[code]
Could you take a look for this too? Thanks!

[2019-03-09 20:08] fritzo commented on #687
Note the TODO for analytic entropy methods was refactored into [Distribution.score_parts()](https://github.com/pyro-ppl/pyro/blob/6dd4bb2/pyro/distributions/distribution.py).

[2019-03-10 16:21] SourabhKul commented on #1461
Hi, sorry for responding late. In my attempt to encode graph-based models like Bayesian networks in pyro, I realize that there really needs to be a better way to do it. Let me elaborate:

Typical flow to solve real-world problems through graph-based models is
i) model each feature of the data as a random variable (optionally have some latent variables)
ii) define relationships between these variab

[2019-03-12 18:01] fritzo commented on #1461
@SourabhKul you can use Pyro easily for your Bayesian network workflow easily in Pyro, except structure learning which you would need to hand-code on top of Pyro. I'm sorry if you found Pyro confusing coming from a Bayes net background. We could definitely use help with documentation.

[2019-03-17 21:44] SourabhKul commented on #1461
Thanks for the feedback, I'll give it another try after I go through more examples. It might just be that I need to be more familiar with pyro. Is it OK if I ask doubts in this thread while I do so?

[2019-03-18 09:45] Chechgm commented on #1782
Hi @BeginnerAI,

I had the same problem not so long ago. My way to fix it was to change all calls to train_data, test_data, train_labels and test_labels to just data and targets. The model trains but I am not able to replicate Kingma's results. Let me know if it fixes your problem and if you are able to replicate their results.

Best,
Sergio

[2019-03-18 17:32] neerajprad commented on #1782
I think this is due to a recent change in `torchvision`. You might have to pin to `torchvision==0.2.1` to get it running. cc @jpchen who also faced this. We need to update the data loading utility class for SS-VAE to be compatible with the latest torchvision package or deprecate that dependency altogether. In the meantime, I think downgrading that dependency should work.

[2019-03-18 18:24] sjfleming opened #1784 "[bug] JIT plus .mask() errors when batch_size changes"
### Issue Description
When using JIT, there is typically no problem passing in a minibatch with smaller batch size (as would happen for the last minibatch in a dataloader).  However, when there is a masked distribution in the guide, an error appears which complains that tensor sizes do not match.

### Environment
 - OS: reproduced on Mac 10.13.6 and Ubuntu 16.04
 - Python version: 3.6.5
 - PyTorch

[2019-03-18 21:19] fritzo commented on #1784
Thanks for the clear bug report @sjfleming !

This appears to be a bug in [scale_and_mask()](https://github.com/pyro-ppl/pyro/blob/1ca4bfa/pyro/distributions/util.py#L171). I am confused, since I thought we fixed this, and we even have a [test_masked_fill()](https://github.com/pyro-ppl/pyro/blob/7a25559/tests/infer/test_jit.py#L130) that exercises resizing. @neerajprad any ideas?

[2019-03-18 21:22] fritzo commented on #1461
@SourabhKul Great. If you have any intro questions, the best place to ask is https://forum.pyro.ai

[2019-03-19 01:49] neerajprad commented on #1784
Thanks for the bug report. We'll add this as a test to `test_jit.py`, and debug further.

[2019-03-20 19:00] neerajprad commented on #1784
I have filed an issue for this in PyTorch - the problem is with the `~` operator which doesn't seem to generalize to different tensor shapes under JIT, and we use `~mask` in the `scale_and_mask` function. I suppose we could work around by passing the inverted mask directly, but I don't think there is a backward compatible workaround that we could put in Pyro's dev branch.

[2019-03-20 19:14] fritzo commented on #1784
@neerajprad would `mask == 0` or `255 - mask` serve as a workaround for `~mask`?

[2019-03-20 19:57] neerajprad commented on #1784
`(mask == 0)` works great! I can add that with a test.

[2019-03-21 15:55] #1784 closed

[2019-03-22 18:32] neerajprad opened #1787 "OOM error with NUTS on CUDA"
### Issue Description

Issue mentioned in our [forum](https://forum.pyro.ai/t/reducing-memory-requirement-for-nuts/850):

When performing parameter inference with NUTS on CUDA I observed a linear increase in allocated memory that leads to the termination of the processes within a few iterations. This only happens after warmup is finished, and apparently also happens on CPU. The minimum program to

[2019-03-22 18:40] neerajprad commented on #1787
Thanks for the clear report! The memory would increase per iteration since we are storing `num_samples` execution traces, which could be more problematic on the GPU because of higher memory limitation. I think the only way around this would be to store the bare minimal information from the trace as mentioned in this [issue](https://github.com/pyro-ppl/pyro/issues/1725) (yet again!), so I'll defini

[2019-03-22 22:20] cweniger commented on #1787
I used poutine.block to remove the data nodes in `_get_trace` in the HMC and NUTS sampler. This solved the problem for now. See https://github.com/cweniger/pyro for details if you are interested.

[2019-03-22 22:28] neerajprad commented on #1787
That's great! You can certainly use block to not record certain sites in your model. Were you cloning the data in your model? Because otherwise the data nodes should point to the same memory reference and shouldn't consume memory that scales with the number of samples (unless we have some bug in our code!).

[2019-03-22 22:37] cweniger commented on #1787
I did not clone the data, and indeed the data nodes were all pointing to the same memory reference (inplace modifications modified all at once). Still, blocking these nodes solved the problem. I'm also confused by what is going on, but for now it seems to work.

[2019-03-25 11:39] mhangaard commented on #836
Derivatives of observations as in E. Solak, R. Murray-Smith, W. E. Leithead, D. J. Leith, and C. E. Rasmussen,
“Derivative observations in Gaussian process models of dynamic systems,”
in Advances in Neural Information Processing Systems, edited by S. Becker,
S. Thrun, and K. Obermayer (MIT Press, 2003), Vol. 15, pp. 1057–1064.
32 J. Riihimäki and A. Vehtari, “Gaussian processes with monotonicity i

[2019-03-27 05:49] fehiepsi commented on #1787
I think that `data` node’s fn will hold different loc/scale for each trace, so we get OOM. This can be another reason for not holding the whole trace in MCMC. I believe #1730 will also be resolved when we refactor out MCMC.

[2019-03-28 03:32] JHBalaji commented on #1287
@slaweku Is this issue still open?

[2019-03-30 21:43] #238 closed

[2019-04-01 17:16] createmomo opened #1797 "No TransformedDistribution in pyro.distributions"
--------------------------------------------------------------------------------------------------
### Issue Description
Unable to import TransformedDistribution in pyro.distributions, and Adam in pyro.optim.

### Environment
For any bugs, please provide the following:
 - Ubuntu 16.04, python 3.6
 - PyTorch version, 1.0.1.post2
 - Pyro version: 0.3.1

### Code Snippet
I am using the code of DMM he

[2019-04-01 17:27] createmomo opened #1798 "no Adam in pyro.optim"
--------------------------------------------------------------------------------------------------
### Issue Description
There is no Adam in pyro.optim. But I can found it in the doc.

### Environment
For any bugs, please provide the following:
 - Ubuntu 16.04, python 3.6
 - PyTorch version, 1.0.1.post2
 - Pyro version: 0.3.1

### Code Snippet
I am using the code of HMM here:
from pyro.optim impor

[2019-04-01 18:06] neerajprad commented on #1797
Could you paste the error trace that you are getting, and also the output of `pip freeze`? Note that `TransformedDistribution` is imported and wrapped automatically inside of Pyro.

[2019-04-01 18:09] neerajprad commented on #1798
Let us follow up in #1797. I think the underlying issue is the same.

[2019-04-01 18:09] #1798 closed

[2019-04-01 21:24] createmomo commented on #1797
Hey, many thanks for your quick reply. I figured out the problem. There is no problem with the code. I think the bug is about PyCharm (it cannot recognise the wrapped pytorch classes in the code editor window). But I can run the code successfully.

Thank you very much~

[2019-04-01 21:24] #1797 closed

[2019-04-03 17:11] createmomo opened #1802 "Support Viterbi Algorithm for Markov Models"
The tutorial of DMM (Deep Markov Model) is great!
https://pyro.ai/examples/dmm.html#

I think there may be much more people, not only me, would like to see how to use the model to infer the most likely latent state sequence that has the maximum likelihood by using the Viterbi decoder. In addition, the decoder is implemented in the Pyro style.

I can only found the infer_discrete in the document. B

[2019-04-04 15:15] fritzo commented on #1802
You can access the `Viterbi` algorithm by setting `temperature=0` in infer-discrete. See the [example](http://docs.pyro.ai/en/0.3.0-release/inference_algos.html#pyro.infer.discrete.infer_discrete) in the `infer_discrete` documentation. You're welcome to turn that little example into a more full-fledged tutorial, especially if you have good demo problem in mind.

[2019-04-05 15:46] rseymour opened #1808 "Weight vs Measurement in scale() / conditioning example"
### Issue Description
Conditioning on measurement guarantees all of the conditioned scale functions in chapter 2 of the docs return `9.5` in the example.  It's more interesting to condition based on a true weight measurement, and I think it shows more of what you're trying to show, a tightening of the distribution.  The docs could keep an example of conditioning on `measurement`, essentially hardc

[2019-04-05 17:27] eb8680 commented on #1808
Hmm, not sure I follow this reasoning.  Why would it be more interesting to condition on a true weight?  The point of the scale example is that we don't have access to true weights because the scale is unreliable, but we can still use a model of the measurement noise plus an initial uncertain guess to obtain an uncertain estimate of the true weight.  Note also that `pyro.condition` fixes values of

[2019-04-05 18:03] rseymour commented on #1808
Well, to stick in the example world, it's common with scales to have test samples of known mass.  In this case put 10g test mass on, you guess the scale will say 11g and so forth.  But by "more interesting" conditioning on the last returned value is the same as saying

[code]

Still learning here so this threw me for a loop causing me to come in and open this ticket.  If you condition on something

[2019-04-05 18:03] #1808 closed

[2019-04-09 08:15] varenick commented on #1780
@eb8680 I've recently made a working prototype, planning to make a PR soon. I have a small problem: I don't know how to name the corresponding class.

Candidates:
1. `MMD_ELBO`. Intuititive, but incorrect: it is not a valid variational lower bound for evidence.
2. `MMD_PseudoELBO`. Better, but PseudoELBO is not a commonly-used term.
3. `MMD_VAE_Loss`. Refers to [Ermon Group blogpost](https://ermon

[2019-04-09 16:19] fritzo commented on #1780
How about `Trace_MMD`?

[2019-04-09 17:56] eb8680 commented on #1780
@varenick great!  Looking forward to seeing your PR.  I agree with @fritzo's suggestion of `Trace_MMD`.

[2019-04-09 22:27] neerajprad opened #1816 "Improvements to the HMC interface"
For the next major release, we can incorporate some of the lessons from numpyro and issues from our forum, to improve the HMC interface as follows:
 - [ ] Provide a `potential_fn` like in numpyro so that users do not necessarily need to pass in their model, but can generate samples from any callable whose `log_density` can be evaluated. This will be useful for integrating with `funsors`, and event

[2019-04-09 22:27] neerajprad commented on #1816
cc. @fritzo, @eb8680, @fehiepsi

[2019-04-10 01:23] fehiepsi commented on #1816
I think that following numpyro approach is a good idea. It is also helpful for the future when things like `lax.cond, lax.while_loop` is available in pytorch (disclaim: I don't know what is the state of pytorch jit right now) so we can jit the whole trajectory as in numpyro to improve the speed.

[2019-04-10 06:09] varenick commented on #1780
@fritzo @eb8680 Hmm, `Trace_MMD` suggests that there is only an MMD term in the objective, however there are two terms: expected log-likelihood of the observed data, and MMD between marginal variational posterior and prior distributions. May be, `Trace_MMD_Variational_Loss` or `Trace_MMD_Variational_Objective`?

[2019-04-10 13:56] varenick commented on #1780
@fritzo @eb8680 I've tried to push my branch into remote repo, but git returns error 403: permission denied

[2019-04-10 16:42] jamesonquinn opened #1817 "Requesting feature: "Laplace family autoguides""
Requesting feature: "Laplace family autoguides"

The existing "AutoLaplaceApproximation" uses a delta guide to find the MLE of x, then creates a Laplace approximation around that MLE. But the resulting Laplace approximation is optimal in no way except its MLE. Either term of its ELBO can be arbitrarily bad.

The feature request I'm making here is for a "Laplace family autoguide". Say we have a mod

[2019-04-10 16:55] eb8680 commented on #1780
You'll need to fork Pyro on GitHub and push your branch to that fork.

On Wed, Apr 10, 2019, 6:56 AM Eugene Golikov <notifications@github.com>
wrote:

[2019-04-11 19:05] fritzo commented on #1817
@fehiepsi Long ago we discussed a few different Laplace autoguides, then created `AutoLaplace`. Do you remember whether we prototyped anything like @jamesonquinn's suggestion?

[2019-04-11 19:23] jamesonquinn commented on #1817
One important difference between my suggestion and `AutoLaplace` that may not have been evident from the above is that the fitted φ is not necessarily a (local) MAP, but rather a value that (locally) maximizes the ELBO for the guide as a whole. This is especially important for things like variance hyperparameters, which often have a pathological MAP at 0 (leading to an ELBO with infinite "energy"

[2019-04-11 19:47] fehiepsi commented on #1817
@fritzo According to my knowledge, Laplace approximation is the MVN guide generated at MAP point. Previously, we discuss about should we do Laplace approximation in constrained or unconstrained spaces and finally decide that we should go with unconstrained space to generate valid samples.

@jamesonquinn I guess that you want to propose a method to make Laplace approximation stable (to deal with th

[2019-04-11 22:03] jamesonquinn commented on #1817
To be clear: I'm coding this myself for my specific use case, so the request for an autoguide is more as something I think would be generally useful for others than for my own use.

You say "(to deal with the case the hessian is singular)?". I'd say that though it does deal with problems in the Hessian, that's not the main advantage of my suggestion. The advantages I'd foreground are:
* that it's

[2019-04-11 23:16] fehiepsi commented on #1817
To my knowledge, Laplace approximation is fast because it just does MLE inference and calculate `scale_tril` from hessian one time before sampling, so the sampling will also be fast. But I know that Laplace approximation has singularity issues when the parameters are correlated. In addition, Laplace approximation just looks at second derivative at MAP point, so it couldn't capture covariance of th

[2019-04-11 23:29] jamesonquinn commented on #1817
While my proposal would center on a maximum-ELBO point and not a MAP point, you're right that it wouldn't capture the covariance of the whole posterior. It's intended for cases where the posterior is probably largely unimodal, and the local curvature at the maximum-ELBO point is probably a good estimate of the precision matrix of the posterior. In other words, it MAY work in cases where the model

[2019-04-11 23:45] fehiepsi commented on #1817
Yup, if possible. ^^ I think you don't have to make an autoguide implementation. Adding an example is already great! So it would be easier for us to incorporate your ideas into an implementation in autoguide module.

I think other devs will have a better understanding about this FR, so I also want to hear more opinion too.

[2019-04-11 23:51] fritzo commented on #1817
@fehiepsi I think I understand @jamesonquinn's proposal pretty well (we discussed offline); let me sketch this up quick to save @jamesonquinn some time...

[2019-04-12 00:03] fritzo commented on #1817
OK, so if I understand correctly, the idea is to use a user-provided covariance/precision/scale_tril estimate. Since we eventually need a cholesky decomposition, let's assume wlog that the user can provide a `scale_tril` estimate. Then we should be able to implement this feature with a lightweight subclass of `AutoMultivariateNormal`:
[code]
The remaining TODO concerns the transform between constr

[2019-04-12 01:42] jamesonquinn commented on #1817
That pretty much covers the basics, but I have a few caveats.

* `scale_tril_fn` needs access to the model. Are you imagining that the function passed in would have a `self` argument first and would get the model via `self.model`, or should you add the model as an explicit parameter when calling the function?
* I think that the sketch above would eventually have to be substantially changed if you

[2019-04-12 02:36] fritzo commented on #1817
I guess you could use either `functools.partial(fn, model)` or define a model as a class with a `scale_tril_fn` method and then pass `model.scale_tril_fn` to the autoguide.

[2019-04-12 12:43] fritzo opened #1819 "[FR] Support constraints in minipyro"
Currently constraints in Pyro are handled by a `ParamStoreDict` class. The `ParamStoreDict` interface was simplified in #1363, but the class remains complex to retain backwards compatibility. It would be nice to pull out the minimal logic needed to handle constraints.

We could do this in minipyro in two different ways:
1. Simplify the `ParamStoreDict` to be a simple dict whose values are `(uncons

[2019-04-12 12:47] fritzo commented on #1819
@eb8680 suggested using this in [funsor](https://github.com/pyro-ppl/funsor).

@neerajprad to use this in [NumPyro](https://github.com/pyro-ppl/numpyro) you'll additionally need numpy versions of `torch.distributions.constraints` and `.transforms`. I believe you should be able to use `torch.distributions.constraint_registry`'s `biject_to` unmodified.

[2019-04-12 17:33] #1819 closed

[2019-04-16 18:50] createmomo opened #1823 "Unknown/missing/extra labels not be handled well in the sample function of a distribution"
--------------------------------------------------------------------------------------------------
### Issue Description
Unknown/missing/extra labels not be handled well in the sample function of a distribution e.g. Categorical. I am not sure if this is a bug or enhancement.

### Environment
Ubuntu 18.04, pytorch 1.0.1, pyro 0.3.0

### Code Snippet
For example, in my situation, I have 2 labels, cl

[2019-04-16 20:20] fritzo opened #1824 "[FR] Contrib module for analyzing tabular data"
This issue proposes a pyro.contrib.tabular module for analyzing heterogeneous tabular data with missing cells.

The particular latent variable model I'm interested in is [TreeCat](https://github.com/posterior/treecat), which supports pluggable models for different feature types (e.g. real, boolean, categorical, count, date, lat_long). However, once these feature models are implemented, it should b

[2019-04-17 10:50] vicgalle commented on #1257
What's the status on this?

Recently, I've been playing with the idea of using SVGD (or more generally, a discretized diffusion process, such as SGLD and variants) as part of the guide via a mixture of Deltas.

I could try to work on it if it's posible!

[2019-04-17 11:16] robsalomone commented on #1257
Hi @vicgalle unfortunately I've been very busy so haven't tried as of yet, so its all yours! I'm happy to help out if you have any issues.

Regarding your idea, not sure if you realise but there are similar ideas in using SVGD to optimise parameters of samplers like SGLD, its called Amortized SVGD (see [this paper](https://arxiv.org/pdf/1612.00081.pdf). Would be great if you could do up that metho

[2019-04-17 11:44] fritzo commented on #1257
I believe @OptimusLime is also working on a Pyro implementation of SVGD. IIRC he plans to create a new non-ELBO loss function.

[2019-04-17 11:55] fritzo commented on #1823
The canonical way to handle missing data in `pyro.sample` statements is to set `obs=None`, i.e. `None` is the canonical missing value.
[code]
This works well for batches where each variable is either entirely observed or entirely missing within each batch.

To handle batches with heterogeneously missing values, I'd use [poutine.mask](http://docs.pyro.ai/en/stable/poutine.html#pyro.poutine.mask):
[

[2019-04-17 11:55] #1823 closed

[2019-04-17 12:27] createmomo commented on #1823
Hi fritzo, many thanks for your quick and nice reply. I will post my questions in the forum.

[2019-04-19 10:18] CedricGarzotto opened #1829 "Confusion in the KL and ELBO definitions"
During the reading of the pyro tutorial, in the chapter 2, I notice a problem during the ELBO definition. The definition of the ELBO given is mathematically the definition of the Kullback-liebler divergence, and the définition of KL is the one of the ELBO.

The link of the chapter : http://pyro.ai/examples/svi_part_i.html

I would now if it's normal and in that case what is the reason.

Thank you

[2019-04-19 13:13] jamesonquinn commented on #1817
I'm trying to make a simple demo, and I got an error. The somewhat-stripped-down version of the code that gives the error is at https://forum.pyro.ai/t/multiple-sample-sites-error-help/921

[2019-04-19 13:15] karalets commented on #1829
Dear Cedric,

I cannot reproduce your concern, the math in the link looks fine to me. Can
you please point more specifically? Maybe it is not clear which section you
mean.

Also: the elbo can be derived from the kl divergence of the variational
approximation to the true posterior, which is how this is set up in the
example.

On Fri, Apr 19, 2019 at 7:18 PM CedricGarzotto <notifications@github.com>

[2019-04-20 00:07] jpchen commented on #1829
i'm not sure what your question is. as @karalets said, the elbo is the negative KL + log evidence. for a more in-depth derivation, perhaps take a look at [this overview](https://arxiv.org/pdf/1601.00670.pdf).

also, issues are for bug reports and feature requests regarding pyro.  please post these types of questions on the [forum](http://forum.pyro.ai) so others may benefit from the answer as well

[2019-04-22 22:27] #1782 closed

[2019-04-23 08:01] CedricGarzotto commented on #1829
I just notice that the ELBO is defined with p(x,z), that is a result in itself... sorry the definition is correct, I'm just disturbed by the fact that you start by the need ELBO and not by the KL divergence as used to be in mathematics.

[2019-04-23 08:54] #1829 closed

[2019-04-25 20:31] andmib commented on #1287
@neerajprad @slaweku I appologize if this is not the proper place, but if we have basic questions on compilation of the M4 code, where would be the most appropriate place for that? I.E. if I'm getting the error:

[code]

[2019-04-26 01:07] slaweku commented on #1287
Hi,
From what I remember, try to redefine the squash function, line 254, into:

Expression squash(const Expression& x) {

  return log(x);

}

Regards,

Slawek

On Thu, Apr 25, 2019 at 1:31 PM andmib <notifications@github.com> wrote:

[2019-04-26 20:18] fehiepsi commented on #1816
@neerajprad Can I work on this issue too? It is required to support GPyTorch when only `potential_fn` and `params` are needed.

[2019-04-26 21:31] neerajprad commented on #1816
Absolutely! Please feel free to create / mark off any sub-issue that you are working on above. I was planning to look at changes to the TracePosterior interface, so please feel free to take up the `potential_fn` refactor, which we also need to interface with funsors.

[2019-04-29 21:47] gizatt opened #1839 "Param store loading / saving does not load/save registered buffers"
I ran into some relatively confusing behavior when trying to save / load a model containing an AutoregressiveNN -- I'd train up my model, evaluate it, and save it to disk, but once I loaded it back, its behavior would change. The reason is that it includes a MaskedLinear layer with a randomly-generated (by default) mask, which is registered to PyTorch with `register_buffer`, but not saved out with

[2019-04-30 03:16] curtis999 opened #1841 "LDA tutorial: incorrect tensor shape when document size is larger than the vocabulary size"
https://github.com/pyro-ppl/pyro/blob/56c06176763f1676bd586c89b2dc503c64315f0a/examples/lda.py#L101

The filler array of ones should have expanded into the size of the sliced data. This is problematic when the number of words per document is larger than the vocabulary size
Try
`counts.scatter_add_(0, data[:, ind], torch.tensor(1.).expand(data[:,ind].shape))`
instead

[2019-04-30 12:52] andmib commented on #1287
@slaweku Thank you for this. I deleted my original post because I didn't want to bother you with minutia, but just noticed you answered. Your suggestion solved that error!

[2019-04-30 17:02] fritzo commented on #1841
Thanks @curtis999 for the report and fix! Do you have a simple example we can add as a regression test? It can be totally random data.

[2019-04-30 21:36] curtis999 commented on #1841
@fritzo the error can be replicated simply by passing `-w 63` or whatever that sets the vocabulary size to be smaller than the total number of words in a document.

In the example, the data is from the generative model, or we can explicatly generate it with
[code]

[2019-05-02 19:01] andmib commented on #1287
@slaweku Did you ever run into a "magnitude of gradient is bad: -nan" issue when running the `ES_RNN` module?

[2019-05-02 19:11] slaweku commented on #1287
Hi,
I did not, but I heard of someone having it. The issue was that at one
case, the data record ended with some weird combination of \n \r and some
versions of C++ libraries read next record as an empty one, so zeros. And
then you do log(0).
The solution was to replace in M4TS(string category, stringstream
&line_stream)

if (c != '\"') {//remove quotes

with

if (c != '\"' && c!='\r') //remove qu

[2019-05-02 19:12] slaweku commented on #1287
I will try to update the competition github.

Regards,
Slawek

On Thu, May 2, 2019 at 12:11 PM Slawek Smyl <slawek@uber.com> wrote:

[2019-05-02 19:37] andmib commented on #1287
@slaweku Thanks a ton - I'll give that a shot. I'm first trying to get it running on the M4 competition ts set, then I'll likely move on to try and modify it so it runs on a different set of series (admittedly a much more sparse set of data, will be curious to see how it performs).

[2019-05-03 14:27] cpoptic commented on #1287
Is there an actual branch with @slaweku's ES-RNN code in Python/PyTorch?

I'd be willing to help contribute, but cannot find any relevant repo where this Python port is being stored.  @slaweku @neerajprad  @aredd-cmu  do we have a dedicated repo for collaborating on the ES-RNN code?  Thanks

[2019-05-03 14:42] slaweku commented on #1287
Hi,
No, there is not. I have a Python/Pytorch code that forecasts some Uber
data, but it evolved a bit from its M4 origins. I promise myself to cleanup
the code, re-attach to M4 data set and open source it, but mostly because I
do not think too highly of Python, there are always more urgent things to
do :-)

Regards,
Slawek

On Fri, May 3, 2019 at 7:27 AM Jonathan Denim <notifications@github.com>

[2019-05-03 21:52] andmib commented on #1287
@slaweku I'd love to steal some of your time offline to chat about your forecast applicability to some of the problems I face, particularly with intermittent hierarchical time series

[2019-05-04 06:48] kamathhrishi commented on #1265
If I am right the only difference between current GP example and this is I will be using a gptorch instance instead ?

[2019-05-06 12:57] ahmadsalim opened #1850 "[bug] Continuous autoguides do not take device into account"
### Issue Description
Many of the `AutoContinuous` guides do not take into account that the model might be on the GPU instead of the CPU. For example, see the code snippet below, where it fails if I pass `device='cuda'` to the tensors I create.

It would of course be nice if it instead relied on the device given from the model trace.
Do you have any suggestions?

Thanks!

### Environment
 - OS and

[2019-05-06 18:28] fritzo commented on #1508
Closing since [funsor](https://github.com/pyro-ppl/funsor) seems to be a better solution for general variable elimination.

[2019-05-06 18:28] #1508 closed

[2019-05-06 18:53] jpchen commented on #1850
this seems to come from the [initialization of the autoguide parameters](https://github.com/pyro-ppl/pyro/blob/dev/pyro/contrib/autoguide/__init__.py#L508).  i will make a fix for this but in the meantime you can set the default tensor type via `torch.set_default_tensor_type('torch.cuda.FloatTensor')` and it should work without the `device` kwarg to each tensor.

[2019-05-06 19:24] ahmadsalim commented on #1850
Awesome, thank you very much! 😄

[2019-05-06 19:42] fritzo commented on #1850
@jpchen I am refactoring autoguide initialization in #1849, so I will take care of this in that PR.

[2019-05-06 23:53] sameerkhurana10 opened #1852 "vae comparison example giving different results for Pyro and PyTorch implementations"
Hi,

Pyro version: 3.3
PyTorch: 1.1

Running `examples/vae/vae_comparison.py`

With PyTorch:

[code]

With Pyro:

[code]

Is this difference expected?

[2019-05-07 01:10] sameerkhurana10 commented on #1852
shouldn't it be `.rsample()` here: https://github.com/pyro-ppl/pyro/blob/dev/examples/vae/vae_comparison.py#L106

Changing that line gives the following:

[code]

[2019-05-07 01:23] neerajprad commented on #1852
Good catch! That is being called from `compute_loss_and_gradient` in the PyTorch implementation. I was under the impression that its only being used during evaluation. Do you mind submitting your fix in a PR? 🙂

[2019-05-07 04:51] fritzo commented on #1026
The original blocker was removed in #1796 . An additional (I believe more fruitful) solution is to support amortized guides that run a neural net on a batch of local sample sites. I plan to implement this as part of the 0.4 release.

[2019-05-07 04:54] fritzo commented on #1305
Closing this in favor of a Funsor implementation https://github.com/pyro-ppl/funsor/issues/12 We may reopen if the Funsor implementation doesn't work out.

[2019-05-07 04:54] #1305 closed

[2019-05-07 04:55] fritzo commented on #217
Closing since this will probably never get done :smile:

[2019-05-07 04:55] #217 closed

[2019-05-07 05:02] fritzo commented on #1213
This should now be possible after the introduction of an `event_dim` arg to `pyro.param` in #1796 . The discussion in this issue might be useful if we return to the issue of second-order optimizers.

[2019-05-07 05:02] #1213 closed

[2019-05-07 11:07] ajrcampbell opened #1853 "Memory leak using Dirichlet distribution in guide"
### Issue Description
Memory leak encountered on CPU when sampling from a Dirichlet distribution in a guide over many training iterations. The leak only occurs when the parameters of the Dirichlet distribution are defined using `param`.

### Environment
OS: Ubuntu 18.04.2
Python: 3.6.7
PyTorch: 1.1.0
Pyro: 0.3.3

### Code Snippet
[code]
Changing `alpha` in the guide to
[code]
stops the leak from o

[2019-05-07 16:43] fritzo commented on #1853
@ajrcampbell Thanks for the clear bug report! I'll try to reproduce.

[2019-05-07 17:25] martinjankowiak commented on #1839
there's an example usage that mixes pyro's and pytorch save/load functionality in the dmm tutorial:

http://pyro.ai/examples/dmm.html#Checkpointing

i'm not really sure what the best resolution here is. it's probably best if the user is responsible for saving/loading torch modules. we probably don't want things to be too automagical here.

[2019-05-07 17:41] fritzo commented on #1853
This appears to be a PyTorch issue. I'll first try fixing `torch.distributions.Dirichlet` upstream and then try to push a workaround patch to Pyro if possible. To reproduce the PyTorch issue it suffices to:
[code]

[2019-05-07 20:24] #1850 closed

[2019-05-07 20:27] fehiepsi commented on #1816
I guess we can close this issue now. Further work should go under TracePosterior refactoring.

[2019-05-07 20:27] #1816 closed

[2019-05-07 20:36] fehiepsi commented on #1093
We already have a separated Gibbs sampling issue. Multi chain in CUDA is possible now with PyTorch 1.1.0. Divergence info (which is NUTS tree diverging flag) can be added easily but it seems not important. Feel free to make a separate FR if it is necessary.

[2019-05-07 20:36] #1093 closed

[2019-05-07 20:47] fehiepsi commented on #1640
We observed some numerical stability issues in numpyro, which includes some numerical issues with StickBreaking transform. I will address these problems upstream in PyTorch.

[2019-05-08 05:55] #1841 closed

[2019-05-08 08:01] ahmadsalim opened #1858 "[discussion] Keeping subsample correlations in TracePredictive"
While developing #1854, I noticed that we do new random subsampling for each stochastic site in `TracePredictive` distribution. After reflecting about this, I have figured out that this might drop correlations between the sampled parameters under a subsampling statement.

I think what one needs to do is to fix a subset of random indices for each subsample site for all the sites. Any ideas on how o

[2019-05-08 13:49] #1540 closed, assigned to nobody

[2019-05-08 15:00] vishwakftw commented on #1853
I believe this can be closed now.

[2019-05-08 15:42] ajrcampbell commented on #1853
How can I use the fix?

[2019-05-08 15:44] vishwakftw commented on #1853
You can try installing PyTorch from source using the current master branch, or use the nightly builds published everyday (in which case you will wait until tomorrow I suppose).

[2019-05-08 16:20] #1853 closed

[2019-05-08 18:13] neerajprad commented on #1858
You are right - I think your approach sounds the easiest and least intrusive. Another would be to add `indices` into `CondIndepStack`, but that is going to add a lot of data to the trace object.

You could keep a `subsampled_idxs` keyed by `cond_indep_frame.name`. As you iterate through a site's `cond_indep_stack`, you can check this dict for subsampled indices. If its present, use these, otherwis

[2019-05-08 20:39] fehiepsi commented on #1640
I think that the issue is due to the precision error `sum(x / x.sum(-1) -1) > 1e-6` (can happen in float32).
But it seems that the issue is fixed with the latest release of PyTorch. More context can be found at [this issue](https://github.com/pytorch/pytorch/issues/15738) and [this PR](https://github.com/pytorch/pytorch/pull/17488). I tried to run the following code many times (in both GPU and CPU

[2019-05-08 20:39] #1640 closed

[2019-05-09 12:52] ahmadsalim commented on #1858
Sounds great, I have updated the PR 😄 !

[2019-05-10 03:12] joeddav opened #1863 "U(1,1) is zero, singular U with GP Kernel Prior"
### Issue Description
I'm trying to sample a GP regressor prior distribution placed over the length scale of the RBF kernel, just like is done in this example (see code sample below): http://docs.pyro.ai/en/stable/contrib.gp.html#pyro.contrib.gp.models.model.GPModel

However, I'm repeatedly running into the following error during sampling:

[code]

Depending on what parameters I choose for the pri

[2019-05-10 03:27] fehiepsi commented on #1863
Thank you so much for a very clear bug explanation and code snippet! I'll look into this to see where is the problem.

[2019-05-10 21:41] fehiepsi commented on #1863
@joeddav The error happens at the warmup phase (before enter the loop). It turns out that we have to force `lengthscale` not take so small values. In GP, small lengthscale means that nearby points vary a lot, which in turn results with a singular kernel. We have to set a prior for `lengthscale` such as it is strictly positive. To force it strictly positive, one way is to use Truncated Distribution

[2019-05-10 21:50] fehiepsi commented on #1863
Another solution is to ask PyTorch folks not trigger ValueError when applies Cholesky to invalid matrix, but returns `nan` instead. So HMC/NUTS will be able to keep running when it gets `nan` (or diverging) during warmup phase). But in my opinion, using truncated distributions or transformed distributions as above are better solutions. ^^ I can implement TruncatedCauchy to make it easy for setting

[2019-05-14 17:23] #1858 closed

[2019-05-15 15:16] jodablei opened #1866 "[Question] In-place update of parameters in HMC/NUTS"
Hi,

while doing some experiments I ran into some unexpected behaviour, so I ran the debugger and was checking some of the internal functions in HMC/NUTS. At some point, the function ```_single_step_verlet``` is called and is responsible for updating _inplace_ the parameters of interest in the model. However, the operations are not inplace, but replacing one tensor for another.

Consider the follo

[2019-05-15 17:22] jodablei commented on #1866
After closer inspection, the not in place operations might be needed after all. The dicts are not being deep copied in ```velocity_verlet``` and it seems the algorithm has been designed not to work with the original object parameters of a given model, but with copies that need to be set up every time the potential energy is evaluated. I believe it would be possible to modify the algo so as to make

[2019-05-15 17:33] fehiepsi commented on #1679
As discussed in the [forum](https://forum.pyro.ai/t/gplvm-on-astronomical-data/615/8) with @mileslucas , it seems that supporting batched gaussian process is not necessary because we can achieve that result without having to use batch. And despite that to support batch, we just add ellipsis at the front of each variable in GP model, we need to introduce additional arg `batch_shape` and maintain it

[2019-05-15 18:20] neerajprad commented on #1866
The function does not intend to in-place  update the tensors representing the latent variables because the original tensors are required when evaluating (later) the energy difference, probability of acceptance for the proposal, and reinstated if the proposal is rejected. Could you add more details around what your model is, and how you are using HMC? I think that's the place where there is a misma

[2019-05-15 18:35] fehiepsi commented on #1866
Hi @jodablei, I think that modifying states in-place is not compatible to MCMC because we need to collect samples during the way. On the other hand, in NUTS, we need to maintain the values at some leaves of the tree.

[2019-05-15 22:51] jodablei commented on #1866
Yes, I eventually figured it out. At the time, I was not fully aware that the tensors in the argument dict ```z``` need to be set as the parameter objects of the model we are evaluating. Copying their values will not work, because then we won't be able to collect the gradients in HMC (we only have references to the tensors in ```z```). However, if the tensors in the dict were to be the original pa

[2019-05-15 22:57] neerajprad commented on #1866
I am closing this issue; please feel free to ask any follow up questions on the [forum](https://forum.pyro.ai/).

[2019-05-15 22:57] #1866 closed

[2019-05-19 19:00] stefanwebb opened #1869 "Reorganizing transforms and normalizing flows? [discussion]"
There are quite a few normalizing flows and other transforms in the `pyro.distributions` module. @fritzo What do you think about moving them to a separate `pyro.transforms` module? I think this also makes sense because they aren't distributions per se. And they could be automatically copied into `pyro.distributions` like `torch.distributions` is for backwards compatibility

[2019-05-19 19:16] martinjankowiak commented on #1869
cc @neerajprad

[2019-05-20 01:17] fehiepsi opened #1871 "scipy imresize is deprecated"
`imresize` is used in `air` example, but it is deprecated now. We need to replace it by something else to make tests pass.

More context about this issue: `imresize` is used in [observations](https://github.com/edwardlib/observations) but this library is deprecated now in favour of tensorflow [datasets](https://github.com/tensorflow/datasets). But multi-mnist is not available in tensorflow's datas

[2019-05-20 14:56] bcjonescbt commented on #1802
Upvote here. For those of us without a lot of Pyro experience, there are a lot of bridges to cross to infer the state sequence. Something showing a more substantial example that correctly uses `infer_discrete` would be very helpful, particularly with enumeration involved. The example in the linked block is pretty light.

[2019-05-20 15:52] #1863 closed

[2019-05-20 17:46] neerajprad commented on #1871
The problem is with the `observations` library (that uses this function) which is not being maintained anymore. I think we need to remove dependency on `observations`.

[2019-05-20 22:29] fritzo commented on #1869
We've historically thought of `pyro.distributions` as a component that is independent of the rest of Pyro and that extends `torch.distributions`. From that view, it seems like a nice organization would be `pyro.distributions.transforms`, extending the existing `torch.distributions.transforms`.

[2019-05-20 22:31] mattwescott opened #1873 "Incompatibility with numpy 1.16.3?"
### Description

On a native conda installation, `make test` fails at 0f6b7689440310cfb2dffdc2cde3918d6132eb65 seemingly due to numpy incompatibility

### Details

On `osx==10.14`, with `conda==4.6.14` and `python=3.7.3`:

[code]

Error: `numpy.ufunc size changed, may indicate binary incompatibility`
[full output](https://github.com/pyro-ppl/pyro/files/3200006/make_test1.txt)
[`pip freeze`](https:

[2019-05-20 22:33] fritzo commented on #1873
@neerajprad I have also seen this error often. Can we simply ignore it in conftest.py or setup.cfg (as is recommended by scipy)? I tried to modify our configs but gave up.

[2019-05-21 19:15] mattwescott opened #1875 "Incomplete download of MNIST data"
### Description

`make test-examples` fails to fully download mnist data dependency for the air example

### Details

On `osx==10.14.1` and `docker==18.09.2`

[code]

[Output](https://github.com/pyro-ppl/pyro/files/3204055/make_test_examples.txt)

Resulting files in `.data`
[code]

[2019-05-21 19:26] neerajprad commented on #1875
I think the observations library is trying to download the files from http://yann.lecun.com/exdb/mnist/. Is this an intermittent failure, or does it fail on multiple retries? I do not have a better solution for this other than us moving away from observations.

@null-a - I think only the AIR example is using observations. Do we have any other sources for the multi-MNIST dataset? The dataset genera

[2019-05-21 19:37] mattwescott commented on #1875
It seemed to fail on multiple retries. And IIRC the same error came up outside of docker yesterday.

Looks like the download might be coming from here...

https://github.com/pyro-ppl/pyro/blob/835aa31f141a6f1d5a7b3a50f0702e5acbb8a789/pyro/contrib/examples/util.py#L15

The original output seemed to indicate that the download was successful, with the load attempt then failing because `.part` was all

[2019-05-21 20:25] neerajprad commented on #1875
The AIR example does not use `torchvision.datasets` and the error is coming from the observations library [download](https://github.com/edwardlib/observations/blob/master/observations/mnist.py#L27), which seems to be a google storage link mirroring the original site.

[2019-05-21 21:04] #1873 closed

[2019-05-22 08:55] null-a commented on #1875
I'm not sure what's going on here, this is working consistently for me at the moment. (`dev` branch, no docker, Mac OS.) Out of interest, are you able to grab the file that failed manually, with something like `curl -O https://storage.googleapis.com/cvdf-datasets/mnist/train-images-idx3-ubyte.gz`? If so perhaps you could download [all four `.gz` files](https://github.com/edwardlib/observations/blo

[2019-05-22 08:58] null-a commented on #1871
The [docs](https://docs.scipy.org/doc/scipy-1.2.0/reference/generated/scipy.misc.imresize.html) suggest using `numpy.array(Image.fromarray(arr).resize())` inplace of `imresize`. This requires `PIL` which AIR already has as a dependency.

[2019-05-22 14:51] mattwescott commented on #1875
This time I saved the initial error output, which might be more helpful

[code]

[make_text_examples.txt](https://github.com/pyro-ppl/pyro/files/3207879/make_text_examples.txt)

[2019-05-22 15:14] mattwescott commented on #1875
Not blocked by this but I'm reluctant to add more environment workarounds. For now I'll remove `-x` from `make test`, so it doesn't bail on the first failure. Seems easier to track specific test failures than environment state.

As an aside, I've seen it work well to run the CI tests inside the docker container(s). IIRC, we factored out a base container that is rebuilt infrequently, and on each pu

[2019-05-22 17:36] neerajprad commented on #1875
Thanks, @null-a, that will be great! The observations library is deprecated in favor of tensorflow datasets which doesn't have multi MNIST at the moment, and it might be best to avoid adding tensorflow as a dependency anyways. I think we can just reinstate your original dataset creation utility  in `pyro.contrib.examples` module. We already have the MNIST dataset in S3 backed by cloudfront at this

[2019-05-23 12:51] null-a commented on #1875
I wonder if the original issue @mattwescott is running into is a race condition that occurs when trying to fetch a data set from multiple processes? Trying this locally, if I clear out the directory in which the VAE example caches data (`rm -rf examples/vae/utils/.data/`) and run `pytest tests/test_examples.py -k 'vae/vae.py'` then I see a success. However, after clearing the cached data, running

[2019-05-23 18:05] #1871 closed

[2019-05-23 18:43] neerajprad commented on #1875
@null-a : I think you are right, and that is exactly what is happening in this case since we have multiple tests for each example (there are two for AIR). This probably leads to a race condition when two subprocesses are trying to download to the same directory. I think we should just change our `make test-examples` to not run pytest with xdist, and given that our examples are compute heavy, I dou

[2019-05-23 21:50] #1875 closed

[2019-05-26 10:33] adam-coogan opened #1885 "Gradients not preserved by IAF caching [bug]"
The `InverseAutoregressiveFlow` class does not preserve gradient information when computing `log_prob` using cached values.  Here is a minimal example:
[code]
Computing the density for an arbitrary point gives gradient information:
[code]
That is not the case for a point sampled from the IAF, for which the log probability is cached:
[code]

It's not obvious to me how to fix this. I'm on the dev br

[2019-05-26 17:11] martinjankowiak commented on #1885
you need to use `rsample` if you want gradients.

please reopen if that doesn't fix your issue.

[2019-05-26 17:11] #1885 closed

[2019-05-26 20:34] stefanwebb commented on #1517
This issue can be closed now after #1803

[2019-05-26 22:32] #1517 closed

[2019-05-30 17:10] stefanwebb commented on #1869
After my two most recent flows #1887 #1890 have been merged, I'll push the reorganization into `pytorch.distributions.transform`

[2019-05-31 21:33] mattwescott opened #1893 "Evaluate risk from in-place operations in `tracegraph_elbo`"
In discussing #1891 @fritzo raised the possibility of in-place operations being an issue for jit tracing.

My impression from [the torch docs](https://pytorch.org/docs/stable/jit.html#tracing-edge-cases) is that in-place operations on views are to be avoided (and will result in a warning).

It looks like these tracer warnings are being ignored in most of the tests in `test_jit`. Is that important?

[2019-05-31 21:47] fritzo commented on #1893
In general all new code in Pyro should avoid in-place ops. I believe `TraceGraph_ELBO` was one of the earlier elbos.

[2019-06-03 12:34] mattwescott opened #1894 "Graph retention in JitTraceGraph_ELBO"
In reviewing #1891, @martinjankowiak  noted that `JitTraceGraph_ELBO` isn't using `retain_graph`. It could make sense to simply switch to `backward(retain_graph=self.retain_graph)`. I'm reluctant to do that without some understanding of how graph retention interacts with jit.

[2019-06-03 18:42] fritzo commented on #1894
Graph retention should be independent of the jit because `.backward()` and `grad()` cannot be called within the jit. I believe the `retain_graph` arg has been missing simply because nobody had needed it.

[2019-06-03 20:43] mattwescott commented on #1894
Alright, went ahead and added the fix to #1891. This will be closed automatically when it is merged.

[2019-06-03 23:38] #1894 closed

[2019-06-05 17:10] mbabadi opened #1897 "Support for non-scalar poutine.scale with TraceEnum_ELBO"
It would be useful to consider support for non-scalar `poutine.scale` with `TraceEnum_ELBO`. In general, importance sampling (such as stratified sampling) across different plates requires scaling different samples in the ELBO differently in order to obtain an unbiased estimator of the ELBO. This can be currently done using `poutine.scale` and `Trace_ELBO`. However, `TraceEnum_ELBO` does not suppor

[2019-06-05 17:11] mbabadi commented on #1897
@fritzo what do you think about this? :)

[2019-06-05 17:30] fritzo commented on #1897
I think this makes sense. `TraceEnum_ELBO` is quite complex, so it would take significant effort to add this feature. Can you provide a simple example model to help me see exactly what you're requesting?

[2019-06-05 18:13] AishwaryaHB opened #1898 "No pyro distributions for torch >=1.1"
My PyTorch version is 1.0.1, trying to install pyro using "pip install pyro-ppl"

I run into an error that says:
ERROR: Could not find a version that satisfies the requirement torch>=1.1.0 (from pyro-ppl) (from versions: 0.1.2, 0.1.2.post1)
ERROR: No matching distribution found for torch>=1.1.0 (from pyro-ppl)

This happens once it starts "Collecting torch>=1.1.0 (from pyro-ppl)"

[2019-06-05 18:17] fritzo commented on #1898
I believe you'll need to either upgrade your torch
[code]
or downgrade pyro
[code]
Can you please print some system info so we can help determine why your torch is not upgrading?

[2019-06-05 23:31] jiamings opened #1899 "Raise exception if both model and potential_fn are provided as arguments to HMC"
### Issue Description
The potential_fn functionality currently implemented in #1845 does not seem to work as I had expected. Regardless of the potential_fn argument the model seems to use its own potential function?

I could fix this by adding two hacks:
1. If potential_fn is provided, then ignore the one automatically generated from the model (line 234 at hmc.py)
2. Modify the potential_fn to acc

[2019-06-05 23:46] neerajprad commented on #1899
HMC takes either a model or a `potential_fn`. There is no need to provide both (see https://github.com/pyro-ppl/pyro/blob/dev/tests/infer/mcmc/test_hmc.py#L274). The model argument is mostly for backwards compatibility.

On our end, I think we should set `model=None` as default and check that only one of them is provided.

[2019-06-06 00:08] #1852 closed

[2019-06-06 01:22] NoAxioms opened #1901 "Cannot delete constrained parameter [bug]"
### **Issue Description**
Deleting a constrained parameter throws an error.
In the function `param_store.__delitem__()`, the line
`unconstrained_value = constrained_value.unconstrained()`
throws
`AttributeError: 'Tensor' object has no attribute 'unconstrained'`

### **Environment**
OS: Windows 8.1
Python Version: 3.6.8
Pytorch Version: 1.1.0
Pyro Version: 0.3.3

This error was also present using P

[2019-06-06 01:35] jiamings commented on #1899
I see, thanks! The test works well.
But the need to define initial_params outside the init function seems a bit hacky to me as well.

I did not see the test before, and it seems that I used the wrong approach to obtain the samples when model=None.

[2019-06-06 01:53] neerajprad commented on #1899
Thanks for the suggestion. I am refactoring this as we speak, and will make it a point to address this in the interface.

[2019-06-06 02:46] robsalomone opened #1902 "Improve documentation for LKJCorrCholesky and point to example usage"
## Issue Description
LKJCorrCholesky seems to give the same log_prog irrespective of input. The log_prob should probably also has a type check that ensures the correct input is given.

### Environment
 - MacOS 10.14.3 and Python 3.7.3
 - Pytorch 1.1
 - Pyro 0.3.3

### Code Snippet
[code]
Results in:

[2019-06-06 03:09] fehiepsi commented on #1902
@robsalomone With dimension=2, eta=1, the distribution is uniform. Hence you get that result. :)

[2019-06-06 03:24] robsalomone commented on #1902
Thanks @fehiepsi ---  the LKJ is uniform over all correlation matrices of course when eta=1, but does that necessarily mean it is uniform over all real-valued L, shouldn't the Jacobian change things? Perhaps I am missing exactly what L is meant to be.

If you sample from the distribution, you obtain a matrix with a value of 1. in the top left hand corner. This doesn't seem to be the same as mappin

[2019-06-06 04:48] fehiepsi commented on #1902
A Cholesky of correlation matrix C will always have `1` at top left corner because C[1, 1] = 1. Your samples seem not be samples of LKJCorrCholesky because the norm of each row does not equal to 1. Did you get those samples from `pd.LKJCorrCholesky(...).sample()`? If so, then there might be a bug in the code and I will take a closer look to fix it. :)

[2019-06-06 04:52] robsalomone commented on #1902
@fehiepsi they are just arbitrary inputs not samples. I think I see the issue, L needs to be the Cholesky of a correlation matrix, I had assumed L was any lower triangular matrix, and that the reparametrization went from there (which is what you need if you want to do NUTS on an LKJ prior, as a lower-triangular matrix subject to being the Cholesky of a Correlation matrix is a complicated constrain

[2019-06-06 05:09] fehiepsi commented on #1902
@robsalomone For an example of using LKJ, you can check [this example in NumPyro](https://github.com/pyro-ppl/numpyro/blob/master/examples/ucbadmit.py). The log_prob implementation in Pyro is similar to the one in NumPyro, so I think that the example will work for Pyro too.

[2019-06-06 05:19] robsalomone commented on #1902
Ok thanks, presumably something is going on in the back end that I can't see that transforms things to an unconstrained space so the MCMC works. I'll have to come back when I have more time.

[2019-06-06 05:37] fehiepsi commented on #1902
Hmm, the transform to unconstrained space is a bit tricky to implement so there might be some differences between two versions (Pyro and NumPyro). You can get unconstrained values by using
[code]
If I recall correctly, then the unconstrained value in Pyro will be different from the one in NumPyro (up to an arrangement).

Sure, please let me know if you find something not clear or not working then.

[2019-06-06 05:47] robsalomone commented on #1902
Thanks @fehiepsi, I haven't tried NumPyro yet but I'm really hoping it is more straightforward to access the back end of things. My research is mostly on inference algorithms, and I have wanted to switch to using Pyro very much, but always seem to come across problems, or bits where stuff isn't fully documented.

[2019-06-06 06:10] fehiepsi commented on #1902
What a wonderful suggestion! Thank you a lot for that! I do agree that many points (transforms, constraints,...) are not explained in details in docs so we’ll keep those feedbacks in mind during refactoring process.

We will address logp, params, transforms points as part of the next 0.4 release. Your feedbacks will be very valuable so I will notify you for related PRs. :)

Btw, I would recommend

[2019-06-06 13:11] fritzo commented on #1901
Thanks for the clear failing example @NoAxioms ! I'll take a look.

[2019-06-06 17:14] #1901 closed

[2019-06-06 17:23] neerajprad commented on #1902
@robsalomone - We are really interested in hearing from researchers on how we can improve our interface for HMC. Right now, we are moving towards a NumPyro like interface for HMC in Pyro. NumPyro's HMC/NUTS will be much faster than Pyro's HMC for the foreseeable future, but we may lack support for some distribution classes (LKJCorrCholesky is available though). The interface supports both Pyro's m

[2019-06-06 17:34] neerajprad commented on #1902
Also here is the example usage of `LKJCorrCholesky` in Pyro - https://github.com/pyro-ppl/pyro/blob/dev/examples/lkj.py.

[2019-06-07 00:20] robsalomone commented on #1902
@neerajprad Thanks for your reply. I work mainly in inference algorithms, so I am interested in easy coding of models and comparison with existing methods. If we could make some more accessible documentation, I could try and get more colleagues to use Pyro in their research, and I would be able to implement some other algorithms and contribute there (e.g., Stein VGD).

Regarding LKJCorrCholesky, t

[2019-06-07 00:23] robsalomone commented on #1902
To ensure it all works properly when done, we should probably compare output to Stan on a Random Effects model where the effects have LKJ correlation matrices and scale vector in quadratic form (this parametrises the covariance matrix).

[2019-06-07 02:44] neerajprad commented on #1902
I think there is either some misunderstanding, or possibly a bug in LKJCorrCholesky (@fehiepsi - let me know if it is the latter and I'm missing something).

In your above code, if you turn on validation check, using:

[code]

, you will find that it will raise a `ValueError: The value argument must be within the support` when you try to call `log_prob` on `X.log_prob(t.tensor([[.1,.2,.3]]))`. In

[2019-06-07 03:14] fehiepsi commented on #1902
Yes, I'll check it. There might be an issue at the transform.

[2019-06-07 03:14] robsalomone commented on #1902
Ah thanks @neerajprad things are becoming clear now. These things aren't clear unless one is familiar with the code base. What I was hoping was to access the log_pdf of the **transformed distribution** (more generally, the log_pdf of a full model on an unconstrained space).

Why bother with this such things? Ideally I want this sort of low-level access so I can implement inference algorithms that

[2019-06-07 04:30] fehiepsi commented on #1902
Oppss, I get your idea now. Yes, those will be with the next version. I just want to let you know that most of those is possible now with
[code]
Here `potential_fn` is the log density with transforms' log det adjustment. `init_params` are parameters in unconstrained space, and `transforms` are transform from constrained space to unconstrained space. To map from unconstrained space to constraint sp

[2019-06-07 04:49] fehiepsi commented on #1902
@neerajprad I just check for the transform and confirm that both versions (in Pyro and NumPyro) gives similar results (modulo precision issues, if any).

[2019-06-07 05:31] neerajprad commented on #1902
@robsalomone - Thanks for explaining. As @fehiepsi mentioned, I think you are probably just looking for the `initialize_model` function which will give you most of the functionality that you need. You might want to tinker with that part of the code and modify it for your purpose. It will be exposed more prominently in the documentation prior to the release.

As is usually the case, the documentati

[2019-06-07 17:13] martinjankowiak opened #1905 "opportunity for performance gains in certain uses of analytic KL divergences"
when doing SVI with multiple vectorized particles as in

[code]

and certain KL divergences are computed [analytically](https://github.com/pyro-ppl/pyro/blob/9f96414d1443b9a8918c1ea7206000e99fc4b2e5/pyro/infer/trace_mean_field_elbo.py#L100) in some cases we will be computing a factor `num_particles` more KL divergences than necessary

[2019-06-07 17:45] fritzo commented on #1905
I think the correct way to handle this is by keeping track of unbroadcasted tensors. I believe this should already work in `MultivariateNormal`, since @fehiepsi and @neerajprad have maintained `._unbroadcasted_*` tensors internally.

[2019-06-10 17:02] stefanwebb commented on #1869
Complete as of #1908

[2019-06-10 17:02] #1869 closed

[2019-06-10 20:05] mbabadi commented on #1897
Sure! consider LDA:
[code]

Let us assume that the corpus is contains 3 volumes of 1000, 100, and 10 documents, respectively. The first volume contains boringly similar legal proceedings whereas the second and third volumes consist of beautiful and novel papers in probabilistic programming and botany, respectively.

Given the heterogeneity of the corpus, uniform mini-batching across all 1110 docum

[2019-06-11 08:49] robsalomone commented on #1902
Thanks @neerajprad and @fehiepsi, just what I needed!

[2019-06-11 20:46] martinjankowiak commented on #1905
on a similar note we currently populate `log_prob`s in traces even if they are not necessary because of a corresponding analytic KL computation

[2019-06-11 23:25] gamerDecathlete opened #1911 "Supporting Ammortized Inference for Normalizing Flows"
### Issue Description (Feature request)
 I was going through the implementation for the PlanarFlows Module because it was bothering me how exactly they worked. I think the way they're set-up right now is....a bit incorrect? If you read the paper on it, the authors mention the parameters for the flow are produced by some function (it's like one sentence in the paper) and just to confirm it, I went

[2019-06-11 23:38] martinjankowiak commented on #1911
yes, it's true that currently all our flows are not conditional, i.e. they cannot be conditioned on additional inputs. as such they do not directly support amortization. although the user is free to make the base distribution whatever he or she likes (in particular make them conditioned on data). as such these flows can still be used in the amortized context (see the DMM example). we are planning

[2019-06-11 23:38] #1911 closed

[2019-06-12 00:00] gamerDecathlete commented on #1911
Thanks for the quick reply Martin. I'm a bit shaky with the terminology, but I think you've answered my question. If I understand you, what you're saying is currently with Pyro as is, I can't generate the parameters of the flow from a function like in the original paper. So, as these are all non conditional flows, then the parameters for the flows for any data I send through will be the same corre

[2019-06-12 00:12] martinjankowiak commented on #1911
some version of that should work as long as you get all the shapes right.

until we merge conditional flows, the easiest thing to do would probably be to subclass the flow you
want (one that takes na `AutoregressiveNN` arg) and feed it a custom `ConditionalAutoregressiveNN` that you can condition on the data you want. this should be relatively straightforward but care needs to be taken to get all

[2019-06-12 08:29] stefanwebb commented on #1911
@gamerDecathlete thanks for your interest in the NF library! Yes, at the moment only joint distributions p(z) are supported and not yet conditional distributions p(z | x). Although this is what I'll be working on next so expect to have these features in the next few weeks.

To Martin's comment about your pseudocode, I'd also add that you have to make sure that the parameters of the NNs get added t

[2019-06-12 17:04] gamerDecathlete commented on #1911
@stefanwebb thanks for the update! I probably won't get a chance to look into till next week but with all the input from both of you guys I think this seems fairly reasonable to implement with your guys advice. Thanks for also mentioning an approximate timeline on the Pyro dev for this feature. So if you finish in the next couple weeks I guess I should use...the nightly version of Pyro to use it r

[2019-06-17 20:31] jburroni opened #1912 "System Usage with NUTS"
While running NUTS on cpu, a big part of the CPU Load is devoted to System.
 This is a consequence of the CPU backend trying to split the work between several threads, even when using a single chain. In particular, this happens inside the calls to `logsumexp`

This is the performance monitor's visualization running NUTS with  a single chain:
![cpu-pyro](https://user-images.githubusercontent.com/26

[2019-06-17 23:03] neerajprad commented on #1912
Thanks a lot for submitting this issue. On the test examples, I don't see the system usage being that high. It is mostly within ~ 3% or so. It is possible that you only see this when the chains get really long, so while it may not depend on the model exactly, if possible could you share your model code (or a part of it) that I could use to try to replicate this on my system.

[2019-06-17 23:12] neerajprad commented on #1912
Running `logsumexp` in a loop as below (which is what the above code is doing) seems to not consume any significant incremental system level resources, so I think the issue might lie somewhere else.

[code]

[2019-06-18 16:59] jburroni commented on #1912
Thank you for the prompt reply.
I tried your snippet and it work perfectly, which is a bit  puzzling.

The following code reproduce the issue:
[code]

Surprisingly, after applying the patch I described above the issue was solved, but I don't know what could be.

[2019-06-18 18:13] neerajprad commented on #1912
I didn't see the system usage being high with this example either, but what I noticed was that this consumes a lot of CPU and depending on other load, might trigger the CPU fans / temperature control leading to high system usage. I think that's what is happening with this example. We should just use the `_logsumexp` implementation that you put in above which is much more optimized for the case whe

[2019-06-18 19:53] jburroni commented on #1912
done #1915

[2019-06-18 21:44] damitkwr commented on #1287
We have a PyTorch version partially implemented at: https://github.com/damitkwr/ESRNN-GPU

[2019-06-18 22:38] #1912 closed

[2019-06-19 03:38] panaali commented on #1287
Were you able the same results on the M4 Dataset?

[2019-06-20 03:16] slaweku commented on #1287
Thank you guys, I will look at it.

Slawek

On Wed, Jun 19, 2019 at 12:44 AM Kaung M. Khin <notifications@github.com>
wrote:

[2019-06-24 11:21] stefanwebb commented on #1260
@fritzo @martinjankowiak how much latitude do I have for renaming classes that have already been committed?

For the 0.4 release I was thinking about the following improvement in the API:

1. Combine `transforms.InverseAutoregressiveFlow` and `transforms.InverseAutoregressiveFlowStable` into `transforms.AffineAutoregressive` with `stable=True/False` keyword argument.
2. Rename `transforms.PlanarFl

[2019-06-24 16:29] fritzo opened #1921 "[FR] Preconditioned SGLD optimizer"
It would be nice to have a pSGLD optimizer as in [Le et al. (2015)](https://arxiv.org/abs/1512.07666). This implementation of MCMC is a nice drop-in replacement for a PyTorch optimizer (e.g. for Adam). pSGLD is also compatible with data subsampling, unlike HMC.

Cf existing implementations in [Tensorflow probability](https://www.tensorflow.org/probability/api_docs/python/tfp/optimizer/StochasticGr

[2019-06-26 06:14] robsalomone commented on #1921
@fritzo Personally I would say it is not worth wasting time on any SGLD-like algorithm for inference, particularly when Pyro has such nice things as normalising flows.

SGLD, despite having a million papers written about it and its variants, does not perform well as a substitute for MCMC, which is what it is sold as. See the figures in this (soon to be JMLR) paper:
[https://arxiv.org/pdf/1708.0095

[2019-06-26 15:53] martinjankowiak commented on #1921
for what it's worth, i generally tend to agree with @robsalomone's sentiment about these sgld-like algorithms.

another interesting curvature thingie is [this paper](https://arxiv.org/abs/1903.02984).

[2019-06-26 17:20] fritzo commented on #1921
@robsalomone Thanks, that's helpful.

[2019-06-27 15:20] jmamath opened #1924 "[bug] Bayesian Linear Regression random_module IndexError"
### Issue Description
I am following the tutorial on Bayesian Linear Regression (part I), and it seems that the random_module function doesn't sample correct models. The only difference with the tutorial is that I removed the factor for simplicity, and I used 3 features, as this is the dimension of the input space x_data.

### Environment
For any bugs, please provide the following:
MacOS Sierra
py

[2019-06-27 18:17] eb8680 commented on #1924
Looks like your `weight` prior is missing a dimension - `nn.Linear` expects its weights to be 2-dimensional and `w_prior.sample().shape == (3,)`

[2019-06-27 19:18] jmamath commented on #1924
Yes, it worked. Thank you.

[2019-06-27 19:18] #1924 closed

[2019-06-27 20:53] #1921 closed

[2019-06-28 01:29] fritzo opened #1926 "Support HMC/NUTS within Gibbs, online HMC"
It would be nice to support HMC/NUTS-within-Gibbs / online HMC (e.g. [HMC with subsampling](https://arxiv.org/pdf/1708.00955.pdf)), but this may require some changes to the HMC and NUTS interfaces. This issue tracks those changes.

## Required changes
- [x] Support changing `*args,**kwargs` across HMC steps.
    Currently these are bound in the `potential_fn()` closure created by `_pe_maker()`. It

[2019-06-28 01:30] fritzo commented on #1926
@neerajprad @fehiepsi maybe we can incorporate these into your current refactoring work.

[2019-06-28 03:22] neerajprad commented on #1926
Are you able to get this to work? I think we may need some changes for this since by default HMC assumes that we need to run MCMC on all the parameters passed to sample. It makes similar assumptions for potential_fn, which should take a dict of unconstrained samples as arguments. While it can be bound in a closure with changing args, kwargs, we'll not be able to JIT it.

[2019-06-28 03:32] fritzo commented on #1926
Yes, I believe this should work but I haven't verified end-to-end. My plan is to:
1. bind extra (non-MCMC) params in a `potential_fn()` closure.
2. JIT the `potential_fn()` by hand before passing it to `HMC`, taking care to handle both MCMC params and non-MCMC dynamic params.

I don't think it's worth building the extra JIT handling into the general `HMC` machinery. It seems cleaner to use the fle

[2019-06-28 03:32] fehiepsi commented on #1926
@fritzo About warmup indefinitely, do you mean to collect samples from warmup phase? If that is the case, then I think we can just support collecting from warmup phase and define a very large `warmup_steps` or make a generator to keep generate window lengths (currently, the length of the next window will be 2x the length of the previous window) if `warmup_steps=inf`. Currently, the mass matrix is

[2019-06-28 03:34] fritzo commented on #1926
Yes, I plan to discard a few samples at the beginning but then start collecting samples while continuing to warmup.

[2019-06-28 03:44] fehiepsi commented on #1926
Then I think we just add a flag `discard_warmup` to maintain that behaviour. WDYT @neerajprad ?

[2019-06-28 03:47] fritzo commented on #1926
I don't think a `discard_warmup` flag will help. Already to do online MCMC, we'll need to use an `HMC` or `NUTS` kernel directly rather than use the higher level `MCMC` interface. Also I believe you'll need a new `adapt_window` parameter, since when I set `warmup_steps=float('inf')` then we'll need to choose some window size other than `float('inf') / 5` :smile:

[2019-06-28 04:02] fehiepsi commented on #1926
@fritzo In case you use MCMC, then `discard_warmup=False` does what it did: collect warmup samples for you. If you don't use MCMC, then no need for that flag. Currently, the window size goes as follows: 75, 25, 50, 100, 200, 400, 800, 1600, 3200, ..., 50, so either you define a large `warmup_steps` or we can make a generator to generate window length (rather than store them in a list).

[2019-06-28 04:17] fritzo commented on #1926
@fehiepsi I think your `window_length_generator` arg would work; an `adaptation_schedule` list would also work fine for me. As a near-term workaround, I believe I can simply set `nuts._adapter._adaptation_schedule` after calling `nuts.setup()`, right?

[2019-06-28 04:24] fehiepsi commented on #1926
Yes, I believe that will work perfectly. :smiley:

[2019-06-29 00:14] rojinsafavi opened #1928 "prediction"
Hello,

I went through your semi-supervised tutorial here: [https://pyro.ai/examples/ss-vae.html](url) , and I was wondering if it is possible to apply this model to a single prediction task(like a regression prediction) and not a classification?  basically replacing the classification part with a regression task (MLP with one output node that predicts a value)

[2019-06-29 01:06] neerajprad opened #1929 "Make potential energy function picklable"
Related: #1930. To get multiprocessing to work correctly with the new API, we will need to make the potential function returned by `_pe_maker` to be picklable.

[2019-06-29 01:07] fritzo commented on #1929
`functools.partial` objects are picklable. I try to avoid locally defined functions whenever possible, since these pickling errors have plagued me in the past.

[2019-06-29 01:18] neerajprad commented on #1929
Thanks, that's what we need to do! Another source of pickling issue are poutines. A poutine wrapped model won't be picklable. I suppose the solution to that would be to wrap the model inside the function rather than passing in an already wrapped model.

[2019-06-29 01:21] fritzo commented on #1929
I believe the only issue with poutines is the local function `_wraps()` https://github.com/pyro-ppl/pyro/blob/cd4086b/pyro/poutine/messenger.py#L25
IIRC @eb8680 has previously tried very hard to make this a class and a `functools.partial` but was forced to make it a local function due to python subtleties.

[2019-06-29 01:26] neerajprad opened #1930 "Remove dependency on TracePosterior and deprecate utilities in AbstractInfer"
While attempting the MCMC class refactoring (as originally suggested in #1725), I realized that it will be best to not subclass off of `TracePosterior`.

 - For MCMC, storing traces leads to inefficient memory usage where the full trace can often consume 5X more memory. This also leads to our internal trace structure leaking into the API, and makes it harder to integrate with other libraries. e.g.

[2019-06-29 01:27] neerajprad commented on #1725
Closing this in favor of #1930.

[2019-06-29 01:27] #1725 closed

[2019-06-29 01:29] neerajprad commented on #1929
Thanks for the context. You are right that the only issue there is `_wraps()`. I'll also take a look at this.

[2019-06-29 01:30] neerajprad commented on #1774
Related to #1926; so we can track progress on that issue instead.

[2019-06-29 01:30] #1774 closed

[2019-06-29 05:10] karalets commented on #1928
sure, you could do that, if you changed the model appropriately and trained
it to do so.

In the generative model that would indicate something like two continuous
variables z_observed and z_unobserved, where occasionally you know
z_observed, which both generate the 'image' x, i.e.: P(x|z_o, z_u) P(z_u)
P(z_o)
and your inference models can account for them appropriately.

Changes necessary:
-chang

[2019-06-29 09:29] riversdark commented on #1093
Hi @fehiepsi can you explain a little bit why you think the divergence diagnostics are not important? They seem to be critical for telling if NUTS is working properly. Do we have any other means to check convergence in Pyro? Right now the only thing I can find are the effective number of samples and R hat, but none of them are HMC specific.

[2019-06-29 22:32] fehiepsi commented on #1093
@riversdark That's just my feeling. I haven't read much literature on divergence diagnostics. We can easily add it (we just need to decide where it should go: progress bar or store it). I'll open a FR for it.

[2019-06-29 22:35] fehiepsi opened #1931 "[FR] support divergence diagnostics for NUTS"
Based on @riversdark [request](https://github.com/pyro-ppl/pyro/issues/1093#issuecomment-506943294), it would be convenient for users to be able to access to divergence information. Let's support that feature.

[2019-06-30 15:20] fehiepsi opened #1934 "Print summary table in MCMC"
It would be nice to print summary table after running MCMC. E.g.

[code]

[2019-06-30 17:11] fritzo opened #1935 "When should we drop support for Python 2?"
Some of Pyro's dependencies are dropping support for Python 2: [pytest 5.0](https://docs.pytest.org/en/latest/py27-py34-deprecation.html), [numpy 1.17](https://github.com/numpy/numpy/pull/12506), [opt_einsum 3.0](https://github.com/dgasmith/opt_einsum/issues/79). I had been trying to hold out for as long as PyTorch supported Python 2, but this is increasingly difficult as Pyro's other dependencies

[2019-06-30 17:13] fritzo commented on #1935
Upvote here to drop Python 2 support. You use Python 3 and need up-to-date versions of all libraries.

[2019-06-30 17:13] fritzo commented on #1935
Upvote here to keep Python 2 support. You still use Python 2 but you want the latest Pyro features.

[2019-06-30 17:19] martinjankowiak commented on #1935
wasn't pytorch planning on dropping python 2 support at some point anyway?

[2019-06-30 17:27] fritzo commented on #1935
Last I heard, @soumith wanted to keep Python 2 support because pypi download stats showed continued use (though I suspect those stats are dominated by ci builds rather than new installs).

[2019-06-30 20:31] jpchen commented on #1935
fwiw i know some academic users who use python 2, probably because it's the default version that ships with osx...

[2019-07-01 02:04] fritzo commented on #1926
Closing as this now seems to be working (with workarounds).

[2019-07-01 02:04] #1926 closed

[2019-07-02 16:54] eb8680 commented on #1928
Closing, feel free to follow up on this question on the [forum](https://forum.pyro.ai/)

[2019-07-02 16:54] #1928 closed

[2019-07-03 16:56] fritzo commented on #1935
Ok, our tentative plan is to cut one more patch release with Python 2 support, then drop Python 2 support in the next minor release [0.4](https://github.com/pyro-ppl/pyro/milestone/8).

[2019-07-03 17:33] #1929 closed

[2019-07-03 18:30] neerajprad commented on #1898
@AishwaryaHB - If you continue to have installation problems, please feel free to post your question on the [forum](https://forum.pyro.ai/).

[2019-07-03 18:30] #1898 closed

[2019-07-03 20:22] #1787 closed

[2019-07-03 20:43] fehiepsi commented on #1902
Hi @robsalomone, @neerajprad already made the documentation about LKJ clearer in #1939 (sorry about forgetting to pin you in that PR). I'll make sure to ping you when we update the tutorial to illustrate `initialize_model` usage.

[2019-07-03 21:19] robsalomone commented on #1902
Thanks @fehiepsi! A thought: perhaps `initialize_model` Should be pushed up from infer.mcmc to simply infer, as it is useful for any number of things.

[2019-07-03 21:25] robsalomone commented on #1931
@fehiepsi Straightforward divergence counts should be simple (you just keep count of how often the energy is not conserved within a given tolerance, and ideally flag those samples to identify problem regions).  However, there is an  additional diagnostic (and more discussion about divergences) here
https://arxiv.org/abs/1604.00695

These are also in Stan (and only know to more advanced users). It

[2019-07-03 22:01] fehiepsi commented on #1931
Thanks @robsalomone ! We might try to have the simple case first. To be honest, I don't know what `diverging` means in Stan and PyMC3 result. I thought that we just need to calculate the number of [diverging at this line](https://github.com/pyro-ppl/pyro/blob/dev/pyro/infer/mcmc/nuts.py#L34) for NUTS algorithm, that is the number of trajectories which end up with `delta_energy = new_energy - old_e

[2019-07-03 22:06] robsalomone commented on #1931
That’s correct @fehiepsi, it’s just used to flag areas of problematic curvature. Divergences usually indicate the chain is unlikely to be mixing well.  The precise number is in the Stan documentation somewhere I believe, but more or less it just needs to be some large number that would indicate the HMC integrator is failing (flies off due to overly steep gradient).

[2019-07-03 22:12] fehiepsi commented on #1902
@robsalomone Currently, `initialize_model` is only used in `mcmc` so I am not sure if it is useful for other algorithms. Maybe we can expose it in `mcmc.__init__` instead of `mcmc.util`? Btw, I think @neerajprad will have a better idea on this request. :)

[2019-07-03 22:15] robsalomone commented on #1902
@fehiepsi my thoughts were that it is the first thing any inference algorithm/diagnostic will need, e.g. Kernelized Stein Discrepancy, Stein Variational Gradient Descent - both of which aren’t mcmc. Many algorithms use the log joint and it’s gradient but aren’t mcmc. Hence the thought, just to make it easier for researchers to find.

[2019-07-03 22:35] fehiepsi commented on #1931
@robsalomone Thanks for explaining! It is very helpful to me. I just find the number in the footnote of the [manual](https://mc-stan.org/docs/2_18/reference-manual/divergent-transitions.html). :)

[2019-07-04 14:41] fehiepsi commented on #1763
Now, MCMC class has an `initial_params` arg which allows users set initial params for different chains (instead of traces).

[2019-07-04 14:41] #1763 closed

[2019-07-05 12:39] sankrutyayan opened #1944 "Unable to install pyro in conda environment"
### Issue Description
Unable to install pyro in conda environment.

### Environment
For any bugs, please provide the following:
 - Windows 10. Python 3.7.1
 - pytroch is 1.1.0 with cuda 10
 -

### Code Snippet
  ERROR: Could not find a version that satisfies the requirement pyro-ppl (from versions: none)
ERROR: No matching distribution found for pyro-ppl

[2019-07-06 19:51] neerajprad commented on #1944
Are you using `pip` to install pyro? Could you paste the full output for `pip install -v pyro-ppl`?

[2019-07-06 23:41] fehiepsi commented on #1899
This issue is addressed in #1913.

[2019-07-06 23:41] #1899 closed

[2019-07-08 07:37] sankrutyayan commented on #1944
Config variable 'Py_DEBUG' is unset, Python ABI tag may be incorrect
Config variable 'WITH_PYMALLOC' is unset, Python ABI tag may be incorrect
Created temporary directory: C:\Users\sthota\AppData\Local\Temp\pip-ephem-wheel-cache-utx1txh6
Created temporary directory: C:\Users\sthota\AppData\Local\Temp\pip-req-tracker-l260drr0
Created requirements tracker 'C:\\Users\\sthota\\AppData\\Local\\Temp\\pi

[2019-07-08 17:04] jpchen commented on #1944
this seems to  be a problem with your network's proxy and pip.  you'll need to run something along the lines of:
[code]

how did you install your other python dependencies?

[2019-07-08 18:38] fritzo commented on #1935
OK, does anyone want to get features into the final Python 2.7 release of Pyro? I think we can cut a patch release this week and then drop support for Python 2.7.
cc @neerajprad @fehiepsi

[2019-07-08 19:06] neerajprad commented on #1935
Discussed with @fritzo - we just have 1 or 2 PRs that we would like to get in with the new MCMC interface for the patch release. I think we should have everything in by Wednesday.

[2019-07-09 06:44] sankrutyayan commented on #1944
Thank you. Proxy was the issue. Installed and running. Everything else worked fine with conda.
Cheers!

[2019-07-09 06:44] #1944 closed

[2019-07-09 18:26] neerajprad commented on #1730
@fehiepsi - This seems to work fine now. Could you check this again on your system and close this issue if it is resolved?

[2019-07-09 20:54] fehiepsi commented on #1730
Yup, it works nicely now. :)

[2019-07-09 21:17] fehiepsi commented on #1902
@robsalomone The `initialize_model` utility is used in examples and tutorials to generate `potential_fn` in https://github.com/pyro-ppl/pyro/pull/1941. As I can see, everything works as expected, even under multiprocessing. Hope that this utility will be helpful for you in making other cool inference algorithms. :)

@neerajprad Any idea on @robsalomone suggestion to move `initialize_model` to `inf

[2019-07-09 23:13] neerajprad commented on #1902
Even though I think `initialize_model` can be more generally useful, it is still implemented in a way that is somewhat specific to HMC. e.g. drawing initial parameters using our current our Stan specific way to draw initial set of parameters, the potential_fn name, etc. Other inference algorithms, in particular SVI with autoguides has its own more general initialization strategy. What I think we s

[2019-07-10 18:39] neerajprad commented on #1931
Handled by @fehiepsi in #1942.

[2019-07-10 18:39] #1931 closed

[2019-07-10 18:46] neerajprad commented on #1727
I am closing this issue. The MCMCMarginals class is deprecated and the MCMC interface would return a dictionary of samples from the latent sites directly. These can then be combined by the user, stored in `Empirical` and then sampled from, or simply iterated over to yield samples from the joint distribution.

[2019-07-10 18:46] #1727 closed

[2019-07-10 22:53] fehiepsi commented on #1902
I am going to close this issue. Let's keep discussions here or open new one for not-yet-addressed issues.

[2019-07-10 22:53] #1902 closed

[2019-07-12 00:48] #1934 closed

[2019-07-13 01:22] fehiepsi opened #1955 "potential function gives wrong gradient under JIT for CUDA tensor (PyTorch issue)"
This issue is detected in #1954. A simple script to replicate the issue

[code]
which returns different results for jit and non-jit
[code]

[2019-07-13 03:10] fehiepsi commented on #1955
Actually, this seems like a PyTorch issue
[code]
which returns
[code]

[2019-07-13 13:11] fehiepsi commented on #1730
@neerajprad I still got this problem with higher number of samples and `num_chains=4`.

[2019-07-14 03:54] neerajprad commented on #1730
Does your proposed solution from the [forum](https://forum.pyro.ai/t/error-when-sampling-begins-with-multiple-chains/1138/7) address this issue?

[2019-07-14 03:57] fehiepsi commented on #1730
Yes, using the new api allows me getting higher num_samples, but the root problem still remains there. The solution in forum fixes this issue.

[2019-07-14 16:02] fehiepsi commented on #1730
@neerajprad I made some benchmarks to see if there are regressions using clone operator.

[code]
It took 8.9s to generate 10000 samples (each sample has 100 sites and each site is a 100-D tensor). So the overhead is somehow large (but small comparing to sampling) when there are many sites are involved.

If `checkpoint` solution is not elegant (at least not elegant to me because how to specify chec

[2019-07-15 21:17] neerajprad commented on #1935
@fritzo - We have all MCMC related changes in dev, and I was planning to cut a patch release now. Is there anything else that you would like to get into this patch?

[2019-07-15 22:47] fritzo commented on #1935
@neerajprad Now is a great time to make a patch release. I'd prefer my current PRs not be in the release :smile:

[2019-07-16 01:12] #1730 closed

[2019-07-16 13:12] null-a opened #1960 "Bug (?) in the shape of samples from auto-guided LKJCorr"
### Issue Description

In the following example, the shape of the value sampled at the `LKJCorrCholesky` distributed `sample` statement differs between the model and the auto-generated guide. Is this expected?

[code]

### Environment

macos, python 3.7.3, pyro 0.3.3+bf2f9542

<details>

I dug into this a little while trying to understand what was happening. If this *is* a bug, it may be that the

[2019-07-16 15:23] fehiepsi commented on #1960
Yes, I think it is a bug at [this line](https://github.com/pyro-ppl/pyro/blob/dev/pyro/contrib/autoguide/__init__.py#L409). Probably we should replace it by
[code]
The reason is for LKJ transform, unconstrained value is a vector, while constrained value is a matrix.

[2019-07-16 16:10] fritzo commented on #1960
Hmm, I think we need to account for overlapping `batch_shape` and `unconstrained_shape`, thus I suspect `batch_shape + unconstrained_shape` won't work. One fix that should work is
[code]

[2019-07-16 16:13] fritzo commented on #1960
@fehiepsi do you have time to try one of the fixes?

[2019-07-16 17:51] fehiepsi commented on #1960
Yup, I’ll try to fix shortly.

[2019-07-16 20:14] #1960 closed

[2019-07-16 21:53] neerajprad commented on #1935
pyro-0.3.4 is released. We can remove python 2 support in the next major release.

[2019-07-16 22:24] fritzo opened #1963 "Drop support for Python 2 (a checklist)"
Follows #1935

I've attempted to prioritize these:

- [x] #1962 Remove Python 2 from ci test grid.
- [x] #1965 Remove dependency on `six`:
    - replace`six.moves.reduce` with `functools.reduce`.
    - ...
- [x] #1967 Replace contextlib2 with contextlib
- [x] #1967 Remove `from __future__ import ...` headers.
- [x] #1972 Remove py2 installation from [docs](http://docs.pyro.ai/en/stable/installatio

[2019-07-16 22:26] fritzo commented on #1935
Moving discussion to #1963

[2019-07-16 22:26] #1935 closed

[2019-07-16 22:53] neerajprad commented on #1963
I think we can just use `functools.reduce` in python 3.

[2019-07-17 22:53] karalets opened #1964 "[FR] Contrib module for agent-based models and model-based RL"
This issue proposes a pyro.contrib.agents module for building agent-based models and using control to guide their actions to maximize rewards.

This modeling task is commonly described as model-based reinforcement learning and will have the structure of a Markov Decision Process (MDP). We will use some previous publications (in particular [NIPS2018WS](https://arxiv.org/abs/1812.03399) and [ICML201

[2019-07-18 13:29] sankrutyayan opened #1968 "Need help with understanding of num_samples/ num_particles in SVI class."
### Issue Description
I would like to know what num_particles/ num_samples in SVI class intuitively mean.

[2019-07-18 18:04] neerajprad commented on #1968
`num_particles` is an argument provided to the `ELBO` (`Trace_ELBO`, `TraceEnum_ELBO`) classes that determines the number of samples taken to form the monte carlo estimate of the ELBO (and also the surrogate term used to compute the gradient).

`num_samples` argument to SVI is not used during inference at all, and is only used to determine the number of model traces to generate from the approximat

[2019-07-18 18:04] #1968 closed

[2019-07-18 20:22] sameerkhurana10 opened #1969 "DMM giving NaN"
Hi,

while running DMM example with PyTorch: 1.1 and pyro 0.3.4+6704741 i get nans

training epoch 0003]  nan                              (dt = 10.456 sec)
[training epoch 0004]  nan                              (dt = 10.910 sec)
[training epoch 0005]  nan                              (dt = 10.591 sec)
[training epoch 0006]  nan                              (dt = 11.308 sec)
[training epoch 0007]

[2019-07-18 21:40] jpchen commented on #1969
related: #1272 #711
cc: @martinjankowiak

[2019-07-18 21:40] fritzo opened #1970 "[FR] Gaussian ops for GaussianHMM"
It would be nice to generalize the `DiscreteHMM` distribution #1958 to a `GaussianHMM` distribution, as a structured conjugate model #1723 with many applications. I think we can follow [Sarrka & Garcia-Fernandez](https://arxiv.org/pdf/1905.13002.pdf) or simply develop a `torch.matmul()`-like operation for non-normalized rank-deficient Gaussians. We can already perform this op in [funsor](https://g

[2019-07-18 21:42] fritzo commented on #1970
@fehiepsi do you have some time to try to implement this? Feel free to take over the gaussian-ops branch.

[2019-07-18 22:31] fehiepsi commented on #1970
Yup, I'll look into this FR. This sounds like an interesting exercise.

[2019-07-19 01:11] jpchen commented on #1963
this seems to be a consequence of pytest exception handling, not `six`.  will investigate further but this may be separate from the migration.

[2019-07-20 03:45] sameerkhurana10 commented on #1969
it sometimes works and sometimes does not work.

It is really quite unstable.

python dmm.py --cuda
Namespace(annealing_epochs=1000, beta1=0.96, beta2=0.999, checkpoint_freq=0, clip_norm=10.0, cuda=True, iaf_dim=100, jit=False, learning_rate=0.0003, load_model='', load_opt='', log='dmm.log', lr_decay=0.99996, mini_batch_size=20, minimum_annealing_factor=0.2, num_epochs=5000, num_iafs=0, rnn_dropou

[2019-07-20 18:18] martinjankowiak opened #1973 "troubles with HMC warm-up"
i've been having trouble porting the [sparse regression](https://github.com/pyro-ppl/numpyro/blob/master/examples/sparse_regression.py) example in numpyro to pyro. [see code](https://github.com/pyro-ppl/pyro/blob/kit/examples/kit.py).

in particular:
- i can't get it to work at all with vanilla HMC (which works fine in numpyro)
- i _can_ get it to work with NUTS but in order to do that i have to g

[2019-07-20 18:19] martinjankowiak commented on #1973
cc @neerajprad

[2019-07-20 23:01] martinjankowiak commented on #1969
these kinds of models tend to be inherently unstable during training. and the trouble is that you need to stay close to the regime in which it unstable because it's precisely in that more aggressive regime that you're more likely to avoid bad local minima. but it's not such a big problem in practice:
- you can put in try/catch statements, try ~10 different seeds for 20 epochs, say, and then contin

[2019-07-20 23:01] #1969 closed

[2019-07-20 23:13] sameerkhurana10 commented on #1969
i see.

Do you mean that in pyro like probabilistic programming these models tend to be unstable? I do not remember having this issue if I code up the model as presented in the original paper (computing the KL exactly).

Maybe it is the way we do things in Pyro, MC KL estimator or something else.

[2019-07-21 02:04] martinjankowiak commented on #1969
i just mean that anytime you have a recurrent neural network chomp on long sequences and then you differentiate through that (whether in the context of vanilla deep learning or as here) there is the potential for instabilities. i don't see any particular reason why pyro would be more or less unstable here than a different implementation. i doubt the KL estimator plays much of a role. in any case y

[2019-07-22 10:54] fehiepsi commented on #1973
@martinjankowiak @neerajprad It seems that we need to add a try catch exception for potential_fn which involves Cholesky factorization (I faced [that issue with GPyTorch example](https://github.com/cornellius-gp/gpytorch/pull/680#issuecomment-492779840) and be able to resolve it by using
[code]
in that example). In PyTorch, when Cholesky issue happens, we get RuntimeError. While in JAX, we get `na

[2019-07-22 16:28] martinjankowiak commented on #1973
great, thanks @fehiepsi. my current solution is to do the following, which seems to work OK (and allows me to avoid using potential functions):

[code]

will close this now and re-open if needed

[2019-07-22 16:28] #1973 closed

[2019-07-22 17:09] neerajprad commented on #1973
@martinjankowiak - did you have to make any tweaks to `find_reasonable_step_size` or did the fix above work with our existing adaptation implementation?

[2019-07-22 17:11] martinjankowiak commented on #1973
no i didn't make any additional tweaks

[2019-07-27 16:45] sharrison5 opened #1982 "[bug] TraceGraph_ELBO inconsistent in sign of ELBO"
### Issue Description
 + `TraceGraph_ELBO.loss()` returns the negative ELBO (as expected).
 + `TraceGraph_ELBO.loss_and_grads()` returns the positive ELBO.

This doesn't affect the optimisation as the surrogate loss is based on the negative ELBO, but is confusing when monitoring convergence. May well happen in other ELBO classes, this is just the one that I've been using and hence spotted it in.

[2019-07-29 14:55] ajrcampbell opened #1983 "Boundary values in a Dirichlet sample cause score error"
### Issue Description
Since the Dirichlet distribution is constrained to a simplex, sampling can result in boundary values of 0/1. As a result, scoring can evaluate to `inf`.

What looks like a solution to this issue, the clamping of samples with no gradients with `_dirichlet_sample_nograd`, was removed in [#17488](https://github.com/pytorch/pytorch/pull/17488).

(similar to closed issue [#704](ht

[2019-07-29 15:34] fritzo commented on #1983
Thanks for the detailed bug report and references, @ajrcampbell. Regarding your code snippet, current behavior appears correct to me: a Dirichlet distribution with parameters [0.5, 0.5] indeed has infinite density on the boundary. Do you expect instead a validation error?

Note that the `torch.distributions.constraints` library does not distinguish open vs closed sets. This is a shortcoming of the

[2019-07-29 16:19] ajrcampbell commented on #1983
@fritzo I agree the code snippet shows the correct behaviour.

What I was trying to say was that under the present implementation of the Dirichlet, the simplex constraint allows for boundary conditions that can cause scoring to be `inf`. This makes the Dirichlet unstable. Does it make it a bug?

You are right  that `torch.distributions.constraints` does not have an **open** simplex constraint. It

[2019-07-29 18:07] fritzo commented on #1983
I like the idea of allowing sample modifications inside pyro.sample statements. One way you could do this now is via a distribution subclass, e.g. the following might work:
[code]
Note that clamping should already be [done internally](https://github.com/pytorch/pytorch/pull/17488/files#diff-6f5adabe13d89ad314ae10947a7f524aR261). I'm not sure why the internal clamping is failing in your case. cc @n

[2019-07-29 18:43] neerajprad commented on #1983
@ajrcampbell - As @fritzo mentioned, the dirichlet samples should already be clamped and shouldn't result in `inf` values when being scored. If you find that to be the case, let us know (that's clearly a bug!). If you are doing further manipulations on the sample (before scoring them), then you'll need to do this clamping by yourself.

[2019-07-30 00:42] ajrcampbell commented on #1983
@fritzo the distribution subclass looks like a really nice solution!

@neerajprad I do not think I am doing any manipulations on the sample before scoring.

My model is complex, but the following is a simple example that reproduces the bug:

[code]
Output:
[code]

[code]
Output:
[code]
[code]
Output:
[code]

[2019-07-30 05:08] fritzo commented on #1983
@ajrcampbell Thanks again for the clear example. My guess is that your inference net in the guide is producing boundary values, i.e. it is not `_sample_dirichlet()` that produces the boundary values. Under that hypothesis, the following should suffice:
[code]

[2019-07-30 05:22] neerajprad commented on #1983
Thanks for such a clear bug and easy to reproduce report! I checked that @fritzo's hypothesis is indeed correct and you'll find that one of the outputs of the network for `theta_68` is 0.

[2019-07-30 12:34] ajrcampbell commented on #1983
@fritzo I cannot believe I missed this! @neerajprad and @fritzo thank-you for taking the time to explain and show where I was going wrong.

[2019-07-30 12:34] #1983 closed

[2019-07-30 23:39] JamesTrick commented on #1982
I agree it seems a bit confusing. Not fully knowing the reasons behind the implementation, I would hazard a guess that pyro use a negative ELBO loss for minimization and use with optimizers, but ELBO (normally) is positive which is still helpful and accessible through `TraceGraph_ELBO.loss_and_grads()`?

[2019-07-31 03:22] fritzo commented on #1982
This is just a bug, any `ELBO` implementation should return the "elbo loss" = -elbo from `.loss_and_grads()`. Anyone have time to submit a quick fix :smile:?

[2019-07-31 03:26] JamesTrick commented on #1982
😂 - I'm happy to fix it quickly.

[2019-08-04 08:22] emited opened #1992 "Normalizing Flows Examples"
Hi,

It would be nice to have some go to examples for training normalizing flows, perhaps reproducing results on toy datasets (e.g. the ones implemented [here](https://github.com/rtqichen/ffjord/blob/master/train_discrete_toy.py)). For now, from current state of things, it is not very clear how to proceed.

What do you think? @stefanwebb

Would be happy to help.

[2019-08-05 09:14] emited opened #1993 "Missing `_inverse` method for Neural Autoregressive Flows"
Hi,

It seems that the `_inverse` method is missing in flows implemented in [naf.py](https://github.com/pyro-ppl/pyro/blob/dev/pyro/distributions/transforms/naf.py). This is problematic when trying to calculate the log probability of the normalizing flow:

[code]

Is this voluntary?

[2019-08-05 13:10] #1993 closed

[2019-08-05 16:27] stefanwebb commented on #1992
Hi @emited, thanks for your interest in NFs! I'm glad you've found the code useful.

I absolutely agree, it would be great to have a tutorial on using NFs for the [examples](http://pyro.ai/examples/), so users can understand what NFs are, how they can benefit from them, and how to use the library.

I've got some other things occupying me for the next two/three weeks and was planning on returning t

[2019-08-06 00:03] neerajprad opened #1995 "Add option for sequential prediction to `mcmc.predictive`"
Based on this [forum](https://forum.pyro.ai/t/predictive-sampling-with-logistic-regression/1189/5) post, I think a lot of new users of MCMC struggle with using plate handlers to correctly annotate their batch dimensions (which isn't strictly needed for doing inference).

While this isn't necessarily a requirement for MCMC, it becomes important if users would like to use the `predictive` utility to

[2019-08-06 13:20] ebonetti commented on #1287
@slaweku @damitkwr I find your work invaluable for figuring out neural nets applied to time series: thanks a lot for open-sourcing it 👍

[2019-08-06 13:36] fehiepsi opened #1996 "Improve binary/multi_class likelihood precision"
Currently, we use `link_function` as a map from `logits` to `probs`, and feed `probs` into Binary or Categorical distributions. We can improve the performance of these likelihoods by use `logits` directly in these distributions.

[2019-08-07 08:08] emited commented on #1992
@stefanwebb thanks a lot for your reply, working together to make a tutorial on NFs in pyro seems like a great idea. Maybe we can discuss this more in detail somewhere else.

For starters, I was thinking about implementing some simple tests, in order to guarantee that the implemented models are able to model some very simple distributions, like they should (maybe you already have something like th

[2019-08-07 12:41] #1995 closed

[2019-08-07 16:12] martinjankowiak commented on #1992
some sort of tutorial would be great!

i would probably advise against actual tests, however. this is because even if the flow implementation is correct, it can be tricky to fit even quite "simple" distributions. in many cases it will just be a matter of hyperparameter tuning. i suspect that in most cases where authors of flow papers show pretty pictures, a lot of tuning went into it. (so these me

[2019-08-07 16:58] stefanwebb commented on #1992
@emited I agree with Martin here - unit tests wouldn't be that useful. But I think learning toy distributions is useful though in a tutorial for illustrating how to use the API. I would start off with that, then have a second section that shows how to use them in guide programs to improve VI, for VAEs/AIR/traditional Bayesian models etc.

Yes, let's take this discussion offline. Could you send me

[2019-08-07 18:10] martinjankowiak commented on #1257
a basic version of SVGD (along with the complete conditional variant) has been implemented in #1991.

closing this general issue in favor of more targeted issues for any additional feature requests, bug reports, etc.

[2019-08-07 18:10] #1257 closed

[2019-08-08 08:15] emited commented on #1992
This seems like a valid argument. But it would be important to be able to reproduce results on the toy datasets at least, with a bit of parameter tweaking of course. This could then be included in the tutorial.

I've just sent you an email !

[2019-08-08 16:59] wthrif commented on #1780
Hey @varenick would you be willing to share and example VAE code with your Trace_MMD class?
I'm getting a shape error that I don't understand when I try to run it: ValueError: Shape mismatch inside plate('num_particles_vectorized') at site obs dim -2, 32 vs 1024
Full disclosure, I'm new to pyro and don't know what I'm doing. I set num_particles to be the same as my batch size, 32, and used an rbf

[2019-08-08 19:45] #1963 closed

[2019-08-08 19:46] fritzo commented on #1026
Subsampling is now supported in [pyro.contrib.easyguide](https://pyro.ai/examples/easyguide.html).

[2019-08-08 19:46] #1026 closed

[2019-08-08 19:48] fritzo commented on #1260
@stefanwebb We'd like to do a 0.4 release soon, so as to support today's PyTorch 1.2 release. Do you think you'll finish this reorg in the next couple days, or can we punt it to a subsequent release?

[2019-08-08 19:49] fritzo commented on #1930
@neerajprad is any part of this issue blocking the 0.4 release?

[2019-08-08 20:19] neerajprad commented on #1930
Deprecating `TracePosterior`/`TracePredictive` for SVI should be punted for later, since it will involve changes in other tutorials, OED module, and may need some discussion.

In the meantime, I will try to see if we can support SVI by making some minor changes to mcmc's predictive utility. As this utility becomes mature, that will make it easier for us to deprecate the old interface.

[2019-08-08 21:28] eb8680 commented on #1780
@wthrif this is to be expected, since the `Trace_MMD` loss is not the same as the infoVAE loss.  See #1818 for discussion.  Unfortunately, implementing general-purpose inference algorithms is difficult and I'm not sure `Trace_MMD` as it currently exists is very useful.  Without additional examples I'm inclined to remove it before the upcoming 0.4 release since we don't have spare cycles to maintai

[2019-08-08 23:35] stefanwebb commented on #1260
Hi Fritz, could we please postpone it to the subsequent release?

On Thu, 8 Aug 2019 at 20:48, Fritz Obermeyer <notifications@github.com>
wrote:

--
Sent from Gmail Mobile (iPhone)

[2019-08-09 00:35] fritzo commented on #1260
No worries @stefanwebb, we can do this refactoring any time.

[2019-08-09 15:38] #1982 closed

[2019-08-09 15:42] wthrif commented on #1780
Thanks for the link @eb8680 I'll work on implementing it.

[2019-08-09 23:33] fritzo commented on #1802
I'll try to get to this soon. In particular I'd like to show how to train with `DiscreteHMM` then predict with `infer_discrete`.

[2019-08-10 14:08] fehiepsi opened #2009 "Cholesky issue in HMC"
In PyTorch, if Cholesky issue happens, a Runtime Error will be raised (instead of returning `nan`) regarding singular matrix. So it will be difficult to run MCMC with gaussian process kernels (which involves Cholesky decomposition of covariance matrices). This issue is raised in https://github.com/pyro-ppl/pyro/issues/1863 and #1973. Because `nan` is a valid potential energy in HMC, we should add

[2019-08-12 12:15] ajrcampbell opened #2011 "Support for Triangular distribution"
Would it be possible to add the Triangular distribution to `pyro.distributions`?

Example code:

[code]

[2019-08-12 15:32] fritzo commented on #2011
Sounds reasonable to add this directly to `torch.distributions`. Feel free to put up a PR to either Pyro or PyTorch. If you cc @fritzo and @neerajprad we can review and point out where to add tests and documentation.

[2019-08-14 20:11] #2009 closed

[2019-08-15 21:26] rojinsafavi opened #2016 "KL divergence VAE"
I was wondering if there is a way in pyro to force the VAE encoder to map the input to a vector of means and a covariance matrix instead of a vector of means and a vector of standard deviations? I would like to find the KL between the two VAE's latent space, but that requires a covariant matrix since I need to calculate

Σ^(-1)

I was hoping to see if pyro has any solution for that?

Thanks,

[2019-08-16 00:51] fritzo opened #2017 "Cholesky error in GaussianHMM, _sequetial_gaussian_tensordot()"
I'm seeing cholesky errors in `_sequential_gaussian_tensordot()` when computing `GaussianHMM.log_prob()`, including precision matrices with very negative eigenvalues. I'd like to figure out how to numerically stabilize `gaussian_tensordot()`.

## To reproduce
[code]

[gaussian.pkl.zip](https://github.com/pyro-ppl/pyro/files/3507641/gaussian.pkl.zip)

[2019-08-16 15:12] fritzo commented on #2017
So far this appears to be a deficiency in `torch.distributions.constraints.lower_cholesky` whereby the optimized parameters become singular. My immediate workaround was to switch from full-covariance parameters to diagonal-covariance parameters. However we should look into more stable ways of optimizing positive definite matrices. I'll leave this issue open for discussion.

[2019-08-16 16:11] fritzo commented on #2016
Hi @rojinsafavi, yes you can easily create a covariance matrix as the result of a VAE. If you start with a vae with diagonal covariance
[code]
you can adapt this to a different nn that generates covariances
[code]
There are a few ways of gerating an `n`-by-`n` positive definite covariance in your nn. One way is to generate an `n-by-k` matrix `L` with `k > n` (to keep the result nonsingular) and th

[2019-08-16 16:11] #2016 closed

[2019-08-16 18:58] fehiepsi commented on #2017
@fritzo Your point is interesting! I tried to see how that issue comes
[code]
which returns
[code]
We can see that the current implementation of `precision_matrix` property is not stable due to
 `torch.inverse` (which produces a singular tril matrix). Regardless, precision matrix is singular for both versions.

Regarding other parameterizations, there are two of them which might work:
+ LKJ way: `

[2019-08-16 19:28] fehiepsi commented on #2017
Regarding low rank version, it is pretty stable without Cholesky issue
[code]

[2019-08-16 19:37] rdturnermtl opened #2018 "Incompatibility with pipreqs"
### Issue Description
The pyro package has an incompatibility with the [pipreqs](https://github.com/bndr/pipreqs) tool.  `pipreqs` can generate a list of dependencies for any code base using imports.  However, there is an ambiguity with the other [pyro](https://pythonhosted.org/Pyro4/) package.  When `pipreqs` encounters `import pyro` it does not know which package we plan to import.

### Environm

[2019-08-16 21:37] jpchen commented on #2018
this sounds like a pipreq issue. can you add it to their module [mappings](https://github.com/bndr/pipreqs/blob/master/pipreqs/mapping)?  seems to work for other projects that have the same issue.

[2019-08-18 05:53] fritzo commented on #2017
@fehiepsi I like the low rank idea. What if we implemented a `PositiveDefiniteTransform` as something like
[code]
That is, what if we replaced most uses of `constraints.lower_cholesky` with `constraints.positive_definite`, since positive definiteness is a little easier to enforce for the actual pd matrix than for a Cholesky factor.

The only downside I see is that forward computations would requir

[2019-08-19 05:44] fehiepsi commented on #2017
@fritzo Except for the computation overhead of those `cholesky` decomposition, I think that adding jitter would be fine and is more stable than my other variants. Adding a jitter term proportional to `y.norm()` makes sense to me but I don't know if it is a good way in practice. At least, it has a nice property that the condition number is stable if we scale the matrix by a constant factor (conditi

[2019-08-19 15:47] fritzo commented on #2017
@fehiepsi My current thinking is that `Gaussian` is probably already sufficiently stable, and that we would be better off fixing the bad inputs to `mvn_to_gaussian()` arising from bad parameters of support `constraints.lower_cholesky`.

[2019-08-19 16:25] fehiepsi commented on #2017
@fritzo Though fixing bad parameters of `constraints.lower_cholesky` is a good solution to make sure precision matrices are positive definite, working with positive definite matrices might lead to the same issues as in KF literatures. The nice properties of square root form is we don't need to preserve the symmetry and positive definite. At least, GaussianS implementation will not involve any `cho

[2019-08-23 20:15] #1454 closed

[2019-08-25 19:54] Nathan-Furnal opened #2024 "How to learn the underlying theory to work with Pyro?"
I know this is probably off-topic but I'm looking for good resources to go paste the copy/paste/simply reworking existing examples steps.

Basically, where can I go to, past the tutorials and occasional papers being referenced, to get a good understanding of all the models and strategies provided  by Pyro?

Thanks

[2019-08-25 21:05] JamesTrick commented on #2024
Hi @Nathan-Furnal

The [forum](https://forum.pyro.ai/) probably would be a better place to get an active response from others on this question. there's also a [thread of someone asking similar](https://forum.pyro.ai/t/how-to-begin-learning-probabilistic-programming/519).

Suggestions of missing tutorials or docs would be cool. Personally, I found reading docs, and checking out the tests for usage

[2019-08-25 21:24] fehiepsi commented on #2024
Re Statistical Rethinking (SR) book: I have not updated the chapters for more than half a year so something (hopefully not much) will not work. The CPU memory issue (which prevented me replicating HMC results) has been resolved with recent Pyro versions. I found that SR book (together with [PRML](https://www.microsoft.com/en-us/research/publication/pattern-recognition-machine-learning/) book) is a

[2019-08-25 23:33] patrickeganfoley opened #2026 "[FR] Named Normal Autoguide"
Hello!

I find the [AutoDiagnoalNormal](http://docs.pyro.ai/en/0.3.0-release/contrib.autoguide.html#autodiagonalnormal) guide a bit hard to work with, since it gives you a single vec of mean values, rather than a set of means with names that match your model's parameter names.  The [AutoDelta](http://docs.pyro.ai/en/0.3.0-release/contrib.autoguide.html#pyro.contrib.autoguide.AutoDelta) guide on th

[2019-08-26 10:35] awarebayes commented on #1992
Yeah, Normalized Flows would be super useful with VAE examples like in bjlkeng's article: http://bjlkeng.github.io/posts/variational-autoencoders-with-inverse-autoregressive-flows/

[2019-08-31 22:32] fritzo commented on #1970
Looks like this is all done, thanks @fehiepsi . We can track numerical stabilization in separate issues.

[2019-08-31 22:32] #1970 closed

[2019-09-06 04:03] patrickeganfoley commented on #2026
Just updated it to include `_batch_shape` and `_event_shape`.  Should I set up a PR?  Or try to run some of the examples using it?

I'm also not sure what you mean by `One use case I'd like to handle is support for TraceMeanField_ELBO` - would it require additional logic in the guide to do this?

[2019-09-06 04:44] fritzo commented on #2026
Sure, feel free to open up a PR and we can continue discussion and start review. Once you have a PR up I'll add a `Tasks` section with boilerplate stuff like docs and tests etc.

`TraceMeanField_ELBO` support should come for free with your change. cc @martinjankowiak you might like this.

[2019-09-06 04:47] patrickeganfoley commented on #1461
Just made a super simple classic ELO model for NCAA Men's Basketball 2002-2018 [here](https://github.com/patrickeganfoley/variational_elo).  Would you be interested in it as an example if I cleaned it up a bit?

Super pumped to be able to have the variational posterior on the team quality terms - it's cool you can see that the D2/D3 teams that only play a few games a year have very high uncertaint

[2019-09-06 16:36] martinjankowiak commented on #1461
@patrickeganfoley that would be great! i know at least two people who would love to see that

[2019-09-06 16:44] rdturnermtl commented on #2018
Issue has been filled on pipreqs side with [#168](https://github.com/bndr/pipreqs/issues/168).

[2019-09-06 17:09] fehiepsi commented on #1461
Sorry for an interuption. I have no idea why I did unpin/pin this thread. :( I'll revert this back to the original pinned thread.

[2019-09-07 01:49] SsnL opened #2031 "torch_patch should use functools.wraps"
`torch_patch` is a bad bad hack. It may be necessary. But at least `wraps` should be used so that the docs and things are preserved.

[2019-09-07 01:55] fritzo commented on #2031
@SsnL thanks for the suggestion. I see `torch_patch` as mechanism to hide latency / match impedance between two teams in separate orgs whose release processes are decoupled. I often need a patch today and can't wait for a PyTorch bugfix to land and release :smile:

[2019-09-07 01:59] SsnL commented on #2031
@fritzo That makes sense. Thanks for the quick reply. If possible, may I suggest instead of changing the attributes of other libraries, writing and calling new custom wrappers within pyro? The current method has the problem of having severe side effect at importing and hurting people who use source build pytorch and a release version pyro.

[2019-09-07 02:07] fritzo commented on #2031
@SsnL We can make some effort to use custom wrappers, however we continue to need to patch PyTorch functions that are used internally within PyTorch, e.g. `Transform.__getstate__()`.

Historically `torch_patch.py` has contained lots of patches for bugs that would have been caught if PyTorch devs had stricter testing practices; these patches are generally short-lived, for the duration of one PyTorc

[2019-09-07 02:26] SsnL commented on #2031
Ah I see. That is a good point. :) I am not at FB anymore but I'll bring this up next time I see the FB guys.

[2019-09-09 15:16] NarasimhaM3101 opened #2034 "pyro pytorch 1.2. compatibility"
Is pyro current version compatible with pytorch 1.2 ?

I have pytorch 1.2 and pyro. Not sure why but for a very simple linear NN model notebook is crashing when I define model function and guide function.

The NN model has only 2 layers with not many parameters. RAM has lot of free space too (in 10+ GBs. So I suspect this may be due to version compatibility issue. Please advise.

Narasimha

[2019-09-09 15:36] fritzo commented on #2034
Yes Pyro is currently compatible with PyTorch 1.2. Can you try to paste a simple-to-reproduce example? I sometimes see segfaults due to low-level PyTorch bugs. Pyro tends to exercise uncommonly used parts of PyTorch that tend to be buggier than vanilla nn code.

[2019-09-10 22:40] NarasimhaM3101 commented on #2034
Please close this issue. I was using an old example book which had old pytorch functions which were not relevant. However I saw another issue with Pyro sandbox examples.

https://github.com/pyro-ppl/sandbox/blob/master/2019-08-time-series/part_iii_custom.ipynb

`
from pyro import poutine
with torch.no_grad():
    guide_trace = poutine.trace(guide).get_trace(features_train, counts_train)
    hmm =

[2019-09-10 22:46] #2034 closed

[2019-09-10 22:51] NarasimhaM3101 commented on #2024
Hi fritzo,

I get an error with Pyro sandbox example - part III

https://github.com/pyro-ppl/sandbox/blob/master/2019-08-time-series/part_iii_custom.ipynb
`
with torch.no_grad():
   guide_trace =poutine.trace(guide).get_trace(features_train, counts_train)
   hmm = poutine.replay(model_2, guide_trace)(features_train, counts_train)
   init_dist = hmm.filter(guide_trace.nodes["log_rates"]["value"])

[2019-09-10 23:04] JamesTrick commented on #2024
@NarasimhaM3101  - Can you please check your Pyro version (running `print(pyro.__version__)` will give you this). You might need to upgrade your pyro version as filter was only added in this PR #2010.

[2019-09-12 22:20] nm-narasimha opened #2035 "Hierarchical Regression examples"
hi,

Could you please point to hierarchical (or multi level) regression model examples with Pyro?

Narasimha

[2019-09-12 23:43] #2035 closed, assigned to nobody

[2019-09-13 18:22] mattphillipsphd opened #2037 "vae.py tutorial is broken"
### Issue Description

The `__init__` function of `class MNISTCached` uses the `data` and `targets` attributes before they have been initialized.  I tried a little code reorganization to get it to work but that wasn't sufficient to fix it.

### Environment
For any bugs, please provide the following:
 - OS and python version: Ubuntu 18.04, Python 3.6.3
 - PyTorch version: 1.0.0
 - Pyro version: 0.4

[2019-09-13 18:32] neerajprad commented on #2037
Could you try using the latest pytorch version - 1.2 and check if that works?

[2019-09-13 18:38] jpchen commented on #2037
IIRC this was the torchvision issue, @mattphillipsphd what version are you using? you probably need to downgrade your version.

[2019-09-13 18:40] mattphillipsphd commented on #2037
Thanks both @neerajprad and @jpchen , indeed upgrading to pytorch 1.2.0 solved this issue.  The model is training now.

[2019-09-13 18:40] #2037 closed

[2019-09-14 07:07] nasosev opened #2038 "VAE example fails validation"
### Issue Description
Vae.py example fails validation if the command `pyro.enable_validation(True)` is included.

### Environment
 - Win10, Python 3.7.3
 - PyTorch version: 1.2.0
 - Pyro version: 0.4.1

### Code Snippet
Stack trace:

[code]

[2019-09-15 17:16] neerajprad commented on #2038
I think this is just related to the fact that our observed values are continuous in the interval `(0, 1)` and hence declared invalid as samples from a Bernoulli distribution when distributions arg validation is enabled. However, `Bernoulli.log_prob` is able to score the samples just fine using binary cross entropy which is what a lot of the literature does too if you were to write the loss directl

[2019-09-15 17:16] #2038 closed

[2019-09-18 00:11] ziatdinovmax opened #2042 "GP with MCMC from examples not working"
### Issue Description
The MCMC training of GP from [this example](http://docs.pyro.ai/en/stable/contrib.gp.html) doesn't work. Specifically, mcmc object doesn't seem to have get_samples attribute.

### Environment
Google Colab

### Code Snippet
(see screenshot below)
![image](https://user-images.githubusercontent.com/34245227/65088235-9333c780-d986-11e9-8acf-b24fb7db9c69.png)

[2019-09-18 00:18] neerajprad commented on #2042
The interface to MCMC that you are using is deprecated and will be removed in the next major version. Could you try to import the new interface using `from pyro.infer.mcmc.api import MCMC` instead? You may need to update your version of Pyro if this module does not exist.

[2019-09-18 00:20] ziatdinovmax commented on #2042
It worked! Thanks a lot!

[2019-09-18 00:20] #2042 closed

[2019-09-18 19:07] fritzo commented on #2031
This is now in the dev branch and will be available in the next release.

[2019-09-18 19:07] #2031 closed

[2019-09-29 14:39] leoguelman opened #2047 "Cannot reproduce "Bayesian Regression - Introduction (Part 1)""
Hello,

I'm getting non-sense predictions from the example in the Pyro site: <http://pyro.ai/examples/bayesian_regression.html?highlight=africa>

Here's what I'm running:

[code]

I should be getting a positive number.

[2019-09-29 15:53] fehiepsi commented on #2047
I can confirm the issue. This is caused by recent changes in AutoGuide, which uses a new initialization `init_to_median` by default. There are a few solutions to this

#### solution 1: use `init_to_feasible` initialization
[code]
#### solution 2: keep the default but change num_iterations from `1000` to `100,000`
#### solution 3: tuning other hyperparameters?

I would like to stick with solution 1

[2019-09-29 16:33] leoguelman commented on #2047
awesome! Solution 1 works.

[2019-09-30 04:57] neerajprad commented on #2047
Re-opening this issue since we should fix the initialization in the notebook. It seems odd to me that `init_to_median` is doing worse than `init_to_feasible` but I have seen this in some other cases.

Option 1 seems reasonable, but most likely we just got lucky with the initialization for that random seed, so I am not sure if we should rely on that. Another trick that @fritzo has mentioned is init

[2019-09-30 11:28] leoguelman commented on #2047
You are right. Looks like we were just lucky in the prior example. In this simple example, I've tried several initialization methods for the `guide` and none seem to work well in this simple problem.

[code]

Frequentist NN - Works ok

[code]

[2019-09-30 15:03] HeyangGong opened #2048 "Cannot reproduce "Attend Infer Repeat""
Hello,

I cannot reproduce the example https://pyro.ai/examples/air.html

When I run the following codes:

[code]

[code]
I got an HTTPError.

[code]
I should get the dataset X_np.

[2019-09-30 18:23] neerajprad commented on #2048
Our AWS S3 bucket had to be changed recently, so this will not unfortunately work with the release code that directs to the earlier URL. If you use the code from our dev branch (and install it using `pip install -e .`), this should work correctly. Let me know if you face any issues.

[2019-10-02 13:52] #2048 closed

[2019-10-03 18:09] fritzo opened #2053 "Make pyro.generic.testing usable as a todo list"
Ideally I'd like to implement a very narrow testing interface with two methods that do not mention pytest and do not require testing code to mention pyro.generic. Their use is equivalent to the following:
[code]
I don't care what these are named or whether they are lists or functions or whatever, but I do think we should separate concerns such that:
1. all pyro.generic interface is hidden inside t

[2019-10-04 19:31] fritzo opened #2054 "FR Add tutorial on how to serve trained models from C++"
Originated [as a forum post](https://forum.pyro.ai/t/how-to-integrate-pyro-model-to-c/1330)

Let's add a tutorial for how to serve trained models in C++ using [torch.jit.save()](https://pytorch.org/docs/stable/jit.html#torch.jit.save) and `torch::jit::load()`. I believe there is some subtlety requiring a `torch.jit.trace()` to wrap `poutine.trace` and `poutine.replay` logic for SVI models and guid

[2019-10-08 23:23] neerajprad commented on #1930
@fehiepsi - Since you volunteered helping with the predictive utility, I have added you to this task. Note that we already have a `predictive` utility in `mcmc.util`. We need to figure out a more general API so that it works with `SVI` too, and which will allow us to remove `TracePredictive` completely.

[2019-10-09 01:15] fehiepsi commented on #1930
Sure, I am happy to work on this. I'll try to make a PR which covers usage cases which I know, then we can discuss there how to support more general cases, which I believe that you have some experience with.

[2019-10-09 01:28] neerajprad commented on #1930
I think we need to allow for a guide argument and figure out predictions when data subsamples are differently sized between training and testing. @ahmadsalim has already handled this in `TracePredictive` and we can use that as a template. It doesn't necessarily need to be merged with `mcmc.util.predictive` as a single function, but I think the internals will both share a significant amount of code

[2019-10-11 14:53] momeara opened #2058 "Mismatch between torch.nn.Module.state_dict() vs PyroOptim.get_state() [bug]"
### Issue Description
The `PyroOptim` class implements saving and restoring state thanks to work by @martinjankowiak. However this interface is not consistent with the `pytorch.nn.Module` interface for saving and restoring state. Having a more consistent interface would allow not having to handle these objects differently when trying to save/restore a run.

### Environment
Version '0.4.1'

[2019-10-11 17:18] fritzo commented on #2058
Hi @momeara it sounds like you're suggesting refactoring `PyroOptim` to be an `nn.Module` so as to eliminate duplicated save/restore logic, is that correct? Actually I had never thought of `PyroOptim` that way, and your idea seems reasonable.

[2019-10-11 17:21] momeara commented on #2058
If it's feasible to have ProOptim derive from nn.Module that would solve
the issue.

On Fri, Oct 11, 2019 at 1:18 PM Fritz Obermeyer <notifications@github.com>
wrote:

[2019-10-11 17:43] fehiepsi commented on #1930
@neerajprad @ahmadsalim I have thought about the `subsample` stuff deeply but couldn't figure out in which case the situation becomes complicated. Could you help me identify which test in [test_abstract_infer](https://github.com/pyro-ppl/pyro/blob/dev/tests/infer/test_abstract_infer.py) which I need to pay attention to?

I have been using `predictive` utility in NumPyro which has `plate` with diff

[2019-10-11 19:46] neerajprad commented on #1930
I think we should be able to just run the guide forward on the new data without worrying about differences in plate sizes. IIRC, we only had to do subsampling when we were storing posterior data in `exec_traces`, so that we didn't need to run the guide again. @ahmadsalim - correct me if I am mistaken.

@fehiepsi - I think your simplified solution is better. Let us just go ahead with that instead.

[2019-10-11 23:05] fritzo commented on #2053
Moved to https://github.com/pyro-ppl/pyro-api/issues/2

[2019-10-11 23:05] #2053 closed

[2019-10-12 16:07] ahmadsalim commented on #1930
@fehiepsi Please, see https://github.com/pyro-ppl/pyro/blob/dev/tests/infer/test_abstract_infer.py#L102-L103 and https://github.com/pyro-ppl/pyro/blob/dev/tests/infer/test_abstract_infer.py#L47-L48 . You can see that the batch size changes, because we use `num_trials[:3]` which changes the size between inference time and prediction time  😄

[2019-10-12 16:09] fehiepsi commented on #1930
Yeah, I just noticed it. I'll make a PR soon then we can discuss those situations there. :)

[2019-10-16 06:01] shashankg7 opened #2064 "Support for building Bayesian Non-parametric Models in Pyro"
Hello, I am new to PPL world. I came across TF-probability and was giving it a try, but the dependency mess in TF world is a turn-off. I am planning to switch to Pyro world for my needs.

Basically, I am interested in building Hierarchical Dirichlet Process-based models for text mining/IR.

Pardon my lack of knowledge about Pyro, but can we build Bayesian Non-parametric models using Pyro (similar

[2019-10-16 06:33] fritzo commented on #2064
Hi @shashankg7 would you mind asking this question on https://forum.pyro.ai ? We try to keep one-time issues on github, and keep reusable knowledge on the forum. Thanks!

In the mean time I'll look into that notebook...

[2019-10-16 06:42] fritzo commented on #2064
Okay for a quick answer here: yes you should be able to train models like that in Pyro. Note most implementations of DPMMs actually truncate and approximate the Dirichlet process mixture with a finite mixture and a sparse Dirichlet prior over the mixture weights. You can start with a couple Pyro tutorials: [Gaussian Mixture Models](http://pyro.ai/examples/gmm.html) and a not-great [LDA example](ht

[2019-10-16 06:42] #2064 closed

[2019-10-16 13:08] shashankg7 commented on #2064
@fritzo Thanks for your prompt reply.

Sure, I'll add the question there.

[2019-10-16 13:13] shashankg7 commented on #2064
I added the question there.

[2019-10-16 23:19] bmazoure commented on #1992
I recently had to re-write my code from PyTorch to Pyro to support many NF families, so I made a documented Jupyter notebook to fit a very simple bivariate mixture of two Gaussians using any flow from Pyro.

[Link to notebook](https://nbviewer.jupyter.org/github/bmazoure/code_snippets/blob/master/normalizing_flows/Normalizing%20flows%20in%20Pyro.ipynb)

The code might not be optimal, so comments/f

[2019-10-18 14:21] bmazoure opened #2066 "Support for invertible convolution transforms"
Seeing that almost all normalizing flow models are implemented under `pyro.distributions.transforms`, would it be possible (in theory) to support convolutional invertible layers (see [here](https://arxiv.org/abs/1807.03039) )? Similarly to `InvertibleAutoregressiveFlow`, which would take a convolutional layer and compute the forward/backward passes together with the log_det_jacobian.
Just wonderin

[2019-10-18 14:32] martinjankowiak commented on #2066
no, i don't see any reason why it couldn't be added to `pyro.distributions.transforms`. contributions welcome!

cc @stefanwebb

[2019-10-18 17:49] fritzo opened #2067 "LFAI recommended practices"
The LF AI group recommends [best practices](https://github.com/lfai/tac/blob/master/github-recommendations.md) for github repos. This issue tracks Pyro's progress towards these best practices.

## Tasks

- [ ] Use the [REPOLINTER](https://github.com/todogroup/repolinter) tool created by the TODO Group to identify common issues in GitHub repos.
- [x] Secure your GitHub account with two-factor authe

[2019-10-18 18:35] eb8680 opened #2069 "Tutorial on implementing custom MCMC samplers"
Similar to the [tutorial on custom losses in SVI](http://pyro.ai/examples/custom_objectives.html), we should have a tutorial on implementing custom MCMC kernels using the new MCMC API.  Something simple like SGLD seems like a good starting point.

[2019-10-18 18:42] eb8680 commented on #2069
cc @neerajprad @fehiepsi @shashankg7

[2019-10-18 22:33] neerajprad opened #2070 "MCMC with multiple chains is broken with pytorch 1.3"
There is some issue with `torch.mutiprocessing` in pytorch 1.3

[code]

[2019-10-18 22:39] neerajprad commented on #2070
I think this should be fixed by https://github.com/pytorch/pytorch/issues/2125.

[2019-10-21 19:27] fritzo opened #2072 "FR tutorial/example using pyro.plate for sparse data"
@ngoodman and @neerajprad both needed to do inference over 2-dimensional tables with sparse entries. This is common problem, and we should share any solutions that work.

[2019-10-21 19:43] fritzo commented on #2072
@ngoodman, @neerajprad can you provide any simple example models? I thought I had implemented a model with a sparse [coo](https://en.wikipedia.org/wiki/Sparse_matrix#Coordinate_list_(COO))-style plate, but the only examples I can find use a dense pair of plates with a `poutine.mask`, even when the use sparse computations under the hood (like [DirichletMultinomial(..., is_sparse=True)](http://docs.

[2019-10-22 19:51] fritzo commented on #2047
Note @wonyeol pointed out that guide's `sigma` distribution `Normal(...)` includes mass outside of the model's `sigma1` distribution (`Uniform(0,10)`), and this will occasionally error. I'm not sure if that's related to this issue, but we should probably switch to something consistent like `Exponential` and `LogNormal`.

[2019-10-22 20:25] bmazoure opened #2076 "Composing distributions.transforms with TanhTransform"
I am trying to compose a Normalizing Flow (Sylvester) with a bijective (Tanh) transform to run the following code:
[code]

but get the following:
[code]

From what I understand, only Householder and IAF have their analytical inverse coded, which is causing the error.
AFAIK, the inversion happens by looking up the value y in cache, and if the corresponding x is found, it is returned. However, since

[2019-10-22 21:05] eb8680 commented on #2076
cc @stefanwebb

[2019-10-22 22:24] fritzo opened #2078 "Make the ParamStore an nn.Module?"
Three recent issues #2058, #2054, #1839 suggest that serialization might be easier if the ParamStore were an nn.Module, e.g. so it could be torch::jit::saved and loaded.

### Questions 2019-10-22
- Would this make it easier to jit-and-serve Pyro models from C++?
- Could we replace `param_store.load()` / `.save()` with `torch.load()`/`.save()`?
- Are there conflicts in the module-vs-dictlike interf

[2019-10-22 23:40] neerajprad opened #2080 "test_jit.py::test_traceenum_elbo failing with CUDA on pytorch 1.3"
[code]

[2019-10-23 01:23] neerajprad opened #2082 "Sparse regression example fails for certain input parameters with ZeroDivisionError"
e.g.
[code]

I observed that `active_quadratic_dims` tensor has 0 sized dims (I'm not sure if this is a pytorch-1.3 issue).

[2019-10-23 03:18] neerajprad commented on #2070
Closing this as it is fixed upstream.

[2019-10-23 03:18] #2070 closed

[2019-10-23 03:50] neerajprad opened #2083 "Update all tutorials / examples for Pyro 1.0 release"
We should update the tutorials / examples to illustrate best practices:

 - [ ] Check that all non-runnable tutorials give correct results. Alternatively, make an attempt to convert them into valid notebooks that users can play around with.
 - [ ] Make an attempt to use the `Predictive` utility class in bayesian regression and baseball examples. We don't need to do this all over the place, but onl

[2019-10-23 03:53] neerajprad commented on #2083
If you noticed anything else from the forums, please update this list.

[2019-10-23 04:01] #2047 closed

[2019-10-23 12:43] emited opened #2084 "Bug AffineCoupling"
Hello,

There seems to be a bug in [here](https://github.com/pyro-ppl/pyro/blob/dev/pyro/distributions/transforms/affine_coupling.py#L106).

`mean, log_scale = self.arn(x1)`

should probably be

`mean, log_scale = self.hypernet(x1)`

instead, right?

Thanks in advance

[2019-10-23 13:11] fehiepsi commented on #2083
Sound reasonable to me. I'll refactor it and update related examples.

[2019-10-23 15:18] martinjankowiak commented on #2084
@stefanwebb any idea why this isn't being caught by existing tests?

[2019-10-23 17:43] eb8680 commented on #2083
It would be nice to have the LDA example produce sensible numbers on a real dataset.

[2019-10-23 17:58] neerajprad commented on #2083
I initially starting using that for the 20 news dataset as an example for model serving (which was probably a bad idea), but it was a bit too slow for the large vocabulary size. I'll dig into that a bit, and update https://github.com/pyro-ppl/pyro/issues/2072 to gather ideas on how we can make it work on that.

[2019-10-23 21:47] martinjankowiak opened #2090 "Add a contrib.timeseries module"
- [x] matern kernels as state space models #2077
- [x] basic univariate GP model and base class for `TimeSeriesModel`s #2088
- [x] add example usage for a contrib.timeseries model #2092
- [x] add `LinearlyCoupledMaternGP' #2094
- [x] add 'GenericLGSSM` #2099
- [x] add 'GenericLGSSMWithGPNoiseModel' #2100
- [x] add `DependentMaternGP` #2107
- [x] decorate with `torch.no_grad()` where appropriate #2

[2019-10-23 21:49] NarayanSchuetz opened #2091 "Progressbar Bug with tqdm v4.36.1 and Pyro v0.4.1 leading to exception, displaying progress for multiple chains"
The latest tqdm version 4.36.1 raises an exception when it should display multiple progress bars, such that:

[code]
results in:
[code]

Did not look deeply but might be caused as a result of [tqdm_notebook](https://github.com/tqdm/tqdm/blob/91494ccf363e5eeb4745db7dbab70ef73c4a6eb0/tqdm/notebook.py#L200) expecting `bar_format` kwargs value to be either missing (thus the key not present in the dict

[2019-10-23 21:55] martinjankowiak commented on #2082
hmm, i don't see this on torch 1.2.0....

[2019-10-24 00:24] fehiepsi commented on #2091
Hi @NarayanSchuetz, thank you so much for reporting the issue and helping us isolate the issue! We incorporated the fix in #2089, which will be available soon in 0.5.2 version.

[2019-10-24 00:24] #2091 closed

[2019-10-24 00:30] neerajprad commented on #2091
@NarayanSchuetz, @fehiepsi - this is 0.5.1 release; and it should be available now for pip install.

[2019-10-24 00:32] fehiepsi commented on #2091
Opps... I got confused with funsor version. Thanks for correcting me, Neeraj!

[2019-10-24 18:27] neerajprad opened #2095 "Make MCMC behavior identical to NumPyro when num_cpu < num_chains"
In NumPyro, if the number of chains exceed the number of CPU's we draw `num_samples * num_chains` samples sequentially, whereas in Pyro we throw a warning and set `num_chains = available_cpu`, without adjusting `num_samples`. We should try to aim for a uniform behavior in both the cases - NumPyro's behavior seems more sound.

[2019-10-25 01:32] #1996 closed

[2019-10-25 01:33] fehiepsi commented on #1955
This issue is fixed in PyTorch latest version.

[2019-10-25 01:33] #1955 closed

[2019-10-29 20:56] neerajprad commented on #2078
For autoguides, I think this solution may be a bit clunky since we'll need to write a separate wrapper that sets all the autoguide parameters like `init_loc` as nn.Parameter attributes on a wrapper class. Maybe the `ParamStoreModule` solution will work better in that case?

[2019-10-29 21:08] fritzo commented on #2078
I was just facing that issues :smile: I am also looking into making the autoguides `nn.Modules`.

[2019-10-29 21:31] fehiepsi commented on #2078
Though a bit different, the [Parameterized](https://github.com/pyro-ppl/pyro/blob/dev/pyro/contrib/gp/parameterized.py#L21) class has some logic to handle parameters and buffers, which can be helpful for you guys. :)

Let's see how this evolves, so I might be able to make Parameterized a subclass of ParamStoreModule.

[2019-11-01 19:47] m-k-S opened #2108 "Around halfway through SVI for a Dirichlet process mixture model, throws a: RuntimeError: Invalid index in gather at /pytorch/aten/src/TH/generic/THTensorEvenMoreMath.cpp:657"
### Issue Description

Hi, I am trying to train a Dirichlet process (Poisson) mixture model in Pyro using the Chinese restaurant process (CRP) formulation [code and data are below]. For inference, I am using SVI. SVI will run fine for ~20-30 seconds on my machine (about 400 iterations), and then throws the following error: `RuntimeError: Invalid index in gather at /pytorch/aten/src/TH/generic/THTe

[2019-11-01 19:54] fritzo commented on #2108
Can you `%debug` in the following cell, `u` until you have the culprit tensors in locals, then an inspect the culprit tensors?

[2019-11-01 20:08] m-k-S commented on #2108
Sure:

[code]

Could it be something to do with `tensor([2])` versus `tensor(2)`? Is this my fault?

[2019-11-01 21:36] jamestwebber opened #2109 "[feature request] [discussion] generalized gradient clipping"
As @martinjankowiak said in the discussion of #1293, it'd be nice to have a generic way to clip gradients in Pyro. I _think_ I understand how to implement this and I'm interested in contributing the PR if I can get a little guidance. The architecture of Pyro is complex and it's not obvious to me where this feature should live.

The current way to clip gradients in PyTorch is with [`clip_grad_norm_

[2019-11-01 22:22] fritzo commented on #2108
Try `pyro.enable_validation(True)`?

[2019-11-01 22:41] m-k-S commented on #2108
Now I'm getting "The value argument must be within the support" after several dozens of iterations:

[code]

[2019-11-01 22:44] fritzo commented on #2108
Hmm, `Poisson.support == constraints.nonnegative_integer` which does not contain `8.3`

(BTW would you mind enclosing long listings in `<details> ... </details`?)

[2019-11-01 22:47] fritzo commented on #2108
One issue I notice is that you are optimizing `Uniform(a,b)` in the guide, but the model is fixed to `Uniform(0,200)`; if the guide ever sets `b > 200` there will be an error. You could use say `Exponential(1/200)` in the model instead?

[2019-11-01 22:49] fritzo commented on #2108
Also note that the model is not being enumerated, so you might as well use `Trace_ELBO`.

[2019-11-01 23:12] m-k-S commented on #2108
Got it, thanks for all the tips. It's now saying that the value must be within the support for the mixture assignments (no longer from the Poisson distribution):

<detail> > /usr/local/lib/python3.6/dist-packages/torch/distributions/distribution.py(253)_validate_sample()
    251
    252         if not self.support.check(value).all():
--> 253             raise ValueError('The value argument must be

[2019-11-01 23:21] fritzo commented on #2109
Sounds reasonable. `pyro.optim` indeed seems like the appropriate place. @martinjankowiak or @jpchen may have more precise opinions.

[2019-11-04 16:33] fritzo commented on #2078
@neerajprad What do you think of a mixed autoguide solution?
1. Use `@constrained` in the static autoguides
[code]
2. Use `ConstrainedModule` for the dynamic autoguides
[code]

[2019-11-04 16:38] fritzo opened #2116 "Misc tasks for 1.0 release"
- [x] Replace `DeprecationWarning` with ~`UserWarning`~ `FutureWarning`.
- [x] Add stability statement to ~~README~~ release notes (describing what is and is not stable)
- [x] Mark unstable parts of the interface as EXPERIMENTAL (e.g. `pyro.nn.PyroModule`) #2158, ...
- [x] Try to fix codecov badge (no need to try hard tho)

[2019-11-04 20:07] jamestwebber commented on #2109
Closed by #2111 ?

[2019-11-04 20:07] #2109 closed

[2019-11-04 23:49] tbrx opened #2118 "Gaussian process kernels with vector lengthscales fail in pyro 0.5"
A few of us at the Alan Turing Institute have been looking into using the Gaussian process contrib module for structured Bayesian optimization (in fact, we've been working on reimplementing [BOAT](https://github.com/VDalibard/BOAT), in Pyro).

Unfortunately, updating to pyro 0.5.1 from 0.4.0 has broken our existing code. Maybe this is just a case of us not finding the updated documentation, or per

[2019-11-05 00:17] fritzo commented on #2118
Thanks for the clear bug report, @tbrx. This appears to be an issue with the new `kl_divergence(Delta, -)` pattern. As a quick workaround you can remove `_kl_delta(p, q)`:
[code]
Let me know if that works for you. Meanwhile I will look for a solution.

[2019-11-05 00:22] fritzo commented on #2118
@tbrx Additionally you can add the following patch to your own code and use unmodified Pyro:
[code]

[2019-11-05 01:00] fehiepsi commented on #2118
Hi @tbrx, I think that this might not be a bug. If you set correct shapes for prior, the script will work
[code]
I think we missed some checks in version 0.4.0. Could you verify that using the above prior gives an expected behavior for you?

[2019-11-05 10:04] tbrx commented on #2118
Thanks both — @fritzo the patch certainly does get this working.

Hi @fehiepsi, the first thing I tried to fix this was actually
[code]
which would have made sense to me, but failed at the same assertion. It does work again if I use your code, thanks.

Incidentally, I realized that if I use `torch.distributions` instead of `pyro.distributions` for the prior (but not for the guide…), this also "fix

[2019-11-05 22:37] neerajprad commented on #2078
That sounds reasonable to me. I am working on a PR to try this out.

[2019-11-06 03:23] fritzo opened #2120 "Make autoguides more usable"
This aims to make our most common autoguides easier to use: `AutoDelta`, `AutoDiagonalNormal`, `AutoMultivariateNormal`, `AutoLowRankMultivariateNormal`.

Feel free to add to this list (anyone :smile:) if you have usability requests.

I have added this to the 1.0 milestone because it involves interface changes that will enable later refactoring (e.g. #2078) while preserving backwards compatibility

[2019-11-06 03:24] fritzo commented on #2120
@martinjankowiak @stefanwebb let me know if you have any other suggestions!

[2019-11-06 03:40] fritzo commented on #1893
Thanks for opening this @mattwescott . I think I'll close it now, since the PyTorch jit has been increasing support for in-place ops.

[2019-11-06 03:40] #1893 closed

[2019-11-06 03:43] #1304 closed

[2019-11-06 03:44] fritzo commented on #295
Closing, as observations is no longer maintained.

[2019-11-06 03:44] #295 closed

[2019-11-06 03:45] #829 closed

[2019-11-06 03:47] fritzo commented on #577
I believe this is accomplished now by `AutoDelta`

[2019-11-06 03:47] #577 closed

[2019-11-06 05:48] fritzo opened #2122 "Predictive class fails for non-scalar sites"
I usually use raw poutines to for prediction:
[code]
When instead I try the new `Predictive` class, this fails on models with nontrivial plate structure:
[code]
I believe this is due to reshaping of posterior samples without regard to their event shape. I don't know why `_predictive()` even needs to reshape samples.

I have added a failing test in this branch. Feel free to take over the branch and

[2019-11-06 06:08] fritzo commented on #2122
@fehiepsi let me know if you need more failing examples, this came up in an uber internal model.

[2019-11-06 16:04] fehiepsi commented on #2122
@fritzo Sure, more failing examples would be helpful! I'll also test some related cases which I can think about.

[2019-11-06 18:08] #2122 closed

[2019-11-08 21:11] neerajprad opened #2131 "Register guides in AutoGuideList as submodules"
After #2126, autoguides subclass from `nn.Module` and support all their functionality. The design for `AutoGuideList` can also be made more module friendly. Currently, in `_setup_prototype` we iterate over all the guides and add set their parameters on to the main class so that these are detectable by `pyro.module`.

Instead, we could add the logic from `AutoGuideList.add` to `__setattr__` in `Con

[2019-11-08 21:13] fritzo commented on #2131
Should we aim to make this change by 1.0 release?
Should we fix the "prefix" issue by 1.0 release?

[2019-11-08 21:17] neerajprad commented on #2131
I am hoping that this should be a relatively small fix, and we can do it before 1.0. I can take a look. It will be nice to have this by 1.0.

[2019-11-11 22:46] fritzo opened #2138 "Resampling bug in SMCFilter?"
@tuananhle7 [points out](https://github.com/pyro-ppl/pyro/pull/1947#issuecomment-551885868)

cc @chanjed @karalets

[2019-11-11 22:57] fritzo commented on #2138
Thanks for the careful reading, @tuananhle7. It's been a while since we wrote this, and yes I agree that it appears `._values` is not affecting `SimpleHarmonicGuide.z` when that value is later read. We'd happily accept a fix if you see one. In the meantime I'll think about possible fixes.

[2019-11-12 18:39] fritzo commented on #2131
Closed by #2137

[2019-11-12 18:39] #2131 closed

[2019-11-12 19:32] fehiepsi commented on #1265
@jacobrgardner has made a [nice tutorial](https://github.com/cornellius-gp/gpytorch/blob/master/examples/01_Simple_GP_Regression/Simple_GP_Regression_Fully_Bayesian.ipynb) which shows how to do fully bayesian for GPyTorch models. For those who want speed, @martinjankowiak has also made a [nice example](http://pyro.ai/numpyro/gp.html) using NumPyro.

I think we can close this issue now.

[2019-11-12 19:32] #1265 closed

[2019-11-12 19:45] fehiepsi commented on #2118
@tbrx FYI, all GP modules are subclassed of `pyro.nn.PyroModule` in the next Pyro release. The only change in API is to replace `set_prior` statement with
[code]
I think we can close this issue for now. Please let us know when your team comes up with a nice application of GP contrib module! :)

[2019-11-12 19:45] #2118 closed

[2019-11-12 19:45] #2095 closed

[2019-11-13 01:10] gamerDecathlete opened #2147 "ConditionedPlanarFlow's event_dim is wrong [bug]"
--------------------------------------------------------------------------------------------------
### Issue Description
Provide a brief description of the issue.

I think the ConditionedPlanarFlow's event_dim is incorrect. I think the class needs to be set as such:
[code]
The Transform super class default is event_dim=0.

Maybe I misunderstand this class, but I notice the PlanarFlow class has eve

[2019-11-13 01:34] gamerDecathlete opened #2149 "Problems with MeanFieldELBO [bug] with TransformedDistributions in guide and model"
This is a copy of an issue I posted for pytorch: https://github.com/pytorch/pytorch/issues/29698

I think this is an issue with the _kl_independent_independent class which is summing over batches when it shouldn't...
### Guidelines

I think the Kl divergence is summing over the batch dimensions when it shouldn't, at least for the Gaussian case

Here's the transformed distribution function:
[code]

[2019-11-13 02:17] fehiepsi commented on #2120
@fritzo Could we have a method in PyroModule to get constrained values (without having to use `pyro.get_param_store()`)? Right now, we can observe unconstrained parameters through `.named_parameters()` method but it would be nice to have support for constrained parameters too. :)

[2019-11-13 02:33] fritzo commented on #2120
@fehiepsi sure, feel free to add a `.get_named_pyro_params()` or similar.

[2019-11-13 03:16] fehiepsi commented on #2149
@gamerDecathlete I think the issue happens at the definition of `Gaussian`. I test with Normal distribution and see the expected result:
[code]

[2019-11-13 04:28] gamerDecathlete commented on #2149
Woops, my example should have wrapped the Gaussians in a TransformedDistribution.
[code]
not sure if this will help/ make too much of a difference but I saw this bug using the Pyro library using their transformation classes which builds off the pytorch distributions

[2019-11-13 04:38] gamerDecathlete commented on #2149
Sorry, I forgot the Transformed Class. this is more close to how it looks in my model
[code]
If it still isn't reproducible then, maybe my versions are just dated.

[2019-11-13 05:21] fehiepsi commented on #2149
Thanks, I got it now! Looking like the commented line
[code]
is the correct behavior for kl of transformed-transformed.

[2019-11-13 05:35] fehiepsi commented on #2120
@fritzo Just discover a bug with the dev branch :D
[code]

[2019-11-13 05:43] fritzo commented on #2120
@fehiepsi good point, I believe that's because the `__delattr__` logic currently only removes `PyroParam` and `nn.Param` from the param store (`__delattr__` is triggered when `__setattr__` overwrites something). Do you want to try modifying `__delattr__` to correctly handle `PyroModule` and `nn.Module`? That seems like a good first PR contributing to `PyroModule` :smile:

[2019-11-13 08:38] eb8680 opened #2153 "Implement single-world counterfactual semantics for causal inference"
To support applications like the Causal Effect VAE #2151 I propose we implement the node-splitting transformation described in detail in [Single World Intervention Graphs: A Primer](https://pdfs.semanticscholar.org/07bb/cb458109d2663acc0d098e8913892389a2a7.pdf).  I believe a simple version of this would be quite straightforward and fully compatible with all existing inference algorithms - we'd jus

[2019-11-14 01:10] fritzo commented on #2149
Hi @gamerDecathlete, can you paste your code for `Gaussian`? I have not seen that distribution. Also, have you tried first running your model with `Trace_ELBO` and `pyro.enable_validation(True)` to ensure there are no other shape errors.

The reason `_kl_independent_independent` sums out some dimensions is that the rightmost `reinterpreted_batch_ndims`-many dimensions are actuall event dimensions,

[2019-11-14 01:49] neerajprad opened #2154 "Refactor Predictive to make it a serializable PyroModule"
While working on #2083, I found that the Predictive class is not working for AutoGuides as expected.

One issue is that using a Predictive module where we set model and trained guide as submodules throws an error `submodule model has executed outside of supermodule".format(name)`.

It will be nice to refactor it so that it:
 - [ ] Returns correct results for autoguides.
 - [ ] Supports serializabi

[2019-11-14 02:18] fritzo commented on #2154
Should this be part of 1.0 milestone?

[2019-11-14 02:27] neerajprad commented on #2154
This is currently blocking #2083, though we can have work-arounds for that. But more importantly, this has uncovered a situation where (I think) the earlier autoguide code would have worked, so it will be good to understand why this is not working.

[2019-11-14 02:28] gamerDecathlete commented on #2149
@fritzo  I posted the exact snippet that @fehiepsi reported does the behavior I was commenting on in relation to the MeanFieldELBO. I'll try the enable_validation think you mention, but otherwise I'm not sure I quite understand your comment. You are right, the Gaussian I don't think exists, I meant Normal (thanks for clarifying that).

[2019-11-14 03:00] neerajprad commented on #2154
Hmm..I don't see an easy way of supporting this. For a class like `Predictive`:

[code]
, the `model` and `guide` would have been called outside the predictive context so the check will always fail. Allowing for that will however mean that we need to set the right prefixes for all params/samples/modules, which seems onerous to support. Is there an easy way to support this?

[2019-11-14 17:55] stefanwebb commented on #2076
I think you're right, there is a bug when composing a transform with an analytic inverse to one without.

The inverse of Tanh is calculated analytically, which then differs (in reference) from the value stored in the cache of the Sylvester transform.

The fix is to make Tanh cache its value - I'll add this change to #1932

[2019-11-14 17:58] stefanwebb commented on #2147
Thanks for picking this up! Will look into this and add to #1932

[2019-11-14 17:59] stefanwebb commented on #2084
Let me look into this and add fix to #1932

[2019-11-14 18:00] m-k-S opened #2159 "Several iterations into NUTS, sampling from a Categorical distribution unexpectedly returns multiple values"
### Issue Description

While attempting to perform inference on a model (code located below) using NUTS/MCMC, after several (~100) iterations, I get the error: `ValueError: only one element tensors can be converted to Python scalars`. When adding a print statement to relevant variable, which is a draw from a Categorical distribution, it became clear that the variable was now a two-element tensor,

[2019-11-14 18:49] fehiepsi commented on #2159
@m-k-S In Pyro, NUTS marginalizes discrete latent variable, so you should use `mu[z]` in place of `mu[z.item()`. However, you will need more batteries to [enumerate more than 25 variables](http://pyro.ai/examples/enumeration.html#How-to-enumerate-more-than-25-variables). For your model, I think that using
[code]
is enough.

[2019-11-14 19:04] fritzo commented on #2159
@fehiepsi do I understand correctly that the first few scalar samples were drawn during NUTS initialization, not during NUTS iteration, and that in fact the non-scalar site is encountered on the first NUTS step?

[2019-11-14 19:12] neerajprad commented on #2154
Other serialization related issue with Predictive:
 - Currently the `num_samples` argument is static. So once a `Predictive` instance is `jit.saved` we can only draw at one time `num_samples` argument. Ideally `num_samples` should be an argument to `forward` so that we could change `num_samples` in real time from the deserialized predictive module.
 - Related to the previous point, sequential samp

[2019-11-14 19:24] fehiepsi commented on #2159
@fritzo Yes, scalar samples are drawn during inspecting the model to detect its structure. After that, [enumerate will be activated](https://github.com/pyro-ppl/pyro/blob/dev/pyro/infer/mcmc/util.py#L368) by wrapping the model with `poutine.enum`. Non-scalar site is encountered at the initialization phase too.

[2019-11-14 19:31] m-k-S commented on #2159
Thanks @fehiepsi, this worked perfectly.

[2019-11-14 19:37] #2159 closed

[2019-11-14 19:56] #2120 closed

[2019-11-14 20:18] #2154 closed

[2019-11-14 20:32] fehiepsi commented on #2154
Looks reasonable to me. I think that we can just leave `num_samples=None` by default which will resample `posterior_samples` if `num_samples != None`. Or we can just let `num_samples` have no effect when `posterior_samples` is specified.

[2019-11-14 20:36] fritzo opened #2161 "Make PyroModule more usable and safe"
This is a general issue to collect PRs related to `PyroModule`

[2019-11-14 20:39] fritzo commented on #2078
Closing in favor of #2161

[2019-11-14 20:39] #2078 closed

[2019-11-15 04:26] fritzo commented on #2149
I believe #2165 fixed this (thanks @fehiepsi !). Feel free to reopen if you continue to have issues.

[2019-11-15 04:26] #2149 closed

[2019-11-15 17:02] robertness commented on #2153
I think this is a good idea, as SWIGs are a good visual way of reasoning about counterfactuals on a single DAG.

Can you clarify the following?  How does backdoor adjustment come into play here?  Is there automatic estimation of causal effects?

I think, that from a design perspective, ideally new abstractions encourage (or at least won't discourage) Pearl-style counterfactuals on an SCM-style mod

[2019-11-16 00:23] neerajprad commented on #1930
Removing the 1.0 milestone since all tasks are done. We should prioritize removing deprecated code in a future release.

[2019-11-16 00:34] neerajprad opened #2173 "JitTraceEnum_ELBO throwing error in CUDA"
Recently some of our enumeration tests have been failing with JIT on CUDA:

[code]

[2019-11-16 00:38] fritzo opened #2174 "Misc issues with pyro.distributions.transforms module"
Following discussion in:
https://github.com/pyro-ppl/pyro/pull/1932#issuecomment-554431218:

- [ ] #2076
- [ ] #2147
- [ ] #2084

cc @stefanwebb

[2019-11-16 00:42] fritzo commented on #2116
Let me know if anything else needs to be marked EXPERIMENTAL.

[2019-11-16 00:42] #2116 closed

[2019-11-16 01:19] eb8680 commented on #2153
Hmm, isn't this already true of probabilistic programs?  All stochasticity is ultimately encapsulated in some exogenous random number generator call within a distribution implementation; the trick to representing counterfactuals seems to be making sure that randomness is reused correctly.  The node-splitting transformation added in #2157 just does this automatically and efficiently for a limited s

[2019-11-16 01:33] #2138 closed

[2019-11-21 14:50] fritzo opened #2182 "FR parallel-scan GaussianHMM.rsample()"
`GaussianHMM.rsample()` would enable a powerful class of guides for time-series models with non-Gaussian likelihoods. Consider for example a guide:
[code]
In this guide, `my_nn` acts as a weak encoder, forming a gaussian update `(log_normalizer, info_vec, precision)` independently at each time step, kind of a neural EP. In principle it is easy to fuse these weak likelihoods with a strong prior, e.

[2019-11-22 14:52] fritzo opened #2186 "FR ExpandedDistribution for easier custom distributions"
As of #1377 it is onerous to define custom distributions: each new distribution requires a custom `.expand()` method --a method that is difficult to understand and inconsistently implemented among reference distributions. This issue proposes to resurrect `ReshapedDistribution` as a simpler `ExpandedDistribution` and to use that as a fallback in case `.expand()` is not implemented.

Request: classe

[2019-11-22 20:58] neerajprad commented on #2186
We can easily resurrect this. The [reason](https://github.com/pyro-ppl/pyro/issues/1119) why we had a `.expand` method (first in Pyro, and later moved upstream) was to allow for a generic broadcasting mechanism where distributions with shape like `(10, 1, 2)` could be broadcasted to `(10, 100, 2)` when inside a plate messenger. To have this generic broadcasting behavior, we will need to implement

[2019-11-22 22:03] eb8680 opened #2187 "Validate mask and scale tensor shapes"
In [this topic on the forum](https://forum.pyro.ai/t/problem-with-enumeration-for-batch-data-in-deep-markov-models/1200/7), a user was experiencing difficult-to-debug shape errors in a complicated model that were caused by an incorrect mask shape.  While we can't in general assert that a `site["mask"]` or `site["scale"]` shape is incorrect without knowing more about user intent, it may be possible

[2019-11-22 22:13] eb8680 opened #2188 "Check constructor argument types in Messengers and handlers"
In [this topic on the forum](https://forum.pyro.ai/t/poutine-mask-intended-usage/1428/2), a user passed a mask tensor to `poutine.mask` as an argument `poutine.mask(mask)` rather than a keyword argument `poutine.mask(mask=mask)`, attempted to use the resulting `Messenger` as a context manager, and got an obscure error message as a result:
[code]
It would be good to raise more informative error mes

[2019-11-22 23:42] fritzo commented on #2186
Thanks for explaining, I had forgotten about our early difficulty with interstitial dims. However, in retrospect I believe could support interstitial dims in both `ExpandedDistribution.log_prob()` and `.rsample()` by combining `.transpose()` and `.reshape()` logic. Do you agree?

Let me clarify motivation.
When a user wants to implement a custom inference algorithm for part of a Pyro model, there

[2019-11-23 00:28] neerajprad commented on #2186
That makes sense.

I have thought about this a couple of times. :) I don't fully remember the constraints that we were operating in under the time. I think one reason was that it might be hard to support distributions that are manually batched in a generic way, but if we only rely on `poutine.broadcast`, this should be pretty straightforward. I also remember `ReshapedDistribution.expand` being a s

[2019-12-03 18:52] fritzo opened #2201 "Enable warnings in tests/test_examples.py"
I just noticed that our usual pytest warnings filters (`-Werror` with a few exceptions) do not apply to the eamples/*.py when run by `subprocess.check_call()`, leading to some warnings raised by examples.

I tried sketching a possible solution in the [example-warnings branch](https://github.com/pyro-ppl/pyro/compare/example-warnings?expand=1), but it appears difficult to specify exact warnings, an

[2019-12-04 06:57] fehiepsi opened #2205 "MCMC cannot jit_compile for a simple logistic regression model"
The script
[code]
will throw the following error with `jit_compile=True`

<details>

[code]
</details>

I think this is a PyTorch issue ~but I haven't made an isolated code yet~. See the upstream issue at https://github.com/pytorch/pytorch/issues/30936

[2019-12-05 23:30] #2186 closed

[2019-12-06 04:34] #2188 closed

[2019-12-06 19:15] neerajprad opened #2214 "[FR] New site type for pyro.deterministic"
Mentioned by @fritzo in https://github.com/pyro-ppl/pyro/pull/2196#issuecomment-560525534. Also related - https://github.com/pyro-ppl/pyro/pull/237.

Here is one reason to change it (which might not have been explicitly mentioned in that PR). I wanted to change our tutorials / examples to start using `pyro.deterministic` but the following behavior (under Predictive) will be unintuitive for users.

[2019-12-06 19:53] fritzo commented on #2187
@eb8680 do you plan to implement this in the next few hours, or can we remove from 1.1 milestone?

[2019-12-06 19:57] eb8680 commented on #2187
I'll give it a try, if it turns out to be more involved than I thought we can remove it.

[2019-12-08 23:21] JunHanSnap commented on #1679
I am asking for batched Gaussian process as I need to a GP model for each sample of batched data.  Look forward to see this new feature

[2019-12-09 16:39] tuananhle7 opened #2220 "Batching and plating"
co-authored with @iffsid

Statistically, batching allows us to trade off the speed of taking gradient steps for lower variance gradient estimators. This can be done in a for loop. However, batching is most useful for parallelizing the computation of the log probs of the model and the guide by using low level numerical optimizations.

Plating is a useful construct for defining conditionally indepen

[2019-12-09 17:02] iffsid commented on #2220
cc: @martinjankowiak @fritzo

This is something we came across in writing RWS for pyro.

[2019-12-09 17:29] fehiepsi commented on #2220
Re renyi_elbo: I think the issue here is you want to compute logp(x) as an average over data points. I am not sure if RenyiElbo still works if you do so. Like elbo, we use the objective logp(X) instead of E logp(x).

[2019-12-09 17:45] tuananhle7 commented on #2220
In the above, `x` and `z` means different things for different models.

If we're interested in models of the form `p(theta, x_{1:N}) = p(theta) \prod_n p(x_n | theta)` (like in equation 2 of https://arxiv.org/pdf/1602.02311.pdf), then `theta` is `z` and `x_{1:N}` is `x`. Thus, maximizing the ELBO maximizes `log p(x_{1:N})`.

The batching issue only comes into play when you want to amortize inferen

[2019-12-09 18:25] fehiepsi commented on #2220
IIUC then you want to train multiple models (have the same formulation) on different datasets (have the same size) using a single SVI run (with objective is the average of the objectives of single models). I am not sure if Pyro supports that... so would like to hear more opinions. In particular, RenyiELBO is not implemented to support this way of inference. If the number of datasets is small, prob

[2019-12-09 18:32] fehiepsi commented on #1679
@JunHanSnap [gpytorch](https://gpytorch.readthedocs.io/en/latest/examples/01_Simple_GP_Regression/Simple_Batch_Mode_GP_Regression.html) supports batching gp. Could you give it a try? :)