[2018-08-01 06:14] eb8680 commented on #1280
Discourse can be a little finicky sometimes, especially with SSO.  Closing as resolved.

[2018-08-01 06:14] #1280 closed

[2018-08-04 14:51] jperl opened #1287 "[feature request] Implement Exponential Smoothing RNN"
### Guidelines

**NOTE:** Issues are for bugs and feature requests only. If you have a question about using Pyro or general modeling questions, please post it on the [forum](https://forum.pyro.ai/).

If you would like to address any minor bugs in the documentation or source, please feel free to contribute a Pull Request without creating an issue first.

Please tag the issue appropriately in the ti

[2018-08-04 16:52] fritzo commented on #1287
Sure, @slaweku has already ported his implementation to PyTorch, and we are working on batching before integrating into Pyro. We'll be sure to cc you on the first PR (that sets up structure), then we could use help with subsequent PRs like tutorials, batching, JIT support etc.

[2018-08-04 16:57] jperl commented on #1287
Awesome thanks! Is there any way to view the pytorch implementation so I can get up to speed?

[2018-08-06 12:48] windj007 commented on #1261
It worked, thank you!

[2018-08-06 12:48] #1261 closed

[2018-08-06 20:02] martinjankowiak opened #1290 "Implement ARM"
This seems like a great gradient estimator for discrete latents:

https://arxiv.org/abs/1807.11143

It would be good to think through how difficult this would be to do in Pyro.

[2018-08-06 23:27] alicanb commented on #1267
https://github.com/pytorch/pytorch/pull/10269 -> for expand bugs

[2018-08-07 16:37] fritzo commented on #543
`EmpiricalMarginal` is now documented [here](http://docs.pyro.ai/en/0.2.1-release/inference_algos.html#pyro.infer.abstract_infer.EmpiricalMarginal) and appears in multiple examples.

[2018-08-07 16:37] #543 closed

[2018-08-07 21:45] fritzo commented on #1226
@eb8680 it would be nice to implement message passing for `Search` next week, at the same time we implement message passing for SVI and HMC. Is there any preparation we can do this week to set us up to implement the harder parts next week?

[2018-08-07 21:57] eb8680 commented on #1226
One big blocker is actually not having a batched `EmpiricalMarginal`/`HashingMarginal`, but I think that would be a bit of a pain to implement as well since `Empirical` isn't vectorized.

[2018-08-08 18:26] neerajprad commented on #1226
What do you think we need to vectorize Empirical - can we generate bootstrap samples off of some initial samples to fill arbitrary batches on the left, or do you foresee needing something more sophisticated?

[2018-08-09 21:04] fritzo commented on #1257
cc @OptimusLime

[2018-08-10 21:54] neerajprad commented on #1093
@cfperez - I have updated the task list here, specific to HMC/NUTS. We don't have a separate issue for visualization, and something like `traceplot` will be useful for all inference algorithms, not just HMC. Some relevant discussion [here](https://github.com/arviz-devs/arviz/issues/97#issuecomment-391385756). I think using `arviz` would require us to convert `torch.Tensor` to a pandas dataframe, o

[2018-08-11 13:14] stefanwebb commented on #1260
I think my pull request is almost ready to be integrated. I have an improved IAF implementation ready plus MAF and NAF that I want to submit in my next ones.

With IAF, the current implementation uses Eq 14 from the paper, which the authors say is more numerically stable, rather than Eq 10. However, I've discovered that using the Eq 14 version doesn't seem to be able to fit simple toy datasets. I

[2018-08-11 14:55] geffy opened #1303 "[bug] Distribution object is not callable"
Code from tutorial just doesn't work. `pyro.sample("my_sample", dist.Normal(loc, scale))` produces `TypeError: 'Normal' object is not callable`.

### Environment

 - OS: macOS 10.13.5,
 - Python version: 3.6.5
 - PyTorch version: 0.4.1
 - Pyro version: 0.2.1

### Code Snippet
[code]

Output:
[code]

[2018-08-11 15:10] fritzo commented on #1303
You need to import pyro distributions rather than torch distributions:
[code]

[2018-08-11 15:10] #1303 closed

[2018-08-12 18:36] martinjankowiak commented on #1260
@stefanwebb sounds good, looking forward to subsequent PRs

[2018-08-13 17:11] fritzo opened #1304 "Implement Sequential Monte Carlo"
This issue tracks progress towards implementing Sequential Monte Carlo aka Particle Filtering.

For general control flow this appears to be difficult due to Python's lack of forkable coroutines.

For static computation graphs we may be able to implement tensorized forking via sparse tensors.

[2018-08-13 17:23] fritzo opened #1305 "Tensor SMC via local num_particles + resampling"
Addresses #1304 Sequential Monte Carlo
Requires #915 dependent enumeration, #1302 local `num_particles`

Currently `TraceEnum_ELBO` would have exponential cost in the number of sampled variables (via local `num_particles` #1302). To mitigate this growth, we could introduce an SMC resampling step in the computation, effectively implementing a COO sparse tensor format whose metadata is recorded in P

[2018-08-13 18:48] jpchen commented on #1304
may be useful but extremely outdated: @OptimusLime 's [implementation](https://github.com/uber/pyro/tree/nightmare-poutine) using OS forking iirc

[2018-08-16 15:56] stefanwebb commented on #1260
Here's my second pull request: #1311. When this one is ready, I can then submit my new normalizing flow implementations.

[2018-08-23 00:36] neerajprad opened #1330 "Supporting independent optimization problems via tensor DSL"
Closely related, more specific use case: #1213.

Can we use our tensor DSL to support the use case of solving a batch of independent optimization problems? The proposed solution is to use broadcasting to optimize a batch of parameters independently on the same model and guide. This has been brought up in multiple contexts - batched second order optimizers (#1213), experimenting with population bas

[2018-08-23 01:08] eb8680 commented on #1330
Related: #503

[2018-08-26 01:12] fritzo opened #1336 "Move .enumerate(expand=False) logic upstream"
We've [patched](https://github.com/uber/pyro/blob/dev/pyro/distributions/torch.py) PyTorch distributions to allow a new kwarg `.enumerate_support(expand=False)`, used by enumeration. The interface is now stable and used in a few Pyro inference algorithms. It would be good to push these changes upstream to PyTorch before the next PyTorch release.

[2018-08-26 01:13] fritzo commented on #1336
@neerajprad do you think you'd have time to address this in the next couple weeks?

[2018-08-26 01:18] fritzo opened #1337 "Move .expand_by() and .expand() logic upstream"
We've implemented a generic `TorchDistribution.expand_by()` method and [patched](https://github.com/uber/pyro/blob/dev/pyro/distributions/torch.py) individual distributions to support an `.expand()` method. Could one or both of these be moved upstream to PyTorch?

## Tasks

- [x] Assess feasibility and create refactoring plan
- [x] https://github.com/pytorch/pytorch/pull/11341 Move `.expand()` ups

[2018-08-26 01:28] alicanb commented on #1337
I would be hesitant about creating a new `Distribution` subclass upstream, I fear it might confuse people. Can't we implement it by expanding the necessary tensors?

[2018-08-26 14:35] ssequeira opened #1339 "Stick-breaking variational autoencoder example"
I'd like to add a new example for [Nalisnick and Smyth's Stick-Breaking Variational Autoencoder](https://arxiv.org/abs/1605.06197).

Since @fritzo and @martinjankowiak have implemented pathwise gradients for the beta distribution, what would be a good first step in this direction?

[2018-08-26 21:59] neerajprad commented on #1336
Sure! I will make this change in PyTorch upstream.

[2018-08-26 23:03] neerajprad commented on #1337
Minimally, I think we can just aim to move the `.expand` (and `.expand_by`) methods to optionally expand the distribution's batch shape (and resulting parameters) after it has been constructed. It will also be nice to profile and see how much this saves us vs.:
 - constructing a new distribution instance: I think the savings here should be substantial, but since the broadcasting logic has been con

[2018-08-27 00:39] fritzo commented on #1337
I like the idea of returning a shallow copy of the distribution, as `torch.expand` does. Maybe we should refactor to first remove `ReshapedDistribution` from Pyro (using `Independent` instead), and then move the now-standalone methods upstream.

[2018-08-27 15:55] martinjankowiak commented on #1339
sounds great! well, i suppose getting the GEM sampling working would be a good place to start. taking care that the entire thing is properly vectorized. you might even consider wrapping that bit in a custom distribution. that way you could also write a unit test to test your construction for correctness. i think once you've done that, you basically just need to plop it into a vanilla VAE, so that

[2018-08-27 19:04] jpchen commented on #1330
i think that should be fine, like pytorch's batch operations eg (`bmm`) only allow one dimension of batching

i may be overthinking it, but this seems tricky to incorporate in the `iparam` construct since neural networks are a collection of connected weights/params represented as multiple tensors. so it may be difficult to broadcast tensor operations per `iparam` messenger correctly. my original i

[2018-08-28 15:45] sadatnfs opened #1341 "[discussion] Posterior sampling post Bayesian regressions"
Hello,

I have been able to run all of the Bayesian regression example on the docs (http://pyro.ai/examples/bayesian_regression.html) with some tweaks for better understanding (like adding multiple weights/features), but I have no idea how I'd go about sampling from the posterior distributions of the weights and the biases.

Any thoughts or help?

Thanks!

Nafis

[2018-08-29 20:34] fritzo commented on #1341
Hi @sadatnfs, you should be able to simply run the guide to sample from the posterior
[code]
If you want more detailed information from the guide, you can modify its return statement.

[2018-08-29 20:34] #1341 closed

[2018-08-29 20:44] jpchen commented on #1341
look at the [tutorial](http://pyro.ai/examples/bayesian_regression.html#Validating-Results) for an example of this. also in the future, please post questions related to usage/examples on the [forum](http://forum.pyro.ai) and use issues for bug reports

[2018-08-29 20:51] sadatnfs commented on #1341
Oh I didn't know there was a forum! Thanks!

[2018-09-02 17:19] fritzo opened #1355 "Add tutorial on enumeration"
As `TraceEnum_ELBO` gains functionality, we should describe how to use it.

Note that the gmm tutorial mentions enumeration, but I'd like a tutorial that focuses on the language aspects rather than a single model. We can point the the gmm tutorial and hmm example from the enumeration tutorial.

## Previous discussions on forum.pyro.ai

- https://forum.pyro.ai/t/question-on-local-global-random-vari

[2018-09-04 02:35] neerajprad opened #1358 "JitTrace*ELBO does not work with irregular batch sizes"
With https://github.com/pytorch/pytorch/pull/10952, our VAE example becomes runnable, except that it fails on the last data batch in the epoch which has size `96` instead of the usual `128` (runs fine with regular batch sizes).

A minimal example that fails is below.

[code]

which results in the same error:

<details><Summary> Stack Trace </Summary>

[code]

</details>

\
PyTorch is able to gener

[2018-09-04 19:51] mbabadi commented on #1355
Chiming in my experience -- I have learned most of what I know about Pyro by working through the realistic examples (e.g. VAE, DMM, AIR, etc.); those are _great_, and that's perhaps the best way for newcomers to dive in. That being said, I had to go through http://pyro.ai/examples/tensor_shapes.html multiple times in order to understand the logic of enumeration, nested `iarange`, etc.

It would be

[2018-09-04 20:27] fritzo commented on #1358
I believe the issue is that somewhere we are computing the batch size through pure python, and dependency is being hidden from the JIT.

An easy workaround is to ensure each batch size is compiled separately. This can be done by passing in batch size as a kwarg (our jit wrapper assumes all args are tensors and all kwargs are non-tensors; each `kwargs` dict triggers a separate compilation.
[code]

[2018-09-08 00:09] ae-foster opened #1373 "Test OED code on CUDA"
As suggested by @eb8680, we ought to verify that `contrib.oed` and `contrib.glmm` examples and tests work correctly on GPU

[2018-09-08 00:11] martinjankowiak commented on #1373
i am shocked by @ae-foster's impudence but i guess i can do it....

[2018-09-08 05:46] fritzo commented on #915
Closing this task after lots of fun work. Let's move future improvements into more specific issues. @karalets thanks for suggesting this. 🎉

[2018-09-08 05:46] #915 closed

[2018-09-10 13:17] thematrixduo opened #1374 "Low count accuracy of AIR model"
Hi,

I have been experimenting with the Attend Infer Repeat model. I downloaded the code from examples and run the code with the args provided in the tutorial (http://pyro.ai/examples/air.html), which is:

python main.py -n 200000 -blr 0.1 --z-pres-prior 0.01 --scale-prior-sd 0.2 --predict-net 200 --bl-predict-net 200 --decoder-output-use-sigmoid --decoder-output-bias -2 --seed 287710

But the hig

[2018-09-10 18:37] null-a commented on #1374
The command line args in the tutorial are the ones I used, and it looks like you're using the same.

As well as answers to eb8680's questions, I'd be interested in hearing what other values for count accuracy you obtained, if that's possible. Thanks.

[2018-09-11 00:17] fritzo opened #1375 "Update to Pytorch 1.0"
Pyro currently works with PyTorch 0.4.0 (0.4.1 support was abandoned #1267).

## Tasks

- [x] #1431 Update code
- [x] Switch networkx dependency to 0.2.2 (see #1191)
- [ ] Finish release notes
- [ ] Cut a 0.2.2 release

[2018-09-11 00:19] #1267 closed, assigned to fritzo, neerajprad, jpchen

[2018-09-11 03:14] #1336 closed

[2018-09-11 03:16] neerajprad commented on #1336
Addressed in https://github.com/pytorch/pytorch/pull/11231. Corresponding Pyro code being removed in https://github.com/uber/pyro/pull/1377.

[2018-09-11 11:03] thematrixduo commented on #1374
@eb8680 @null-a
I let the inference run till the end (I believe it is specified by -n 200000). I am using the count accuracy function provided in 'main.py'. I just specified the args '--eval-every' to 1000. I have attached a plot of the count accuracy obtained.
![acc_plot](https://user-images.githubusercontent.com/8089252/45356239-a5806600-b5ba-11e8-9bb2-e2b819eaf611.jpg)

[2018-09-11 12:44] null-a commented on #1374
@thematrixduo How many times have you run inference? What other values for final count accuracy have you obtained? Setting the random seed doesn't make this deterministic, so some variance is expected. If you're seeing consistently poor results, I'll try running it myself and see if I can spot anything odd going on. Thanks.

[2018-09-11 16:09] thematrixduo commented on #1374
@null-a I have tried at least 5 times but for none of them did the count accuracy go above 80%. I have attached another plot.
![acc_plot_2](https://user-images.githubusercontent.com/8089252/45372635-6a475c80-b5e5-11e8-8d74-7c4a8d3b9cf6.jpg)

[2018-09-11 19:01] neerajprad opened #1379 "HMM tests crashing on CUDA"
Many of our HMM tests are crashing on CUDA. I think it could be a GPU memory issue, but it is hard to say because the process crashes with `Fatal Python error: Aborted` without any stack trace.

Example test that crashes:

[code]

cc. @fritzo

[2018-09-11 19:16] fritzo commented on #1379
PyTorch cuda tensors only support 25 dimensions IIRC, so we'll only be able to run HMMs with at most ~28 dims. Let's just `xfail if cuda` the params that require long chains.

[2018-09-11 19:20] fritzo opened #1380 "Work around torch.cuda.Tensor maximum dim limit"
Much of Pyro's enumeration code requires sparse tensor dimensions, i.e. only a few dimensions of size > 1 but those dimensions are sparsely distributed, e.g. `shape=(3,1,1,1,1,1,14,1,1,1,1,1,1,1,1)`. However torch CUDA tensors have a maximum dim limit (25?). This is preventing message-passing algorithms from running in CUDA on large factor graphs #1379 .

## Proposed solution

One approach would b

[2018-09-11 19:31] neerajprad commented on #1379
Sounds good; I'll skip these tests on CUDA for now.

[2018-09-11 19:55] neerajprad commented on #1379
Closing this - lets track the issue in #1380.

[2018-09-11 19:55] #1379 closed

[2018-09-11 21:08] neerajprad opened #1381 "EKFState.update() fails on GPU"
`tests/contrib/tracking/test_ekf.py::test_EKFState_with_NcpContinuous` fails on CUDA with

[code]

cc. @jpchen

[2018-09-12 15:10] null-a commented on #1374
@thematrixduo It looks like performance may have degraded after c99ea673. If you apply the following patch (to v0.2.1 say) and then re-try I think you will see performance similar to that reported in the tutorial.

[code]
If we confirm this fixes the problem, then I'll open a PR to apply the patch to dev. (BTW, I've not been using a fixed random seed when I run this locally, and I seem to achieve

[2018-09-12 17:47] fritzo commented on #1374
@null-a good catch!

[2018-09-12 23:14] hakantekgul opened #1386 "Pyro Installation Error on MacOS"
I am trying to install pyro through pip, so I run the following command,
pip install pyro-ppl
After this, I get the following error, What should I do?
 Downloading https://files.pythonhosted.org/packages/5a/5d/784a147b08d85b00479a4752e5e7341454c6fc1148fe648e98269ba36ded/pyro-ppl-0.2.1.tar.gz (108kB)
    100% |████████████████████████████████| 112kB 891kB/s
    Complete output from command python s

[2018-09-12 23:18] hakantekgul commented on #1386
I have downloaded pypandoc, but I still get the following error: Collecting pyro-ppl
  Using cached https://files.pythonhosted.org/packages/5a/5d/784a147b08d85b00479a4752e5e7341454c6fc1148fe648e98269ba36ded/pyro-ppl-0.2.1.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/private/tmp/pip-i

[2018-09-12 23:30] #1386 closed

[2018-09-13 14:05] thematrixduo commented on #1374
@null-a Thanks for the help!

[2018-09-13 22:01] fritzo commented on #1381
Was this fixed by #1385?

[2018-09-14 15:23] dimarkov opened #1389 "Problem with a definition of the HalfCauchy distribution"
### Issue Description
After making a fresh installation of pyro in python 3.7 using
`pip install pyro-ppl`
in an anaconda environment I suddenly receive an error when
defining a HalfCauchy distribution, e.g.
`pyro.distribution.HalfCauchy(torch.zeros(10), torch.ones(10))`

returns the following error
`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/media/markovic/d

[2018-09-14 15:39] fritzo commented on #1389
Don't use PyTorch 0.4.1 release, it's too buggy. Instead use PyTorch 0.4.0 or wait until the next release.

PyTorch 0.4.0 does not have a `HalfCauchy`, so Pyro provides its own.

[2018-09-14 15:39] #1389 closed

[2018-09-14 15:43] neerajprad commented on #1389
Just a heads up (as you already observed) - the `torch.distributions` implementation of HalfCauchy in master assumes that `loc` is fixed at `0`, whereas the Pyro implementation provides a `loc` parameter that can be used for translation. In the next release, we will be moving to use the torch implementation, so the `HalfCauchy` will not take in a `loc` parameter. You can still wrap it in a `Transf

[2018-09-14 18:02] #1374 closed

[2018-09-14 19:18] null-a commented on #1374
@thematrixduo No problem, thanks for opening the issue.

[2018-09-17 20:33] fritzo opened #1391 "Write tech report on enumeration"
See also #1355

## Coding tasks

- [x] #1405 Create a general `ubersum` interface
- [x] #1408 Relax diamond constraint as much as possible
- [x] #1417 Create simple reference implementation with clear semantics
- [x] #1417 Add `ubersum` tests for computing marginals

[2018-09-18 04:10] fritzo commented on #1337
@neerajprad is this issue basically finished in our pytorch-0.5.0 branch?

[2018-09-18 04:15] neerajprad commented on #1337
@neerajprad is this issue basically finished in our pytorch-0.5.0 branch?

That's right. This can be closed once our `pytorch-0.5.0` branch gets merged (or even, right now, since it is code complete).

[2018-09-18 04:18] #1337 closed

[2018-09-18 20:17] fritzo opened #1393 "Clean up _Subsample, _subsample"
PyTorch is much easier to use than it was when we first wrote `_Subsample` and friends. Let's
- [x] Replace `torch.randperm(...)[:...]` -> `torch.multinomial(replacement=False)`
- [x] Replace `use_cuda` kwarg -> `device`, which is more idiomatic and supports multi-gpu.
- [x] Replace `torch.LongTensor(list(range(...))).cuda()` -> `torch.arange(..., device=device)`
- [x] Replace `torch.zeros(1)` ->

[2018-09-18 20:35] JoshuaC3 commented on #1287
@fritzo any advances on this? kind regards :)

[2018-09-19 00:18] neerajprad commented on #1393
Should be addressed in #1392. I initially was targeting `dev`, but our `torch-0.4.0` is quite far behind when it comes to scalar support, and I was having to write work-arounds and removing them in our `pytorch-0.5.0` branch.

[2018-09-19 18:40] neerajprad commented on #1358
Fixed in #1392.

[2018-09-19 18:40] #1358 closed

[2018-09-19 23:58] #1393 closed

[2018-09-20 00:49] neerajprad opened #1397 "Master task - test clean up"
- [ ] Filter warnings when running doctest.
 - [ ] Change cuda tests to not use xdist - multiple threads run out of GPU memory; moreover the parallelization rarely improves the run time.
 - [ ] Investigate connection refused error in AIR tutorial.
 - [ ] Remove progress bar when using pytest - problematic with multiple threads.
 - [ ] Skip slow tests - investigate why HMC tests are running slower

[2018-09-20 16:26] fritzo commented on #1391
@martinjankowiak would  you be able to start a draft with rough paper structure? I think you can already write a substantial related work section.

[2018-09-20 22:18] samedii opened #1399 "Warning when adding priors that do not match anything [feature request]"
Would be a nice feature if you got an error (or at least were warned) when setting a prior that does not match anything through `pyro.random_module`.

        network_dist = pyro.random_module('network', network, prior={
            'linaer.weight': dist.Normal(...),
            ...
        })

[2018-09-22 00:56] gxwangupc opened #1404 "how to solve"ImportError: cannot import name logsumexp""
### Guidelines

**NOTE:** Issues are for bugs and feature requests only. If you have a question about using Pyro or general modeling questions, please post it on the [forum](https://forum.pyro.ai/).

If you would like to address any minor bugs in the documentation or source, please feel free to contribute a Pull Request without creating an issue first.

Please tag the issue appropriately in the ti

[2018-09-22 01:01] #1404 closed

[2018-09-24 16:29] fritzo opened #1406 "Misc cleanup for 0.3 release"
- [x] replace `.new_tensor()` with `.detach().clone()` where possible
- [x] replace `.independent()` with `.any_less_confusing_name()` (@jpchen)
- [x] replace `.empty(...).fill_(value)` with `torch.full(shape, value)` or `torch.full_like(x, value)`
- [x] replace `len(tensor.shape)` with `tensor.dim()`
- [x] use `plate(subsample=)` in examples to get correctly scaled ELBO loss (see #1437)
- [x] ren

[2018-09-25 00:15] neerajprad commented on #1373
Just a heads up that the following tests are failing already with PyTorch master with/without CUDA (it seems like there is a difference of 1 between the actual and expected values, so it's worth looking into this in case there is some bug upstream in PyTorch that we can fix before release):

 - `test_eig_lm[model10-design10-y-w1-donsker_varadhan_eig-args10-True-0.3]`
 - `test_eig_lm[model5-design5

[2018-09-25 10:24] udion opened #1409 "incorrect log_prob dimension"
Inspired by the pyro tutorial on Bayesian regression: http://pyro.ai/examples/bayesian_regression.html

I wanted to try something on more complex data. I had this problem in mind
[code]
I am using the following function to generate dataset (and this seems to be working fine)

[code]

To do the regression I am using the following model (don't mind the conv1d, I want to use conv1d for exerimentation

[2018-09-25 17:12] neerajprad commented on #1409
Are you trying to login via Github? Feel free to create another issue regarding the discourse login issue you are facing, specifying how you are trying to login. Some other users have been facing login issues with Github, specifically.

In Pyro, any additional batch dimensions (extra dims in `log_prob`) in a sample site must be specified either within an enclosing iarange context, or be marked as

[2018-09-26 12:44] udion commented on #1409
@neerajprad @jpchen

if it helps, here is a link to a notebook  https://github.com/udion/DeepUncer/blob/master/bayes_net1.ipynb

[2018-09-26 13:11] udion commented on #1409
@neerajprad

The linear layer has weight(5X10) and bias(5) so that is what I have passed as prior, sampling seems to be going fine, because prediction_mean is of right shape (as can be seen in output of last cell)

[2018-09-26 18:10] neerajprad commented on #1409
Sampling will be unaffected whether you have a sample site with batch dims designated as `independent` (or inside an iarange). What changes is the `log_prob` shape, and how these are broadcasted internally to support various use cases.

There are a few things happening there, so here is the updated set of changes that you will need to make:

Model side changes:
[code]
You also don't need to `.sque

[2018-09-26 19:19] neerajprad opened #1414 "test_contract failing on PyTorch master"
Some of our einsum tests (`test_ubersum_sizes`) are failing on PyTorch master:

e.g.

[code]

throws an exception,

[code]

The issue seems to be that PyTorch release does implicit broadcasting of operands whereas the new einsum does not. e.g.

**PyTorch Release**

[code]

**PyTorch Master:**

[code]
[code]

cc. @fritzo

[2018-09-26 20:10] neerajprad opened #1415 "Dropout warning in DMM"
The DMM example throws the following warning:
[code]

@martinjankowiak - It appears that `num_layers` is not configurable and set to 1. Maybe we should increase it, or remove the dropout option?

[2018-09-26 20:57] neerajprad commented on #1415
In that case, I'll just leave it for now. We can remove the `dropout` option if the warning seems confusing to users, or add a comment that it is only for illustration purposes.

[2018-09-27 00:27] neerajprad opened #1418 "Test failures using PyTorch master"
While most test failures on `pytorch-0.5.0` are resolved, the following tests are still failing with the latest master branch. Some of these are recent failures.

CPU Tests:
 - [x] #1417 tests/ops/test_contract.py::test_ubersum_sizes (#1414)
 - [x] #1590 test_svi_irregular_batch_size[JitTraceEnum_ELBO]
 - [x] many HMC/NUTS tests with step size adaptation (#1487) wontfix - this is an upstream pytor

[2018-09-27 01:04] neerajprad opened #1419 "JitTraceEnum_ELBO tests in test_jit are failing with CUDA"
These tests are failing with CUDA, and giving a cryptic error about `TensorIterator expected type CUDADoubleType but got CPUDoubleType[2] (check_type_conversions at /home/npradhan/workspace/pyro_dev/pytorch/aten/src/ATen/native/TensorIterator.cpp:426)`.  This seems to get triggered in `Dice.compute_expectation`.

@eb8680 also observed the same error for the VAE example, but it was getting triggere

[2018-09-27 07:40] udion commented on #1409
@neerajprad
Thank you so much for your efforts!

I wanted to extend it a little more myself, so I am putting priors on convolution weights and bias too. I am not sure if I understand what is actually happening. So I changed model a little:
https://github.com/udion/DeepUncer/blob/master/bayes_net1.ipynb

This is a very noob way to look at things...
but after printing `batch_shapes` and `event_shape

[2018-09-27 07:49] fritzo commented on #1409
@udion that is correct: all `.batch_shape`s in your random module's prior should have the same batch shape, and in your case that batch shape should be empty.

[2018-09-27 08:08] udion commented on #1409
@fritzo excuse me for the basic questions,

is it obvious that in my case `.batch_shape` should be `[]`?

How to decide what my `.batch_shape` look like?

Thanks

[2018-09-27 08:28] fritzo commented on #1409
In Pyro `.batch_shape` is used specifically for handling of independent events via [iarange](http://docs.pyro.ai/en/0.2.1-release/primitives.html#pyro.iarange). When you read a pyro model, you should be able to determine the `.batch_shape` of any sample statement simply by looking at what `iarange` contexts enclose that sample statement: each context allows one dimension to be batched. In your cas

[2018-09-27 09:23] #1409 closed, assigned to nobody

[2018-09-28 18:19] #1414 closed

[2018-09-28 19:43] neerajprad opened #1421 "Significant slowdown in HMC on PyTorch master"
Some of the HMC tests in `pytorch-0.5.0` are taking much longer (~1.8-2 X) longer, e.g. `test_gamma_normal_with_dual_averaging`. The cprofile results show that most of the slowdown is in the distribution's `log_prob` methods.

[2018-09-30 20:04] neerajprad opened #1425 "test_mixture_of_diag_normals gives wrong loss on linux"
The following tests fail on linux, because the `hand_loss` (~85) is very different from the `auto_loss` (~20). I am only observing this issue with PyTorch master on linux, and not Mac OSX.

[code]

[2018-09-30 20:04] neerajprad commented on #1425
cc. @martinjankowiak

[2018-09-30 21:26] ColCarroll opened #1426 "MCMC results fail to pickle"
### Issue Description
The results of `MCMC` inference fail to pickle.

### Environment
For any bugs, please provide the following:
 - I am on ubuntu, python 3.6.6
 - `torch==0.4.1`
 - `pyro-ppl==0.2.1`

### Code Snippet
I have mostly copied the eight schools example from the pyro examples. Running the [code available here](https://gist.github.com/ColCarroll/ebbe5f59299b97dd447b5472cc0d8672), and t

[2018-09-30 22:33] neerajprad commented on #1426
One problem with directly pickling the `MCMC` or `TracePosterior` (parent) classes is that they contain reference to `sample` methods for generating traces. I think the correct level at which we should pickle is the `EmpiricalMarginal` class, which is simply of holder of samples, and should be straightforward to pickle.

e.g.
[code]

Would this work? One issue is that it will only contain the late

[2018-10-01 00:11] ColCarroll commented on #1426
Thank you for the suggestion! My goal is to test pyro compatibility in arviz, and the api currently accepts the `MCMC` object directly, then uses `EmpiricalMarginal` internally to extract the data. In fact,
[code]
is a good way of storing the data, doing pretty much what you said, we just need to figure out how to unit test that!

With pymc3/pystan/emcee, the test suite will train a model and then

[2018-10-01 00:13] ColCarroll commented on #1426
Well, this works at least for now:

[code]

[2018-10-01 00:13] #1426 closed

[2018-10-01 03:32] neerajprad opened #1427 "Flakiness in test_paths in CI"
It seems like some of the parametrized tests are failing. @fritzo: Is this expected? If the flop counts are not deterministic, should we test within a broader margin?

Failing CI build - https://travis-ci.org/uber/pyro/jobs/435351412.

[code]

[2018-10-01 03:55] neerajprad commented on #1427
I am able to see this locally for at least one of the cases - `bd,db,eac->ace`, when I run it a few times.

[code]

[2018-10-01 04:29] fritzo commented on #1427
Confirmed I can reproduce the difference in Python 3
[code]

[2018-10-01 04:49] fritzo commented on #1427
Confirmed that it is the `opt_einsum` flop counting that is nondeterministic. We're producing identical paths but getting different costs:
[code]

[2018-10-01 06:48] neerajprad commented on #1427
Thanks for creating the issue, @fritzo. Let us track this externally in https://github.com/dgasmith/opt_einsum/issues/62 itself.

[2018-10-01 06:48] #1427 closed

[2018-10-01 19:28] neerajprad commented on #1425
This is related to https://github.com/pytorch/pytorch/issues/12230.

[2018-10-01 20:45] fritzo commented on #1425
We're only using `torch.masked_fill_()` in three places in Pyro. I think it's reasonable to work around this via a helper
[code]

[2018-10-02 03:17] fritzo commented on #1427
My mistake, this was due to nondeterminism in a test data generator. I'll add the fix to #1430
[code]

[2018-10-02 03:36] neerajprad commented on #1425
Since we only require the destination tensor to be contiguous, there was only a single place in the code where we needed to make a change (in `pytorch-0.5.0`). Closing this issue, we can directly track the upstream issue instead.

[2018-10-02 03:36] #1425 closed

[2018-10-05 05:10] pjgaudre commented on #1287
@fritzo, I'm excited to use his model for my use case as well. Please keep me updated.

[2018-10-05 15:51] #1399 closed

[2018-10-07 02:09] robsalomone commented on #1257
Hi @fritzo,

The guide will be a mixture of deltas, however the gradient is not ELBO-based and relies on the computation of Stein Kernels. These kernels, and the resulting gradient of the Kernelized Stein Discrepency which gives the GD direction are reasonably straightforward to compute provided one has access to the score function (grad log joint) over latents.

I could give this a go myself, but

[2018-10-07 19:02] pdcoded opened #1434 "Use pyro for continuous distribution like speech recognition"
Wonder if I can use pyro for cont. distribution like speech. Planning to use it for low resource speech recognition where phonemes are the states. Something like a DNN-HMM model. Any starting point ?

[2018-10-07 20:12] eb8680 commented on #1434
Hi, would you mind posting this question on the [Pyro forum](https://forum.pyro.ai/) instead so that it's easier for others with similar questions to discover?  We prefer to use issues for bugs and Pyro development discussion.

You might find [this forum thread](https://forum.pyro.ai/t/switching-dmm-in-pyro/423/2) about switching deep Markov models relevant to your question.

[2018-10-07 20:45] eb8680 commented on #1257
@robsalomone thanks for your input.  Here's one way to get a log-joint function that takes a dictionary `vars` mapping sample site names to sample values as inputs along with the usual inputs to the corresponding model and returns a torch scalar containing the log-joint probability that can be differentiated with `torch.autograd.grad` or `backward`:
[code]

We completely agree with the broader poi

[2018-10-08 12:58] ahmadsalim opened #1435 "[bug] `--jit` option fails for HMM example"
### Issue Description
Using the `--jit` option for the `examples/hmm.py` example fails with the following error:

[code]

I believe this is because the command line arguments `args` are passed as a parameter of type Namespace, which is not supported by the JIT.

### Environment
 - OS and python version: Windows 10, Python 3.6
 - PyTorch version: 0.4.0
 - Pyro version: 0.2.1

### Code Snippet
Simpl

[2018-10-08 18:11] jpchen commented on #1435
there is no jit support implemented in 0.2.1 and pytorch 0.4.0. see instructions to install the pre-release versions [here](https://github.com/uber/pyro/pull/1436). note that the pytorch jit is not yet stable and ongoing active development so things may change/break up to the release.

[2018-10-08 18:11] eb8680 commented on #1435
Hi, please try using the dev branch of Pyro and PyTorch 1.0-rc

[2018-10-08 18:12] ahmadsalim commented on #1435
@jpchen I am using the dev branch, sorry for being unclear.

@eb8680 Will try, thanks for the suggestion!

[2018-10-08 18:17] neerajprad commented on #1435
Thanks for the bug report, and you are right that `args` is the problematic bit when we try to JIT the `svi.step` call.

[2018-10-08 18:19] neerajprad commented on #1435
@jpchen - Reopening this, as this is an issue with the `pytorch-1.0` for the reason that @ahmadsalim mentioned.

[2018-10-08 18:32] mbabadi opened #1437 "[feature request] manual mini-batching and batch dimension scaling"
In models with mixed levels of nesting (e.g. global_plate > local_plate_1 > local_plate_2 > ...), mibi-batching across different batch dimensions requires introducing proper scale factors for each batch dimension. Pyro handles these scale factors automatically if mini-batching is achieved via `pyro.iarange(..., size=..., subsample_size=...`) or `pyro.iarange(..., size=..., subsample=...)`. The lat

[2018-10-08 22:35] #1434 closed

[2018-10-12 08:07] eb8680 commented on #1437
Good points.  Most of our examples don't do nested subsampling, but maybe we could add a manually-batched version of our LDA example or something similar?

[2018-10-12 22:35] fehiepsi commented on #1137
@LoganWalls @neerajprad Is there any new effort on this? If not, then I will try to implement this feature next week. :)

[2018-10-12 22:42] neerajprad commented on #1137
@fehiepsi - That sounds great! Please feel free to start work on this, and let me know if you need help with any kind of refactoring to support this. I am working on parallel chains, but that shouldn't conflict with this.

[2018-10-13 13:32] robsalomone commented on #1257
Thanks for that @eb8680 !  I might try to do up a module for computing Stein kernel things down the line. I am interested in research in this direction so it would be great to do these things in Pyro.

[2018-10-13 17:11] LoganWalls commented on #1137
@fehiepsi @neerajprad  - Apologies that there hasn't been much movement here. I haven't had much time for personal projects lately. I'm happy to add you both as collaborators on my repository if you'd like to use any of the work that's been done there already.

[2018-10-15 06:34] snake3342 opened #1444 "how to CUDA-lise the SVI inference steps？"
we wanna accelerate the inference with GPU, however the examples only contains general cpu codes

[2018-10-15 07:14] eb8680 commented on #1444
Hi, accelerating Pyro code with CUDA is done the same way you'd accelerate any other PyTorch code: simply make sure all tensors and neural network `Module`s are [converted to CUDA types](https://pytorch.org/docs/stable/tensors.html#torch.Tensor.to).

See the [VAE example script](https://github.com/uber/pyro/blob/dev/examples/vae/vae.py) for a simple Pyro-specific example of this process.

[2018-10-15 16:45] fritzo commented on #1435
I think we just need to pass the `args` object as a kwarg rather than a positional arg:
[code]
I'll send a PR shortly.

[2018-10-15 17:57] neerajprad commented on #1435
@ahmadsalim: This should work on the pytorch-1.0 branch now.

[2018-10-15 17:57] #1435 closed

[2018-10-15 17:59] fritzo commented on #1435
I'm still seeing an error after #1455, but it's a different error:
[code]
It is unclear whether that's due to a bug in PyTorch or Pyro.

[2018-10-16 11:32] fehiepsi commented on #1137
Closed via #1442.

[2018-10-16 11:32] #1137 closed

[2018-10-16 15:02] fritzo commented on #1437
@mbabadi agreed we could improve docs about subsampling. I'm inclined to recommend users use `pyro.iarange(..., subsample=...)` when any minibatching is done, as that clarifies the intention of the code. Do you know of any cases where minibatching cannot be done through `pyro.iarange(..., subsample=...)`?

[2018-10-16 16:11] neerajprad commented on #1437
I think one use case is when we need to feed from a large dataset (i.e. calling data.cuda() at once will take a lot of GPU memory) for which the torch data loaders work great since they will spin up a thread of workers that will keep pulling off batches of data and transferring it to the GPU incrementally. We are using data loaders in our examples, but many of our datasets are probably small enoug

[2018-10-16 16:13] fritzo commented on #1437
@neerajprad The use case you suggest cannot be accomplished via `iarange(..., subsample_size=...)`, but it can be accomplished via `iarange(..., subsample=...)` (that is the motivating use case behind the `subsample` kwarg).

[2018-10-16 16:18] neerajprad commented on #1437
Ahh, my bad. In that case, we should probably just change our examples to use `subsample=`, which will do the correct scaling.

[2018-10-16 21:04] fritzo opened #1451 "[FR] Add tutorial on implementing new effects"
Users at PROBPROG 2018 requested a tutorial on high-level Pyro architecture including advanced features like poutines.  This issue proposes adding a tutorial on implementing a new effect handler.

Whereas #1553 should aim to explain Pyro's architecture in a simplified way, this tutorial should prepare developers to make changes to Pyro.

[2018-10-16 21:07] fritzo opened #1452 "[FR] Add tutorial on automatic guides"
Users at PROBPROG 2018 noted that it can be tedious to write guides. A tutorial on autoguides might help this.

[2018-10-16 21:12] fritzo opened #1453 "[FR] Error messages should be more specific"
Users at PROBPROG 2018 requested more-specific error messages when models are invalid.

Specific improvements include:
- [ ] Print sample site information when `Distribution` inputs are invalid. Currently it requires a debugger to see what line of the model is affected.
- [ ] On error, print contextual information: the current `cond_indep_stack`, the portion of stack trace under `svi.step()`, whet

[2018-10-16 21:22] fritzo opened #1454 "[FR] Make it easier to add an ad hoc log prob term?"
Current solutions to adding a custom log prob term include (1) subclassing `ELBO` #1059 #958, and (2) using a bogus statement
[code]
By contrast STAN  makes it easy to add custom loss terms.

Should we add a helper that adds a custom loss term, effectively adding a non-normalized log-prob via a hidden observe statement?

[2018-10-16 21:30] fritzo opened #1455 "[FR] Default to max_plate_nesting="auto""
@mbabadi requested an easier-to-use interface for `TraceEnum_ELBO`, where `max_plate_nesting` could be inferred automatically.

One possible solution would be to set the default to "auto" rather than `float('inf')`, and use `EscapeMessenger` to optimistically start at zero and then on encountering a `plate` exceeding headroom: break, increment, and retry. This should work for most models and will

[2018-10-16 21:35] eb8680 commented on #1454
Other PPLs have a built-in `factor` helper.  See https://github.com/uber/pyro/blob/dev/examples/rsa/search_inference.py#L33

[2018-10-16 21:43] jpchen commented on #1452
ive pointed two users to the gmm tutorial for an autoguide example. what example models would be helpful? maybe a hierarchical logistic regression like stan's advi has?

[2018-10-16 21:50] fritzo commented on #628
The motivating problems appear solved now that `Trace_ELBO` and `TraceEnum_ELBO` have `.differentiable_loss()` methods. Closing this issue for now; we can re-open if other motivating problems arise.

[2018-10-16 21:50] #628 closed

[2018-10-16 22:47] neerajprad opened #1456 "Make dynamic distribution mixin wrappers in torch.py picklable"
We load torch distributions and create distribution mixin classes dynamically in `torch.py`. These distribution instances are not picklable however.

[code]
We may need to provide more help to `pickle` to be able pickle / unpickle these instances. Note that this is not currently an issue with most distribution classes since they have a small wrapper in Pyro (containing `.expand` method), but will

[2018-10-16 23:38] panaali commented on #1287
So excited to see this!

[2018-10-17 00:12] karalets commented on #1452
I think I have asked Eli this before. Could one build automatic sub-guides?
I. E. Each time a name is instantiated?
Currently MVN guides will put everything together, which is oftentimes too
much.

On Tue, Oct 16, 2018 at 2:43 PM JP <notifications@github.com> wrote:

[2018-10-17 02:45] neerajprad opened #1458 "Value sampled is not in distribution's support for baseball example"
The `partially_pooled` model in `baseball.py` seems to sporadically fail with the exception that the value argument is not within the support for the Pareto distribution. cc. @fehiepsi

Taking a look at this, but I am temporarily removing this from `test_examples.py` to unblock the build.

[code]

[2018-10-17 05:12] fritzo commented on #1456
I'd guess we can simply set `type(...).__name__` to e.g. `Pareto` and set that as a module level variable in the `pyro.distributions.torch` module.

[2018-10-17 05:55] neerajprad commented on #1456
@fritzo - This is only an issue if we have distribution classes in PyTorch that we would like to dynamically import.

If `Pareto` is available as a module level variable in `pyro.distributions.torch`, then pickle wouldn't have an issue. Declaring all distribution classes in the `torch` module upfront  is definitely one solution (and maybe better than being too clever). But I might have misundersto

[2018-10-17 13:49] fehiepsi commented on #1458
@neerajprad Which args did you use? I don't get any problem with `partially_pooled` so far but have faced some problems with `partially_pooled_with_logit`. These problems seem not related to recent pull requests though.

With seed=0, num-samples=200, warmup-steps=200, I observed that `partially_pooled_with_logit` model throws error at setup (specifically `validate_trace`). When `scale` is initiali

[2018-10-17 17:36] neerajprad commented on #1458
Yeah, we should probably resample the initial trace (a few times) in that case, except that we need to be careful because the model itself might be ill-specified in which case throwing an error would make sense.

I am seeing this problem using pytorch==0.4 on python 3.6. I will confirm shortly if this is still an issue with PyTorch master.

[2018-10-17 18:09] mbabadi commented on #1437
@fritzo @neerajprad I also can not imagine what can _not_ be accomplished by `iarange(..., subsample=...)`! A callable subsampler can take care of both incremental data loading and optionally sending the minibatch to CUDA. That would be great if you could simply encourage the usage of this motif in the examples.

[2018-10-17 18:09] fritzo opened #1460 "Fix TraceEnum_ELBO.compute_marginals(), .sample_posterior()"
Currently `TraceEnum_ELBO.compute_marginals()`, and `.sample_posterior()` incorrectly handle `iarange`s. The issue is in `contract_to_tensor`, where information is not correctly passed across local variables that are coupled by a global variable. The error can be detected in discrepancy between `naive_ubersum()` and `ubersum()`.

**Currently working:** when enumerated variables are either all loca

[2018-10-17 20:11] martinjankowiak opened #1461 "Call for User-Contributed Examples and Tutorials!"
## Goal

Add creative examples of Pyro code developed by users out in the real world to our catalog of examples and tutorials. This is great for the community as a whole and helps the Pyro dev team focus on features that are useful to you and the broader community.

## Context

The Pyro dev team met a bunch of Pyro users at [ProbProg 2018](https://probprog.cc/) and heard about a variety of interes

[2018-10-17 20:40] fritzo commented on #1452
@karalets Yes you can build automatic sub-guides using [AutoGuideList](http://docs.pyro.ai/en/0.2.1-release/contrib.autoguide.html#autoguidelist). Let me know if you can share a motivating example that I can showcase in our tutorial.

[2018-10-17 20:43] martinjankowiak commented on #1461
Some people we'd love to hear from include (no pressure though!):
@mbabadi @chart90 @robertness @desmond-ong @wsgharvey @justinchiu

[2018-10-17 20:43] fritzo commented on #1454
@eb8680 great! What do you think about moving `factor` into pyro.primitives, adding docs, and using it in a couple examples (e.g. SS-VAE)?

[2018-10-17 20:44] karalets commented on #1452
My bad, let me study it and get back to you!

On Wed, Oct 17, 2018 at 1:42 PM Fritz Obermeyer <notifications@github.com>
wrote:

[2018-10-17 20:45] karalets commented on #1452
Ah, that seems to be the thing I discussed with Eli back then. Glad to see
it is a feature in the meantime that I shamefully missed.

On Wed, Oct 17, 2018 at 1:44 PM Theofanis Karaletsos <
theofanis.karaletsos@googlemail.com> wrote:

[2018-10-17 20:51] eb8680 commented on #1454
We should write a custom `FactorDistribution` with the correct shape semantics and use that to implement `factor`.  I actually don't think it's a good idiom, and should be discouraged unless really necessary, but maybe we could add a separate factor graph example?

[2018-10-17 21:59] neerajprad commented on #1458
Oh good catch! We would need to multiply by the inverse of the mass matrix, I guess.

I am trying to debug why we are getting non deterministic output when we run HMC / NUTS with a fixed seed. I think that needs to be fixed first, even before we go on to debug why the model fails on certain initializations.

[2018-10-17 22:06] fritzo opened #1465 "Combine irange + iarange + broadcast into pyro.plate"
New users of Pyro have often found it difficult to inderstand the interplay between `iarange`, `irange`, and `@broadcast`. This issue proposes to merge these three concepts into a single `plate`.

Historically @fritzo split `map_data` into `irange`+`iarange`, @neerajprad added `@broadcast`. Now that our usage patterns have converged, @eb8680 suggested making `iarange` and `irange` into messengers,

[2018-10-17 22:09] fritzo commented on #1465
@jwvdm I hope this interface is more intuitive!

[2018-10-17 22:36] fritzo commented on #1465
@ndgAtUber Are you ok with this renaming? We will maintain full backwards-compatibility.

[2018-10-18 00:33] #1456 closed

[2018-10-18 01:51] fritzo commented on #1454
Agreed, I'm not convinced it is a good idiom.

[2018-10-18 16:53] fritzo commented on #1465
@ngoodman Take a look at [test_valid_models.py](https://github.com/uber/pyro/pull/1464/files#diff-211fc603767d804175eb32c029d21b8b).

[2018-10-18 18:04] jwvdm commented on #1465
@fritzo: I really like the name `plate` which is very intuitive, and the examples in [test_valid_models.py](https://github.com/uber/pyro/pull/1464/files#diff-211fc603767d804175eb32c029d21b8b) look really clear!

When @esennesh and I went through your [Tensor Shape Tutorial](http://pyro.ai/examples/tensor_shapes.html), the thing that was arguably the hardest to grok is the `Distribution.independent

[2018-10-18 18:10] fritzo commented on #1465
@jwvdm Thanks for the feedback and pointer to Inver.NET `ForEach`! Your shapes are correct. I agree `.independent()` is confusing; we were following Tensorflow's `Independent` distribution but @jpchen is planning to rename it to something more intuitive #1406 before our next release. Suggestions welcome!

[2018-10-18 21:01] neerajprad commented on #1458
The reason for the non-determinism is `torch.dot` in `self._kinetic_energy`, which can give results that are slightly off on different runs. See snippet below - while `expected` and `torch.dot` might differ, it should differ consistently, which is not the case below. This is fixed on master, but for the time being I will revert to using the element wise product + sum operation to remove any non-de

[2018-10-18 22:35] FedericoV opened #1470 "Significantly different answers for PyMC3 NUTS vs Pyro NUTS"
### Guidelines

**NOTE:** Issues are for bugs and feature requests only. If you have a question about using Pyro or general modeling questions, please post it on the [forum](https://forum.pyro.ai/).

If you would like to address any minor bugs in the documentation or source, please feel free to contribute a Pull Request without creating an issue first.

Please tag the issue appropriately in the ti

[2018-10-18 22:44] fehiepsi commented on #1470
@FedericoV Recently, we are improving NUTS sampling with mass matrix adaptation, better terminate condition, and multinomial sampling. We hope that these improvements will available in `dev` branch in a week. Could you please test your model after that?

[2018-10-18 22:51] FedericoV commented on #1470
Will be happy too.  In the meanwhile, in case it helps, these are the means and standard deviations for pyro/pymc3:

[code]

[2018-10-18 23:10] neerajprad commented on #1470
@FedericoV - what is the acceptance rate that you are seeing for this model? It seems to me that you might not have generated enough number of uncorrelated samples due to a low acceptance rate. I would also suggest using `PyTorch 0.4.0`, because `0.4.1` has a number of distribution related bugs, and running this using pyro dev in a week's time as @fehiepsi suggested.

[2018-10-19 03:09] neerajprad commented on #1470
This is part of the diagnostics reported in the progress bar now. But since you are not using Pyro `dev`, you should be able to enable logging via:

[code]

Let me know if that doesn't work.

[2018-10-19 16:59] martinjankowiak opened #1475 "Improvements for Tensor Shape Tutorial"
Various todos:

- [ ] Be more explicit about _conditional_ independence where appropriate
- [ ] others?

[2018-10-19 17:19] FedericoV commented on #1470
I believe your intuition about low acceptance rate was correct.  For most of the sampling, it's below 1%.  After downgrading pytorch to 0.4 and re-running the examples, I get this:
[code]

I also tried drawing a bunch of samples from the prior, to see if perhaps I had issues with a grossly misspecified prior - but the prior actually looks quite good.

[2018-10-19 17:28] fritzo commented on #1458
Is this the cause of our docs stage sporadically failing on CI ([example](https://travis-ci.org/uber/pyro/jobs/443805194))?

[2018-10-19 17:35] jpchen commented on #1475
probably should do this after all the renaming/new semantics is complete eg #1406

[2018-10-19 17:37] neerajprad commented on #1458
The non determinism in HMC should be fixed now. This sounds like a different issue. cc. @fehiepsi ^^. Maybe we should just fix the rng seed in that doctest. I'll do that shortly.

[2018-10-19 17:45] eb8680 commented on #1475
Maybe we should consider adding some logging functionality that automatically generates model shape visualizations like the ones in the tutorial?

[2018-10-19 17:47] jpchen commented on #1465
you're not the first person to make this comment. i agree the original semantics would be more intuitive if `independent` specified the independent dimensions [instead of the _dependent_ ones](https://github.com/uber/pyro/pull/1423). but since it was originally written that way it would be breaking to change the semantics as such, so we're probably going to just rename `independent` to be clear wh

[2018-10-19 17:53] fehiepsi commented on #1458
I think it is rng seed problem too.

[2018-10-19 17:53] neerajprad commented on #1470
Great, so this should make for a good test case now! Do you mind posting your data (or, better still, the data generating function), so that we can test if this example runs better with some of our recent changes.

[2018-10-19 18:00] FedericoV commented on #1470
Unfortunately, I cannot share that particular dataset - I'm really sorry.

I can try to see if I can find another (public) dataset where I notice the
issue - and I'm happy to test it privately on the new branch, even if it's
a pre-alpha branch.

On Fri, Oct 19, 2018 at 10:57 AM Neeraj Pradhan <notifications@github.com>
wrote:

[2018-10-19 18:04] neerajprad commented on #1470
Np, it will be really helpful if you could isolate the issue and post a minimal model/dataset which yields unsatisfactory results. You could also try to use Pyro `dev` right now and let us know if you continue to see this issue.

[2018-10-19 18:09] neerajprad commented on #1458
I am keeping this issue open because while the non-determinism is fixed, the original failure of the model on certain initializations persists - i.e. getting invalid values that don't lie in the support of the Pareto distribution.

[2018-10-19 18:16] FedericoV commented on #1470
Thanks for the help!  I just checked out the dev branch, the acceptance rate seems to be much much higher:

1% 61/6000 [00:21<56:14, 1.76it/s, Step size=0.000115, Acceptance rate=0.871]

The sampling is orders of magnitude slower than the previous version, and significantly slower than pymc3.  Since the data is not that big (X is roughly 10, 1200) and Y is (1, 1200) - would I get any kind of lift

[2018-10-19 18:28] fehiepsi commented on #1470
@FedericoV It is slow because the step_size is so small. Maybe you can try turning off `adapt_step_size` flag and setting step_size to a suitable value.

[2018-10-19 18:40] FedericoV commented on #1470
Setting the full_mass=True significantly sped things up, and I'm now experimenting with setting a step size that still has an acceptable 'accept_ratio'.  Thanks so much for the help everyone!  I'll post a comparison of the results from pyro and pymc3 as soon as the runs are finished.

In terms of performance advice: other than re-parameterization, would having multiple cores or a gpu give a bigger

[2018-10-19 18:40] fehiepsi commented on #1458
@neerajprad did you face this problem at the warmup phase? I tried different seed and num_samples, and got an different error when sample `r_dist`: "The parameter scale has invalid values". `step_size` is so small at that time (`1e-34`???)

[2018-10-19 18:58] neerajprad commented on #1458
Let me try to isolate the seed that triggers this on my system - it is easy to see this with parallel chains.

Any ideas why the step size is going so low - maybe we should have some reasonable limit on the lowest allowable step size, or at least throw a warning if it goes too low during the adaptation phase?

[2018-10-19 18:59] fehiepsi commented on #1470
@FedericoV When #1443 is merged, multiple cores would be very helpful. About cpu vs gpu, I am not so sure, could you test it with your data pls?

[2018-10-19 19:01] fehiepsi commented on #1458
Ah, the reason is at `inf` for initial energy. :D This should be solved when we revise `setup` method to create new trace when initial trace is invalid.

[2018-10-19 19:45] neerajprad commented on #1458
Good to know! Yeah, we should definitely fix this. Another thing that I was thinking was that in many of these cases (not the inf ones though), it might actually be faster to have a lower acceptance probability with a larger step size, rather than making the step size smaller and smaller to get to the 0.8 target acceptance probability. At the very least, we should offer this knob to the users.

[2018-10-19 20:08] ngoodman commented on #1465
i really like the move toward simplifying the interface!

i don't love the current idiom (though it's better than iarrange, etc). the nice thing about mapData and ForEach is that they feel very intuitive because they are explicit about what variable they bind.

for example in the simplest case:
[code]
it feels like the `with` should be putting a `datum` into scope, which can then be used in the ex

[2018-10-19 22:59] fehiepsi commented on #1458
Yes, I think we somehow should let users change hidden parameters. About small step_size, from what I learned from Stan reference and [pymc3 notebook](https://docs.pymc.io/notebooks/Diagnosing_biased_Inference_with_Divergences.html): smaller step_size the better. They even encourage increasing acceptance probability to a value ~1. When adapting, I think that with small step_size, we will get bette

[2018-10-19 23:05] neerajprad commented on #1458
Yeah, that's a good observation! I think I was only seeing these issues without mass matrix adaptation, but you are right that the mass matrix will likely help alleviate many of these issues by adapting the step size per parameter, so we will probably not have to run many steps before getting a u turn.

[2018-10-19 23:54] #1455 closed

[2018-10-20 21:59] eb8680 commented on #1465
This behavior is still preserved, and you can still iterate over a `plate` sequentially just as with `irange`: `for i in pyro.plate(...):`; we've effectively just given `iarange` and `irange` the same name.  The bigger change proposed in this issue (and added in #1307) is `broadcast`-by-default.

[2018-10-20 22:09] eb8680 opened #1479 "Updating intro tutorials"
The language intro tutorials are somewhat out of step with the way Pyro tends to be used, causing some confusion for users.  In particular, we should probably just remove all mentions in Part 2 of importance sampling, marginal distributions, and execution traces.

[2018-10-21 01:33] jpchen opened #1480 "Update Bayesian Regression tutorial"
A few possible revisions for 0.3 :
- [x] replace BR example
- [x] rewrite current bayesian reg to use autoguides
- [x] convert #1282 to manual guides and into a tutorial

[2018-10-21 01:38] eb8680 commented on #1480
Suggested in #1282: One possibility is to replace the autoguides in #1282 with manual ones and make that the main Bayesian regression tutorial, then turn the current Bayesian regression tutorial into a rehash of that one that demonstrates the use of autoguides and `random_module`/`lift`.

[2018-10-21 01:43] jpchen commented on #1480
will discuss this offline next week before implementing. was also thinking of separating the HMC part out of #1282 and creating a separate HMC tutorial (with the same data) and including the visualized comparisons with SVI.

[2018-10-21 07:50] kiran-kate opened #1481 "Bug in vectorized sample in DMM"
I am trying to use the guide from the DMM example to generate latent representation for a data point. The latent representation is then used for some downstream tasks. We observed that the performance of those tasks varied a lot when the latent was generated one sample a time vs a batch of size greater than one.

To demonstrate this, I used the original DMM example with the polyphonic dataset and

[2018-10-21 16:09] martinjankowiak commented on #1481
i have no idea what might be happening in your downstream task but as far as i can tell your 'distance experiment' doesn't actually mean anything. consider the following code snippet:

[code]

can you please confirm if you tried your downstream task using pytorch 0.4.0 (and not 0.4.1)?

[2018-10-22 04:44] neerajprad opened #1482 "Use conditional independence information when computing mass matrix in HMC"
#1442 added mass matrix adaptation for HMC, in which we compute the covariance across all the latent variables in the model. Since #1128, we can use `iarange` (`plate`) to denote conditional independence, and we should be able to use this information when provided, to reduce the computation and variance in estimating the mass matrix (i.e. by having only one mass element for the whole batch). This

[2018-10-22 15:37] fritzo commented on #1452
We have two types of autoguides:
1. Boring old non-data-dependent autoguides like `AutoDelta` (for MAP), `AutoDiagnoalNormal` for mean-field SVI, `AutoMultivariateNormal` and `AutoLowRankMultivariateNormal` for correlated SVI, and `AutoGuideList` to combine the above (e.g. to express block diagonal correlation structure in a `AutoMultivariateNormal`, or to MAP-estimate some variables and use a cus

[2018-10-22 16:54] fehiepsi commented on #1482
@neerajprad This might be a good chance for me to see how discrete variables are handled in pyro's HMC. It'd take me a bit of time to be able to join further discussion. :)

[2018-10-23 01:58] fritzo commented on #238
Here is a proposal for refactoring towards a more plate-friendly `pyro.param` statement.

I think we could modify `param` behavior by inspecting the `cond_indep_stack`. For each vectorized frame we could `.expand(frame.size)` at the appropriate dim. Determining the appropriate dim is tricky because `param` currently does not have a notion of `event_dim`, and we would need to add something akin to

[2018-10-23 03:20] neerajprad commented on #1482
@fehiepsi - Discrete variables are simply marginalized out when we evaluate the model log density. To do parallel enumeration over the discrete variables, requires a more explicit control over the batch dimensions, and that was the reason for allowing for `iarange` statements in HMC. Usage of `iarange` (/`plate`), however, also allows us to denote conditional independence information (for continuo

[2018-10-23 05:37] neerajprad opened #1487 "trace's log_prob of models with Gamma/Dirichlet distributions incompatible with JIT"
Many of our JIT tests in HMC / NUTS. e.g. `test_gamma_normal`, `test_dirichlet_categorical`, etc. are not terminating on the `pytorch-1.0` branch. The reason for this is that the step size is becoming extremely small in the adaptation phase, and we end up crawling to a halt. Note that the test runs fine without JIT. This probably points to some incompatibility in the adaptation code w.r.t. the ass

[2018-10-23 11:16] kiran-kate commented on #1481
I understand. What is the best way to illustrate the problem so that you can reproduce?
Yes, I ran the downstream task on pytorch 0.4.0 and I see the same behavior. The downstream task is classification, and the accuracies vary from around 50+ (when using a batch_size > 1) to around 70+ (when using a batch_size = 1). So there is definitely something going on.

[2018-10-23 12:51] max-ilse commented on #1454
Hi everybody,

I recently started using Pyro. Thanks for the great SS-VAE tutorial. It really helped me getting up to speed.

For an extension of the SS-VAE, I want to add an additional MMD regulariser to my elbo, since I need samples from my variational posterior I thought about adding a bogus statement to my guide function, e.g.

[code]

Anything wrong with this?

[2018-10-23 13:15] kiran-kate opened #1488 "Pyro parameters not getting overwritten when a new instance is created"
DMM example again. When we create a new instance of DMM changing the z_dim and try to run training with the new dmm, I get the following:
[code]

### Environment
OS and python version: MAC, Python 3.6.5
PyTorch version:0.4.0
Pyro version: 0.2.1

### Code Snippet
I added these lines to the dmm code, main function after the original training loop ends:

[code]

[2018-10-23 15:12] martinjankowiak commented on #1488
it seems you're having namespace collisions. please familiarize yourself with how the
pyro [paramstore](http://docs.pyro.ai/en/0.2.1-release/parameters.html#module-pyro.params.param_store) works to resolve your problem.

if you have further issues please post in the forum. as noted below, this is not the intended use for github issues.

[2018-10-23 15:13] #1488 closed

[2018-10-23 15:19] martinjankowiak commented on #1481
well i'm not sure. i don't see any evidence that your issue points to a bug in pyro. i would suggest carefully going through your code (both your dmm code and your downstream task) line by line to make sure shapes and tensor manipulations are done as intended. you might add a lot of tensor shape assert statements to convince yourself that you're doing what you think you're doing. like i said in th

[2018-10-23 15:19] #1481 closed

[2018-10-23 15:37] kiran-kate commented on #1488
Alright. I forgot to mention that I had tried doing a pyro.clear_param_store() between the two training procedures, which didn't help. I will read through the documentation again to find a way to get this working.

[2018-10-23 17:05] ngoodman commented on #238
what if we add an abstract index argument to param (and sample)? ie something along the lines of `pyro.param("foo", index=[I1 I2], ...)` where Ij can be either literals or abstract indices introduced by plates (assuming we go with the proposal to have plate bind a name for the index it introduces).

that is, within an iteration the indices are just strings/numbers that get appended to the name. wi

[2018-10-23 17:51] neerajprad commented on #238
I like the idea of a more plate friendly param!

It should mostly be fine, but I hope that the cost doesn't add up as we do this every time the model is run. In any case, I think we can explore other ideas of exposing this information to `param`.

Given our existing use cases, it might be easier to add a kwarg to `plate`, say `global_params=True`to denote that any params inside it do not need to b

[2018-10-23 18:18] jpchen commented on #1488
i would recommend setting a breakpoint right before the `pyro.module()` when you instantiate your new instance  and inspect the param store immediately before the exception is thrown. from the looks of it, you're not clearing it.

[2018-10-23 18:43] fritzo commented on #238
Ok, I've demonstrated possible syntax changes in #1491 (based on #1486 ). The intent is to:
1. demonstrate current syntax in #1486;
2. work towards consensus on proposed syntax changes in #1491;
3. decide which changes we actually want to implement.

[2018-10-23 18:47] jacobrgardner commented on #688
Is there any possibility of this working now that some of the KL divergence implementation issues are resolved upstream?

@gpleiss and I are working on using Pyro's SVI implementation as a possible backend for SVI in GPyTorch, and we are finding that Monte Carlo estimation of the KL divergence is a moderately large performance hit compared to using our custom KL divergence implementation between `

[2018-10-23 18:54] eb8680 commented on #238
In addition to a `batch_shape`/`event_shape` distinction, it seems to me that there are at least two types of broadcasting operations we'd need to distinguish between - one that simply broadcasts and one that actually replicates the parameter tensor along a dimension to allow different values at each site.  This distinction corresponds to the distinction between `torch.Tensor.expand()` and `torch.

[2018-10-23 19:01] fritzo commented on #688
@jacobrgardner Sure we can look into this again. Would you be willing to provide a test case with your desired model structure? @martinjankowiak has concerns that analytic KLs will apply to only a small class of models, and it would help us to see practical examples.

[2018-10-23 19:07] jacobrgardner commented on #688
Sure thing!

Let me try to finish up this variational refactor on our end within the next week or so. That will include support for using Pyro as an alternative SVI implementation and include at least one example notebook of doing the integration (also probably solving #1265). Then we'll have some concrete examples of the both the integration and the performance gap we are seeing that you can look

[2018-10-23 19:07] martinjankowiak commented on #688
well, it's not so much that i'm concerned that analytic KLs would apply to a small class of models, it's more so that the model/guide have to have a certain dependency structure to allow for an analytic KL to be operable. also it would be a bit tricky to implement in the more general case (e.g. play nice with rao-blackwellization of score function gradient estimators).

a (rather gross) workaround

[2018-10-24 10:17] CompRhys opened #1494 "conda support in the future"
My research group is looking at whether to use pyro vs gpflow for a new project, I am inclined towards pyro due to prefering pytorch to tensorflow.

However, for ease of workflow our PI is very keen on ensuring that we use conda for maintaining environments within the group now that the HPC cluster we have access to has adopted conda. Would it be possible to get a conda release of pyro-ppl?

[2018-10-24 13:35] fehiepsi commented on #1494
You can use `pip` in conda to install pyro, so I guess there is no need to have a conda release at this *alpha* stage. Writing a conda build receipt for pyro is easy so I think that pyro's devs will make it available in the next version of pyro.

[2018-10-24 15:09] maedoc commented on #1461
sorry to jump on here, (but I could neither join the forum by github or direct sign up (never receive email).), I would like to not only +1 this issue, but also suggest that porting example models from other software (e.g. Stan) would save potential users a lot of time.  In my case, it took me a few hours to figure out how to write down a simple AR model (which is my fault more that anything), and

[2018-10-24 17:31] neerajprad commented on #1487
@fehiepsi - Great! You will need to checkout the `pytorch-1.0` branch to get all the JIT related changes (see the corresponding PR #1431). You will also need to be on PyTorch master (or download the nightly build using `conda install torch_nightly -c pytorch`, though it might have a few perf issues that are being worked on). You can run all jit tests using `make test-jit`. Since that takes a bit o

[2018-10-24 17:41] CompRhys commented on #1494
My hand may be forced before then but that’s great to know! Thanks for your work

[2018-10-24 17:41] jpchen commented on #1494
what is the difference between pip installing and conda installing in your conda environment?  as @fehiepsi said, i use them interchangeably and observe no difference. if you `conda list` you can see all your installed packages from both conda and pip.

[2018-10-24 17:57] fritzo commented on #1494
I don't understand fully, but I believe `conda indstall torch` can install a more system-tailored version of `torch` than `pip install torch`. And if we want to trigger that conda install via `___ install pyro`, we would also need to publish a conda package. If this is not the case, then we can simply ask conda users to use our pip package, e.g.
[code]

[2018-10-24 17:59] fritzo commented on #1494
@CompRhys Can you give us some specific reasons to create a conda package, rather than simply using `-pip -pyro` in your `environment.yml` file?

[2018-10-24 18:05] CompRhys commented on #1494
Sadly it's just group politics, in trying to pre-empt issues I thought it might be used as a reason not to swap.

[2018-10-24 18:31] CompRhys commented on #1494
@jpchen I have already used pyro as described for personal tests, this was a simple quality of life inquiry for non-technical potentially irrational reasons.

[2018-10-25 01:43] fehiepsi commented on #1487
@neerajprad Thanks for your explanation! Now I understand the purpose of JIT.

I tried to debug and saw that the `_potential_energy_jit` gives different derivatives comparing to no jit. I checked the input of `_potential_grad` function in `integrator.py` script. Given `z`, jit and nojit give the same potential_energy but different grads.

[2018-10-25 02:55] neerajprad commented on #1487
Thanks for debugging, @fehiepsi. It seems that the autograd graph constructed by JIT is not correct for some reason. Is it the case for all tests or only some tests? If the grads are different only for certain tests, I suspect the culprit might be some distributions' `log_prob` methods. This might get tricky to debug, I will also take a look at it later this week.

[2018-10-25 14:23] fehiepsi commented on #1487
@neerajprad I ping a bug I notice in slack. You might check it there. :)

[2018-10-25 22:00] fehiepsi commented on #1487
@neerajprad I think that I catch the bug now. Please take a look at the notebook https://gist.github.com/fehiepsi/e2cc69bfaa9b00033834756b3092970f
It seems that we have a bug when using gamma + trace + jit.
cc @fritzo

[2018-10-25 23:02] neerajprad commented on #1487
Thanks for digging in, @fehiepsi. Taking a look!

[2018-10-26 06:59] neerajprad commented on #1487
Thanks, @fehiepsi. Moving the discussion from the gist so that I can get notified.

The following snippet from your example has the same issue, but I have not been able to figure out a smaller example that is independent of `poutine.trace`. There might be something inside of our poutine internals that doesn't behave well with JIT. It is still a bit concerning that the JIT does not raise any warnin

[2018-10-26 07:12] eb8680 commented on #1487
Are you sure it's OK to close `fn` over `data` in that example?

[2018-10-26 13:20] fehiepsi commented on #1487
Some observations:
- this just happens with some distributions such as Gamma, Dirichlet. Other distributions seem fine.
- the problem happens at the return function: If we just return `log_prob` at `z`, then grad is right. If we return `log_prob` at `obs`, things are still right. But if we return sum of them (or any linear combination of them), then wrong grad happens.
- If we return `log_prob_at_

[2018-10-26 18:41] ngoodman commented on #1287
there's lots of interest in this, so we should make it happen... @slaweku would it be reasonable to put code so far in this / another repo so people can pitch in?

[2018-10-26 18:51] slaweku commented on #1287
Hi,
I did port the M4 code to Python and Pytorch, but experienced some technical issues (in Python multiprocessing) that make accuracy lower in comparison to the original Dynet/C++. Also the current code is written as a tool to forecast M4 competition, not a well structured library.
Recently, I have started working with Neeraj, and it looks promising, I hope we can overcome all the issues.

Regard

[2018-10-26 19:59] vshulyak commented on #1287
@slaweku Any chance you could open source what you have? I have some extra time, so I could help with debugging.

I replicated some parts of ES-RNN myself, but found that either the architecture or my implementation not really performing well on my dataset (not M4). Really want to figure out why.

[2018-10-27 16:16] rohitrango opened #1499 "Memory leak while using Beta distribution"
### Issue Description
I'm training a simple feedforward neural network which outputs parameters of a beta distribution from which I take samples, and use it with BCELoss. The problem is that the memory (RAM) usage increases with number of training iterations and it starts thrashing soon after, giving me no choice but to force-shut-down the computer (code below). The GPU usage is stable.

### Envir

[2018-10-27 16:29] rohitrango commented on #1499
This problem, however doesn't occur when I use the Beta distribution of PyTorch. But since `rsample` doesn't have the backward implementation for GPU in PyTorch (and hence making it slow), I used Pyro's Beta distribution. So this seems like a Pyro issue.

The `Beta` used is from Pyro, not PyTorch.

[2018-10-27 16:34] martinjankowiak commented on #1499
if that's the case you need to make your code snippet much clearer. show the relevant import statements, etc

[2018-10-27 16:49] rohitrango commented on #1499
I apologize for not making it clear enough. I have updated the post. Please let me know if I should add/modify anything else.

[2018-10-27 17:09] martinjankowiak commented on #1499
thanks for clarifying!

@neerajprad any idea what might be going on here?

[2018-10-27 21:56] eb8680 commented on #1499
@rohitrango can you try reproducing your issue with PyTorch 0.4.0?

[2018-10-27 21:59] neerajprad commented on #1499
@rohitrango - A lot of distributions are broken in PyTorch 0.4.1. Could you try with PyTorch 0.4.0 instead?

Pyro's Beta distribution (like most other Pyro distributions that have a torch counterpart) is merely a wrapper over `torch.distributions.Beta`. The reason why it is not throwing an error on the GPU is because we have patched over `torch._standard_gamma` to transfer the parameters and do th

[2018-10-28 07:56] rohitrango commented on #1499
I'm afraid that PyTorch 0.4.0 doesn't solve the problem either. I'm using `htop` to check the memory usage, and it just grows as the iterations continue.

[2018-10-28 14:17] fehiepsi commented on #1499
@rohitrango Can you create a smaller example to replicate the problem? Here are my suggestions:

- Try to `train` in just a few iterations (to avoid shutdown)
- Try to not use `repeat` before sampling, I don't understand why you need repeat hear (instead of feeding `sample_shape` into `rsample`), but I have seen many problems with `repeat/expand + log_prob` in pytorch 0.4.1.
- Try to call `.contig

[2018-10-29 18:37] neerajprad commented on #1499
Do you mean that when you run this on the CPU using `torch.distributions.Beta` you don't see a memory leak, but when you use the Pyro version on the CPU, you find this to be an issue?

If so, can you try running this using the `torch-1.0` branch of Pyro ([installation instructions](https://github.com/uber/pyro#installing-pyros-branch-tracking-pytorch-10-release)) and the current PyTorch release an

[2018-10-30 00:00] fritzo commented on #1499
@rohitrango Just to clarify what might be going on: Pyro's `Beta` actually doesn't implement GPU reparametrization, instead `import pyro.distributions` triggers a [patch](https://github.com/uber/pyro/blob/cc4d7d7/pyro/distributions/torch_patch.py#L40) to PyTorch's underlying gradients to do a GPU->CPU->GPU conversion for that computation. I'm curious whether you could get the same effect by using

[2018-10-30 00:37] robsalomone commented on #1479
Hi @eb8680, agree with this. It took me a while to get my head around things the way the tutorial is explained (and I'm familiar with VI and IS).  I recommend a later (advanced) tutorial example on Importance Sampling using a guide. I'm happy to contribute a modified tutorial plus one on importance sampling (that has more background) if you'd like?

[2018-10-30 00:42] robsalomone opened #1502 "feature request : plate notation visualization"
Hi All. It would be nice (especially for new users / researchers) if there was an easy way to get a visual of their model via plate notation. I think for most models this would be (reasonably) easy to do via executing a trace on a model and interfacing with Daft (http://daft-pgm.org) or a similar package.  Thoughts?

[2018-10-30 01:38] eb8680 commented on #1479
@robsalomone A dedicated tutorial on importance sampling would be awesome, we'd definitely welcome that!

As context for this issue, Part 2 of the intro tutorial is meant to introduce the idea of inference in a universal probabilistic programming language as gently as possible, along the lines of the first three chapters of [Probabilistic Models of Cognition](http://probmods.org/).  However, when

[2018-10-30 01:54] eb8680 commented on #1502
@robsalomone interesting idea, and thanks for the pointer to Daft - seems like a nice package!  It's unlikely that we'll get to this ourselves, but I agree it would be nice to have and it seems like a great project for someone interested in contributing to Pyro.

Note that in Pyro we don't always have the true conditional independence structure of a model easily available to us, only a coarse appr

[2018-10-30 01:56] robsalomone commented on #1502
Hi @eb8680 , yes was considering doing this myself, but had avoided starting for this very reason. So long as it can throw an error if it doesn't fit the "simple structure" , and this can be diagnosed. It'll be on my todo in future if no-one else (outside the main team) picks it up.

[2018-10-30 01:57] fehiepsi commented on #1502
Taking a look at [pyro.save_visualization](https://github.com/uber/pyro/blob/dev/pyro/util.py#L75) might be a good start. :)

[2018-10-30 02:01] robsalomone commented on #1502
@fehiepsi thanks for that. I somehow managed to miss that function, it should make things much easier.

[2018-10-30 21:21] neerajprad commented on #1287
After discussing with everyone, we came to the conclusion that there is no clear path towards integrating ESRNN into Pyro at this stage. I am closing this issue as this is not being actively worked on by Pyro developers.

Given the interest from the community however, @slaweku in interested in open sourcing his implementation in PyTorch as a separate library, after existing issues have been fixed.

[2018-10-30 22:34] neerajprad commented on #1256
@stefanwebb - Now that the master task is being tracked in #1260, can we close this issue, or does the bug still exist?

[2018-10-30 23:09] stefanwebb commented on #1256
@neerajprad yes, I'll close this issue now! That bug was fixed in the rewrite of the MADE class

[2018-10-30 23:09] #1256 closed

[2018-10-30 23:12] robsalomone commented on #1479
@eb8680 no worries, I'll do one up and submit when I get the time (was planning to do some more general tutorials on a blog).

Regarding the intro tutorial, I think the diversion to Importance Sampling was the main thing. However, I think if the redone version makes certain terms more clear and gives a "top down" overview at the start I think it will come across more clearly. Most of it did make s

[2018-10-31 00:07] neerajprad opened #1505 "HMC gives non deterministic results with parallel chaining"
Even though the `ParallelSampler` yields the same set of traces (each worker gives deterministic results), the order in which the traces are consumed might be different, which gives different results when we use `TracePredictive`.

One way to get deterministic results from HMC/NUTS with `num_chains > 1` would be to store intermediate results, and yield results from each of the workers in a round-r

[2018-10-31 18:44] fritzo opened #1508 "Plated einsum() interface is awkward"
Pyro's generalized [einsum()](http://docs.pyro.ai/en/dev/ops.html#pyro.ops.contract.einsum) interface is awkward in a few ways. We should fix these before moving upstream to [opt_einsum](https://github.com/dgasmith/opt_einsum) ~~and before Pyro's upcoming 0.3 release~~.

## Issue 1: `einsum()` doesn't handle all inputs

Plated einsum problems are either polynomial or exponential in the sizes of in

[2018-10-31 19:20] fritzo commented on #1508
@srush we welcome design suggestions for the `ubersum()` interface.

[2018-10-31 19:30] martinjankowiak commented on #1508
regarding issue 1, it seems to me that we don't want to make exponential time stuff always fail, since the computation might conceivably be exponential in a smallish number. perhaps by default fail but have some sort of `allow_exponential_computation` flag or the like?

regarding issue 3, my initial reaction is to be on board with option 2, although i still need to think about this some more.

[2018-10-31 21:20] eb8680 commented on #1508
I agree with Martin re: issue 1, and I think the `modulo_total` flag is a reasonable solution to 2.

Re: 3, what do you think about using the type of `batch_dim` to dispatch between options 1 and 2, calling 1 when it's a dict, and constructing a dict and implementing option 2 as a call to option 1 when it's a string?

[2018-11-01 18:22] jamestwebber commented on #1479
As someone who has been going through the tutorials while learning the framework, I would definitely appreciate this, and I'm willing to help out if needed (probably later this month).

One thing I brought up in a [forum post](https://forum.pyro.ai/t/toy-example-of-bayesian-logistic-regression/458/3?u=jtw) is that the different tutorials use different idioms or coding architectures. I think it wou

[2018-11-01 18:40] #1505 closed

[2018-11-01 21:48] fehiepsi commented on #1470
@FedericalV Could you please share if there are still significantly different answers between PyMC3 and Pyro?

[2018-11-01 22:48] fritzo commented on #1508
@srush The only reference we've published is the [ubersum docstring](http://docs.pyro.ai/en/dev/ops.html#pyro.ops.contract.ubersum). Whereas `einsum()` can be used to implement variable elimination on a discrete graphical model, `ubserum()` is the natural generalization to graphical models with plates, i.e. batches of independent random variables. If you end up using `ubersum()`, we'd be happy to

[2018-11-02 00:41] neerajprad opened #1511 "HMM model using HMC/NUTS is slow"
Since we started using einsum to evaluate the joint log density of the trace with discrete parameters, we can do discrete site enumeration across many more models in HMC/NUTS without going OOM.

For HMMs, however, NUTS / HMC is extremely slow to the point of being unusable beyond a few time steps, say 10. Refer to this [test](https://github.com/uber/pyro/blob/dev/tests/infer/mcmc/test_nuts.py#L243

[2018-11-02 01:56] fehiepsi commented on #1511
@neerajprad I tested with pytorch 0.4.0 and didn't catch the slowness. As I mentioned in #1487, trace + Gamma/Dirichlet + pytorch 1.0rc will give wrong grads in backward pass. And that bug is not related to HMC/NUTS. I don't know what I can do more with that issue so I skip it and implement statistics such as effective number of samples / Gelman-Rubin convergence diagnostic instead.

[2018-11-02 02:49] fehiepsi commented on #1511
About initialization, Stan does not use MAP. Previously, PyMC3 used MAP, but now they don't by default. There might be experimental reasons for their decisions (which I can't track back). In my opinion, allowing users set starting points is enough (from my experience, it is extremely useful for some models: when I got stuck with randomize initialization, I set initializations to the mean, then thi

[2018-11-02 04:13] neerajprad commented on #1511
@fehiepsi - This is a known issue that we would like to address or at least conclude that we cannot run HMM type models with the current constraints. I just cc'd you as an FYI - you shouldn't feel compelled to work on this! :)

The HMM test is only sampling 10 traces, but if you run it for longer than 10 time steps, you will find the issue of step sizes getting very small and making extremely slow

[2018-11-02 14:47] fehiepsi commented on #1511
You are right that this might another issue. I did the test for 100 num_samples and 100 warmup_steps in pytorch 1.0rc and pytorch 0.4. Pytorch 1.0rc is a bit slower than pytorch 0.4. Einsum is slower than not einsum. But I didn't observe the very small step_size problem. The step_size is around 0.0001-0.0004 in all the test.

For MAP, I discourage to use it with HMC. I have implemented dozens of m

[2018-11-02 16:16] fritzo commented on #1511
@neerajprad could you send me a .prof file and/or the steps to reproduce your profile? I'd like to inspect the profiling numbers in contract().

[2018-11-02 16:38] neerajprad commented on #1511
Thanks @fritzo, I will send you the profiling script and .prof file shortly.

Thanks for all the suggestions, @fehiepsi. I will play around with different initializations first to see if it improves the performance.

I think if the integration is straightforward and arviz has all the diagnostics you were looking to implement, we could just suggest users to go with that (and even add it to our exam

[2018-11-02 18:20] neerajprad commented on #1511
@fritzo - You can run the profiler using:

[code]

on the `prof-hmm` branch. Attaching the .prof file. I have turned off step size adaptation so as not to take too much time. Most of the time is actually just taken by einsum so I am not sure if there is much room for optimization here.

[hmm.tar.gz](https://github.com/uber/pyro/files/2543670/hmm.tar.gz)

[2018-11-02 20:29] fehiepsi opened #1513 "Get inference for flat prior"
Currently, HMC and autoguide do not give inference on parameters from `pyro.param` (`autoguide` only gives MAP point for these params). Should we support it or require users set weak priors such as `Normal(0, 1000)` to get posteriors for these parameters?

[2018-11-02 21:05] eb8680 commented on #1513
I don't think we should be doing that automatically.  Users can always use [`lift`](http://docs.pyro.ai/en/dev/poutine.html#pyro.poutine.lift) if they want to put priors on their parameters.

[2018-11-02 21:07] neerajprad commented on #1511
@ColCarroll - Thanks for offering to help with the integration! Regarding the python 2 incompatibility, there is already another feature (CUDA support with parallel MCMC chains) that isn't supported on Python 2. Given that Python 2 will not be supported in a year or so, I think it is fine if certain (non-critical) features are only available in Python 3 going forward, but this is worth discussing

[2018-11-02 21:31] eb8680 commented on #1513
Yes.  We could consider adding helpers that automatically generate weak prior `Distribution`s for use with `lift` given a model, but I generally think it's better to be explicit about these things.

[2018-11-02 21:41] fehiepsi commented on #1513
I somehow agree with you. But every time I use HMC for models with `pyro.param` statements, I just wish that we can get samples for them too. ^^! I leave this discussion for a while to see if there are other opinions. Then I'll close this. :)

[2018-11-02 22:06] eb8680 commented on #1513
What's wrong with using `lift`?  You can even write a custom `ImproperUniform` `Distribution` (whose `log_prob` always returns 0) and generator with `lift`, similar to the way we create autoguides from traces:
[code]

Personally, I'd rather not push even more complexity inside of HMC initialization by putting all that behind a new keyword argument, but maybe it's a worthwhile tradeoff.  @neerajpra

[2018-11-02 22:18] fritzo commented on #1511
@ColCarroll we plan for Pyro to support Python 2 as long as PyTorch supports Python 2.

[2018-11-03 00:29] neerajprad commented on #1513
I am not sure how to interpret `param` statements for MCMC. If we would like to sample from them, why not just make them `sample` statements and specify a weak prior. I find the default behavior of treating them as constants least confusing (even better to just use tensors to specify the prior). As already noted, `lift` provides the users the flexibility to convert `param` statements in an existin

[2018-11-03 01:54] neerajprad commented on #1513
Thinking about it some more, I suppose it can be argued that sampling from the improper prior is the behavior most consistent with autoguides. Maybe we can make this the default, i.e. use @eb8680's snippet above, to transform all param statements in the model. If the user would like to preserve the current behavior, they can remove param statements from the model, and if they would like to specify

[2018-11-03 07:58] fritzo commented on #1380
This is now higher priority since @colesbury has notified us that PyTorch plans to limit tensors to 64 dimensions.

[2018-11-03 20:51] eb8680 commented on #1513
I don't think we should make improper priors the default in MCMC, because improper priors aren't consistent with Pyro's default generative semantics.  I also don't see how it's consistent with autoguide behavior - SVI optimizes parameters, it doesn't maintain a posterior approximation over them.  We can provide the helpers above as a single model wrapper `lift_improper` or something, and users can

[2018-11-04 05:13] fehiepsi commented on #1513
I have bunch of models with flat priors (in Chapter 6 of the book Statistical Rethinking). However, I can write wrappers for my purpose without any difficulty. I just want to open a discussion to see if people wants the proposed behavior default. :)

@eb8680 @neerajprad Thanks for giving your opinions! I agree that we should not make it default. It can simplify small models but for large model wit

[2018-11-05 21:52] fehiepsi commented on #1487
@neerajprad @eb8680 This is not a pyro problem. I can replicate the bug in PyTorch
[code]
I have raised the bug in pytorch slack.

[2018-11-06 02:52] srush commented on #1508
(This maybe belongs in a different thread)

There is a common case in NLP where the model is almost a UGM but you need a bit more flexibility to implement it efficiently. In particular for models like HSMM or parsing, I want to be able to sum over vectors of the same size. For instance "d,e,f,da,eb,fc" and then I want to sum g = a+b+c. I guess you could do something like "d,e,f,da,eb,fc,abch->h",

[2018-11-06 03:37] boathit opened #1517 "BatchNormalization Transform [feature request]"
It will be useful to add [BatchNorm Transform](https://www.tensorflow.org/api_docs/python/tf/contrib/distributions/bijectors/BatchNormalization) to stabilize the training in the normalizing flows, but I did not find it in the current dev branch, any plan to add the support?

[2018-11-06 04:32] eb8680 commented on #1508
@srush `ubersum` allows multiple outputs, so you should be able to use `"d,e,f,da,eb,fc->a,b,c"` and sum the results.  Is that what you're looking for?

[2018-11-06 08:15] srush commented on #1508
No I mean. I want the sum within the expression so I can chain it forward.
ubersum("d,e,f,dh,eh,fh,hi,.....->p", sum_dim="h")

Maybe I'm missing the point, but what seems neat to me is that ubersum is a domain specific language for specifying dynamic programs over a semiring. However handling "branches" i.e. sums requires leaving the language.

[2018-11-06 10:06] Kelvinson commented on #1517
Hi, @eb8680 could you please any hints to  implement this feature? Add a module bijector like TFP or add it to the utility module? Thanks!

[2018-11-06 14:32] fritzo commented on #1517
This more naturally lives in [torch.distributions.transforms](https://pytorch.org/docs/stable/distributions.html#module-torch.distributions.transforms). Take a look a the [other transforms](https://github.com/pytorch/pytorch/blob/master/torch/distributions/transforms.py) to see how they're implemented.

[2018-11-07 12:12] boathit commented on #1517
All transforms implemented in `torch.distributions.tranforms` right now do not have the learnable parameters, this is not the case for BatchNorm Transform.

[2018-11-07 14:16] #1513 closed

[2018-11-07 17:15] fehiepsi opened #1519 "LBFGS does not work with SVI"
LBFGS requires us define a `closure` to be called in its `step` method. Defining a closure to call it with `loss_and_grads` is easy but I can't figure out how to incorporate it with the way PyroOptim handles parameters (creating an optimizer for each param).

[2018-11-07 18:51] FedericoV commented on #1470
Hi,

thanks for all the help guys.  I'm having a hard time getting exactly the same model because in PyMC3 I use an LKJPrior to specify the full covariance matrix while in pyro I hacked up a low rank solution like so:

[code]

[2018-11-07 20:06] fehiepsi commented on #1470
I guess you want to use [LowRankMultivariateNormal](https://pytorch.org/docs/master/distributions.html#torch.distributions.lowrank_multivariate_normal.LowRankMultivariateNormal)?

[2018-11-08 04:05] fritzo commented on #1517
@boathit oh I didn't realize there are trainable parameters. I think it's fine to add this to Pyro in a new file pyro/distributions/batch_norm_transform.py, and possibly move it upstream to torch.distributions once we work out the details.

I'm not sure the cleanest way to implement this, but it would be nice to leverage `AffineTransform` for `._inverse()` and `.log_abs_det_jacobian()`.

[2018-11-08 08:41] boathit commented on #1517
@fritzo I have managed to implement a simple [version](https://github.com/boathit/Deep-Probabilistic-Models/blob/master/maf/batchnorm.py) which assumes the input is just a D-dimension vector. I found it is able to significantly stabilize the training process in the [density estimation task](https://github.com/boathit/Deep-Probabilistic-Models/tree/master/maf).

Since the `Transform` is not a subcl

[2018-11-08 17:30] neerajprad opened #1520 "Refactoring MCMC module"
We have added a lot of important features to HMC while addressing #1093. This has come at the expense of class complexity, particularly for HMC and MCMC classes. It will be great to refactor some of this code to make it amenable to extend, understand and debug.
 - [x] Remove `use_experimental_einsum` flag and make `TraceEinsumEvaluator` the default in HMC/NUTS.
 - [x] Refactoring the adaptation co

[2018-11-08 21:47] eb8680 commented on #1517
@boathit neat, thanks for sharing your code.  I don't think we'll get to this ourselves, but maybe you or @Kelvinson could turn your implementation into a PR?

[2018-11-09 02:53] boathit commented on #1517
@eb8680 Thanks. My only concern is that my current implementation is not general enough (assuming the input is a 1-D vector). I will try to figure out how to generalize it to handle arbitrary dimension tensor.

[2018-11-09 09:48] jpchen opened #1523 "HMM model 2 broken"
model 2 in the hmm example crashes with no error message when calling `train_loss = elbo.loss(model, guide, sequences, lengths, args, include_prior=False)` on cpu. the other models seem to work fine.

[2018-11-09 17:14] fritzo commented on #1523
Can you please add steps to reproduce? It surprises me since all models should be tested via tests/test_examples.py

[2018-11-09 18:05] fritzo commented on #1517
@boathit if you'd be willing to submit a PR for your 1-D version (with tests :smile:) we could extend it to higher rank in a follow-up PR.

Also some comments:
- Can you help me understand why it needs to be an `nn.Module`? Do the beta and epsilon get trained simultaneously with other parameters?
- I think we you'd be able to use multiple inheritance if we had called `super(Transform, self).__init

[2018-11-09 18:48] jpchen commented on #1523
`python examples/hmm.py --model 2 [-n 1]`
@neerajprad verified that it works on pytorch master but breaks on release for both python 2 and 3.

[2018-11-09 18:48] #1523 closed

[2018-11-10 04:14] boathit commented on #1517
@fritzo I will be happy to make a PR.

Yes. gamma and beta are required to be trained simultaneously with all other parameters. It is easy to organize them by putting them into `nn.Module`. But of course I can move them into the `nn.Module` created in the `Transform`.

It would be desirable if `Transform` could inherit from `nn.Module`, then we can directly put all trainable parameters in the `Tra

[2018-11-12 03:20] erlebach opened #1527 "di"
### Guidelines

**NOTE:** Issues are for bugs and feature requests only. If you have a question about using Pyro or general modeling questions, please post it on the [forum](https://forum.pyro.ai/).

If you would like to address any minor bugs in the documentation or source, please feel free to contribute a Pull Request without creating an issue first.

Please tag the issue appropriately in the ti

[2018-11-12 14:00] fritzo commented on #1523
The reason the tests do not fail is that the tests run truncated versions `--truncate 10` and the error is not triggered when truncating. Reasons we run tests truncated include:
- truncated tests run faster
- until #1521 is merged, non-truncated tests will only pass on PyTorch 0.4 CPU (fail 0.4 GPU, 1.0 CPU, and 1.0 GPU)

[2018-11-12 17:06] #1527 closed

[2018-11-12 18:10] SINDHUKUMARIP commented on #862
from pyro.util import ng_ones, ng_zeros
ImportError: cannot import name 'ng_ones'

[2018-11-12 18:32] eb8680 commented on #862
@SINDHUKUMARIP this code snippet is now outdated and `ng_ones` and `ng_zeros` no longer exist in Pyro 0.2.1.  Please see the GP tutorial instead for up-to-date examples of GP usage: http://pyro.ai/examples/gp.html

[2018-11-13 01:18] fehiepsi commented on #1519
@eb8680 will we support it? LBFGS is a very convenient optimizer for models with small dataset! I have [used it to optimize a lot of models](https://github.com/fehiepsi/rethinking-pyro/blob/master/notebooks/rethinking.py#L49). Many of them can not be trained with SVI.

[2018-11-13 04:06] eb8680 commented on #1519
@fehiepsi sorry, I only closed the issue because I thought it was resolved by the PR #1518.

`pyro.optim.PyroOptim` is a klugy wrapper for handling varying amounts or orders of parameters.  I don't see how we could modify it to take a closure argument, but I also think the way you're using `torch.optim` in your linked example is fine - if anything, we should be encouraging users to use that idiom

[2018-11-13 10:14] rohitrango commented on #1499
Hi,

I tried using `torch-1.0' and its corresponding pyro distribution. The same problem still occurs.
Also, I tried using `torch.distributions.Beta` and converting the tensors to cpu and back to gpu after sampling for the backward pass. The same problem occurs without pyro, so I think its a PyTorch problem. I didn't notice the differences earlier but with a bigger example, its clear.

[2018-11-13 12:01] jramapuram commented on #1499
I observe similar behavior on pytorch 0.41 and 1.0; why does this op need to transfer from gpu to cpu and vice versa? Is there some native op that is missing a gpu implementation?

[2018-11-13 12:01] ahmadsalim opened #1531 "[feature request][discussion] Allow downloading `examples` and `tutorials` directly from Pyro documentation"
Hi Pyro Devs!

While instructing new users on how to download and run the `examples`/`tutorials`, it seems to me that there is no simple way to instruct users to download just these folders directly.
To improve usability I would suggest the following:

- Create separate `example` and `tutorial` zip files under releases.
- Link those zip files from within the relevant example documentation.

What d

[2018-11-13 12:04] rohitrango commented on #1499
Yes. This is the error when we try to use `backward` in PyTorch `Beta`:

[code]

Looks like there is an implementation which is not done for GPU.

[2018-11-13 12:06] rohitrango commented on #1499
Yes. Dirichlet grad is not supported on GPU.

[2018-11-13 17:30] fritzo opened #1532 "Hmc, Nuts gaussian chain tests are flaky and slow"
These tests are flaky and slow and are impeding development, e.g.
[code]
Can we replace some of these with less flaky tests?

[2018-11-13 17:40] fritzo commented on #1531
Why not simply shallow clone?
[code]

[2018-11-13 17:55] ahmadsalim commented on #1531
Thanks for the tip!

Would it be OK if clarified the README to also say that the source code of Pyro is required to run the examples? (there is probably no need for separate folders)

[2018-11-13 18:21] ahmadsalim commented on #1531
Maybe I should clarify, now the README could be read like you could just run the examples by installing the `[extras]` package. I would just like to clarify the phrasing a bit, so that it is more clear that you also need to get the `examples` folder to run things.

[2018-11-13 18:21] fritzo commented on #1531
Sure, go ahead and clarify the README!

[2018-11-13 18:43] #1380 closed

[2018-11-13 18:53] neerajprad commented on #1532
Is the issue that these tests are giving non-deterministic results (we had a few instances of this, but that has been resolved), or that they are extremely sensitive to small changes in the algorithm? I think at this point there is very little signal that we get from these conjugate gaussian tests, so I would be inclined to skip them altogether if I am unable to make them faster. They are still us

[2018-11-13 22:03] eb8680 opened #1535 "Make MarkovMessenger compatible with BlockMessenger"
Now that #1521 is merged, the only missing feature in `pyro.markov` is making it interact correctly with `poutine.block`.  This is necessary for proper support for nested inference, especially vectorized nested inference (#1227, #825 ).

[2018-11-13 22:07] eb8680 commented on #983
Should be addressed by #1521

[2018-11-13 22:07] #983 closed

[2018-11-13 23:48] #1185 closed

[2018-11-13 23:51] fritzo commented on #825
@eb8680 is this still on track for our 0.3 release with PyTorch 1.0?

[2018-11-14 00:07] eb8680 commented on #825
We don't have an immediate use case, so probably not

[2018-11-14 07:00] eb8680 commented on #688
@martinjankowiak now that #1521 is merged, do we have access to enough information in principle to implement the general case of this?

[2018-11-14 16:16] martinjankowiak commented on #688
@eb8680 well i don't think we ever lacked the information (at least inside of `TraceGraph`) it's more of a question of making it play nice with everything else (score function gradients, baselines, enumeration, or whatever else there is)

[2018-11-15 21:03] neerajprad opened #1540 "sv-dkl example timing out with pytorch-1.0"
I am seeing an increasing number of builds ([example](https://travis-ci.org/uber/pyro/jobs/455675436)) being aborted in `test_examples` with the error that `No output has been received in the last 10m0s, this potentially indicates a stalled build or something wrong with the build itself.` on the `pytorch-1.0` branch. This seems to mostly get triggered in `python examples/contrib/gp/sv-dkl.py`.

Th

[2018-11-15 21:40] fritzo commented on #1540
I've seen a couple stalled builds on dev branch recently, so this may merely be a Travis issue. I'll grab details next time I see this.

[2018-11-17 18:07] fehiepsi commented on #1532
@neerajprad FYI, pyro NUTS is 20x slower than pymc3 NUTS. This is unacceptable :(

[2018-11-17 20:50] fehiepsi commented on #1532
I updated pytorch to lastest version and turned on `jit_compile`. Things are faster. Now, pyro is 4x slower than pymc.
You can get profiles file here: https://1drv.ms/f/s!AiPrcBQmpf6EgSW6A-7-QD77Y5Ax

[2018-11-18 02:29] eb8680 commented on #1532
@fehiepsi can you clarify what models you're using and what you mean by "compiling in pymc" and "without compiling, pyro is a little bit faster than pymc"?  Are you saying your model in Pyro is slower with the JIT than without in the latest version of PyTorch?

[2018-11-18 03:09] fehiepsi commented on #1532
@eb8680 FYI, here are scripts to replicate results in pyro (1.0 branch) and pymc3:
[code]
[code]
Link to the [data](https://raw.githubusercontent.com/rmcelreath/rethinking/master/data/rugged.csv)

PyMC3 uses Theano to compile the code under the hood. With `theano.config.mode = 'FAST_COMPILE'`, Theano will use Python implementation instead (with some small optimization). What I mean is Pyro (with `

[2018-11-18 03:46] neerajprad commented on #1532
Great work, and thanks for starting to dig into the performance aspects of NUTS! I will take a closer look at your benchmarks.

I would have thought the same since there are few opportunities for making further optimizations in our python code, and for the models that I have seen, most of the time taken is in PyTorch. But it is great to know that we are actually a bit faster than pymc in this rega

[2018-11-18 03:48] robsalomone commented on #1451
Hi guys, has there been any progress with this issue? Would been keen to see any current drafts of tutorials and provide feedback. This sort of tutorial really is necessary I think to get the scientific community on board to implement new methodology they are working on (or in general, to encourage and make contributions easier).

[2018-11-18 04:21] eb8680 commented on #1451
@robsalomone sorry, I've been busy with other things and haven't had time to get to this.  It'll definitely be included with the [0.3.0 release](https://github.com/uber/pyro/milestone/5), which will hopefully be out in a few weeks.  I agree it's important for encouraging contributors and I'll cc you when I open a PR with a draft.

[2018-11-18 04:30] fehiepsi commented on #1532
yes, totally agree! (and some other methods such as `kinetic_energy` and `is_turning` too). I seems that `jit.script` allows OrderDict, so we might use OrderDict instead of dict (I am not so sure, I get problems while playing around with jit.script).

[2018-11-18 23:35] SourabhKul commented on #1461
Would a vanilla Bayesian Network implementing a heart disease example be a good example/tutorial?

[2018-11-19 22:50] fritzo commented on #811
@eb8680 as per discussion today, Monte Carlo is already possible, and quadrature and antithetical sampling should be achievable by combining `infer={"num_samples": 100}` #963 with a special `ReshapedDistribution` e.g. `QuadratureReshapedDistribution` or `AntitheticalReshapedDistribution`, i.e. we should need no extra machinery in `TraceEnum_ELBO`.

[2018-11-19 22:51] fritzo commented on #811
Closing in favor of a more targeted issue, since #963 solved most of this issue.

[2018-11-19 22:51] #811 closed

[2018-11-20 01:02] #688 closed

[2018-11-20 02:46] eb8680 commented on #1235
Closing this as outdated

[2018-11-20 02:46] #1235 closed

[2018-11-20 10:01] adam-coogan opened #1548 "EmpiricalMarginal.mean can return nan; make test problem [bug]"
I'm starting to use pyro for a (physics) research project and have been testing different posterior inference methods on very simple models. I've found that `EmpiricalMarginal.mean` returns `nan` when `_log_weights` is small. I'm on the dev branch and can provide an example if it would be helpful.

The problem stems from this helper method:

https://github.com/uber/pyro/blob/5643a749b7a7c4a654ae41

[2018-11-20 13:45] fehiepsi commented on #1548
Nice observation! For mkl, you can just ignore it I guess. You don’t have to redo all the tests. If you want to deal with that issue, I suggest to try calling ‘torch.backends.mkl.is_available()’ to see if you have installed torch with mkl backend or not.

[2018-11-20 15:52] fehiepsi commented on #1222
Close because this is just a minor issue.

[2018-11-20 15:52] #1222 closed

[2018-11-20 16:10] fehiepsi opened #1549 "More tutorials on Gaussian Processes"
I think that it is good to have more examples to illustrate the flexibility and the scalable of GP module. I have two examples which come into mind, which I hope that we will have them before next release.

- [ ] Deep Gaussian Process. This is also a good example to illustrate various ways to use `mean_function` and how to use LBFGS.
- [x] Latent variable model. This [paper](https://academic.oup.c

[2018-11-20 16:59] martinjankowiak commented on #1461
@SourabhKul sounds like it could be useful. can you please give some more details?

[2018-11-20 17:00] fritzo opened #1551 "Use new ParamStore dict interface in docs"
Now that the `ParamStore` is more dict like #1363, we can simplify old clumsy syntax:
[code]
it might also be nice to rename `pyro.get_param_store()` to simply `pyro.params`, or to let `pyro.param` be the param store and set `ParamStore.__call__` to do `pyro.param()`.

[2018-11-20 18:06] tongjiyiming opened #1552 "hmm.py example not working"
Just want to run the hmm.py example, and got the following error:
[code]
look like the function argument is been updated. Then, I changed the "expose_fn" to "expose" as I found in Pyro docs. It still breaks:
[code]
anyone can check what is the problem?

[2018-11-20 18:41] fritzo commented on #1552
Hi @tongjiyiming can you verify that your Pyro version matches the example version? I suspect you're using an older Pyro with a newer examples/hmm.py. The example currently works on dev branch.

[2018-11-20 18:46] neerajprad commented on #1548
Thanks for reporting - It will be great if you could submit your PR fixing this. Don't worry about this particular test, but it will be nice to add your failing example to `test_empirical.py` and assert that it passes now..

@fehiepsi - I think we should just skip or xfail if we don't have mkl available, I am not sure how it is passing on travis.

[2018-11-20 19:06] neerajprad commented on #1548
Okay, I see why this wasn't failing on travis. That is using the wheels that I built with MKL and not the default wheels. @fritzo has addressed this issue in #1550.

[2018-11-20 19:12] tongjiyiming commented on #1552
I got "0.2.1".
So, should I install the dev version?

[2018-11-20 19:13] fritzo commented on #1552
Yes, the example only works with dev branch for now. We're planning another release in a few weeks, just after PyTorch 1.0 is released.

[2018-11-20 19:13] #1552 closed

[2018-11-20 19:22] SourabhKul commented on #1461
@martinjankowiak This work was a homework assignment in a PGM class I took. The code is available [here](https://github.com/SourabhKul/HeartDiseaseBayesNet).

It is a 9-node Bayesian network, with categorical variables (Hear rate, age, gender etc.). In the tutorial I could show how to instantiate the Bayesian network (nodes, edges), populate CPTs through maximum likelihood estimate and perform exa

[2018-11-20 19:56] tongjiyiming commented on #1552
unfortunately, after I upgrade to dev branch by
[code]
It still failed with:
[code]

[2018-11-20 19:57] tongjiyiming commented on #1552
Thank you! It works now.

[2018-11-20 21:59] fritzo opened #1554 "Create mini-version of Pyro for didactic purposes"
The Architecture of Open Source Applications project hosts tiny educational versions of many pieces of software https://github.com/aosabook/500lines (recommended reading!). I think it would be helpful to have a similar examples/mini_pyro.py to demonstrate how e.g. how Pyro's effects library works.

## Tasks

- [x] #1553 `trace`, `replay`, `SVI`, `elbo`, and a simple example
- [x] #1578 rendered ve

[2018-11-20 22:12] #1465 closed

[2018-11-21 19:40] neerajprad opened #1560 "Change interface of EmpiricalMarginal to support diagnostics"
Refer to the discussion in https://github.com/uber/pyro/pull/1557, #1545.

We now have diagnostics like effective sample size, gelman rubin that we would like to make available for MCMC. Based on @fehiepsi's suggestion and my experience with #1557, it seems that the best way to do this would be to:

 - Modify the `EmpiricalDistribution` to aggregate across both chain and sample dimensions. This wa

[2018-11-21 19:50] neerajprad commented on #1560
Another issue is that this is also used by importance sampling for which these diagnostics might not make sense.

So another design choice could be to have separate `EmpiricalMarginal` implementations for importance and MCMC, which can be accessed via `trace_posterior.empirical(sites=["a", "b"])`. That way we can also move the ESS computation for importance into its own marginal implementation.

[2018-11-21 19:51] eb8680 commented on #1560
Sounds great, I'm all for modernizing `EmpiricalMarginal`.  I also agree it should probably be an MCMC-specific thing, along with `TracePosterior`/`TracePredictive`.  We can figure out `Importance` separately.

[2018-11-21 22:17] adam-coogan commented on #1548
Closed by https://github.com/uber/pyro/pull/1558

[2018-11-21 22:17] #1548 closed

[2018-11-22 20:09] fehiepsi commented on #1560
@neerajprad Your changes in #1557 are pretty clean to me! I'll comment there some nits which I catched.

[2018-11-23 02:38] dongfeng951 opened #1563 "module 'pyro' has no attribute 'plate'"
When I run lda.py in the example directory, there is an error.

Traceback (most recent call last):
    File "lda.py", line 137, in <module>
        main(args)
    File "lda.py", line 105, in main
        true_topic_weights, true_topic_words, data = model(args=args)
    File "lda.py", line 35, in model
        with pyro.plate("topics", args.num_topics):
AttributeError: module 'pyro' has no attribut

[2018-11-23 03:05] fehiepsi commented on #1563
I think you need to use Pyro dev: `pip install git+https://github.com/uber/pyro`.

[2018-11-23 03:39] jpchen commented on #1563
all examples need to be run with the `dev` version of pyro

[2018-11-23 03:39] #1563 closed

[2018-11-24 01:30] dongfeng951 commented on #1563
Thanks! I will try it.

[2018-11-24 13:02] dongfeng951 opened #1565 "paper about lda.py"
Hi, I read the code of lda.py and I find it introduces NN for inferring the document topics. This is an interesting idea and I am curious about the paper which describes it.  Does anyone know the paper?
Thank you!

[2018-11-24 14:45] dongfeng951 opened #1566 "'dmm.polyphonic_data_loader' has no attribute 'load_data'"
When I run hmm.py example, there is an error.
AttributeError: module 'dmm.polyphonic_data_loader' has no attribute 'load_data'
Then I check the polyphonic_data_loader.py, and I cannot find load_data(). Is there anything missing?
Thank you!

[2018-11-24 17:30] neerajprad commented on #1566
Please use the `dev` branch of Pyro to run the `hmm` example. You should be able to see `load_data` in `poloyphonic_data_loader` on the dev branch. Note that this will be part of the next release in a few weeks.

[2018-11-24 17:30] #1566 closed

[2018-11-24 21:40] eb8680 commented on #1565
I don't know the topic model literature well enough to say whether there's a paper about that specific model and inference setup, but similar ideas have appeared pretty frequently in the last few years, e.g. the [Neural Variational Document Model](http://proceedings.mlr.press/v48/miao16.pdf) or [Neural Statistician](https://arxiv.org/abs/1606.02185).

Also, for future reference, please ask questio

[2018-11-25 20:10] jpchen commented on #1566
i like (3). i was actually thinking of adding a README to examples as a short-term remedy, since most people discover them through the github webpage.

[2018-11-25 21:09] fehiepsi opened #1567 "Error "Cannot install a messenger instance twice""
I am trying to use `autoname` module but keep getting the error in the title.

[code]
I am not sure how to solve this problem. There is a note about raising this error in the [messenger.py](https://github.com/uber/pyro/blob/dev/pyro/poutine/messenger.py#L61) file and the following script does not raise any error
[code]
I appreciate any help!

[2018-11-25 22:32] eb8680 commented on #1567
Your two scenarios are not equivalent.  This error is caused by the way decorators work: the decorator is called once at class definition, not each time a new instance is created.  A version of the second scenario that should raise the same error as the first is:
[code]

The safest way to get around this is to use `name_count` as a context manager:
[code]

[2018-11-25 22:50] fehiepsi commented on #1567
Thank you so much @eb8680 ! Your solution works like a charm.

[2018-11-25 22:50] #1567 closed

[2018-11-26 00:30] dongfeng951 commented on #1565
Hi, Thank your very much!

[2018-11-26 00:31] dongfeng951 commented on #1566
Hi, Thank you very much!

[2018-11-26 04:58] neerajprad commented on #1566
I think (3) is best (i.e. each example has an associated minimum version), since examples might build on functionality that require the `dev` branch and it might not be feasible to port those changes to master always.

[2018-11-26 06:47] eb8680 commented on #1565
Happy to help!

[2018-11-26 06:47] #1565 closed

[2018-11-27 01:14] neerajprad opened #1570 "Checklist for Pyro 0.3 release"
- [x] Verify CUDA tests are running fine. @neerajprad
 - [x] Update dockerfile if needed. @neerajprad, @jpchen
 - [x] Collect release notes from all devs
 - [x] #1406 @jpchen
 - [x] #1655 Update `.travis.yml` and `setup.py` to use release version instead of the pinned nightly build. @neerajprad
 - [x] #1655 Update README with setup instructions for dev.
 - [x] Verify that all [issues](https://gith

[2018-11-27 04:38] eb8680 commented on #1272
@jpchen @neerajprad what's the status of this in PyTorch 1.0?  Can this be closed?

[2018-11-27 04:39] eb8680 commented on #746
@fritzo @neerajprad can this be closed?

[2018-11-27 04:41] eb8680 commented on #269
@jpchen this seems like an easy fix, do you want to get this into 0.3?

[2018-11-27 04:41] eb8680 commented on #1180
@neerajprad what's the status of this in PyTorch 1.0?

[2018-11-27 04:49] neerajprad commented on #1180
This can be closed now since we have already implemented `.expand` methods directly for each of the distributions. There are still a few optimizations we can make there. e.g. https://github.com/pytorch/pytorch/issues/11389 but that's a micro-optimization on the pytorch side.

[2018-11-27 04:49] #1180 closed

[2018-11-27 05:34] fehiepsi commented on #1519
Please find a solution for this issue and discussions why such solution is not appropriate to merged in #1562.

[2018-11-27 05:34] #1519 closed

[2018-11-27 05:45] fehiepsi commented on #1470
This is closed because the comparison is not fair for both frameworks (different models). About performance issue, it is tracked in #1511.

[2018-11-27 05:45] #1470 closed

[2018-11-27 05:52] fehiepsi commented on #1532
@fritzo @neerajprad Are the slowness and flakiness fixed? If not, I’ll take a look. We might just change random seed, or num steps, step size though.

[2018-11-27 05:53] fehiepsi commented on #1570
Revising gp module too. ^^

[2018-11-27 18:22] jpchen commented on #269
yeah i can do this, it's not a release blocker though.

[2018-11-27 20:44] neerajprad commented on #1570
@fehiepsi - This is mostly just a checklist to tick off before cutting the release. All code related changes should have a milestone, and should be covered under `issues tagged with the pyro-0.3 milestone` check above.

[2018-11-27 21:34] fritzo commented on #746
Closing as obsolete

[2018-11-27 21:34] #746 closed

[2018-11-28 02:13] gursimar opened #1574 "Sites does not support different datatypes (Long and Float)"
### Issue Description
Sites does not support both float and long tensor types. I introduced another categorical variable in the weather example, and put that in the sites for the importance sampling but it throws a type error saying that a float tensor was expected. I saw pytorch's documentation that they return a Long tensor when sampling from a Bernoulli and a FloatTensor when sampling from a Ca

[2018-11-28 02:45] eb8680 commented on #1574
Thanks for pointing this out.  To be clear, the issue is that `pyro.infer.EmpiricalMarginal` does not support computing the joint marginal distribution of sites with different types, because it tries to `torch.stack` values at each site in a single sample from the joint distribution.

As of #1524 we've removed most uses of `EmpiricalMarginal` from the tutorials and examples except in `HMC`, where

[2018-11-28 04:21] gursimar commented on #1574
Thanks for making it clear. I agree with you that marginal of the joint might not be an important use case but this issue also appears while computing multivariate posterior (with different types) which is an important use case in my opinion. Am I missing something? Is there another way to condition on some data and find a posterior (having latents are a mix of Categorical and Bernoulli variables)

[2018-11-28 06:36] neerajprad commented on #1540
I think the issue is most likely that the torchvision dataloader is deadlocking in pytorch-1.0 for some reason. I'm still investigating it.

[2018-11-28 17:10] fritzo commented on #1551
This was mostly completed in #1555

[2018-11-28 17:10] #1551 closed

[2018-11-28 20:03] fehiepsi commented on #1574
@gursimar If you want, you can do this way
[code]
Or you can modify the MarginalEmpirical class to something like
[code]

[2018-11-28 21:41] fritzo commented on #1063
I believe this is closed by #1431

[2018-11-28 21:41] #1063 closed

[2018-11-28 22:20] fritzo opened #1581 "OED example throwing NANs, flaking CI tests"
Example error log:
https://travis-ci.org/uber/pyro/jobs/460986415

<details>

[code]

</details>

[2018-11-28 23:37] #1355 closed

[2018-11-29 04:37] #1475 closed

[2018-11-29 13:41] aredd-cmu commented on #1287
@neerajprad @slaweku I'm working on a project for term project where we would like to implement the algorithm in pytorch. Can you offer a few more details on the issues you've seen?

[2018-11-29 15:35] slaweku commented on #1287
Hi,
Accuracy of trained models is worse than original ones in C++/Dynet code.
In M4 Competition I have two types of models: ones that used a simple
ensemble and "ensemble of specialists" where I train concurrently a number
(5-7) RNNs and they are forced to specialize in a subset of data. This
second approach works usually better and was the first I converted from C++.
However, due to slowness of P

[2018-11-29 18:01] kgero opened #1584 "GMM tutorial broken in current dev build"
### Environment
Mac OS, Python 3.6.1. Originally installed pyro with pip.

torch=0.4.1 pyro=0.2.1

### Issue
I was having the same issues as areshytko (see on the forum [here](https://forum.pyro.ai/t/gmm-example-in-documentation-gives-warning-about-from-traceenum-elbo/394/5)) when trying to run the GMM tutorial (http://pyro.ai/examples/gmm.html).

[code]

While it would run, the results were bad -

[2018-11-29 18:31] neerajprad commented on #1584
The `dev` branch in Pyro is currently tracking the PyTorch pre-release to prepare us for a release next week. I think the example should run if you were to install pytorch [pre-release](https://pytorch.org/), but let me know if you face any issues.

[2018-11-29 18:44] aredd-cmu commented on #1287
Thanks @slaweku! Does your python implementation mirror the Dynet implementation? Based on my analysis of your code, this is being run on the CPU, one-series-at-a-time? Based on your experience is batching and running on a GPU possible?

[2018-11-29 18:57] neerajprad opened #1586 "Perf bug in multivariate normal due to inefficient .expand"
Ref. https://github.com/uber/pyro/pull/1582.

There is a perf bug in MVN, and lowrank MVN `log_prob` methods on expanded instances (i.e. instances coming from `mvn.expand()`). @fehiepsi already has a patch for it. I am running our test suite to see if this might also affect other distributions.

[2018-11-29 19:29] neerajprad commented on #1584
My recommendation would be to use the `pytorch-0.4.0` branch (which has all recent changes) which is compatible with pytorch version 0.4.0, for another week or so until release, so that you don't have to deal with constant flux on both PyTorch and Pyro as they prepare for release!

[2018-11-29 20:42] fritzo commented on #1375
Closing in favor of #1570

[2018-11-29 20:42] #1375 closed

[2018-11-29 20:54] fehiepsi commented on #1586
#1588 should fix some slowness. Another thing related to mvn (but I guess it also happens for other distributions too) which is not relevant to this bug, but I want to put here for record:
- With event_shape < 50, pytorch 0.4 is faster than pytorch 1.0
- With event_shape > 50, pytorch 1.0 is starting outperforming pytorch 0.4

[2018-11-29 21:01] neerajprad commented on #1586
The pytorch devs did mention that there is some tensor overhead that was added after `0.4` due to which small models are likely to be slower. https://github.com/pytorch/pytorch/pull/9320 was an attempt to rectify that.

[2018-11-29 21:53] fehiepsi commented on #1586
Following your link, I can see there are many interesting stories about the performance of 0.4 vs 1.0. Thanks @neerajprad !

[2018-11-29 21:57] neerajprad commented on #1584
Closing this, please feel free to reopen if you continue to see issues.

[2018-11-29 21:57] #1584 closed

[2018-11-29 23:24] #1560 closed

[2018-11-30 12:35] AlejandroCatalina commented on #1549
I thought of opening a new issue but I figured this one worked just fine!

First of all I want to congratulate all contributors because pytorch + pyro look really really nice, I'm looking forward to implementing actual models with them!

Nonetheless, I came here looking for a nice probabilistic implementation, and, as always, the first example I look at is the gaussian process. In this regard, I'v

[2018-11-30 14:24] fehiepsi commented on #1549
Hi Alex, thanks for your question! We have a forum at https://forum.pyro.ai/. If you open a topic there, I am happy to have a throughout discussion with you. For time being, here is what I have in my mind
1. With the old API, you can just simply use `.fix_param(...)` method. With the new API #1544, parameters are parameters of a PyTorch module, so you can change its value as you change the value o

[2018-11-30 14:34] AlejandroCatalina commented on #1549
Great! I’m opening a topic at the forum so we can have a more detailed discussion. I will address your comments directly there ;).

Thanks!

Best,
Alex
On 30 Nov 2018, 15:24 +0100, Du Phan <notifications@github.com>, wrote:

[2018-11-30 15:00] AlejandroCatalina commented on #1549
I’m having trouble creating an account on the forum (the activation mail doesn’t arrive at all).

Anyway, when I put a prior on the noise to run the HMC algorithm it raises an error
[code]
I guess it's triggered from trying a too small noise level and having a singular covariance matrix as a result. Do you have a working example with HMC that I can check out?

Best,
Alex
On 30 Nov 2018, 15:24 +010

[2018-11-30 15:45] slaweku commented on #1287
Hi,
Yes, one series at a time on CPU. Batching is possible, but my attempts to
use the clever "auto batching" of Dynet was detrimental to the accuracy and
not really improving the speed.
In pytorch you need to take care yourself of creating a proper batch, and
it is certainly possibly, but code is complicated, as you need to deal with
updates of seasonality components and levels - doing it on a bu

[2018-11-30 15:54] fehiepsi commented on #1549
Huhm, what is your prior? Your prior should have a lower bound (say e.g. 1e-6) for `noise` to avoid this singularity. To avoid this confusion, I will make a change in #1544 to always add `jitter` to diagonal of kernel. Thanks for reporting!

[2018-11-30 16:13] AlejandroCatalina commented on #1549
I set a LogNormal prior, but didn’t know how to set a lower bound. Are there any common priors for noise in pyro?

Thanks!

Best,
Alex
On 30 Nov 2018, 16:56 +0100, Du Phan <notifications@github.com>, wrote:

[2018-11-30 16:18] fehiepsi commented on #1549
@Alex While waiting for #1544, how about using Uniform prior?

[2018-11-30 16:38] fehiepsi commented on #1549
I have slack account in PyTorch slack (name fehiepsi). I think we'd better discuss there to avoid creating many notifications to other devs.

[2018-11-30 18:56] fehiepsi opened #1594 "JIT for differentiable_loss"
Currently, we have `jit` version of `loss_and_grads`. It would be nice to have that version for `differentiable_loss` too. I expect that it would be similar?

[2018-11-30 19:22] neerajprad commented on #1549
@jpchen ^

[2018-11-30 20:16] eb8680 commented on #1594
Just use `pyro.ops.jit.trace`:
[code]

[2018-11-30 20:31] eb8680 commented on #1594
Note that `pyro.ops.jit.trace` is just a thin wrapper around `torch.jit.trace` that makes sure `pyro.param` statements are visible, so you might even be able to just use `torch.jit.trace` if you're getting your parameters from a `nn.Module` and not ever interacting with the parameter store.

[2018-12-01 00:50] fritzo commented on #958
@martinjankowiak @jpchen can we close this now that #1592 has merged?

[2018-12-01 00:52] jpchen commented on #958
yeah i think it's no longer a release blocker, additional examples/fixes would be minor.

[2018-12-01 00:52] #958 closed

[2018-12-01 06:48] #1554 closed

[2018-12-01 07:03] jpchen commented on #1406
closing as most have been addressed, the rest are low priority, too much effort, or not targeted for this release.

[2018-12-01 07:03] #1406 closed

[2018-12-01 07:28] #269 closed, assigned to jpchen

[2018-12-01 14:09] kamathhrishi commented on #1453
Can I work on this issue ?

[2018-12-02 06:54] jpchen commented on #1581
cc @martinjankowiak

[2018-12-02 15:13] fehiepsi commented on #1581
I can take a look at this. While revising GP, I have debugged `oed`, so know a little bit about how it works.

[2018-12-02 15:48] martinjankowiak commented on #1581
well, i'm not even sure whether we'd like the version of `contrib.oed` that's in dev to be part of the 0.3.0 release. @ae-foster ??

[2018-12-02 16:35] fehiepsi commented on #1586
This is already fixed.

[2018-12-02 16:35] #1586 closed

[2018-12-02 19:54] fehiepsi commented on #1487
The bug is reported at: https://github.com/pytorch/pytorch/issues/13669

[2018-12-02 19:56] neerajprad commented on #1487
Thanks @fehiepsi. Let us keep the issue open so that we can uncomment the tests once the upstream issue is resolved, and verify the fix.

[2018-12-02 23:19] fehiepsi commented on #1532
This is closed because Neeraj already marked skip for these tests.

[2018-12-02 23:19] #1532 closed

[2018-12-03 03:32] fehiepsi commented on #1458
@neerajprad It seems that we can close this?

[2018-12-03 03:35] neerajprad commented on #1458
Closing this, as I have not seen this in a while. Will reopen if this continues to be an issue.

[2018-12-03 03:35] #1458 closed

[2018-12-03 04:05] fehiepsi commented on #1272
I just quickly go through bug tagged issue and confirm that this is still happen in PyTorch 1.0.

[2018-12-03 18:39] beckybai commented on #1563
Does pyro 0.3 needs pytorch 1.0?

[2018-12-03 18:49] neerajprad commented on #1563
That's right. We are waiting for pytorch 1.0 release before releasing pyro 0.3, but you should be able to use the pytorch pre-release version with pyro 0.3.

[2018-12-03 20:04] fehiepsi commented on #1418
Closed because these tests have been solved in #1617.

[2018-12-03 20:04] #1418 closed

[2018-12-03 20:10] fehiepsi commented on #1373
Tests in `oed` and `glmm` have been resolved in #1617. So I change the title of this to reflect a better situation. We still need to implement a CUDA version for oed example.

[2018-12-03 21:18] #1421 closed

[2018-12-03 22:12] fehiepsi commented on #1421
@neerajprad Do you have a good new? I thought `log_prob` for of small models is still more expensive than before?

[2018-12-03 22:13] fehiepsi commented on #1421
Ah, I just saw your announcement in pytorch. +1

[2018-12-03 22:30] neerajprad commented on #1499
Closing this - let us track this issue upstream in https://github.com/pytorch/pytorch/issues/11030 where it belongs.

[2018-12-03 22:30] #1499 closed

[2018-12-04 05:50] neerajprad opened #1622 "baseball.py example freezing on travis intermittently"
I noticed in https://github.com/uber/pyro/pull/1619 that the baseball.py example in `test_examples.py` froze midway and the build terminated due to `no output received`.

My guess is that this is an issue with python multiprocessing not playing well on travis. If we continue to see this, I will default to running a single chain on travis.

[2018-12-04 05:53] fritzo commented on #1622
Maybe if `multiprocessing.cpu_count() == 1` we should execute synchronously rather than in parallel?

[2018-12-04 05:59] neerajprad commented on #1622
Currently, we would throw a warning in that case (I haven't seen such a warning on travis though), and set the number of processes to max cpu count. I just noticed though that we would still end up spawning a separate process rather than executing synchronously. I'll make that fix.

[2018-12-04 14:11] fehiepsi commented on #1622
@neerajprad Do you think that this causes `sv-dkl` fail? It's "maybe" to me. ^^

[2018-12-04 18:39] neerajprad commented on #1622
@fehiepsi - `sv-dkl` is just extremely slow. It doesn't freeze. You can see from the console output that it is progressing very slowly and hence times out because the entire stage takes longer than 50 mins. It also has a much higher failure rate (fails more than 50% of the times). This example on the other hand, doesn't fail often, but when it fails it just freezes and doesn't emit anything on to

[2018-12-04 18:50] fritzo commented on #1622
One pattern I've often used in the past is
[code]

[2018-12-04 18:54] #1594 closed

[2018-12-04 19:37] fehiepsi commented on #1622
@neerajprad I agree that it is extremely slow frequently in Travis recently. What I mean is that there might be some relevant to how much bandwidth Travis gives it in those cases. In our example tests, there are just two tests which consumes a lot of CPU cores: `sv-dkl` and `ss-vae`. It might not affect much other tests but for these two tests, they will be heavily affected. The thing is that `ss-

[2018-12-04 21:09] neerajprad commented on #1622
I expect that `baseball.py` example would be fixed with #1624. Regarding `sv-dkl`, I doubt if it is (solely) a travis issue because it was working without fail prior to pytorch-1.0 merge. There has to be some perf bug that we haven't isolated yet. :) On the other hand, `baseball.py` has been infrequently failing for a while even before the merge.

[2018-12-05 03:46] neerajprad commented on #1622
Closing this, please feel free to open if we notice this issue again.

[2018-12-05 03:46] #1622 closed

[2018-12-05 21:40] eb8680 commented on #1451
@robsalomone have a look at [minipyro.py](https://github.com/uber/pyro/blob/dev/pyro/contrib/minipyro.py) and #1629

[2018-12-05 22:42] #1451 closed

[2018-12-06 00:55] neerajprad commented on #1520
Removing from the milestone - the only major task left is to support parallel chaining with CUDA.

[2018-12-06 02:06] fehiepsi commented on #1520
I think we can merge this and https://github.com/uber/pyro/issues/1093. In issue 1093, it seems that there is only one remaining issue: "Detect divergent transitions, and log them for analysis. Throwing a NaN here during sampling as we might do now with validation check enabled, is not very useful to the end user."

[2018-12-06 04:18] #1520 closed

[2018-12-06 08:36] #1479 closed

[2018-12-06 18:34] kgero opened #1640 "Dirichlet log_prob fails with ValueError: The value argument must be within the support"
### Issue Description
I'm building a model similar to LDA, but with a time-dependence on the topic proportions.

Here's the model:

[code]

When I run SVI with dummy data, it runs fine. However, when I increase the vocabulary size (seems to be at 14) I get `ValueError: The value argument must be within the support` when calculating the `log_prob` of `beta`.  This seems to be because the tensor is

[2018-12-06 18:41] eb8680 commented on #1640
Can you try using the latest version of Pyro's 'dev' branch and the most recent PyTorch 1.0 nightly build and see if the issue is still there?

[2018-12-06 19:54] martinjankowiak commented on #1640
this may also be due to stochastic learning difficulties (e.g. too high a learning rate can take you bad places)

[2018-12-06 20:05] fritzo commented on #1640
Hi @kgero I believe Pyro turns on validation whereas the command line version does not. Since this looks like an ignorable precision issue, you can disable validation at that one sample by setting `validate_args=False`:
[code]

[2018-12-06 20:09] kgero commented on #1640
Updating the version did not fix the problem. My version is now

[code]

However, introducing `validate_args=False` did. Still seems strange that it should fail the sum to 1 -- do you want me to close the issue?

[2018-12-06 21:06] fritzo commented on #1640
I'm ok leaving the issue open for now. If other users see the same error, we may loosen the validation upstream in PyTorch.

[2018-12-07 01:19] #1581 closed

[2018-12-07 03:04] kgero opened #1647 "Sample from Categorical returning wrong shape"
### Issue Description
When sampling from a Categorical, my model continually makes a larger and larger tensor -- even though, as I understand it, it should always be returning an integer. I can't recreate this in the terminal, unfortunately, but here is my model:

[code]
And here is a sample output showing the shape of `z` getting larger and larger:

[code]

### Environment
Mac OS, Python 3.6.5
to

[2018-12-07 03:10] fritzo commented on #1647
That's actually the intended behavior of enumeration. What's happening is that Pyro allocates new dimension for enumeration, implicitly creating an enormous many-dimensional tensor, but via cheap-to-reason-about factors. Take a look at the [tensor shapes tutorial](https://github.com/uber/pyro/blob/dev/tutorial/source/tensor_shapes.ipynb) and [enumeration tutorial](https://github.com/uber/pyro/blob

[2018-12-07 04:16] fritzo commented on #1647
Closing since this is actually not a bug. Feel free to continue discussion here on or forum.pyro.ai.

[2018-12-07 04:16] #1647 closed

[2018-12-07 18:47] #1480 closed

[2018-12-07 19:19] fritzo commented on #1452
Closing for now, since this was mostly addressed in #1623 and #1630 . Thanks @jpchen!

[2018-12-07 19:19] #1452 closed

[2018-12-07 19:21] fritzo commented on #979
Removing from 0.3 milestone, since we already have HMC/NUTS in Bayesian Regression part II #1630 and in the jit tutorial. I'll leave this open for the baseball tutorial.

[2018-12-07 22:18] #1419 closed

[2018-12-08 00:13] #1570 closed

[2018-12-08 00:41] fehiepsi commented on #1574
By #1649, we can call `.marginal().support()` on a posterior to get support of each latent site. Given that we have exposed `.log_weights` in TracePosterior, we are able to obtain this by using 3 lines of code
[code]
Given that mixed types are not suitable for Empirical distribution, I'll close this because this is not an issue.

[2018-12-08 00:41] #1574 closed

[2018-12-08 22:18] adam-erickson commented on #1549
Quick question - how does one extend the excellent [example](http://pyro.ai/examples/bo.html) on Bayesian optimization to the case where a vector of parameters needs optimization rather than single value? I would ask on the forum, but it's not working for me at the moment.

[2018-12-08 23:54] fehiepsi commented on #1549
@adam-erickson In BO tutorial, each data point has shape 1. To extend it to a vector of parameters, just simply let each data point has shape `D` (with D is the number of parameters). In other words, `X` will have shape `N x D` in that case.

[2018-12-09 04:37] stefanwebb commented on #1517
@fritzo this was taken care of in a recent PR with the `TransformModule` class as you'll recall :)

Hi @boathit, I'm a contributor to Pyro who's been working on adding normalizing flow features. I don't mean to step on your turf, but I was thinking there might be a lower opportunity cost for me to add this feature to Pyro since I'm familiar with the code. Would you mind if I took your code and ada

[2018-12-09 05:04] boathit commented on #1517
Hi Stefan, I will be very happy if you could add it to Pyro.

Stefan Webb <notifications@github.com> 于 2018年12月9日周日 12:37写道：

[2018-12-10 01:46] #1415 closed

[2018-12-10 13:10] PineappleLee commented on #995
If you lift the Module with lambda?: lambda x: pyro.module("net", net)(x), the program would thought it a expression, it is not a Module anymore, so the optimimizer couldn't learns parameters.

[2018-12-10 13:11] PineappleLee commented on #995
If you lift the Module with lambda, like lambda x: pyro.module("net", net)(x), the program would thought it a expression, it is not a Module anymore, so the optimimizer couldn't learns parameters.

[2018-12-10 23:03] fehiepsi commented on #1540
I have tried various assumptions in #1612 without successful. Here are my observations:

+ This seems like a DataLoader problem: I disable `forward` and `backward`, failed travis can be seen  at https://travis-ci.org/uber/pyro/jobs/465717303.
+ Because `vae` example also requires MNIST dataloader but it didn't fail in Travis. I thought that the torchvision Normalize transform might be the problem.

[2018-12-11 02:55] neerajprad commented on #1540
Maybe we can try `shuffle=False` and see if that at least gives the same loss.

[2018-12-11 04:19] fehiepsi commented on #1540
It seems that there is a regression in `conditional` function. In the commit which I mentioned above (about DataLoader problem), I forget to disable `forward` pass of `test` function. So DataLoader might not be a problem. I'm investigating more.

[2018-12-11 06:12] fehiepsi commented on #1540
Finally, I can isolate the slowness: `nn.Conv2d`.
+ When test passes ([line 1158](https://travis-ci.org/uber/pyro/jobs/466354602)): it took 0.00779986381531s.
+ When test fails ([line 1121](https://travis-ci.org/uber/pyro/jobs/466354604)): it took 0.7628870010375977s.

This [topic](https://github.com/pytorch/pytorch/issues/14456) might be relevant.

[2018-12-11 18:59] #1487 closed

[2018-12-12 00:49] neerajprad commented on #1540
Wow..great job debugging this! I wish this could have been fixed in release, because it seems like a serious regression (not so much for Pyro, but other users).

[2018-12-12 03:37] fehiepsi commented on #1540
@neerajprad It just happens on Travis. I can't replicate it locally even when I install PyTorch from pip: `https://download.pytorch.org/whl/cpu/torch-1.0.0-cp36-cp36m-linux_x86_64.whl` :(

[2018-12-13 17:46] fehiepsi commented on #1511
@neerajprad Totally agree! I just do profiling with both jit and nojit ([hmm_2.zip](https://github.com/uber/pyro/files/2677074/hmm_2.zip)). Most of time is spent for computing `_potential_energy` and its grad, so the slowness is not related to hcm/nuts.

It is surprised to me that distributions' `log_prob` just take 40s in the total 250s to compute `trace_log_prob`. Lots of time is spent on `sumpr

[2018-12-13 17:55] fritzo commented on #1511
In the HMM example the distribution  `log_prob` computation is merely a `gather`, i.e. memcopy; all actual computation is done by sumproduct when combining `log_prob` tensors from multiple sites, i.e `matmul` and `einsum`.

[2018-12-13 18:04] fehiepsi commented on #1511
@fritzo That makes sense! So the slowness is expected for models with discrete variables.

[2018-12-13 18:51] fehiepsi commented on #1549
Closed, I will write a blog for deep gaussian process instead.

[2018-12-13 18:51] #1549 closed

[2018-12-17 21:40] neerajprad opened #1673 "Pyro NUTS inference slow when compared to the same PyMC3 model"
For the same models below, the PyMC3 model finishes within a second, whereas the Pyro model has an extremely slow rate of progress. I came across this perf issue while working on a larger model, and isolated it to the example below. I am not sure if this is a perf bug, or whether PyMC3 uses some adaptation tricks, but it is worth looking into and learning from. The cause of the slowdown is the ver

[2018-12-17 22:37] MrHuff opened #1674 "Can't use L-BFGS due to the closure argument"
### Issue Description
When doing:

optim = pyro.optim.PyroOptim(torch.optim.LBFGS,{})
svi = SVI(model, guide, optim, loss=Trace_ELBO(), num_samples=1000)

for some model and guide I specified according to the Bayesian Regression I can't run svi.step(...).

### Environment
 - OS and python version: Fedora 29, 3.6.7
 - PyTorch version: 1.0 (stable release)
 - Pyro version: 0.3.0

### Code Snippet

W

[2018-12-17 22:43] fehiepsi commented on #1674
For an example of using LBFGS, you can take a look at [this method](https://github.com/fehiepsi/rethinking-pyro/blob/master/notebooks/rethinking.py#L54). Please take a look at [Custom SVI Objectives](http://pyro.ai/examples/custom_objectives.html#A-Lower-Level-Pattern) tutorial for better understanding.

[2018-12-17 23:08] MrHuff commented on #1674
Thanks a lot @fehiepsi

[2018-12-17 23:15] eb8680 commented on #1674
Closing as duplicate of #1519

[2018-12-17 23:15] #1674 closed

[2018-12-18 00:20] fehiepsi commented on #1673
Here are some of my thoughts on this:
- I think that this model is not a good setup for the data. The data here is pretty large for a Poisson distribution, so the initial energy will be pretty large. Hence it makes sense to have a very small initial step_size (given that we fix inverse_mass_matrix during the initial window adaptation).
- I guess we can fix this problem by initializing the initial

[2018-12-18 06:50] neerajprad commented on #1673
This is from a larger model from a user (originally written in PyMC3), and the above is just a minimal example that is representative of the issue. I do agree that this is not an ideal model setup, but I also think that we can use this simple case to make NUTS more robust (and awesome), both because bigger more complex examples might exhibit similar patterns, and for a better user experience. Cons

[2018-12-18 12:17] fehiepsi commented on #1673
It is surprised to me that Stan is fast on this. Given only 1 data, latent `l` will converge to a value with very small variance. Hence `alpha / beta` also converges to a value, which implies that they are highly correlated.

If small step_size is a real problem, then I guess we can scale initial_mass_matrix to let step_size have a higher value at the end of get_reasonable_step_size method. Theore

[2018-12-18 17:05] martinjankowiak opened #1676 "add tutorial/example with missing data"
doing this properly may involve adding some extra machinery, e.g. tensor observations that are partially observed

[2018-12-18 17:09] martinjankowiak opened #1677 "add listicle with common gotchas and solutions"
- [ ] forgetting `param` or `module`
- [ ] forgetting to constrain things like `scale` to be positive
- [ ] maybe some generic advice about stochastic optimization (try a lower learning rate!)
- [ ] what else?

[2018-12-18 18:03] fehiepsi commented on #1673
I just run the program and observe that the small step_size happens at the initial window adaptation, not find_reasonable_step_size. I'll further see how Stan deals with this small step_size problem.

[2018-12-19 01:32] neerajprad commented on #1673
The scale of the parameters is so vastly different, that I'm not surprised that we need a small step size, but I would have expected that the mass matrix would help neutralize some of that and make it faster.

My guess is that we need many more slower adaptation windows for mass matrix to be correctly adapted, but in the meantime, we are just stuck with such low step size as to make it impossible

[2018-12-19 05:17] jpchen commented on #1677
where would this list live? some of these can be more adequately addressed as warnings

[2018-12-19 13:57] boathit commented on #1517
@stefanwebb You are correct, it should be `x.var` instead of `x.std`. The implementation also looks good to me.

Besides, I find your IAF implementation may blow up the memory; as the cached `x` ([this line](https://github.com/uber/pyro/blob/dev/pyro/distributions/iaf.py#L92)) may never be popped up since we rarely do the inverse computation for the same `y` in the usage of IAF.

[2018-12-19 23:47] mileslucas opened #1679 "Batching Gaussian Processes"
To begin I tried logging in with GitHub and also creating an account on the pyro forums, but neither of those is working.

### Problem

I need to fit a batch of four independent Gaussian Processes and I don't want to have to use for loops for fitting each one. The current GP's are able to broadcast properly to my outputs, but I can't batch them so that the inputs are independent.

My input data is

[2018-12-19 23:58] martinjankowiak commented on #1679
i suggest using a combination of pyro and gpytorch instead of pure pyro.contrib.gp.
importantly for you, gpytorch has better support for batched GPs. priors and the like
you may want to do in pyro.

for example, see here:

https://github.com/cornellius-gp/gpytorch/tree/master/examples/09_Pyro_Integration

we are in any case considering integrating pyro.contrib.gp more closely with gpytorch.

[2018-12-20 01:32] dongfeng951 opened #1681 "the sum of doc_topics is not equal 1"
Hi, I have a question. when I run lda.py, I find the sum of `doc_topics` is not equal 1. In fact, they are decreasing in the training process.
I check the code, I find `doc_topics` is just output of sigmoid functions, so there is no mechanism to guarantee the sum is 1.
But I think in the LDA model, the sum should be one.
Is there something wrong?
Thanks

[2018-12-20 04:15] fehiepsi commented on #1679
I think that you can resolve first question with:
`kernel.set_prior("lengthscale", dist.Gamma(priors[0], priors[1]).to_event())`

For second question, if you want a multitask GP, you can use VariationalGP class and define `latent_shape = torch.Size([4])`.

[2018-12-20 05:16] fehiepsi commented on #1679
You need to make `length_scale=(3,)`. Variational parameters will learn the correlation between output for you.

Another way to do MultiTask GP is to use [Coregionalize kernel](http://docs.pyro.ai/en/0.3.0-release/contrib.gp.html#coregionalize). You need to expand input X to have shape (264 x 4, 7), where 4 extra dimensions are the one-hot encoding for 4 GPs. The drawback of this approach is the d

[2018-12-20 05:18] mileslucas commented on #1679
To clarify your first point-
I need the shape of `length_scale` to be `(3,)` and through the variational process, I can be given 4 sets of shape `(3,)` length scales corresponding to each GP?

[2018-12-20 05:38] jpchen commented on #1679
@mileslucas it seems to be hitting the daily throttles on our email client. could you try again in 24 hours and see if you still have this problem?  sorry for the inconvenience, we haven't gotten to migrating off our existing backend for the forum.

[2018-12-20 06:13] eb8680 commented on #1681
This constraint is enforced by [`distributions.Categorical`](https://pytorch.org/docs/stable/distributions.html#categorical), which normalizes its inputs.

In the future, please ask questions on the [forum](https://forum.pyro.ai/).

[2018-12-20 06:13] #1681 closed

[2018-12-20 06:19] dongfeng951 commented on #1681
Thank you. So I have to add  `distributions.Categorical` to the outputs to make the sum equal one?

I will ask questions on that forum.

[2018-12-20 06:30] eb8680 commented on #1681
In the LDA example, the topic probabilities you were concerned about are passed into `Categorical`, where they are normalized automatically.  If you want to work with them directly, you can just normalize them yourself by summing and dividing by the sum: `probs = probs / probs.sum(-1, keepdim=True)`

[2018-12-20 06:32] dongfeng951 commented on #1681
But I find the sum of `doc_topics` not equal one. Therefore, I raise this question.

[2018-12-20 06:39] eb8680 commented on #1681
The `doc_topics` value in the guide is passed into a `Categorical` in the model by `SVI` during training, so inference works as expected.  If you want to work with `doc_topics` from the guide directly, you'll need to normalize them yourself, as I said.

[2018-12-20 06:40] dongfeng951 commented on #1681
Thanks. I understand it.

[2018-12-20 22:40] fehiepsi commented on #1677
I think wiki is a good place. :)

[2018-12-21 05:15] #1673 closed

[2018-12-21 09:48] lx865712528 commented on #1640
Hello! I met the same problem just now, and after I commented the line `pyro.enable_validation(True)`, my program works well

[2018-12-22 04:54] mileslucas opened #1682 "[bug] No pyro.optim"
### Issue Description
Pyro does not have an optim module

### Environment
For any bugs, please provide the following:
 - OS and python version. Windows 10 python 3.7
 - PyTorch version, or if relevant, output of `pip freeze`. pytorch 1.0.0
 - Pyro version: output of `python -c 'import pyro; print pyro.__version__'` pyro 0.3.0

### Code Snippet
Provide any relevant code snippets and commands run to

[2018-12-22 18:30] fehiepsi opened #1683 "Add docs for abstract_infer's methods"
Currently, some methods in `abstract_infer` classes (and their derived classes) miss docs explaining its purpose (as reported in [forum](https://forum.pyro.ai/t/how-to-begin-learning-probabilistic-programming/519/3), so we need to add them. I collect some of them here for reference:

- [Marginals](http://docs.pyro.ai/en/0.3.0-release/inference_algos.html#pyro.infer.abstract_infer.Marginals) `empir

[2018-12-23 03:06] mileslucas commented on #1679
@fehiepsi @martinjankowiak
Not reopening, but I wanted to do some follow up.

I've spent a large amount of time over the past few days learning more about GPs and doing a lot of implementations using Pyro, GPyTorch, TensorFlow probability, and gpflow.

I really enjoy the overall probabilistic framework of Pyro the most and have found that I much prefer PyTorch to TensorFlow for the work I need to

[2018-12-23 04:41] fehiepsi commented on #1679
@mileslucas Theoretically, GPyTorch will be faster per each inference step for large dataset/mini-batch (>1000). I guess you are running your model on small data (or large data with small mini-batch, small inducing points). I have not used GPyTorch yet but GPyTorch has many tuning parameters to control the result (such as number of Conjugate Gradient steps). You can change them to get a better con

[2018-12-23 04:44] mileslucas commented on #1679
I haven't done a ton of debugging on my GPyTorch models but the first big red flag was always converging to negative lengthscales (with no errors in the process, either).

I have a pretty mediocre implementation of a batch Isotropy kernel, perhaps I could get some tips on how to best implement further?

[code]

[2018-12-23 17:03] fehiepsi commented on #1679
If you have tested that this class works as expected, then I think the only remaining piece is to update `gp.util.conditional` function (for prediction). Most operators will support `batch` (modulo correct transpose operators). It is good that PyTorch has batch Cholesky in its v1.0 version. You only need a batch version of triangle solve, which can be found here: https://pytorch.org/docs/stable/_m

[2018-12-24 04:44] mileslucas commented on #1682
I forgive you for your time, I can't reproduce this either...

I bet you I messed up my namespace somewhere within the Jupyter Notebook I was playing with. Sorry for the bother!

[2018-12-24 04:44] #1682 closed

[2018-12-24 15:01] ciaobladoo opened #1684 "make test: no attribute 'optim' error in 'examples/contrib/oed/ab_test.py'"
### Issue Description
On the latest dev branch, `make test` gives the following error:

_
examples/contrib/oed/ab_test.py:12: in <module>
    from gp_bayes_opt import GPBayesOptimizer
examples/contrib/oed/gp_bayes_opt.py:11: in <module>
    class GPBayesOptimizer(pyro.optim.multi.MultiOptimizer):
E   AttributeError: module 'pyro' has no attribute 'optim'

### Environment
For any bugs, please provi

[2018-12-25 00:03] fritzo commented on #1684
That's weird, my guess is that `make` isn't picking the right conda env / virtual env or something, so that `make test` picks up an outdated pyro version. Can you try to repeatedly
[code]
You can test locally more quickly using
[code]

[2018-12-28 01:00] fehiepsi opened #1685 "JIT trace does not work correctly with pyro.plate"
I am not sure if this is a bug or I am using "pyro.plate" in a wrong way.

The following code shows the issue. I got this issue while trying to train a HMM model. Things work well for non-jit version. If we call `torch.autograd.grad(loss_jit(x), (x,))` two times, it will throw RuntimeError: "Can not go backward 2 times for the graph".

[code]

[2018-12-28 02:40] fehiepsi commented on #1511
I put here a profiling work https://gist.github.com/fehiepsi/75dfbea31b993f165f51524776185be6 for reference.

For the same model, Pyro took 66s while Stan took 33s. The inference results are quite comparable.

But the important point is: it took 32s to compile the Stan model, and only **1s for sampling**!

[2018-12-28 03:04] eb8680 commented on #1511
@fehiepsi the difference may be related to this PyTorch issue about `einsum` performance: https://github.com/pytorch/pytorch/issues/10661

[2018-12-28 18:22] fehiepsi commented on #1685
Excellent! Thanks a lot @eb8680 for a clear explanation! Things work smoothly now. :)

[2018-12-29 06:16] mileslucas commented on #1679
So I've tried fiddling around and I just don't have the skill or knowledge currently to implement this meaningfully. I would really enjoy seeing this kind of feature- its currently a last point of pain for a nice implementation of a specialized likelihood method. I can't really get GpyTorch working for this either- the disjoint between the likelihoods, mlls, kernels, and models is too much to try

[2018-12-29 15:49] erlebach commented on #568
I had a similar problem, with a variable
[code]

Notice the use of sample as opposed to sampling from a normal distribution of mean _x*y_ and small variance. The difference between the two approaches would be in the guide (for a variational method, which I am using). Using the Delta function, there is no need for a corresponding guide sample. After all, y is observed. The guide must contain the co

[2018-12-29 19:02] fehiepsi commented on #1679
@mileslucas This will be addressed in the future. In the meantime, I will make a simple version for you (sometimes during next week).

[2018-12-30 05:03] fritzo commented on #1685
Nice sleuthing, @eb8680! We should fix that line in `Trace.log_prob_sum()` to use `result = result + _` rather than `+=`.

[2019-01-01 20:14] fehiepsi commented on #1685
Closed via #1687.

[2019-01-01 20:14] #1685 closed

[2019-01-01 21:55] rachtsingh opened #1692 "Wishart / InverseWishart / LKJ priors"
Would it be possible to implement Wishart / InverseWishart / LKJ priors?

gpytorch has them [already](https://github.com/cornellius-gp/gpytorch/blob/master/gpytorch/priors/wishart_prior.py), but when I tried mixing in `TorchDistributionMixin` to get something useable in Pyro, I realized that they don't have a `.sample` method.

I don't think it's easy to get efficient samplers for the InverseWisha

[2019-01-01 22:47] eb8680 commented on #1692
You actually don't need a `.sample` method for a distribution unless you want to sample from it - see e.g. [`pyro.distributions.VonMises`](https://github.com/uber/pyro/blob/dev/pyro/distributions/von_mises.py).  Does your use case require sampling from the prior?  Were you getting an error when you tried to use `TorchDistributionMixin` with the GPyTorch versions?

[2019-01-01 22:52] rachtsingh commented on #1692
I was trying to use HMC (NUTS), which I think requires sampling (I do get an NotImplementedError). On second thought, though this might belong in `torch.distributions` instead of here, so feel free to close.

[2019-01-01 23:10] eb8680 commented on #1692
That's just for setting the initial trace - you can hack around that for now by defining a dummy sample method for your prior that just returns an arbitrary appropriately shaped value and is in the prior's support.

[2019-01-02 00:45] rachtsingh commented on #1692
Got it. I just tried it with the patched method, and ran into two issues:

1. We can't merge GPyTorch `Prior` classes and `TorchDistributionMixin` since the former subclasses `nn.Module` but doesn't implement `forward`. So I just recreated the distribution by copying their code (see below).
2. This doesn't work either because:
[code]
which makes sense.

Actually modeling-wise the LKJ prior would b

[2019-01-02 01:44] fehiepsi commented on #1692
How about using LKJ prior for Cholesky? From [Stan reference](https://mc-stan.org/docs/2_18/functions-reference/lkj-correlation.html) LKJ prior for cov will make "the code to run slower and consume more memory with more risk of numerical errors". I think that [LowerCholeskyTransform](https://github.com/pytorch/pytorch/blob/master/torch/distributions/transforms.py#L514) has inverse method. There st

[2019-01-02 04:54] rachtsingh commented on #1692
Huh, that sounded right, but I think I'm missing something. Shouldn't the domain of that transform be `constraints.positive_definite`? And I don't think it should call `torch.tril`, but instead `torch.cholesky` (which now supports batching).

When that's figured out, the implementation looks like:

[code]

[2019-01-02 08:06] activatedgeek commented on #1461
Hey @martinjankowiak, allow me to suggest something.

I'm sure the Bayesian literature has collected plenty of tutorial data sets and tasks over the years (think counterparts for MNIST/CIFAR/COCO from the DL world). It would be a good idea to create issues tagged with "Help Wanted" or "Examples" which state those problems. Anyone interested (including me) to explore the Pyro API and Bayesian Learn

[2019-01-02 17:05] fritzo opened #1693 "Use async cuda op to check for INF, NAN"
@fps7806 suggested we could speed up validation in small models by creating custom async cuda ops that checked isinf and isnan asynchronously and threw an async exception if needed (this exception can be annotated with information of the stack trace at the correct location). It would be nice to reimplement our validation logic using these.

[2019-01-02 18:46] fritzo commented on #1692
[https://github.com/pytorch/pytorch/blob/master/torch/distributions/transforms.py#L514](LowerCholeskyTransform) transforms a matrix with garbage in the upper triangle to a matrix with zeros in the upper triangle, hence the use of `torch.tril` rather than `torch.cholesky`. You should never need to directly access the unconstrained domain (except indirectly via a Pyro optimizer or HMC). To get a pos

[2019-01-02 18:57] fps7806 commented on #1693
Is there a good benchmark we can use to evaluate the benefits of doing this? Ideally we can run a script with/without the exception checking which would give us a best-case speed up.

[2019-01-02 20:52] fritzo commented on #1693
I think a good benchmark would be the Pyro unit tests:
[code]
or what would run more quickly
[code]
We could also focus on a single example under CUDA, e.g.
[code]
and other scripts in `examples/` that accept the `--cuda` flag.

[2019-01-03 03:47] fehiepsi commented on #1692
At one day, we should find a clean way to define unconstrained domain (maybe vector instead of matrix) for LowerCholesky Transform. It will reduce the number of parameters to optimize for these priors.

[2019-01-03 17:05] fehiepsi opened #1696 "jit_compile in NUTS/HMC gives different results in GPU"
I enable CUDA_TEST flag and observe that we get different results between jit and no-jit for the following models: `bernoulli_latent_model` and `gamma_beta`. In CPU, we get identical results. The following command shows the issue:
[code]

[2019-01-04 04:43] fehiepsi opened #1699 "multi-chain mcmc fails for PriorKernel"
Tests in `test_mcmc` will fail if we set `num_chains > 1`. I will add more context about this error later.

[2019-01-04 05:41] #1696 closed

[2019-01-04 05:42] #1683 closed

[2019-01-04 11:01] dogmatic69 commented on #700
I have this same issue on linux, `groupmod: GID '100' already exists`.

I am running on unraid so it pulls direct from docker hub and makes it difficult to modify the dockerfile. Why was this only changed for mac?

[2019-01-04 13:48] neerajprad commented on #1699
As discussed, if `num_chains > num_cpu`, we set number of chains to `num_cpu-1` reserving one for the main process. Since travis machines aren't multi core, we end up with `num_chains=1` and throwing a UserWarning. For the time being, I think it is okay to test any functionality related to parallel chains locally, and capture the `UserWarning` so that travis does not complain (the test should pass

[2019-01-04 14:16] neerajprad commented on #700
We do not provide pre-built docker images on docker hub, so I am not sure what exactly is it pulling. The dockerfile and the corresponding Makefile are meant to be used locally. The UID and GID are picked up from the shell when the make command is invoked, and used to set up a shared workspace. The scripts are meant to be adapted and hacked around, so you can also change those values in the Makefi

[2019-01-04 15:03] fehiepsi commented on #1699
There are some errors with the test in my system (on CPU):

_RuntimeError: Cowardly refusing to serialize non-leaf tensor which requires_grad, since autograd does not support crossing process boundaries. If you just want to transfer the data, call detach() on the tensor before serializing (e.g., putting it on the queue)._

When I replace `x = pyro.param()` by `x = tensor(...)` (which should be equ

[2019-01-04 16:07] neerajprad commented on #1699
Thanks for explaining, I will take a look at this.

[2019-01-05 00:55] fritzo opened #1700 "Silent error when pyro.markov history is too small"
## Problem

Higher-order markov processes require setting `pyro.markov(..., history=t)` for some `t>1`. However when setting `t=1`, Pyro does not notice the enumeration dim conflict.

## Proposed solution

During enumeration, if the newly allocated enum dimension conflicts with a `.batch_shape` dim of the distribution, raise an error.

cc @martinjankowiak who experienced this silent error.

[2019-01-06 17:35] #1700 closed

[2019-01-07 03:52] QijinYin opened #1703 "Get error when running lda.py with “pyro.enable_validation(True)”"
As title described, I add "pyro.enable_validation(True)" at the head of script (examples/lda.py), and run with "python lda.py".

I get an error, saying "ValueError: Error while computing log_prob at site 'topic_words':".

However, the original script without "pyro.enable_validation(True)" can run smoothly.

Thanks for suggestion.

### Environment
 - Centos 7,python 3.6.
 - PyTorch: 1.0.0
 - Pyro v

[2019-01-07 15:38] #1703 closed

[2019-01-08 00:43] #1684 closed

[2019-01-08 17:39] neerajprad opened #1706 "Adaptation in beta-binomial model results in slow mixing with float tensor"
This issue was already discovered by @fehiepsi, and discussed in https://github.com/uber/pyro/pull/1678, but I was recently bitten by it again. As such, this is to track this issue and discuss any solutions / fixes, if there is indeed something that can be fixed.

e.g. model that works very well with default tensor type `torch.DoubleTensor` (as set currently), but is slow with `torch.FloatTensor`.

[2019-01-08 20:19] fehiepsi commented on #1706
Max of tree_depth in PyMC3 of this model is 2. You can set `max_tree_depth=2` to Pyro MCMC to make it fast!

I think that the reason for why Pyro NUTS uses high number of tree_depth is it cannot meet the turning condition due to the extremely small curvature of posterior near the MAP point (except at the MAP point). I guess the precision plays an important role here.

About using a smaller tree_de

[2019-01-08 21:25] fritzo opened #1707 "[FR] Conjugate distributions"
It would be nice to have some basic conjugate distributions. These are especially useful when all local variables can be integrated out. Note that samplers can use the existing distributions, and we need only implement some new math for the `.log_prob()` methods.

It would also be nice to be able to sample the marginalized variable from its complete conditional, e.g.
[code]

In the long-term we'd

[2019-01-09 02:12] fehiepsi commented on #1706
I mean that
```data = {'n': torch.tensor(5000000.), 'x': torch.tensor([3849., 384., 422., 3232., 1123., 2324.])}```

I don't think that setting max_tree_depth considered fine tuning. It is much easier to change than reducing warmup_steps. And we only do it to make things faster.

I don't have my own reason to change it. It is only useful to me if we need speed.

How can we know if 2 is enough? At

[2019-01-09 16:49] neerajprad commented on #1706
I still don't see this issue - sampling seems to work very well. If you further increase number of samples and warmup steps to 300, the convergence diagnostics look good. Did you add `shape=6` to `pm.Beta`?

Sorry, I think I might have caused some confusion, because I think there are at least two independent issues here. So let me try to clarify (let us stick to the simple univariate example that

[2019-01-09 20:30] fehiepsi commented on #1706
No, I didn't. I just used the same PyMC3 model. It is weird that while it only needs 20 warmup steps for Pyro NUTS to get to the typical set; it requires 300 warmup steps for PyMC3. I guess trees in PyMC3 turns so quick that it stops exploring more (or I used PyMC3 in a wrong way) .

It is expected that samples will be correlated because we have Delta posterior (I hope that I am wrong). And becaus

[2019-01-09 20:57] rachtsingh commented on #773
I think I roughly understand the above discussion (@eb8680 , your comment about ABC made a lot of sense to me).

However, @fritzo's example as given [here](https://github.com/uber/pyro/issues/568#issuecomment-344152751) (copied below) doesn't work anymore since Pyro has changed a lot. Could someone translate that example?

[code]

Things I struggled with trying to convert it:
1. `Categorical` does

[2019-01-09 21:40] neerajprad commented on #1706
That is precisely the issue and the reason for opening this issue. Just to emphasize the causal link - it is due to bad precision that we end up using a lower step size than is needed for this model. And it is due to a very low step size that we end up needing to explore the tree to a much greater depth resulting in slow sampling and mixing. I didn't mean to suggest that there is an issue with our

[2019-01-09 21:58] fehiepsi commented on #1706
Totally agree with your causal link.

[2019-01-09 22:01] fritzo commented on #1706
@neerajprad What is your current guess as to the location of the precision issue (Beta value, Beta grad, transform code)? The transform code should be simply `torch.exp()` or `torch.sigmoid()`, and I doubt those have numerical issues. There are some other [numerical issues](https://github.com/pytorch/pytorch/issues/15738) with `Beta.sample()` that might surface during initialization in HMC.

[2019-01-09 22:15] fritzo commented on #773
I haven't tried running this but here is an attempted translation:
[code]
I'm not sure about the rest, @eb8680 does this look right?
[code]

[2019-01-10 16:07] fehiepsi commented on #1706
The following script shows the precision issue I guess (or it is acceptable).
[code]
Output
[code]

[2019-01-10 21:30] neerajprad commented on #1706
Thanks for digging into this, @fehiepsi. I'll play around with your script a bit to see what's happening here.

[2019-01-10 22:38] fehiepsi commented on #1706
I think we can fix the precision issue by using `probs` instead of `logits` in Binomial distribution
[code]
The discontinuity is solved with this version. HMC also runs well with this version. But the positiveness of log_prob is still happened (as long as log_prob is continuous, this issue does not matter to HMC).

Previously, we use [this version in Pyro](https://github.com/uber/pyro/pull/604/fil

[2019-01-10 23:03] neerajprad commented on #1706
That was the idea, i.e. not having to use probs when the Binomial was defined using logits. Even in that version, the discontinuity can simply be solved by using - `self.total_count * (max_val - torch.log1p((self.logits + 2 * max_val).exp())` in the `.log_prob` method.

I think what might be happening is we convert from probs to logits there is a loss of precision and therefore the logit version g

[2019-01-11 00:34] neerajprad commented on #1706
@fehiepsi - There is an issue with the `log_prob` term actually, not the conversion into logits. I will send a fix shortly to torch distributions.

[2019-01-11 04:03] fehiepsi commented on #1706
Nice! :dancing_men:

[2019-01-11 15:44] neerajprad commented on #1706
@fehiepsi - Thank you for discovering, and helping debug this!

[2019-01-12 08:40] royf commented on #688
Very cool, thanks!

Are there plans to support non-reparametrizable variables?
I have a use case where variables cannot be reparametrized, and where training without analytic KL cannot work.
So I cannot use Pyro until it supports analytic KL of non-reparametrizable variables.

[2019-01-12 18:40] fritzo opened #1710 "FR Support non-reparametrizable variables in TraceMeanField_ELBO"
@royf requests

[2019-01-12 18:45] fritzo commented on #1710
@royf Can you provide more details about your use case? E.g. from what `Distribution` are your non-reparametrized variables sampled? Are the discrete? Does your model satisfy the mean-field assumption?

I ask because it is tricky to get multiple ELBO gradient estimators to work well together, and it will help us to narrow down the scope of this feature request. cc @martinjankowiak

[2019-01-12 20:53] royf commented on #1710
Thanks @fritzo!

The simplest case for this is where `z` is a single discrete variable, so yes, satisfying mean-field.
My more general use case is not mean-field, but does satisfy the more nuanced condition mentioned in the [docs](docs.pyro.ai/en/0.3.0-release/inference_algos.html#pyro.infer.trace_mean_field_elbo.TraceMeanField_ELBO), i.e. parents in model are never descendants in guide.

[2019-01-13 01:07] martinjankowiak commented on #1710
the trickiest part would be having analytic KLs interact with rao-blackwellization in score-function gradients. do you know if the non-rao-blackwellized version would be sufficient for your use case?

(this is discussed [here](http://pyro.ai/examples/svi_part_iii.html#Reducing-Variance-via-Dependency-Structure) for example)

[2019-01-14 01:15] eb8680 commented on #773
@rachtsingh I'm not sure what you're looking for, can you be more specific?  What do you mean by failed?  In general, to apply the ABC trick, just add an auxiliary variable in your model and proceed in the usual way:
[code]
Note that if `data` is very different from `deterministic_value`, inference will be necessarily be difficult because the data is very unlikely under the approximate model and w

[2019-01-14 02:12] rachtsingh commented on #773
Ok, I think I pretty much understand now. Here's a complete working example:

[code]

If I understand correctly - the guide (here just the prior) provides a distribution that we sample from, pass through the deterministic function, and then evaluate the ABC likelihood on the data, which here is easy since it's ~0 for choice = 1, and something positive for choice = 0. Just to clarify, `importance`

[2019-01-16 08:02] cloversjtu commented on #1499
When we do the dirichlet resampling, we meet the same issue that "cuda out of memory".Did someone solve this problem yet?
![wechatimg1](https://user-images.githubusercontent.com/38401041/51234543-fa3c4f00-19a7-11e9-82ec-1acc94d8e560.jpeg)

[2019-01-16 19:31] neerajprad commented on #1499
I am not sure if it is related to the above issue. Regardless, the right place for further discussing this (please cc. Pyro developers) should be either https://github.com/pytorch/pytorch/issues/11030, or a new issue in pytorch with your specific code example.

[2019-01-24 09:47] adam-coogan opened #1717 "Bug in Empirical.sample() with multiple MCMC chains"
It seems like the marginals for MCMC runs with multiple chains are not being computed correctly. Here is a simple example:
[code]
When I look at `posterior._samples`, it contains a tensor of size `[2, 20]`. Calling `posterior.sample()` generates a number between 0 and 19, which leads to the error. I'd think `MCMC.marginal()` should concatenate the results from the chains together. Is the right pla

[2019-01-24 19:03] neerajprad commented on #1717
Thanks for reporting, this is indeed a bug. It should pull out `[0, 2]` and `[1, 20]` entries from the sample tensor instead, i.e. a sample from each of the chains. I will push a fix for this, and additionally would like to revisit some of the assumptions we made to ensure that vectorized samples are fully supported by all methods.

[2019-01-27 06:35] elbamos commented on #1692
Just tossing in a +1 on this... I'm experimenting with pyro by converting a Stan model, and the lack of priors for covariance matrices is kinda an impediment.

[2019-01-27 11:40] fehiepsi commented on #1692
I guess the most complicated work is to define a transform from unconstrained space to the space of correlation matrices. [Stan reference](https://mc-stan.org/docs/2_18/reference-manual/cholesky-factors-of-correlation-matrices-1.html) gives a nice derivation for such transform, which based on the paper: https://www.sciencedirect.com/science/article/pii/S0047259X09000876. The tricky part (which req

[2019-01-28 00:02] elbamos commented on #1692
Does it need to be coded to efficiently support batches?  If someone has a template (i.e., that shows what functions need to be filled in), I can help.

[2019-01-28 02:10] fehiepsi commented on #1692
@elbamos Here is a template which I come up with:
### Step 1: define constraint as in [this script](https://github.com/pytorch/pytorch/blob/master/torch/distributions/constraints.py)
[code]
### Step 2: define transform as in [this script](https://github.com/pytorch/pytorch/blob/master/torch/distributions/transforms.py)

[code]

# Step 3: register bijective as in (this script)[https://github.com/py

[2019-01-28 18:21] ndepalma commented on #1304
I'd love this feature. Maybe you could start small with a limited example (non-language support). I'm currently evaluating some of these probabilistic languages and it looks like only Gen has support for SMC.

I'd be glad to help you all out if you're currently working on an implementation.

[2019-01-29 01:14] elbamos commented on #1692
Maybe I'm missing something here, but it seems to me we don't need to define a constraint on correlation matrices or a transformation from z to x.  

Don't we only need the transformation from a vector in [-1,1] to the lower Cholesky factor of the matrix? This can follows the algorithm in the Stan manual (and we also need its inverse and log abs det jacobian). The constraint on the domain should b

[2019-01-29 17:22] fritzo commented on #1692
@elbamos I think what you're describing are arbitrary *covariance* matrices. *Correlation* matrices have the additional constraint that the diagonal is all-ones and off diagonal entries are all in `[-1,1]`.

[2019-01-29 20:55] elbamos commented on #1692
@fritzo and @fehiepsi: The most convenient way to work with covariance matrices, in practice, is usually by separately generating a scale vector (theta), and the lower cholesky factor of a correlation matrix (Omega).

If you multiply diag(sqrt(theta)) * Omega, you get the lower cholesky factor of a covariance matrix, which is the most efficient parameterization for multivariate distributions.

So

[2019-01-29 22:20] fritzo commented on #1692
@elbamos thanks for explaining, yes that makes sense. I was confused because `torch.distributions.constraints.lower_cholesky` transforms (in a non-bijective way) a matrix into the lower Cholesky decomposition of an arbitrary positive definite matrix, rather than of a correlation matrix.

I think you're right, we can follow Stan code to develop a new `Transform`, and register a new constraint calle

[2019-01-29 23:45] fehiepsi commented on #1692
@elbamos It is great to hear that you already come up with a prototype (I was intending to make this implementation)! I agree that LKJ prior for Cholesky is enough. LKJ prior for correlation (which is more popular for small models) will be mostly based on its Cholesky version (except the log_prob method, where we have to do Cholesky transform for a correlation matrix, which is ineffective for larg

[2019-01-30 00:00] fritzo opened #1722 "FR: collapse messenger for composing infer_discrete"
@eb8680 has been working on a `collapse` messenger that integrates out discrete random variables. `@collapse` is a simple wrapper around `infer_discrete` that additionally blocks discrete sample sites and adjusts log_prob tensors. This issue documents remaining work before the [collapse-messenger branch](https://github.com/uber/pyro/tree/collapse-messenger) can be merged.

## Tasks

- [ ] Add more

[2019-01-30 00:03] fritzo commented on #1722
@eb8680 would this resolve #1710 by allowing us to use a `collapse`d model inside `TraceMeanField_ELBO`? If so we should add this as a test.

[2019-01-30 00:05] fritzo commented on #1391
forthcoming

[2019-01-30 00:05] #1391 closed

[2019-01-30 00:07] eb8680 commented on #1722
Hmm, not sure I see this - #1710 is specifically about the case of uncollapsed variables, right?

[2019-01-30 00:35] fritzo opened #1723 "[FR] Conjugate operations on existing distributions"
Exact variable elimination of continuous random variables requires a number of new distribution methods. Some of the mathematics for these is already implemented in [pyro.contrib.tracking](http://pyro.ai/examples/ekf.html). To make variable elimination algorithms generic, we should move this math into new methods of subclasses of `TorchDistribution` or new functions in `pyro.distributions.conjugat

[2019-01-30 01:11] elbamos commented on #1692
I already have code for unrolling the vector.  The issue is whether there will ever be a need to backprop through that code, because there doesn't appear to be a purely vectorized way of doing it.  If backprop'ing is going to be necessary, then we will have to write a pytorch function implementing a custom grad.

The code that needs to be written is for the `log_prob` function.

If I'm understandi

[2019-01-30 02:27] neerajprad opened #1725 "Make AbstractInfer classes lazily consume traces"
Our `TracePosterior` sub-classes like MCMC return a generator over traces. The `TracePosterior.run` method greedily consumes from this generator to hold a list with `num_samples` traces.

If the user does not require access to raw traces, but simply the joint / marginal distribution over some of the sample sites, holding the raw traces in memory is wasteful. By reducing the traces to some terminal

[2019-01-30 03:08] elbamos commented on #1692
Also - I took a look at the code for the `lower_cholesky` constraint and transform.  It appears to me that the `lower_cholesky` constraint is fine.  What's needed is a constraint on the input domain - which needs to consist of reals where the event shape is `(n*(n+1)/2,)`.  No?

[2019-01-30 03:41] fehiepsi commented on #1725
+1 My use case is the following: I use autoguide, my SVI time is fast but it takes a bit of time (comparing to SVI time) to generate 10000 samples (marginal distribution) from posteriors. I believe that it will be faster if we only generate nodes' values (instead of traces). Currently, I do this way
[code]
It will be faster if I can do the following in the `run` method:
[code]
Here `guide` is an i

[2019-01-30 05:53] fehiepsi commented on #1692
@elbamos Could you let me know which lines in your code which you worry about grad's backpropagation? I can't identify it. Overall, your code looks great. It will be better if we modify it to support "batching".

`log_prob` normalization/constant factor can be found in the above paper by Daniel Lewandowski. Then the translation log_prob of correlation to log_prob of its cholesky can be found in at

[2019-01-30 09:43] elbamos commented on #1692
@fehiepsi I've tested the algorithm code in there separately, but I haven't tested any of it in-place in those classes.

What I think will cause backprop problems, is the in-place modification to the tensors when transforming the vector into a matrix.

You're right about the batching... Maybe someone else can modify the code to do that?  I just find it very hard to imagine someone generating corre

[2019-01-30 13:30] adam-coogan opened #1727 "[FR] MCMC.marginal() doesn't return joint marginals."
I am confused about how to convert an MCMC run into an empirical distribution for multiple parameters. I would've thought `MCMC.marginal()` is the way to get this distribution, but the `MCMCMarginals` it returns does not allow sampling from joint distributions. Consider the following model and MCMC run:
[code]
I want to sample from the MCMC posterior for `x` and `y`. Running `mcmc_run.marginal(["x

[2019-01-30 16:54] fehiepsi commented on #1692
@elbamos Yes, we can use Stan source code to verify our implementation. I'll take care of "batching". If you want to convert vector to matrix, you can use the trick:
[code]
Back-propagation should be fine with this version.

About performance of HMC, we did profiling for various models and observe that most of time is spent for computing potential energy which calls `log_prob` method, which is out

[2019-01-30 18:11] fritzo commented on #1692
@elbamos would you be willing to start a PR with your partial implementation? I think that would be a better venue for discussion. @fehiepsi and I can push code to (or open PRs against) your branch to help you with boilerplate.

[2019-01-30 19:22] neerajprad commented on #1727
`MCMCMarginals` returns a dictionary with individual marginals for the sample sites. The reason for this restriction is that we are yet to establish what the behavior should be when the sample sites have different shapes.

Currently, the `Empirical` class takes in a tensor of samples, and this tensor can contain concatenated samples from multiple sites. When you have samples with the same shape, y

[2019-01-30 19:54] neerajprad commented on #1727
cc. @fehiepsi, @eb8680 in case they have any thoughts on how best to support this.

[2019-01-31 02:15] elbamos commented on #1692
@fritzo Should I start the PR now or wait until we're further along?   I'm pretty sure you can open PRs against the branch now.  I'm not sure what the correct github etiquette is these days.

@fehiepsi Yeah...  The model that I'm porting over does a lot of matrix slicing and reassembling, which I had hoped would be faster in pyro because it has more powerful vectorized functions. But its turning o

[2019-01-31 06:34] elbamos commented on #1692
@fehiepsi I've enabled the issues tab.  I'll have more time on this project this weekend.

[2019-01-31 06:57] neerajprad commented on #1692
Regarding performance, for most models I would expect the GPU to be slower since HMC/NUTS is heavily sequential - we need to take many steps in the integrator, and unless the time saved from parallelizing the gradient computation within each step is significant, we are unlikely to realize any benefits.

Do you see a difference even after warmup? During warmup, the performance might vary as we adap

[2019-01-31 19:57] eb8680 commented on #1727
For now, it's easy enough to aggregate the values at the sites of interest manually from the joint posterior samples stored in `MCMC(...).exec_traces`.

In the long run, maybe rather than collecting the values into a new distribution, what we'd want is to have `collapse` (#1722 ) support MCMC so that we could collapse every random variable in a model except the sites of interest and grab samples b

[2019-01-31 20:18] eb8680 commented on #1725
@neerajprad this seems like a reasonable change (and is how things used to work in Pyro very early on).

@fehiepsi I agree the first version is unnecessarily slow; we do things this way currently because return values may be different in model and guide, but we could just switch to the second version and drop support for computing marginals over return values or, once we switch to lazy aggregation

[2019-01-31 22:17] fehiepsi commented on #1725
@eb8680 Yeah, I used minipyro to do some inferences (while debugging MCMC for GPU) and it works pretty well. Hope that we are able to use OrderedDict instead if it is a big source of slowdown.

[2019-02-01 04:34] fehiepsi opened #1728 "[FR] Use normal tqdm in notebooks by default"
Currently, Pyro's MCMC uses tqdm's auto_notebook to display progress bar by default. However, I find that it causes more troubles than advantages:
+ auto_notebook uses jupyter widget, which requires users install widget extension.
+ the widget is only available at running time, which leaves some weird messages when sharing results or reopening it. For example, in [this gist](https://gist.github.co

[2019-02-01 17:45] fehiepsi opened #1730 "MCMC does not work well with multi-chains in CPU due to Memory Error"
The following script is copied exactly from Bayesian regression tutorial (except `num_samples=3000` and `num_chains=2`). While running it, I get MemoryError. I have tried to debug this memory error by changing various settings (ulimit, shared memory segment) in my system but no hope. I get this issue in two systems which I have so I guess this will not happen for only me. If so, then this is a ser

[2019-02-01 18:54] neerajprad commented on #1730
Could you also mention the pytorch version and OS? Does the memory keep increasing leading to the crash?

[2019-02-01 19:38] fehiepsi commented on #1730
@neerajprad The following system is tested:
+ Python: python 3.6, 3.7
+ OS: ubuntu 16.04, 18.04
+ PyTorch: 0.4.1 (with old version of pyro), 1.0, nightly, pytorch-cpu, pytorch

Yes, memory keeps increasing, but I think it is a normal behaviour with MCMC? Shared memory increases to about 400MB, then the error happens. Did you have the above problem?

[2019-02-01 20:02] neerajprad commented on #1730
I don't see this on mac, but I can replicate it on my linux system. The shared memory shouldn't really increase because the queue is getting cleared in the main process.

[2019-02-01 20:36] fehiepsi commented on #1728
@neerajprad About getting HBox line to be rendered in HTML, this PR of nbconvert can be a solution: https://github.com/jupyter/nbconvert/pull/900. I really love the current progressbar messages (the only minor point is when MCMC is so fast in notebook, [this issue](https://github.com/jupyter/notebook/issues/3010) will happen, but I can solve it by changing jupyter's configs)). Whether it is a norm

[2019-02-01 20:44] fehiepsi commented on #1730
Interesting! Good to know that it is a system issue. I have tried so many ways to detect and resolve that error. Your information is the best one I have. Thanks @neerajprad !

[2019-02-01 22:32] neerajprad commented on #1725
This will also greatly help with debugging a bunch of multiprocessing errors that arise out of sharing the trace data structure amongst different processes.

@eb8680 - How much effort do you think it is to deprecate our dependency on networkx? I can take a look and start refactoring. Are there any unknowns that we should be aware of?

[2019-02-01 22:44] fehiepsi commented on #1730
Possibly related https://github.com/pytorch/pytorch/issues/13246.

[2019-02-01 22:46] neerajprad commented on #1730
I think we are hitting some system level limitations on shared memory. If you change the `_ParallelSampler` to `yield None, args[1]..` instead of the trace, you will find that no error is thrown. I think what is happening is that even though we read from the queue, the objects remain in shared memory and after a certain point we hit some limitation due to which the OS ends up killing the process.

[2019-02-01 22:55] eb8680 commented on #1725
The most minimal refactoring would be to copy the current `Trace` API exactly with something like the following:
[code]

I think the only place where functionality beyond the above is used is in `TraceGraph_ELBO`, but that could be ported fairly easily.

[2019-02-01 22:56] neerajprad commented on #1725
Great, I'll start taking a look at this then.

[2019-02-01 23:10] fehiepsi commented on #1730
I have tried to increase various system configurations but no hope. Hope that this will be resolved when #1725 is resolved.

 Btw, I found an interesting thing during the way: using `file_system` (in `torch.multiprocessing.set_sharing_strategy`) speeds up inference a lot (1.5x - 3x) over `file_descriptor` strategy (the default one). :)

[2019-02-01 23:40] neerajprad commented on #1717
Should be fixed in #1721.

[2019-02-01 23:40] #1717 closed

[2019-02-02 07:22] neerajprad commented on #1730
Do you see this speed-up on this example too? I didn't see anything noticeable.

[2019-02-02 14:35] fehiepsi commented on #1730
@neerajprad , for the above example (with `jit_compile=True`, `num_samples=500` to avoid Memory error, `num_chains` to 20 to reduce its effect on timing):
+ `num_chains=2`: 2s vs 5s. (averaging for all chains: 180its/s vs 90its/s)
+ `num_chains=4`: 3s vs 10s. (160its/s vs 50its/s)
+ `num_chains=6`: 5s vs 15s. (100its/s vs 33its/s)

[2019-02-06 02:57] kitaev-chen opened #1733 "[FR] Graph Neural Network Support"
Hi there,

I'm digging ppl tools for graph neural network. Originally I thought pyro should be very easy to implement these but after reading documents it's not obviously to find even an implement for GCN.

I also found some libraries which has already implement some, such as euler (https://github.com/alibaba/euler), geometric (https://github.com/rusty1s/pytorch_geometric/tree/master/torch_geometr

[2019-02-06 04:19] eb8680 commented on #1733
[DGL](https://www.dgl.ai/) seems like a nice graph neural network library with PyTorch support which you could use with Pyro.  Can you be more specific about what functionality you want to see Pyro provide?  Graph neural networks are not probabilistic models, although you can imagine them as performing certain kinds of approximate message-passing algorithms on factor graphs.

[2019-02-07 02:25] elbamos commented on #1692
Just to update folks on the current status of this - I have code up at https://github.com/elbamos/pyro/blob/lkj/pyro/distributions/lkj.py, which runs when isolated, and seems to be correct, passes tests (although I'm working on tests for the derivative and log_prob), etc.

But when I try to run, I get an error that `ValueError: Model specification seems incorrect - cannot find a valid trace.`

I'd

[2019-02-07 20:43] neerajprad opened #1737 "Pyro minor release 0.3.1"
Task-list:
 - [x] Remove networks x from dependency. #1736
 - [x] Update ~~setup.py and~~ .travis.yml to use PyTorch 1.0.1
 - [x] Fix CUDA tests.
 - [ ] Address issues for next release:
   - [x] Progress bar fixes in mcmc: https://github.com/pyro-ppl/pyro/issues/1728
   - [ ] ~Abstract infer classes lazily consume traces: https://github.com/pyro-ppl/pyro/issues/1725. (not a blocker)~
   - [ ] ~Sam

[2019-02-07 21:02] eb8680 commented on #1737
Are there any other easy performance wins along the lines of #1736 we could include?

[2019-02-07 21:30] fritzo commented on #1737
I suggest we update travis to use PyTorch 1.0.1 but keep setup.py permissive via `torch>=1.0`, since Pyro doesn't require anything in the new PyTorch release.