[2021-04-09 20:04] fonnesbeck commented on #2315
OK, thanks. Interestingly, I can get it going on Linux with GPU if I remove the `mp_context="spawn"` flag that is recommended in the docstring. However, after 10 or so iterations on each chain the MCMC run really slows down, to the point where its actually much faster to run a single chain.

[2021-04-10 16:16] fehiepsi commented on #2315
I guess it is expected if moving tensors in/out/across processes is costly. From our experience, making multiprocess works on PyTorch is quite tricky and sadly, we don't know what is the best practice to apply for MCMC (probably it is just a matter of changing a few lines of code to make MCMC run more efficiently). :(

[2021-04-13 14:58] fonnesbeck opened #2803 "[FR]: Example of Predictive with MCMC sampling"
There are currently no examples in the docs and tutorials of `Predictive` being used in MCMC sampling. Given its importance in returning deterministic values of interest from models, it would probably be useful for users to be able to see how they are used.

[2021-04-13 16:46] mtsokol commented on #2803
Hi!
Is it open as a good-first-issue? If yes then I would like to try it.
I haven't used `pyro` (only TFP) so I would be grateful if you could point out which examples from http://pyro.ai/examples I can refer to and follow while writing it.

[2021-04-13 18:25] fritzo commented on #2803
Hi @mtsokol, yes this would be a good first issue.

But wait, it looks like the [Bayesian Regression II tutorial](http://pyro.ai/examples/bayesian_regression_ii.html) and the [baseball example](http://pyro.ai/examples/baseball.html) use MCMC and `Predictive`.  @fonnesbeck can you suggest how we might improve these tutorials and examples to make `Predictive` easier to understand?

[2021-04-13 19:33] fonnesbeck commented on #2803
My mistake--did not notice it in the baseball example. One minor suggestion is for important classes like `Predictive` to have links in the API docs to where it is used in the examples. I think Tensorflow does this (not sure if its done automatically or manually).

[2021-04-14 19:39] ordabayevy opened #2804 "Incorrect type/device of msg["scale"] causes an error with funsor backend when using jit"
### Issue Description
When using jit `msg["scale"]` becomes `torch.Tensor` with `device=cpu`. Than causes an error in `terms_from_trace` when multiplying `node["funsor"]["log_prob"] * node["funsor"]["scale"]`:

[code]

The cause of this seems to be that `OrigSubsampleMessenger._subsample` returns `torch.tensor(..., device=cpu)` instead of `int` type. ( Specifically, `.size(0)` or `.shape[0]` with

[2021-04-17 12:42] DanReia opened #2805 "How should one do inference when conditioning on a Delta? [discussion]"
### Issue Description

I am aware that this is not an issue per se, but comes with regard to the forum post of the same name [here](https://forum.pyro.ai/t/how-should-one-do-inference-when-conditioning-on-a-delta/723/9). It appears that there is interest in using Pyro in the application of counterfactual inference, particularly with regard to Pearl's Abduction/Intervention/Prediction paradigm with

[2021-04-17 15:45] RylanSchaeffer commented on #2630
@fritzo out of curiosity is there a tutorial on the process for migrating code, updating docs and writing tests?

[2021-04-18 15:44] fritzo commented on #2630
@RylanSchaeffer there is no tutorial on migrating distributions. You'd need to
- add code to torch/distributions/dirichlet_multinomial.py or torch/distributions/conjugate.py
- fix docstrings to follow numpy syntax rather than sphinx syntax
- import distributions in torch/distributions/__init__.py
- add tests to test/distributions/test_distributions.py
- add an entry in docs/source/distributions.rs

[2021-04-18 20:54] stefanwebb opened #2806 "Incorrect `codomain` for `ELUTransform`"
In this line: https://github.com/pyro-ppl/pyro/blob/75ec2bc56a72730f73581b042abe9c24b8f87058/pyro/distributions/transforms/basic.py#L20

we should actually have `codomain = greater_than(-1.)`.

See here: https://pytorch.org/docs/stable/generated/torch.nn.ELU.html

[2021-04-18 20:54] stefanwebb commented on #2806
(Will submit a small PR for this shortly!)

[2021-04-18 21:07] stefanwebb commented on #2806
Also: https://github.com/pyro-ppl/pyro/blob/dev/pyro/distributions/transforms/basic.py#L53

[2021-04-19 18:55] jatentaki opened #2807 "Example "Tracking an Unknown Number of Objects" broken with non-default parameters"
### Issue Description
The code available [here](http://pyro.ai/examples/tracking_1d.html) (viewing docs for pyro 1.6.0) seems to have some issues. I wish I could fix it, but I don't understand the subject enough. It breaks if we change...

## The number of frames
From
[code]
to
[code]

leads to the following error at inference time
[code]

The direct issue is that in the model
[code]
we may have l

[2021-04-19 18:58] fonnesbeck opened #2808 "Invalid values in mean of AutoMultivariateNormal autoguide"
I'm trying to fit a Pyro regression model using the `AutoMultivariateNormal` autoguide, but it fails, citing an issue with the `loc` input:

    ValueError: The parameter loc has invalid values

The model in question runs fine with `AutoDiagonalNormal` and `AutoLowRankMultivariateNormal` but fails here. Is there a recommended way to debug a problem like this?

Here's the full error:

[code]

### E

[2021-04-19 22:48] ordabayevy opened #2809 "[FR] Relax ` _check_model_guide_enumeration_constraint` in TraceEnum_ELBO"
### Issue Description
` _check_model_guide_enumeration_constraint` is unnecessarily strict in `TraceEnum_ELBO` according to the conversation with @fritzo . This is a FR to relax the constraint or optionally allow to disable it.

(In my particular model there are two independent branches and model enumeration in one of them leads to false-positive `ValueError` raised by ` _check_model_guide_enumera

[2021-04-19 23:26] sdaulton opened #2810 "[bug] jit compilation fails with Uniform distribution with non-scalar parameters."
### Issue Description

When using a Uniform distribution with non-scalar inputs, e.g.

[code]
jit compilation fails.

If the lower and upper bounds are the same, then

[code]
can be used instead.

### Environment
Pytorch master
Pyro 1.5.2

### Code Snippet
Repro:
[uniform_vector_jit_error.ipynb.txt](https://github.com/pyro-ppl/pyro/files/6339589/uniform_vector_jit_error.ipynb.txt)

[2021-04-20 01:27] fritzo commented on #2809
Thanks for the clear reproducible use case @ordabayevy!

[2021-04-20 20:56] fehiepsi commented on #2808
@fonnesbeck I think some parameters are getting `nan` during optimization. You can try a smaller learning rate,... To debug issues like this, I usually add some print statements like `print(pyro.param(name_of_a_parameter))`.

[2021-04-20 21:04] fehiepsi commented on #2807
You are right, if `expected_num_objects` > `num_observed`, then the code will be invalid. I guess you can try to clamp the value to bypass the issue `num_observed = max(num_observed, args.expected_num_objects)` but I'm not sure if it will violate model assumptions...

[2021-04-21 09:54] jatentaki commented on #2807
Re clamping: yes, that's an obvious "solution" but I am not sure about the intended semantics either.

[2021-04-21 09:55] jatentaki commented on #2807
Also note the 2nd issue, which seems to have a different cause. I think there are some subtle logical errors in the code.

[2021-04-21 14:53] fonnesbeck commented on #2808
Yes, this seems to be the issue, thanks.

[2021-04-21 14:53] #2808 closed

[2021-04-21 17:32] fritzo opened #2813 "Automatic structured variational preconditioners for HMC"
This issue proposes a workflow speed up HMC in high dimensions: first train a structured Gaussian guide via SVI (which is cheap), then use the structured sqrt(covariance) as a preconditioner in HMC.

## Components

- [ ] #2812 An `AutoStructured` guide that allows users to create a structured Gaussian/Delta variational distribution that can be learned via SVI. Users specify the (1) learnable condi

[2021-04-22 18:20] #2787 closed

[2021-04-23 20:09] murphyk opened #2815 "intro SVI example has bug"
The [1d Gaussian example in the intro](https://pyro.ai/examples/intro_part_ii.html) does not run as is,
and gives the error
[code]
The reason is that the observation that is conditioned on  needs to be a tensor, not a python float.
Change
[code]
to
[code]

[2021-04-23 20:33] murphyk opened #2816 "mcmc example has bug"
In the [docstring for mcmc](http://docs.pyro.ai/en/0.2.1-release/mcmc.html) there is this example, which does not run:
[code]
I get this error
[code]

[2021-04-24 04:52] murphyk opened #2817 "SVI example has math error in posterior variance for beta-bernoulli model"
In [the svi part 1 example](https://pyro.ai/examples/svi_part_i.html),  it should be
[code]
You can verify this matches the HMC results...

[2021-04-24 15:37] martinjankowiak commented on #2817
thanks for the suggestion @murphyk . however your formula is equivalent to the formula in the tutorial, just factored differently

[2021-04-24 15:37] #2817 closed

[2021-04-24 16:10] fehiepsi commented on #2816
Hi @murphyk, that documentation page is for pyro 0.2.1. You can find the latest stable example in [this page](http://docs.pyro.ai/en/stable/mcmc.html#pyro.infer.mcmc.HMC).

[2021-04-24 17:43] murphyk commented on #2817
Ahh yes, you are right. :)

[2021-04-24 17:45] #2815 closed

[2021-04-24 17:54] murphyk commented on #2816
Oh, sorry about that. When you show the version number in the top left corner, can you somehow highlight to the reader that they may be looking at an out-of-date page? I noticed 0.2.1, but I just assumed that was the most recent. (I think I found this page via google search.)

[2021-04-24 18:19] fritzo commented on #2816
This is weird. Readthedocs used to show the red version warning, but it no longer appears to work. This appears to be an issue with readthedocs https://github.com/readthedocs/readthedocs.org/issues/7809

For now I've set all 0.x releases to "hidden" to avoid extremely old releases from showing up in search results.

[2021-04-24 21:07] fehiepsi opened #2820 "Parameterizing scale_tril by scale and corr_tril"
In #2812, we parameterize `scale_tril` by a global scale `scale` and `scale_tril`: `scale_tril = scale[..., None] * scale_tril`, which helps in learning the global `scale`. Alternatively, we might consider using the pair `scale` and `corr_tril` which do not suffer from 2 sources of over-parametrize:
+ unconstrained -> scale_tril: unused triu parameters
+ scale * scale_tril: doubling parameters of

[2021-04-25 18:19] fritzo commented on #2820
@fehiepsi I agree we should switch the `AutoMultivariateNormal` to use a `(scale, scale_tril)` overparametrizaion.

Is there a particular reason you'd like to avoid overparametrizing?  While bijections are required in MCMC, I'm unclear why we might want to restrict to bijections for learnable parameters (hence the original distinction between `biject_to()` and `trasform_to()`).  My intuition is th

[2021-04-27 15:22] fritzo opened #2825 "FR save log_prob history from warmup+sampling during MCMC"
I often find it useful to plot log_prob over time during both warmup and sampling phases of MCMC runs.  This is especially useful to assess warmup/burnin time.

While saving a log_prob list is easy to do for single chains via a hook function, it is not straightforward to save hook statistics across processes when running multiple chains in parallel.  Can MCMC maintainers suggest a way to allow sav

[2021-04-27 17:19] fehiepsi commented on #2825
By `log_prob`, I guess you meant `-potential_energy`? Instead of using `hook_fn`, I think we can do something like
[code]

[2021-04-28 02:34] fritzo commented on #2550
This would also allow us to remove sphinx type annotations, if we were to use https://pypi.org/project/sphinx-autodoc-typehints/

[2021-04-28 14:50] heroxbd commented on #1992
Looking forward to the second part.

[2021-04-28 15:05] fritzo commented on #1992
@heroxbd normalizing flows work has been moved to https://flowtorch.ai

[2021-04-28 17:25] fshipy opened #2827 "[bug] CSIS error when parameters are not fully used"
### Issue Description
For `pyro.infer.csis`
If some parameters are not used to produce the outputs, the gradients can be None. In this case, an error will be raised as following
[code]
I resolved this issue locally by checking None before updating gradients
[code]

### Environment
 - Python version: 3.7
 - PyTorch version: 1.8.1+cu101
 - Pyro version: 1.5.1

[2021-04-28 18:03] fshipy commented on #2827
I created a pull request as it is a minor bug and can be fixed quickly https://github.com/pyro-ppl/pyro/pull/2828

[2021-04-28 21:16] #2827 closed

[2021-05-04 17:04] fritzo opened #2831 "FR make Reparam objects nn.Modules for jitting, saving, etc."
As we move away from the global param store and towards closer integration with `torch.nn.Module`s, it would be good to refactor `Reparam` objects to be `nn.Module`s.

## Design questions

- [ ] Can we preserve backwards compatibility?
- [ ] Would a `class Reparam(nn.Module)` be jittable, even though its `.forward()` method inputs non-tensors, e.g. distributions?

## Tasks

- [ ] make `Reparam` ob

[2021-05-04 17:28] fritzo opened #2832 "poutine.reparam(model,-) breaks AutoGuide initialization"
`poutine.reparam(model, -)` currently replaces targeted model sites with deterministic sites and introduces auxiliary latent variables upstream.  While this site swapping is mostly compatible with `AutoGuide`s, it does break autoguide initialization, since `init_loc_fn(-)` initializes based on the original site name.

Despite this breakage, `Reparam` objects generally know how to transform between

[2021-05-04 18:48] fehiepsi commented on #2832
cc @martinjankowiak - who also concerned about this

[2021-05-04 19:20] LysSanzMoreta opened #2833 "RuntimeError: cannot reshape tensor of 0 elements into shape [-1, 0, 0] because the unspecified dimension size -1 can be any value and is ambiguous"
System Info :

<details>

[code]

</details>

`gcc (GCC) 7.3.1 20180303 (Red Hat 7.3.1-5)`

Hi!!

I tried to make make a runable code of the error but I cannot seem to recreate the error in a toy example without displaying the entire code. If you require to see the full code, we must find a private alternative.

 I am working on a server and I do not have control over all the aspects. I already ha

[2021-05-04 20:06] fritzo commented on #2833
Hi @LysSanzMoreta, is your `mean` also empty?  What is its shape?  It's hard to say without seeing more of the model, but my guess would be that some upstream tensor is getting sliced down to a zero tensor, or possibly you have a ragged input array one of whose rows has length zero.

You might also try using the distribution's `.expand()` method as in
[code]

[2021-05-05 10:55] LysSanzMoreta commented on #2833
Hi @fritzo , sorry about the confusion :) . Apparently it's an issue with transferring the data from cpu to gpu. It occurred in the server and it's a little complicated to debug there. Sorry,

Thanks for your insight!!!! It helped me look elsewhere

[2021-05-05 10:55] #2833 closed

[2021-05-05 19:56] fritzo opened #2834 "FR tutorial on directional distributions"
@OlaRonning would you be interested in collaborating on a tutorial on directional distributions, to host on https://pyro.ai/examples?  I'd be happy to write up how to use `VonMises`, `VonMises3D`, `ProjectedNormal`, and `ProjectedNormalReparam`.  It seems like also a nice place to promote your new toroidal distributions as well.  One thing I could use help with is finding a nice public dataset to

[2021-05-05 20:16] OlaRonning commented on #2834
Yes, that sounds like a fun project. We (my supervisor) have Master's students often working in Pyro/NumPyro on Directional Statistics, so I believe this would be very useful. I'm developing a [Bayesian Mixture](https://github.com/aleatory-science/pyro/blob/example/ssbvm_mixture/examples/ssbvm_bmixture.py) using SineSkewed and SineBivariate for phi and psi angles in 9mer data and will model a VAE

[2021-05-05 20:18] fritzo commented on #2834
@OlaRonning sounds good, I'm in no hurry.  I guess the first task is to find a dataset, then I could start a tutorial in the next couple weeks.

[2021-05-05 20:54] OlaRonning commented on #2834
I'll let you know when the first dataset is available. Shouldn't take to long on our end.

[2021-05-06 00:28] VargEM opened #2836 "New pyro distributions"
Can Johnson SU and Johnson SB distributions be implemented for pyro??

[2021-05-06 00:32] fritzo commented on #2836
Hi @VargEM if you'd like to implement them I'd recommend taking a look at other distributions' implementations.  We're happy to help you write tests and documentation during the review process.

[2021-05-07 12:58] mtsokol commented on #2803
Hi @fritzo! Sorry for the delay and thank you for a guidance!

I did a short (draft with possible errors and misunderstanding) notebook in a "tutorial" way that utilizes `deterministic`, `Predictive` and `MCMC` with the model you provided. But it's pretty short and it repeats content from existing tutorials so I don't think it's worth it. (However writing it was a great way to familiarize myself w

[2021-05-07 17:50] VargEM commented on #2836
And another question, how can I convert pytorch distribution to pyro distribution ??

[2021-05-08 03:06] fehiepsi commented on #2836
@VargEM I think you just need to make it a subclass of [TorchDistribution](https://github.com/pyro-ppl/pyro/blob/43c037443a05223b27e945fea26b2d4c2a0d79d8/pyro/distributions/polya_gamma.py#L13).

[2021-05-08 16:16] VargEM commented on #2836
I think this is the correct Johnson's SU distribution (correctness verified by comparing to scipy johnson's su dist):
I implemented it using
https://reference.wolfram.com/language/ref/JohnsonDistribution.html
formulas

`from numbers import Number
import torch
from torch.distributions import constraints
from torch.distributions.distribution import Distribution
from torch.distributions.utils import

[2021-05-10 12:20] fritzo commented on #2836
@VargEM I haven't looked into details, but in many distributions we've needed to clamp values to ensure numerical stability of both the forward and backward computations.  You'll probably need to play around, but you might start with something like
[code]

[2021-05-10 12:36] fritzo commented on #2803
Hi @mtsokol your notebook looks great!  Even though it is simple, I still think it is worth publishing it and adding to the index, so feel free to submit a PR.

I think the following additions would also help users:
- Include both words "Predictive" and "Deterministic" in the notebook title, to help users find content.
- Add a paragraph linking to other tutorials and examples that use `Predictive`

[2021-05-14 20:44] fritzo opened #2843 "FR Streaming MCMC interface for big models"
This issue proposes a streaming architecture for MCMC on models with large memory footprint.

@fehiepsi suggested creating a new MCMC class (say `StreamingMCMC`) with similar interface to `MCMC` and still independent of kernel (using either `HMC` or `NUTS`) but that an internal streaming architecture. Since these models usually run on GPU, it should be fine at first to avoid multiprocessing suppor

[2021-05-15 12:07] h1psta opened #2844 "[bug] Do operator not broadcasted correctly in a plate environment during SVI"
### Issue Description
Provide a brief description of the issue.

On this toy example the behavior of poutine.condition() and poutine.do() seems to differ in an unexpected way.

### Environment

OS and python version: MacOS 10.14.6 ; Python: 3.8.6
PyTorch version: 1.9.0.dev20210502
Pyro version: 1.6.0

### Code Snippet

https://pastebin.com/MAccHN78

[2021-05-15 12:27] #2844 closed

[2021-05-15 13:18] h1psta opened #2845 "[bug] Runtime error during SVI inference when using poutine.do()"
### Issue Description

Setting: a simple model with 2 latent Gaussians z1 and z2, giving rise to x ~ N( z1+z2, I).

In this setting p(z2 | x, z1) should be the same as p(z2 | x, do(z1)).

I wanted to check whether the current Pyro interface reflects this and it seems it does not.

My initial thought is that there is a difference in how .do() and .condition() broadcast the constants across the plat

[2021-05-16 04:23] eb8680 commented on #2845
@h1psta thanks for reporting this and providing a reproducible test case, this is indeed a bug in `pyro.poutine.do`. I will push a fix now.

[2021-05-16 17:16] #2845 closed

[2021-05-17 03:05] arita37 opened #2847 "Features : proba circuits"
Hello,

Is it possible to develop an interface
for probability circuits, same than julia:

http://starai.cs.ucla.edu/papers/DangAAAI21.pdf

[2021-05-17 14:15] fonnesbeck opened #2848 "FR Trace deterministics by default"
Currently, nodes that are wrapped in `determinstic` are not traced, and obtaining inferences from these nodes must be run through a `Predictive` object. When a user deliberately creates these deterministics they are signalling that their values are of central interest, so it would be convenient to provide them immediately and not force users to execute additional steps.

[2021-05-17 14:30] fritzo commented on #2848
Hi @fonnesbeck, can you provide more details to the inference you are performing?  It sounds like you might be using MCMC?

Assuming you are using MCMC:
One issue with saving all-information-by-default is the memory overhead. Currently MCMC saves exactly the minimal information needed to reproduce traces, and even that is becoming too large for memory in many cases (see #2843).  I'm curious, do yo

[2021-05-17 14:35] fonnesbeck commented on #2848
Sorry for the lack of detail: I am using SVI, not NUTS/MCMC, so in my case moments would do, but maybe not in all cases. I agree that you don't want to save all intermediate calculations in the trace, but those deliberately wrapped in `deterministic` are a different story; they are often more important to the user than many of the stochastics. So, not *all* the information, just the information th

[2021-05-17 15:32] fritzo commented on #2848
@fonnesbeck thanks, interesting, I wasn't aware that SVI was discarding deterministic sites.  Could you provide a little code snippet to show how what is going wrong?  Is it specifically using `AutoGuide.median()` or `AutoGuide.quantiles()`?  I'm a little confused since the generic SVI workflow doesn't return any traces.

[2021-05-17 15:53] vitkl commented on #2783
I defined a method `_posterior_samples_minibatch ` for doing this for scRNA-seq models in a recent PR to scVI:
https://github.com/YosefLab/scvi-tools/blob/b020ff5fef9248df17f07d7ed1a6f794d8f7673e/scvi/model/base/_pyromixin.py#L262-L351
It uses poutine to generate samples one by one and is pretty fast (https://github.com/YosefLab/scvi-tools/blob/b020ff5fef9248df17f07d7ed1a6f794d8f7673e/scvi/model/b

[2021-05-17 19:54] fonnesbeck commented on #2848
I will try and put together a toy example when I get a chance, but I am using the `quantiles` method on `AutoDiagonalNormal` in my particular case. This does not include any deterministics.

[2021-05-17 21:08] fritzo commented on #2848
Thanks @fonnesbeck, that makes sense. No need for an example.

I think we can support deterministic sites via a new `.predict_quantiles()` method.
[code]
Note there would be a couple difficulties inspecting deterministic sites by default:
1. Deterministic sites require running not only the guide but the model. While it is easy to vectorize the guide, not all models support vectorization. I think t

[2021-05-25 14:15] khsibr commented on #2803
Hi @mtsokol
Don't you need to add a bias term in the regression?
Also, it would nice to add a line explaining why `GammaPoisson` is appropriate for this example.

Thanks!

[2021-05-30 18:21] mtsokol commented on #2803
Hi @khsibr!

The model I used here was suggested by @fritzo a few comments before so I can't really elaborate why it's designed that way.

I've just opened a PR with updated notebook #2852 where we can continue discussion.

[2021-06-01 02:05] kamathhrishi commented on #2550
Can I work on this issue? Adding type hints to the existing codebase?

[2021-06-01 05:10] fritzo commented on #2550
Hi @kamathhrishi, sure, we'd appreciate any help!  I especially like the idea of a bunch of small easy-to-review PRs that add type hints to one module at a time.

[2021-06-01 09:33] kamathhrishi commented on #2550
Thank you @fritzo. I have made a PR for optim module.

[2021-06-01 17:22] fritzo opened #2854 "Should Pyro always try to stick the landing?"
Long ago Pyro hard-coded [sticking the landing](https://arxiv.org/abs/1703.09194) as the default strategy for reparametrized gradients.

https://github.com/pyro-ppl/pyro/blob/4a61ef2f9050ef81d1b0aa148d14ecc876f24a51/pyro/distributions/distribution.py#L114-L116

More recently [Dhaka et al. 2020](https://arxiv.org/abs/2103.01085) comment:

- Does this default trick slow down inference in some settin

[2021-06-01 18:20] mtsokol commented on #2843
Hi @fritzo!

I was searching for an issue and if this one's free I would like to try solving it.

So as I understand the main point here would be to implement `StreamingMCMC` that doesn't contain `get_samples` method and keeps in its state incrementally updated statistics (if all of them can be incrementally computed, can they?). Something like this:

[code]

Also in `test_mcmc_api.py` additional

[2021-06-01 19:54] fritzo commented on #2843
Hi @mtsokol that sounds great and I'm happy to provide any review and guidance.

Your sketch looks good. The only difference I'd suggest would be to think hard about making a fully extensible interface for computing streaming statistics, so that users can easily stream other custom things. I was thinking with task 2 above to create a new module say `pyro.ops.streaming` with a class hierarchy of ba

[2021-06-01 20:00] fritzo commented on #2843
Addressing your earlier questions:

Correct, most existing tests should be parametrized with
[code]

Almost. The main beneficiary here is large models which push against memory limits and therefore necessitate streaming rather than saving all samples in memory. And if you're pushing against memory limits, you'll want to avoid parallelizing and instead sequentially compute chains (which can itself

[2021-06-02 09:28] OlaRonning opened #2855 "Renaming the Sine Bivariate Von Mises Distribution to the Sine Distribution"
The [`dist.SineBivariateVonMises`](https://github.com/pyro-ppl/pyro/blob/dev/pyro/distributions/sine_bivariate_von_mises.py#L18) distribution is really a submodel, commonly known as the Sine Distribution in directional statistics, of the class of Bivariate von Mises distribution. Therefore, for consistency, I should have called the Pyro implementation of the distribution `Sine`.

I'll make a PR re

[2021-06-02 15:20] mtsokol commented on #2843
@fritzo thanks for guidance! Right now I'm looking at the current implementation and starting working on this.
This abstraction with `StreamingStatistic` is sound to me. `StreamingMCMC` will only iterate and call method on passed objects implementing that interface.

Sure! I can start working on `StreamingMCMC` and already follow `StreamingStatistic` notion. When your RP is ready I will adjust my

[2021-06-02 15:50] fritzo commented on #2843
Feel free to implement an `AbstractMCMC` interface if you like.  I defer to your design judgement here.

[2021-06-02 18:25] mtsokol commented on #2843
@fritzo After thinking about handling those streamed samples I wanted to ask a few more questions:

1. So right now samples are being `yield` by sampler and each one is appended to the right chain list by `z_flat_acc[chain_id].append(x_cloned)`. Then we do reshaping to get rid of the last dimension and have dict entries instead in that place (based on yielded structure). Then we perform element-wi

[2021-06-02 21:31] fritzo commented on #2843
@mtsokol answering your latest questions:

1. tl;dr keep it simple.
  I do not foresee a performance hit here: it is cheap to create dicts, and `StreamingMCMC` will typically be used with large memory-bound models with huge tensors, where the python overhead is negligible.  For this same reason I think we should avoid batching since that increases memory overhead.  (In fact I suspect the bottlenec

[2021-06-02 21:58] fehiepsi commented on #2855
Hi @OlaRonning, if you want to rename the distribution, it is better to do it before the release. :) Personally, I think the verbose name `SineBivariateVonMises` is better than the short name `Sine`.

[2021-06-03 09:19] OlaRonning commented on #2855
Hi @fehiepsi, thanks for your input. I agree that it would be preferable to fix this before it was merged. I, however, was not aware that this was an "issue" at the time.

I also lean towards the verbose name (which I why I used it :-).  Maybe a better solution is to just highlight that it's the submodel called the Sine Distribution in the DocString. What do you think?

[2021-06-03 19:19] fritzo commented on #2855
I like the longer `SineBivariateVonMises`.  As n00b I would guess that a `Sine` distribution would be maybe a 1-parameter subdistribution of the univariate `VonMises` distribution, where the log density is an affine transform of `sin(theta)`.

[2021-06-03 19:42] #2629 closed

[2021-06-03 19:46] fritzo commented on #2481
This is now available as [torch.distributions.transforms.ReshapeTransform](https://pytorch.org/docs/stable/distributions.html#torch.distributions.transforms.ReshapeTransform)

[2021-06-03 19:46] #2481 closed

[2021-06-03 19:48] #2311 closed

[2021-06-03 19:49] #2090 closed

[2021-06-03 19:52] #1824 closed

[2021-06-03 19:52] #1764 closed

[2021-06-03 19:54] fritzo commented on #1677
Closing as I believe @martinjankowiak addressed this in http://pyro.ai/examples/svi_part_iv.html

[2021-06-03 19:54] #1677 closed

[2021-06-03 19:55] #1272 closed

[2021-06-04 09:53] guyko81 opened #2859 "Spline inverse"
Hi,

I can't find the proper way to make a Spline transform inverse.
What I would like to do is a 2 step approach:
1) train a Spline transform from a 1D Standard Normal distribution on a data
[code]
2) get the "more Normal" version of the target variable, And there is my problem, I don't know how to inverse the Spline transform and run through the Y_train on it to get back the "normalized" version

[2021-06-04 13:01] fritzo commented on #2859
cc @stefanwebb

[2021-06-04 20:14] ordabayevy opened #2860 "Error when using `infer_discrete` for a model with local variable that depends on discrete variable"
### Issue Description
I'm trying to use `infer_discrete` for a model (code snippet below) which has local latent variable (`locs`) that depends on discrete variable (`assignment`). This leads to an error where `site["log_prob"].shape` and `dim_to_symbol` don't match:

[code]

Using pdb:

[code]

### Environment
 - Pyro dev branch

### Code Snippet
[code]

[2021-06-04 20:23] ordabayevy commented on #2860
To construct `dim_to_symbol` that matches the shape of `site["log_prbo"]` I'm using the following hack but  not sure if this is a correct solution or might even break the code in other places:

[code]

[2021-06-06 14:41] Padarn commented on #2795
@fritzo do you also want to refactor `nn.PyroParam` to get rid of the `event_dim` argument? It seems like it'll have to stay for `subsample` too right?

[2021-06-06 15:09] fehiepsi commented on #2795
I think event_dim kwarg has been used to decide if we want to subsample a parameter so we need a way to tell the inference algorithms that we want to subsample over a parameter.

[2021-06-06 15:25] Padarn commented on #2795
Right.. removing it specifically from pyro.param seems reasonable but there seems to be little use of this. The use in subsample seems distinct. (But I may be totally wrong here, fresh set of eyes)

[2021-06-06 16:18] fritzo commented on #2795
Hmm I don't see a clean way to resolve this issue, given that we want to remain backwards compatible and as @fehiepsi `event_dim` is used to decide subsampling...

[2021-06-07 01:16] Padarn commented on #2795
It seems to me that you could remove `event_dim` from the `pyro.param()` and `PyroParms` use cases and rely on the constraint, and keep the subsample `event_dim`, but perhaps that isn't an improvement. It would as you say potentially break some backwards compatibility though.

[2021-06-07 02:30] stefanwebb commented on #2859
@guyko81 the `.inv` method swaps the forward and inverse operations and returns a new transform, but it keeps the same parameters. Have you tried called `transform._inverse(Y_train)` on the original transform?

[2021-06-07 13:39] guyko81 commented on #2859
@stefanwebb no, I wasn't aware of the function name, thanks for sharing! I'll check and get back if it doesn't work, thank you!

[2021-06-07 14:16] fehiepsi opened #2862 "Support Unit L1 Ball constraint"
This constraint is useful for the `skewness` parameter of Sine Skewed distribution introduced in #2826.

### Motivation

It is nontrivial to parameterize the skewness parameter. For example, even in case d=2, currently we need 4 non-trivial lines of code
[code]

### Approach

We can use [signed stick breaking transform](https://github.com/pytorch/pytorch/blob/94cc681fc2e5218c10493938a8ca01272c3c6f

[2021-06-08 04:43] fritzo commented on #2768
@nb2838 no hurry, feel free to take as long as you like. I've tagged this `help wanted` just to signal that "no core Pyro contributor plans to work on this issue", so by all means feel free to take ownership.  Here: I'll assign it to you 😄

[2021-06-08 13:15] #2855 closed

[2021-06-10 17:58] fritzo opened #2868 "FR an AsymmetricSoftLaplace distribution"
It would be nice to have an `AsymmetricSoftLaplace` distribution, combining features of [AsymmetricLaplace](https://docs.pyro.ai/en/latest/distributions.html#asymmetriclaplace) and [SoftLaplace](https://docs.pyro.ai/en/latest/distributions.html#softlaplace):
- A (loc, scale) family amenable to `LocScaleReparam`
- Learnable skew
- Concave log density, leading to unimodal posteriors
- Infinitely dif

[2021-06-11 08:12] HEmile opened #2869 "[FR] Implement a new Trace_ELBO using Storchastic"
Implement the [Storchastic framework](https://arxiv.org/abs/2104.00428) for gradient estimation. This extends [DiCE](https://arxiv.org/abs/1802.05098), meaning that the existing DiCE implementation can be extended to include other gradient estimation methods for gradient variance reduction. An existing Storchastic implementation can be found [here](https://github.com/HEmile/storchastic).

[2021-06-11 18:25] fonnesbeck opened #2870 "guide.quantiles() shape issue"
I run into frequent `RuntimeError`s when generating quantiles of models fitted with SVI. This can be replicated on the radon models in `pyro-models`. For example, the [radon_intercept](https://github.com/pyro-ppl/pyro-models/blob/master/pyro_models/arm/radon_intercept_chr.py) model fit with `SVI` with an `AutoNormal` guide generates the following:

[code]

This has come up repeatedly with larger m

[2021-06-11 18:40] fritzo commented on #2870
Hi @fonnesbeck it looks like this is a bug in the model. To fix locally I believe you can fix the indexing, something like this:
[code]
The issues is that during quantiles (or any other multiple-sample method), `eta` is batched, and the naive `eta[county]` indexes into the wrong dimension.

[2021-06-11 18:43] martinjankowiak commented on #2870
that's what i thought at first too but i don't think that's actually it since `quantiles` doesn't actually run the `model` afaik...

[2021-06-11 19:30] fonnesbeck commented on #2870
My guess was that it was something deeper, but its just a guess. I've been building Pyro models for the past 6 weeks or so and I can only recall one occasion where `quantiles` worked without this error. Of course, I may be constructing all of my models incorrectly ...

[2021-06-11 19:41] fehiepsi commented on #2870
I think it is a bug. The line
[code]
assumes that quantiles is a scalar. I'll add a fix for it.

[2021-06-12 00:47] #2870 closed

[2021-06-12 10:46] jaronowitz commented on #1461
Would there be interest in an example concerning solving multiarmed bandits using [randomized probability matching](https://www.economics.uci.edu/~ivan/asmb.874.pdf)? The model is fairly simple and seems to be widely used in A/B testing. For example I believe it is used in Google Optimize. I'm really excited about Pyro and would love to be able to contribute!

[2021-06-12 15:30] martinjankowiak commented on #1461
@jaronowitz sure sounds great! feel free to start by opening an issue to discuss scope/details or just directly submit a PR if you have a good idea of what you'd like to contribute. either way we're happy to offer advice and suggestions, help improve the code, etc

[2021-06-13 11:13] wanglu2014 opened #2873 "How to match the topic name to prodLDA result?"
According to the tutorial (the last figure in https://pyro.ai/examples/prodlda.html),  the tensor generated by prodLDA.beta() can be matched to the topic names. However, the number of topics in prodlda was manually setted by me, how did we match topics to the tensor of prodLDA.beta()? If our input is a matrix like that, how did we know the rank of words for each topic?

feature.name  | A | B | C |

[2021-06-13 13:37] fehiepsi commented on #2873
Hi @wanglu2014, it is better to use [Pyro forum](https://forum.pyro.ai/) for questions and discussions. We use github to track the issues and feature requests. For your question, in the tutorial, the rank of a word is determined by the corresponding value in `beta`. And we need to know the number of topics in advance (it is used in both encoder and decoder). If you know in advance the topic names

[2021-06-13 14:47] wanglu2014 commented on #2873
Thank you for your timely reply, and I will ask in the forum next time. However, the 20 names of topic only appear in variable news, and I have not seen any input of the training process which including the 20 names. If specific group information of 20 names and words have not been inputted to the model, how did prodLDA match the result to 20 names?

[2021-06-13 14:48] wanglu2014 commented on #2873
Thank you for your timely reply, and I will ask in the forum next time. However, the 20 names of topic only appear in variable news, and I have not seen any input of the training process which including the 20 names. If specific group information of 20 names and words have not been inputted to the model, how did prodLDA match the result to 20 names?

[2021-06-13 15:36] fehiepsi commented on #2873
The number of topics is a hyperparameter specified in cell 11. You can change it to 10 if you want.

[2021-06-14 00:32] wanglu2014 commented on #2873
Sorry for not clarify my question. The parameter is obvious 20, however, how to determine the order of 20 names response to original 20 topics. If change it into 10, is it first 10 names in variable news match the result?

[2021-06-14 01:35] fehiepsi commented on #2873
I see. So you are talking about supervised learning. LDA does not require pre-defined topics. If you use pre-defined topics, I guess you can just optimize the decoder (i.e. perform maximum likelihood) with the same likelihood Multinomial(doc | total_count, probs=softmax(beta[topic])). (On the other hand, if your target is to perform text classification (i.e. predict the topic of each document), th

[2021-06-14 20:07] #2868 closed

[2021-06-15 01:31] wanglu2014 commented on #2873
You are right. I have predefined topics. I want to infer the rank of word for each topic. Might other method can solve this problem？

[2021-06-15 04:01] fehiepsi commented on #2873
In that case, I think you can perform maximum likelihood (optimizing the decoder's parameters as I mentioned in the last comment). In Pyro, here is the psuedo-code (for details, you can just mimic the ProdLDA tutorial)
[code]

[2021-06-16 16:43] fritzo opened #2875 "How to index into a batch dimension using an enumerated index?"
@samuelklee showed me a model where we couldn't find a way to correctly index into a batch dimension using either `torch.Tensor.__getitem__()` or `pyro.ops.indexing.Vindex()`.  Do we need something more general than `Vindex()`?

## Problem

Consider an enumerated model
[code]
The crux is that
- during generation, `p_s.shape == (5,)` and `y.shape == (6, 5, 3)` but
- during enumeration `p_s.shape ==

[2021-06-16 17:54] ordabayevy commented on #2875
These kind of cases come up a lot in my code. I usually capture plate indices (`vdx` below) and add extra dims as needed (`vdx[:, None]`) and then use `Vindex`:
[code]

[2021-06-17 01:18] fritzo commented on #2803
Completed in #2857

[2021-06-17 01:18] #2803 closed

[2021-06-17 18:33] michaeldeistler opened #2877 "`transforms` are not allowed when a `potential_fn()` is used [documentation][bug]"
### Issue Description
The [`transforms`](https://github.com/pyro-ppl/pyro/blob/373d348fe11963cd9a7d82b2b3099adf9345e1d5/pyro/infer/mcmc/hmc.py#L49) passed to e.g. `HMC` are not used when a `potential_fn` is passed (instead of a `model`). The transform is merged with the rest of the model [here](https://github.com/pyro-ppl/pyro/blob/373d348fe11963cd9a7d82b2b3099adf9345e1d5/pyro/infer/mcmc/util.py#L

[2021-06-18 14:55] fritzo opened #2878 "Make poutine.reparam compatible with InitMessenger, poutine.condition, etc."
This issue tracks design choices about the relationship between `ReparamMessenger` and other messengers that set `msg["value"]` such as `InitMessenger`, `ConditionMessenger`, and `ReplayMessenger`.

The problem is that `poutine.reparam` is usually applied directly to a model, often inside the model at a specific site, whereas the value-setting effect handlers are usually applied as part of inferen

[2021-06-19 21:03] fehiepsi commented on #2877
Hi @michaeldeistler, the HMC kernel assumes that the variables have real supports (see [potential_fn doc](https://docs.pyro.ai/en/stable/mcmc.html#pyro.infer.mcmc.HMC)). If you want to perform transforms for those variables, I think you can define them in the `transforms` argument of [MCMC](https://docs.pyro.ai/en/stable/mcmc.html#pyro.infer.mcmc.api.MCMC).

[2021-06-21 20:26] h1psta opened #2882 "[FR] Online (streaming) VI support"
It would be nice to have native support for online VI (its main 3 flavors are listed here: https://arxiv.org/abs/1904.03920 ).

Currently, the only tool applicable to the online learning scenario would be the SMCFilter, but it often performs poorly in high-dimensional situations.

SMCFilter itself could also benefit from particle MCMC rejuvenation as discussed here: https://www.springer.com/gp/boo

[2021-06-21 23:58] eb8680 commented on #2882
Hi @h1psta, thanks for the feature request. Do you have a specific use case in mind that you could explain to give some context? Are you interested in contributing some version of this yourself?

Also, if you're more interested in having rejuvenation in SMCFilter and you think that would be easier to implement or better suited to your use case, could you create a separate feature request issue spe

[2021-06-22 11:17] h1psta commented on #2882
I am currently playing with Bayesian active learning where, ideally, you want to have good posteriors even when feeding labeled datums one by one, because your posterior governs your optimal query datum in the next time step. Here the online aspect is primary of computational concern, but you could have instances where you operate on large data streams that you cannot keep in memory.

I will be ha

[2021-06-23 10:00] nb2838 commented on #2768
Hello,

So we are running into a small issue that we don't exactly know how to solve. The algorithm works by constantly evaluating each proposed step in the parameter space by checking the difference between the old elbo and the new elbo.
![image](https://user-images.githubusercontent.com/61052993/123075694-78597700-d3e6-11eb-81d9-e8fb2f96123c.png)
The issue is that according to the algorithm both

[2021-06-23 14:32] fritzo commented on #2768
@nb2838 IIUC you need the underlying randomness to agree between two elbos, but the parameters to differ?  I believe you can do this in Pyro for a subset of distributions: those that can be reparametrized to be explicitly differentiable functions of explicitly parameter-free Pyro distributions.  (Counterexamples include `Gamma`, `Beta`, and `Dirichlet`, whose "reparametrized sample" `.rsample()` m

[2021-06-23 16:11] nb2838 commented on #2768
Thank you @fritzo. What you mention is exactly what I was looking for. I am not familiar with the poutine.reparam effect handler so I'll take a look at that and use it for that particular step of the algorithm.

[2021-06-23 16:29] fritzo commented on #2768
@nb2838 Sounds good. I think it's safe to first implement inference with a check (the `ValueError` above) that assumes models have been manually reparametrized, and then in follow-up PRs we can work on automatically reparametrization strategies.

[2021-06-23 18:17] fritzo opened #2883 "FR Automatic reparameterization strategies"
As our available [reparameterization strategies](https://docs.pyro.ai/en/dev/infer.reparam.html) become increasingly complex and composable, it would be useful to provide some automatic strategies, possibly even enabled by default in autoguides and MCMC.

Maybe this could work with syntax like `poutine.reparam(config="auto")` or `poutine.reparam(config="full")`.

## Proposed automatic strategies
-

[2021-06-23 20:32] giovp commented on #2761
Hi @fritzo , I tried the first solution (`torch.set_default_tensor_type(torch.cuda.FloatTensor)`) and it doesn't seem to work. I get this error when using `torch.DataLoaders` and `pytroch_lightning.LightningDataModule`

[code]

Is there some other workaround to try out? Also, what's the bottleneck here? Looking at the traceback it fails at `log_prob()` evaluation.

<details>
<summary>Details</summ

[2021-06-23 21:01] fritzo commented on #2761
Hi @gshartnett, it's difficult to diagnose where the stray cpu tensor is coming from without actually diving into a debugger. I'd recommend running under pdb and inspecting each tensor's device.  You might also try updating PyTorch, since they seem to be getting more consistent over time.

One thing you could try is to use [torch.save](https://pytorch.org/docs/stable/generated/torch.save.html) and

[2021-06-23 23:47] eb8680 commented on #2882
Sounds great! We're here to help, so feel free to ask any questions as they come up or to request input on design decisions, reviewing draft code or finding a good starting point.

[2021-06-24 00:03] eb8680 commented on #2883
Would it also make sense to refactor the automatic transformation to unconstrained space in [MCMC](https://github.com/pyro-ppl/pyro/blob/dev/pyro/infer/mcmc/util.py#L335) and [ADVI](https://github.com/pyro-ppl/pyro/blob/dev/pyro/infer/autoguide/guides.py#L710) to use `poutine.reparam` and an automated `"unconstrain"` reparameterization strategy?

[2021-06-24 00:13] eb8680 commented on #2883
Also, the [enumeration strategies](https://github.com/pyro-ppl/pyro/blob/dev/pyro/poutine/enum_messenger.py#L55) are tantalizingly close to being `Reparam` classes - I wonder if we could actually rewrite them that way and make `config_enumerate` into a special case of `ReparamMessenger`.

[2021-06-24 03:37] fritzo commented on #2883
Interesting, this seems similar to @fehiepsi's `uniform_reparam_transform()` in https://github.com/pyro-ppl/numpyro/pull/807 Before we do any major refactoring, I'd like to see what issues come up with the new use cases of automatic reparametrization strategies in #2884.  I expect #2884 to uncover design constraints that will inform how reparametrization transforms work more generally.

[2021-06-24 03:46] fehiepsi commented on #2883
In NumPyro, we used [unconstrained_reparam](https://github.com/pyro-ppl/numpyro/blob/77be4d8171b0570bcabbebf1456f70ef94f9d0e8/numpyro/infer/util.py#L174) in HMC. For autoguide, at first, I tried to use that reparam but later decided to follow Pyro implementation because SVI requires a pair of `model` and `(transformed) guide`, not `reparamed_model` and `diagonal guide`.

[2021-06-24 19:14] mtsokol commented on #2843
Hi @fritzo!

I was wondering what I can try to do next.

As `Add r_hat to pyro.ops.streaming` is completed I tried `n_eff = ess` for streaming but after short inspection of current implementation it looks undoable to me (as it requires e.g. those lags).

Apart from that I can definitely try:

Could you suggest to me a problem with a model that would be suitable for that?

Also I can join new tutor

[2021-06-25 07:37] WeilinChen507 opened #2885 "How to run CEVAE model on GPU?"
### Issue Description
 Hello, I find the pyro implementation of CEVAE is so good. But I want it be able to run on GPU to speed up, and then it returns a RuntimeError as follows:

[code]

### Environment
 - Linux， cuda 10.2
 - PyTorch version : 1.8.1
 - Pyro version:  1.6.0

### Code Snippet
  I modified the example codes to let CEVAE run on GPU as following (put trained data and model into GPU):
[

[2021-06-25 13:13] WeilinChen507 commented on #2885
I have solved the problem by using
[code]
instead of using
[code]

I guess that the first one lets the tensors of bottom implementation be created on GPU.

[2021-06-25 13:36] #2885 closed

[2021-06-26 16:55] bdatko opened #2886 "RuntimeError: unsupported input to tensordot, got dims=0"
### Issue Description
I am unable to reproduce the tutorial on [Inference with Discrete Latent Variables](https://pyro.ai/examples/enumeration.html#Inference-with-Discrete-Latent-Variables) due to the following error:
`RuntimeError: unsupported input to tensordot, got dims=0`
The error might be related to cpu-only for PyTorch, but I can reproduce the below code snippet without an error when using

[2021-06-26 19:48] fritzo commented on #2886
Thanks @bdatko, looks like we need to add some fixes for PyTorch 1.9...

[2021-06-27 01:50] PraljakReps opened #2888 "distributions tutorial"
### Guidelines

**NOTE:** Issues are for bugs and feature requests only. If you have a question about using Pyro or general modeling questions, please post it on the [forum](https://forum.pyro.ai/).

If you would like to address any minor bugs in the documentation or source, please feel free to contribute a Pull Request without creating an issue first.

Please tag the issue appropriately in the ti

[2021-06-27 01:50] #2888 closed

[2021-06-27 17:08] giovp commented on #2761
thanks for the very prompt reply @fritzo , I was able to send some flows to `cuda` with `self.to(device)`.

E.g.
[code]
Amongst the one I tried, this also works for `BatchNorm` and `AffineCoupling` but it does not work for `Permute` (which returns an error like "permute does not have to() method"). From very high level inspection, `Permute` is the only one inheriting from `torch.distributions.tran

[2021-06-28 15:39] davindicode opened #2889 "Multi-output multi-lengthscale GPs [feature request] [discussion]"
Hey everyone,

I have coded up a multi-output multi-lengthscale GP (i.e. separate kernel hyperparameter per input dimension and per output dimension). It is pretty efficient, and scalable combined with inducing points. I took the code from GP contrib and modified it for research purposes (neural data analysis for big data), but if there is enough interest here it should be pretty easy to put this

[2021-06-28 16:28] fritzo commented on #2889
cc @fehiepsi

[2021-06-29 05:56] fehiepsi commented on #2889
Hi @davindicode, if there's a lot of changes, it would be nice if you can start with a [design doc](https://github.com/pyro-ppl/pyro/wiki/Design-Docs) so we can figure out how many changes we need for this feature. If you think there would be many changes, then having a separate module would be a better solution. Otherwise, if we just need to introduce 1 extra argument to the kernels/models to han

[2021-07-01 03:05] fritzo commented on #2886
Note this is caused by upstream PyTorch bug https://github.com/pytorch/pytorch/issues/61096 and we will be working around the bug in #2887 and the Pyro 1.7 release.

[2021-07-01 14:34] michaeldeistler commented on #2877
Hi @fehiepsi

Thanks for the response, and sorry for being unresponsive for a while. In my code snippet above, I pass the `transforms` to MCMC.:
[code]
Isn't this exactly what you suggested? As I describe above:

When using a `model` instead of a `potential_fn`, things work fine.

[2021-07-01 14:34] michaeldeistler commented on #2877
Small aside, the same behavior happens when I pass the transforms to the HMC kernel directly:
[code]

[2021-07-02 01:28] ordabayevy opened #2890 "`pyro.vectorized_markov` is slow for large time lengths because of `str(torch.tensor)` operation"
In order to make `pyro.markov` and `pyro.vectorized_markov` syntaxes compatible and for readability of Markov variable names we introduced string manipulations in `VectorizedMarkovMessenger` that replaces `str(torch.tensor)` suffix with `str(slice)`:

https://github.com/pyro-ppl/pyro/blob/5ecc9c0a2b8192b99ad386cc1d946e8a44f964ae/pyro/contrib/funsor/handlers/plate_messenger.py#L320

However, for lo

[2021-07-02 03:49] fehiepsi commented on #2877
I think we should raise an error if `transforms` is passed to HMC together with `potential_fn` because the assumption is t

Hmm, with `potential_fn`, the inputs are assumed to have real supports. I guess you want to use some sort of `AffineTransform` here (i.e. a map from `real` to `real`)? If so, maybe we need to clarify that `potential_fn` is the potential function with respect to its inputs (ra

[2021-07-02 04:25] fritzo commented on #2886
Resolved by #2887

[2021-07-02 04:25] #2886 closed

[2021-07-02 09:02] michaeldeistler commented on #2877
Oh, okey, I think I got it now! If I understand correctly, the `transforms` is the transform that was also applied to my `potential_fn` (outside of pyro) in order to make the support unconstrained. Thanks a lot for your explanations, that all makes sense!

[2021-07-02 09:02] #2877 closed

[2021-07-02 11:35] #2602 closed

[2021-07-04 05:13] davindicode commented on #2889
Hi thanks for your suggestions! The code modifications are not that big but the usage will change slightly. What I have coded up requires the input to be higher dimensional. I wrote it for neuroscience applications, but what happens is that now we essentially have a problem where we want the GP to map from d dimensional X (tensor of shape (batch_shape x d)) to N dimensional output Y (tensor of sha

[2021-07-04 22:59] #2875 closed

[2021-07-04 23:10] eb8680 commented on #2890
What about just making the indices `slice`s? Was there a reason we needed them to be tensors?

[2021-07-04 23:57] eb8680 commented on #2890
I guess we need tensors to do index arithmetic (e.g. `x[t-1]`). It seems like a better long-term solution would be to manage naming in markov contexts more automatically and avoid the need for manual formatting in the first place, since it's rare and difficult for users to refer to these sites manually anyway. In the meantime,

No, let's just change the syntax, `contrib.funsor` is already pretty s

[2021-07-05 03:02] fehiepsi commented on #2889
I think we'll want to keep the current API usage but add more functionalities. I'm not sure if I can follow your intention of using GP module as well as potential issues. How about we restrict the discussion scope to the kernel and its math (and skip the interaction between input/output of GP)?

Assume that `X` has the shape `(b, N, d)` where `b` is the batch dimension, `N` is the number of data p

[2021-07-05 20:52] arm-on commented on #2797
@fritzo I have searched a lot on this error. No real answer is available. Would you please clarify what you mean by "???" ?

[2021-07-05 21:54] fritzo commented on #2797
@arm-on the above snipped assumes all dimensions are event dimensions, so you should be able to call something like
[code]

[2021-07-09 08:16] robsalomone opened #2899 "spline_autoregressive() not working with quadratic splines"
### Issue Description

The helper functions to create transforms in `pyro.distributions.transforms.splineautoregressive` throws an error when quadratic splines are used in a simple example. This problem does not occur with linear rational splines.

### Environment
Mac OSX 11.3, Python 3.8.

### Code Snippet
[code]

### Error Message

----------------------------------------------------------------

[2021-07-09 08:25] OlaRonning commented on #2834
Hi @alexlyttle,

Saw your [circular reparam](https://github.com/pyro-ppl/numpyro/pull/1080) over on NumPyro and figured you might be interested in collaborating on this tutorial? In particular, if you know of a high-quality public dataset with (1D) circular data (orbits measurements perhaps), that awesome.

[2021-07-09 13:33] alexlyttle commented on #2834
Hi @OlaRonning, I would love to help and I have been giving this some thought. At first I thought the inclination angle of stars may be a good example, but I don't think the problem is circular and requires a different kind of reparameterization. In my own work, I have been using VonMises to model a phase parameter in a model (e.g b in y ~ sin(a*x + b)). The science behind this work a bit unusual,

[2021-07-09 17:18] fritzo commented on #2899
Hi @robsalomone, I believe normalizing flow development has moved to https://github.com/stefanwebb/flowtorch and then moved to https://github.com/facebookincubator/flowtorch .

@stefanwebb What would you recommend as the best place for current Pyro users to obtain normalizing flow implementations? (trying to avoid following [google](https://goomics.net/50/))

[2021-07-10 03:44] cswor commented on #586
For me, it looks like pyro-ppl installed, but i get a message that "kernel has died." Not an expert here but that does not sound good.

[2021-07-10 04:06] fehiepsi commented on #586
Hi @cswor, this is an old topic with an old Pyro version. Could you create a new issue instead? Typically, when you see "kernel has died", you can look at the terminal to see more messages.

[2021-07-10 04:24] cswor commented on #586
@fehiepsi, thanks will give it a try tomorrow. eyes (and brain) getting tired tonight.

[2021-07-12 13:29] alexlyttle commented on #2834
@OlaRonning

I was wrong here... I think the "argument of periasteron" might be a good circular parameter example, which is involved in modelling the orbits of exoplanets. I can't find an example of someone using Von Mises but it may well be appropriate here. I will first try recreating [this](https://gallery.exoplanet.codes/tutorials/rv/#the-radial-velocity-model-in-pymc3) tutorial from the `exop

[2021-07-12 13:32] OlaRonning commented on #2834
@alexlyttle that looks very neat. Would be cool if the directional treatment works out well. I look forward to seeing it!

[2021-07-13 06:13] davindicode commented on #2889
Yes I agree with what you wrote there. So in practice, I can have a go at modifying the kernel module. However, this also involves modifying the conditional Gaussian function in another file (since we have higher dimensional kernel matrices now). Also, `X` has shape `(b, N, d)` but with `b` being the MC sample dimension right? (Since this is SVGP) In my implementation currently, `b` plays the role

[2021-07-14 16:23] DerJFK opened #2900 "log_prob yields positive values during training"
I tried to use normalizing flows to transfer some distribution to the normal distribution. As a transform I used

[code]

However, during training the `- flow_dist.log_prob(x).mean()` command decreased below zero and did not stop decreasing as depicted in the following figure.

![Figure_2](https://user-images.githubusercontent.com/12659799/125655919-b4cc941a-074d-45e5-a2be-94bcbc2c7a29.png)

I wou

[2021-07-14 17:50] fritzo commented on #2900
Hi @DerJFK we recommend https://forum.pyro.ai for questions; that way answers are more discoverable in the future. When you post there can you also explain why you expect `.log_prob()` to return only positive or on-average-positive values? Note `.log_prob()` returns a probabilty density in log space, and density is everywhere less than 1 for normal distributions with large variance.

[2021-07-14 17:50] #2900 closed

[2021-07-15 17:36] ab2E20 opened #2901 "TypeError: ufunc 'isfinite' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''"
### Guidelines

**NOTE:** Issues are for bugs and feature requests only. If you have a question about using Pyro or general modeling questions, please post it on the [forum](https://forum.pyro.ai/).

If you would like to address any minor bugs in the documentation or source, please feel free to contribute a Pull Request without creating an issue first.

Please tag the issue appropriately in the ti

[2021-07-15 17:41] ab2E20 commented on #2901
I have been trying to follow the pyro tutorial (https://github.com/probml/pyprobml/blob/master/notebooks/africa_bayes_svi_hmc_pyro.ipynb) to implement a BNNs and plot uncertainties. However, when trying to do this I receive the following error:

TypeError: ufunc 'isfinite' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting

[2021-07-15 17:42] #2901 closed

[2021-07-15 19:27] eb8680 opened #2902 "Implement vectorized adaptive HMC"
Pyro's HMC and NUTS implementations are feature-complete and well-tested, but they are quite slow in models like the one in our [Bayesian regression tutorial](http://pyro.ai/examples/bayesian_regression.html) that operate on small tensors for reasons that are largely beyond our control (mostly having to do with the design and implementation of `torch.autograd`), which is unfortunate because these

[2021-07-15 19:54] eb8680 opened #2903 "Implement Nonparametric Hamiltonian Monte Carlo"
This issue proposes adding an implementation of [nonparametric Hamiltonian Monte Carlo](https://arxiv.org/abs/2106.10238),  a modified version of HMC that provably correctly handles models with stochastic control flow, unlike vanilla HMC.

@fzaiser (one of the paper's authors) has open-sourced a [PyTorch reference implementation](https://github.com/fzaiser/nonparametric-hmc), and turning this into

[2021-07-18 20:44] fehiepsi commented on #2889
I think so. Currently, the `conditional` utility does not support batch GP.

I'm not so sure about the MC sample dimension. What is the output shape of the kernel that you have in mind if `lengthscale.shape == (c, d)` and `X` has shape `(b, N, d)`? (for broadcasting, I think you'll need `X.shape == (b, 1, N, d)` to get the output with shape `(b, c, N, N)` but maybe I misunderstand your usage case)

[2021-07-21 22:53] tgeller08 commented on #2797
I had the same issue and was not able to fix it by manually setting the event dimensions. When trying to run the code, I recommend installing an earlier version of pyro (ex: !pip3 install pyro-ppl==1.4.0) in the notebook instead as a temporary fix. I am still trying to figure out how to fix it.

[2021-07-22 07:33] arm-on commented on #2797
Hi
I eventually fixed the code by installing the previous versions of all of the necessary packages. Here is my code:
https://github.com/arm-on/interpretable-image-classification/blob/main/bayesian-nn/MNIST_Bayesian_Training.ipynb

[2021-07-24 17:05] nb2838 commented on #2768
Wanted to provide an update on this. We have a rough implementation of the algorithm for a simple model. However, it relies on using dogleg method to solve the minimization of the trust-region sub-problem. Unfortunately, this doesn't work well. Currently, we are trying to implement some other minimizer for the trust-region subproblem.

[2021-08-08 04:41] ainilaha commented on #1863
Why did they close the bug because it has not been fixed yet? I also met the same issue.

[2021-08-13 08:46] tonylin52 opened #2911 "Examples for classification deep learning model"
Hi,

Is there any example code for classification deep learning model in terms of pyro?
I have found one or two on Internet, and none of them are runnable...

https://paper.yanxishe.com/TextTranslation/1301

thanks

[2021-08-15 16:54] tillahoffmann opened #2912 "[discussion] Multiple guides/models in the same process"
Following on from [this brief discussion](https://forum.pyro.ai/t/multiple-guides-models-in-the-same-process/3240) on the forum...

I would like to compare the results of using different guides for the same model (or the results from different models with different guides). Similar to this post ([Multiple guides for same model ](https://forum.pyro.ai/t/multiple-guides-for-same-model/1316)) it is o

[2021-08-16 23:19] eb8680 commented on #2911
@tonylin52 if you mean Bayesian neural networks like the one in your link, we recommend you check out [TyXe](https://github.com/TyXe-BDL/TyXe). You can also find lots of examples and snippets on our [forum](https://forum.pyro.ai/).

[2021-08-17 00:32] fritzo opened #2913 "FR tutorial on debugging Pyro models"
@cwhelan writes

It would be nice to have a little tutorial demonstrating tips and tricks to debugging Pyro models, as suggested by @martinjankowiak .

[2021-08-17 00:37] fritzo commented on #2913
Here's a start:

I'd recommend jumping into a debugger and examining the invalid values. The error means that values are falling outside of the distributions support, typically either NAN values or negative values when the support is positive. To jump into a debugger either run your script under pdb like
[code]
or inside a notebook jump into pdb using a new cell
[code]
Once you're in the debugger

[2021-08-17 13:42] fritzo commented on #2912
Hi @tillahoffmann, nice idea! It looks like there's some old machinery for accomplishing similar via `param_store.get_state()`, `.clear()`, and `.set_state()`, but I like your simplifying interface of a context manager. What do you think of adding that as a simple `.scope()` method on the `ParamStoreDict` object as in #2914?

[2021-08-17 15:15] tillahoffmann commented on #2912
Hi @fritzo, #2914 is much nicer than the implementation above, avoiding the hacky replacement of internals in various modules.

[2021-08-17 18:26] #2912 closed

[2021-08-18 18:38] tillahoffmann opened #2915 "[discussion] Alternative parametrisations for numerical stability (e.g. for NegativeBinomial distribution)"
Some of the distributions provide multiple different parametrisation options. For example, the [`MultivariateNormal`](https://pytorch.org/docs/stable/distributions.html#torch.distributions.multivariate_normal.MultivariateNormal) distribution can be parametrised in terms of covariance, precision, or Cholesky decomposition of the covariance matrix. However, irrespective of the parametrisation used,

[2021-08-19 11:46] fritzo commented on #2915
👍 Hi @tillahoffmann, I think it's a great idea for Pyro and NumPyro to offer multiple parameterizations of distributions for purposes of numerical stability and interpretability. As you note we already do this for e.g. `Categorical` (`probs` vs `logits`) and `MultivariateNormal` (`covariance_matrix` vs `scale_tril` vs `precision_matrix`). We also provide an an alternative for `NegativeBinomial`, b

[2021-08-20 03:09] fehiepsi commented on #2915
For context, @dirmeier implemented BetaProportion, NegativeBinomial2 in NumPyro as alternative parameterizations of Beta and NegativeBinomial.

[2021-08-20 18:56] fritzo opened #2916 "FR Warn that model-side sequential enumeration is not implemented"
The [TraceEnum_ELBO](https://docs.pyro.ai/en/dev/inference_algos.html#pyro.infer.traceenum_elbo.TraceEnum_ELBO) docs state that guide-side enumeration allows either parallel or sequential enumeration, and model-side allows sequential. However if an unsuspecting user has not read this weak fine print and attempts to sequentially enumerate on the model side, the only warning is
[code]
It would be he

[2021-08-20 22:20] #2916 closed

[2021-08-22 11:13] tillahoffmann commented on #2915
Nice to see those distributions in numpyro already!

In terms of an interface for the end user, having a single entrypoint with different keyword arguments seems preferable over having to know the different distribution names (e.g. `NegativeBinomial2` is a hard term to search for unless you know what you're looking for).

Could a possible approach be to have different classes for different distrib

[2021-08-23 03:29] fehiepsi commented on #2915
I can see that the checks would be complicated. I would prefer using a single name for particular parameterization and cross-link to other parameterizations as @fritzo suggested. In NumPyro, we create a common interface just for backward compatibility.

Agreed. I think we should a line to `NegativeBinomial`: `Also see ... for an alternative parameterization with `mean` and ...`.

[2021-08-24 06:18] karthikayan4u commented on #2902
Hello @eb8680 , I am completely new to open source contribution. Although there are lot of alien terms for me in the above proposal, I am very open to learn and work on this proposal. Please, share some resources on the same.

[2021-08-24 12:05] eb8680 commented on #2902
Hi @karthikayan4u, thanks for your interest in contributing to Pyro! The immediate background information necessary to understand this proposal is in the [paper I linked to about ChEES-HMC](http://proceedings.mlr.press/v130/hoffman21a.html).

Do you have much experience with applied Bayesian statistics or probabilistic programming, or have you perhaps taken a class based on either the Bishop or Mu

[2021-08-24 13:57] karthikayan4u commented on #2902
I have very less knowledge on those topics you mentioned. So, I will start with the task you suggested. Meanwhile, I will try to take those classes you mentioned and come back to work on this proposal. Thank you @eb8680 .

[2021-08-26 16:21] eb8680 opened #2919 "Overly strict validation logic during guide enumeration"
The error-checking logic in `check_site_shape` in `TraceEnum_ELBO` incorrectly raises an error when performing guide-side enumeration in a model/guide pair where the factorization differs between model and guide such that the guide introduces an extra dependency. This came up in @qinqian's project.

Consider the following trivial model/guide pair:
[code]

This snippet is fine and should be allowed

[2021-08-27 05:15] LysSanzMoreta opened #2920 "[FR] Plate subsampling without shuffling randomly the indexes"
Hi!

I am working with a type of data that would benefit of subsampling at the plate but without shuffling the data indexes. Is it possible to add a flag to the plate that says something like _shuffle=False_ ?

I did a small attempt to change the  [_Subsample class](https://github.com/pyro-ppl/pyro/blob/b7ba915b851d51c61d805da741bf7a74fcf9319d/pyro/poutine/subsample_messenger.py#L14-L64) but the c

[2021-08-30 09:57] LysSanzMoreta commented on #2920
@fritzo @martinjankowiak

Hi! Sorry for late reply, back from vaccine sickness.

@martinjankowiak  I have a "special" model where the first part requires the full input data for some computation and  in the second part it is split. If I use mini-batching, the first part is computed n times (where n = number of mini-batches) and the model becomes quite slow. You could be right and there is another

[2021-08-30 10:23] fritzo commented on #2920
@LysSanzMoreta You should still be able to accomplish this passing `subsample_size` or `subsample`. Could you paste a concrete example model?

[2021-08-30 11:26] LysSanzMoreta commented on #2920
Hi!

I can give a guide of the full model in private :)

I have something like this;

[code]

Does that help?

Thanks! :)

[2021-08-30 12:14] fritzo commented on #2920
You can manually batch your model by passing in both `data` and the batch indices `indx`:
[code]
You could also avoid some indexing math by using [PyTorch dataloaders](https://pytorch.org/docs/stable/data.html#torch.utils.data.BatchSampler)
[code]

[2021-08-30 12:21] LysSanzMoreta commented on #2920
@fritzo  Ohh, I missed that ... I did not see that subsample could take in the indexes. I will try it out then. Thanks!

[2021-08-30 14:35] fritzo commented on #2832
I believe this was fixed by #2876

[2021-08-30 14:35] #2832 closed

[2021-08-30 14:36] #2920 closed

[2021-09-03 12:15] lbq8942 opened #2922 "the previous version of pyro"
where can i find the the previous version of pyro?today i install pyro-ppl,but it automatic update pytorch 1.9。my pytorch is 1.8。i dont want to update pytorch but want to get the the previous version of pyro

[2021-09-03 13:00] fritzo commented on #2922
You pin the version of any package [via pip](https://pip.pypa.io/en/stable/cli/pip_install/#requirement-specifiers), e.g.
[code]
You can see Pyro's release history [on pypi.org](https://pypi.org/project/pyro-ppl/#history) or [on github](https://github.com/pyro-ppl/pyro/releases).

[2021-09-03 13:00] #2922 closed

[2021-09-04 03:35] lbq8942 opened #2923 "gp.models.VariationalSparseGP and gp.models.vsgp.VariationalSparseGP"
may i ask what the difference between the two?i search gp.models.VariationalSparseGP in docs,i can't find,but it is used in the examples.

[2021-09-04 11:44] eb8680 commented on #2923
Hi @lbq8942, `gp.models.VariationalSparseGP` is just an alias for `gp.models.vsgp.VariationalSparseGP`.

Please use our [forum](https://forum.pyro.ai/) for any future questions so that it's easier for other users to find them later. We mostly use GitHub issues for development-related topics like feature requests and bug reports.

[2021-09-04 11:44] #2923 closed

[2021-09-06 14:43] martinjankowiak opened #2924 "[FR] add an alternative parameterization for lower triangular cholesky factors"
add an alternative parameterization for lower triangular cholesky factors and consider using this in `AutoMultivariateNormal`:

instead of parameterizing a lower cholesky factor as an unconstrained strictly lower triangular piece and a positive diagonal we instead parameterize as

`L = unit_scale_tril @ scale_diag`

where `unit_scale_tril` is lower triangular with ones along the diagonal and `scal

[2021-09-08 13:48] fritzo commented on #2924
I agree we should improve the parametrization of `AutoNormal`. We did something similar to `AutoLowRankMultivariateNormal` #2127, and indeed `AutoLowRankMultivariateNormal` now works much better than `AutoMultivariateNormal`.

[2021-09-08 15:10] fritzo commented on #2924
Note I've been using a similar overparametrization in the `AutoStructured` guide, since the raw MVN via `scale_tril` performed so poorly:
https://github.com/pyro-ppl/pyro/blob/c8dc40a75cc4ff1f43c6ff9178d91c08155d7973/pyro/infer/autoguide/guides.py#L1564-L1573

[2021-09-08 17:32] martinjankowiak commented on #2924
interesting. note this isn't an overparametrization though: the diagonal on `unit_scale_tril` is all ones

[2021-09-16 14:52] reverendbedford opened #2931 "[bug] HalfNormal distributions don't work with JitTrace_ELBO"
### Issue Description
When I try to use `HalfNormal` distributions in my model I get the following error

[code]

Replacing the `HalfNormal` distributions with something else (say a `LogNormal` distribution) allows the model to run.

### Environment
 - Debian
 - torch==1.9.0+cu111
 - pyro 1.7.0

### Code Snippet
Just replacing the `HalfNormal` is sufficient to avoid the error.

[2021-09-16 15:02] fritzo commented on #2931
@reverendbedford are you using any named tensors or packages that may be using named tensors? If not then I suspect this is an internal PyTorch bug and the error message is incorrect (since neither Pyro nor torch.distributions use named tensors).

[2021-09-16 15:04] reverendbedford commented on #2931
I am not using named tensors or any package using named tensors.  I  do suspect it's an internal error somewhere, as I can replace the `HalfNormal`s and everything works fine.  I can raise this over on PyTorch if you think the bug is there.

[2021-09-16 15:10] fritzo commented on #2931
Yes could you raise this issue on PyTorch, cc me and @neerajprad? We could add jit tests there to try to catch these earlier. It may be due to jitting expand or sth.) Thanks!

[2021-09-18 21:45] NikZak opened #2932 "Sampling from stable distribution with 0 loc always gives me a positive mean"
I try the following code

[code]
I always get something substantially positive as a result (e.g. tensor(9.9695e-05)) and never below 5*10^-5 although the mean is supposed to be equal to location parameter which is 0.

This significantly affects my further code.

Am I doing something wrong?

[2021-09-19 07:07] NikZak commented on #2932
Just for reference.
pylevy module gives correct answer
[code]
Now the result is closer to 0 (l~10^-6) and sometimes positive, sometimes negative

[2021-09-19 16:21] fritzo commented on #2932
Hi @NikZak, I believe this is simply a confusion in parametrization. As mentioned in the docstring, we use Nolan's "S0" coordinates by default, and in this parametrization "loc" is not necessarily the mean:
[code]
[code]
We use this "S0" parametrization by default in Pyro because we focus on gradient-based inference, and this "S0" parametrization is differentiable. Pyro provides an alternative non

[2021-09-19 16:23] fritzo commented on #2932
BTW we welcome PRs that clarify or improve docstrings, so feel free to clarify or add anything you think would have helped you avoid this confusion 🙂

[2021-09-19 20:00] NikZak commented on #2932
Great thanks a lot fot the explanation. This makes a lot of sense now. Probably the major source of confusion came from the fact that parametrisation is different from the main wikipedia article on the distributuion. I would probably also add the chapter number from Nolan's book and the analitical formula for the mean in this parametrisation to the docstring. I will try to make a PR for that.

Whi

[2021-09-19 23:44] fritzo commented on #2932
Actually [EnergyDistance](https://docs.pyro.ai/en/dev/inference_algos.html#pyro.infer.energy_distance.EnergyDistance) hasn't seen much real-world use. You might instead try to combine the good old `Trace_ELBO` with [StableReparam](https://docs.pyro.ai/en/stable/infer.reparam.html#pyro.infer.reparam.stable.StableReparam):
[code]

Happy to chat more, but now that we no longer believe this is a bug,

[2021-09-19 23:44] #2932 closed

[2021-09-24 10:09] hejj16 opened #2935 "pyro.param cannot be set to CPU correctly"
### Issue Description

Even if the parameters I pass in ```pyro.param()``` are on the gpu, the returned param are still on cpu.

### Environment
For any bugs, please provide the following:
 - python 3.7, Ubuntu 18.04.5 LTS
 - PyTorch version 1.9.0+cu102
 - pyro 1.7.0
 -
### Code Snippet
[code]

[2021-09-24 12:29] fritzo commented on #2935
Hi @hejj16 can you just be sure you've called `pyro.clear_param_store()` before inference? I wonder if an old CPU value is leaking into this run.

[2021-09-24 16:30] hejj16 commented on #2935
Oh you are right. Sorry for my carelessness

[2021-09-24 16:30] #2935 closed

[2021-09-29 14:20] lbasora opened #2937 "[bug] pyro.contrib.bnn.HiddenLayer missing attributes '_batch_shape' and '_event_shape'"
### Issue Description
The class HiddenLayer is missing attributes '_batch_shape' and '_event_shape'.
I provide a very simple code snippet to reproduce the error for '_batch_shape', but I've got the error when training a full model with such distribution layer (in the call to svi.step()).

### Environment
For any bugs, please provide the following:
 - Ubuntu 20.04 / Python 3.9.
 - PyTorch 1.9.0
 -

[2021-09-29 16:04] martinjankowiak commented on #2937
hi  @lbasora . this particular distribution isn't being maintained anymore. it should probably be deprecated. we recommend using [TyXe](https://github.com/karalets/TyXe) for doing bayesian neural networks in Pyro

[2021-09-29 16:21] lbasora commented on #2937
Hi @martinjankowiak . Thanks very much for pointing me to the TyXe library. This is exactly the functionality I was looking for.

[2021-09-30 13:02] fritzo opened #2938 "poutine.reparam incompatible with poutine.scale"
Consider the model
[code]
and its reparametrized version
[code]
equivalent to
[code]
Now observe that `@poutine.scale`ing the first model changes the effective rate parameter of `x`, whereas scaling `model2` has no effect on the prior.

Am I missing something?  Does this mean poutine.reparam is incompatible with subsampling?  Can we fix it somehow?

[2021-09-30 18:17] martinjankowiak commented on #2938
yeah i think this is inherent. changing coordinate systems changes densities. scaling is raising a density to a power. raising densities in different coordinate systems will have different effects.

still, in the prototypical case with a global latent variable and N iid likelihood terms if you reparam the latent variable and then do SVI + data subsampling then everything is still fine provided tha

[2021-10-03 18:45] wenouyang opened #2939 "error while running the VAE tutorial code"
Hello, I am following [the VAE tutorial ](http://pyro.ai/examples/vae.html) , and got the error due to the

`from pyro.contrib.examples.util import MNIST`

[code]

[2021-10-04 16:29] eb8680 commented on #2939
@wenouyang thanks for the report, can you provide version information for `pyro-ppl`, `torch` and `torchvision`?

[2021-10-05 05:51] wenouyang commented on #2939
@eb8680, pyro version: 1.7.0 , torch version: 1.9.0, torchvision version: 0.7.0, thanks

[2021-10-05 14:02] eb8680 commented on #2939
It looks like your `torchvision` installation is out of date. Can you try updating to the latest version?

[2021-10-05 14:43] eb8680 commented on #2911
Closing, feel free to follow up on the forum.

[2021-10-05 14:43] #2911 closed

[2021-10-05 16:35] mfederici opened #2941 "[FR] TransformModule.inv is not a TransformModule"
### Issue Description
Calling the `.inv` property of a `TransformModule` does not return an instance of a TransformModule.

[code]
As a result, the inverse of any `TransformModule` can not be optimized directly (as the parameters are not accessible).

### Current solution
I am currently using an `InverseTranform` module that is an instance of TransformModule to invert my transformations without lo

[2021-10-09 04:39] wenouyang commented on #2939
@eb8680, thank you very much.

[2021-10-09 15:25] DrLeucine opened #2942 "VAE example Model might be missing output"
Hi there,

I think there might be a small typo in this tutorial https://pyro.ai/examples/vae.html as the model function is missing a return.

The return is present in this example: https://github.com/pyro-ppl/pyro/blob/dev/examples/vae/vae.py

So I'm just wondering whether this was on purpose or just a small mistake.

[2021-10-12 12:45] martinjankowiak commented on #2942
@universvm the return statement in a model/guide has no effect on pyro inference. it's only a convenience that the user can use to return computations done within the model/guide. as such it's generally optional.

you're right that the `plot_tsne` function looks broken please feel free to submit a PR with a fix

[2021-10-14 15:06] fritzo opened #2945 "pyro.ops.special.safe_log() is not serializable"
Currently guides using `safe_log()` cannot be serialized due to https://github.com/pytorch/pytorch/issues/22329. `safe_log()` is used in our log backend for einsum internally, as used in variable elimination and funsor contraction.

One option is to switch `safe_log()` to the usual `.log()` when serializing, with the intent that guides may predict but no longer be trained after serializing. Maybe

[2021-10-21 10:03] L-z-Chen opened #2947 "[FR] Computing the score function of a marginal density"
### Feature Description
A module for computing the score function of a marginal density (both discrete and continuous probability distributions).

The score function is defined as the gradient of log density: `s_p(x) := grad log p(x)` It is known that it can be computed with an analogue of the Fisher's identity  `s_p(x) = E_{Z|x} [grad log p(x,Z)]` (see, e.g., Eq. (2) of <https://arxiv.org/abs/190

[2021-10-26 22:49] vitkl opened #2950 "Support for multiple dependency/parent nodes in AutoStructured [feature request]"
Often in hierarchical models, the prior value of a site depends on the value of several parent nodes via a specific computation (such as matrix multiplication).

For example in this case, the value of `w_sf` depend on `k_sr` and `q_rf`:
[code]
Would be great if it was possible to not only say that `w_sf` depend on `k_sr` and `q_rf` but specify a function that gives a hierarchical component of `w_s

[2021-11-01 00:46] boris-shabash opened #2956 "Finding Highest Density Interval as a credibility interval should be in Pyro"
When I'm working with posterior distributions I'd like to compute the 95% (for example) CI, but I'd like it to be the Highest Density Interval (HDI).

I've written about this in the Pyro forum [here](https://forum.pyro.ai/t/finding-the-highest-density-interval-for-a-gamma-distribution/3429), and was told to open an issue so we can discuss the API for this functionality.

Currently, I'd need to ins

[2021-11-01 05:51] boris-shabash commented on #2657
Hi @fritzo
Is this still a thing?

I'm guessing an example here would entail implementing a PyTorch distribution and then extending it with the `TorchDistributionMixin` interface?

[2021-11-01 15:10] fritzo opened #2957 "[FR] Backport numpyro.render_model()"
Replaces #1502

The old `pyro.util.save_visualization()` has languished, but users seem to like [numpyro.render_model](http://num.pyro.ai/en/stable/tutorials/model_rendering.html).  Let's port this functionality back to Pyro.

## Tasks
- [x] Support discrete latent variables in [pyro.inspect.get_dependencies()](https://docs.pyro.ai/en/latest/infer.util.html#pyro.infer.inspect.get_dependencies). @o

[2021-11-01 18:20] fritzo commented on #2956
Hi @boris-shabash it looks like [pyro.ops.stats.hpdi](https://docs.pyro.ai/en/0.3.1/ops.html#pyro.ops.stats.hpdi) might accomplish what you want. Does that satisfy your requirements?

[2021-11-02 01:22] boris-shabash commented on #2956
@fritzo
Hi
Yes, for my application that is exactly what I want. I don't need it right now, but is there a plan to make an extension of this method that works for multimodal distributions?

[2021-11-02 01:34] fritzo commented on #2956
Hi @boris-shabash, I don't know of anybody's plan to extend this, but maybe if you clearly formulate the function specification in this issue description, someone in the wide community of contributors will notice the `help wanted` tag and implement it.  Feel free to implement it yourself, we're happy to help with code review and testing :+1:

[2021-11-03 03:30] boris-shabash commented on #2956
@fritzo

Sure, so I have an example, but it employs scipy.

Consider the following posterior I cook up by combining two normal distributions

[code]

![posterior_hist](https://user-images.githubusercontent.com/74324586/140005808-6a33515f-ba1c-44ee-8df2-e06122925219.png)

If I want the 95% HDI of this posterior it's not a continuous region, so I need a slightly more advanced method. The second resp

[2021-11-03 13:20] fritzo commented on #2956
Let's be careful with definitions here: 'intervals' are contiguous regions, the HDI is a contiguous region, and for univariate distributions it costs only O(num_samples) to compute an approximation from a set of samples or quantiles.

It sounds like you're interested in a different problem, that of characterizing posterior regions of high density, sort of a Lebesgue analog of the HDI, or a contour

[2021-11-04 05:22] boris-shabash commented on #2956
@fritzo
My terminology is a bit loose, but yes, I'm talking about a method identify the most likely values of a given parameter once I have its posterior, and putting quantitative bounds on those values. For the example I provided, the regions covering 95% of the possible value for the parameter are non continuous.

Like I mentioned, my particular use case so far involved only unimodal distributio

[2021-11-07 14:16] fritzo commented on #2956
Thanks for clarifying. Since the title of this issue is implemented by [pyro.ops.stats.hpdi](https://docs.pyro.ai/en/0.3.1/ops.html#pyro.ops.stats.hpdi) and the remaining multi-modal feature is less common, I'll close this issue. Feel free to open a separate issue for the multi-modal case, especially if you can find use cases and a standard name in the literature.

[2021-11-07 14:16] #2956 closed

[2021-11-07 14:17] fritzo commented on #2950
Resolved by #2953, #2955

[2021-11-07 14:17] #2950 closed

[2021-11-08 03:56] #2957 closed

[2021-11-08 10:05] fritzo commented on #1502
Replaced by #2957

[2021-11-09 15:40] fritzo opened #2965 "PyTorch 1.10 throws new jit errors"
This issue tracks new errors in the PyTorch 1.10 jit, e.g.
[code]

<details>

[code]

</details>

It looks like some tensor is failing [insertableTensor](https://github.com/pytorch/pytorch/blob/577a4d34a7c017bf57b997967bf965255fd61909/torch/csrc/jit/ir/constants.cpp#L12-L16) by requiring grad.  I've spent a couple hours debugging but haven't been able to isloate the error.

[2021-11-09 22:36] fritzo commented on #2795
I think backwards compatibility outweighs the slight interface cleanup, so I think it's best to close this issue. @Padarn thanks for trying to address this, and @fehiepsi thanks for pointing out the subtleties!

[2021-11-09 22:36] #2795 closed

[2021-11-10 22:59] fritzo opened #2968 "Pyro 1.8 release checklist"
- [ ] Quick start tutorial
- [ ] High-dimensional Bayesian workflow tutorial (@fritzo)
- [ ] #2967
- [ ] #2964
- [ ] #2963
- [ ] #2946
- [ ] Pyro-compatibility shim for pyro.contrib.funsor (@eb8680)

[2021-11-13 07:40] Padarn commented on #2795
Completely agree. Thanks,

[2021-11-15 00:45] AmyTanJ opened #2969 "About ValueError: Shape mismatch inside plate('data') at site obs"
When I try to construct a VAE model, I receive the following error, I don't know how to debug it.
![image](https://user-images.githubusercontent.com/73063292/141705630-af20d648-7878-4b7b-b465-71618423e936.png)

This is the code of the model, the dimension of my data is [1000, 1, 20, 10]
[code]

[2021-11-15 14:09] fritzo commented on #2969
Hi @AmyTanJ, Could you paste some more details of the shapes of things, e.g. by adding logging statements as below and pasting the output? It would be easier for me to help debug if I could see more tensor sizes. My blind guess is that you'll need to change the event dimension to be 2 if you're working with 2d images:
[code]

Logging statements:
<details>

[code]

</details>

[2021-11-16 00:56] AmyTanJ commented on #2969
Thank you for your reply, your blind guess is right！
Does it mean the x in `.to_event(x)`  represents the dimension of independent variables?

[2021-11-16 02:24] fritzo commented on #2969
Yes, `.to_event(x)` converts the rightmost `x` dimensions to be dependent (or an "event" in the language of probability), and those bundled events is independent of each other.

Glad that fixed your model, I'll close this issue now 🙂

[2021-11-16 02:24] #2969 closed

[2021-11-18 11:38] pietrolesci opened #2970 "🐛 LocScaleReparam and enumeration with NUTS"
## Context

Hi there,

While trying to reproduce the [annotators.py](https://github.com/pyro-ppl/numpyro/blob/master/examples/annotation.py) example - originally written in numpyro - in pyro, I've come across what might be a bug. Discussion on pyro forum [here](https://forum.pyro.ai/t/issue-when-combining-reparametrization-and-automatic-enumeration/3561). As suggested by @fehiepsi, I am opening th

[2021-11-18 20:47] Linux-cpp-lisp commented on #2965
Can reproduce this with a completely different model and it only happens on PyTorch 1.10.

For me it also only happens when I `torch.jit.freeze` the model.

[2021-11-20 13:48] AmyTanJ opened #2971 "RuntimeError: The size of tensor a (4928) must match the size of tensor b (4940) at non-singleton dimension 3"
When I try to train my VAE model, I get the following error.
I have checked the layer parameters of the encoder-decoder, they don't have obvious problems.
I have 10 train dataset, each size is (1, 4940, 4940).
What is wrong with the appearance of the size 4928 ?
![image](https://user-images.githubusercontent.com/73063292/142728408-a79c0864-41df-49f9-9be8-b7206a324710.png)
![image](https://user-ima

[2021-11-25 00:33] martinjankowiak commented on #2971
@AmyTanJ github issues are meant for bug reports and feature requests. if you need help using pyro please ask your question in our [forum](https://forum.pyro.ai/). note also that you're going to need to give more information if you want help with your issue. what's the shape of `x`? what's `n_latent` etc.

[2021-11-25 00:33] #2971 closed

[2021-11-30 13:57] AmyTanJ opened #2973 "how to custom a ELBO with weighted binary cross entropy loss in VAE"
The elbo in PyTorch is divided into two parts, KL and reconstruction loss. My current dataset is a group of sparse binary matrices containing a small number of 1value and most of the value. I want to use the weighted binary cross-entropy in the reconstruction loss and give a higher weight to the 1（Just like the formula in the picture, weight 1 value beta> 1 ）for better results in reconstruction, b

[2021-11-30 20:42] ordabayevy opened #2976 "[FR] Enumeration support for `Independent` distributions with `reinterpreted_batch_ndims=1`"
This is a FR for enumeration support for `Independent` distributions with `reinterpreted_batch_ndims=1`, e.g.:

[code]

Implementation of `.enumerate_support` should probably be done in Pytorch but I'm curious if this kind of enumeration can be supported by `TraceEnum_ELBO`?

**Use case**

I have for loops in my model that I think could be vectorized if this functionality was supported:

[code]

w

[2021-12-01 01:23] fritzo commented on #2976
This is probably better done upstream in PyTorch, but you can add a patch in Pyro if you want.  Note we intentionally left this unimplemented because it leads to exponential growth which often leads to OOM and bad user experience.

[2021-12-02 04:33] martinjankowiak commented on #2973
closing this in favor of the [forum post](https://forum.pyro.ai/t/about-custom-elbo/3610/2), which is the preferred venue for these kinds of questions

[2021-12-02 04:33] #2973 closed

[2021-12-07 20:47] fritzo opened #2980 "pyro.render_model() fails to draw overlapping non-nested plates"
Due to [a shortcoming](https://stackoverflow.com/questions/12680865/how-to-draw-overlapping-clusters-in-graphviz) in [graphviz clusters](https://graphviz.org/Gallery/directed/cluster.html), Pyro's and NumPyro's [pyro.render_model()](https://docs.pyro.ai/en/latest/infer.util.html#pyro.infer.inspect.render_model) currently cannot render overlapping non-nested plates, e.g. the Venn diagram
[code]
![i

[2021-12-07 20:57] eb8680 commented on #2980
One workaround would be to add an option to render with [daft](https://docs.daft-pgm.org/en/latest/), which handles plates correctly ([example](https://docs.daft-pgm.org/en/latest/examples/deconvolution/)).

[2021-12-07 21:00] fritzo commented on #2980
One optional would be to replace `graphviz` by [daft-pgm](https://docs.daft-pgm.org/en/latest/), which does support nested plates. However daft-pgm [does not support automatic node layout](https://github.com/daft-dev/daft/issues/122).

A more basic problem is that not all plate nesting patterns can be drawn by rectangular overlapping plates. Maybe we could use a generic venn diagram plotting libra

[2021-12-08 02:04] fehiepsi commented on #2980
@kpj [mentioned](https://github.com/pyro-ppl/numpyro/issues/949#issuecomment-793549236) that we can use graphviz to find positions then use daft for plotting. Probably that will work for a class of models.

[2021-12-08 02:24] fehiepsi commented on #2980
It seems that in numpyro, we have
![image](https://user-images.githubusercontent.com/4736342/145137100-16375ca4-6dfb-4eb9-a737-f7f76d27df03.png)
which can be seen as a temporary solution. What do you think @fritzo ?

[2021-12-08 16:13] fritzo commented on #2980
@fehiepsi that looks like a great solution, and I suspect the only fully general solution :+1:

[2021-12-09 20:53] #2980 closed

[2021-12-11 13:36] fehiepsi commented on #2970
Hi @pietrolesci , it turns out that you would need to apply reparam outside of plate statements
[code]
I think it is a better practice than putting reparam inside plate. But we will try to add a warning message to help users fix the model.

[2021-12-11 14:38] pietrolesci commented on #2970
Hi @fehiepsi,

Thanks for your feedback. I'll try that out asap. Is this mentioned in the docs?

Also, is this true for numpyro as well? In case it is, maybe it makes sense to update the annotators examples accordingly in the doc.

Again, thanks for looking into this.

[2021-12-11 16:03] fehiepsi commented on #2970
For numpyro it is currently not required. But to be safe (in case we change the behavior of init strategies in numpyro in the future), you can follow the above practice.

[2021-12-11 19:15] fehiepsi opened #2990 "Behavior of init messenger for using reparam inside plate"
As reported in #2970, when reparam is used inside a plate, the corresponding site might have an unexpected shape

[code]

This issue is created to motivate the discussion on what should be the expected behavior and how we can add warnings/errors to help users get the correct behavior.

[2021-12-13 14:00] pietrolesci commented on #2970
Thanks a lot @fehiepsi for your feedback!

[2021-12-13 23:20] fritzo commented on #1260
Excited for @stefanwebb's release of https://flowtorch.ai

[2021-12-13 23:20] #1260 closed

[2021-12-14 15:04] eb8680 opened #2995 "Port NumPyro introductory examples to Pyro"
NumPyro now has several excellent introductory [examples](http://num.pyro.ai/en/stable/) with no direct counterparts in Pyro. Porting one of these to Pyro would be a great way for someone to simultaneously learn more about Bayesian data analysis and make a valuable open source contribution.

If you are reading this and want to give one of them a try, please leave a comment here so that other peopl

[2021-12-15 17:04] mennowitteveen commented on #2276
I also bumped into this issue, and I actually do not need the chains to run in parallel.

I need multiple chains for investigating convergence (computing r_hat statistics).

[2021-12-22 16:33] francois-rozet opened #2998 "[bug] AffineAutoregressive transform leads to exploding gradients"
Please provide the following details:
--------------------------------------------------------------------------------------------------
### Issue Description

I implemented a basic Masked Autoregressive Flow (MAF) using the transform modules of `pyro`, notably `AffineAutoregressive`. For **all** my experiments, the flow learns correctly and the loss decreases until some point where the gradients

[2021-12-22 20:01] martinjankowiak commented on #2998
@francois-rozet thanks for the detailed description. the normalizing flow library within this repo is no longer being actively developed. when the time is right we plan to switch to [flowtorch](https://flowtorch.ai/).

not sure if this particular numerical issue appears in any of the flowtorch code base. any idea @stefanwebb ?

[2021-12-23 13:37] francois-rozet commented on #2998
I implemented the proposed changes (https://github.com/francois-rozet/pyro/commit/fa9d8e69ebb3c2f8c031d756be7c8130667faa6b) and, as I expected, using softplus (like `nflows`) instead of clamping completely solves the problem: the gradients don't explode anymore.
Should I make a PR since the library isn't developed anymore? Also when do you think flowtorch will be "ready" ? It does not seem to be u

[2021-12-23 21:06] francois-rozet commented on #2998
@stefanwebb Should I file an issue for FlowTorch as well? Or should I provide evidences first? It's hard to "prove" but I can simply show the losses ^^

[2021-12-23 21:11] stefanwebb commented on #2998
@francois-rozet could you please file an issue on FlowTorch (separate from the discussion thread there)?

I'm happy to switch over to the `softplus` solution if that is what's used in `nflows`, provided too that it works with some simple examples. Could you work on the change to `flowtorch.bijectors.ops.affine.Affine`? In the meanwhile, I will look into the implementations more to understand how t

[2021-12-25 22:30] JIAQING-XIE opened #3000 "Is AutoStructured implementing the guide for directed graphical models?"
I am a beginner for Pyro. I'm currently working on a project in improving autoguides by removing **mean-field** assumptions, which means that the posterior should not use **AutoMultivariateNormal** or **AutoDiagonalNormal**, with latent variables dependent on other latent variables possibly. So for example, I have a simple model, f(D1, D2, X) = f(X|D1)*f(D2|D1)*f(X|D2), where D1 and D2 are latent

[2021-12-25 22:38] JIAQING-XIE commented on #3000
Also, I have no idea on how AutoStructured calculated the posterior, can anybody in the team just write an understandable description to me? Thank you!

[2021-12-27 15:55] eb8680 commented on #3000
Hi @JIAQING-XIE, Pyro currently contains two structured Gaussian autoguides, [`AutoStructured`](https://docs.pyro.ai/en/stable/infer.autoguide.html#autostructured) and [`AutoGaussian`](https://docs.pyro.ai/en/stable/infer.autoguide.html#autogaussian). You could subclass or fork either of these if they don't quite do what you want or you want to add new functionality.

Note that `AutoMultivariateNo

[2021-12-27 18:50] abeppu opened #3001 "[bug] bart.py example consistently fails with cholesky error with default arguments"
I'm just attempting to get started using pyro, and was trying to work through examples when I found that the example listed on the example page under "Multivariate Forecasting" reliably fails for me.

I see that there is a related open issue which is quite old https://github.com/pyro-ppl/pyro/issues/2017 which has some suggestions for the broader problem which seemed promising, but the PR followin

[2021-12-28 22:10] martinjankowiak commented on #3001
hello @abeppu thanks for the detailed report. you can avoid this error by using a smaller learning rate:
```python bart.py -lr 0.01```
i put up a PR #3002 to use a more conservative default learning rate.

generally speaking, these kinds of numerical issues are par for the course for complex optimization problems. we do not run optimization to completion in continuous integration, since doing so w

[2021-12-28 23:32] #3001 closed

[2022-01-04 05:28] arijc76 commented on #2995
I can start working on the Bayesian Regression example if no one else is working on it.

[2022-01-04 11:47] JIAQING-XIE commented on #3000
Hello @eb8680. Thanks for your reply.
I have new questions. So you said that **AutoStructured** used **pyro.infer.util.get_dependencies()**, according to the paper **"Faithful Inversion of Generative Models for Effective Amortized Inference"**. So I thought that inverse (getting the posterior) means only one of all those possible inverses is implemented? And my supervisor has given me two other me

[2022-01-04 13:07] eb8680 commented on #2995
@arijc76 great, go for it!

[2022-01-04 14:32] eb8680 commented on #3000
@JIAQING-XIE I'm afraid I don't quite understand your question. Maybe it would help to clarify some terminology.

The term "guide" is [Pyro shorthand for a tractable parametric approximation to a model's posterior distribution](http://pyro.ai/examples/intro_long.html#Background:-%E2%80%9Cguide%E2%80%9D-programs-as-flexible-approximate-posteriors), usually obtained by [optimizing parameters with re

[2022-01-08 00:09] arijc76 commented on #2995
@eb8680 - I am nearly done with the regression example.
However, there is one issue. I am unable to figure out why the custom predict function is not showing the same results as the Predictive utility. Since I can't use `vmap` as per the NumPyro example, I am using a for loop. I think it might be a problem with the seed. I'd appreciate any suggestion on this.
Also, I have added variational inferen

[2022-01-10 15:11] eb8680 commented on #2995
Hi @arijc76, nice work! The reason you are seeing different values in your custom `predict` function is that it is drawing fresh samples for the random variable `obs`, as expected. If you'd like the values to be more similar, you could draw more samples (1000, say). You can use `pyro.plate` to vectorize sampling, as in [this section of the Pyro intro tutorial](https://pyro.ai/examples/intro_long.h

[2022-01-11 23:53] luiarthur opened #3003 "minipyro documentation clarification."
I really like that minipyro is in here for those interested in the internals of pyro. Super awesome!

Some of the wording in the module, particularly regarding `PYRO_STACK`, is confusing to me, though.

For example:
https://github.com/pyro-ppl/pyro/blob/dc7b96471b3e2dd32f6f39eb2e10ccedc2a4a8a3/pyro/contrib/minipyro.py#L48

If we run:
[code]

We end up (somewhere during the execution of the above l

[2022-01-12 00:45] fritzo commented on #3003
Hi @luiarthur, yes your reading seems to be the correct interpretation. We'd be happy to review a PR fixing or clarifying the comments!

[2022-01-12 03:03] luiarthur commented on #3003
Cool! I'll start a PR.

[2022-01-13 16:23] chahak13 opened #3005 "Example for Stein Methods"
Hi, is there an example implementation that uses Stein Methods for inference? I tried looking at the examples directory and documentation but couldn't find anything more extensive than the example function call in the code docs. Thanks for your help!

[2022-01-13 22:17] martinjankowiak commented on #3005
hello @chahak13

there are some tests exercising stein methods [here](https://github.com/pyro-ppl/pyro/blob/b7ba915b851d51c61d805da741bf7a74fcf9319d/tests/infer/test_svgd.py)

i don't believe we have any example usage apart from that. personally i haven't had much luck with these methods. a PR showcasing additional usage would be welcome!

[2022-01-13 22:17] #3005 closed

[2022-01-14 20:07] #3003 closed

[2022-01-16 18:25] arijc76 commented on #2995
Thanks @eb8680. The results are more similar now after following your suggestion.
I will open a pull request with the notebook.

[2022-01-16 20:00] eb8680 commented on #2995
@arijc76 that should be fine - we can help you get CI tests working in the PR.

[2022-01-18 20:08] JamesTrick commented on #2995
I'm keen to contribute the [Bayesian Hierarchical Regression tutorial](https://num.pyro.ai/en/stable/tutorials/bayesian_hierarchical_linear_regression.html), I've already ported it in the past so will clean it up and try variational inference with it.

[2022-01-20 21:48] eb8680 commented on #2995
@JamesTrick sorry for the delay, that sounds great! Please let us know if you need any help getting started.

[2022-01-21 21:14] martinjankowiak opened #3008 "[FR] consider improving/modifying error message handling w.r.t. stack level"
see related numpyro PRs: [1](https://github.com/pyro-ppl/numpyro/pull/1271) [2](https://github.com/pyro-ppl/numpyro/pull/1279)

[2022-01-26 14:52] noamsgl opened #3013 "[FR] get print_summary as DataFrame"
First of all thanks for the great package!

### Issue Description
One of the useful features of the `MCMC` class is the `MCMC.summary()` method which prints summary statistics of the sampled chain.

In this issue I'm asking for the feature to be able to get this table as a `Pandas` `DataFrame`.

### Code Snippet
[code]

It would be very helpful if there was a simple way to get `mcmc.summary` as `D

[2022-01-26 16:27] martinjankowiak commented on #3013
@noamsgl we don't have pandas as a dependency and i guess this isn't a sufficiently good reason to add it as one. i believe you can get the dictionary you want from [this function](https://github.com/pyro-ppl/pyro/blob/5ab7da2adbb2e1154b7f5dda7f0216f966c4fdfc/pyro/infer/mcmc/util.py#L531). not entirely sure why it doesn't seem to be exposed in the docs...

[2022-01-26 16:28] fritzo commented on #3013
It should be fine to treat this as an optional dependency
[code]

[2022-01-27 00:13] noamsgl commented on #3013
@fritzo
That could work.
Is that something you would advise me to try as a first contribution?

[2022-01-27 00:27] fritzo commented on #3013
Yes @noamsgl this would be a great first contribution!  You'd need to
- implement the function
- add a docstring
- add a smoke test (this should be easy since `pandas` is already a test dependency)

[2022-02-02 08:05] noamsgl commented on #3013
I'm working on implementation.

I want to use the function [mcmc.infer.mcmc.util.summary()](https://github.com/pyro-ppl/pyro/blob/5ab7da2adbb2e1154b7f5dda7f0216f966c4fdfc/pyro/infer/mcmc/util.py#L531) but I think I found a bug in it.

Steps to reproduce:
https://colab.research.google.com/drive/1TnDfjuFPnl_iecgapbq0Oi6lrfP8xf08?usp=sharing

Is this a bug or just misuse?

[2022-02-02 16:34] martinjankowiak commented on #3013
i believe you need `group_by_chain=True`; please read the docstring

[2022-02-03 20:33] arijc76 commented on #2995
Hi @eb8680 Since I'm nearly done with the [Bayesian Regression Using NumPyro](http://num.pyro.ai/en/stable/tutorials/bayesian_regression.html) example, I can work on the [Bayesian Imputation](http://num.pyro.ai/en/stable/tutorials/bayesian_imputation.html) example if that's ok.

[2022-02-18 08:32] alexgrima opened #3014 "[bug] Memory leak on GPU"
### Issue Description
After successfully following the SS-VAE example in pyro I have moved over to training a variant of it on a GPU. A memory leak has arisen that has been boiled down to a minimum working example that replicates the error. I am at a loss as to how to proceed in rectifying this issue, any help or insight would be much appreciated!

### Environment
 - OS and python version.
   - OS

[2022-02-19 09:21] nipunbatra opened #3015 "Broken link in documentation pyro/docs/source/contrib.timeseries.rst"
The documentation page in contributed.timeseries: https://docs.pyro.ai/en/stable/contrib.timeseries.html#
points to GP example (http://pyro.ai/examples/independent_gps.html) which is a broken link.

[2022-02-20 10:16] nipunbatra opened #3016 "Introduction article Cross sections of Posterior plot has legend without patches"
The [introduction page](http://pyro.ai/examples/intro_long.html) in Cell 23 has contour plots showing the cross sections of Posterior.

![intro_long_71_0](https://user-images.githubusercontent.com/60985/154836970-a2bfdde9-9cee-4d4a-8dec-112409678a1c.png)

The legend does not have the appropriate patches to help distinguish between the two guides (SVI Diagonal Normal and SVI MV Normal)

I think the

[2022-02-20 13:06] fritzo commented on #3016
Hi @nipunbatra, thanks for pointing this out. I think approach 2 would be good. Bandwidth adjustment looks great. Can we keep the entire ellipses within the box?

[2022-02-21 12:09] ayaka14732 opened #3018 "[Support for Python 3.10] MCMC example in documentation does not work: `AttributeError: __enter__`"
I am following the MCMC example in the documentation: <https://docs.pyro.ai/en/stable/mcmc.html#nuts>

[code]

But it raises an error:

[code]

Pyro version: 1.8.0

[2022-02-21 15:47] nipunbatra opened #3019 "[documentation: some suggestions for MLE & MAP guide]"
Hi,
I was going through the [MLE and MAP estimation page](https://pyro.ai/examples/mle_map.html). It is very well written. Thank you!

I had a few suggestions:

- [ ] Add analytical MLE expression and show learnt MLE is same as analytical MLE
- [ ] Add analytical MAP expression and show learnt MAP is same as analytical MAP
- [ ] render_model() showing the graphical models and how they differ for M

[2022-02-21 23:26] nipunbatra commented on #3019
Thanks @fritzo

I am making the above changes.

I was calculating the analytical MAP and comparing with learnt MAP estimate. The learnt MAP estimate is 0.536 whereas the analytical one is 0.533. I was wondering if this is expected or if I'm doing something wrong. Can you please clarify?

The analytical calculation for MAP below.

Our `Beta` prior is parameterised by $\alpha_{Heads}$ (= 10 in our e

[2022-02-22 01:48] nipunbatra commented on #3019
I'd also seek your inputs on how to show the Autoguide to be similar/same as the custom guide in the tutorial.

[code]
Output
[code]

The custom guide was:

[code]

How should we show the equivalence?

1. Need to show Delta() distribution used in Autoguide.
2. Need to show the param corresponding to f_map in the auto guide
3. Need to show the constraints on the unit interval in the Autoguide.

Wou

[2022-02-24 14:48] #3016 closed

[2022-02-24 17:29] #3015 closed

[2022-02-25 11:16] nipunbatra opened #3023 "[Feature Request] 1) More details in `render_model` (esp. for `pyro.params`); 2) Returning dictionary from render_mode"
Hi,
From the MLE-MAP tutorial, we have the following models

### MLE model
[code]

If we render this, we get something like the following image
<img width="333" alt="Screenshot 2022-02-25 at 4 30 40 PM" src="https://user-images.githubusercontent.com/60985/155704377-629009af-267b-4c11-b8d0-820497f39d5c.png">

### MAP model

[code]

If we render this, we get something like the following image

<img

[2022-02-25 12:56] fritzo commented on #3019
I'm not sure how to show code equivalence, but you might show parameter equivalence by printing the param store after each guide is trained:
[code]

[2022-02-25 12:59] #3019 closed

[2022-02-25 13:59] fritzo commented on #3023
Hi @nipunbatra, regarding
1. I like the idea of adding a `render_params` argument to `render_model` and possibly printing their constraints if `render_distributions == True`. @fehiepsi might also like this feature in NumPyro.
2. While `render_model()` already has a well-defined return value and thus should preserve that return value for backwards compatibility, you could instead get structural inf

[2022-02-25 17:54] fehiepsi commented on #3023
+1 for having an optional `render_params`.

[2022-02-26 03:43] nipunbatra opened #3024 "GP Student-T Likelihood in `gp.contrib.Likelihood`"
Hi, I wanted to check if I or my student team make a PR for Student-T likelihood in the `gp.contrib.Likelihoods`.

This would be a simple PR with

1. Adding Student-T likelihood here: https://github.com/pyro-ppl/pyro/tree/dev/pyro/contrib/gp/likelihoods
2. Adding an example to GP tutorial: http://pyro.ai/examples/gp.html

The Student-T likelihood would be additionally parameterised by degrees of f

[2022-02-26 04:03] nipunbatra opened #3025 "[Documentation: Small improvements to the GP tutorial]"
Hi, I wanted to a propose a PR for small improvements to the GP tutorial. I thought to first check here:

1. Adding a small animation code showing optimisation. 2.

Something like the image below (ignore the image title for now).

![](https://nipunbatra.github.io/blog/images/copied_from_nb/gp-learning.gif)

2. Current tutorial shows samples from prior with varying noise. I think it would be useful

[2022-02-26 04:29] fehiepsi commented on #3024
Thanks @nipunbatra! Please feel free to make the PR.

[2022-02-26 04:34] fehiepsi commented on #3025
The plots are pretty nice. All suggestions sound great to me! Thanks @nipunbatra

[2022-02-28 07:05] nipunbatra commented on #3024
Thanks, my PhD student @patel-zeel will submit a PR on this soon along with an example showing the difference between the Normal and Student-T likelihood.

[2022-02-28 09:45] nipunbatra opened #3026 "[Feature Request] Better Errors when passing numpy array instead of torch.tensor"
I was trying to write a small example for GP classification.

[code]

The above code works. However, as expected if instead of `X = torch.tensor`, I got an error which wasn't very obvious.

[code]

Error Trace
[code]

I think something like `type(X)` should be `torch.tensor` would perhaps be more useful?

[2022-02-28 10:12] nipunbatra commented on #3025
I have made good progress on this issue. I have a few questions pertaining to GP classification. So, perhaps I'll make two separate PRs: one for the improvements in plots for the regression part, and one for introducing GP classification.

Now, coming to the doubts about GP classification.

I am borrowing the above mentioned XOR [example from sklearn](https://scikit-learn.org/stable/auto_examples/

[2022-02-28 13:16] LysSanzMoreta opened #3028 "Contact info?"
Hi!

Sorry for the manners but is there a fast way of contacting you @fritzo and @eb8680  for research collaboration. It's urgent because there is a short deadline ...

I have written to fritz.obermeyer@gmail.com, but it might have gone lost...

Thanks! and sorry

[2022-02-28 13:49] fritzo commented on #3028
No worries, I've responded by email and also sent a slack invite.

[2022-02-28 13:49] #3028 closed

[2022-02-28 16:30] fehiepsi commented on #3025
I think it is [float](https://pytorch.org/docs/stable/generated/torch.bernoulli.html).

Currently, we use Categorical (rather than OneHotCategorical) for MultiClass likelihood. See [deep kernel learning](https://pyro.ai/examples/dkl.html) example.

Currently, likelihood just uses `mean, var` pair. So I think you need to provide `diagonal(cov)` there.

Looks correct to me. Maybe setting `whiten=Tru

[2022-02-28 23:39] nipunbatra commented on #3025
Thanks @fehiepsi I'll look into your comments in details.

I had some other suggestions also, along with potentially reorganisation. This will help reduce the content in a single tutorial and build a natural sequence of tutorials.

### GP Regression tutorial

This could focus only on simple GPs (exact GPs with Gaussian likelihood for regression)
- Additionally show the working of model(X_Test) and

[2022-03-01 04:51] nipunbatra commented on #3025
@fehiepsi
Thanks for your inputs on the GP classification. I'm able to get a basic version running on the XOR problem. I'll make a PR for this once #3027 is closed. I'll add a bit of text to explain the code here as well.

One problem in this trivial example has been Cholesky failures. I had to set a relatively high `jitter` to get the code to work. Any suggestions on this? Or, the remainder of th

[2022-03-01 05:12] nipunbatra opened #3029 "Contrib.GP DotProduct kernel has no `forward` method"
Hi
As per my issue here: https://github.com/pyro-ppl/pyro/issues/3025#issuecomment-1055015321

I am trying to use `pyro.contrib.gp` for Classification. In my comment above, I showed the usage based on the `RBF` kernel. Next, when trying to use the `DotProduct` kernel as used in the [sklearn GP classification example](https://scikit-learn.org/stable/auto_examples/gaussian_process/plot_gpc_xor.html)

[2022-03-01 10:00] nipunbatra opened #3030 "[FR] Prettier table output in `trace.format_shapes()`"
I was recently trying to debug a model and found `trace.format_shapes()` helpful. I felt that this debugging could be easier if the rendered table can be prettified (esp. in the context of Jupyter).

As an example, the below output from `trace.format_shapes()`

[code]

could perhaps be even more helpful if

1. there is a prettier HTML display of the tables in the context of Jupyter notebooks
2. th

[2022-03-01 10:14] nipunbatra opened #3031 "[Docs] Adding a doc page on debugging through a model (and notebook on Probabilistic PCA for tutorials)"
Hi,
I was preparing a tutorial on Prob. PCA [mirroring the tutorial in TFP](https://www.tensorflow.org/probability/examples/Probabilistic_PCA).

After non-trivial debugging , toying with `to_event`, I managed to get the example working in Pyro (though to be honest, still not very confident!).

I would like to suggest a tutorial which debugs some common issues in models (I'd say pyro.clear_params()

[2022-03-01 20:03] fritzo commented on #3031
I love the idea of a debugging-focused tutorial.  And I suspect core Pyro devs are the _worst_ people to write such a tutorial since it's been so long since we first stubbed our toes 🤣

@nipunbatra this would be a great tutorial to contribute!

[2022-03-02 00:18] fehiepsi commented on #3025
Hi @nipunbatra, it would be nice to incorporate new usage cases in the current tutorials or docstrings because we already have several tutorials/examples for the `contrib` module GP.

I would do similarly when facing Cholesky issues :( (I would just think that we are adding a `jitter` WhiteNoise kernel to RBF)

[2022-03-02 00:23] fehiepsi commented on #3029
I think `Linear` behaves like your `DotProduct` usage. Maybe you can use it instead?

[2022-03-02 09:05] nipunbatra commented on #3029
Thanks, @fehiepsi
The linear kernel won't suffice for the XOR classification problem, but Polynomial will suffice. I tested and got it to work to match the `sklearn` [like behaviour](https://scikit-learn.org/stable/auto_examples/gaussian_process/plot_gpc_xor.html#sphx-glr-auto-examples-gaussian-process-plot-gpc-xor-py). `1.0 * DotProduct(sigma_0=1.0) ** 2`

Thus, I'm closing this issue.

[2022-03-02 09:05] #3029 closed

[2022-03-02 10:38] nipunbatra opened #3032 "[CI] `torch.meshgrid` having new default indexing in 1.10.0 (CI server currently installs 1.9.0)"
I was making a PR #3027

The CI run failed: https://github.com/pyro-ppl/pyro/runs/5388569737?check_suite_focus=true

<img width="1620" alt="Screenshot 2022-03-02 at 4 00 56 PM" src="https://user-images.githubusercontent.com/60985/156344729-b7f66c26-d964-425f-a07b-2d7833590621.png">

I realised this was because I was using

[code]

But, the [version 1.9.0](https://pytorch.org/docs/1.9.0/generated/t

[2022-03-03 00:13] nipunbatra opened #3033 "[FR] gp.util.train to return a trace over multiple quantities rather than just loss"
Currently, `gp.util.train` return the trace over loss (loss v/s iterations)

`losses = gp.util.train(vsgp, num_steps=num_steps)`

If one needs to get a trace over other quantities, say kernel parameters, etc. one has to write their own procedure, like

[code]

I propose the addition of `trace_quantities` in `gp.util.train`

As an example, `tfp.math.minimize` allows this

[code]

Then, we can obtai

[2022-03-03 00:26] nipunbatra commented on #3023
I think another thing to potentially consider while addressing this issue could be LaTeX support in renders. I believe Graphviz doesn't support, but Daft-PGM does.

An older issue https://github.com/pyro-ppl/pyro/issues/2980 mentioned the possibility of using Graphviz for layout and then plotting using Daft-PGM. Would increase overhead. Perhaps, could be left as an example for advanced users who r

[2022-03-03 09:13] nipunbatra opened #3034 "[FR] HTML tabulated model and kernel summaries in contrib.gp"
Hi, I wanted to show some examples of the feature I'm proposing.

First, I show models and kernels from [GPy  tutorial](https://nbviewer.org/github/SheffieldML/notebook/blob/master/GPy/models_basic.ipynb)

<img width="1117" alt="Screenshot 2022-03-03 at 2 37 13 PM" src="https://user-images.githubusercontent.com/60985/156532596-3f8aac3d-4067-4ed0-8d80-583f01fffc8e.png">

A similar interface in GPFl

[2022-03-03 13:53] anukaal opened #3035 "updated classifiers"
update classifiers for python new versions 3.8, 3.9, 3.10 in setup.py

[2022-03-03 14:36] fritzo commented on #3033
Note you can already do this by wrapping `loss_fn` in a tracing hook:
[code]

[2022-03-04 05:11] karm216 commented on #3023
Hi, My name is Karm. I am working with Prof. @nipunbatra and lab colleague @patel-zeel.
I made desired changes in the code and tested it on the following examples.

### MLE Model 1
[code]
[code]
{'sample_sample': {'obs': []},
 'sample_param': {'obs': ['sd', 'mu']},
 'sample_dist': {'obs': 'Normal'},
 'param_constraint': {'mu': Interval(lower_bound=0.0, upper_bound=1.0),
  'sd': GreaterThanEq(lower

[2022-03-04 11:18] GautamV234 commented on #3026
https://github.com/pyro-ppl/pyro/pull/3036#issue-1159534636 Hope this helps.

[2022-03-05 02:48] fehiepsi commented on #3018
Hi @ayaka14732, I just tested the code in colab and it is working fine. Maybe this issue is specific to Python 3.10?

[2022-03-05 08:29] ayaka14732 commented on #3018
Thanks! I tested it on Python 3.8 and it works now.

[2022-03-07 13:14] fritzo commented on #3023
@karm216 this looks great, we'd love PR contributing this feature!  Note there are rigorous tests for `pyro.infer.inspect`, so we'll need to (1) update a bunch of those tests and (2) add some of your examples as new tests.

[2022-03-08 08:25] rusty-robin opened #3040 "NUTS is slow with 3 parameters"
### Issue Description

The inference speed drops down significantly when the model contains 3 parameters. For instance i get inference speeds of ~100it/s when I use only 2 parameters (e.g., by replacing sigma with a constant). But with three parameters the inference speed slows down to less than 10it/s. Also it seems that the inference speed slows down with more iterations.

Is this expected? Is t

[2022-03-08 09:50] nipunbatra commented on #3031
Hi @fritzo Thanks.

I have added a long-ish notebook [here](https://github.com/nipunbatra/pyro-test/blob/master/ppca.ipynb)

As you might notice, this will need some inputs from you especially on

- some shape related confusions
- best practices to specify shapes
- plate v/s non-plate model and when to use which
- any other debugging tips

[2022-03-08 16:02] #3040 closed

[2022-03-11 01:34] fengbiao1212 opened #3041 "how do I fix it? "from pyro.optim import Adam" "NameError: name 'Adam' is not defined""
I am trying to run "from pyro.optim import Adam" ，
I get "NameError: name 'Adam' is not defined", how do I fix it?

[2022-03-11 03:46] nipunbatra commented on #3041
You may want to print the output of the following

[code]

[2022-03-12 04:11] fritzo commented on #2550
It looks like we should also [add `py.types` stub files](https://mypy.readthedocs.io/en/stable/running_mypy.html#missing-library-stubs-or-py-typed-marker) to various directories to avoid errors like
[code]

[2022-03-12 13:40] ivetasarfyova opened #3043 "Update Bayesian Optimization tutorial"
Add `step` argument to `x = torch.linspace(0, 1)`.

[BO tutorial](https://github.com/pyro-ppl/pyro/blob/dev/tutorial/source/bo.ipynb) still uses the old function version with the default argument value, which now has to be specified as stated [here](https://pytorch.org/docs/stable/generated/torch.linspace.html).

[2022-03-13 17:05] fritzo commented on #3043
Thanks, we're behind on torch versions at the moment...

[2022-03-14 20:36] KsawerySmoczynski opened #3044 "[bug] Pyroizing modules with PyroModule[model] does not work for all layers."
### Issue Description
While I was trying to pyroize LeNet-like architecture, with parts of net wrapped in nn.Sequential and assigned to attributes, I've come across such peculiar behaviour.

### Environment
pyro: 1.8.0

### Code Snippet

Network definition

[code]

to_pyro_module_ output:
[code]

PyroModule[model] output:
[code]

[2022-03-14 21:58] fritzo commented on #3044
Hi @KsawerySmoczynski I believe this is intended behavior: `PyroModule[-]` is only top-level whereas `to_pyro_module_()` is recursive. So to get `PyroModule[-]` behavior in your entire example you'd need to use it throughout:
[code]
I think this behavior is also what we want: users wanting fine-grained control can use `PyroModule[-]` and users wanting to wholesale adopt pyroification can use `to_p

[2022-03-17 01:19] fritzo opened #3046 "Some pyro.contrib.funsor tests are failing in torch==1.11.0"
This issue records tests of `pyro.contrib.funsor` that started failing in #3045. In that PR I've xfailed the following tests so as to unblock that PR.
- [ ] `python examples/contrib/funsor/hmm.py --num-steps=1 --truncate=10 --model=5 --funsor`
- [ ] `pytest -x tests/contrib/funsor/test_enum_funsor.py::test_elbo_enumerate_plate_1`
- [ ] `pytest -x tests/contrib/funsor/test_enum_funsor.py::test_elbo

[2022-03-17 01:25] fritzo commented on #3046
I suspect this is due to a torch==1.11.0 issue with `ProvenanceTensor` which we fixed on the Pyro side via
[code]
and I suspect we could apply the same fix to funsor (and release, and pin Pyro to that version).

[2022-03-17 13:01] fritzo commented on #3035
I believe 3.10 is not allowed because PyTorch does not support Python 3.10 yet

[2022-03-17 16:45] #3032 closed

[2022-03-17 16:45] #3035 closed

[2022-03-20 13:09] AmyTanJ opened #3049 "About VAE pyro.sample("obs",...)"
I am buliding a VAE model with pyro, the input data is a uniform distribution(0,1).
But I don't know how to write the parameter in the   `dist.Uniform()`  of the   `pyro.sample("obs", dist.Uniform().to_event(1), obs=x)`
 in the   `def model`   because it need low and high parameters, I only have one  `loc_img`
Here is my code
[code]

[2022-03-20 16:05] martinjankowiak commented on #3049
@AmyTanJ hello i answered your question on the forum. please asks questions like this on the forum. github issues are for bug reports, feature requests, etc

[2022-03-20 16:05] #3049 closed

[2022-03-21 00:32] AmyTanJ commented on #3049
OK, I will follow

[2022-03-21 15:20] fritzo opened #3051 "Pyro-compatibility shim for pyro.contrib.funsor"
@eb8680 proposed the idea of making a compatibility shim for `pyro.contrib.funsor` so models could be written in a backend agnostic way. (this task is being migrated out of #2968)

[2022-03-22 00:58] fritzo opened #3052 "FR Support distribution slicing via Distribution.__getitem__()"
This is a long term issue that probably won't be fixed until the [next generation](https://github.com/pyro-ppl/funsor) of distribution libraries.

It would be useful if distributions could be sliced along their `sample_shape + batch_shape`, for example when sampling from a mixture model we want to sample mixture components, and then sample from a single distribution's component (as in #3050). Howe

[2022-03-25 13:09] ordabayevy opened #3056 "Error messages during Pyro installation in Colab `torchvision 0.11.1+cu111 requires torch==1.10.0, but you have torch 1.11.0 which is incompatible.`"
This might not be critical but right now when you install pyro-ppl-1.8.1 in google colab pip complains with error messages:

[code]

[2022-04-01 13:07] rajat-tech-002 opened #3061 "Issue while importing netcal library"
File "/workspace/system-paper/main_util.py", line 23, in <module>
    from netcal.scaling import TemperatureScaling
  File "/opt/conda/lib/python3.6/site-packages/netcal/scaling/__init__.py", line 28, in <module>
    from .AbstractLogisticRegression import AbstractLogisticRegression
  File "/opt/conda/lib/python3.6/site-packages/netcal/scaling/AbstractLogisticRegression.py", line 26, in <module>

[2022-04-01 15:52] dme65 commented on #3018
Hi @fehiepsi, Looks like this issue is also affecting some of our Ax users: https://github.com/facebook/Ax/issues/893. Are there any plans to look into this issue and have Pyro support Python 3.10? Thanks!

[2022-04-01 16:50] fehiepsi commented on #3018
@dme65 Could you ping me when PyTorch [supports python 3.10](https://github.com/pytorch/pytorch/issues/66424)? I will try to fix the issue then. Thanks!

[2022-04-04 05:26] rajat-tech-002 commented on #3061
@fritzo , Sure
Output of pip freeze:
`absl-py==0.11.0
alabaster==0.7.12
apex==0.1
argon2-cffi==20.1.0
ascii-graph==1.5.1
async-generator==1.10
attrs @ file:///tmp/build/80754af9/attrs_1600298409949/work
audioread==2.1.9
Babel==2.8.0
backcall==0.2.0
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1601924105527/work
bleach==3.2.1
blis==0.4.1
boto3==1.16.11
botocore==1.19.11
brotlipy==0.7.

[2022-04-05 07:29] MaverickMeerkat opened #3062 "Installing pyro on Colab keeps updating torch from 1.10 to 1.11"
Hi,

I'm using SBI which in-turns uses pyro. I noticed that installing pyro on Google Colab keeps updating the version to 1.11. This is something new that started a few weeks ago. Google Colab already comes with torch 1.10 installed - so is this update really necessary? And is there a way to circumvent it?

I'm running many simulations in different notebooks, and having to constantly reinstall tor

[2022-04-05 11:38] fritzo commented on #3062
Until google updates PyTorch you can prevent the update by pinning Pyro to an older version 1.8.0:
[code]

[2022-04-09 14:27] MaverickMeerkat commented on #3062
Thanks - this does seems to work!

I have to install pyro first, and then sbi.

[2022-04-09 14:27] #3062 closed

[2022-04-09 20:14] fritzo commented on #3046
Here's some [jamboarding](https://jamboard.google.com/d/1lc0gpUPMrU2M0QMn2cSUH1M6Pyct-l2OzRMvX8wfwoo) @ordabayevy and I did to examine models.

We currently believe the bug may actually be in `pyro.contrib.funsor.infer.TraceEnum_ELBO` in that some likelihood-only plates are not being passed to `eliminate`.

[2022-04-09 22:26] #3046 closed

[2022-04-14 06:23] gioelelm opened #3067 "Make poutine.condition commute with subsample"
Pyro seems to encourage the use of effect handlers and, indeed, I generally prefer to use `poutine.condition` rather than the keyword argument `obs` in `pyro.sample`.

Typical use cases where this pays off are many. For example it makes sense to use the effect handler to quickly convert a generative model into a conditioned model for inference or to compare a model where a variable is assumed know

[2022-04-14 14:11] gioelelm opened #3068 "Memory leak using TraceEnum_ELBO"
I noticed a major memory leak when training SVI using `TraceEnum_ELBO`.
I initially noticed this in a custom model we are developing but then I found it seems a more general bug.

For example, it affects even the Pyro tutorials GMM example [here](https://pyro.ai/examples/gmm.html). Where memory usage rapidly goes from a couple of hundred MBs to a many **GB**s very quickly!

I have run this Macbook

[2022-04-14 15:43] eb8680 commented on #3067
@gioelelm good observation! I think we could address this by applying `pyro.subsample` to observed values inside of `ConditionMessenger._pyro_sample` and `pyro.sample` (before any handlers are applied).

[2022-04-14 16:41] fritzo commented on #3068
Thanks for checking @gioelelm. I might have time in the next few weeks to dive deeper.  If you have time I can recommend some strategies (what I'd try):
- get an idea of which tensors are leaking using [this trick](https://forum.pyro.ai/t/a-trick-to-debug-tensor-memory/556)
- try to determine which objects might be holding references to the leaking tensors using something like
[code]
- See if this

[2022-04-14 17:14] gioelelm commented on #3067
To add some extra perspective, if a latent variable has the same shape as samples, it is also quite difficult to get to fit the model above in the right way even with `obs`.

In particular, because of the existence of a latent variable I could not find a way to do it successfully using `subsample_size`, and I had to use `subsample` with attention to different non-obvious details.

Code example, wi

[2022-04-14 17:17] gioelelm commented on #3068
Ok thanks!

I will try the first two.

Regarding the last point, since the code runs successfully anyways (provided the machine has enough memory). Don't you think that the bug could have gone unnoticed? Or you have some reason to exclude that. I am thinking at the fact that on one would have had to profile the memory usage of the program to figure that there was a problem.

[2022-04-14 17:45] fritzo commented on #3068
It could have, but `TraceEnum_ELBO` is pretty heavily used, and we've done a lot of memory profiling in the past. After working with Pyro and PyTorch for a few years, my posterior is 40% on a recent PyTorch regression and 40% on an edge case memory leak in Pyro that has never been noticed, and 20% on a recently introduced weird interaction between Pyro and PyTorch, so 60% chance this could be narr

[2022-04-14 17:59] ordabayevy commented on #3068
I have noticed a major GPU memory leak as well switching from PyTorch 1.10 to 1.11. Wasn't able to debug it and decided to stick to PyTorch 1.10.0 (and Pyro 1.8.0) for now.

[2022-04-14 18:40] fritzo commented on #3068
Hmm maybe we should relax pytorch requirements and release to allow Pyro 1.8.2 to work with PyTorch 1.10. We'd need to do the same with Funsor. I think I was a little too eager dropping PyTorch 1.10 support, especially given colab still uses 1.10.

[2022-04-17 12:47] ordabayevy opened #3070 "[FR] Support sampling for `pyro.vectorized_markov`"
Support parallelized sampling akin to https://github.com/pyro-ppl/pyro/pull/3053 for `pyro.vectorized_markov` loops. This might be useful for SMC type inference algorithms.

[2022-04-24 13:56] #3044 closed

[2022-04-24 13:58] KsawerySmoczynski commented on #3044
Makes sense, it appears that I misinterpreted what was written in docs. Thanks for the answer @fritzo.

[2022-04-25 14:16] dilaragokay commented on #3061
I have seen the same error when I upgraded pytorch and ran `import pyro` afterward. To solve this, the first thing I tried was uninstalling and installing pyro. Running
[code]
showed
[code]
Eventually, I solved it by uninstalling both pytorch and pyro, then installing them again.

[2022-04-25 20:41] dilaragokay commented on #3061
Exactly, thanks. I have edited the comment accordingly.

[2022-04-25 20:41] dilaragokay commented on #3061
Exactly, thanks. I have edited the comment accordingly.

[2022-04-25 21:40] fritzo commented on #3061
@rajat-tech-002 you are using `torch==1.8.0a0+17f8c32` which is too old for your Pyro version. I'd recommend updating your versions
[code]

[2022-04-27 02:22] qinqian commented on #3068
I have noticed a GPU memory leaks too with Pyro 1.8.1+06911dc and PyTorch 1.11.0.

[2022-04-28 09:25] OlaRonning commented on #3068
Downgrading as @qinqian also resolves  #3014.

[2022-04-28 12:53] jonmumm commented on #2571
Wanted to say I am using this in a personal project and it's very helpful—thank you all (also going through Statistical Relearning)

[2022-04-28 17:54] ivetasarfyova opened #3072 "Docs confusion - optimize step twice?"
https://github.com/pyro-ppl/pyro/blob/d58b00b3bbce279a976cd8be9d55c88f3654f2e6/pyro/contrib/gp/models/model.py#L64

Hello, there might be something that I'm not seeing, since I'm just now learning how to work with the framework, but I don't understand why there are two separate `.step()` lines, once called on the `svi` object and once for the PyTorch optimizer. Shouldn't we be only using one of th

[2022-04-28 18:17] martinjankowiak commented on #3072
@ivetasarfyova this appears to be a typo. afaict the `svi.step()` is extraneous and should be removed. thanks for reporting!

[2022-04-29 09:42] ivetasarfyova commented on #3072
Thank you for such a quick response. In that case, it might be redundant [here](https://github.com/pyro-ppl/pyro/blob/d58b00b3bbce279a976cd8be9d55c88f3654f2e6/pyro/contrib/gp/models/model.py#L171) as well.

[2022-04-29 10:55] ivetasarfyova opened #3073 "Reference to non-existing class"
https://github.com/pyro-ppl/pyro/blob/d58b00b3bbce279a976cd8be9d55c88f3654f2e6/pyro/contrib/gp/models/sgpr.py#L65

Hello, I'm a bit confused about the note referring to `SparseVariationalGP` model, since I can't find such a model in Pyro. On the other hand, if this is just a typo, and the intention was to refer to `VariationalSparseGP` I have two remarks
1. Based on references (`Scalable variation

[2022-04-29 15:28] martinjankowiak commented on #3073
regarding 2: if the variational distribution q(u) is exactly maximized the SVGP ELBO exactly equals the VFE ELBO. the VFE objective effectively implicitly computes the optimal q(u) and this computation prevents mini-batching.

[2022-04-30 11:50] fehiepsi commented on #3073
Yes, it is a typo. Could you please submit a fix?

IIRC we just follow the name in the references of that class.

[2022-05-01 16:25] gioelelm opened #3074 "Variational Autoencoders Example is broken"
### Issue Description
I tried to run the Variational Autoencoders tutorial `[here](https://pyro.ai/examples/vae.html)` and it returns an error

### Environment
Both on my machine (Macbook Pro 2019 Catalina) and a Google Colab environment.
[code]
I tried a couple of combinations of the

### Error
[code]

[2022-05-02 05:06] maulberto3 opened #3075 "[Bug] Dimension augmenting with Predictive in Africa Tutorial"
### Issue Description
In Jupyter, hitting several times the following code
[code]
The shape goes crazy, i.e.
[code]

### Environment
 - OS and python version: Kaggle (linux), Python 3.7.12
 - PyTorch version: 1.11.0
 - Pyro version: output of 1.8.1

### Code Snippet
Already provided above.

Hope to help some.

[2022-05-02 05:12] maulberto3 commented on #3075
Found the error. The variable log_gdp was being referenced with each cell. Solution: Just rename it.

Working example:
[code]

Still hope to help.

[2022-05-02 16:16] eb8680 commented on #3074
Hmm, I can't reproduce this on [Colab](https://colab.research.google.com/github/pyro-ppl/pyro/blob/dev/tutorial/source/vae.ipynb), and I would expect this warning/error to be suppressed by the disabling of distribution runtime checks `pyro.distributions.enable_validation(False)`. Can you run `pip freeze` and post the output?

[2022-05-03 12:33] Tiantian-H opened #3079 "TraceEnum_ELBO().compute_marginals gives unstable result"
### Issue Description
Hi,
I'm using TraceEnum_ELBO().compute_marginals to obtain the marginal distribution of a categorical discrete variable in SVI. However, I find that if I implement `TraceEnum_ELBO().compute_marginals` several times, I can get completely different distributions each time. I provided an example with code on the Pyro forum but haven't received any response yet. The link is: [pyr

[2022-05-03 17:25] gcskoenig opened #3080 "[bug] incorrect discrete inference with `sequential`enumeration."
While the discrete inference results I get for `parallel` enumeration are accurate, the results for `sequential` enumeration. In theory, both should return the same result. [source](https://forum.pyro.ai/t/inference-result-depends-on-whether-sequential-or-parallel-is-used-as-enumeration-strategy/4176)

I created a minimal working example to demonstrate the problem. I.e. for `parallel` enumeration

[2022-05-03 20:26] eb8680 commented on #3079
Closing as a question, answering on the forum.

We use GitHub for bug reports, feature requests and other development-related discussion. Please keep questions and support requests to the forum, so that other users with similar questions in the future may have an easier time finding them. We do our best to reply to everything there, but our team is small so sometimes it takes a few days.

[2022-05-03 20:26] #3079 closed

[2022-05-05 14:10] dilaragokay opened #3082 "[bug] Unable to render the model in Dirichlet Process Mixture Models in Pyro"
### Issue Description
I tried to render the model in https://pyro.ai/examples/dirichlet_process_mixture.html using `pyro.render_model(model, model_args=(data))`. However, I got the following error

[code]

### Environment
 - OS: Ubuntu 18.04.3 LTS
 - Python version: 3.7.11
 - PyTorch version: 1.11.0
 - Pyro version: 1.8.0+5ab7da2a

### Code Snippet
[code]

[2022-05-05 14:22] #3082 closed

[2022-05-05 18:55] fritzo commented on #3082
Gosh we should probably `assert isinstance(model_args, tuple)`

[2022-05-11 21:36] maulberto3 opened #3085 "How to deploy a Pyro model?"
I have gone through the official Pyro docs, but I haven't found it.

For example, how would the deployment of a guide model be?

Does a simple joblib of a guide model would work? Is it possible?

[2022-05-11 22:08] eb8680 commented on #3085
Hi @maulberto3, please ask your question on [our forum](https://forum.pyro.ai/) so that other users with similar questions can find it more easily in the future. We use GitHub for bug reports, feature requests and other development-related discussion.

[2022-05-11 22:08] #3085 closed

[2022-05-13 03:28] lwiklendt opened #3088 "Incorrect stack terminology in Poutine and minipyro.py"

[2022-05-13 14:45] eb8680 commented on #3088
@lwiklendt moved to the Pyro repository, since the content in question is stored here. Feel free to open a PR with changes to those examples that you think would clarify the terminology.

[2022-05-13 14:53] fritzo commented on #3088
@lwiklendt Thanks, I may be blamed here, as I at one point insisted that "stacks can only be modified at the top: pushed onto the top or popped off of the top", but we only ever got part way through updating docs. (Pancake intuition 🥞 🤷 )

We'd happily accept PRs clarifying or making docs more consistent

[2022-05-18 14:03] nana-zhang opened #3089 "Hello, everyone. I just started to learn pyro. I want to ask how to limit the sampling range, such as making the sampled data greater than 0"
### Guidelines

**NOTE:** Issues are for bugs and feature requests only. If you have a question about using Pyro or general modeling questions, please post it on the [forum](https://forum.pyro.ai/).

If you would like to address any minor bugs in the documentation or source, please feel free to contribute a Pull Request without creating an issue first.

Please tag the issue appropriately in the ti

[2022-05-18 14:04] nana-zhang opened #3090 "Hello, everyone. I just started to learn pyro. I want to ask how to limit the sampling range, such as making the sampled data greater than 0"
### Guidelines

**NOTE:** Issues are for bugs and feature requests only. If you have a question about using Pyro or general modeling questions, please post it on the [forum](https://forum.pyro.ai/).

If you would like to address any minor bugs in the documentation or source, please feel free to contribute a Pull Request without creating an issue first.

Please tag the issue appropriately in the ti

[2022-05-18 14:06] #3090 closed, assigned to nobody

[2022-05-18 14:41] fritzo commented on #3089
Hi @nana-zhang, could you please ask this question on the Pyro forum https://forum.pyro.ai? That is a better discussion venue because discussion is more easily searchable and more people read discussions there and can answer. Thank and welcome!

[2022-05-18 14:41] #3089 closed

[2022-05-19 14:23] MWesselkamp opened #3091 "[bug] Pickling error with MCMC args: num_chains > 1"
Hello there,

I hope I am at the right place with this issue. I want to fit a simple discrete time-model with MCMC and NUTS sampling.
When I increase the MCMC() argument num_chains from 1 to 2, mcmc.run(X) yields an unexpected Pickling error that I couldn't trace back.

[code]

The error I get is:

  File "fit_pyro.py", line 59, in <module>
    mcmc.run(X)
  File "/PycharmProjects/Ricker/venv/lib/

[2022-05-19 14:52] fritzo commented on #3091
Hi @MWesselkamp probably a better place for this question is https://forum.pyro.ai.

I believe this is a general problem with pickling objects defined in a script. It looks like you have something like `my_script.py` that defines your model and you try to run the script directly. Pickle prefers things to be defined in libraries. Instead you can move you model to `my_library.py` and then in `my_scr

[2022-05-20 07:38] MWesselkamp commented on #3091
Thanks for the support, @fritzo , that solved the issue.

[2022-05-20 11:51] #3091 closed

[2022-05-23 10:23] dilaragokay opened #3092 "[bug] `render_model` cannot show ∈ symbol in the saved file"
### Issue Description
I created a simple model and rendered it the following way in Colab.
[code]

I see in the notebook that the file is rendered the following way
<img width="680" alt="Screenshot 2022-05-23 at 12 16 25" src="https://user-images.githubusercontent.com/14012497/169798095-9452a4d6-ac59-4053-ab2c-12618644a189.png">

The above image is from a screenshot. When I download `my_render.png

[2022-05-24 00:46] ordabayevy opened #3093 "[FR] Make use of `functorch` library's `vmap` transform"
[functorch](https://pytorch.org/functorch/stable/) is [JAX-like](https://github.com/google/jax) composable function transforms for PyTorch. In particular, it has a `vmap` transfrom that is used to easily vectorize a function along a new batch dimension. NumPyro uses `vmap` in its inference algorithms, e.g. to vectorize over a number particles or chains. Functorch is currently in beta (works with P

[2022-05-24 10:24] nabriis commented on #3018
On windows pyro now installs as python 3.10 @fehiepsi!

I could not for the life of me figure out why after installing pytorch using the default conda install and then pyro from pip I was getting this error. I guess pyro does not check the python version when installing through pip.

[2022-05-24 15:08] fehiepsi commented on #3092
I guess we can add a note in the docs that it is better to use `svg` format when `render_params=True`.

[2022-05-25 00:11] fritzo commented on #3092
we could just use a `:` symbol as in type theory and avoid the ∈ issue

[2022-05-25 13:05] e-pet opened #3094 "[feature request] Informative error message about potentially having forgotten to call pyro.clear_param_store"
### Issue Description
pyro beginner here. I just spent several hours trying to decipher the reason for a bunch of quite uninformative error messages (see my forum post [here](https://forum.pyro.ai/t/basic-questions-error-messages-variable-enumeration/4252)), only to be taught by a friendly forum user that I just needed to call `pyro.clear_param_store()` in between training different models, and th

[2022-05-25 14:18] fritzo commented on #3094
Agreed, this does seem like a sharp edge.

One option would be to emit a warning if the param store is not empty during the first call of `SVI.step()` for each instance of `SVI` (and provide an option `SVI(..., reuse_param_store=True)` to silence the warning.  Can anyone think of use cases this wouldn't cover, i.e. a common use case where the emitted warning would be inappropriate?

A further opti

[2022-05-26 23:23] willtai commented on #2995
Hi there @arijc76 , is this issue still available for contribution? I am keen to give Bayesian Imputation a try

[2022-05-26 23:50] arijc76 commented on #2995
Hi @willtai , Yes it's available. I am not working on the Bayesian Imputation example.

[2022-05-27 03:46] fehiepsi opened #3095 "`poutine.block` does not work in Python 3.10"
### Reproducible code

[code]

This causes the issue https://github.com/pyro-ppl/pyro/issues/3018

[2022-05-30 16:07] ivetasarfyova opened #3096 "Possible typo in testing complexity"
Hi, I noticed that the [Pyro documentation for SVGP model](https://github.com/pyro-ppl/pyro/blob/e2aad5ed70d20709bfdd7bc3f50eb7f87577081b/pyro/contrib/gp/models/vsgp.py#L44) states that the testing complexity is O(m^3) which contradicts the information in several GP related publications that SVGP has O(m^2) complexity for testing, e.g. Table 1 in [Understanding and Comparing Scalable Gaussian Proc

[2022-05-30 16:51] martinjankowiak commented on #3096
@ivetasarfyova gp prediction requires the kernel inverse. this is typically done with a cholesky decomposition. computing the cholesky factor is O(m^3). this only needs to be done once. with the cholesky factor in hand prediction then becomes O(m^2). so whether prediction is O(m^3) or O(m^2) depends on whether you want to include the one time cost of cholesky decomposition.

[2022-05-30 17:58] ivetasarfyova commented on #3096
Thank you for the explanation @martinjankowiak , that makes a lot more sense now. It would be really helpful to include this explanation in docs. If I understand it correctly, after the training arbitrary Pyro GP model, the inverse matrix is not stored within the model and has to be computed again while making predictions. Wouldn't it be better to re-use the already computed matrix inversion than

[2022-05-30 18:19] martinjankowiak commented on #3096
well afaik the implementation in contrib.gp does [not cache](https://github.com/pyro-ppl/pyro/blob/e2aad5ed70d20709bfdd7bc3f50eb7f87577081b/pyro/contrib/gp/models/sgpr.py#L222) the cholesky factor so inference is in fact O(m^3) as stated in the docs. it would preferable to have a mechanism for this caching and a PR that implements this would no doubt be welcome. on the other hand m is typically so

[2022-05-30 18:48] ivetasarfyova commented on #3096
Thanks so much, that cleared it up a lot :)

[2022-05-30 18:48] #3096 closed

[2022-06-01 17:27] flo-schu opened #3098 "MultivariateStudentT distribution initializes batch_shape as tuple instead of torch.Size"
https://github.com/pyro-ppl/pyro/blob/2b653e0c92d4e0840f2aafd81659d2b5ca6b8cf9/pyro/distributions/multivariate_studentt.py#L39

While this is no problem in itself, this created an Error when using `MultiVariateStudentT` distribution in a higher level package, because it required batch_shape to be of type `torch.Size`

I don't see any issue with assigning the variable to a `torch.Size` object. Did

[2022-06-01 20:41] samihadouaj opened #3100 "Excessive RAM consumption when coding mean field VI for LDA"
I am trying to implement Latent dirichlet allocation using mean field variational inference.
I have 256Go of RAM but still, I am always running out of ram. Could someone help me with that please?

[code]

[2022-06-01 21:19] eb8680 commented on #3100
I'm guessing this is another instance of #3068. See that issue for workarounds, and see http://pyro.ai/examples/prodlda.html for a complete and much more efficient approach to topic modeling in Pyro.

[2022-06-01 21:30] samihadouaj commented on #3100
Thank you for your response. I need LDA with mean field variational for the sake of benchmarking in my project.
Could you tell if there any bugs or problems with my current implementation?

[2022-06-01 21:32] samihadouaj commented on #3100
Another thing, do you think pyro should work well in the case of implementing LDA with mean field variational inference? or it is not designed for that?

[2022-06-01 22:29] eb8680 commented on #3100
I'm closing this issue as a combination of #3068 and an inefficient use of enumeration, but feel free to reopen it if the workarounds suggested in #3068 do not stop you eventually running out of memory even in a trivial test case where the number of documents, words and topics are all very small (10 or less, say).

Otherwise, please ask further questions on the [forum](https://forum.pyro.ai/). I w

[2022-06-02 00:00] #3098 closed, assigned to nobody

[2022-06-02 00:04] eb8680 commented on #3092
Should be addressed by #3097

[2022-06-02 00:04] #3092 closed

[2022-06-03 13:05] fritzo commented on #3056
Closing as colab has updated to torch==1.11

[2022-06-03 13:05] #3056 closed

[2022-06-03 16:58] schneider-source opened #3102 "TraceEnum_ELBO.compute_marginals: KeyError for batch size = 1"
Using TraceEnum_ELBO.compute_marginals with batch size = 1 produces a cryptic KeyError (does not occur for batch size > 1).
Please see following minimal example for demonstration:
[code]
output:
[code]

system info:
[code]

[2022-06-04 00:04] #3018 closed

[2022-06-04 00:04] #3095 closed

[2022-06-04 14:36] qmpzzpmq opened #3103 "semgentaion fault during vae example"
python -c "from pyro.contrib.examples.util import MNIST, get_data_directory"
[1]    86511 segmentation fault  python -c "from pyro.contrib.examples.util import MNIST, get_data_directory"

version:
pyro: 1.8.1+06911dc
pytorch: 1.11.0

[2022-06-06 15:51] fritzo commented on #3103
Could you provide your torchvision version?  I believe you'll need torchvision 0.12.  I believe the `MNIST` example requires torchvision's dataloader, and the segfault may be due to a torch/torchvision version incompatibility.

[2022-06-07 07:14] OlaRonning opened #3104 "Variance reduction for (Renyi)ELBO"
From the forum [thread](https://forum.pyro.ai/t/iwae-elbo-in-pyro-numpyro/3604/2). [Tighter Variational Bounds are Not Necessarily Better](https://arxiv.org/pdf/1802.04537.pdf) demonstrates that tighter VBs can lead to deteriorating gradient estimates for VAEs trained with [IWAE](https://arxiv.org/pdf/1509.00519.pdf) due to the variance decreasing slower than the expected value. [DReG](https://arx

[2022-06-08 14:02] martinjankowiak commented on #3104
@OlaRonning well i believe the current renyi implementation is suboptimal (or incorrect, depending on your point of view) for a local latent variable model like a VAE. basically it has to do with order of summation/logarithm. if there are plates that enclose the entire model then the corresponding summations should be moved out but as it is i believe the implementation effectively assumes that the

[2022-06-10 13:43] kdkalvik opened #3106 "Incorrect noise addition in Gaussian processes [bug]"
Please provide the following details:
--------------------------------------------------------------------------------------------------
### I think there is a bug in how we are adding noise and jitter to the covariance matrix in Gaussian processes (SGPs as well)
[Here is the line I am referencing](https://github.com/pyro-ppl/pyro/blob/f4b13ec784bd0ce81ef2f5fcdba0b9efd62e7cc2/pyro/contrib/gp/model

[2022-06-10 19:44] kdkalvik commented on #3106
@martinjankowiak, I see how you arrived at that conclusion, perhaps I should have added more context. Here is the current [code ](https://github.com/pyro-ppl/pyro/blob/f4b13ec784bd0ce81ef2f5fcdba0b9efd62e7cc2/pyro/contrib/gp/models/gpr.py#L133)in pyro
[code]

The matrix Kff could be a diagonal matrix, but it is usually not the case. However, the noise term that is added to the covariance in Gaussi

[2022-06-10 20:29] martinjankowiak commented on #3106
this code snippet passes fine on my system. does it not pass on yours?
[code]

[2022-06-10 20:45] kdkalvik commented on #3106
Hmmm, yes, it works fine on mine as well. Let me make an MRE and get back to you. Also, thank you for the quick responses ^_^

[2022-06-11 13:18] kdkalvik commented on #3106
Got it, the issue was on my end. I changed the value of N to something else, which made the diagonal updates in other parts of the matrix. @martinjankowiak thank you for looking into it :)

[2022-06-11 13:18] #3106 closed

[2022-06-26 08:42] yaowang1111 opened #3108 "[discussion]Suggestion on categorical probability error message."
When you provide a categorical distribution probs=torch.tensor([0,0]), it will give exception:
 invalid multinomial distribution (encountering probability entry < 0)

I think this exception might be modified to increase accuracy.  First, change multinomial to categorical may be more accurate; second, <0 is confusing here because we are providing 0, it might be better restated as
invalid categorica

[2022-06-26 08:48] #3108 closed

[2022-07-01 01:29] yaowang1111 opened #3110 "A Possible bug? ‘Tensor’ object has no attribute ‘_pyro_backward’ Error"
### Issue Description
I have a little model here which has vectorized plate and markov context, and it gives strange error.
‘Tensor’ object has no attribute ‘_pyro_backward’
The strange thing is that if you delete any one of the a and b variable, the error disappear, which means that they worked well on their own and conflicted when working together, however, this two variables are set to be indep

[2022-07-05 20:40] fritzo commented on #3110
Hi @yaowang1111, after some debugging I still don't see what's causing the error in this quite old backend code.  Also I'm worried your model may be too trivial, as it has no observation statements, and that it may be violating a tacit assumption satisfied by all real-world models.

Do you have a more realistic model where you're seeing this bug?

[2022-07-17 20:21] amcpherson opened #3117 "model_7 in `examples/contrib/funsor/hmm.py` may have a bug"
In the hmm example using funsor, model_7 may have a bug, `x_prev` is initialized but never updated.
https://github.com/pyro-ppl/pyro/blame/38facc126103ef77604d0d47dfde94839ad9dc69/examples/contrib/funsor/hmm.py#L610

[2022-07-18 02:14] ordabayevy commented on #3117
Nice catch! Would you like to submit a PR with the fix? If so could you also run `python examples/hmm.py -m 7 --funsor -n 1 --batch-size=10 --print-shapes` to see if there are any changes in the shapes of tensors?

[2022-07-19 22:25] fritzo commented on #2681
It looks like this is failing again as of Pyro 1.8.0.  @fehiepsi have you noticed anything else that's changed in that you've had to fix in NumPyro?

[2022-07-22 11:10] fehiepsi commented on #2681
@fritzo I fixed the issue at #3064. The [latest release](https://docs.pyro.ai/en/latest/distributions.html) should have the desired signature. That explains why things worked when you built locally. ;)

[2022-07-22 15:11] fritzo commented on #2681
Oh thanks @fehiepsi I'll try to release soon

[2022-07-28 21:36] e-pet opened #3121 "Small improvements to custom objectives example [documentation]"
The [Custom Objectives Example page](https://pyro.ai/examples/custom_objectives.html) currently states that svi.step() is equivalent to the following low-level code pattern "assuming we know all the parameters in advance":

[code]

The "assuming we know all the parameters in advance" part is not particularly helpful if one wants to actually do this, and TBH it is also not immediately obvious to me

[2022-07-28 23:55] fritzo commented on #3121
Hi @e-pet, both of your suggestions sound very reasonable and we would be happy to accept a pull request :+1:

[2022-08-03 19:52] thisiscam opened #3124 "[feature request] handler for parameter substitution"
### Issue Description

It would be nice if pyro implements a handler/poutine that substitutes parameters by fixed constants, similar to `numpyro.handler.substitute`.
The motivation is to allow cleaner code for ancestral sampling from the model with fixed parameters.

For more details, see also: https://forum.pyro.ai/t/equivalent-of-numpyro-substitute-in-pyro/4465

### Code Snippet
See snippet belo

[2022-08-05 12:40] #3117 closed

[2022-08-07 16:44] AlexanderAivazidis opened #3127 "RelaxedBernoulliStraightThrough seems to give continuous samples"
Hi,

I have used the RelaxedBernoulliStraightThrough distribution in my model in a code block like this:

[code]

However, I do not see discrete samples in either:

1.) the posterior samples for I_cm
2.) the posterior samples for I_cm_tracking when I add

`I_cm_tracking = pyro.deterministic('I_cm_tracking', I_cm)`

3.) in the printed output during training when I add:

`print(I_cm) `

So I wonder

[2022-08-08 08:15] fritzo commented on #3127
Hi @AlexanderAivazidis thanks for pointing out this bug.  I wonder if the issue is with `.expand()`?  Could you try removing the `.expand()` (instead expanding the arguments before creating the distribution)?  And could you check to see if the result of `.expand()` is still a `RelaxedBernoulliStraightThrough` object, or if perhaps it has been type-changed to a `RelaxedBernoulli` object?

[2022-08-08 09:25] AlexanderAivazidis commented on #3127
Hi,

after removing the expand I still get the same problems and don't see discrete samples anywhere during training:

[code]

I have also made this minimum example with the RelaxedBernoulliStraightThrough used in a Gaussian Mixture Model:

https://github.com/AlexanderAivazidis/Minimum-Example/blob/main/RelaxedBernoulliMinimalExample.ipynb

Best wishes,

Alexander

[2022-08-10 13:58] martinjankowiak commented on #3121
closed in #3122

[2022-08-10 13:58] #3121 closed

[2022-08-11 08:56] vitkl commented on #3127
We are using AutoHierarchicalNormalMessenger/AutoNormalMessenger guides. Could it be that RelaxedBernoulliStraightThrough needs a custom guide for sampling this variable which does hard sampling (rather than the usual `correct_transform(Normal sample)`)? Could this be a source of the problem and a solution?

[2022-08-11 13:18] martinjankowiak commented on #3127
@vitkl i don't know all the details of how AutoHierarchicalNormalMessenger/AutoNormalMessenger are constructed but basically yes.  maybe you can `block` the bernoulli sites when creating your autoguide and use an `AutoGuideList` etc

[2022-08-11 13:27] fritzo commented on #3127
@karalets do you recall your return value assumptions on `RelaxedBernoulliStraightThrough`?

[2022-08-13 12:01] AlexanderAivazidis commented on #3127
I am considering trying something like this:

[code]
But I wonder what would be the correct guide for the "bernoulli_site"? Here I have put in AutoDiscreteParallel, just to have a complete example.

[2022-08-15 15:13] martinjankowiak commented on #3127
@AlexanderAivazidis depending on details (e.g. how many sites with bernoulli latent variables you have) it's probably easier to easier to build the "discrete" guide by hand; afaik it doesn't need to be an `AutoGuide` it just needs to be `callable` (e.g. a function)

[2022-08-16 14:53] vitkl commented on #3127
Hi @martinjankowiak

By manually building a discrete guide you mean something like below?

[code]

What would you use in place of `transform_that_yeilds_discrete_samples`?

[2022-08-16 15:12] martinjankowiak commented on #3127
@vitkl i believe you can do something like this
[code]

[2022-08-16 16:10] vitkl commented on #3127
I see! So using Bernoulli in the model and RelaxedBernoulliStraightThrough in the guide.

Do you think it is necessary to use AutoGuideList, not the approach below?
[code]

[2022-08-16 16:29] martinjankowiak commented on #3127
@vitkl i'm not very familiar with the internals of `AutoNormalMessenger` but something like that (but returning a distribution in the if branch) may be ok too. if it runs and if you trace the guide and get the samples you expect it's probably ok.

@fritzo would have a better idea.

[2022-08-17 13:49] AlexanderAivazidis commented on #3127
We could try to get my minimum example gaussian mixture model to work:

https://github.com/AlexanderAivazidis/Minimum-Example/blob/main/RelaxedBernoulliMinimalExample.ipynb
(I made sure the notebook can be rendered this time)

I have added the guide that @martinjankowiak suggested there, but so far I classify samples with only 50% accuracy. So no learning seems to take place and I must have done s

[2022-08-18 19:31] fritzo opened #3128 "Documentation requests (asking for a user)"
- [ ] It's unclear what all these concepts are: `model`, `guide`, `poutine`. Where's the man page for `guide`?
- [ ] It would help to stratify tutorial into beginner, moderate, expert. I'm not sure where to start.

cc @HenryWard

[2022-08-22 07:05] petergaoshan opened #3129 "Sample function return multiple results after first epoch"
I'm creating a simple HMM with gaussian emission.

I got two issues:

1. sample function always return [0, 1, 2] after first epoch.
2. parameter p_mu merely change
[code]
I use TraceTMC_ELBO
I have 200 observations, the value of current_state during first svi.step() is correct.
After the second time of svi.step(), the value of current_state is always [0, 1, 2].
[code]

[2022-08-25 14:13] JingangQu opened #3130 "param_dims should depend on the parameter `order`"
https://github.com/pyro-ppl/pyro/blob/d7f64747dbc387c3bc95c59bd95b4ec11b5df35b/pyro/distributions/transforms/spline_autoregressive.py#L283

Hi,

`param_dims` should depend on the parameter `order`, as follows:

[code]

[2022-08-25 14:18] martinjankowiak commented on #3130
cc @stefanwebb

[2022-08-25 17:56] martinjankowiak commented on #3127
@AlexanderAivazidis i think it's important to distinguish between something being formally correct (code does the sequence of expected mathematical operations) and actually working (the code converges to an acceptable solution after appropriate hyperparameters have been chosen, enough steps have been done, etc). for a sufficiently difficult stochastic optimization you can have a formally "correct"

[2022-08-26 15:28] AlexanderAivazidis commented on #3127
I see your point, that we expect the RelaxedBernoulliStraightThrough distribution to give worse results than exact enumeration for example. And it could be that the results we get are the fundamental performance limit of this kind of setup. I have tried to understand what "acceptable" performance would mean by solving the Minimal Gaussian Mixture Problem also with the RelaxedBernoulli and with Ber

[2022-08-29 16:05] #3014 closed

[2022-08-29 16:05] #3068 closed

[2022-09-01 04:01] rafaol opened #3132 "[bug] JitTrace_ELBO fails with AutoNormalizingFlow"
### Issue Description
Hi all, I'm having issues trying to use normalizing flows with JIT and Pyro's SVI. Code runs fine if I use the standard `Trace_ELBO` (or even `TraceEnum_ELBO` in models with discrete variables), but it fails if I replace the ELBO by its JIT-compiled version. The issue seems to be caused by the use of weak references (`weakref`) when checking unconstrained parameter values. I

[2022-09-01 13:57] fritzo commented on #3132
Hi @rafaol, tl;dr don't use the jit, it isn't useful.

I have found that `JitTrace_ELBO` only works on very simple models, and provides little or no speed improvement.  I believe this is because the PyTorch team's goals are more to execute models outside of a Python runtime, in contrast to the JAX team's goals which are more performance oriented.  Historically, torch.jit.trace used to slightly spe

[2022-09-01 15:44] rafaol commented on #3132
Thanks @fritzo ! I was actually planning to use JIT on a larger and more complex model (a random effects/hierarchical), which had a significant (10x) speed up in SVI when I tried JIT with a simpler guide (`AutoMultivariateNormal` and `AutoLaplaceApproximation`). I wish I could get the same kind of speed ups with normalizing flows, since they're way more flexible and expressive, but I'll have a loo

[2022-09-03 16:56] chadrs2 opened #3133 "Distributions Tutorial"
I'm using SVI in pyro and one of the model distributions, torch nor pyro supports. I had to develop my own implementation of that distribution. Can you create some clear guide on how to develop your own distribution / how pyro uses it? This would be extremely helpful when debugging my code and improving runtime.

[2022-09-06 12:53] martinjankowiak commented on #3133
@chadrs2 hello chad, thanks for the suggestion. we're aware of this gap but have not had time to write such a tutorial. one reason for that is that the answer to "how does pyro use distributions" is a bit complicated and depends on the particular inference algorithm. for example if you use a distribution `d` in a model and use SVI or HMC for inference, all you really need is to implement `d.log_pr

[2022-09-06 14:54] Eric-Bradford opened #3134 "Render deterministic functions of random variables"
I would like to show variables explicitly using "render_model" that are functions of other variables. I tried using "deterministic" or "Delta distribution" for this purpose, but this seems to not propagate like other distributions, e.g.

[code]

![image](https://user-images.githubusercontent.com/32679792/188665033-092838b2-ddf6-4240-809b-d3d6f6cc2212.png)

If I define sd as a normal distribution i

[2022-09-06 16:42] fritzo commented on #3134
Hi @Eric-Bradford this looks like a bug to me, let me take a look at what might be causing it...

[2022-09-07 04:10] Balandat opened #3136 "RuntimeError: Graph::copy() with pyro on pytorch 1.12.1 (GPU)"
### Issue Description
When running NUTS on a pretty basic model using `1.12.1+cu113`, the following exception is raised (for a full repro see the colab link below):
[code]

This seems to be an issue only on pytorch 1.12.1; when downgrading pytorch to 1.11 this error disappears.

*Note:* This issue was originally raised in https://github.com/facebook/Ax/issues/1108, and there is some more discussio

[2022-09-07 13:29] martinjankowiak commented on #3136
@Balandat as you're aware, this is almost certainly a torch jit issue. unfortunately we find torch fit to be quite brittle from release to release. apart from downgrading torch, i expect passing `jit_compile=False` would also fix things. i don't know how much speed-up `jit_compile=True` gives you anyway. it's been many release cycles since we've seen torch jit deliver larger speed-ups

[2022-09-07 14:34] Balandat commented on #3136
I can confirm that `jit_compile=False` fixes things - I'll look into the what the speedup from this is.

[2022-09-07 15:17] kaltinel opened #3137 "Loaded model cannot reproduce the predictions of the saved model"
Hi,
I am trying to save and load my model, and I believe there is a problem regarding its implementation.
I train my model and test on a dataset. Then I retrieve some diagnostics for its performance (precision, recall etc).
Then, I save my model.
After, I load my model to test on the same exact test dataset to control if my saving / loading is correct. And I believe it is somehow not, as the diagn

[2022-09-07 16:55] Balandat commented on #3136
cc @dme65

[2022-09-07 17:00] dme65 commented on #3136
Disabling jit worked for @xingchenwan as well who was running into the same issue. I recall jit giving pretty decent speed-ups for a very small number of datapoints, but that was also over a year ago so it makes sense to take another look and see if jit makes a difference on the latest versions.

[2022-09-07 18:23] fritzo commented on #3137
Hi @kaltinel just to clarify, can you confirm that you are calling `pyro.set_rng_seed(...my_seed...)` before running `predictive(...)` in each case?

Also, is there a reason you're loading `adam` and creating an `svi` instance, rather than directly constructing the predictive?
[code]

[2022-09-08 07:56] winf-hsos commented on #3136
Where would I pass this as an argument in the example notebook on Colab? Sorry for a potentially dumb question...

[2022-09-08 08:17] kaltinel commented on #3137
Hi, thank you for your answer. Yes, the seed was the first culprit I thought of, so I confirm that the `pyro.set_rng_seed(#)` is the same in each case, and has been run before running `Predictive().`

For `predictive` construction, there is no specific reason of me doing as such. I thought I would get my model,guide,and the parameters and the optimizer saved, so that I can load it with all require

[2022-09-08 11:30] martinjankowiak commented on #3136
[code]

[2022-09-08 11:40] xingchenwan commented on #3136
Actually it also works on one of my env with pytorch=1.12.0, cuda=11.0, GTX 1080Ti, so it could just be the 1.12.1 update (or something else).

Also it doesn't seem that disabling jit makes the code much slower.

[2022-09-08 13:39] fritzo commented on #3137
Whatever works for you, I was only looking for a minimal reproducible example and would have expected something like
[code]
But again, whatever works for you.

Back to your main problem 🙂 could you try cranking up the number of samples?  That should help distinguish whether the problem is due to random noise or actually bad parameters.  If your results differ with large num_samples, then we could

[2022-09-08 13:43] fritzo commented on #3134
OK, this is not a bug, merely a historical design choice (pyro.infer.inspect originated as an inference tool that was concerned with only latent variables, hence it ignored deterministic dependencies).  I've started sketching support for this feature [in a branch](https://github.com/pyro-ppl/pyro/tree/render-deterministic) but it's a little more complex than I expected due to low-level provenance

[2022-09-09 15:22] kaltinel commented on #3137
Hi,
Thank you for your detailed answer.
I tried increasing the number of sampling and made sure that test dataset is -for-sure- the same, by making an external variable that parses the test file (apologies for not being able to increase the number of samples for this time point), and the diagnostics are still different from each other...

Then I tried your suggestion of comparing the parameters of

[2022-09-09 16:52] fritzo commented on #3137
Hmm, I'm not sure what else to try.  Is there any way you could make a reproducible example we could look at?

[2022-09-15 20:50] adamcweiner opened #3138 "Inferring discrete variables with funsor HMM"
I am trying to extract the discrete hidden states from the funsor HMM example; but am getting an odd error when using [this pattern](https://pyro.ai/examples/gmm.html?highlight=infer_discrete#Predicting-membership-using-discrete-inference) to infer discrete sites. My model exactly matches the example posted [here](https://pyro.ai/examples/hmm_funsor.html') and I added this chunk of code to the end

[2022-09-15 20:51] adamcweiner commented on #3138
I’m using a CPU on a linux cluster with these versions:
[code]
The link to my initial discussion board post can be found [here](https://forum.pyro.ai/t/inferring-discrete-variables-with-funsor-hmm/4607/3)

[2022-09-15 21:00] adamcweiner commented on #3138
Last, here’s the full error trace:
[code]

[2022-09-17 23:54] eb8680 commented on #3138
@ordabayevy any idea what might be happening?

[2022-09-20 16:40] feynmanliang commented on #3136
I was wondering about this: is this primarily because of the cost of inverting, Cholesky, or something else?

[2022-09-20 16:50] dme65 commented on #3136
Martin's point is that it's hard to estimate the `D x D` mass matrix from a small number of datapoints if `D` is large.

[2022-09-20 18:54] martinjankowiak commented on #3136
@feynmanliang in general this is an issue that is both about computation (extra linear algebra) and statistical effieciency (ability to estimate a covariance matrix from finite samples).

in this particular case computing the potential energy is already O(N^3) so the additional linear algebra costs are probably moderate unless D is very large. the bigger problem is statistical estimation. even if

[2022-09-22 15:10] #2998 closed

[2022-09-25 13:16] LiaoShiqi97 opened #3139 "quadratic spline in pyro.distributions.transforms.Spline does not consider outside_interval input at reverse"
### Issue Description
quadratic spline in pyro.distributions.transforms.Spline does not consider outside_interval input at reverse.

According to the Neural spline flow(https://arxiv.org/abs/1906.04032), monotonic rational-quadratic transforms sets the boundary derivatives as 1 to match the linear tails. However, when it takes the y(sample from the target distribution ) to reverse back to the x(sa

[2022-09-27 12:31] kaltinel commented on #3137
Hi, I am sorry for the time lapse in between replies. I was trying to solve the issue.
(Unfortunately I am unable to share my code due to privacy regulations on the matter.)

However I possibly found the culprit:
I saved the model, guide and parameters of the model in the 'testing' script and compared with the one that is loaded from the training script.
The guide and parameters are the matching w

[2022-10-02 18:57] fritzo commented on #3137
What are the differences between your original model and saved-then-loaded model?  Do you save any randomly-generated tensors in the model?  Have you considered using `torch.save()` and `torch.load()` for the whole `mymodel`, as in
[code]

[2022-10-02 19:22] martinjankowiak opened #3142 "[FR]"
allow orthogonal parameters in `pyro.param` using [nn.utils.parametrizations.orthogonal](https://pytorch.org/docs/stable/generated/torch.nn.utils.parametrizations.orthogonal.html) since, afaik, we don't currently support this kind of functionality.

[2022-10-11 07:19] AmyTanJ commented on #3049
您好，我是谭佳慧，您的邮件我已经收到，我会尽快回复，祝您万事如意，家庭幸福！

[2022-10-11 22:00] mlpotter opened #3143 "Trouble Calling MCMC Multiple Times within Same Script"
### Issue Description
When I try to run MCMC twice within the same script, wrapped in a class object definition, I receive this error.

### Environment
For any bugs, please provide the following:
 - Ubuntu 20.04.3 LTS
 - Python 3.9.0
 - PyTorch 1.12.1
 - Pyro 1.8.1

### Code Snippet
[code]

[2022-10-16 00:13] emilyzfliu opened #3144 "pyro installation on earlier versions of pytorch"
I'm trying to run pyro on a GPU machine that only supports an earlier version of PyTorch (1.7.0). However, it seems that I can only install pyro-ppl using torch version >=1.11.0, which is incompatible with the conda environment. Is there a version of pyro that works on torch 1.7.0? Thanks!

[2022-10-17 23:22] fritzo commented on #3144
Hi @emilyzfliu, it looks like [Pyro Release 1.5.2](https://github.com/pyro-ppl/pyro/releases/tag/1.5.2) was the last to support PyTorch 1.7.0

[2022-10-20 07:32] GStechschulte commented on #3143
Hey @mlpotter, this is interesting. I know you said script, but just to make sure, you are running this class within a Python script (the main program being executed) and **not** a Jupyter Notebook correct?

I had a similar problem, though not the same, when running MCMC with $> 1$ chains in a Jupyter Notebook. My error was also being thrown in the `multiprocessing` directory, albeit, with the `sp

[2022-10-20 13:02] mlpotter commented on #3143
The main program being executed is not a Jupyter Notebook. I am importing into a script like main.py.

I resolved the threadlock error by adding in main.py file `if __name__ == "__main__":`.

When running the same script in Windows, I received a pickling error that commonly appears in this issue boards with this code

[code]

But was able to resolve it by removing self assignments and adding a sel

[2022-10-20 13:03] #3143 closed

[2022-10-22 13:24] willtai commented on #2550
Can I take a look at parts of this? I can open a PR for `params`

[2022-10-24 13:55] GStechschulte commented on #3128
`poutine` has two pages: The man page seems to be located [here](https://docs.pyro.ai/en/stable/poutine.html). Additionally, there is more of a tutorial based [page](https://pyro.ai/examples/effect_handlers.html) under the section "Understanding Pyro's internals".

`guide` is spread out in various tutorials, primarily in the sections [Introductory Tutorials](https://pyro.ai/examples/index.html) an

[2022-10-28 03:29] fritzo commented on #3128
@GStechschulte contributions are welcome!  I don't believe @HenryWard is working on this.  If you do make a PR could you cc @eb8680 as he as thought a lot about how to present these concepts and would be a good reviewer.

[2022-10-28 13:07] HenryWard commented on #3128
@GStechschulte please go for it, @fritzo is right that I will not be working on this

[2022-11-11 18:53] maulberto3 commented on #1992
Hi, does this mean that Pyro will drop normalizing functionality?

[2022-11-11 18:54] stefanwebb commented on #1992
@fritzo what do you think about this?

@maulberto3 I just wanted to mention that I had to suspend FlowTorch development at Meta after the economic climate changed earlier in the year. However, I am able to resume work on it now!

[2022-11-11 23:24] maulberto3 commented on #1992
@stefanwebb I know what you are saying, and it's not nice, I wish all of you the best. For what's it's worth, I still haven't tuned a simple mnist NF example of mine here or with pyro, maybe soon. Any help you need with this, let me know.

[2022-11-14 03:29] eromoe opened #3153 "Document error or misunderstanding in bayesian_regression [discussion]"
In the last paragraph

[code]

------------------

As data is created by:

[code]

So

- `weight[:, 1]` :  "rugged"  (all nations)
- `weight[:, 2]`:  "cont_africa_x_rugged"  ( africa )
- `weight[:, 1] + weight[:, 2]` :   "rugged" (all nations) + "cont_africa_x_rugged"  ( africa )

In my vision, the variables should be named
[code]

[2022-11-14 19:35] fritzo commented on #1992
Pyro tries to avoid changes that would break user code.  Thus if we do drop maintenance for normalizing flows, we'd at most add a `DeprecationWarning` or `FutureWarning`; I do not foresee us removing any of the existing flows from Pyro.  @stefanwebb if you plan to maintain flowtorch going forward, then feel free to add `DeprecationWarning` or `FututreWarning` to Pyro's flows, including links that

[2022-11-15 18:34] maulberto3 opened #3154 "[discussion] Shouldn't need cloning for Skip Layers?"
### Issue Description
Regarding the forward method of the ConditionalAutoRegressiveNN class, I feel that `x` needs cloning before doing the skip layers. Attached line:
https://github.com/pyro-ppl/pyro/blob/8b7e5641228b664b3c9b674a079e95a478f3e2a0/pyro/nn/auto_reg_nn.py#L262

That's it.

[2022-11-15 19:21] martinjankowiak commented on #3154
@maulberto3 why do you think so? there are no in-place ops. looks fine to me.

[2022-11-15 20:07] martinjankowiak commented on #3154
@maulberto3 afaik as i know there are multiple skip topologies that people use, including the one you describe. @stefanwebb can probably comment further

[2022-11-21 20:34] saitcakmak opened #3156 "[Bug] Infinite loop in `HMC._find_reasonable_step_size`"
### Issue Description
In some edge cases, the while loop in `HMC._find_reasonable_step_size` never exits and becomes an infinite loop. This happens because the `direction` never changes and the `step_size` eventually becomes `0`. The below printout of `t` & `step_size` shows an example of this.

<img width="450" alt="Screen Shot 2022-11-18 at 11 34 59 PM" src="https://user-images.githubusercontent

[2022-11-21 21:47] fritzo commented on #3156
Thanks for the detailed report @saitcakmak.  What do you think should be ideal behavior here?  Hanging is certainly bad, but stepsize=1e-100 seems bad also.  Maybe we should raise a `ValueError` to surface problem early?

[2022-11-22 19:02] #3156 closed

[2022-11-24 16:05] fritzo commented on #3154
@maulberto3 you would be correct that if the code used in-place operations, a clone would be needed
[code]
however the current implementation does not use in-place operations, rather the local Python variable `h` is replaced with effectively a pointer to a new tensor, with the original tensor `x` modified.  This Python behavior is a little different from some langauges where `h = ...` replaces the

[2022-11-24 16:05] #3154 closed