[2019-12-09 19:23] JunHanSnap commented on #1679
Thanks! Yeah. I noticed it and are using it.

[2019-12-09 20:21] tuananhle7 commented on #2220
Hmmm maybe we could meet in person a NeurIPS to discuss?

[2019-12-09 22:00] fritzo commented on #2026
@abelstam12 (moving discussion here from [the PR](https://github.com/pyro-ppl/pyro/pull/2050#issuecomment-563195545)).

If you want confidence intervals for your parameters, then `.quantiles()` already provides that functionality in a simple generic way:
[code]

[2019-12-10 09:39] fehiepsi commented on #2220
Yup, I'll be around there from Tuesday.

[2019-12-10 14:57] abelstam12 commented on #2026
@fritzo of course. Then the methods I proposed are redundant for getting confidence intervals! Thanks for pointing me to the issue, I will keep an eye on it. Since for now I only need to manage a small amount of samples sites, I can get away using a AutoGuideList of normals for each sample site.

Thanks!

[2019-12-10 16:48] fritzo commented on #2026
@abelstam12 just to be clear, you can usually use a single `AutoDiagonalNormal` for multiple sites: `.quantiles()` will give you a dict mapping site name to quantile tensor, and `.__call__()` will give you a dict mapping site name to sample.

[2019-12-10 21:13] fritzo opened #2221 "[FR] Automatic reparameterization"
Could we implement automatic reparameterization? Maybe at least for autoguides?

A good test example would be Neal's funnel, as described in the paper.

See Gorinova, Moore, and Hoffman (2019)
https://arxiv.org/pdf/1906.03028.pdf

## Tasks
- [x] #2222 implement `poutine.param` and basic framework
- [x] #2235 generalize `LocScaleTransform` and implement an effect `pyro.infer.reparam.decenter()`
- [

[2019-12-11 01:38] fehiepsi commented on #2221
FYI, numpyro supports automatic reparameterization for both autoguide and
mcmc by defining that distribution as a transformed distribution. This is a
nice feature to have and can help for avoiding mistakes where support of
some “transformed” distributions depend on other variable, e.g. Uniform(0,
a) has dynamic support but currently autoguide will use a fixed transform
(depending on initial value

[2019-12-11 18:51] lsgos opened #2223 "Undocumented restrictions on discrete inference?"
## Weird behaviour in discrete inference with shared mixture weights

pyro version - 1.1.0 (and earlier)

Consider the following pyro model, defining a mixture of gaussians

[code]
This can be enumerated, and works fine. In particular, gradients flow to the mixing weights variable, as can be checked with the following snippet

[code]

Now, if we add another random variable after x that depends on

[2019-12-12 18:20] fritzo commented on #2223
Hi @lsgos, your model looks good. My first guess is that, while `y` indeed marginalizes out, it introduces high-variance zero-mean noise into the optimization process and thereby breaks learning. One way you could test this hypothesis would be to wrap the `y` site in a `poutine.scale`
[code]
Then train on fixed data for each of scales in `[1e-6,1e-5,...,1e-1,1]`. If my hypothesis is correct then t

[2019-12-12 22:25] lsgos commented on #2223
So I don't think that this is right - this doesn't explain the fact that no gradient passes back to the mixing weights, when it certainly should (`print(pyro.get_param_store()._params['pi'].grad)` prints `None` in my example snippet above). In fact at the end of training the mixing weights will be whatever they were initialised as, even if you scale y such that the effect should be imperceptible (

[2019-12-12 22:37] lsgos commented on #2223
![image](https://user-images.githubusercontent.com/20584660/70754646-9a037980-1cec-11ea-9395-7d8193af0ab6.png)
If it helps, here is a graph showing the scale of the elbo with and without the nuisance variable y. Kinda difficult to intepret this but it certainly seems like the models are converging to totally different objectives. But these curves are quite smooth so it doesn't seem like it's becau

[2019-12-12 23:31] fritzo commented on #2223
Good debugging, that indeed looks like a bug! Let me know what you find. Ideally we could add your `.grad is not None` check as a unit test in Pyro; if you submit a PR with the failing test I'd help out with debugging.

[2019-12-13 03:16] Capri2014 opened #2224 "Question about the model serving for `VariationalSparseGP`"
### Guidelines

**NOTE:** Issues are for bugs and feature requests only. If you have a question about using Pyro or general modeling questions, please post it on the [forum](https://forum.pyro.ai/).

If you would like to address any minor bugs in the documentation or source, please feel free to contribute a Pull Request without creating an issue first.

Please tag the issue appropriately in the ti

[2019-12-13 09:56] fehiepsi commented on #2224
Hi @Capri2014, I haven't tried model serving for vsgp yet. Could you provide some simple repro codes so I can get an idea of what's going on?

[2019-12-13 23:14] fehiepsi commented on #2205
This issue is fixed upstream. For those who use PyTorch 1.3.1, a quick solution is to call `.contiguous()` before `.squeeze(-1)`.

[2019-12-13 23:14] #2205 closed

[2019-12-14 00:25] lsgos commented on #2223
OK, after i'm home from neurips I'll try to write up the test and make a pull request, and then we can try to see what is going on

[2019-12-15 18:07] Capri2014 commented on #2224
@fehiepsi Hi fehiepsi, I double checked and it looks like the bare bone vsgp works fine, it might be something wrong with our model (encoding + vsgp). -- Somehow we constructed the model that it can be trained, evaluated but when saved it with git trace it gave the `guide()` only expect 1 positional argument but 2 were given error. I will look into it more and keep you updated.

[2019-12-15 18:07] #2224 closed

[2019-12-18 19:29] lsgos opened #2227 "Student T tests fail on GPU [bug]"
[code]

This issue was discussed in #2226 - running `make test` on the dev branch errors out for me if running on a machine with cuda. I am guessing this hasn't shown up in the CI because it uses a cpu only machine.

I think this bug is pretty simple - it happens because, as we can see in the above snippet, y inherits its device from self.df, and in the fixture, self.df is set to a scalar value. T

[2019-12-18 19:48] fritzo commented on #2227
We really do want to test with Python scalars as inputs. This appears to be a bug in `MultivariateStudentT` which incorrectly coerces `df` without examining the device of other tenors:
[code]

[2019-12-19 02:14] #2227 closed

[2019-12-20 17:54] tuananhle7 commented on #2220
@iffsid and I were trying to implement an example with sequential batching. We don't want to take gradients of ELBOs of single data points but at the same time don't want to vectorize the ELBO computations. Examples of when we might want to do this is for is models with dynamic number of latent variables like PCFGs.

The `pyro.plate` [examples](http://docs.pyro.ai/en/dev/primitives.html#pyro.plate

[2019-12-20 18:39] fritzo commented on #2220
Your return statement is exiting the loop early.

[2019-12-20 18:43] tuananhle7 commented on #2220
You're right, thank you.

[2019-12-20 19:48] ShawnGeller opened #2231 "Possible error with DiscreteHMM log_prob algorithm"
I may be misinterpreting this code, but I think that there's one too many factors of the transition matrix here.
--------------------------------------------------------------------------------------------------
### Issue Description
In the source,the DiscreteHMM.log_prob method is computed as
(pyro/distributions/hmm.py)
[code]
This is the algorithm
\begin{equation}
\pi B_1 A B_2 A \cdots B_{n-1}

[2019-12-20 20:18] #2231 closed

[2019-12-22 17:42] lsgos commented on #2223
Think this issue should have been resolved by #2226 being merged so closing

[2019-12-22 17:42] #2223 closed

[2019-12-23 15:04] fritzo opened #2232 "Where should pyro.reparam implementations live?"
Regarding #2221

Currently `pyro.reparam` supports only `Reparameterizer` instances. Since none of those implementations use any pyro primitives, they can live at the distributions level of abstraction, and live in the `pyro.distributions` module. However future `pyro.reparam` implementations may use pyro primitives, e.g. auto-decentering from [Gorinova,Moore,Hoffman 2019](https://arxiv.org/pdf/19

[2019-12-23 18:50] fritzo commented on #2232
@fehiepsi @neerajprad Do you see any way to make this machinery generic across backends? (Even if we end up copying code among backends, to avoid dependencies)

[2019-12-24 00:32] fritzo commented on #2232
After discussion with @neerajprad we believe the following is a good organization:
- pyro.distributions contains low-level distribution utilities
  - reparameterize
    - `Reparameterizer`
    - `LocScaleReparameterizer`
    - `TransformReparameterizer`
  - stable
    - `StableReparameterizer`
- pyro.poutine contains the handler
  - `poutine.reparam()`
- pyro.infer.reparam contains high-level infe

[2019-12-24 00:32] #2232 closed

[2019-12-31 20:35] deepaks4077 commented on #1461
@martinjankowiak: I've been meaning to use Pyro for a causal inference in genomics task ([to conduct a GWAS](https://en.wikipedia.org/wiki/Genome-wide_association_study)). I already have the code to generate a decent amount of synthetic data. I could make it more complicated by adding some latent confounding as well. What do you guys think? My code is all in Pytorch so it'll be reasonably instruct

[2019-12-31 20:46] deepaks4077 commented on #1164
I've worked a fair bit on implementing [this paper, using Pytorch](https://arxiv.org/abs/1702.08896), on a reasonably sized dataset (100,000 dims, 5000-50000 samples). It involves a GAN-like objective and ties in nicely with a causal inference in genomics problem. I've been meaning to port my code to Pyro but may need some help since I'm a beginner with PPLs.

[2020-01-01 01:06] eb8680 commented on #1164
@deepaks4077 sure!  I'd encourage you to first make sure your existing code is correct and produces the results you expect on your data.  Once you've done that, it should be easy to try porting it to Pyro following the discussion in this issue and in our [custom objectives tutorial](http://pyro.ai/examples/custom_objectives.html).  If you get stuck, please don't hesitate to ask questions or open a

[2020-01-02 18:08] deepaks4077 commented on #1164
@eb8680 : Great, I'll have a go at this soon. Does pyro have anything akin to [ImplicitKLqp in Edward 1](http://edwardlib.org/api/ed/ImplicitKLqp)?

[2020-01-06 16:47] #2084 closed

[2020-01-06 16:50] #2147 closed

[2020-01-08 18:31] fritzo opened #2247 "[FR] pyro.barrier statement for SMC"
This issue proposes a new statement in Pyro: a `pyro.barrier` statement to allow interaction between an inference algorithm and a model's local state. The interface is
[code]
where `thing` is a recursive data structure whose elements may be
1.  Python atoms, which will be unaffected
2.  Python collections, which will be recursed
[code]
3. PyTorch tensors with named dimensions (or Funsors with name

[2020-01-10 17:51] fritzo opened #2249 "Switch from MIT license to Apache-2.0 license"
As part of Pyro's move from Uber to the Linux Foundation, we are replacing the existing

with a simpler structure:

## Tasks

- [x] #2250 Include copyright notices on each file: `Copyright (c) 2017-2019 Uber Technologies, Inc.`
- [x] #2250 Include an SPDX short-form identifier in a comment at the top of each file in the repo, wherever reasonably possible. (addresses #2067 )
- [x] #2250 Switch from

[2020-01-10 18:30] swinslow commented on #2249
Hi @fritzo, on the SPDX identifiers, https://spdx.org/ids has more details about this (or I'm happy to weigh in if you have questions!)

On the copyright notices, another option that some of our projects have gone with has been to use a more general form of copyright notice, such as: "Copyright Contributors to the Pyro project." We actually just posted a blog about this [earlier today](https://www

[2020-01-10 18:33] fritzo commented on #2249
Thanks, @swinslow, can I include this line in each source file?

[2020-01-10 19:09] swinslow commented on #2249
From the LF's perspective, I think that would be fine, though a couple of comments:

* You might consider omitting the years range. Including it tends to result in questions about e.g. "when do we need to update it in each file?" or "what if contributions were made in 2019 but it's not in the year range?" Because of those sorts of things, we've increasingly seen (and recommended) that projects may

[2020-01-10 23:14] #2249 closed

[2020-01-13 03:28] #2221 closed

[2020-01-13 18:01] fritzo opened #2254 "FR StudentTReparam, StudentTHMM"
This proposes to implement reparameterizers for `StudentT` distributions by introducing latent `Gamma`-distributed variables, following the pattern of of symmetric `Stable` distributions.

## Tasks
- [ ] `StudentTReparam` following [SymmetricStableReparam](http://docs.pyro.ai/en/latest/infer.reparam.html#pyro.infer.reparam.stable.SymmetricStableReparam). #2265
- ~~`StudentTHMM` following [StableHM

[2020-01-13 18:05] fritzo commented on #2254
@fehiepsi I should have some time to implement this maybe next week, or did you want to implement it? It's nearly identical to the `Stable` versions.

[2020-01-13 18:28] fehiepsi commented on #2254
@fritzo I can implement them later this week. Thanks for bringing them up!

[2020-01-14 00:55] Capri2014 opened #2255 "Bug in sv-dkl.py when enable trace"
pyro 1.1.0 `sv-dkl.py` running error when enable trace.  Was exactly running `https://github.com/pyro-ppl/pyro/blob/dev/examples/contrib/gp/sv-dkl.py` with only `--jit` set to `True` on line https://github.com/pyro-ppl/pyro/blob/7692a503b64dc8200049e1c24a775d2170ba8039/examples/contrib/gp/sv-dkl.py#L186 , default setting can successfully be running.

Running in conda (4.7.12) environment with `py3

[2020-01-14 16:53] fehiepsi commented on #2255
Hi @Capri2014, thanks for the bug report! Currently, the GP module does not work under JIT. Unfortunately, it is unclear to me how to make it work. I can recall that with some changes, the script can run but give completely wrong results. I would be grateful if someone can help me debug it.

[2020-01-14 19:09] Capri2014 commented on #2255
@fehiepsi It is really sad. And I think it might be associate with the previous bug I mentioned here https://github.com/pyro-ppl/pyro/issues/2224 .  Since our model structure is quite similar to the sv-dkl example.

[2020-01-14 19:11] Capri2014 commented on #2255
@fehiepsi It looks like from the Bayesian example (https://github.com/pyro-ppl/pyro/blob/dev/tutorial/source/bayesian_regression.ipynb) that you need to write your own `Predict` module for that example, I am still not that familiar with Pyro but wondering would doing similar things help in GP model case?

[2020-01-14 19:59] Capri2014 commented on #2255
@fehiepsi I also have difficultly `jit.save` the trained module for this example, not sure if it is related to this issue or it is my only implementation of saving part wrong, so I create a seperate topic here in forum: https://forum.pyro.ai/t/jit-save-issue-for-gp-module/1510

[2020-01-17 02:01] #2254 closed

[2020-01-19 20:18] ameshkovskiy commented on #1260
Hi @stefanwebb, probably sorry if it's off-topic, but I have a question on the usage of Inverse Autoregressive flow. In particular, if I want to use IAFs in inference, do I understand correctly that this is a toy-example of the correct usage when defining the model:

without IAFs:
[code]

with IAFs:

def model(tseries):
    transform_sigma = dist.transforms.AffineAutoregressive(AutoRegressiveNN(1,

[2020-01-19 20:25] stefanwebb commented on #1260
Hi @ameshkovskiy, fantastic that you're interested in Normalizing Flows!

I'd be glad to answer your question but I think it would be good to post over in the forum: [https://forum.pyro.ai/](https://forum.pyro.ai/)

Would you be able to kindly repost your question there, then I'll pop over and leave a reply?

[2020-01-20 04:44] ordabayevy opened #2270 "MaskedMixture distribution doesn't work properly when Delta distribution is used as a component"
### Issue Description
MaskedMixture fails when Delta distribution is used as a component distribution. In particular, sampling from MaskedMixture outputs wrong values and also alters the Delta distribution used as a component.

### Code Snippet
[code]
returns:
[code]
possible solution (at least it fixes the example above) is to use torch.where in pyro/distributions/mixture.py file like below:

[co

[2020-01-20 05:03] fritzo commented on #2270
@ordabayevy your fix looks great! Do you want to submit that as a PR? You can add a regression test if you want, but I'm ok with just the fix and existing tests.

[2020-01-20 06:47] ordabayevy commented on #2270
@fritzo I submitted a PR with the fix. I am not sure how to do a regression test. This is my first time submitting a bugfix (and contributing) to an open project so please let me know if I am not doing it right!

[2020-01-20 19:18] jawolf314 opened #2272 "[bug] MCMC run throws exception when using num_chains>1 as of Pyro 1.2.0."
### Issue Description

MCMC run throws exception when using num_chains>1 as of Pyro 1.2.0.  When num_chains is set to 1 the below code will execute in both Pyro 1.1.0 and Pyro 1.2.0. When num_chains is set to >1 the below code will execute in Pyro 1.1.0, but raises an AttributeException as of Pyro 1.2.0.

[code]

### Environment
- OS X and Python 3.6 / rhel fedora and Python 3.6
- PyTorch 1.4.0
-

[2020-01-21 04:01] neerajprad commented on #2272
Thanks for the clear reproduction. I think the solution to this is in PR #2266, which is need for multi-chains. The baseball example is also failing but I think it passed CI because it doesn't have enough parallel cores to do multiprocessing and ran the chains in sequence. We should fix this soon and release a path update.

[2020-01-21 21:57] #2272 closed

[2020-01-22 01:57] neerajprad opened #2276 "MCMC with parallel chains get stuck in jupyter notebook on Ubuntu"
As reported by @activatedgeek. MCMC with multiprocessing seems to work fine on mac, and even Ubuntu when run from the terminal, but gets stuck in Ubuntu when run with jupyter. I am opening this issue so that we can investigate further if this is a common issue faced by other users.

Jupyter version:

[code]

[2020-01-22 04:29] fehiepsi commented on #2276
I believe this is related to these issues: https://github.com/pytorch/pytorch/issues/17680 and https://github.com/pytorch/pytorch/issues/20375.

Not related but I put here some observations in a terminal for reference:
- Without `torch.multiprocessing.set_start_method("spawn")` (or `forkserver`) line, baseball example will fail with the default `fork` method due to [this issue](https://github.com/

[2020-01-22 04:41] neerajprad commented on #2276
I think #20375 is the reason why this fails - the default on Ubuntu and python 3.8 across all platforms is "spawn" context which causes issues. I can replicate it in mac too if I set `mp_context="spawn"`. I suppose one solution would be to change the default depending on the notebook environment.

[2020-01-22 19:51] fehiepsi commented on #2276
It might be better to add a note/warning to `MCMC` class so that users know about these gross of PyTorch multiprocessing. WDYT? I worry about `forkserver` might not be available on some platform.

[2020-01-22 22:28] activatedgeek commented on #2276
Thanks for the info @fehiepsi

@neerajprad The issue seems to still exist with `mp_context=forkserver`.

[2020-01-22 23:18] fritzo opened #2277 "Reparametrization trick is incorrect in presence of discontinuity"
This issue was raised by @hongseok-yang.

In models where likelihoods discontinuously depend on a latent variable, it is incorrect to use the parameterization trick for that variable in the guide. A correct workaround is to substitute the guide distribution with a non-reparameterized copy. For example:
[code]

## Tasks
- [ ] allow manual user-specified disabling of the reparameterization trick for

[2020-01-22 23:31] #2270 closed

[2020-01-25 02:30] neerajprad opened #2281 "Create an autoguide to flexibly use any normalizing flow"
We have many nice normalizing flows added by @stefanwebb, but going by our current design, we may need to separately wrap each of these in an Autoguide. Instead, I propose having a generic `AutoNormalizingFlow` guide that can taken in any normalizing flow (a `TranformModule` instance).

Additionally:
 - It will be nice to be able to specify the number of flows.
 - We should be able to delegate cre

[2020-01-27 21:44] fritzo commented on #1723
Closing in favor of [Funsor](https://github.com/pyro-ppl/funsor), which can be used in a number of ways:
- as a complete backend for pyro
- to implement custom Pyro distributions
- as a DSL within Pyro models, constructing factors via `pyro.factor` statements.

[2020-01-27 21:44] #1723 closed

[2020-01-28 02:42] fritzo opened #2288 "False negatives in check_model_guide_match()"
@mbabadi writes:

[2020-01-28 02:44] fritzo commented on #2288
@mbabadi could you provide an example? I haven't been able to reproduce this and I don't see where the error might be happening in [check_model_guide_match()](https://github.com/pyro-ppl/pyro/blob/73af4ff/pyro/util.py#L172). Feel free to close this issue if the problem has been solved.

[2020-01-29 18:33] fritzo opened #2290 "Should poutine.block block poutine.broadcast and .independent?"
Nested inference #1227 requires `poutine.block`ing of nested inference, but these nested inference algorithms should arguably respect outermost `poutine.broadcast` and possibly `poutine.independent`. (Note the non-broadcasted TMC versions are also interesting, but are not the only- and not the simplest- way to nest inference.)

The `ConjugateReparam` #2289 needs to sample an internal variable in a

[2020-01-29 19:12] eb8680 commented on #2290
I don't see any reason to change the behavior of `block` right now, since it's used for things that aren't just nesting inference, but I guess we could add a separate `block_tracing` that has the behavior you're looking for.  The special case of `block_tracing` added in #2289 is specific to auxiliary variables introduced by inference algorithms, which are not expected to be observed or replayed, b

[2020-01-29 21:14] #2182 closed

[2020-01-30 00:23] neerajprad opened #2292 "Gradient on transforms currently fail with in-place modification to tensor attributes"
This issue follows from the discussion in #2283. If we have a suitable path forward, I may reopen this in PyTorch, but this is to just jot down possible failure modes which may not be obvious at a glance.

Many of our normalizing flows use `cache_size=1` since computing the inverse is not feasible. e.g. `BlockAutoregressive`. Transforms use identity checks when storing (x, y) pairs. As such, cachi

[2020-02-01 19:50] fritzo opened #2297 "pyro.deterministic RuntimeWarning when called outside of inference"
From https://forum.pyro.ai/t/behaviour-of-pyro-deterministic/1570

`pyro.deterministic` should be able to be called outside of inference.

[2020-02-03 18:59] neerajprad commented on #2297
I think this should be resolved with #2214.

[2020-02-09 11:39] ZappD0S opened #2303 "Missing reference in Kalman Filter tutorial"
In the kalman filter tutorial, the authors mention a source a few times by referring to it with its index [1], but the actual reference is nowhere to be found within the rest of the tutorial. The tutorial file is the following: <https://github.com/pyro-ppl/pyro/blob/dev/tutorial/source/ekf.ipynb>.

[2020-02-09 18:19] fritzo commented on #2303
@jpchen do you remember the reference?

@ZappD0S I've mostly switched to [Funsor](https://github.com/pyro-ppl/funsor) for Kalman filtering. You might check out the [example](https://github.com/pyro-ppl/funsor/blob/master/examples/kalman_filter.py) there.

[2020-02-09 19:31] jpchen commented on #2303
i believe it was the seminal [kalman filter paper](https://www.cs.unc.edu/~welch/kalman/media/pdf/Kalman1960.pdf) but if you're interested in the derivation, there are a plethora of [lectures](https://www.cs.unc.edu/~welch/media/pdf/kalman_intro.pdf) and [papers](https://arxiv.org/pdf/1710.04055.pdf) that give a better overview. i'll add the reference to the tutorial.

[2020-02-09 23:38] #2303 closed

[2020-02-12 17:08] lsgos commented on #2220
Is this still a problem? Is there any plan to fix it? I am quite keen to try out these RWS type objectives on a model which I have been working on which is currently largely implemented in pyro, so I would be willing to help out writing a pull request if this is something that people would consider adding to pyro.
As a temporary workaround, I'm also curious how bad the failure currently is if we j

[2020-02-12 17:14] tuananhle7 commented on #2220
Hi @lsgos if you need something right now, I started implementing this in https://github.com/tuananhle7/pyro/tree/batching but am currently busy with other stuff so won't be able to submit a PR soon.

[2020-02-16 01:44] fritzo opened #2311 "Add a contrib.forecasting module"
Related to #2090 but focused on a narrow class of models, inference methods, and forecasting queries. See [design doc](https://docs.google.com/document/d/1jqQ_7mCnggqqmICzux2Fr9yvHO5AoVpBdmjNC0i6JAY).

- [x] #2309 implement a `GaussianHMM.prefix_condition()` method
- [x] #2309 implement a `PrefixReplayMessenger`
- [x] #2309 create a `ForecastingModel` base class and `Forecaster` wrapper
- [x] #230

[2020-02-19 13:12] simonegarrappa opened #2314 "Problem with gp.util.train() in bayesian optimization"
Hi, I am not able to reproduce the Bayesian Optimization snippet from https://pyro.ai/examples/bo.html

In particular, the code gets stuck running continuously without handling errors when executing the command

gp.util.train(gpmodel, optimizer)

My specs are:
Mac OSX Mojave 10.14.6
Pytorch: 1.4.0
Pyro: 1.2.1

Thanks in advance.
Best,
Simone

[2020-02-19 14:24] Garve opened #2315 "MCMC num_chains>1 does not work"
Hi!

I tried to implement some very simple Bayesian Regression via NUTS/MCMC. It works well, if I use a single Markov Chain, however, when I increase the number, the program does not stop anymore (but also doesn't yield any error message).

[code]

If you set num_chains to 1, it will work.

Pyro 1.2.1
PyTorch 1.4.0+cpu
Python 3.7.6 (tags/v3.7.6:43364a7ae0, Dec 19 2019, 00:42:30) [MSC v.1916 64 bit

[2020-02-19 15:03] fehiepsi commented on #2315
This might be a problem of multiprocessing in windows. I can't reproduce the issue in Linux.

[2020-02-19 22:58] ameshkovskiy opened #2317 "NeuTraReparam does not work as supposed: AssertionError thrown"
Hi @fehiepsi, following the [discussion](https://forum.pyro.ai/t/using-pyro-inverse-autoregressive-flow-in-hmc-inference/1524) on the forum.

### Issue Description
Issue appears when I try to use NeuTraReparam as suggested in docs:
(1) train the guide using SVI inference,
(2) use Neural Transport reparameterization (NeuTraReparam), as described [here](http://docs.pyro.ai/en/stable/infer.reparam.ht

[2020-02-19 23:30] fritzo commented on #2317
@ameshkovskiy thanks for the runnable script!

@fehiepsi are you able to reproduce the error? On my system the script runs without error:
[code]
That's using Pyro dev
[code]

[2020-02-19 23:55] neerajprad commented on #2317
Hmm..I think this is a problem with the release branch and is fixed in `dev` with https://github.com/pyro-ppl/pyro/pull/2295.

[2020-02-20 01:09] fehiepsi commented on #2317
Yes, I can confirm that this is fixed in `dev` branch.

[2020-02-20 22:12] ameshkovskiy commented on #2317
Thanks a lot, the `dev` release works indeed.
However, when I run it and call `run_output.summary()`, I get all the variable names renamed to `phi_shared_latent[i]`, i.e.:

[code]

Is it the expected behavior?

Arthur

[2020-02-20 22:28] fehiepsi commented on #2317
@ameshkovskiy The behavior is expected (I think we get "neutralized" samples here), but the result seems to be not useful. We need an extra step to transform those samples back to the original space.

[2020-02-20 23:14] ameshkovskiy commented on #2317
Thanks, got you. I see the method `transform_sample()`. Could you kindly elaborate more on where an how this method should be called?

[2020-02-20 23:17] rameshvs opened #2319 "[bug] GP covariance matrix from `pyro.contrib.gp.models.GPRegression.forward` is not PD"
### Issue Description
Running `GPRegression.forward(..., full_cov=True)` on the data from the tutorial produces a covariance matrix with (near-zero) negative eigenvalues, which then leads to an error when trying to use it in `pyro.distributions.MultivariateNormal`.

### Environment
- Python 3.7.3 on Docker on MacOS 10.14.6
- PyTorch version: 1.3.1
- Pyro version: 1.1.0

### Code Snippet
Provide an

[2020-02-20 23:34] neerajprad commented on #2317
@ameshkovskiy - you might find this [example](https://github.com/pyro-ppl/pyro/blob/dev/examples/neutra.py) on the dev branch useful.

[2020-02-21 19:53] fehiepsi commented on #2319
I think you will want to include the noise term to the output of your GP (i.e. `model(x, full_cov=True, noiseless=False)`.

[2020-02-21 22:46] ameshkovskiy commented on #2317
Thanks a lot for the reply and example. Looks like working.
However, I find it a bit confusing that all the variable names, i.e. `sigma`, `h[i]`, etc. are renamed to `phi_shared_latent`. I understand that in `.summary()` output, the order of variables is preserved, right?

[2020-02-23 16:11] fritzo opened #2322 "[FR] Subsampling in AutoNormal and AutoDelta"
This issue discusses interface design for subsampling in `AutoGuide`s.

## Motivation

I'd like to support subsampling in `pyro.contrib.forecast` #2311 , e.g. for the [upcoming BART tutorial](https://nbviewer.jupyter.org/github/pyro-ppl/pyro/blob/forecast-tutorial/tutorial/source/forecasting.ipynb).

## Background

After #2320, `AutoNormal` will know about each site's `event_dim`. With only a litt

[2020-02-25 20:10] #2297 closed

[2020-02-25 22:38] ameshkovskiy commented on #2317
Guys, I have a follow up question on the topic, but related to the slow performance of `pyro`, as compared to `pymc3` in particular. Please let me know if you want me to move this to a separate thread.

I came across the following related [discussion on slow runs](https://github.com/pyro-ppl/numpyro/issues/259), and this [discussion on comparison](https://forum.pyro.ai/t/problems-transforming-a-py

[2020-02-25 23:08] fritzo commented on #2317
Hi @ameshkovskiy could you ask this question at http://forum.pyro.ai?
Short answer is: you should vectorize your model.

[2020-02-25 23:12] #2322 closed

[2020-02-26 23:31] ameshkovskiy commented on #2317
Thanks, created [here](https://forum.pyro.ai/t/pyro-performs-dramatically-slower-than-pymc3-with-normalizing-flows-on-stochastic-volatility-model-inference/1653).

[2020-03-04 19:55] fehiepsi commented on #2319
@rameshvs Thanks for the issue report! It is expected that the covariance matrix in single precision will be not positive definite if we don't include jitter or noise, so I'm going to close this issue.

[2020-03-04 19:55] #2319 closed

[2020-03-04 20:39] fehiepsi commented on #2317
The topic issue has been fixed. Let's have further discussion at the forum.

[2020-03-04 20:39] #2317 closed

[2020-03-04 20:52] fehiepsi commented on #2315
@Garve could you add the following lines at the top of your script to see if the issue persists:
[code]
I don't have Windows environment so it's hard to guess the issue. My best bet is due to [this issue](https://github.com/pytorch/pytorch/issues/2517).

[2020-03-04 20:55] fehiepsi commented on #2314
@simonegarrappa Did you resolve the issue? I can't replicate it in my system and we have a test for its execution in Travis. This might be an edge case due to the system I guess.

[2020-03-04 20:56] fehiepsi commented on #2281
Resolved at #2282

[2020-03-04 20:56] #2281 closed

[2020-03-07 23:19] fehiepsi opened #2350 "Jitting HMC does not work for models with `param` statements"
The following repro script shows the issue
[code]
raises the error `RuntimeError: Cannot insert a Tensor that requires grad as a constant. Consider making it a parameter or input, or detaching the gradient`.

[2020-03-07 23:22] fritzo commented on #2350
An easy workaround is to hide the constant by a `lambda`:
[code]

[2020-03-07 23:25] fehiepsi commented on #2350
Hmm, I still get the issue. Are you using PyTorch `dev`?

[2020-03-08 00:14] fritzo commented on #2350
I'm using PyTorch release. Did you make sure to initialize the param store before inference?
[code]

[2020-03-08 02:05] fehiepsi commented on #2350
Yes, I used your code and still observed the issue. I think this is the same issue as [this one](https://github.com/pytorch/pytorch/issues/17583) and PyTorch won't support it. IIUC we can resolve the issue by replaying `pyro.param` sites by constant values in the computation of `potential_fn`.

[2020-03-09 00:27] neerajprad commented on #2350
The JIT tracer expects any constants in the trace to have `requires_grad=False` as expected. Some of our examples and tests for HMC use `model.requires_grad_(False)` if the model is a `PyroModule` or `nn.Module`.

I think we could provide a `param_store._requires_grad(requires_grad=True)` method which will allow us to use the param store for simple key value lookup that will be useful in such situ

[2020-03-09 02:02] fehiepsi commented on #2350
@neerajprad's solution works like a charm!! :D

[2020-03-09 02:20] odie2630463 opened #2354 "Pyro.plate in multiple GPUs"
### Issue Description
I implement model with plate statement and  train SVI on GPUs , but got some error.
[Question from forum](https://forum.pyro.ai/t/pyro-plate-in-multiple-gpus/1669)

### Environment
For any bugs, please provide the following:
 - python 3.7 / pyro 1.2.1

### Code Snippet
[code]
And from forum answer , I try this model is working
[code]
I think run Pyro in GPUs need to separate

[2020-03-09 17:05] #2350 closed

[2020-03-09 17:26] fritzo commented on #2354
Hi @odie2630463, thanks for the detailed report, this is an interesting issue!

I think Pyro models will generally not work with `DataParallel`: Pyro currently uses global state to manage effect handlers, e.g. the global `PYRO_STACK`. However I believe there are a number of workarounds that could allow data parallelism in some limited use cases.

One workaround is to use `DataParallel` on entirely

[2020-03-09 20:22] slaweks17 opened #2357 "Forecasting I tutorial fails on Windows, no bunzip2"
Hi,
I have just downloaded the Pytorch 1.4 and Pyro 1.3 to new environment Python 3.7 (Anaconda). The Forecasting I tutorial fails, on line
dataset = load_bart_od()
with message:
Traceback (most recent call last):
  File "<input>", line 1, in <module>
  File "D:\progs2\anaconda3\envs\pyro13\lib\site-packages\pyro\contrib\examples\bart.py", line 125, in load_bart_od
    subprocess.check_call(["bunz

[2020-03-09 21:40] #2357 closed

[2020-03-10 11:05] sharrison5 opened #2361 "RenyiELBO no longer compatible with sequential plates? [question] [documentation]"
### Issue Description
In Pyro 1.3.0, the behaviour of `RenyiELBO` changed. In particular, it now seems to be incompatible with sequential plates. See MWE below.

Questions:
 + Is there a way to keep using sequential plates? The plate I'm using can't naturally be replaced by a vectorised version (unlike in the example).
 + If a model/guide contains plates, is it safe to use `RenyiELBO` in Pyro < 1.

[2020-03-11 22:09] Garve commented on #2315
Hi! Sorry for the late answer. No, it still doesn't work, sadly.

[2020-03-12 23:38] bradyneal commented on #2026
I'm currently finding myself in want of this functionality for when I want to perform inference on two different models, using two different guides that use the same AutoGuide. For example, if I use AutoMultivariateNormal for both of them it will error (if I don't clear the param store in between) because I think it assigns the same param names for both guides. However, if I use AutoMultivariateNo

[2020-03-13 00:05] fritzo commented on #2026
@bradyneal Interesting, I had not thought of that use case. I think one way to do that is to collect the two guides in a single `PyroModule`, e.g.
[code]
Let me know if this doesn't work for you (ideally at https://forum.pyro.ai 🙂).

[2020-03-13 00:07] fritzo commented on #2026
Oh and `AutoNormal` is already available in Pyro 1.3 release as of #2050 .

[2020-03-13 00:07] #2026 closed

[2020-03-13 00:18] bradyneal commented on #2026
Oooh, yeah I should start using your Forum.

The `AutoNormal` naming is perfect 👍. Will similar naming be coming to `AutoMultivariateNormal`?

[2020-03-13 04:46] fritzo commented on #2026
@bradyneal `AutoNormal`-like naming will not be coming to `AutoMultivariatenormal` any time soon due to basic design differences. But the `PyroModule` trick might work for your use case.

[2020-03-13 17:53] PaperclipBadger opened #2366 "[bug] pyro.distributions.InverseGamma.sample does not work on GPU"
### Issue Description
`pyro.distributions.InverseGamma.sample` fails with the following error when its arguments are on the GPU:
[code]

I think the problem is in `__init__`:
[code]
The argument to `PowerTransform` should probably be something like `-torch.ones_like(rate)`.

### Environment
Ubuntu 16.04, Python 3.7, PyTorch 1.4.0, Pyro 1.3.0

### Code Snippet
[code]

[2020-03-13 18:40] fritzo commented on #2366
Good catch, you can probably work around via `torch.set_default_tensor_type("torch.cuda.FloatTensor")` for now.

[2020-03-13 20:54] #2366 closed

[2020-03-14 15:49] #2066 closed

[2020-03-16 18:45] fehiepsi opened #2373 "[FR] support forecasting for count time series"
Currently, the pattern of modeling `noise`, `prediction`, `residual` does not work for Poisson likelihood. It would be nice if we support another `predict` pattern in `ForecastingModel` to deal with count data.

[2020-03-16 18:52] fritzo commented on #2373
I suppose we could allow a single arg, so `.predict()` could be used as either
[code]
or
[code]
In fact to work around until we have this working, you can set `prediction=zero_data`, even for `Poisson`.

[2020-03-16 19:01] fehiepsi commented on #2373
Literally, I have been thinking about this for many days. Haizz, I should make this FR earlier... Thanks for your simple solution!

[2020-03-17 17:07] odie2630463 commented on #2354
Hi all , thanks the detailed advice , I will report my implementation and plate usage , and try all advice.

I also find bun in trace , when model in gpu

[code]

[2020-03-17 17:14] odie2630463 commented on #2354
Hi all , thanks detailed advice , I will try and report results.
But I also find the strange problem ,I want to implement custom ELBO , I have model and guide in GPU , and I do model.log_prob_sum() and return in CPU ! But guide.log_prob_sum() is in GPU. So I can't compute ELBO correctly.

To fix this , I use Trace_ELBO class get_traces function to get model and guide trace. And can work well. But

[2020-03-18 15:20] ruoshiwen commented on #1772
@fritzo @varenick
Hello. Do you have any updates on Gibbs sampling implementation? I am also considering implementing this now.

[2020-03-18 15:43] fritzo commented on #1772
Hi @ruoshiwen, I believe there has been no new work. Do you have an example model or class of models that you are targeting? As above, I think it would be good to start with a little design doc. I'm also happy to discuss over zoom.

[2020-03-18 15:53] ruoshiwen commented on #1772
Hi, thanks for your immediate reply. @fritzo
I am working on a HDP-HMM with infinite mixtures under each hidden state ( Rao-Blackwellized Gibbs sampler)
The thing is I am still new to pyro which I started learning pyro three months ago. But I do hope I can contribute a bit.

[2020-03-18 20:22] fritzo opened #2375 "O(obs_dim) algorithms for GaussianHMM methods"
@martinjankowiak is trying to forecast with a `GaussianHMM` likelihood with large `obs_dim` and small `hidden_dim` however the time complexity is awful for forecasting (it's fine for training). We could solve this by implementing `AffineNormal.event_permute()`, `.condition()` and `.rsample()` as  used in `GaussianHMM.rsample()` [code](https://github.com/pyro-ppl/pyro/blob/fca6c9546e57b31e5d327ecb7

[2020-03-19 23:32] #2375 closed

[2020-03-24 00:32] JamesTrick commented on #1461
I've just started the process of (likely slowly) porting examples from [Bayesian Data Analysis by Gelman et. al.](http://www.stat.columbia.edu/~gelman/book/) to Pyro which may be of interest. [Repo is here](https://github.com/JamesTrick/bayesian_data_analysis_pryo)

[2020-03-26 15:33] mathDR commented on #1755
Hey @elbamos did you ever get a MRE submitted to torch?  I think I am having a similar error...

[2020-03-26 18:17] elbamos commented on #1755
I did ultimately resolve this, but as it was more than a year ago, I don’t recall how. I do recall that I concluded there were, at the time, impediments to using pyro for serious time series work related to the efficiency of zero-centered parameterizations.

[2020-03-26 21:29] fritzo opened #2386 "FR: subsampling-aware PyTorch optimizers"
@martinjankowiak suggested that, now that #1796 makes `pyro.param` aware of subsampling, we could in principle make PyTorch optimizers whose gradient statistics are updated only for those elements that appear in a subsample. This would give lower-variance gradient estimates and would be cheaper.

@martinjankowiak also points out that an alternative is to amortize the guide.

[2020-03-26 23:12] andersdot commented on #2292
I'm hitting the issue #3 above with JIT tracing. I have a pre-trained pytorch normalizing flow model as a prior, which I wrapped into a pyro distribution. When I run `MCMC` using the `NUTS` kernel with `jit_compile=False` it works (though very slow) but with `jit_compile=True`, I get the error you show above

`RuntimeError: Cannot insert a Tensor that requires grad as a constant. Consider making i

[2020-03-26 23:28] fritzo commented on #2292
@andersdot I'm not sure I have enough context to understand, but in your case does it help to detach via `my_flow.requires_grad_(False)` before wrapping in a distribution?

[2020-03-27 00:27] andersdot commented on #2292
Woah that worked like a charm, thank you! Can you say a few words (maybe sentences) about why you suggested that?

[2020-03-27 00:36] fritzo commented on #2292
@andersdot The PyTorch jit rejects "Tensor that requires grad as a constant", that is, the parameters of your flow are being treated as constants during inference, because you've already trained them. So when they're treated as constants, you should turn off gradients. The easiest way to recursively turn off all gradients in an `nn.Module` is to call that modules `.requires_grad_(False)` method. T

[2020-03-27 00:46] neerajprad commented on #2292
Glad that @fritzo's suggestion worked. The issue that I was facing above was with the transforms cache inserting a tensor with `requires_grad=True` which will be an issue during tracing and result in the same error. I have not found a good solution for that yet (which is the reason the `Neutra` example doesn't support jit).

[2020-03-27 03:09] andersdot commented on #2292
I see, thank you both for clear, descriptive answers. Cheers

[2020-03-27 16:07] dobos commented on #790
I'm trying to use a rejector to limit a Pareto distribution, which is wrapped from a torch distribution:

[code]

I can sample from it by calling `.sample()` but inside an MCMC, I get the error:

[code]

[2020-03-27 16:26] fritzo commented on #790
@dobos you need a `super().__init__(batch_shape, event_shape)`. Take a look at other distributions for examples

[2020-03-29 16:49] fritzo opened #2390 "PyroModule incompatible with torch.nn.RNN"
As pointed out [on the forum](https://forum.pyro.ai/t/pyromodule-pyrosample-pyroparam-and-gru/1731),  `PyroModule` is incompatible with `torch.nn.RNN` due to [internal caching logic](https://github.com/pytorch/pytorch/blob/e90c32f11fc54d017609e68fb80e19350e199864/torch/nn/modules/rnn.py#L88).

I believe a workaround is to call `my_rnn._apply(lambda t: t)` inside a supermodule's `.forward()` method

[2020-03-30 17:04] #2390 closed

[2020-03-31 18:25] fehiepsi commented on #2386
I believe this is important for my experiments so I want to fix this soon.

[2020-03-31 19:28] martinjankowiak commented on #2386
@fehiepsi i think the easiest way to get something that works would be to add an option to `ClippedAdam` like `ignore_zero_gradient_stats`=`True`/`False`

you'd then need to keep track of `state['step']` on a per-coordinate basis (i.e. the optimizer would need more memory) and then you'd just need to change the updates to do vectorized/masked updates of the statistics

[2020-03-31 20:10] fritzo commented on #2386
@martinjankowiak can you explain why it is necessary to keep track of coordinate-wise `state['step']`? I would think that `step` could be approximated as global, since the poisson approximation concentrates (in contrast to the other statistics).

[2020-03-31 20:14] martinjankowiak commented on #2386
well you could make that approximation. but i was assuming a pretty generic
optimizer that makes few assumptions (just don't update when grad is zero)

Am Di., 31. März 2020 um 13:10 Uhr schrieb Fritz Obermeyer <
notifications@github.com>:

[2020-03-31 20:42] fritzo commented on #2386
I agree the coordinate-wise `step` is parsimonious. Another parsimonious assumption could be that the gradient distribution is a zero-inflated Normal, so that with slight modifications, the usual `Adam` statistics can learn that distribution's parameters. Both versions seem reasonable.

[2020-04-02 18:13] fehiepsi commented on #2373
I think `self.predict(dist.Poisson(predicted_rate), zero_data)` is a pretty good solution. So I would like to close this issue.

[2020-04-02 18:13] #2373 closed

[2020-04-03 15:34] fehiepsi opened #2394 "Raise error in MCMC when the model has subsample sites"
Raised at [this forum topic](https://forum.pyro.ai/t/subsampling-in-a-plate-makes-a-program-grind-to-a-halt/1748/3)

[2020-04-05 17:37] fritzo opened #2396 "FR Tutorial on PyroModule"
Addresses #2161

Many people have requested a tutorial on [PyroModule](http://docs.pyro.ai/en/stable/nn.html#module-pyro.nn.module), e.g. on the [forum](https://forum.pyro.ai/t/the-usage-of-pyromodule/1443).

[2020-04-07 13:53] jinxmirror13 commented on #2108
I also have this error, but from the original tutorial running on my local laptop...

## Environment
Python 3.7
pyro-ppl==1.3.0
pyro-api==0.1.1
jupyter-client==5.2.4
jupyter-console==6.0.0

## Errors
After running: `train(n_iter)`
[code]

I have no idea what these errors mean or how to fix them (I am also new to Pyro and DPMMs)...

[2020-04-07 16:08] fritzo commented on #2108
@jinxmirror13 the "value argument must be within the support" error is usually due to NANs. You could try inserting `assert not torch.isnan(x).any()` for various tensors `x` in your code. I often do that also for the loss returned from svi: `assert not math.isna(loss)`.

[2020-04-07 21:14] #2394 closed

[2020-04-09 18:43] prpr2770 opened #2404 "[discussion][bug] Gaussian Mixture Model: Predicting for new-data with Enumeration in Guide"
### Guidelines

**NOTE:** Issues are for bugs and feature requests only. If you have a question about using Pyro or general modeling questions, please post it on the [forum](https://forum.pyro.ai/).

If you would like to address any minor bugs in the documentation or source, please feel free to contribute a Pull Request without creating an issue first.

Please tag the issue appropriately in the ti

[2020-04-10 17:58] #2396 closed

[2020-04-13 02:15] fritzo opened #2407 "FR ContinuousBinomial, ContinuousBetaBinomial distributions"
This issue proposes two distributions that could enable HMC and reparameterized SVI inference for models with count-valued latents, such as epidemiological [compartment models](https://en.wikipedia.org/wiki/Compartmental_models_in_epidemiology) (see [design doc](https://docs.google.com/document/d/1FmU3-8uAhUDyBDyD2Hyr69slJfm9x14tQPFto683VSw/edit#heading=h.u8o53kynqty9)).

Models such as SIR and SE

[2020-04-13 17:50] fritzo commented on #2407
These will benefit from https://github.com/pytorch/pytorch/issues/20343 and https://github.com/pytorch/pytorch/pull/31278

[2020-04-13 23:27] jamestwebber commented on #2407
If it ever gets merged :(

[2020-04-14 15:48] simonegarrappa commented on #2314
@fehiepsi seems like it is indeed a system related issue. I'm able to run it on google colab.

[2020-04-16 01:13] neerajprad opened #2415 "API issues with MCMC initialization"
- [x] We should be able to provide `initial_params` in the constrained space which makes for a more natural choice.
 - [x] We use the `initialize_model` utility at a few places including within the `MCMC` class and the `HMCKernel` class. This function is used to get the value for the transforms, convert a model representation into a potential energy function, and get initial parameter values. If a

[2020-04-16 01:34] neerajprad commented on #2415
@fehiepsi - what do you think about refactoring out finding the initial parameters into its own function? That will make it easier to skip it if the user provides valid initial params.

[2020-04-16 03:06] fehiepsi commented on #2415
Agreed! We can even use `autoguide` initialization as in NumPyro. I'll make a PR for it.

[2020-04-16 03:08] fritzo commented on #2415
Maybe add a new `init_params` in the constrained space and deprecate the `initial_params`, thus preserving backwards compatibility? Kind of hacky tho.

[2020-04-17 03:33] vikigenius opened #2423 "Planar Transform output dimension of log_abs_det_jacobian incorrect"
Here is the code to reproduce the issue

[code]

This seems to be happening because the log_abs_det_jacobian returned by planar is of size ([4]) and not size([4, 1]). I am not sure if this should be fixed in Planar or if it should be fixed in CatTransform, but this does seem to be a problem?

[2020-04-17 16:34] fritzo commented on #2423
cc @stefanwebb

[2020-04-18 18:38] stefanwebb commented on #2423
Hi @vikigenius, thanks for submitting this issue! The `.log_abs_det_jacobian` of `Planar` returns size `([4])` in this case because it has `event_size=1`: it defines a multivariate distribution over vectors. If it were an element-wise transform like say `SigmoidTransform` if would return size `([4,1])`.

The bug is in `CatTransform`, which only seems designed for element-wise transforms, those wit

[2020-04-18 21:34] neerajprad commented on #2415
Closing this issue - it looks like #2417 and #2420 should have resolved all of these. Regarding (1), we need to use init_strategy instead of `initial_params` to specify initialization in the constrained space, since the latter is also used when a user passes in a potential energy function directly. Feel free to reopen if there are any related issues that you observe.

[2020-04-18 21:34] #2415 closed

[2020-04-19 00:59] stefanwebb commented on #2423
See https://github.com/pytorch/pytorch/pull/36878

[2020-04-20 19:48] fritzo commented on #2407
Closing in favor of an asymptotically exact method #2410

[2020-04-20 19:48] #2407 closed

[2020-04-20 21:13] fritzo opened #2426 "FR Discrete compartmental models for epidemiology"
This issue tracks tasks related to discrete compartmental models.
See [design doc](https://docs.google.com/document/d/1FmU3-8uAhUDyBDyD2Hyr69slJfm9x14tQPFto683VSw/edit?usp=sharing) for motivation.

## Modeling
- [x] #2410 Initial prototype using HMC + enumeration
- [x] #2437 Implement a framework in `pyro.contrib.epidemiology`
- [x] #2446 Implement an SEIR model @fritzo
- [x] #2450 #2451 Generaliz

[2020-04-20 21:16] martinjankowiak commented on #2426
great task list. i'm going to try to put together something so we can try larger enumeration windows

[2020-04-20 21:19] fritzo commented on #2426
I think we will need different spline weights for differently sized windows. Cubic splines require at least four points. Each point added beyond four gives a new degree of freedom on the coefficients to be solved. One natural way to constrain these extra degrees of freedom in spline coefficients is to minimize the sum of squares of cubic coefficients, i.e. a simple notion of maximally smooth.

[2020-04-24 22:07] chanjed commented on #1707
@fritzo  Is there any update on a best practice for handling #4 with using `pyro.distributions.conjugate` with plate nesting in order to integrate local variables exactly? I am trying to run SVI on exactly a Dirichlet-Multinomial conjugate pair.

[2020-04-24 22:29] fritzo commented on #1707
@chanjed as mentioned in point 3 above, Dirichlet-Multinomial models permit fusion along a plate dimension, i.e. the following two models are equivalent, and the latter already works in Pyro:
[code]

[2020-04-25 16:25] ecotner commented on #2315
Hi, I am also having this same problem, but I am on Ubuntu 18.04, not Windows. When I run with `num_chains=1`, everything is fine, the progress bar fills up. When I run with `num_chains=2`, it displays two empty progress bars (at least in jupyter lab), after waiting a little while a _third_ progress bar pops up (using stderr), that immediately crashes the kernel:

![mcmc_error](https://user-images

[2020-04-25 19:16] ecotner opened #2441 "[FR] Simple arithmetic transformation operator overloading"
Hi, I've been trying to teach myself `pyro` for the last couple weeks, and it is a great package; I'm learning quite a bit about Bayesian methods from going through the tutorials and doing side projects. In the course of my studies, I found that there is one thing that would make creating models with deterministic transformations even more transparent and simple: overloading simple arithmetic oper

[2020-04-25 19:54] fehiepsi commented on #2315
@ecotner Could you paste part of error message in the console? It might give us some hints. Also, did you run `mcmc` two times? IIRC there is a [limitation](https://github.com/pytorch/pytorch/issues/17680#issuecomment-491384202) of using PyTorch multiprocessing in jupyter lab.

[2020-04-26 16:33] fritzo commented on #2441
Interesting idea, @ecotner! I think we could add this to Pyro as a `RandomVariable` class. Moreover we could use the `metaclass.__getitem__` trick (as used by [PyroModule](https://github.com/pyro-ppl/pyro/blob/b52a139f394ff270167a80282c5d5acd088ea0de/pyro/nn/module.py#L204)) to make it easy to promote `Distribution` objects to `RandomVariable` objects (via mixin):
[code]
If you want to put up a PR

[2020-04-26 18:08] ecotner commented on #2441
@fritzo yes, I definitely had the random variable interpretation of distributions in mind when suggesting it! And I can understand why you would want to separate the two**.

And yes, I'd be happy to contribute a PR! I'll get started on that soon.

**This is potentially off-topic, but if you wanted to apply pointwise transformations to densities, wouldn't the vast majority of transformations result

[2020-04-26 18:23] fritzo commented on #2441
@stefanwebb do you have any opinion on the RV interface? I know you've spent a lot of time thinking about the language of normalizing flows.

[2020-04-26 18:31] stefanwebb commented on #2441
I agree with your comments, Fritz - I think it would be better to have a random variable object that represents the variable rather than the distribution, and perform operations on this

[2020-04-26 18:35] stefanwebb commented on #2441
I hadn't thought about structuring things in terms of a random variable abstraction, although this seems more natural to write the normalizing flows library. For instance, a transform should input a random variable and return a random variable

[2020-04-26 18:40] fritzo commented on #2441
@ecotner Maybe the safest design choice is to create a new `RandomVariable` class that does not inherit from `TorchDistribution`, i.e. is a container class rather than a mixin. I think that would give us a little more flexibility, not needing to avoid conflict with existing `Distribution` methods.

[2020-04-26 19:17] eb8680 commented on #2441
@ecotner the `+` operation in Funsor usually means a sum of log-densities, i.e. a product of densities.  It's useful to work with distributions rather than random variables when writing inference code because that's the typical setting for specifying inference algorithms.  When every random variable in a model has a density wrt the same base measure, the program's product measure has a joint densi

[2020-04-26 19:33] eb8680 commented on #2441
My preference would be to follow the idea in section 3 of the Funsor paper and have `pyro.sample` sites (or `RandomVariable` objects) emit `funsor.Variable` objects, which transform like random variables.  I suspect you'll come to similar design conclusions if you spend some time trying to give a semantics to expressions that contain multiple dependent `RandomVariable`s.

[2020-04-27 17:33] PaperclipBadger opened #2447 "[bug] pyro.poutine.mask with nan observations results in nan gradient for Trace_ELBO"
### Issue Description
I expect to be able to use `pyro.poutine.mask` to mask out invalid (`nan`) values in my training data, but though the computed loss is not `nan` when the model is masked, the gradient of the loss w.r.t. the parameters is.

### Environment
Ubuntu 16.04, torch==1.4.0, pyro-api==0.1.1, pyro-ppl==1.3.1

### Code Snippet
A minimal example:
[code]
Output:
[code]

[2020-04-27 22:27] ecotner commented on #2441
@fritzo @stefanwebb @eb8680 I made a fairly simple wrapper/container around `Distribution` that allows you to easily apply arithmetic operations on the `RandomVariable` object (and other transformations parametrized by `Transform`). It's in PR #2448 if you want to give any critique.

[2020-04-28 00:04] mturk24 opened #2449 "[bug] Trying to import sir_hmc"
When trying to import sir_hmc into another script or notebook, there's an issue "ImportError: cannot import name 'init_to_value' from 'pyro.infer.autoguide'"

### Environment
For any bugs, please provide the following:
 - OS and python version: macOS Mojave 10.14.6 and Python 3.8
 - PyTorch version: 1.5.0
 - Pyro version: 1.3.1

[2020-04-28 00:31] fritzo commented on #2449
Hi @mturk24 `init_to_value` has not yet been released. You should be able to run `sir_hmc.py` using Pyro's dev branch. We plan to release after `pyro.contrib.epidemiology` settles down in a few weeks. Good luck~

[2020-04-28 00:31] #2449 closed

[2020-04-28 18:40] mturk24 commented on #2449
Hi @fritzo thanks so much for getting back! I was trying to run this on the Dev branch using Python 3.8 but looks like a torch binary isn't available yet for 3.8.

[2020-04-28 19:46] fritzo commented on #2441
@ecotner

Let me reiterate @eb8680's explanation of inference operations. In the [funsor paper](https://arxiv.org/pdf/1910.10775.pdf) we're using two classes of operations: "modeling side" operations in user-facing inference code (like the random variable operations you commonly see), and "inference side" operations that are used in inference code (e.g. inside the guts of `TraceEnum_ELBO`). For ex

[2020-04-29 15:44] desertnaut opened #2453 "RTD build fails for `latest` branch"
Couple of days ago I checked it was all OK, but now it seems whole sections of the documentation under `latest`have effectively been "emptied", with nothing but a list in them (no content):

http://docs.pyro.ai/en/latest/inference_algos.html#importance

http://docs.pyro.ai/en/latest/distributions.html

http://docs.pyro.ai/en/latest/parameters.html

http://docs.pyro.ai/en/latest/nn.html

http://doc

[2020-04-29 16:14] fritzo commented on #2453
@jpchen can you recommend a good debugging workflow for docs building? They build for me locally, so it must be a RTD mismatch.

I suspect the docs are failing because I've been adding non-ascii characters to docstrings lately, all in `pyro.contrib.epidemiology`.

[2020-04-29 17:47] neerajprad commented on #2453
Strangely, the links to the `dev` branch that `latest` should point to seem to work fine. e.g.
 - http://docs.pyro.ai/en/dev/inference_algos.html#importance
 - http://docs.pyro.ai/en/dev/distributions.html

This seems to me to be some readthedocs issue rather than a build issue.

[2020-04-29 21:45] jpchen commented on #2453
the torch endpoint seems to have changed:
[code]

Can we build against 1.5 (as I assume you're doing locally)? The [website](https://pytorch.org/get-started/previous-versions/) only lists up to 1.2.

[2020-04-29 21:55] #2453 closed

[2020-04-30 22:44] ecotner commented on #2441
@fritzo  I'm not an expert in inference algorithms, but I think I understand what you're getting at. Inference requires direct manipulation of the densities, and models (typically) require transformations of random variables, and these things should be kept distinct.

But if you already have plans for a `Variable` object, do you even need my `RandomVariable`, or would that basically be adding a se

[2020-05-01 22:05] mturk24 commented on #2449
@fritzo By the way, I still cannot run the sir_hmc.py script (even after copy/pasting init_to_value and other dependencies in that can't be imported, such as ExtendedBinomial which isn't in the distributions module anymore).

After copy/pasting everything, I run "python sir_hmc.py" with the default args and the HMC algo hangs at Warmup: 0% with 0/300 iterations. What is the simplest example you ar

[2020-05-01 22:44] eb8680 commented on #2449
@mturk24 running `python sir_hmc.py` to completion with default args works fine for me on `dev`, no copy-pasting necessary.  Usually to run unreleased code in Pyro you'll need to [install the `dev` branch with `extras` requirements](https://github.com/pyro-ppl/pyro/#installing-pyro-dev-branch).  You might try uninstalling Pyro and reinstalling `dev` from source.

[2020-05-04 16:28] saeed1262 commented on #1992
Hey Guys,
Did you make these tutorials by any chance?
Thanks

[2020-05-04 16:32] stefanwebb commented on #1992
Hi @saeed1262, these are in the pipeline and hopefully I will get a chance to finish them soon.

I'm planning on doing a three part tutorial:
* Part 1 covering the API and learning simple distributions
* Part 2 covering reproducing SoTA results from the Neural Spline paper
* Part 3 covering using normalizing flows for flexible variational inference in Pyro

[2020-05-04 16:38] saeed1262 commented on #1992
Hi @stefanwebb ,
Thanks for the quick reply.
That would be great.
We are also planning to set up a an NF tutorial class at YorkU. So is you are interested I can share my stuff with you when they are ready.

Do you have an approx date for each part?

[2020-05-04 17:47] fritzo commented on #2441
I think you found a slick API that I'd be happy to have in Pyro. The `Variable` interface is still a ways off, and even once that exists I think your syntax would be a great way to write unit tests for the newer `Variable` syntax.

[2020-05-04 17:54] stefanwebb commented on #1992
I’ll have the first part submitted for review as a PR before Friday this week, but can’t commit to a timeframe for the other two yet

[2020-05-04 17:55] martinjankowiak opened #2461 "add better usage examples for init_strategy"
this doesn't seem very well documented at present.

[2020-05-04 19:29] saeed1262 commented on #1992
Great. Thanks

[2020-05-06 10:01] PaperclipBadger commented on #2447
This seems to be a recurring issue ("expected behaviour") with Torch:

- https://github.com/pytorch/pytorch/issues/23395
- https://github.com/pytorch/pytorch/issues/36923
- https://github.com/pytorch/pytorch/issues/23156

It seems like the solution is to use some value other than `nan` for missing data.

[2020-05-06 14:29] fritzo commented on #2447
@PaperclipBadger this sounds like a real usability issue. I think it is fine if `poutine.mask` has different semantics than `torch.where` if it improves user experience.

One option would be to implement a `safe_mask()` function with custom `.backward()`, similar to our [safe_log()](https://github.com/pyro-ppl/pyro/blob/3eda097def2f02b01c978e2b1e4e35e02efafac9/pyro/ops/tensor_utils.py#L9) helper

[2020-05-06 16:53] mturk24 commented on #2449
@eb8680 Which version of python are you using? I'm unable to import torch in all versions of Python I've tried (in Python 3)

[2020-05-06 17:11] fritzo commented on #2449
follow https://github.com/pyro-ppl/pyro/blob/dev/.travis.yml

[2020-05-06 19:35] mturk24 commented on #2449
@fritzo Thanks! Do you mean using a conda env based on that yml?

[2020-05-06 20:11] mturk24 commented on #2449
Unable to use that yml to fix my torch issue. Though I do have the extras pyro-ppl version installed. Given this, can you help orient me on next steps?

[2020-05-06 20:25] eb8680 commented on #2449
@mturk24 without more details about what you mean by "unable to import torch" it's hard to say, but you probably just got some library versions tangled up, especially if you're using pip and conda together.  I suggest creating a completely fresh Python environment with one of the supported Python versions using `virtualenv` or `conda` and reinstalling Pyro `dev` and all Python dependencies includi

[2020-05-06 22:21] mturk24 commented on #2449
@eb8680 @fritzo Thank you both! So I'm able to run it now, but the script actually hangs on the sampling component (all of my CPU resources are being exhausted). Are you running this using a GPU?

[2020-05-06 23:31] eb8680 commented on #2449
@mturk24 I'm afraid I still can't reproduce your issue - I can run `python sir_hmc.py` with default args to completion on my underpowered laptop CPU in under 60 seconds.  Can you provide more details about your error and Python environment, ideally enough for me to reproduce the problem?  What do you mean when you say the script hangs?  What happens if you try different random seeds (`--rng-seed`)

[2020-05-07 00:00] akern40 opened #2464 "AffineCoupling uses NHWC, PyTorch uses NCHW [feature request]"
### Issue Description
The `AffineCoupling` transformation module splits the incoming tensor along its last dimension:
[code]
However, affine coupling layers split their inputs along channels. Since the convention in PyTorch is to use NCHW ordering, a naive usage of the `AffineCoupling` transformation would split data along the width of a tensor.

This could be fixed with two `Permute` modules that

[2020-05-07 00:53] fritzo commented on #2464
cc @stefanwebb

[2020-05-07 21:56] mturk24 commented on #2449
@eb8680 Got it to run with default args! Thanks so much for the help, really appreciate it. It had to do with the [extras] module being installed incorrectly. I went through each and every step on the README from scratch and got it to work.

I've noticed that the plotting functionality isn't working when trying to run the default version. Is this consistent with what you've noticed?

[2020-05-07 22:27] eb8680 commented on #2449
@mturk24 I have not had any issues with `sir_hmc.py`, including with the plotting functionality (`--plot`), so presumably whatever is happening is related to your installation problems.

[2020-05-08 02:17] mturk24 commented on #2449
@eb8680 Got everything to work fine now, apologies for the confusion and than you and @fritzo  both for the help! Hopefully our dialogue on this thread can help anyone else who experiences any similar issues.

This model has been very useful!

[2020-05-08 16:24] akern40 opened #2469 "[Bug] Permute transformation does not permute"
### Issue Description
The `Permute` transformation in `pyro.distributions.transforms` does not perform the expected permutation. From the documentation, the transform "reorders the input dimensions, that is, multiplies the input by a permutation matrix." The code, however, is as follows:
[code]
This does not seem to perform a permutation; rather, it selects elements from the last dimension. To rep

[2020-05-08 16:34] fritzo commented on #2469
I think this is a documentation issue and that `transforms.Permute` is intended to "reorder the data along the trailing dimension", in contrast to `torch.permute` which reorders tensor dimensions. @stefanwebb if my interpretation is correct, I believe we merely need to clarify docs, maybe emphasizing the difference from `torch.permute`.

[2020-05-08 16:38] martinjankowiak commented on #2469
yes that's right. it's about reordering elements within a given dimension. this way if you have normalizing flows that treat, e.g., the first half of the elements differently from the second half, you can get general families of flows by interleaving such "restricted" flows with permutations to get something more general

[2020-05-08 16:43] akern40 commented on #2469
Ah got it - I think, in that case, that my confusion stemmed from a similar situation to #2464. I didn't mean to jump the gun on the pull request, sorry!

[2020-05-08 17:59] desertnaut opened #2470 "Different access methods to Paramstore give different results"
I am following the Pyro introductory tutorial in [forecasting][1], and trying to access the learned parameters after training the model, I get different results using different access methods for some of them (while getting identical results for others).

Here is the stripped-down **reproducible** code from the tutorial, run in Google Colab:

    import torch
    import pyro
    import pyro.distri

[2020-05-08 18:15] martinjankowiak commented on #2470
some of the values reported are in the unconstrained space. this is relevant for parameters that are constrained one way or another, for example to be positive.

so e.g. `AutoNormal.scales.noise_scale [0.03469057]`
can be obtained by exponentiating `('AutoNormal.scales.noise_scale', Parameter containing: tensor([-3.3613], requires_grad=True))`

[2020-05-08 18:32] desertnaut commented on #2470
@martinjankowiak thanks, but I can't see how this justifies the different representation. At the end of the day, either we have "*basically a key-value store*", as advertised in the documentation, or something else with the subtleties you report, in which case such subtleties should be visible and documented, shouldn't they?

[2020-05-08 18:35] martinjankowiak commented on #2470
i agree that this should be documented better.

[2020-05-08 20:06] martinjankowiak commented on #2470
@desertnaut please let us know if you run into any more confusion on this point. for future reference, a better place to discuss these kinds of issues is our [forum](https://forum.pyro.ai/)

[2020-05-08 20:06] #2470 closed

[2020-05-08 20:06] stefanwebb commented on #2469
Thanks for bringing up this point @akern40! I'll add a clarifying note to the docstring for `transforms.Permute` to avoid this confusion in the future

[2020-05-08 20:10] stefanwebb commented on #2469
I'm going to close this issue for now - @akern40 feel free to reopen if you'd like to continue discussing :)

[2020-05-08 20:10] #2469 closed

[2020-05-08 20:16] stefanwebb commented on #2464
Hi @akern40, I think you might have a misunderstanding of how GLOW/Neural Spline Flow etc. flow. There is the "1x1 convolution" layer, which in Pyro is `transforms.GeneralizedChannelPermute`. This does the permutation of the channel dimension and a bit more.

Then there is the permutation *along the channel, width, and height dimensions*. This could be accomplished by resizing the tensor and using

[2020-05-08 20:21] stefanwebb commented on #2464
Related to what you suggested, I think it may however be useful to be able to input an `event_dim=x` into `transforms.Permute`, `transforms.Coupling` etc. to get it to operate on the final `x` dimensions of the input tensor (rather than just the final dimension). I'll think about this moving forward! :)

[2020-05-08 20:35] desertnaut commented on #2470
@martinjankowiak thanks, not sure if it was a bug (in which case an issue here seemed more appropriate). As for the forum, whatever I do, it doesn't let me sign up with Github, so...

[2020-05-08 20:54] akern40 commented on #2464
Hi @stefanwebb! Thanks for the quick responses to everything. It is entirely possible that I'm confused about Glow/RealNVP etc. I understand the "1x1 convolution" is the `GeneralizedChannelPermute`, and stands in for using `Permute` directly in the Glow setup (as the authors do in RealNVP). My understanding, however, was that `AffineCoupling` does a channel-wise split on the incoming tensor. From

[2020-05-08 21:15] fritzo commented on #2470
@desertnaut here's some historical background. The `ParamStore` was originally just a key-value store. Then we added support for constrained parameters; this introduced a new layer of separation between user-facing constrained values and internal unconstrained values. We created a new dict-like user-facing interface that exposed only constrained values, but to keep backwards compatibility with old

[2020-05-08 21:37] stefanwebb commented on #2464
Ah yes, it's more complicated than I thought as you suggest!

I had a look in `tfp` to see what they do. The solution there is to use `tfp.Reshape` along with `tfp.Permute` so you can use `tfp.RealNVP` that only operates on a one-dimensional random variable, just like `transforms.AffineCoupling` in Pyro, and accomplish any arbitrary masking pattern you want (like the checkerboard pattern in RealNV

[2020-05-08 21:40] stefanwebb commented on #2464
It's also unfortunately we can't change the API... I think `split_dim` (what I chose at the time) is a bit ambiguous, because `dim` refers to the elements of the last dimension in the tensor rather than the dimension of the tensor

[2020-05-09 00:57] stefanwebb commented on #2464
@akern40 see #2472

[2020-05-09 18:33] akern40 commented on #2464
The PR Looks great! Thanks for responding so quickly.

On a related note, I was wondering about a `Reshape` transformation in Pyro... what is the blocking upstream change? Just curious.

[2020-05-12 16:13] akern40 commented on #2464
I was looking at the pull request above and I realized that the final lines of `_call`, `_inverse`, and `log_abs_det_jacobian` for `AffineCoupling` also need to take `self.dim` into account:

[code]
I wasn't sure how best to suggest these, so I made a PR to @stefanwebb's fork with the other changes. Sorry if that wasn't the best way, I'm still new to contributing to open-source.

As a clarificatio

[2020-05-12 16:23] akern40 commented on #2464
I also believe similar changes are needed for the `log_abs_det_jacobian` of `Permute`. Computationally it will make no difference (as they're all zeros anyway), but it will be necessary to avoid errors when using `TransformedDistributions` and other modules that combine log probabilities.

[2020-05-12 23:45] akern40 opened #2480 "FR Transpose transformation"
### Issue Description
Many normalizing flows require the use of transpositions during the flow, allowing different transformations to operate on different dimensions. Since transpositions don't change the volume of a tensor, this operation would be relatively easy to implement.

One question of implementation would be how to handle transpositions on batches, i.e.
[code]
While the first method seem

[2020-05-12 23:50] akern40 commented on #2480
After some quick testing, turns out negative indices work with `torch.permute`, so perhaps the best thing to do would simply be to require negative indices be passed to the transformation:
[code]
This still makes an assumption about operating on the rightmost tensor dimensions but could make the assumption more clear to the end-user. The expanded permutation could be achieved by prepending zeros t

[2020-05-12 23:54] akern40 opened #2481 "FR Reshape transformation"
### Issue Description
Normalizing flows often use tensor reshaping between different transformations. Having a `Reshape` transformation would allow users to include this in a `ComposeTransform` without having to write a custom transformation that includes reshaping via `torch.reshape`.

Reshaping does not change the volume of a tensor, which makes an implementation simpler. A similar question of o

[2020-05-17 02:26] icml-compbio opened #2489 "[feature request] Full code for VAE example"
### Issue Description
I got a normal distribution result after training and encode with my VAE. I am not sure if I did anything wrong. I was wondering if you can provide codes for the MINIST result and TSNE plot. Thanks!

[2020-05-20 22:20] dionman opened #2496 "Differentiable (log)likelihood expression for bayesian neural network"
Is there any function supported which allows to compute the likelihood of a dataset for a given BNN ?

[2020-05-25 00:47] ciaobladoo opened #2503 "Possible bug in affine_autoregressive"
I think line [220](https://github.com/pyro-ppl/pyro/blob/c00ff3b8f20a28585dcbf565c645352ed2758df4/pyro/distributions/transforms/affine_autoregressive.py#L220) of affine_autoregressive.py might be wrong. Shouldn't it be like line [196](https://github.com/pyro-ppl/pyro/blob/c00ff3b8f20a28585dcbf565c645352ed2758df4/pyro/distributions/transforms/affine_autoregressive.py#L196). Otherwise it is not the

[2020-05-25 01:00] martinjankowiak commented on #2503
cc @stefanwebb

[2020-05-25 19:10] stefanwebb commented on #2503
@ciaobladoo thanks for catching this bug! I've added a fix and an additional test to catch for this in the future (#2504)

I think the jury is still out on whether clamping does more good than harm in general, although happy to change it if it can be demonstrated that clamping improves optimization with some specific experiments in this case... The `torch.nn.functional.logsigmoid` should take care

[2020-05-25 20:23] #2503 closed

[2020-05-26 10:31] marcos452 opened #2505 "import issue"
--------------------------------------------------------------------------------------------------
Hi! It seems that I can install pyro within some conda environment, but I can't import it

Here's the message, showing that installation is

Requirement already satisfied: pyro-ppl in ./anaconda3/lib/python3.7/site-packages (1.3.1)
Requirement already satisfied: torch>=1.4.0 in ./anaconda3/lib/python

[2020-05-26 10:33] #2505 closed

[2020-05-26 10:37] marcos452 opened #2506 "import issue"
--------------------------------------------------------------------------------------------------
Hi! It seems that I can install pyro within some conda environment, but I can't import it

Here's the message, showing that installation is

Requirement already satisfied: pyro-ppl in ./anaconda3/lib/python3.7/site-packages (1.3.1)
Requirement already satisfied: torch>=1.4.0 in ./anaconda3/lib/python

[2020-05-29 22:50] #2496 closed

[2020-05-30 00:06] fritzo commented on #2506
My guess is a mismatch between your conda env and your Pycharm env.

[2020-05-30 00:08] fritzo commented on #2489
I believe the VAE utilities are all in
https://github.com/pyro-ppl/pyro/blob/dev/examples/vae/utils
for example here is the tsne plotting code:
https://github.com/pyro-ppl/pyro/blob/dev/examples/vae/utils/vae_plots.py#L81

[2020-06-01 17:31] sumanthratna opened #2515 "[feature request] Kaiming Normal distribution"
### Issue Description
With a deterministic model, I can use `torch.nn.init.kaiming_normal_(m.weight.data, a=0, mode='fan_out')`, where `m` is a `torch.nn.Module`. I'd like to be able to keep using Kaiming initialization, but I don't think this is in Pyro.

### Environment
For any bugs, please provide the following:
 - macOS 10.15.5 Beta, Python 3.8.2
 - torch 1.5.0
 - pyro 1.3.1

### Code Snippet

[2020-06-01 21:29] fritzo commented on #2515
Hi @sumanthratna , I believe Kaiming initialization is just a carefully scaled normal initialization, so you should be able to do something like
[code]

[2020-06-01 22:12] sumanthratna commented on #2515
Thanks for the reply. Would this be the appropriate the appropriate replace for the example given in the original post?
[code]

[2020-06-01 22:32] fritzo commented on #2515
@sumanthratna yes that is the appropriate replacement. Let me know if that works, and feel free to contribute that or similar methods in a module say `pyro.nn.init` if you'd like.

[2020-06-02 01:33] sumanthratna commented on #2515
Thanks for letting me know—it does work.

As for a `pyro.nn.init` module, I don't think that's really necessary yet. I know Pyro's documentation is still being improved, so I think the best option is just to add docs on higher-level content, such as this issue.

Alternatively, pyro could decide to focus on making its API as similar to torch's as possible—e.g., `pyro.optim.lr_scheduler` instead of

[2020-06-02 15:38] sumanthratna commented on #2515
Actually, when I use `torch.jit.script` on my PyroModule, I get `Module 'PyroConv2d' has no attribute 'weight'`. I'm trying:
[code]
but this raises `TypeError: Variable data has to be a tensor, but got PyroSample`.

[2020-06-02 20:36] fritzo commented on #2515
Hi @sumanthratna can you ask this on http://forum/pyro.ai and post a complete code snippet? Thanks!

[2020-06-02 20:36] #2515 closed

[2020-06-04 04:49] stefanwebb commented on #2464
@akern40 I'll close this issue now that #2472 has been merged.

With regards to the reshape transform, I'll submit a PR to PyTorch soon and tag you so you can provide feedback/contribute to the code :)

[2020-06-04 04:49] #2464 closed

[2020-06-04 15:17] sumanthratna commented on #2515
Sure, I'll try to do that soon. For the record, this is the function that produce similar results as `torch.nn.init.kaiming_normal_`:
[code]

[2020-06-06 00:23] GlastonburyC commented on #790
Were truncated distributions ever added?

[2020-06-08 02:01] fritzo commented on #790
@GlastonburyC I believe @alicanb was working on `TruncatedDistribution` in https://github.com/pytorch/pytorch/pull/32377

[2020-06-08 12:37] lk1983823 opened #2519 "A question of the Variational Autoencoders Example"
Why is the Bernoulli distribution used in model function?  Does reconstruction give contributions to the loss function? Thanks.

[2020-06-08 13:49] zoj613 commented on #790
Is there a way to implement a Distribution for sampling from a multivariate Gaussian truncated on a hyperplane? for a example, making sure that the sampled array sums to zero? @fritzo

[2020-06-08 14:07] lk1983823 opened #2520 "A question on Variational Autoencoder example"
Why is the Bernoulli distribution used in model function?  Does reconstruction give contributions to the loss function? Thanks.

[2020-06-08 14:07] #2520 closed

[2020-06-08 15:40] fritzo commented on #790
@zoj613 You could easily implement a multivariate Gaussian truncated along a single hyperplane passing through the center by generalizing [FoldedDistribution](http://docs.pyro.ai/en/stable/distributions.html#foldeddistribution) to a `MultivariateFoldedDistribution`; however I don't know an easy way to allow multiple truncations or to allow truncation along a single hyperplane that does not pass th

[2020-06-25 13:17] pimdh opened #2539 "MCMC chains with batch dimension when using potential_fn [feature request]"
Hi,

It seems like having multiple MCMC chains while using potential_fn is currently implemented with just running the chains separately. However, it'd seem more desirable to have an option to compute multiple MCMC chains in parallel using a batch dimension. Tensorflow appears to have this ability ([docs](https://www.tensorflow.org/probability/api_docs/python/tfp/mcmc/NoUTurnSampler)) and it'd be

[2020-06-25 16:09] fehiepsi commented on #2539
Hi @pimdh, currently we don't have a plan to support chain vectorization until PyTorch supports auto-vectorization (which is on the way - from what I heard). You can try NumPyro with chain_method='vectorized', which supports this feature.

[2020-06-26 19:20] iffsid commented on #2361
@fritzo I believe this is a valid fix?
[code]
https://github.com/pyro-ppl/pyro/blob/dev/pyro/infer/util.py#L116
The issue appears to be that the `cond_indep_stack` duplicates and does not have dims when the plate is unrolled manually.

I've just got around to putting-in the plating fix (#2321) into rws, and it looks like this fix works for a simple sequential plate situation as above.

Any reason

[2020-06-27 12:45] fehiepsi commented on #2361
@iffsid Good catch! Thanks for debugging this issue! Could you submit a PR so that we can see if all other tests pass with the change?

[2020-06-28 17:44] fritzo commented on #2361
Fixed by #2541

[2020-06-28 19:11] stefanwebb commented on #1992
@saeed1262 sorry for the delay! See #2542 for a draft of the first tutorial (feedback welcome)

[2020-06-28 19:49] stefanwebb opened #2543 "Inverse of TransformModule doesn't expose parameters"
I just wanted to mention this small design flaw I discovered until I've made a fix. When you create the inverse of a `TransformModule` you lose the ability to extract the parameters since it uses the code in `Transform`. E.g.:

[code]

The last line will throw an error...

[2020-06-28 20:23] stefanwebb opened #2545 "`Spline` and a few other transforms don't work for density estimation..."
I've discovered there is some bug that means that `.backwards()` throws an error when you call it the second time during the learning loop for density estimation. I've created an extra test for this and am in the process of debugging (see #2544)

Here's an example of the bug:
[code]

[2020-06-29 16:08] jun2tong commented on #2404
Any update on this? Is there a temporary work around?

[2020-07-02 13:21] Rish001 commented on #1964
@karalets are you still working on this?

[2020-07-03 15:55] daviddewhurst opened #2546 "[bug] `pyro.infer.Predictive` doesn't appear to support dynamic model structure"
### Issue Description
The way in which `Predictive` iterates through sites does not support dynamic model structure.

It was requested that I file this bug report from forum: https://forum.pyro.ai/t/pyro-infer-predictive-with-dynamic-model-structure/1958

### Environment
+ OS: OSX Catalina version 10.15.4
+ python: anaconda 3.7.6
+ torch version 1.5.0, pyro version 1.3.1

### Code Snippet

Here's

[2020-07-05 17:07] Gulshan2002 opened #2547 "Torch member error"
### Guidelines

**NOTE:** Issues are for bugs and feature requests only. If you have a question about using Pyro or general modeling questions, please post it on the [forum](https://forum.pyro.ai/).

If you would like to address any minor bugs in the documentation or source, please feel free to contribute a Pull Request without creating an issue first.

Please tag the issue appropriately in the ti

[2020-07-05 17:11] Gulshan2002 opened #2548 "VSCode linting issue with torch methods"
### Guidelines

**NOTE:** Issues are for bugs and feature requests only. If you have a question about using Pyro or general modeling questions, please post it on the [forum](https://forum.pyro.ai/).

If you would like to address any minor bugs in the documentation or source, please feel free to contribute a Pull Request without creating an issue first.

Please tag the issue appropriately in the ti

[2020-07-05 17:26] #2547 closed

[2020-07-05 21:37] JamesTrick commented on #2548
Hi @Gulshan2002

This is an issue that is best raised with pyTorch themselves. I've also found the relevant issue - they recommend suppressing such messages. [Issue is here](https://github.com/pytorch/pytorch/issues/701).

[2020-07-06 20:32] jpchen opened #2550 "Using Python type hints"
Since Pyro supports exclusively Python 3, we should look into adding [type hints](https://docs.python.org/3/library/typing.html). This has a few advantages:
- pep8 linters can check for type errors
- easier for a reader to understand function signatures. useful for eg [funsor](https://github.com/pyro-ppl/funsor) where multiple dispatching is prevalent.
- sphinx docs can [autogenerate types](https:

[2020-07-06 21:33] karalets commented on #1964
yeah I can revisit this pretty soon, I had a lot of this ready but got sidetracked. Thanks for the ping.

[2020-07-07 15:10] stefanwebb commented on #2545
#2544 has merged so I'm closing this

[2020-07-07 15:10] #2545 closed

[2020-07-07 17:36] fritzo commented on #2548
@JamesTrick thanks for the fix. Indeed this is an upstream issue with PyTorch + VSCode and it looks like the best fixes are described at https://github.com/pytorch/pytorch/issues/701

[2020-07-07 17:36] #2548 closed

[2020-07-07 17:46] fritzo commented on #2404
The problem here is that the `full_guide()` learns a `pyro.param` "assignment_probs" for your specific training data. To support novel data, you could instead learn an *amortized* guide, where the "assignment_probs" is not a fixed parameter but instead a function (typically a neural net) that depends on observed data. Here's a sketch of an amortized guide that might work for you
[code]

[2020-07-07 18:05] GlastonburyC commented on #790
@fritzo How can I sample from a normal but only have negative support?

[2020-07-07 18:16] fritzo commented on #790
@GlastonburyC For a negative Gaussian with zero mode, you could use a transformed `HalfNormal`
[code]
If your `loc` parameter is nonzero then you would need to wait for https://github.com/pytorch/pytorch/pull/32377

In practice I prefer `FoldedDistribution` over truncated normal, as it is more numerically stable and has qualitatively similar density. You could create a negatively-supported folded-

[2020-07-07 18:44] GlastonburyC commented on #790
Thanks @fritzo, that's super helpful of you. :)

[2020-07-08 18:41] ibulu opened #2552 "add branching flow example to epidemiology models"
It'd be quite helpful to add some examples for more complicated models with complicated flows such as SEIRD or SEIRDS, where, for example, E branches into ID (infectious individuals who'll die) and IR (infectious individuals who'll recover). It's very straightforward to write down the transition() function. However, it is not very obvious to write compute_flows()

[2020-07-08 19:08] fritzo commented on #2552
HI @ibulu I agree it would be helpful, and I'd like to have an example. However I haven't been able to figure out how to implement a `.compute_flows()` method. The crux is that, in directed graph of state transitions, flows around (undirected) loops cannot be identified from mere time series of counts of each compartment.

As a minimal example to aid our discussion, consider compartments `S` = sus

[2020-07-08 19:35] ibulu commented on #2552
yeah. I'd be happy to brainstorm together on this. I am available anytime tomorrow from 10:30AM to 4:30PM central time for Zoom call if that works on your end. Main reasons why I'd like to implement branching are:
- to account for asymptomatic transmission (very relevant for covid)
- add distributed-delay to the deaths compartment (I believe this is called Erlang distributed models)
- and finally,

[2020-07-08 23:02] fritzo commented on #2552
@ibulu I sent an invite for 1pm Central tomorrow. I'd also like to hear more about your models, or read more if you have any preprints. (anyone else, feel free to ping me to attend the meeting)

[2020-07-09 15:07] ibulu commented on #2552
Thank you. RSVP'ed and invited few more people on our end.

[2020-07-13 15:06] keyulu opened #2556 "Mini-batch training for sparse variational GP"
There is no official documentation for how to perform mini-batch training for sparse variational GP (https://pyro.ai/examples/gp.html#More-Sparse-GPs). From my understanding, we need to define a wrapper class for VariationalSparseGP. I have the class defined as below, but it does not run. What could go wrong? Thanks.

[code]

[2020-07-13 16:37] fehiepsi commented on #2556
@keyulu You can look at [Deep Kernel Learning](http://pyro.ai/examples/dkl.html) for an example to see how to train a gp model in batch. I'll add a paragraph in the docs to mention about it.

[2020-07-13 16:39] fehiepsi commented on #2556
Actually, it is already mentioned in the [docs](http://docs.pyro.ai/en/stable/contrib.gp.html#pyro.contrib.gp.models.model.GPModel.set_data) of `set_data` method.

[2020-07-13 19:28] keyulu commented on #2556
@fehiepsi  Thanks for the reference. I changed my code to below. But I'm confused by how to get prediction. My prediction "pred" as code below is of size (50, batch_size), but I expected (batch_size).

[code]

[2020-07-13 19:31] keyulu commented on #2556
PS: I wasn't sure what latent_shape meant, so I set it according to the example code.

[2020-07-13 19:49] fehiepsi commented on #2556
I would recommend leaving it at the default value unless you want to do something special (e.g. for multi-class prediction). With `latent_shape=torch.Size([50])`, I guess your training data `y` has shape `50 x N`, where N is the number of data points?

Which example code that you mentioned? I think most GP examples do not use `latent_shape` argument. I think it is only useful when you want to use

[2020-07-13 20:03] keyulu commented on #2556
@fehiepsi  I see, after leaving it as default, now I'm getting predictions of size (batch_size) as expected. Thanks.

[2020-07-14 04:54] fritzo commented on #2552
Hi @ibulu, I think your SEIRD model is actually easier than the looping models I described (and easier than your SEIRDS model). I believe you can simply define:
[code]
Let me know if you need any help getting that working, and I'll try to add an example when I get a chance.

[2020-07-14 17:05] ibulu commented on #2552
This is so cool! will combine this with boxcar model!

[2020-07-14 18:07] jun2tong commented on #2404
Indeed _amortizing_ the local random variable works. If that's the case, is this issue then not a bug anymore?

[2020-07-15 03:05] #2556 closed

[2020-07-15 03:09] keyulu opened #2560 "Use DoubleTensor"
Is there a way to use DoubleTensor with Pyro? With variationalsparseGP, I define my kernel and data using torch.DoubleTensor, but I got the following error

`RuntimeRrror: Function AddBackward0 returned an invalid gradient at index 1 - expected type torch.FloatTensor but got torch.DoubleTensor. `

[2020-07-15 03:25] fehiepsi commented on #2560
@keyulu You can use [torch.set_default_dtype](https://pytorch.org/docs/stable/torch.html#torch.set_default_dtype`) or you need to print out all parameters of your model (a `torch.nn.Module`) to see which one is `float32`.

FYI we have a [forum](https://forum.pyro.ai/) with many Pyro users active. It will be more convenient to ask questions in the forum. I believe you can get more clever solutions

[2020-07-15 04:41] keyulu commented on #2560
@fehiepsi  Thank you for the reference, I'll look into the forum ;)

[2020-07-15 04:41] #2560 closed

[2020-07-16 02:30] fritzo commented on #2404
@jun2tong sure, I guess you could call this more of a question than a bug 🙂

[2020-07-17 13:27] alessandropadrinofficial commented on #1863
Hi @fehiepsi  ! Just run your snippet but gave me error:
kernel.set_prior("lengthscale", dist.TransformedDistribution(
    dist.Gamma(torch.tensor(7.5), torch.tensor(1.)),
    [AffineTransform(loc=1, scale=1)]))

"ValueError: transforms must be a Transform or a list of Transforms"

[2020-07-17 14:24] alessandropadrinofficial commented on #1863
Thank you @fehiepsi !
I was using the Numpyro Transform. Using the Pyro one i get the error "NotImplementedError: Cannot transform _Real constraints"

[2020-07-17 14:34] alessandropadrinofficial commented on #1863
Just got it right @fehiepsi  ! Thank you!
Anyway, still cholesky_cpu: U(82,82) is zero, singular U.

[2020-07-18 02:22] fritzo opened #2564 "TransformModule cache is invalid after optimizer step"
As observed in #2542 , the caching mechanism of `torch.distributions.Transform` works well for purely functional `Transform`s but can lead to incorrect results with stateful `TransformModule`s.

Possible fixes include:
- Call `.clear_cache()` in a backward hook via `.register_backward()`. This may be overly aggressive in clearing the cache: is it still compatible with `torch.autograd.grad()`?
- ?

[2020-07-20 15:43] fritzo opened #2567 "Rendering fails in normalizing flows tutorial"
Math is not rendering in @stefanwebb 's new tutorial
https://pyro.ai/examples/normalizing_flows_i.html

To reproduce, run `make tutorial` and view locally.
Here are the warnings I see when running `make tutorial`:

<details>

[code]

</details>

[2020-07-20 18:00] gewirtz commented on #675
Hi, @fritzo I can't get the Multinomial to work with heterogenous counts like you said it could above. Here is a basic example:

import torch
import torch.distributions as tdist

x = torch.tensor([[3.,0.,0.], [0.,2.,0.], [1.,2.,1.]])
x2 = torch.tensor([[1.,0.,0.], [0.,1.,0.], [0.,0.,1.]])
p = torch.tensor([[0.99,0.,0.01], [0.95,0.05,0.], [1./3.,1./3.,1./3.]])

The following works, where the total

[2020-07-20 19:29] fritzo commented on #675
@gewirtz you can either set `total_count` to an upper bound on the number of counts via `dist.Multinomial(probs=p, total_count=999)`, or disable validation via `dist.Multinomial(probs=p, validate_args=False)`.

[2020-07-21 20:29] fritzo opened #2570 "FR distributed training via Horovod"
What would it take to support multiple GPUs in SVI, as [requested on the forum](https://forum.pyro.ai/t/run-pyro-on-multiple-gpus/1066)?

See Horovod's [pytorch](https://github.com/horovod/horovod/blob/master/docs/pytorch.rst) [examples](https://github.com/horovod/horovod/blob/master/examples/pytorch_mnist.py).

## Tentative Tasks
- [x] Support some combination of `hvd.DistributedOptimizer` with `

[2020-07-22 04:14] ecotner opened #2571 "[FR] Add ordered categorical distribution"
### Issue Description
I'm going through the Statistical Rethinking textbook by McElreath and in chapter 12 the author discusses how to handle ordered categorical variables in a sensible way. I tried to look through the lists of distributions available in both `torch` and `pyro`, but could not find anything similar to the `dordlogit` (aka ordered-logit) distribution that he describes in the text. I

[2020-07-22 04:51] fehiepsi commented on #2571
@ecotner I like to have this distribution in Pyro. We also have [OrderedLogistic](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/distributions/discrete.py#L400) implemented in NumPyro, which is quite similar to your implementation but has ordered constraint for `cutpoints` (probably this is easier to interpret?) instead of sorting it in the constructor. It might be better to avoid identif

[2020-07-22 05:31] ecotner commented on #2571
Yes I see what you mean; forcing the input to be already sorted reduces confusion about what the cutpoints mean and which elements are related to which categories.

Maybe as a compromise we could add a kwarg `sort_cutpoints=False` that if left as default, will throw an error when the cutpoints are out of order, and if changed to `True`, will take care of the sorting for you (for lazy people like m

[2020-07-22 05:34] ecotner commented on #2571
Also, I noticed the naming differences `phi` -> `predictors` and `OrderedCategorical` -> `OrderedLogit` between my example and your example in `numpyro`; shall we use the latter naming scheme for better synchronicity? I have no preference.

[2020-07-22 06:05] fehiepsi commented on #2571
Haha, I think we have similar point of view here (except for using `sort` which I prefer to avoid because identification will be a big problem for mixing MCMC chains - e.g. chain 1 concentrates around cutpoints `(0, 1)`, chain 2 concentrates around cutpoints `(1, 0)`). In NumPyro, there is `OrderedTransform` to be used for TransformedDistribution as above (I mainly use this) and `constraints.order

[2020-07-22 13:09] fritzo commented on #2571
:+1: to matching the NumPyro & Pyro interfaces.

Just to provide another datapoint: I found when designing the `CoalescentTimes` interface that it seemed most natural for the times to be ordered, but I also implemented an unordered `CoalescentTimesLikelihood` (which is kind of a funsor transpose, `p(times|-)` rather than `p(-|rate)`) where we sort internally. The constraint I implemented there tak

[2020-07-22 21:21] #2567 closed

[2020-07-22 21:38] gewirtz commented on #675
Thank you so much!!

[2020-07-23 23:31] stefanwebb commented on #2564
I think calling `.clear_cache()` somehow in a backward hook would be a good solution. I haven't done this before in PyTorch but can look into it...

[2020-07-24 22:25] #2570 closed

[2020-07-25 03:55] fritzo commented on #1106
Note nan issues with backward through `dist.Categorical` as [mentioned on the forume](https://forum.pyro.ai/t/parent-nodes-with-missing-data/2004/4).

[2020-07-25 20:03] ecotner commented on #2571
@fehiepsi I've been getting deeper into the exercises in Statistical Rethinking, and I have run into the non-identifiability problem you mentioned; it is much more troublesome than I would have thought... basically wrecking my model, even when using a single chain! So I have to say I agree with you 100% now, sorting is definitely not the way to go, either inside nor outside the distribution's `__i

[2020-07-26 16:16] fehiepsi commented on #2571
I think it is easier to interpret. By giving positive-support priors on `foo` and define `cutpoints = c = foo.cumsum()`, we can interpret that those are priors for the lags of cutpoints (or levels) (c_[i + 1] - c_[i]). With your transform, I interpret it as you want to set "LogNormal" prior for the lags of the exponentials of cutpoints.

[2020-07-27 22:41] fritzo commented on #2441
Implemented in #2448

[2020-07-27 22:41] #2441 closed

[2020-07-27 22:42] #1992 closed

[2020-07-27 22:44] #979 closed

[2020-07-28 17:51] sharrison5 commented on #2361
Thanks for addressing this in 1.4.0! However, I'm seeing another issue with `RenyiELBO` and non-nested plates (see MWE below). My hunch is that the issue arises because `x_plate` and `data_plate_1` both have the same `dim`, so `sum_dims` can have repeated elements. However, the error could well be coming from elsewhere.

Thanks again! 😃

Code snippet:
[code]

Output:
[code]

[2020-07-29 00:52] fritzo commented on #2571
Sounds good.

I don't have a preference; I merely wanted to provide some additional examples. Actually in the examples to which I pointed, the cutpoints were a parameter rather than a distribution value (i.e. random variable), thus we didn't have an issue with identifiability.

[2020-07-29 03:24] h56cho opened #2577 "Integrating Pyro with HuggingFace Transformers"
Hello,

I am trying to change HuggingFace Transformer models into Bayesian neural network.
I can convert a HuggingFace Transformer into a Pyro model like below:

[code]

But when I try to compute the mc_loss from this Bayesian Transformer, Python generates an error:

[code]

Is there any way that I can compute the mc_loss in the regular way after converting HuggingFace Transformer into a Bayesian

[2020-07-29 17:43] prpr2770 opened #2578 "[bug][discussion] Issue in using Generics"
### Issue Description
I am trying to conduct a simplified analysis on the models present in [Example on Generics in NLP](https://github.com/pyro-ppl/pyro/blob/dev/examples/rsa/generics.py) . The execution of a modification of the models leads to ValueError error. I am a newbie to Pyro and would really appreciate some guidance on how to resolve this issue.

### Environment
MacOS,
torch.__version__(

[2020-07-29 17:58] eb8680 commented on #2578
Site `S1_score` is an empirical distribution, meaning it only assigns nonzero probability mass to a finite set of points. It looks like you're trying to observe a value not in its support, so you probably want to do some preprocessing that ensures that the values in `data` coincide with possible values in your discretized state variable's support (`beta_bins` here, I believe).

[2020-07-29 18:14] prpr2770 commented on #2578
I am generating the data using the same process:

[code]

[2020-07-29 18:58] #2577 closed

[2020-07-29 19:00] h56cho opened #2579 "How to set device for Pyro models?"
Hello,

I am trying to convert a PyTorch neural network model into a Bayesian Pyro model.
Is there any way that I can set device for my Pyro model, similar to ```torch.device("cuda")```?
or would simply the ```torch.device``` command do the trick?

Thank you,

[2020-07-29 19:09] fritzo commented on #2579
Hi @h56cho would you mind asking questions on the Pyro forum, so that others may benefit from answers? https://forum.pyro.ai Thanks!

[2020-07-29 19:09] #2579 closed

[2020-07-29 20:05] eb8680 opened #2580 "FR Funsor-based Pyro backend"
This issue is for tracking Funsor integration with Pyro in the form of a new `pyroapi` backend that shares lots of code with Pyro and lives in `pyro.contrib.funsor`, as implemented in the original PR #2307 and NumPyro PR https://github.com/pyro-ppl/numpyro/pull/572 and recently enabled by the removal of Python 3.5 support from PyTorch 1.6.

The first version of `pyro.contrib.funsor` hews very clos

[2020-07-31 02:26] fritzo opened #2581 "FR add "open in colab" links to all tutorials?"
See for example these nice tutorials:
https://www.kallistobus.tools/tutorials

[2020-08-05 14:03] michaeldeistler opened #2585 "[bug] MCMC with potential_fn gives error"
### Issue Description

Since pyro v1.4.0, MCMC with a `potential_fn` fails if `transforms=None` (default value) is provided, see code snippet below. It worked fine for v1.3.1.

A work-around is explicitly passing `transforms={}`. However, I could not find a documentation of this API change. Is this intentional or a bug?

### Environment

macOS 10.13.6, python 3.8.2.
torch: 1.6.0
pyro: 1.4.0

### C

[2020-08-05 15:36] fritzo commented on #2585
@fehiepsi I suspect this is related to our initialization refactoring, e.g. #2417. I'll take a closer look later, but do you have any immediate ideas?

[2020-08-05 16:03] fehiepsi commented on #2585
I think this happens after we put some logics for [epidemiology](https://github.com/pyro-ppl/pyro/pull/2527/files#diff-6075bc4ce62e591e03146eae732344e7R411). I guess we can move that logic to the branch `elif self.kernel.model:`?

[2020-08-06 20:48] fritzo commented on #2361
Is this now resolved?

[2020-08-07 07:09] sharrison5 commented on #2361
Yes, I think so

[2020-08-07 15:18] #2361 closed

[2020-08-11 14:41] #2585 closed

[2020-08-12 21:21] eb8680 opened #2597 "Collect and display links to external tutorials and examples on the Pyro website"
There are a number of tutorials and case studies created by the Pyro community that can't or shouldn't live in the Pyro repository.  Two examples are @fehiepsi's [port of the code examples in Statistical Rethinking to Pyro/NumPyro](https://fehiepsi.github.io/rethinking-pyro/) and @ucals's Pyro version of Chapter 1 of Probabilistic Programming and Bayesian Methods for Hackers added upstream in http

[2020-08-13 15:20] fritzo opened #2598 "FR: IWAE_DReG importance weighted VAE with doubly reparametrized gradients"
This proposes adding an `IWAE_DReG` loss similar to the `ELBO` class but implementing the [doubly reparametrized gradient estimator](https://arxiv.org/abs/1810.04152). @iffsid points out https://github.com/pytorch/pytorch/issues/25783 that this would be much easier if `Distribution` objects had a `.detach()` method.

[2020-08-14 15:17] lundlab-kaltinel opened #2600 "Cannot run the example code due to unknown parameter"
Hi,
I would like to run the ss-vae, and I am trying to get a sense of it by running the example by:
`python ss_vae_M2.py --seed 0 --aux-loss -alm 46 -enum parallel -sup 100 -zd 50 -hl 50 -lr 0.00042 -b1 0.95 -bs 100 -log ./tmp.log`

However, I am receiving the error of:
[code]

I see that `batch_size` is a required argument, however it is being provided in the command line in `-bs` format?
I would

[2020-08-14 16:29] fritzo commented on #2600
It looks like you are missing the required `use_cuda` argument. Does this work for you?
[code]

[2020-08-14 19:55] fritzo opened #2601 "Cleanup: get isort to work on entire codebase"
For a long time now, we have been unable to run `isort` on the entire codebase. One reason is the order dependency of imports in `pyro/distributions/__init__.py`. Other * imports in other `__init__.py` files may also be order sensitive. It would be nice for contributors if we could fix this.

cc @stefanwebb who was been bitten by this in the past

[2020-08-14 19:57] fritzo opened #2602 "Cleanup: use black code formatter"
It would be nice for contributors if we could auto-format Pyro's codebase. It seems the most popular python formatter is now [black](https://github.com/psf/black).

Formatting the entire codebase will wreak havok on open PRs, so if we decide to run `black` we should try to
1. close out existing PRs beforehand, and
2. possibly split the formatting across multiple PRs

[2020-08-14 20:42] eb8680 commented on #2602
Maybe as the last step before the 1.5 release?

[2020-08-17 13:13] lundlab-kaltinel commented on #2600
Yes,now I can run it, thank you very much!

However, it uses almost all cores and I cannot see a way of limiting the thread usage.
I appreciate to learn how to control it?

[2020-08-17 13:48] fritzo commented on #2600
To limit thread parallelism, you could set the `OMP_NUM_THREADS` environment variable
[code]

In the future could you ask questions on https://forum.pyro.ai ? That way your questions are more easily discoverable by other users. Thanks!

[2020-08-17 13:48] #2600 closed

[2020-08-18 19:17] fritzo commented on #2550
I guess we should add a mypy test stage

[2020-08-18 22:56] fritzo opened #2606 "Make inference tests backend-agnostic; migrate to pyroapi"
Pyro's inference algorithms are implicitly specified by thousands of lines of test code. Those tests are currently tightly integrated with the PyTorch backend.

This issue proposes parameterizing those tests based on a `backend` fixture in the manner of PyroAPI's [generic tests](https://github.com/pyro-ppl/pyro-api/blob/master/pyroapi/tests/test_svi.py) (and possibly with generic fixtures `assert_

[2020-08-19 03:19] jmugan commented on #2159
I have the same problem, but I don't understand this conversation. So, once enumeration starts, you have to do more complex stuff as described here http://pyro.ai/examples/enumeration.html? Is there like a `just-do-simple-thing-i-dont-care-if-it-is-slower` flag I can pass?

[2020-08-19 04:09] fehiepsi commented on #2159
@jmugan If your model does not have continuous latent variables, MCMC will collect nothing. Could you create a separate issue if that is not the case?

[2020-08-19 04:13] jmugan commented on #2159
It does have continuous variables as well. I'll create a small example program to illustrate the problem and open a separate issue. Thanks!

[2020-08-20 02:28] jmugan opened #2607 "Sampling Categorical Quits After Two Samples [bug, but probably user error]"
### Issue Description
The sampler works with a Gaussian but not with categorical. Similar as https://github.com/pyro-ppl/pyro/issues/2159 but it was suggested that I open a new issue.

### Environment
Python 3.7 with Pyro 1.4.0

### Code Snippet
If I set `use_gaussian` to True it works as expected.

[code]

Gives the output
[code]

[2020-08-20 03:42] fritzo opened #2608 "Pyro docs no longer show up on Google"
(sorry to use github for a website issue but imho this a serious).

When I Google for ["pyro discretehmm"](https://www.google.com/search?q=pyro+discretehmm), all I see is examples and blog posts, and results pointing to rtd. When I narrow to ["docs.pyro.ai discretehmm"](https://www.google.com/search?q=docs.pyro.ai+discretehmm), I do see links to rtd but they point to module source code rather than

[2020-08-20 03:44] fritzo commented on #2608
Maybe this is just google autocorrecting "discretehmm" to "discrete hmm" which doesn't appear on the desired page.

[2020-08-20 04:10] #2608 closed

[2020-08-20 04:35] fehiepsi commented on #2607
Because your `conditioned_model` does not have any continuous **latent** variable, MCMC will collect nothing for you. The ValueError is indeed a bug: we should print an empty summary, rather than triggering an error.

[2020-08-20 04:49] jmugan commented on #2607
Thanks. I'll have to think about how all this works. I'll leave it open due to the ValueError. Thanks again.

[2020-08-20 05:17] fehiepsi commented on #2607
In Pyro MCMC, we marginalize the discrete latent variable `num_elves`. After that, there is no latent variable (two variables `rocks_observed` and `logs_observed` are observed after you conditioned on the data). If you only condition on `rocks_observed`
(i.e. `data = {"rocks_observed": torch.tensor(4)}`), then MCMC will collect `logs_observed` samples. I think your model is a nice example to illus

[2020-08-26 04:25] fritzo opened #2612 "Cleanup: use sphinxcontrib.bibtex for citations?"
Currently Pyro's codebase has numerous references but inconsistent format. Is there any demand for standardizing these, say via [shinxcontrib.bibtex](https://pypi.org/project/sphinxcontrib-bibtex/)?

**Pros:**
- reduces duplicated citations across functions
- standardization

**Cons:**
- Not all citations belong in docstrings; some belong in comments e.g. for implementation details
- Introduces an

[2020-08-26 17:48] martinjankowiak commented on #2612
i rather keep the flexibility that comes with doing it in an ad hoc way

[2020-08-26 23:33] #2612 closed

[2020-08-28 09:50] riversdark opened #2613 "The Dirichlet Process mixture model in the tutorial seems to just be a finite mixture mode"
I'm looking at [the Dirichlet Process mixture model tutorial](http://pyro.ai/examples/dirichlet_process_mixture.html) but it seems to me that there is no real difference between this Dirichlet process formulation and the finite mixture model presented in the [Gaussian mixture model tutorial](http://pyro.ai/examples/gmm.html), bar the emission distributions of course.

In the Dirichlet Process mixt

[2020-08-28 21:59] fehiepsi commented on #2613
@riversdark You are right that they are both finite mixture models. We don't have a tutorial for infinite version yet (it is an open question? or challenging? I guess). You can tract progress for the infinite version [here](https://github.com/pyro-ppl/pyro/issues/880).

[2020-08-29 07:42] riversdark commented on #2613
Ah I see. Thanks @fehiepsi !

[2020-08-31 00:09] eb8680 commented on #2613
Closing in favor of #880. Note that truncation is a common and sensible strategy for inference in DPMMs, since we expect the number of components to grow much more slowly (roughly logarithmically) than the number of examples.

[2020-08-31 00:09] #2613 closed

[2020-08-31 18:49] #2607 closed

[2020-09-02 13:25] PaperclipBadger opened #2615 "[bug] Samples from LKJCorrCholesky have the wrong shape"
### Issue Description
The batch and sample shapes for `LKJCorrCholesky` are swapped when sampling.

### Environment
OS: Ubuntu 16.04
Python: 3.7.2
Torch version: 1.6.0
Pyro version: 1.4.0

### Code Snippet
Minimal example:

[code]

I think this line is the culprit: https://github.com/pyro-ppl/pyro/blob/7c2c22c10dffda8a33ffbd593cc8d58819959e40/pyro/distributions/lkj.py#L67

[code]

should be

[code

[2020-09-02 18:27] RaulPL opened #2616 "Access to pyro.markov design document"
Hi, I would like to read the design document [pyro.markov](https://docs.google.com/document/d/1EPaKng2zaXfKEK9EIY59CgoIpUiitp3-_XvpNeJY6sM/edit?usp=sharing)  that its listed on the the Wiki page but it says that I have to "Request access".  Can you make it publicly available like the rest of the documents?

Thanks for making this documentation open, it has help me to understand the internals bette

[2020-09-02 19:49] fritzo commented on #2616
Hi @RaulPL I've updated the link to a [public document](https://docs.google.com/document/d/1EPaKng2zaXfKEK9EIY59CgoIpUiitp3-_XvpNeJY6sM/edit?usp=sharing). Thanks for pointing this out!

[2020-09-02 19:49] #2616 closed

[2020-09-03 22:46] #2615 closed

[2020-09-07 19:15] BartekSzpak commented on #1964
Hi @karalets, would be also very excited to see your work implemented in Pyro.

[2020-09-08 15:06] fritzo opened #2618 "FR Use funsor distributions directly in Pyro models"
This issue proposes a low-level refactoring of `pyro.distribution` so that the basic object is no longer a `TorchDistribution` but a `Funsor` (or possibly a derived `class FunsorDistribution(Funsor, TorchDistribution)`). This low-level refactoring could precede #2580 insofar as it would be compatible with existing Pyro inference algorithms, and should be forwards compatible with #2580.

The motiva

[2020-09-08 15:22] eb8680 commented on #2618
One design question is the extent to which this should involve new Pyro/Funsor hybrid syntax versus just using the Funsor distribution wrappers.  I think a version of example 1 should already work, and we don't need to add anything new to `FunsorDistribution`.
[code]
We could also add a `ground_funsors` handler that automates the conversion call in the last line and ensures that all Funsor distrib

[2020-09-13 19:32] vsuhasm opened #2625 "Install pyro on system with Cuda 10"
Please provide the following details:
--------------------------------------------------------------------------------------------------
### Issue Description
I wish to install pyro on a system with Cuda 10 and Nvidia driver version 410.72. However, installing pyro with pip requires torch >= 1.5, which does not support Cuda 10. Any suggestions?

### Environment
 - OS: CentOS Linux release 7.5.1804

[2020-09-13 22:08] fritzo commented on #2625
Hi @vsuhasm you should be able to install an [older version of PyTorch](https://pytorch.org/get-started/previous-versions/) with an older version of Pyro, something like this:
[code]
Let me know if that doesn't work.

[2020-09-13 22:08] #2625 closed

[2020-09-15 17:06] jetsnguns opened #2627 "Problem in HMC/NUTS with custom potential_fn"
### Issue Description
Running a simple MCMC chain worked in Pyro 1.3.1, but fails in Pyro 1.4.0

### Environment
 - Ubuntu 18.04, Python 3.8.5 (Anaconda)
 - PyTorch 1.6.0
 - Pyro 1.4.0

### Code Snippet
[code]

Error message:
[code]

[2020-09-16 12:36] xidulu opened #2628 "Improper guide does not raise exception"
Hi, I am trying to implement a 2 component Gaussian Mixture model with Relaxed Bernoulli as the posterior:

[code]

During one of my experiments, I deliberately set the posterior for `assignment` to be RelaxedBernoulli, a continuous distribution with support on (0, 1), I was expecting an error to be thrown out because the evaluation of the likelihood requires indexing from gaussian components ```l

[2020-09-16 12:53] xidulu opened #2629 "RelaxedBernoulli straight through does not contain SVI usage test."
Unlike RelaxedOneHotCategorical, which has a test for SVI usage: https://github.com/pyro-ppl/pyro/blob/dev/tests/distributions/test_relaxed_straight_through.py#L60-L78 `RelaxedBernoulli` does not have one.

Follow the test for relaxed categorical, I wrote the following test
[code]
It managed to pass with a very very high possibility (flakiness is always there, sigh = =)

I could think of a few mor

[2020-09-16 16:01] fehiepsi commented on #2628
@xidulu In your model, assignment is converted to `long` tensor (`assignment = pyro.sample(...).long()`). So you can use it for indexing.

[2020-09-16 16:39] xidulu commented on #2628
@fehiepsi
Your are right! Thanks for your help.

[2020-09-16 16:39] #2628 closed

[2020-09-16 16:51] fritzo opened #2630 "List: move these things upstream to PyTorch, Funsor, etc."
This issue tracks Pyro components that should be moved to upstream dependencies.

## Move to PyTorch
- [ ] `dist.Delta` #1781
- [ ] `constraints.IndependentConstraint`
  - usage in `MultivariateNormal`
  - usage in `dist.Independent`
- [ ] `constraints.integer`
- [ ] `Geometric.log_prob()` as patched in pyro/distributions/torch.py
- [ ] `Uniform`'s `._unbroadcasted_*` logic

## Move to Funsor
See

[2020-09-16 17:03] martinjankowiak commented on #2629
from what i recall when this code was written i didn't include such a test precisely because it was really flakey 😬

[2020-09-16 17:37] xidulu commented on #2629
@martinjankowiak
The SVI test for one-hot categorical was indeed , very flaky : )
I cannot imagine how could the CI mange to pass this case without manually fix the random seed.

[2020-09-17 20:17] fritzo commented on #2627
@jetsnguns it looks like @fehiepsi has already fixed this bug in the dev branch. You can install Pyro from github or wait for the next release. Thanks for reporting a clear code snippet, I have added it as a regression test in #2631 !

[2020-09-20 02:02] fehiepsi commented on #1905
One way to resolve this is to use `ExpandedDistribution` as in NumPyro. We just need to register KL of two expanded distributions, where we can compute KL of two base dists and then expand the result.

[2020-09-21 03:27] #2627 closed

[2020-09-23 16:50] alexander-belikov opened #2639 "[bug] HiddenLayer include_hidden_bias incorrect behaviour"
### Issue Description
As far as I understand HiddenLayer implements functionality of a pytorch Linear layer + an activation function (with probabilistic weights, of course).

So the expected signatures of input and output tensors should be the same.

I see a problem with include_hidden_bias=True.

In pytorch
[code]

then output is

`y = XA^T + b`

and has dimensions (nbatch, dim_output) whether bi

[2020-09-23 17:00] martinjankowiak commented on #2639
hello,

this was the intended behavior. it's just a convenience method for the case where you're stringing together multiple layers. if you have layer1 followed by layer2, the way you include a bias term in layer2 is by setting `include_hidden_bias=True` in layer1. this isn't a great API, but that was the intention. in any case this is quite old code that should probably be deprecated, as its API

[2020-09-23 17:10] alexander-belikov commented on #2639
Thank you for such a quick reply, clear explanation and a good reference.

Stringing layers is exactly what I was trying to do, and I found odd that the output dimension is different from what is set in the constructor, but all right, as long as it was intended.

[2020-09-24 17:26] #2639 closed

[2020-09-26 19:29] gewirtz commented on #2108
Hi fritzo, any advice on what to do if hundreds of iterations in, part of a Pyro param is NAN? You say above you insert assertions, but if the assertions fail, what then? I made a post on the Pyro form (https://forum.pyro.ai/t/svi-step-update-only-specified-parameters-minibatch-elbo-scaling/2211) about this issue, but still having it and googling more lead me here.

Thanks!

[2020-09-26 19:37] martinjankowiak commented on #2108
@gewirtz

after each `svi.step()` you can try something like

[code]

to try to identify where nans first appear

[2020-09-27 22:04] fritzo commented on #2108
Answered [on the forum](https://forum.pyro.ai/t/svi-step-update-only-specified-parameters-minibatch-elbo-scaling/2211/12) for better visibility 😄

[2020-10-03 03:31] ecotner commented on #2571
Hey, sorry I went MIA for so long, work/life kind of got in the way for a while haha. I made a PR (#2651) for this if you guys would like to check it out. I got rid of the sorting operation so there is no identifiability issue that @fehiepsi was concerned about.

[2020-10-06 21:17] #2426 closed

[2020-10-06 21:17] #2506 closed

[2020-10-06 22:48] InfProbSciX opened #2654 "[feature request] GPLVMs with missing data"
I'm interested in using the `pyro.contrib.gp.models.GPLVM` model in the case where some points in `Y` (the observed data) are missing at random.

GPy has an example [here](https://gpy.readthedocs.io/en/deploy/_modules/GPy/examples/dimensionality_reduction.html#bgplvm_simulation_missing_data).

This functionality isn't available in pyro at the moment (I think - couldn't find examples for this). Is

[2020-10-07 03:59] fehiepsi commented on #2654
Hi @InfProbSciX, welcome! Feel free to make a PR for that feature. I guess to deal with NaN, we apply mask to the likelihood?

[2020-10-07 16:07] InfProbSciX commented on #2654
@fehiepsi Yep, I do believe so. Here's a quick snippet where I apply a masked likelihood, but it doesn't work unfortunately. The gradients computed are `nan`s, so after the first optimize step, training breaks.

Any ideas on how to fix this?

[code]

[2020-10-07 17:38] fehiepsi commented on #2654
@InfProbSciX I think you will need to also do `y = torch.masked_fill(y, y.isnan(), -999.)` if `y` has NaN value. [This note](https://github.com/tensorflow/probability/blob/master/discussion/where-nan.pdf) explains well why `NaN` happens during `backward`.

[2020-10-07 20:05] c3-robertyoung opened #2656 "[feature request] add chain_method to MCMC to permit drawing chains sequentially"
In MCMC, drawing chains in parallel appears to have a number of bugs. To avoid these while still allowing multi-chain MCMC, it would be helpful to have an option to draw chains sequentially. @fehiepsi suggested adding a `chain_method` parameter to MCMC as in NumPyro. See discussion [here](https://forum.pyro.ai/t/mcmc-spawn-multi-processing-bad-value-s-in-fds-to-keep/2254/5).

[2020-10-07 21:23] InfProbSciX commented on #2654
This worked! This is the class for reference:

[code]

I think I'm slightly in favour of changing the existing `Gaussian` likelihood class actually, and I can add an optional argument to the `__init__` function like `mask_missing_data=False` as there's a lot of repeated code here. What would you say?

Also, another quick comment, would it be possible to use this likelihood with the `(Sparse)GPRegr

[2020-10-07 21:47] eb8680 commented on #2656
My 2 cents: I understand the motivation and wish `torch.multiprocessing` was more robust, but in practice this is going to be so slow (on top of Pyro's already-slow HMC/NUTS kernels) that it will almost always a better idea to just rewrite your model in NumPyro, which uses `jax.pmap` for multiple chains - that's certainly true for the use case in your forum post.  I would definitely be reluctant t

[2020-10-08 02:54] fehiepsi commented on #2654
Yeah, you pointed it out, having a `mask` arg in the construction of Gaussian looks reasonable to me. For regression classes, I am not sure if there is an easy fix because internally, for prediction, we conditioned on `y`, instead of a latent `f`.

[2020-10-08 15:34] fritzo opened #2657 "FR Tutorial: how to implement custom distributions/transforms/constraints"
A common pattern in applied probabilistic modeling is to implement domain-specific distributions, constraints, and transforms for individual data science projects. That is, it is common for users to extend Pyro/NumPyro with new components.

[2020-10-08 15:36] fritzo opened #2658 "FR Expose testing tools in released library"
This proposes to add a new `pyro.testing` module with a stable testing interface.

A common pattern in applied probabilistic modeling is to implement domain-specific distributions, constraints, transforms, and losses for individual data science projects. That is, it is common for users to extend Pyro/NumPyro with new components.

I believe usability would be improved if Pyro/NumPyro provided easy-

[2020-10-10 00:40] rojinsafavi opened #2661 "sampling from ZeroInflatedPoisson"
Hello,
I am new to Pyro tool, thanks for providing such a great package.
I was wondering if there is a wat to sample from a ZeroInflatedPoisson instead of a normal distribution for the VAE example?

Thank you very much

[2020-10-10 17:55] ecotner commented on #2571
Thanks for all the advice implementing the `OrderedLogistic` distribution @fehiepsi and @fritzo, I learned a lot from that. Was also thinking we might want to complement it with an `OrderedTransform` for cutpoints [like in numpyro](http://num.pyro.ai/en/stable/_modules/numpyro/distributions/transforms.html#OrderedTransform). Does that sound like a good idea?

[2020-10-11 03:13] fehiepsi commented on #2571
@ecotner Yeah, having OrderedTransform would be great. It will allow us to do inference over the cutpoints parameter.

[2020-10-12 19:53] fritzo commented on #2661
Hi @rojinsafavi, there are a few places to replace `Normal` with `ZeroInflatedPoisson` in the VAE example. It should be easy to replace the observation likelihood with `ZeroInflatedPoisson`; see for example the [scANVI example](https://github.com/pyro-ppl/pyro/blob/f9dee1e2cd494a2c473b09d9ffb6098ab16dc105/examples/scanvi/scanvi.py#L211). It is much more difficult to replace the latent variable by

[2020-10-12 19:53] #2661 closed

[2020-10-13 22:59] eb8680 commented on #2580
I'm going to close this issue as resolved, since the current contents of `contrib.funsor` and the 1.5 release are a clear milestone. I'll create new master issues for future work, including for the speculative to-do list in this issue.

[2020-10-13 22:59] #2580 closed

[2020-10-14 17:18] eb8680 commented on #2597
I plan to do this before Wednesday but it doesn't need to block the 1.5 release.

[2020-10-14 17:19] eb8680 commented on #2581
I will plan to do this by Wednesday but it doesn't need to block the 1.5 release.

[2020-10-14 18:37] eb8680 opened #2670 "Render code examples automatically with sphinx_gallery"
Currently our non-notebook examples are manually included in the examples webpage via custom `.rst` files in `tutorial/source/`.  As the number of examples increases, it would be better to follow [NumPyro's approach](http://pyro.ai/numpyro/examples/) and generate HTML pages automatically with [`sphinx_gallery`](https://sphinx-gallery.github.io/stable/index.html).  This would make examples easier t

[2020-10-14 21:00] fehiepsi commented on #2670
This is what I wanted for a long time!

[2020-10-21 08:44] sky660099 opened #2678 "Elbo.compute_marginals throws an error for basic model"
As @Bart mentioned in this forum question :
https://forum.pyro.ai/t/elbo-compute-marginals-throws-an-error-for-basic-model/2245

When observed variables has no enumerated ancestors, this error of compute_marginals will arise:
"ValueError: Number of einsum subscripts must be equal to the number of operands."

Now this error can be fixed by adding a dummy upstream discrete node, but a formal fix is

[2020-10-22 13:58] fritzo commented on #2678
copying the minimum working example from the forum:

<details>

[code]

</details>

[2020-10-22 21:04] #2678 closed

[2020-10-28 02:31] fehiepsi opened #2681 "Init signature does not appear for distribution class"
Currently, when creating an instance of `dist.Normal` in jupyter, the docstring will say
[code]
That infomation is not helpful. This new behavior happens because we define `DistributionMeta.__call__` for collapse messenger. It would be nice to find an alternative solution that preserves the signature of distributions' constructors.

[2020-10-28 03:21] fritzo commented on #2681
Thanks for pointing this out, I'll look into it.

[2020-10-28 03:36] fritzo commented on #2681
It looks like we'll need to get `inspect.signature(Normal)` to print the more informative string, since that's [what help() uses](https://github.com/python/cpython/blob/4173320920706b49a004bdddd8d7108e8984e3fc/Lib/pydoc.py#L1321).

[2020-11-02 19:02] prashjet commented on #1265
Hi there!

Unfortunately, both of these links are broken!

Does anyone know where these notebooks could be found now...?

[2020-11-02 22:11] eb8680 commented on #1265
@prashjet the GPyTorch-Pyro examples are [here](https://docs.gpytorch.ai/en/latest/examples/07_Pyro_Integration/index.html) and the NumPyro example is [here](http://pyro.ai/numpyro/examples/gp.html).

[2020-11-03 17:07] ordabayevy opened #2687 "FR MarkovianCategorical distribution"
FR to have a more flexible version of `DiscreteHMM`.
--------------------------------------------------------------------------------------------------
I'm working with a model where several variables depend on  a discrete markovian state:

`p(z_k | z_{k-1})` and `Categorical(m_k | z_k)`, `Gamma(h_k | z_k)`, `Beta(x_k | z_k)`

I propose to introduce a new distribution `MarkovianCategorical` for `z

[2020-11-03 17:45] ordabayevy commented on #2687
Another reason for having this distribution is that I cannot integrate out the discrete state `z` in my model because of the downstream masking of variables that depend on z:
[code]
so I need to have `z` variable in the guide too and calculate exact expectation wrt to `z`.
[code]

[2020-11-03 18:43] xidulu opened #2688 "[Doc] Inconsistent of param signature between AutoIAFNormal and affine_autoregressive"
Doc for AutoIAFNormal (http://docs.pyro.ai/en/stable/infer.autoguide.html#autoiafnormal) says hidden_dims is an int
While http://docs.pyro.ai/en/stable/distributions.html?highlight=affine_autoregressive#affine-autoregressive claims that hidden_dims should be a list of int.

Is that a typo in AutoIAFNormal's doc?

[2020-11-03 18:48] eb8680 commented on #2687
@ordabayevy thanks for the feature request, I think we could support something like this via `pyro.contrib.funsor` if you're willing to experiment :)  We've also discussed something similar for `pyro.contrib.forecast` and `pyro.contrib.epidemiology`.

Can you say a bit more about how general you need this feature to be so we can scope out the design for your use case?  E.g. do you need support for

[2020-11-03 19:37] ordabayevy commented on #2687
@eb8680 thanks for your reply. Sure, that sounds like fun! HMM is a big part of my project and I would also like to get more familiar with the funsor backend.

I dumped the code of the (time-independent) model below. Here is the walk-through of the changes related to the `MarkovianCategorical`:

- dim=-1 (`F_plate`) is the time dimension
- Currently, there is need only for one enumerated `Markovia

[2020-11-03 20:08] fritzo commented on #2688
cc @stefanwebb

[2020-11-04 14:07] fritzo opened #2689 "Add RelaxReparam to convert O.H.C. to RelaxedO.H.C.StraightThrough"
It would help to separate modeling from inference if we allowed model transformations from discrete to relaxed discrete.

One way to accomplish this would be via a poutine, or more specifically via a reparametrizer. For example we could replace
[code]
## Design questions
There are many ways to relax.
1. Should we be opinionated or flexible, regarding how to relax?
2. How should flexibility be pres

[2020-11-04 20:09] stefanwebb commented on #2688
@xidulu thanks for picking this up! Yes, I believe this is a bug in the docstring for `AutoIAFNormal`. It should be `list[int]`. If you passed in an `int` for `hidden_dims` to `AutoIAFNormal` it would raise an exception when it gets to this code in `ConditionalAutoregressiveNN`:

[code]
It's not being caught by the unit tests since they use the default argument of `hidden_dims=None`.

[2020-11-04 20:11] stefanwebb commented on #2688
Are you able to submit a PR for this quick change?

[2020-11-04 20:13] stefanwebb commented on #2688
@martinjankowiak you designed the unit tests for autoguides, right? Do you think it would be worth adjusting the unit tests slightly to test non-default keyword args?

[2020-11-04 20:15] eb8680 commented on #2687
@ordabayevy that's a helpful example.

Here's what I'm thinking: we'll need a distribution like your `MarkovCategorical` in the first post that implements `log_prob` and `enumerate_support`, a custom enumeration strategy, and a custom objective.
[code]
I realize most of the Funsor code details here may not mean much to you, especially `MarkovEnumMessenger`, and some of the variables are undefined,

[2020-11-04 20:57] fritzo commented on #2687
For now it will be easiest to compute with Funsor and register the result with `pyro.factor()`.

It seems to me that markov dimensions don't belong in the distribution interface and that we shouldn't add a new MarkovCategorical distribution. Instead I believe we should add some sort of model-side syntax for enumerating pairs of (prev,curr) time indices in a funsor-like way. I think a clean long-te

[2020-11-04 20:57] martinjankowiak commented on #2688
it seems like all our autoguide unit tests are integration tests; we could probably use some simple smoke tests like we have for [easyguide](https://github.com/pyro-ppl/pyro/blob/f3494ac9e2428b36d6840e4d3a6dbd31daaf4d30/tests/contrib/easyguide/test_easyguide.py#L102)

[2020-11-04 22:19] eb8680 commented on #2687
Agreed that something like `vectorized_markov` is better modelling syntax, but we'll still need inference algorithms that have access to that information and know how to exploit it.

How will that work in this case, since the enumeration is happening in the guide?

[2020-11-05 00:09] karalets commented on #2689
I'd love to have this option, what you are describing feels very pyro-nic
and elegant, since we typically only want to relax models for the sake of
optimization instead of making the modeling choice of relaxedCategorical
etc. !

But it would be nice to keep the 'hard-coded' variants alive for various
reasons, historic and practical.

Would you consider thinking about this more generally also in th

[2020-11-05 02:08] xidulu commented on #2688
Sure，I can do that

[2020-11-05 03:15] ordabayevy commented on #2687
I started working on [MarkovProduct](https://github.com/ordabayevy/pyro/blob/markov-categorical/pyro/distributions/markov_categorical.py) distribution and [MarkovEnumMessenger](https://github.com/ordabayevy/pyro/blob/2571c1aca8b23745662febf977346efbb64f9a95/pyro/contrib/funsor/handlers/enum_messenger.py#L164) which seems to do the job. Now looking into the ELBO implementation.

[2020-11-05 04:08] eb8680 commented on #2687
Nice! Let me know if you have any questions - there are a lot of rough edges in Funsor and `pyro.contrib.funsor`.  I'll try to sketch something more like @fritzo's suggestion in place of `MarkovCategorical` and `MarkovEnumMessenger`, and we can compare notes.

[2020-11-05 04:23] eb8680 commented on #2689
What are all of the distributions currently in Pyro and PyTorch we might want to relax? Is there a canonical Gumbel-softmax relaxation for all (or most) of them?

I guess one thing we could do that would fit with a canonical relaxation approach is to add a `singledispatchmethod` `.relax: Distribution -> Distribution` to a `RelaxReparam` reparametrizer and register canonical relaxations for the bui

[2020-11-05 04:29] eb8680 commented on #2581
I had looked at doing this by hand but I think @fehiepsi's solution in NumPyro to add a link automatically via `sphinx_gallery` is better, so this would be best resolved in concert with #2670.

[2020-11-05 04:31] eb8680 commented on #2670
This worked really well in NumPyro, so hopefully we can just copy the `sphinx_gallery` boilerplate from there and set up similar redirects to keep links alive.

[2020-11-06 04:51] xidulu commented on #2688
Fixed by #2691

[2020-11-06 04:51] #2688 closed

[2020-11-08 03:10] lwgkzl opened #2694 "Trace_dist must be trace posterior distribution object when i ran code in tutorial."
### Description
 I'm having problems with the code I'm running in tutorial:
https://bookdown.org/robertness/causalml/docs/tutorial-on-deep-probabilitic-modeling-with-pyro.html
codes:
![image](https://user-images.githubusercontent.com/30727306/98455980-8984a900-21b2-11eb-829a-cb98779b24fe.png)

error:
![image](https://user-images.githubusercontent.com/30727306/98455987-ac16c200-21b2-11eb-885f-9d72b

[2020-11-08 05:14] fehiepsi commented on #2694
@lwgkzl The API of MCMC has changed since that tutorial is written. To get posterior samples, you can use
[code]

[2020-11-08 06:28] lwgkzl commented on #2694
Many thanks : )

[2020-11-08 06:28] #2694 closed

[2020-11-08 06:55] lwgkzl commented on #2694
After this line of code is run：
```samples_posterior = mcmc.get_samples()```
The type of variable ```samples_posterior``` is still not ```TracePosterior```, so  when i run the code:
```marginal = EmpiricalMarginal(samples_posterior , "weight")```
 The error still exists, did I not understand what you meant?

[2020-11-08 07:19] fehiepsi commented on #2694
Hi @lwgkzl, you don't need to use `EmpiricalMarginal` to plot histogram. You can plot samples in `samples_posterior` directly.

[2020-11-08 08:36] lwgkzl commented on #2694
ありがとうございました

[2020-11-09 03:22] fehiepsi commented on #2571
This is addressed in #2662. Thanks, @ecotner!

[2020-11-09 03:22] #2571 closed

[2020-11-09 05:02] ordabayevy commented on #2687
Thinking more about what @fritzo said, now I agree and understand why adding a new Markov distribution is not the best idea.

Here is my idea on how to implement a vectorized markov:
1) have a vectorized markov plate similar to a regular plate
2) introduce ghost `x_prev` sample sites for markov variables which will be used for enumeration and allocating a new dimension. however, this site will not

[2020-11-10 07:52] ordabayevy commented on #2687
Just realized that `theta` can be marginalized out in the model so the guide-side enumeration is not necessary

[2020-11-11 04:35] eb8680 commented on #2687
@ordabayevy sorry for the slow response.  I think something like your latest sketch definitely makes sense.  I've been looking at ways to get something similar working that automates the creation of your proposed auxiliary sites, along the lines of this NumPyro issue: https://github.com/pyro-ppl/numpyro/issues/686

How is the `"enumerate": "markov"` syntax interpreted by `EnumMessenger`? Does it e

[2020-11-11 06:24] ordabayevy commented on #2687
@eb8680 it enumerates as usual in `EnumMessenger` and checks in `TraceMessenger` (I'm sure there is a better logic to do this):

[code]

[code]

Continuous variables depend on `theta` only in the model but not in the guide. I believe in this case `theta` can be marginalized in the model by enumeration and removed from the guide. On the other hand, continuous variables depend on `m_{kdx}` both in t

[2020-11-12 08:20] ordabayevy commented on #2687
@eb8680 do you think it is possible to generalize `partial_sum_product` algorithm to eliminate markov variables (i.e. use `sequential_sum_product` to eliminate `time` dim and pairs of `(prev,curr)` for markov sites )? Something like this:

[code]

Here `model_1` (from HMM examples) has `time` plate, `x_prev`, and `x_curr` sites:
<details>

[code]

</details>

... and `x_prev` site is not recorded

[2020-11-13 03:43] eb8680 commented on #2687
Definitely!  I think that's the most general solution on the inference side to your original problem - the ELBO implementation I had sketched above effectively does this manually.  For reference, you can find details on `partial_sum_product` in our paper [Tensor Variable Elimination for Plated Factor Graphs](http://proceedings.mlr.press/v97/obermeyer19a.html) - `partial_sum_product` is basically a

[2020-11-13 04:16] eb8680 commented on #2687
@ordabayevy I'm also happy to discuss any of this over Zoom sometime if that would be helpful for you.

[2020-11-13 05:43] ordabayevy commented on #2687
Thanks for pointing that out! I was struggling with `model_6` and it looks like `funsor.sum_product.sarkka_bilmes_product` should be able to deal with it.

That would be awesome! I'm on board having a more general algorithm. I'll start by looking at test examples and try to write some for the modified `partial_sum_product`. Zoom meeting would be nice, I'll email you with the scheduling details.

T

[2020-11-13 06:30] ordabayevy commented on #2687
@eb8680 can you send your email/contact info to ordabayev@brandeis.edu ?

[2020-11-13 06:42] eb8680 commented on #2687
Sure, my email is ebingham@broadinstitute.org.  I sent you an email.

Yeah, that's the kind of model it was designed for - see [this Funsor test](https://github.com/pyro-ppl/funsor/blob/master/test/test_sum_product.py#L345) for a simpler version with no plates.  Note that `sarkka_bilmes_product` is rather poorly documented and has a different interface than `sequential_sum_product`.  In particular

[2020-11-16 22:14] zhangqimin17 commented on #1823
My data is a matrix and there are missing values in it. I tried to use the `poutine.mask` function:
[code]

but when training, it returns:

[code]

[2020-11-16 23:28] fehiepsi commented on #1823
`zhangqimin17` masks out `log_prob`. If you use `.independent(2)`, then `log_prob` will be scalar, so it can't be masked by `is_observed`. You can add some `pyro.plate` statements to declare batch dimensions (more information can be found at [this tutorial](http://pyro.ai/examples/tensor_shapes.html)).

FYI, the name `.independent` causes confusions, so in Pyro, we renamed it to `.to_event`.

[2020-11-16 23:47] zhangqimin17 commented on #1823
@fehiepsi Thanks for your reply!

[2020-11-17 02:03] fritzo commented on #1823
Also, an alternative to using a plate here is to use the distribution's `.mask()` method, as in
[code]
It depends on your problem whether it is easier to use `poutine.mask()` with a plate versus `Distribution.mask()`.

[2020-11-17 02:31] zhangqimin17 commented on #1823
@fritzo looks good, thank you！

[2020-11-19 01:53] scraed opened #2699 "JitTraceEnum_ELBO fail with nvrtc: error: invalid value for --gpu-architecture (-arch) on RTX 3090 for pytorch 1.7.0"
### Issue Description
JitTraceEnum_ELBO fail on RTX3090, gives nvrtc: error: invalid value for --gpu-architecture (-arch).
However, a test on torch.jit.trace works fine. Guess it is pyro's jit module using the wrong cuda compiler.

### Environment
Windows 10
Python 3.7.4
pyro-ppl==1.5.0
pytorch==1.7.0, cuda 11.0

### Code Snippet
The following code will give a nvrtc: error: invalid value for --gpu

[2020-11-23 21:01] fritzo opened #2700 "Enable validation by default?"
An issue I often see with new users is that they forget to enable validation when creating new models. Moreover I find that even in production models, validation is cheap enough to enable always. When speed matters, we usually JIT compile, and the JIT implementations generally disable validation, so enabling validation by default wouldn't slow down any of those users. Moreover all our tutorials sp

[2020-11-24 06:47] fehiepsi commented on #2700
I just wonder if we need to worry about some expensive constraint checks (e.g. positive_definite). Validating models by default is nice to me.

[2020-11-24 13:53] fritzo commented on #2700
Well users can always `pyro.enable_validation(False)` if they want to speed up a model. But that's the last step in

[2020-11-24 20:03] fehiepsi commented on #2700
We should think about how to deliver this message. For now, many users might not know about this utility.

[2020-11-25 03:17] nostayup commented on #2699
Have you solved this problem?    i  got the   same error

[2020-11-25 04:24] eb8680 commented on #2699
@scraed do you still get this error with `pyro-ppl==1.5.1`?  @nostayup can you provide some system information (OS, Pyro/PyTorch/CUDA versions, traceback)?  Can either of you reproduce this error on Mac or Linux?

[2020-11-25 14:46] fritzo commented on #2700
@fehiepsi good point. I guess we can
1. Expand the docstring of `pyro.enable_validation()` and ensure it appears in pyro.primitives
2. Create a short tutorial entitled "Make it work, make it correct, make it fast" detailing tips on computational Bayesian workflow. Like "first here's how to avoid shape errors", then "here's how to avoid NANs", finally "here's how to speed up your code".

[2020-11-25 16:56] fehiepsi commented on #2700
Thanks, Fritz! Looks great to me.

[2020-11-26 13:30] scraed commented on #2699
@eb8680 with pyro-ppl==1.5.1 the error still remains. Don't have a linux system ready to use now, but I think this will reproduce on Linux, but not on mac os since it is due to the compatibility issue for CUDA 11 on the new released 3000 series GPU.

[2020-11-29 06:49] #2700 closed

[2020-11-29 23:24] eb8680 commented on #2699
@scraed I don't have access to a 3000-series GPU, but I'd guess this is a PyTorch bug related to one of the operations in your model or in the ELBO computation, since `JitTraceEnum_ELBO` is just a thin wrapper around `torch.jit.trace`.  Can you try making your PyTorch example look more like your Pyro example and seeing if the error shows up?

Something like this:
[code]

[2020-11-30 02:08] scraed commented on #2699
The test on your code @eb8680 provided also gives nvrtc: error: invalid value for --gpu-architecture (-arch), I agree this is a PyTorch bug.

RuntimeError: nvrtc: error: invalid value for --gpu-architecture (-arch)

nvrtc compilation failed:

#define NAN __int_as_float(0x7fffffff)
#define POS_INFINITY __int_as_float(0x7f800000)
#define NEG_INFINITY __int_as_float(0xff800000)

template<typename T>

[2020-11-30 02:08] #2699 closed

[2020-11-30 02:50] scraed commented on #2699
Inspired by the instruction here https://forums.developer.nvidia.com/t/isaac-gym-3090-issues/159080/2, After replacing nvrtc64_110_0.dll, nvrtc-builtins64_110.dll in  C:\Users\...\Anaconda3\envs\DataSci\Library\bin with nvrtc64_111_0.dll, nvrtc-builtins64_111.dll in C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.1\bin, the bug was solved

[2020-11-30 03:12] eb8680 commented on #2699
@scraed great, thanks for posting the solution!

[2020-12-03 13:27] fritzo opened #2705 "PyroModule.requires_grad_(False).__call__() issues unwanted warning"
After training a `PyroModule` model, I'd like to detach it and use it elsewhere in a "frozen" state. One obvious way to do so would be to call `my_module.requires_grad_(False)` to detach all parameters. Doing so results in the desired behavior, but has the side effect of triggering the following warning (many many times):
[code]

It is unclear to me how to resolve this. Should we provide a `detach

[2020-12-03 20:23] tuananhle7 commented on #2220
cc @iffsid @fritzo @martinjankowiak

When we have a model with dynamic traces, we're forced to use a sequential plate construct for batching as well as `vectorized=False` for the particles in RenyiELBO/RWS.

In the current implementation of RenyiELBO/RWS, this results in the batch dimension being summed out before doing the logsumexp on the particle dimension because the per-particle trace include

[2020-12-04 04:37] #2705 closed

[2020-12-05 05:01] eb8680 commented on #2220
@tuananhle7 Sequential plates generate metadata at sample sites indicating which "slice" the site is in ([the `.counter` attribute of `CondIndepStackFrame`](https://github.com/pyro-ppl/pyro/blob/dev/pyro/poutine/indep_messenger.py#L14)).

Here's a helper function that uses this metadata to take a trace of a single particle and the name of the batch plate (which you could either hardcode or read of

[2020-12-05 17:42] iffsid commented on #2220
Thanks @eb8680 :)

We're not that worried about speed right now; more that there is a class of models we'd like to target that isn't easy to learn because using RenyiELBO/RWS necessitates `batch_size = 1` right now; i.e. DreamCoder-style programmatic models.

Do you guys think it might be useful in general to look into 'padded' traces as a special case---where conditional independence holds, and v

[2020-12-07 10:27] eromoe opened #2708 "[Feature request] Support mask in Timeseries Forecast ."
Missing observation is very common in real work , but I doesn't found a way to write a correct model .
And tutorial http://pyro.ai/examples/forecasting_iii.html do not cover this problem : nan in real data .
For example :
in 2010, there was only 48 station
in 2011, 3 station was closed and 5 new opened, 50 stations .
in 2012, 2 station was closed in 2011 reponed
…

For another example :
My data is

[2020-12-07 12:05] fritzo commented on #2708
Hi @eromoe, can you try inverting your mask:
[code]
In Pyro's mask semantics, True means observed and False means missing.

[2020-12-07 12:14] fritzo commented on #2220
While I haven't thought about this in detail, I'm inclined to implement this as some sort of transformation or rewriting, either of `Trace` objects or of collections of `log_prob`s extracted from those trace objects. One possible implementation would be to transform a sequential `Trace` object to a vectorized `Trace` object by concatenating some of the sites. Another possibility would be to extrac

[2020-12-08 00:31] jamestwebber opened #2711 "[feature request / discussion] does it make sense to add a PyroFactor class?"
I have a PyroModule for a customized linear regression that has a vector of bias terms. It uses `PyroParam` and `PyroSample`, and I have a `sample_guide()` method that I can use in my encompassing guide class, which makes for a nicely modularized organization.

I added a constraint to nudge the biases to be monotonic: bias term _i+1_ should be ≥ bias term _i_. To achieve this I used `pyro.factor`

[2020-12-08 00:43] jamestwebber commented on #2711
Ooh, maybe my issue is just the old "multiple `PyroModule`s in one `nn.Module`" problem that the docs warn about...it appears that I have the same problem with my `PyroSample` names. When the wrap them in an enclosing `PyroModule` container things work!

`PyroFactor` might still be a reasonable idea but at least I solved my problem (I think)

[2020-12-08 00:44] fritzo commented on #2711
Hi @jamestwebber, I think for now I'd recommend using the private `._pyro_name` attribute of your `PyroModule`:
[code]
The reason I'm hesitant to add a `PyroFactor` class is because the existing classes `PyroSample` and `PyroParam` were created for compatibility with `nn.Module.__getattr__()`, whereas `PyroFactor` has no real analog in deterministicland. In particular, `pyro.factor` returns no val

[2020-12-08 00:52] jamestwebber commented on #2711
Hm I think my separate issue (multiple PyroModules in an nn.Module) made that not work but now it does. So I can use that.

That makes sense. I don't know if there's another way for `pyro.factor` calls to know where they are and thus how to name themselves. I just want to add a callback to the guide that includes this penalty, and it'd be nice if it was encapsulated in the PyroModule and named aut

[2020-12-08 01:10] eromoe commented on #2708
@fritzo OK .  But the trouble is on prediction that samples dimension -2 is 0 :
![image](https://user-images.githubusercontent.com/3938751/101423983-2878fe00-3935-11eb-8f6f-ed45dd741ef2.png)

[2020-12-08 02:58] eromoe commented on #2708
@fritzo

Oh, I see, `prefix_condition` is used for forecaster .  Here is another problem come

[code]

here:
[code]

[2020-12-08 16:01] fritzo commented on #2708
@eromoe could you paste a little of your model code that triggers the above exception? Ideally could you provide a minimal model and fake data that triggers the error? It's hard for me to suggest a fix without being able to reproduce the error.

`pyro.contrib.forecast` does batch multi-step prediction (2). To predict you create a Forecaster instance and call it on covariates longer than your data:

[2020-12-09 01:57] eromoe commented on #2708
Sure, it is very easy to generate  .

[code]

[2020-12-10 17:36] ordabayevy opened #2713 "[FR/Discussion] new name primitive with effectful string formatting"
This relates to the manipulation of the `msg["name"]` by `VectorizedMarkovMessenger`. In order to build the `step` information (e.g., `("x_0", "x_prev", "x_curr")` `VectorizedMarkovMessenger` manipulates the suffix of the `msg["name"]` assuming that variables have following names: `pyro.sample("x_{}".format(i) ...)`. This implementation is limiting and puts constraints on how the variables must be

[2020-12-11 06:59] eromoe commented on #2708
@fritzo Is there any thing I can help ?
I am aslo trying to understand the source code  , if you can provide some reading suggestion would be very nice  : )

[2020-12-12 14:48] fritzo commented on #2708
Hi @eromoe, I'll try to debug it this weekend. Thanks for providing a reproducible example!

[2020-12-13 23:52] fritzo commented on #2708
Hi @eromoe, I managed to get your model working with a small fix (see below). The problem is that the `mask` should have shape broadcastable to `zero_data.shape`. But your `self.mask` is stored once in `.__init__()` whereas `zero_data` changes depending on whether the model is being trained (which works in your case) or being used for prediction (which fails in your case because the expanded size

[2020-12-14 02:42] eromoe commented on #2708
Thank you for the detailed explanation !
I would like to help the new section , just need some times   😄

[2020-12-14 05:46] eb8680 commented on #2713
@ordabayevy interesting idea! To clarify, you're suggesting using this in `VectorizedMarkovMessenger` to build `step` by using the unformatted name (`"x_{}"`) to align sample sites across timesteps?

Another possible interface in place of your `name` class would involve delegating name formatting to an autonaming handler, so that the `.format` call never appears in user code in the first place.  A

[2020-12-14 08:30] ordabayevy commented on #2713
Yeah, though I haven't thought out the details.

I like this idea a lot. Has anyone worked on it already? Do you mind if take a crack at implementing it?

[2020-12-14 15:23] eb8680 commented on #2713
Sure, nobody else is working on this right now and it's a feature I'd very much like to see in Pyro. We should probably discuss the design a bit first, though - let's cover this on Friday, unless this is blocking some of your other work.

[2020-12-14 16:51] ordabayevy commented on #2713
Awesome! There is no rush, let's discuss this more on Friday.

[2020-12-15 00:33] ab-10 opened #2714 "Refactor SVI tutorial code from MD code blocks into code cells"
As it stands, a significant portion of the [SVI tutorial code](https://github.com/pyro-ppl/pyro/blob/dev/tutorial/source/svi_part_i.ipynb) is written in markdown code blocks, rather than standalone Jupyter cells. When formatted this way, the tutorial's notebook cannot be excecuted and experimented with by the reader. I suggest that the markdown code blocks should be refactored into Jupyter code ce

[2020-12-17 21:41] ksachdeva opened #2718 "Issue using Planar or Radial Flows [Throws - KeyError: "ConditionedPlanar object expected to find key in intermediates cache but didn't"]"
### Issue Description

Following the tutorial on Normalizing flows http://pyro.ai/examples/normalizing_flows_i.html

If I use Planar and Radial Flows the example throws

[code]

### Environment
For any bugs, please provide the following:
 - OS and python version - Colabnotebook, 3.6
 - PyTorch version, or if relevant, output of `pip freeze`. 1.7.0
 - Pyro version: output of `python -c 'import pyro

[2020-12-17 21:54] fritzo commented on #2718
cc @stefanwebb

[2020-12-20 13:09] siaimes opened #2719 "Cannot find reference 'distributions' in '__init__.py'[bug]"
### Guidelines

**NOTE:** Issues are for bugs and feature requests only. If you have a question about using Pyro or general modeling questions, please post it on the [forum](https://forum.pyro.ai/).

If you would like to address any minor bugs in the documentation or source, please feel free to contribute a Pull Request without creating an issue first.

Please tag the issue appropriately in the ti

[2020-12-21 00:54] eb8680 commented on #2719
Hi @siaimes, this sounds like an issue with PyCharm. [This StackOverflow question](https://stackoverflow.com/questions/23248017/cannot-find-reference-xxx-in-init-py-python-pycharm) appears to contain several possible workarounds.

[2020-12-22 00:46] fritzo opened #2721 "Add profiling benchmark tests for contrib.funsor vs pyro core"
As we replace Pyro 1.x's monolithic inscrutable inference algorithms with Pyro 2.0's elegant flexible inference algorithms based on Funsor, we'll need to quantify the computational overhead incurred by Funsor's added abstraction. This issue proposes to add a set of profiling benchmarks to compare performance.

Existing benchmarks can be found in
- tests/perf/
- profiler/

## Inference examples
- [

[2020-12-22 05:01] siaimes commented on #2719
Sincerely thank you for your reply. I have read the document you provided. From this document, I think we should add all packages to `__all__`. Although you can simply ignore the warning, PyCharm's auto-completion function does not take effect.

[2020-12-23 21:37] neerajprad commented on #2719
The distribution classes are added in [`__all__`](https://github.com/pyro-ppl/pyro/blob/dev/pyro/distributions/__init__.py#L136), but this is unfortunately not sufficient. The issue is that we want to make all PyTorch distributions available in Pyro but avoid having to manually make a code change to import and wrap these each time a new distribution is added to `torch.distributions`. This requires

[2020-12-24 04:31] siaimes commented on #2719
Thank you loyally for your reply, I know what caused this situation. I don't have any idea to solve this problem. I hope that friends who have similar experiences will find this issue.

[2020-12-24 10:59] Padarn commented on #2714
Hey I'd be happy to do this.. but I noticed a lot of the code in markdown is actually pseudocode. For example:

[code]

Would you think it best to make this code runnable too?

While we're on the above example, I think it would be best to add return statements to `models` and `guides` in the tutorial: The fact they are sometimes missing is a bit confusing for a newcomer.

[2020-12-24 11:48] ab-10 commented on #2714
Hey @Padarn, good point. I think converting pseudocode to python throughout the notebook would increase clarity.

[2020-12-24 14:02] Padarn commented on #2714
Makes sense. I'll take a first crack at it then

On Thu, 24 Dec 2020, 7:49 pm Armin Stepanjan, <notifications@github.com>
wrote:

--

By communicating with Grab Inc and/or its subsidiaries, associate
companies and jointly controlled entities (“Grab Group”), you are deemed to
have consented to the processing of your personal data as set out in the
Privacy Notice which can be viewed at https://grab.

[2020-12-25 06:59] Padarn commented on #2714
I've created a PR here: https://github.com/pyro-ppl/pyro/pull/2723

Few uncertainties around the best way to do this. The tutorial isn't really setup to be interactive, so I made a few modifications.

Let me know what you think, I can continue with the others if we're broadly aligned. If you think the tutorials need more of a rework than this, I could be the wrong person :-)

[2020-12-26 00:05] ordabayevy opened #2724 "[bug] contrib.funsor.infer.TraceEnum_ELBO can compute inaccurate elbo for certain guide-enumerated models"
### Issue Description
Calculating marginal `logq` in the guide (`log_prob` in `TraceEnum_ELBO`) for some cost terms can lead to inaccurate elbo values. E.g., in the test below for cost terms `log p(c|b)` and `log q(c|b)` computing marginal of `logq(a)q(b|a)q(c|b)` integrates out `a` which shouldn't be done because `q(b|a)` plated factors are only conditionally independent given `a`.

### Environme

[2020-12-28 02:32] eb8680 commented on #2724
Good catch!  I'm not opposed to adding a temporary fix to `TraceMarkovEnum_ELBO` like the one you suggested, since it would unblock your problem, but it would be nice to at least find a way to avoid exponentiation of individual terms and the accompanying numerical underflows.

As a reference, there's a [correct, numerically stable, optimized version of this computation in Pyro](https://github.com/

[2020-12-28 04:24] ordabayevy commented on #2724
@eb8680 new added `sum_product.compute_expectation` is the stripped down version of the function mention [here](https://github.com/pyro-ppl/pyro/pull/2716#issuecomment-750772256). If it works we can later update it to compute expectation wrt to markov variables too.

[2021-01-03 20:40] EvanZ commented on #1461
I have a couple of projects involving Pyro and basketball:

Bayesian Neural Network Win Probability
https://github.com/EvanZ/bayesian-win-probability/blob/master/bayes-wp.ipynb

NBA Player Ratings Model
https://github.com/EvanZ/ppl-pm/blob/main/xpm.ipynb

Bayesian Meta-Mock Draft (Aggregating Draft Rankings)
https://github.com/EvanZ/bayesian-meta-mock/blob/master/bayesian-meta-mock-draft.ipynb

[2021-01-04 17:41] fritzo commented on #2670
As motivation, I forgot to manually update tutorials during Pyro's 1.5.1 release, so users like @lucapinello experienced errors. Indeed it would be nice to automate this and eliminate possibility of human error.

[2021-01-06 15:44] eb8680 commented on #1461
@EvanZ these look awesome! I have been meaning to create a community tutorials/examples page on our website highlighting externally hosted examples, and your projects look like a great incentive for me to finish that. Have you been publishing them anywhere that I should link to, e.g. as blog entries?

We would also be happy to host them here along with the [rest of the Pyro examples](https://pyro.

[2021-01-11 00:07] ordabayevy opened #2737 "Allow size == 1 in funsor IndepMessenger"
@eb8680 can you allow `size == 1` here:

https://github.com/pyro-ppl/pyro/blob/e39d36c758cf1ca9a16b75909c793b06a8dabdd6/pyro/contrib/funsor/handlers/plate_messenger.py#L30

I ran into this issue when `PlateMessenger` has `subsample_size=1` . Pyro `IndepMessenger` only [checks](https://github.com/pyro-ppl/pyro/blob/e39d36c758cf1ca9a16b75909c793b06a8dabdd6/pyro/poutine/indep_messenger.py#L57) for `s

[2021-01-13 03:12] EvanZ commented on #1461
Hi @eb8680 sorry didn't get back sooner. No, I've really just been putting them in git repos. Feel free to link to those!

[2021-01-13 18:54] ordabayevy commented on #2687
I will close this issue since it was addressed by #2703.

[2021-01-13 18:54] #2687 closed

[2021-01-14 19:51] adamcweiner commented on #1802
Are there any updates on this? I've built my own HMM but haven't been able to get state assignments (or state assignment probabilities) with `infer_discrete` or a `full_guide` which are recommended [here](https://pyro.ai/examples/gmm.html#Serving-the-model:-predicting-membership).

[2021-01-15 15:42] fritzo opened #2740 "Autoguide inference is incorrect for VonMises distribution"
The `VonMises` distribution sets `.support = constraints.real` but should really set something like a `constraints.circular` or other mod-2-pi constraint. This can be an issue in autoguides which fit a variational posterior of the generic form
[code]
since the ELBO's `q.entropy()` term can incorrectly diverge to infinity because it doesn't know about wrapping around 2 pi.

I believe HMC inference

[2021-01-15 16:10] fehiepsi commented on #2740
You are right. In numpyro, we set the support to be [[-pi, pi]](https://github.com/pyro-ppl/numpyro/blob/c8e9d67c74e599f80318476b92aab0d681632d2f/numpyro/distributions/directional.py#L17) but it raises another concern: when the posterior mode concentrates around `pi` angle, it will become 2 modals in unconstrain space. Something like `constraints.circular` would be useful but what will be a good b

[2021-01-16 04:44] ShawnGeller opened #2742 "[bug] in pyro.distributions.hmm.DiscreteHMM.log_prob"
### Issue Description
log_prob does not return the value it should.

If we denote by the first outcome y_1, and the first state s_1, the value of p(y_1) = \sum_{s_1 \in \mathcal{S}}p(s_1)p(y_1|s_1), but this is not the case in the code.

### Environment
 - Ubuntu 20.04,  python version: 3.8.5
 - PyTorch version: 1.7.1
 - Pyro version: 1.5.1

### Code Snippet

<details>

[code]

</details>

All the

[2021-01-16 05:04] fehiepsi commented on #2742
There are 4 possible values of `h`: (0, 0), (0, 1), (1, 0), (1, 1). I guess you only evaluate log_prob of (0, 0) (which is `z`), and (1, 1) (which is `o`).

[2021-01-16 05:08] eb8680 commented on #2737
Resolved in #2741

[2021-01-16 05:08] #2737 closed

[2021-01-16 05:08] ShawnGeller commented on #2742
Sorry, I don't understand. In your notation, is `h` the pair (s_1, y_1)?

[2021-01-16 05:34] fehiepsi commented on #2742
I meant `h` is the `DiscreteHMM` distribution in your code. A sample of Pyro HMM has time dimension. By `unsqueeze(-1)`, you are assuming that the observation are constant across time dimension (that is, observation(t=0) = observation(t=1)).

[2021-01-16 05:43] ShawnGeller commented on #2742
No, in my code the time dimension has length 1, so there is no observation(t=1).

[2021-01-16 05:56] ShawnGeller commented on #2742
Here's a small tex document to explain what I think is wrong.
[bug.pdf](https://github.com/pyro-ppl/pyro/files/5823922/bug.pdf)

[2021-01-16 06:29] ShawnGeller commented on #2742
Here's another example with a nontrivial time dimension.

[code]

In this, again all but the last assertion are true.

[2021-01-16 06:44] fehiepsi commented on #2742
My bad, sorry! The last dimension of sample should be time dimension, and you are right that when `.unsqueeze(-1)`, time duration will be 1. I'll take a look at detailed computation tomorrow. Thanks for the note!

[2021-01-16 11:24] ShawnGeller commented on #2742
Thanks for taking a look at this. I modified the last pdf slightly to clarify some notation:
[bug.pdf](https://github.com/pyro-ppl/pyro/files/5824274/bug.pdf)

And here's a version of the code I've posted in the two comments, where I've added some annotation to describe what I'm trying to do.

[code]

[2021-01-16 20:38] fehiepsi commented on #2742
@ShawnGeller It seems to me that
[code]
assumes the model
[code]
but in Pyro, we use the model
[code]
Do I understand your assumption correctly?

[2021-01-16 21:37] ShawnGeller commented on #2742
Yes, that's right. But if that's what's intended in the Pyro model, it isn't consistent with what the literature calls and HMM, for example, in the classic [Rabiner](https://web.ece.ucsb.edu/Faculty/Rabiner/ece259/Reprints/tutorial%20on%20hmm%20and%20applications.pdf), they use the model I've described.

[2021-01-16 22:10] fehiepsi commented on #2742
I guess the reason here is to keep the number of transitions aligned with the number of observations (called `num_steps` in the docs), similar to [the pseudo code here](https://en.wikipedia.org/wiki/Forward_algorithm#Pseudocode). We also use this interpretation in [hmm example](https://pyro.ai/examples/hmm.html), where we start HMM with an initial `x=0`. But I agree that your interpretation is als

[2021-01-16 23:43] ShawnGeller commented on #2742
But you can use the forward algorithm with an extra transition at the end and it doesn't matter, since `transition_logits.logsumexp(-1) == 0`, as is used in the tex pdf I attached earlier, and is used in the method log_prob I defined at the top of the code snippet. The case of a definite initial state `x=i` in the current Pyro model can be handled by using `initial_logits = transition_logits[i]` i

[2021-01-17 05:32] fehiepsi commented on #2742
You are right that the current DiscreteHMM interpretation can be rewritten as your interpretation. If the transition matrix is invertible, then the reverse direction is also true. Probably it is just a matter of taste.

[2021-01-17 21:52] fritzo commented on #2742
Hi @ShawnGeller. As @fehiepsi commented, Pyro's HMM assumes an extra transition from time -1 to time 0, compared to your derivation. This was an intentional design decision to ensure that `observation_dist` and `transition_logits` have the same batch shape rather than shapes that are off-by-one. If you feel this wasn't clear from the docs, we'd appreciate any PR clarifying the docs.

[2021-01-17 21:52] #2742 closed

[2021-01-21 02:39] spinkney commented on #2740
Stereographic projection? https://math.stackexchange.com/questions/3916441/the-stereographic-projection-is-bijective

[2021-01-21 03:42] fehiepsi opened #2744 "Delay log density computation in pyro.factor"
In several places (e.g. [NeuTra reparam](https://github.com/pyro-ppl/pyro/blob/7a69a3cf8b62f398607b6180dda978029cde698c/pyro/infer/reparam/neutra.py#L88)) that we used `pyro.factor` or `dist.Delta`, log_density is computed explicitly. This computation is not needed, e.g. when making predictions. It would be nice to add a mechanism to defer this computation, only until some inference algorithms tha

[2021-01-21 14:09] fritzo commented on #2740
I think the right solution is to (1) port Pyro's `ProjectedNormal` to NumPyro, (2) change `VonMises` constraint to `circular`, and (3) omit `circular` from the `biject_to` registry, which will trigger an error if it is used in an autoguide. @spinkney the stereographic projection is not a bijection between Euclidean space and a sphere; as @fehiepsi observes those spaces are not homeomorphic hence t

[2021-01-21 14:23] fritzo commented on #2744
Here's a possible solution that avoids the need for non-tensors in distributions (which would complicate typing):

What if we use `poutine.mask(mask=False)` to control whether various computations are needed? During prediction we can install a `mask(False)` handler to disable computation of log density. A brute force way to do this would be to add a primitive `is_mask_false()` or something. Or ins

[2021-01-21 15:27] spinkney commented on #2740
You're right that not every value maps, but it's just the origin. You end up going from K parameters to K + 1.  This isn't the best paper but interesting concept https://arxiv.org/pdf/1712.07764.pdf.

w_0^2 + ... + w_k^2 = 1
then the transform is f(w_k) = w_k / ( 1 - w_0)

the inverse if f^-1(x_k) = S^2 - 1 / (S^2 + 1) if k = 0
and 2x_k / (S^2 + 1) for all other k

where S^2 = sum(x^2) for all k

[2021-01-21 19:44] fehiepsi commented on #2744
Thanks, @fritzo! Let's discuss more details in the meeting. I think something like `is_mask_false()` will work though still prefer the lambda solution.

[2021-01-22 06:55] robsalomone opened #2747 "FR: Volume Preserving Real NVP Variant (GIN)"
Hi all,

I noticed that Real-NVP has an option for "Volume Preserving", but this just omits the scale factors, and performs the NICE transform. Would it be possible to implement a more powerful volume preserving transformation (I need it for a specific purpose) by simply modifying Real-NVP so the final scale variable is the negative sum of the others?

The very simple idea can be found in this ICL

[2021-01-22 09:54] kamathhrishi commented on #2670
I tried to make the docs using `make docs` I got this error
[code]
What exactly is happening?

[2021-01-22 20:39] eb8680 commented on #2747
cc @stefanwebb

[2021-01-23 19:48] fritzo commented on #2670
Maybe first `make install`. You may be missing an optional dependency

[2021-01-24 21:45] fritzo commented on #1802
@adamcweiner As [pointed out by dave on the forum](https://forum.pyro.ai/t/access-latent-discrete-variables/2555/2?u=fritzo) you can check out the [enumeration tutorial](https://pyro.ai/examples/enumeration.html#Examining-discrete-latent-states).

[2021-01-25 14:56] lundlab-kaltinel commented on #253
@fritzo
May I ask why do you expect your Bernoulli to give [2,1] tensor as a result?
[code]
Doesn't your x need to be in the size of `x.size == (batch_size,1)` ?

Thanks!

[2021-01-25 15:38] lundlab-kaltinel opened #2750 "Bernoulli does not sample in the amount of batch_size"
Hi,
I am trying to follow SS-VAE example of Pyro, and sample a 'y' from a Bernoulli distribution whenever my dataset does not have a label. However, Bernoulli does not sample.
In detail:
[code]
And the output is:
[code]
I wonder why` y `from the encoder_y Bernoulli has a shape of `([2, 1])` instead of `[20,1] `like `alpha`?

[2021-01-25 16:17] eb8680 commented on #2750
Hi @lundlab-kaltinel, that's because Pyro is enumerating all possible values of `y` (i.e. 0 and 1) rather than sampling one value at a time.  Since those values are the same for each `y` in the `nanopore` plate they can be enumerated once and shared across the plate without duplication, so `y.shape == (2, 1)` instead of `(2, 20)`.  See [this section in the SSVAE example](http://pyro.ai/examples/ss

[2021-01-25 19:37] fritzo commented on #2744
Hi @fehiepsi, to aid discussion I've implemented one of our two ideas in #2751. However I'd like to better understand your use case, in particular, when would you draw samples from NeuTra but not need the log density? Is that usage limited to inside `Predictive` where we can wrap in `torch.no_grad()` and `poutine.mask(mask=False)`?

I guess I see the pros & cons of the two approaches as:

1. Allow

[2021-01-25 20:28] fehiepsi commented on #2744
Hi @fritzo, the original motivation is for NeuTra, where latent samples will become deterministic sites, which are transformed by NeuTra from base latent samples. So after running MCMC to get base latent samples, we need to do another pass to get those deterministic values. The transform log_det is a bit expensive to calculate.

Recently, we have a new HMCECS sampler in NumPyro. To utilize it effe

[2021-01-26 01:38] stefanwebb commented on #2747
Hi @robsalomone, I'm the guy responsible for the existing normalizing flow code in Pyro! Yes, I think it should be quite simple to make this adjustment. Let me read the paper and report back - I can't promise a timeline but will look into it soon

[2021-01-26 01:43] robsalomone commented on #2747
Thanks @stefanwebb! Reading the paper isn't (entirely) necessary, as the main idea in essence is quite simple: for any NF such that the determinant is the product of some diagonal entries, one can simply enforce that the last diagonal element is the negative sum of the others. Then, the determinant becomes one and the map is volume preserving.

In RealNVP or IAF/MAF, this is equivalent to just cha

[2021-01-26 01:44] robsalomone commented on #2747
Of course, you may be interested in reading the paper for why its a good idea in general. However, I confess the reason I would like volume preservation is a very specific one that isn't the one mentioned in the paper!

[2021-01-26 04:52] stefanwebb commented on #2718
Hi @ksachdeva,

Thanks for your interest in Normalizing Flows!

This is actually the expected behaviour. Many normalizing flow bijections do not have an analytical inverse operation. This means that you can't calculate the `log_prob` of arbitrary values, as you do in your example.

One way to make your code work would be to construct the flow with:
[code]
Calling `transform.inv` flips the forward

[2021-01-26 12:09] lundlab-kaltinel commented on #2750
Thank you @eb8680.
I thought it is a bug of the sampler, therefore I thought of posting in here. Thank you for your explanation and redirection, I will post my case to the forum.
I understand your explanation and appreciate the tutorials. However I am still having problems with the Bernoulli sampler. I will continue to work on it with the help of forum.

[2021-01-26 12:09] #2750 closed

[2021-01-28 00:29] fritzo opened #2754 "Upgrade to PyTorch 1.8"
This documents our upgrade plan to PyTorch 1.8, which breaks `pyro.distributions` as in Pyro 1.5.1 release. PyTorch 1.8.0 release is scheduled for sometime in March 2021.

## Plan

- [x] #2755 Release Pyro 1.5.2 which constrains to `torch<=1.7.2`.
- [x] #2757 Upgrade dev branch to PyTorch 1.7.0, fixing tests.
- [x] #2753 Pin Pyro dev branch to PyTorch nightly build, and fix many breaking changes.

[2021-01-28 16:08] mandel opened #2756 "[feature request] Stan like constraints"
Stan supports multiples kind of constraints on parameters (https://mc-stan.org/docs/2_26/reference-manual/vector-and-matrix-data-types.html). To translate Stan models into Pyro, it would be convenient to have the same constraints implemented in Pyro.

Here is the list of constraints (the marked ones are already supported):
- [x] lower bound (`<lower=...>`): greater or equal
- [x] upper bound (`<up

[2021-01-28 16:34] fritzo commented on #2756
Pyro's dev branch already has a few of those [constraints](http://docs.pyro.ai/en/dev/distributions.html#module-pyro.distributions.constraints):
- `greater_than_eq` and `greater_than` (corresponding to Stan's `lower` I believe)
- `corr_cholesky_constraint` soon to be renamed to `corr_cholesky` as in PyTorch
- `ordered_vector` (corresponding to Stan's `ordered`)
- `sphere` (corresponding to Stan's

[2021-01-28 17:23] fehiepsi commented on #2756
Thanks, @mandel! Beside some mentioned above by @fritzo, for NumPyro, there is
+ `corr_matrix` (to be ported to Pyro soon)

Currently, in your list, Pyro and NumPyro is missing:
+ `positive_ordered` (IIUC the corresponding transform will be `ExpTransform(OrderedTransform())`)

[2021-01-29 17:11] ksachdeva commented on #2718
Thanks @stefanwebb

I understand that Planar & Radial do not have analytical inverses however this is where I thought the caching is helping.

My assumption was that by caching the generated sample you would by-pass the inverse and then compute the log prob

Please guide

Regards
Kapil

[2021-01-31 16:53] EvanZ commented on #1461
Here's another post I made yesterday.

Are The Boston Celtics Better Than Random In Preventing Wide Open 3s?
https://github.com/EvanZ/open_3pt_inference/blob/master/inference.ipynb

[2021-02-04 20:57] fritzo commented on #2744
Looking at more real-world models, I see there is often other code surrounding `pyro.factor`, including plates and poutines:
[code]
One advantage of a check like `is_masked()` is that we could use it around entire sections of model code. In particular plates and poutines would not be able to be embedded inside a `lambda` passed to `pyro.factor`.

[2021-02-05 17:21] gshartnett opened #2761 "GPU support for normalizing flows"
I am interested in using the Pyro implementation of normalizing flows for my research. However, I cannot find anywhere in the docs instructions on how to enable GPU support. The [example page](https://pyro.ai/examples/normalizing_flows_i.html) makes no mention of GPUs, and if I modify that code from

[code]

to

[code]

and attempt to run, I get this error `RuntimeError: Expected all tensors to be

[2021-02-05 17:53] fritzo commented on #2761
As a quick workaround, you could set cuda as default before creating your `spline_coupling` object
[code]
Another not-ideal workaround is to save-and-load with [map_location](https://pytorch.org/docs/stable/generated/torch.load.html):
[code]

[2021-02-07 13:22] fritzo commented on #2756
Thanks to @fehiepsi for adding the missing constraints! These are now available in Pyro's dev branch. We're planning a next release sometime in March, just after the release of PyTorch 1.8.

[2021-02-07 13:22] #2756 closed

[2021-02-09 05:21] #2744 closed

[2021-02-10 00:22] mandel opened #2763 "Constraint that depends on a parameter"
We were looking at the translation of the program garch11.stan (https://github.com/stan-dev/posteriordb/blob/master/posterior_database/models/stan/garch11.stan). This program has an interesting feature: the parameter `beta1` is constrained by the parameter `alpha1`:

[code]

The corresponding code in Pyro/NumPyro is as follows:

[code]

The inference do not provide the same result as Stan. Do you

[2021-02-10 01:07] fehiepsi commented on #2763
We have discussed this issue several times previously, in [automatic reparameterization](https://github.com/pyro-ppl/pyro/issues/2221). One way to resolve the issue is to use ReparamTransform
[code]
Given that only `Uniform` and `Truncated...` distributions have dynamic support, it would be nice to have something similar to `LocScaleReparam`, so that users don't have to leverage TransformedDistrib

[2021-02-17 12:44] yozhikoff opened #2765 "Custom SVI objective for MLE estimation [feature suggestion]"
Hi Pyro team!

Current tutorial for MLE estimation [suggests](http://pyro.ai/examples/mle_map.html) writing a separate model with `pyro.param` in its body, which is probably not the most convenient option if one has a large model and wants to check MLE performance.
One alternative approach is to use `AutoDelta` autoguide with an objective that takes into account only `is_observed` parts of trace,

[2021-02-17 13:43] fritzo commented on #2765
Hi @yozhikoff. I've also seen this come up and my usual solution is to add a `poutine.mask` around relevant nodes in the model and add an `include_prior` kwarg to the model, e.g.
[code]
This approach also allows fine-grained toggling of different parts of the prior, by separating into multiple masks. WDYT?

We're always happy to accept doc improvements.

Hmm, this a little complex because Pyro oft

[2021-02-17 14:04] yozhikoff commented on #2765
Thanks, @fritzo!
`poutine.mask` seems to be a good alternative, but I can imagine cases when modifying objective would be preferable (e.g. in complex modular packages if one doesn't want to dig into low-level model code).

At least `pyro.deterministic()` shouldn't be a problem with its `log_prob=0`, not sure about the the rest.
Anyway, MLE estimation is probably a relatively rare use case for a pp

[2021-02-17 17:59] mz1482 commented on #836
Is there example for multidimensional bayesian optimization with pyro?

[2021-02-17 22:27] fehiepsi commented on #836
@mz1482 For an example, I think the [Bayesian Optimization tutorial](http://pyro.ai/examples/bo.html) works for multidimensional data, with a few changes:
+ change `input_dim=1` of the kernel to the number of dimensions of your data.
+ if your data is constrained (the tutorial assumes the data is constrained in the `interval(0, 1)` but it is not necessary), write extra functions to transform data

[2021-02-17 22:37] mz1482 commented on #836
@fehiepsi Thank you. Yeah that could work. We are having a particular issue where the input space is 3d location (xyz coordinates). It is not even continuous because we have discrete point cloud of space and we want to move to the optimum location. So, in bayesian optimization when Acquisition function will suggest a point, I also have to add additional thing to get the nearest point of the sugges

[2021-02-18 21:22] vitkl opened #2766 "Softplus transform for AutoNormal scales [feature request]"
Hi @fritzo @fehiepsi

Following the conversation in numpyro issues (https://github.com/pyro-ppl/numpyro/issues/855#issuecomment-778250255) about the usefulness of softplus transform for AutoNormal scales, adding this feature request for further discussion here.

Requires https://github.com/pytorch/pytorch/pull/52300

[2021-02-19 14:07] fritzo commented on #2766
Thanks @vitkl!  Mind if I sketch a potential solution for discussion?

[2021-02-19 23:56] nb2838 opened #2768 "[feature request] Implementing TrustVI"
Hey!

I am the guy from the post here: https://forum.pyro.ai/t/possible-help/2169/4. We are planning on implementing TrustVI and we made a document with a couple of questions, goals, a rough idea of what to do, and a brief summary of the algorithm at the end. It would be quite helpful if we could get some feedback on our rough goals.

https://docs.google.com/document/d/1wll-yJCKc5RUku1etscg6m_EGU9

[2021-02-22 19:05] ordabayevy commented on #2713
Addressed by #2745

[2021-02-22 19:05] #2713 closed

[2021-02-23 01:38] fritzo commented on #2768
Hi @nb2838, glad to hear you're implementing this in Pyro! I can answer directions directly on your doc if you turn on commenting. Here are some answers:

Pyro uses the reparametrization trick for any distribution that implements an `.rsample()` method (a reparametrized sampler). Pyro's ELBO implementation is kind of distributed all around the codebase. From the top down, [Trace_ELBO._differentiab

[2021-02-23 02:23] martinjankowiak commented on #2768
- i guess pytorch now has better support for forward mode AD (although i haven't tried it). in particular there's a [hessian](https://pytorch.org/docs/stable/autograd.html#torch.autograd.functional.hessian) op. so we should in any case deprecate what's in `pyro.ops`
- regarding krylov subspace methods, i would start with the simpler non-krylov implementation. this is for two reasons. first of all

[2021-02-24 18:07] fritzo commented on #2618
Closing this as mostly resolved by `poutine.collapse`. Further minor improvements can be deferred to follow-up issues.

[2021-02-24 18:07] #2618 closed

[2021-02-24 20:53] RylanSchaeffer commented on #2159
Hi all! I have a related-but-not-quite-identical issue. I'm trying to use NUTS to sample from a Dirichlet Process Mixture of Gaussians by modifying the Pyro example (https://pyro.ai/examples/dirichlet_process_mixture.html). However, I'm getting the error:

[code]

My code is copied below:

[code]

[2021-02-24 20:54] RylanSchaeffer commented on #2159
Does anyone know where this apparent precision error is originating from?

[2021-02-24 21:11] martinjankowiak commented on #2159
you probably need to make changes like `torch.eye(obs_dim, dtype=z.dtype, device=z.device)`
with similar changes for `torch.ones` etc.

you can also try things like
torch.set_default_tensor_type('torch.FloatTensor')

[2021-02-24 21:12] RylanSchaeffer commented on #2159
Setting the default tensor type appears to have done the trick! Thank you @martinjankowiak !

[2021-02-24 21:38] RylanSchaeffer commented on #2159
@fehiepsi , is there a way to prevent NUTS from marginalizing discrete variables?

[2021-02-24 21:43] fehiepsi commented on #2159
I think you can do `x = sample('x', d.mask(False), obs=...)`, or simply `x = ...` where `...` is a fixed value of `x`.

[2021-02-24 21:45] RylanSchaeffer commented on #2159
What is `d`? The discrete variable? When I try that, I get an attribute error: `'Tensor' object has no attribute 'mask'`

[code]

[2021-02-24 21:47] fehiepsi commented on #2159
Sorry, with your code, it will be
[code]
or simply
[code]

[2021-02-24 21:50] RylanSchaeffer commented on #2159
When I try that, no errors are raised, but `mcmc.get_samples()` doesn't return any sampled discrete variables.

[2021-02-24 21:51] RylanSchaeffer commented on #2159
The returned dict has only samples for `beta` (the stick breaking variables)  and `mean` (the Gaussian means).

[2021-02-24 21:52] RylanSchaeffer commented on #2159
Code:
[code]

[2021-02-24 22:09] fehiepsi commented on #2159
I see. If you want to run MCMC over those discrete latent variables (without marginalization), it is better to use [HMCGibbs](http://num.pyro.ai/en/stable/mcmc.html#numpyro.infer.hmc_gibbs.HMCGibbs) in NumPyro. Currently, we don't have support HMC within Gibbs in Pyro.

[2021-02-24 22:11] RylanSchaeffer commented on #2159
Ok thank you.

On Wed, Feb 24, 2021, 2:09 PM Du Phan <notifications@github.com> wrote:

[2021-02-24 23:01] nb2838 commented on #2768
Thank you for being so detailed with your answers. It helps a lot! We will start working on it then.

As per your suggestions, we will start implementing trust-vi for a model similar to the one we plan to use in the tutorial and we will write the general method later. Also and we will not focus on Krylov subspace methods for the moment either. As soon as we have made progress we will make a PR 😁

[2021-02-27 18:28] #1106 closed

[2021-02-28 15:53] #2601 closed

[2021-02-28 19:30] #2766 closed

[2021-03-04 20:09] jamestwebber commented on #1764
I'm workin' on it! Using guides from [conda](https://docs.conda.io/projects/conda-build/en/latest/user-guide/tutorials/build-pkgs-skeleton.html#) and [conda-forge](https://conda-forge.org/docs/maintainer/adding_pkgs.html#).

Small-ish hiccups encountered so far (recording for posterity):
 - PyTorch goes by `torch` in pypi and `pytorch` in the conda ecosystem, so the automatic script failed there

[2021-03-04 20:12] jamestwebber commented on #1764
Oh, also created pyro-ppl/pyro-api#21 so that the license file is included for that package. For now, I can include it in the recipe itself.

[2021-03-04 20:36] jamestwebber commented on #1764
🎉 https://github.com/conda-forge/staged-recipes/pull/14161

[2021-03-04 22:17] #2754 closed

[2021-03-10 21:22] eb8680 commented on #2724
Resolved in #2725

[2021-03-11 08:25] authwork opened #2780 "[feature request] changing the number of hidden states at runtime"
### Issue Description
Pyro gives me a deep positive impression when implementing HMM. But I wonder whether updating the number of hidden states can be supported.
How to determine the number of hidden states is a well-known problem and try with various cases with different number of hidden states is costly. Changing the number of hidden states (+1/-1) at runtime is a good way to adjust HMM, and is

[2021-03-11 15:34] fritzo commented on #2780
Hi @authwork, this sounds like an interesting inference algorithm that can be built on top of Pyro. Can you suggest some references for your proposed approach?

[2021-03-12 01:18] authwork commented on #2780
Yes, there are some references and observations.

### Reference:
- [Main] Efficient and Effective Learning of HMMs Based on Identification of Hidden States
   - multiple train: Akaike information criterion & Bayesian Information Criterion
   - Keep high-impact states
   - Remove zero-impact and low-impact states
- Determine the Number of States in Hidden Markov Models via Marginal Likelihood

###

[2021-03-16 16:08] vitkl opened #2783 "extending Predictive to support sampling by plate name [feature request], [discussion]"
Following our earlier discussion with @fritzo and @adamgayoso , creating this issue. Would be great if `Predictive` class can support sampling of all variables in a given plate, automatically pulling all site values in a given plate(`plate_name`) or all sites not is that plate, including both samples and observed values:

[code]

This functionality would simplify dealing with local variables withi

[2021-03-16 17:14] fehiepsi commented on #1511
I believe the slowness is expected when running Pyro MCMC on markov models. So I would like to close this issue. We can point users to numpyro if speed is needed.

[2021-03-16 17:14] #1511 closed

[2021-03-16 18:11] fritzo commented on #2783
@vitkl @jamestwebber can you elaborate on the task you're trying to accomplish?  From @jamestwebber's comment

it sounds like `Predictive` is missing support for vectorization somewhere, but I suspect I'm misunderstanding.

[2021-03-16 19:06] jamestwebber commented on #2783
It's very possible that I just don't understand the right pattern for accomplishing this. For me, the intended workflow is something like

1. Learn a model of some large dataset using mini-batches for training
2. Make a `Predictive` instance with `pred = Predictive(model, guide=guide, num_samples=1000)`
3. Collect the posterior on my large dataset by iterating through the same data loader
[code]
S

[2021-03-16 19:11] fritzo commented on #2783
@jamestwebber that makes sense, thanks!  I believe it should be easy to adapt the logic in [Forecaster](https://github.com/pyro-ppl/pyro/blob/0b6c423328dfaf7716ad81a965be3352e91a0bca/pyro/contrib/forecast/forecaster.py#L342), which manually batches and `torch.cat`s the batches back to a single tensor.

[2021-03-17 02:01] vitkl commented on #2783
Yes, exactly like @jamestwebber described - we need a way to sample both the global variables and the local variables (including amortised variables). The idea is that by doing predictive sampling by plate name you can isolate local variables from global variables and sample them via 2 separate calls. I think 2 separate calls are needed because if you iterate over the data loader global variables

[2021-03-23 13:36] LysSanzMoreta opened #2787 "Different results using pyro-ppl 1.5.1 vs pyro-ppl 1.6. batch & event shapes"
Hi!!!!

Pyro : 1.6
torch : 1.8.0
torchaudio : 0.7.0
torchvision : 0.8.1

I have a model that was doing alright, for a misterious reason I decided to upgrade to Pyro-ppl 1.6. This "smart" move forced me to introduce a plate in my model, otherwise it would not run. This simple change made my model underperform. I am trying to understand what was the default behaviour in previous pyro versions and ho

[2021-03-23 13:55] fritzo commented on #2787
Hi @LysSanzMoreta, one recent change is that Pyro and PyTorch now **enable validation by default**.  Whereas it would previously have worked in some models to avoid both plates and `.to_event()`, Pyro will now give an error.  To temporarily revert to the old behavior you could try to `pyro.enable_validation(False)`.  To work with the new behavior, you could either add plates or add `.to_event(...)

[2021-03-23 14:35] LysSanzMoreta commented on #2787
@fritzo  Thanks for the quick reply :). I did not notice that `pyro.enable_validation `was activated by default, ops. I will run it with validation inactivated and the old model and hopefully it should be ok. Otherwise I will look into 2 plates. And I will check again `to_event() `, but I think it did not help either. Thanks (cause I am desperate hahah) !!!

[2021-04-06 16:25] fritzo opened #2795 "Update pyro.param to read event_dim from the constraint"
#1796 added an `event_dim` kwarg to `pyro.param()`, which #2323 used to support subsampling in `AutoNormal` and `AutoDelta`. However now that constraints have an `.event_dim` attribute (https://github.com/pytorch/pytorch/pull/50547, https://github.com/pytorch/pytorch/pull/50581), we can deprecate `pyro.param`'s `event_dim` kwarg and read that directly off the `constraint` kwarg.

[2021-04-07 14:24] tjucaokun opened #2797 "Model and guide event_dims disagree at site 'module$$$out.weight': 0 vs 1"
### Issue Description
I want to implement the [Making Your Neural Network Say “I Don’t Know” — Bayesian NNs using Pyro and PyTorch](https://towardsdatascience.com/making-your-neural-network-say-i-dont-know-bayesian-nns-using-pyro-and-pytorch-b1c24e6ab8cd)
but when i run it , i got error.
`ValueError: Model and guide event_dims disagree at site 'module$$$out.weight': 0 vs 1`
i copy its module and g

[2021-04-07 15:46] jamestwebber opened #2798 "[bug] Sign error in JitTraceGraph_ELBO"
Trying out this class and ended up with a rather strange looking loss curve (I was using a LR scheduler which explains the waviness):

![elbo_bug](https://user-images.githubusercontent.com/963647/113894124-b22ac200-9795-11eb-84ee-c2c0fab6453c.png)

It looks like the training losses have a sign error, although they are still optimizing in the right direction. This bug doesn't appear in `TraceGraph_

[2021-04-08 12:51] fritzo commented on #2798
Good catch @jamestwebber!  We had a similar bug #1982 and added what I thought was a thorough regression test in #1988.  I think the first step in a PR to fix your bug would be a similar regression test (say in `test_valid_models.py`) that fails for the current `JitTraceGraph_ELBO` implementation.

[2021-04-08 14:01] jamestwebber commented on #2798
Ah yes, digging into the existing tests (just running `test_plate_ok`) it looks like the loss ends up at 0.0 and so -0.0 passes just fine.

I'll write a PR in a bit.

[2021-04-09 12:49] fritzo commented on #2797
@tjucaokun you'll probably have better luck with questions like this on https://forum.pyro.ai, but I believe you can use `.to_event()` in most places:
[code]
and similarly in the guide. That will work for a single observation, but for multiple observations you should wrap the "obs" statement in a `with pyro.plate("data", len(x_data)): ...`.

Again, for further discussion it's better to use https:/

[2021-04-09 12:49] #2797 closed

[2021-04-09 15:42] fritzo opened #2801 "FR: a MaskedConstraint to constrain MaskedDistribution"
Addresses [this forum post](https://forum.pyro.ai/t/parent-nodes-with-missing-data/2004/6)

We could implement a `constraints.masked(base_constraint, mask)`
[code]
Then we could use this in `MaskedDistribution` via
[code]

[2021-04-09 15:43] fonnesbeck commented on #2315
I'm getting similar behavior on Mac, Linux and Windows. The sampler just hangs when the progress bar appears for multiple chains. Single chains work fine. I have tried using CPU on all platforms and GPU on Linux.

[2021-04-09 18:46] fehiepsi commented on #2315
Hi @fonnesbeck, I just installed a fresh pyro on a new conda environment on Linux. The topic model works for me in jupyterlab and jupyter notebook. But if I make a second mcmc run, I got `[ERROR LOG CHAIN:0]Unable to handle autograd's threading in combination with fork-based multiprocessing. See https://github.com/pytorch/pytorch/wiki/Autograd-and-Fork`. This could be a hint I guess.

![image](htt

[2021-04-09 19:19] fehiepsi commented on #2801
I like the idea. This makes the support of masked distribution more consistent with the other distributions.